@model TT.Domain.ViewModels.MindControlViewModel

@{
    if (Model.MindControl.Type == TT.Domain.Statics.MindControlStatics.MindControl__Movement)
    {
        <a href="@Url.Action(MVC.NPC.MoveVictim(Model.Victim.Player.Id))">Command Movement</a>
    }
    if (Model.MindControl.Type == TT.Domain.Statics.MindControlStatics.MindControl__Strip)
    {
        <a href="@Url.Action(MVC.NPC.StripVictim(Model.Victim.Player.Id))">Command Strip</a>
    }
      if (Model.MindControl.Type == TT.Domain.Statics.MindControlStatics.MindControl__Meditate)
    {
        <a href="@Url.Action(MVC.NPC.DeMeditateVictim(Model.Victim.Player.Id))">Command Demeditation</a>
    }
}