@using TT.Domain.Statics
@model TT.Domain.ViewModels.PlayerFormViewModel



@{
    var XPtoLevel = Model.Player.Level >= PvPStatics.MaxPlayerLevel ? (float)Model.Player.XP : TT.Domain.Procedures.PlayerProcedures.GetXPNeededForLevelUp(Model.Player.Level);
    var XpWidth = Math.Floor(Model.Player.XP / Convert.ToDecimal(XPtoLevel) * 100);
}

<div class="avatarXPWrapper" title="@Model.Player.XP / @XPtoLevel.00 XP to next level">
    <div class="avatarXPAmt" style="width: @XpWidth%"></div>
</div>


<style>
.avatarXPWrapper {
    margin-top: 2px;
        width: 100%;
        height:  7px;
        background-color: lightpink;
    }

    .avatarXPAmt {
        height: 100%;
        background-color: purple;
        color: white;
        font-size: 15px;
        overflow: hidden;
        text-shadow: 1px 2px #000000;
        z-index: 50;
    }

</style >
