@model TT.Domain.ViewModels.PublicBroadcastViewModel
@{
    ViewBag.Title = "Shout";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner">

    <h1>Shout</h1>

    <p>You can enter a short message to shout out in your current location once per turn.  There is a limit of 100 characters.  What would you like to shout?</p>

    @using (Html.BeginForm(MVC.PvP.ShoutSend(), FormMethod.Post))
    {


            <div class="messageInfoContainer clearfix">
                <span class="charCounter" id="textRemaining"></span>
            </div>

            @Html.TextAreaFor(m => m.Message)
            <br />
            <br />
            <input type="submit" class="btn btn-chat" value="Send" />
    }
</div>

<script>
    $("#Message").keypress(function () {
        var remaining = 100 - $("#Message").val().length;
        $("#textRemaining").html(remaining + " characters remaining");
    });
</script>

<style>
    textarea {
        width: 100%;
    }
</style>
