@model IEnumerable<TT.Domain.ViewModels.Location>
           @using TT.Domain.ViewModels

@Html.ActionLink("Back to game", "Play", "PvP")

<p>Choose which destination you would like to teleport to.  You will be transported there instantly without any action points being used.</p>

@{
    
    foreach (Location loc in Model) {
        @Html.ActionLink(loc.Name, "Teleport", "PvP", new { to = loc.dbName}, null)<br />
    }
    
}

<p>
    @Html.ActionLink("Back to game", "Play", "PvP")</p>