@model IEnumerable<TT.Domain.Models.PlayerLog>
           @using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "Last Actions";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvP.ClearLog())">Clear Log</a></li>
}

<div class="containerInner listdots">
    <ul>
        @{
            foreach (var log in Model)
            {
                <li>@Html.Raw(log.Message) <span class="timeago">@HtmlHelpers.DatetimeToTimeago(log.Timestamp)</span></li>
            }
        }
    </ul>
</div>