@{
    ViewBag.Title = "Covenant-Wide Message";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">

    @model TT.Domain.ViewModels.PublicBroadcastViewModel

    <h3>Covenant-Wide Message</h3>

    <p>You can send a message to all members of your covenant here.</p>

    @using (Html.BeginForm(MVC.Messages.SendCovenantWideMessage(), FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextArea("Message", "", new { autofocus = true })
        <br />
        <input type="submit" value="Send" />
    }

</div>