<connectionStrings>
    <!-- Copy this file to ConnectionStrings.config to set database settings.
                ********************************************************
                *** DO NOT CHECK ConnectionSettings.config INTO GIT! ***
                ********************************************************
    -->
    <!-- Database connection. Alter as needed to connect to other databases -->
  
    <!-- LocalDB -->
    <add name="StatsWebConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0; Initial Catalog=Stats; Integrated Security=SSPI; AttachDBFilename=|DataDirectory|\StatsLocal.mdf" />
  
    <!-- Local SQL server -->
    <!-- <add name="StatsWebConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost; Initial Catalog=Stats; Integrated Security=true;"/> -->

    <!-- Test server -->
    <!-- <add name="StatsWebConnection" providerName="System.Data.SqlClient" connectionString="Data Source=plumeria.arvixe.com; Initial Catalog=Stats; Integrated Security=false; User ID=usernamehere;  Password=passwordhere;" /> -->

    <!-- Production server -->
    <!--<add name="StatsWebConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ttgamede.arvixevps.com; Initial Catalog=Stats; Integrated Security=false; User ID=usernamehere; Password=passwordhere;" />-->
</connectionStrings>