@model IEnumerable<tfgame.ViewModels.PlayerAchievementViewModel>
@using tfgame.Procedures
@using tfgame.ViewModels

<div>
    @{
        
        int i = 1;
        
        foreach (PlayerAchievementViewModel p in Model)
        {
            <h4>
                @i.  @p.Player.Player.GetFullName() (@String.Format("{0:n0}",p.Achivement.Amount))
            </h4>
            i++;
        }
    }
</div>