@model IEnumerable<tfgame.ViewModels.PlayerAchievementViewModel>
@using tfgame.Procedures
@using tfgame.ViewModels

<div>
    @{
        
        int i = 1;
        
        foreach (PlayerAchievementViewModel p in Model)
        {
            <h3>
                @i.  @p.Player.Player.GetFullName() (@Math.Floor(p.Achivement.Amount)) <span class="timeago">@tfgame.CustomHtmlHelpers.CharactersHere.DatetimeToTimeago(p.Achivement.Timestamp)</span>
            </h3>
            i++;
        }
    }
</div>