@model IEnumerable<tfgame.ViewModels.PlayerAchievementViewModel>
@using tfgame.Procedures
@using tfgame.ViewModels

<div>
    @{
        
        int i = 1;
        
        foreach (PlayerAchievementViewModel p in Model)
        {
            <p>
                @i.  @Html.ActionLink(p.Player.Player.GetFullName(), "LookAtPlayer", "PvP", new { id = p.Player.Player.Id }, null) (@String.Format("{0:n0}",p.Achivement.Amount))
            </p>
            i++;
        }
    }
</div>