<span class="rpTag" tagcode="tgmtf" title="A man turning into a woman">Transgender (TG) Male to Female (MtF)</span>
<span class="rpTag" tagcode="tgftm" title="A woman turning into a man">Transgender (TG) Female to Male (FtM)</span>
<span class="rpTag" tagcode="in" title="Transforming into something that is not able to move such as a statue or clothing">Inanimate</span>
<span class="rpTag" tagcode="an" title="Transforming fully into an animal such as a cat or horse.">Animal</span>
<span class="rpTag" tagcode="anth" title="Transforming into a human-animal hybrid">Anthro</span>
<span class="rpTag" tagcode="sx" title="Interactions that involve sexual intercourse or masturbation">Sexual</span>
<span class="rpTag" tagcode="nsx" title="Interactions that strictly DO NOT involve sexual intercourse or masturbation.">Non-Sexual</span>
<span class="rpTag" tagcode="mc" title="Forcing someone into doing someone else's wishes by taking over or putting thoughts into their mind'">Mind Control</span>
<span class="rpTag" tagcode="ab" title="Transforming into a part of another persons' body, ie breasts or feet.">Absorption</span>
<span class="rpTag" tagcode="sb" title="Being subserviant and unresisting to someone else">Submission</span>
<span class="rpTag" tagcode="dm" title="Being dominant and forcing actions upon someone else">Domination</span>
<span class="rpTag" tagcode="pm" title="A permanent transformation; the victim is stuck in their new form forever">Permanent</span>
<span class="rpTag" tagcode="tmp" title="A temporary transformation; the victim is likely to change back or into another form soon.">Temporary</span>
<span class="rpTag" tagcode="cn" title="Interactions that are agreed upon by everyone involved">Consensual</span>
<span class="rpTag" tagcode="ncn" title="Interactions that are being forced upon a victim without the permission and often against their desires.">Non-Consensual</span>
<span class="rpTag" tagcode="bmbo" title="Changing someone's mind into desiring frequent sexual intercourse, typically with a decreased intelligence.">Bimbofication</span>
<span class="rpTag" tagcode="nrd" title="Changing someone's mind to make them more intelligent.">Nerdification</span>
<span class="rpTag" tagcode="ap" title="Transforming someone into an older version of themselves or a different form.">Age Progression</span>
<span class="rpTag" tagcode="ar" title="Transforming someone into a younger version of themselves or a different form.">Age Regression</span>
<span class="rpTag" tagcode="bdswp" title="Two minds are switched between the two bodies, typically instantly.">Bodyswap</span>
<span class="rpTag" tagcode="be" title="Someone's breasts increasing in size'">Breast Expansion (BE)</span>
<span class="rpTag" tagcode="inf" title="Transforming someone by making them larger and balloon-like, often lighter-than-air.">Inflation</span>
<span class="rpTag" tagcode="pg" title="A pregnant woman or possibly man.">Pregnancy</span>
<span class="rpTag" tagcode="wg" title="Gaining weight, typically in the form of fat.">Weight Gain (WG)</span>
<span class="rpTag" tagcode="hm" title="A hermaphrodite; someone possessing both or some mixed combination of male and female sexual organs.">Hermaphrodite</span>
<span class="rpTag" tagcode="ss" title="Someone forced to or choosing to act like a member of the opposite gender without any physical changes, most often male to female.">Sissification</span>
<span class="rpTag" tagcode="mon" title="Someone who is fully or part monster oranother non-human nor or form, ie slime girls or gummy girls.">Monstergirl/boy</span>
<span class="rpTag" tagcode="myth" title="Someone who has the form of a creature from mythology, ie a centaur, sphinx, satyr, etc.">Mythical</span>