<span class="rpTag" tagcode="tg">Transgender (TG)</span>
<span class="rpTag" tagcode="in">Inanimate</span>
<span class="rpTag" tagcode="an">Animal</span>
<span class="rpTag" tagcode="anth">Anthro</span>
<span class="rpTag" tagcode="sx">Sexual</span>
<span class="rpTag" tagcode="nsx">Non-Sexual</span>
<span class="rpTag" tagcode="mc">Mind Control</span>
<span class="rpTag" tagcode="ab">Absorption</span>
<span class="rpTag" tagcode="sb">Submission</span>
<span class="rpTag" tagcode="dm">Domination</span>
<span class="rpTag" tagcode="pm">Permanency</span>
<span class="rpTag" tagcode="cn">Consensual</span>
<span class="rpTag" tagcode="ncn">Non-Consensual</span>
<span class="rpTag" tagcode="bmbo">Bimbofication</span>
<span class="rpTag" tagcode="nrd">Nerdification</span>
<span class="rpTag" tagcode="ap">Age Progression</span>
<span class="rpTag" tagcode="ar">Age Regression</span>
<span class="rpTag" tagcode="bdswp">Bodyswap</span>
<span class="rpTag" tagcode="be">Breast Expansion</span>
<span class="rpTag" tagcode="inf">Inflation</span>
<span class="rpTag" tagcode="pg">Pregnancy</span>
<span class="rpTag" tagcode="wg">Weight Gain</span>