@model TT.Domain.ViewModels.SkillBookViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<div class="containerInner textSpaced">
    @Html.Raw(Model.Text)
    <hr>
    @{
        if (!Model.AlreadyRead)
        {
            <a href="@Url.Action(MVC.Item.ReadSkillBook(Model.BookId))" class="btn">Absorb Knowledge</a>
        }
        else
        {
            <b>You have already absorbed all the knowledge you can from this tome.</b>
        }
    }
</div>




<style>
    .booktitle {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        font-style: italic;
    }

    .bookauthor {
        font-size: 20px;
        font-weight: 600;
        text-align: right;
        font-style: italic;
    }

    p {
        font-style: italic;
    }

    p::first-letter {
        font-size: 30px;
        font-weight: 500;
    }


</style>