@model TT.Domain.ViewModels.SkillBookViewModel

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse --> 
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result"></p>
    <p class="infoMessage error"></p>
    <p class="infoMessage suberror"></p>
</div>

@*<div class="specialBox specialBox2">
    <p>...</p>
</div>*@

<div class="containerInner textSpaced">
    @Html.Raw(Model.Text)
</div>

@{
    if (Model.AlreadyRead == false)
    {
        @Html.ActionLink("Absorb Knowledge", "ReadSkillBook", "Item", new { id = Model.BookId }, null)
    }
    else
    {
        <b>You have already absorbed all the knowledge you can from this tome.</b>
    }
}


<style>
    .booktitle {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        font-style: italic;
    }

    .bookauthor {
        font-size: 20px;
        font-weight: 600;
        text-align: right;
        font-style: italic;
    }

    p {
        font-style: italic;
    }

    p::first-letter {
        font-size: 30px;
        font-weight: 500;
    }


</style>