<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Human Name</th>
            <th>Item Type</th>
            <th>Level</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Roschana%20Merrikh">Roschana Merrikh</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                14
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Cassandra%20Nixon">Cassandra Nixon</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Rubber Ball Gag
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Shadow%20Tome">Shadow Tome</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=General%20Stamp">General Stamp</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Intimidating Leather Boots
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Eskarina%20Kitsu">Eskarina Kitsu</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Arrhae%20Hale">Arrhae Hale</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Flirty Three-Tiered Skirt
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Devoted%20Toy">Devoted Toy</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Husky
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jo%20Jarvis">Jo Jarvis</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Knee-High Socks
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Shelley%20Trejo">Shelley Trejo</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Izzy%20Valentine">Izzy Valentine</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Nightdust
            </td>
            <td>
                13
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Celia%20Pure">Celia Pure</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Brandenburg">Heather Brandenburg</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Gothic Lolita Boots
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Best%20Pony">Best Pony</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Miniature Carousel Horse
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Bound%20Inside">Bound Inside</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Masters%20Slave">Masters Slave</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lover's Gift Heart Thong
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sonias%20Thong">Sonias Thong</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Vibrating Purple Latex Thong
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Liara%20Rivers">Liara Rivers</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Intimidating Leather Boots
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Liahnna%20Rose">Liahnna Rose</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Ladonna%20Buckingham">Ladonna Buckingham</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Amber%20Roberson">Amber Roberson</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Razlien%20Lane">Razlien Lane</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Auly%20Jua">Auly Jua</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Annie%20Livingston">Annie Livingston</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Simple%20Dolly">Simple Dolly</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Elba%20Packer">Elba Packer</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Patent%20Pussy">Patent Pussy</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Black Leather Handbag
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Mirabell%20Whitlock">Mirabell Whitlock</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Longing Licker
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Aiden%20Bright">Aiden Bright</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Husky
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Michaela%20Corey">Michaela Corey</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Bunbun%20Usagi">Bunbun Usagi</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Combat Boots
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kali%20Leo">Kali Leo</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Daisy Dukes
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Natalie%20Vandal">Natalie Vandal</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Derek%20Greene">Derek Greene</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lover's Gift Heart Thong
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jamie%20Haywood">Jamie Haywood</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Brandon%20Oliva">Brandon Oliva</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Eve%20Carter">Eve Carter</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Resurrection%20Stone">Resurrection Stone</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Elder%20Wand">Elder Wand</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Wizard's Wand
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lady%20Lillian">Lady Lillian</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lover's Gift Heart Thong
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alissandra%20Wollesly">Alissandra Wollesly</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Gossamer Evening Gown
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Souris%20Blanche">Souris Blanche</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Miranda%20Weissbacher">Miranda Weissbacher</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Glistening%20Gown">Glistening Gown</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Silk Dragon Dress
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Camille%20Toei">Camille Toei</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Detachable Udder
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alec%20Croft">Alec Croft</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Thomas%20Westerwood">Thomas Westerwood</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Mazhirra%20Silentclaws">Mazhirra Silentclaws</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Milk Cow
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Matt%20Palmer">Matt Palmer</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Stefanie%20Riverwood">Stefanie Riverwood</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Parker%20Page">Parker Page</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Frier%20Hopte">Frier Hopte</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Pussy%20Pet">Pussy Pet</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Tiny Mouse Girl
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Felix%20Kitsu">Felix Kitsu</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cursed Doll
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sonia%20Tiara">Sonia Tiara</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Amethyst Tiara
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Tabby%20King">Tabby King</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Gothic Lolita Boots
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Mie%20Sucksgood">Mie Sucksgood</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                One-Piece Latex Swimsuit
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Katie%20Frill">Katie Frill</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Longing Licker
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lady%20Runa">Lady Runa</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Zyara%20Winters">Zyara Winters</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Sexy Leopard-Spot Bra
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Silica%20Baumgartner">Silica Baumgartner</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Miniature Carousel Horse
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Marcus%20Wylde">Marcus Wylde</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Husky
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Katie%20Broadnax">Katie Broadnax</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Nina%20Nakamura">Nina Nakamura</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Attica%20Slane">Attica Slane</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Randell%20Riggs">Randell Riggs</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Moonica%20Cowell">Moonica Cowell</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Matt%20Locke">Matt Locke</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Cremia%20Bergamot">Cremia Bergamot</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lily%20Dawll">Lily Dawll</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Taenil%20Auxifur">Taenil Auxifur</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Neilzar%20Enal">Neilzar Enal</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Thomas%20Mannson">Thomas Mannson</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jeannie%20Jinn">Jeannie Jinn</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Melia%20Antiqua">Melia Antiqua</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pocket Dragon
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jessie%20Ganes">Jessie Ganes</a>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Longing Licker
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kaitlyn%20Halliwell">Kaitlyn Halliwell</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Michaela%20Sinclair">Michaela Sinclair</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Latex Dress
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Minerva%20Coles">Minerva Coles</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sonias%20Dress">Sonias Dress</a>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                French maid dress
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Suki%20Toi">Suki Toi</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Bondage Kitten Magazine
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Vulpes%20Kitsu">Vulpes Kitsu</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Fiona%20Mason">Fiona Mason</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Knitted Panties
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Olivia%20Sidhe">Olivia Sidhe</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Daiya%20Brighton">Daiya Brighton</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Sexy Leopard-Spot Bra
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jedidiah%20Guenther">Jedidiah Guenther</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                'Dominators' Red Leather Boots
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=King%20Leoric">King Leoric</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cuddly Pocket Goo Girl
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jessica%20Angels">Jessica Angels</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Josephine%20Lam">Josephine Lam</a>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Cuddly%20Teddy">Cuddly Teddy</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sakura%20Pantsuneko">Sakura Pantsuneko</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Manuella%20Schweitzer">Manuella Schweitzer</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ruby Red Lipstick
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alice%20Forte">Alice Forte</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lucilla%20Rodriquez">Lucilla Rodriquez</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Flirty Three-Tiered Skirt
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Meredith%20Sands">Meredith Sands</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Mary Janes
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Joe%20Hawthorne">Joe Hawthorne</a>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Cole%20Kurz">Cole Kurz</a>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fertility Idol
            </td>
            <td>
                9
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Juliette%20Sinclair">Juliette Sinclair</a>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Roxie%20Newell">Roxie Newell</a>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Ina%20Lunn">Ina Lunn</a>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cuddly Pocket Goo Girl
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Leanna%20Lai">Leanna Lai</a>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Intimidating Leather Boots
            </td>
            <td>
                8
            </td>
        </tr>

    </tbody>



</table>