    <table>

        <thead>
            <tr>
                <th style="width:15px">#</th>
                <th class="leaderBoardName">Human Name</th>
                <th class="leaderBoardForm mobile">Item Type</th>
                <th>Lvl</th>
                <th>Exp</th>
            </tr>
        </thead>
        <tbody>



                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Melina%20Mercy">Melina &#39;Cocoa Coverer&#39; Mercy</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Panty Pet
                    </td>
                    <td>
                        17
                    </td>
                    <td>1330.00</td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Fox%20Cross">Fox Cross</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Magical Cat Girl
                    </td>
                    <td>
                        17
                    </td>
                    <td>1330.00</td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Empty%20Dolly">Empty Dolly</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        17
                    </td>
                    <td>1090.00</td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Cathy%20Kellum">Cathy Kellum</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Docile Cowgirl
                    </td>
                    <td>
                        16
                    </td>
                    <td>2600.00</td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alyson%20Abel">Alyson Abel</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Rubber Love Doll
                    </td>
                    <td>
                        16
                    </td>
                    <td>2050.00</td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Felucca%20Kitsu">Felucca Kitsu</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Pearled Gothic Panties
                    </td>
                    <td>
                        16
                    </td>
                    <td>1965.00</td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Lacey%20Lovebringer">Lacey Lovebringer</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Collared Lap Girl
                    </td>
                    <td>
                        16
                    </td>
                    <td>1590.00</td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Marcus%20Aurelius">Marcus Aurelius</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Cuddly Pocket Goo Girl
                    </td>
                    <td>
                        16
                    </td>
                    <td>1450.00</td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Rosey%20Lina">Rosey Lina</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Silky Bikini Top
                    </td>
                    <td>
                        16
                    </td>
                    <td>1380.00</td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Kari%20Pink">Kari Pink</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        One-Piece Latex Swimsuit
                    </td>
                    <td>
                        16
                    </td>
                    <td>1330.00</td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Rowena%20Lou">Rowena Lou</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Snow Cabbit
                    </td>
                    <td>
                        16
                    </td>
                    <td>1130.00</td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Arrhae%20Hale">Arrhae Hale</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        French maid dress
                    </td>
                    <td>
                        16
                    </td>
                    <td>555.00</td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Aloysious%20Katt">Aloysious Katt</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Golden Rat Trophy
                    </td>
                    <td>
                        16
                    </td>
                    <td>10.00</td>
                </tr>
                <tr>
                    <td>
                        14
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Luna%20Kitsu">Luna Kitsu</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Snow Cabbit
                    </td>
                    <td>
                        15
                    </td>
                    <td>2595.00</td>
                </tr>
                <tr>
                    <td>
                        15
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Reith%20Kitsu">Reith Kitsu</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Charmed Snake
                    </td>
                    <td>
                        15
                    </td>
                    <td>2085.00</td>
                </tr>
                <tr>
                    <td>
                        16
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Becky%20Smith">Becky Smith</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Winking Mare Cunt
                    </td>
                    <td>
                        15
                    </td>
                    <td>1395.00</td>
                </tr>
                <tr>
                    <td>
                        17
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Phobe%20Stormbringer">Phobe Stormbringer</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        15
                    </td>
                    <td>1290.00</td>
                </tr>
                <tr>
                    <td>
                        18
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Game%20Hound">Game Hound</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Lovely Latex Corset
                    </td>
                    <td>
                        15
                    </td>
                    <td>1205.00</td>
                </tr>
                <tr>
                    <td>
                        19
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Trace%20Terran">Trace Terran</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Gothic Brassiere
                    </td>
                    <td>
                        15
                    </td>
                    <td>230.00</td>
                </tr>
                <tr>
                    <td>
                        20
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Jake%20Tiger">Jake Tiger</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Lovely Latex Corset
                    </td>
                    <td>
                        15
                    </td>
                    <td>35.00</td>
                </tr>
                <tr>
                    <td>
                        21
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Priscilla%20Bickford">Priscilla Bickford</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Cuddly Pocket Goo Girl
                    </td>
                    <td>
                        14
                    </td>
                    <td>1875.00</td>
                </tr>
                <tr>
                    <td>
                        22
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Angeline%20Doll">Angeline &#39;blow up &#39; Doll</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        14
                    </td>
                    <td>1695.00</td>
                </tr>
                <tr>
                    <td>
                        23
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Vivianne%20Mcqueen">Vivianne Mcqueen</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        14
                    </td>
                    <td>1455.00</td>
                </tr>
                <tr>
                    <td>
                        24
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Valerie%20Wells">Valerie Wells</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Gothic Brassiere
                    </td>
                    <td>
                        14
                    </td>
                    <td>1415.00</td>
                </tr>
                <tr>
                    <td>
                        25
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Nyx%20Valentine">Nyx &#39;Bat Overlord&#39; Valentine</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Pet Bat
                    </td>
                    <td>
                        14
                    </td>
                    <td>1365.00</td>
                </tr>
                <tr>
                    <td>
                        26
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Ninian%20Fay">Ninian Fay</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        14
                    </td>
                    <td>650.00</td>
                </tr>
                <tr>
                    <td>
                        27
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Bowen%20Arroyo">Bowen Arroyo</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pants' title='pants'></span>                        
                    </td>
                    <td class="mobile">
                        Vengeful Hobble Skirt
                    </td>
                    <td>
                        14
                    </td>
                    <td>212.50</td>
                </tr>
                <tr>
                    <td>
                        28
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Emma%20Cramer">Emma Cramer</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        14
                    </td>
                    <td>207.50</td>
                </tr>
                <tr>
                    <td>
                        29
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Gigi%20Muffins">Gigi Muffins</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        14
                    </td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>
                        30
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Battle%20Maid">Battle Maid</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Magical Cat Girl
                    </td>
                    <td>
                        13
                    </td>
                    <td>1387.50</td>
                </tr>
                <tr>
                    <td>
                        31
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Calem%20Fujin">Calem Fujin</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-hat' title='hat'></span>                        
                    </td>
                    <td class="mobile">
                        Red Fox Plushy
                    </td>
                    <td>
                        13
                    </td>
                    <td>1002.50</td>
                </tr>
                <tr>
                    <td>
                        32
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Casey%20Herman%20II">Casey Herman II</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-shoes' title='shoes'></span>                        
                    </td>
                    <td class="mobile">
                        Comfortable Running Shoes
                    </td>
                    <td>
                        13
                    </td>
                    <td>755.00</td>
                </tr>
                <tr>
                    <td>
                        33
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Tessa%20Harlow">Tessa Harlow</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pants' title='pants'></span>                        
                    </td>
                    <td class="mobile">
                        Elegant Gothic Stockings
                    </td>
                    <td>
                        13
                    </td>
                    <td>675.00</td>
                </tr>
                <tr>
                    <td>
                        34
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Ronin%20Thrall">Ronin Thrall</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Vibrating Purple Latex Thong
                    </td>
                    <td>
                        13
                    </td>
                    <td>560.00</td>
                </tr>
                <tr>
                    <td>
                        35
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Simple%20Dolly">Simple Dolly</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        13
                    </td>
                    <td>485.00</td>
                </tr>
                <tr>
                    <td>
                        36
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Amy%20Christenson">Amy Christenson</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Nightdust
                    </td>
                    <td>
                        13
                    </td>
                    <td>355.00</td>
                </tr>
                <tr>
                    <td>
                        37
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Princess%20Lily">Princess Lily</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-hat' title='hat'></span>                        
                    </td>
                    <td class="mobile">
                        Red Fox Plushy
                    </td>
                    <td>
                        13
                    </td>
                    <td>140.00</td>
                </tr>
                <tr>
                    <td>
                        38
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Francesca%20Night%20III">Francesca Night III</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Butt Plug
                    </td>
                    <td>
                        12
                    </td>
                    <td>1600.79</td>
                </tr>
                <tr>
                    <td>
                        39
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Paul%20Su">Paul Su</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Snow Cabbit
                    </td>
                    <td>
                        12
                    </td>
                    <td>1387.50</td>
                </tr>
                <tr>
                    <td>
                        40
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Heart">Heather &#39;Valentine&#39; Heart</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Magical Cat Girl
                    </td>
                    <td>
                        12
                    </td>
                    <td>1340.00</td>
                </tr>
                <tr>
                    <td>
                        41
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Iris%20Haas">Iris Haas</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Velvet Soft Feet
                    </td>
                    <td>
                        12
                    </td>
                    <td>1270.00</td>
                </tr>
                <tr>
                    <td>
                        42
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alex%20Denver">Alex Denver</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        12
                    </td>
                    <td>1180.00</td>
                </tr>
                <tr>
                    <td>
                        43
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Asteron%20Annalures">Asteron Annalures</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Spellbound Cat Boy
                    </td>
                    <td>
                        12
                    </td>
                    <td>1135.00</td>
                </tr>
                <tr>
                    <td>
                        44
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alex%20Stone">Alex Stone</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Prosthetic Horsecock
                    </td>
                    <td>
                        12
                    </td>
                    <td>1075.00</td>
                </tr>
                <tr>
                    <td>
                        45
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Nellie%20Meadows">Nellie Meadows</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Lewd Leather Thong
                    </td>
                    <td>
                        12
                    </td>
                    <td>1020.00</td>
                </tr>
                <tr>
                    <td>
                        46
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Connie%20Fitch">Connie Fitch</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Snow Cabbit
                    </td>
                    <td>
                        12
                    </td>
                    <td>950.00</td>
                </tr>
                <tr>
                    <td>
                        47
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Mylitta%20Swann">Mylitta Swann</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Prosthetic Horsecock
                    </td>
                    <td>
                        12
                    </td>
                    <td>820.00</td>
                </tr>
                <tr>
                    <td>
                        48
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Kelli%20Loomis">Kelli Loomis</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Djinn Slave
                    </td>
                    <td>
                        12
                    </td>
                    <td>817.50</td>
                </tr>
                <tr>
                    <td>
                        49
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Nerati%20Sua">Nerati Sua</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Mana Ray
                    </td>
                    <td>
                        12
                    </td>
                    <td>715.00</td>
                </tr>
                <tr>
                    <td>
                        50
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Elyns%20Boobs">Elyns Boobs</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Disembodied Boobs
                    </td>
                    <td>
                        12
                    </td>
                    <td>585.00</td>
                </tr>
                <tr>
                    <td>
                        51
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Dylan%20Lepaige">Dylan Lepaige</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        12
                    </td>
                    <td>297.50</td>
                </tr>
                <tr>
                    <td>
                        52
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Lily%20Holmes">Lily Holmes</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        Silky Gothic Ballgown
                    </td>
                    <td>
                        12
                    </td>
                    <td>210.00</td>
                </tr>
                <tr>
                    <td>
                        53
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Chantalle%20Rosewind">Chantalle Rosewind</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Panty Pet
                    </td>
                    <td>
                        12
                    </td>
                    <td>102.50</td>
                </tr>
                <tr>
                    <td>
                        54
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Shelly%20Blank">Shelly Blank</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-hat' title='hat'></span>                        
                    </td>
                    <td class="mobile">
                        Red Fox Plushy
                    </td>
                    <td>
                        11
                    </td>
                    <td>1390.00</td>
                </tr>
                <tr>
                    <td>
                        55
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Taenil%20Auxifur">Taenil Auxifur</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Brainwashed Bitch
                    </td>
                    <td>
                        11
                    </td>
                    <td>1320.00</td>
                </tr>
                <tr>
                    <td>
                        56
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Toby%20Bills">Toby Bills</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Pitiful Sissy Boi
                    </td>
                    <td>
                        11
                    </td>
                    <td>1242.50</td>
                </tr>
                <tr>
                    <td>
                        57
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Lilia%20Fourtney">Lilia Fourtney</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Tiny Mouse Girl
                    </td>
                    <td>
                        11
                    </td>
                    <td>1060.00</td>
                </tr>
                <tr>
                    <td>
                        58
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Futa%20Lover">Futa Lover</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Rubber Love Doll
                    </td>
                    <td>
                        11
                    </td>
                    <td>910.00</td>
                </tr>
                <tr>
                    <td>
                        59
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Mylitta%20Aurundal">Mylitta Aurundal</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Brainwashed Bitch
                    </td>
                    <td>
                        11
                    </td>
                    <td>835.00</td>
                </tr>
                <tr>
                    <td>
                        60
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Jane%20County">Jane County</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Silky Bikini Top
                    </td>
                    <td>
                        11
                    </td>
                    <td>807.50</td>
                </tr>
                <tr>
                    <td>
                        61
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alta%20Musser">Alta Musser</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        11
                    </td>
                    <td>800.00</td>
                </tr>
                <tr>
                    <td>
                        62
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alexis%20Wells">Alexis Wells</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Bound Demonic Concubine
                    </td>
                    <td>
                        11
                    </td>
                    <td>795.00</td>
                </tr>
                <tr>
                    <td>
                        63
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Lenora%20Mccreary">Lenora Mccreary</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Bat Wing Brooch
                    </td>
                    <td>
                        11
                    </td>
                    <td>440.00</td>
                </tr>
                <tr>
                    <td>
                        64
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Melva%20Shadow">Melva Shadow</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Pink Latex Thong
                    </td>
                    <td>
                        11
                    </td>
                    <td>310.00</td>
                </tr>
                <tr>
                    <td>
                        65
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Stomp%20Regalia">Stomp Regalia</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shoes' title='shoes'></span>                        
                    </td>
                    <td class="mobile">
                        Gothic High Heels
                    </td>
                    <td>
                        11
                    </td>
                    <td>245.00</td>
                </tr>
                <tr>
                    <td>
                        66
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Ruth%20Bat">Ruth Bat</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Pet Bat
                    </td>
                    <td>
                        11
                    </td>
                    <td>214.16</td>
                </tr>
                <tr>
                    <td>
                        67
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Celestia%20Toy">Celestia Toy</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shoes' title='shoes'></span>                        
                    </td>
                    <td class="mobile">
                        Gothic High Heels
                    </td>
                    <td>
                        11
                    </td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>
                        68
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Brandenburg">Heather Brandenburg</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        Inflatable Sex Doll
                    </td>
                    <td>
                        11
                    </td>
                    <td>110.00</td>
                </tr>
                <tr>
                    <td>
                        69
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Lisia%20Feyrin">Lisia Feyrin</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        11
                    </td>
                    <td>62.50</td>
                </tr>
                <tr>
                    <td>
                        70
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Ethan%20Lionheart%20II">Ethan Lionheart II</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        French maid dress
                    </td>
                    <td>
                        11
                    </td>
                    <td>60.00</td>
                </tr>
                <tr>
                    <td>
                        71
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Darth%20Autonomus">Darth Autonomus</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        Black Suit Jacket
                    </td>
                    <td>
                        11
                    </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        72
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Jim%20Jam">Jim Jam</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Elegant Phoenix
                    </td>
                    <td>
                        10
                    </td>
                    <td>1155.00</td>
                </tr>
                <tr>
                    <td>
                        73
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Finean%20Gaige">Finean Gaige</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Witchling Plushy
                    </td>
                    <td>
                        10
                    </td>
                    <td>1105.00</td>
                </tr>
                <tr>
                    <td>
                        74
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Eileen%20Mareina">Eileen Mareina</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Winking Mare Cunt
                    </td>
                    <td>
                        10
                    </td>
                    <td>980.00</td>
                </tr>
                <tr>
                    <td>
                        75
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Sonia%20Bon">Sonia Bon</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Erotic Figurine
                    </td>
                    <td>
                        10
                    </td>
                    <td>960.00</td>
                </tr>
                <tr>
                    <td>
                        76
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Jo%20Jarvis">Jo &#39;jojojo jo jojo JOOOO&#39; Jarvis</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pants' title='pants'></span>                        
                    </td>
                    <td class="mobile">
                        Elegant Gothic Stockings
                    </td>
                    <td>
                        10
                    </td>
                    <td>955.00</td>
                </tr>
                <tr>
                    <td>
                        77
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Pam%20Burke">Pam Burke</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Magic Nursing Bra
                    </td>
                    <td>
                        10
                    </td>
                    <td>834.12</td>
                </tr>
                <tr>
                    <td>
                        78
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Claire%20Stephenson">Claire Stephenson</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        10
                    </td>
                    <td>675.00</td>
                </tr>
                <tr>
                    <td>
                        79
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Melia%20Antiqua">Melia Antiqua</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        An Idly Flicking Tail
                    </td>
                    <td>
                        10
                    </td>
                    <td>640.00</td>
                </tr>
                <tr>
                    <td>
                        80
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Amelia%20Boudreaux">Amelia Boudreaux</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        Silk Dragon Dress
                    </td>
                    <td>
                        10
                    </td>
                    <td>570.00</td>
                </tr>
                <tr>
                    <td>
                        81
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Chris%20Steinson">Chris Steinson</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Legendary Sexcalibur
                    </td>
                    <td>
                        10
                    </td>
                    <td>544.51</td>
                </tr>
                <tr>
                    <td>
                        82
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Zoe%20Doubleass">Zoe Doubleass</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Reverse Queen Girl
                    </td>
                    <td>
                        10
                    </td>
                    <td>480.00</td>
                </tr>
                <tr>
                    <td>
                        83
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Kara%20Wells">Kara Wells</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Loyal Cerberus Bitch
                    </td>
                    <td>
                        10
                    </td>
                    <td>420.00</td>
                </tr>
                <tr>
                    <td>
                        84
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Tsubaki%20Mizu">Tsubaki Mizu</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-hat' title='hat'></span>                        
                    </td>
                    <td class="mobile">
                        Red Fox Plushy
                    </td>
                    <td>
                        10
                    </td>
                    <td>370.00</td>
                </tr>
                <tr>
                    <td>
                        85
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Gwynevere%20Londo">Gwynevere Londo</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Pillow Girl
                    </td>
                    <td>
                        10
                    </td>
                    <td>310.00</td>
                </tr>
                <tr>
                    <td>
                        86
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Judah%20Robins">Judah Robins</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shirt' title='shirt'></span>                        
                    </td>
                    <td class="mobile">
                        Silky Gothic Ballgown
                    </td>
                    <td>
                        10
                    </td>
                    <td>200.00</td>
                </tr>
                <tr>
                    <td>
                        87
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Eric%20Finney">Eric Finney</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        White Tiger
                    </td>
                    <td>
                        10
                    </td>
                    <td>30.00</td>
                </tr>
                <tr>
                    <td>
                        88
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Rust%20Kitsu">Rust Kitsu</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Bootylicious Booty
                    </td>
                    <td>
                        10
                    </td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>
                        89
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Takora%20Valent">Takora Valent</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Lovely Latex Corset
                    </td>
                    <td>
                        10
                    </td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>
                        90
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Adriana%20Beamon">Adriana Beamon</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pet' title='pet'></span>                        
                    </td>
                    <td class="mobile">
                        Tiny Mouse Girl
                    </td>
                    <td>
                        9
                    </td>
                    <td>997.50</td>
                </tr>
                <tr>
                    <td>
                        91
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Reese%20Waydelich">Reese Waydelich</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-shoes' title='shoes'></span>                        
                    </td>
                    <td class="mobile">
                        Cupid Heels
                    </td>
                    <td>
                        9
                    </td>
                    <td>980.00</td>
                </tr>
                <tr>
                    <td>
                        92
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Serena%20Wolff">Serena Wolff</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Cherry Red Sucker
                    </td>
                    <td>
                        9
                    </td>
                    <td>825.00</td>
                </tr>
                <tr>
                    <td>
                        93
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Terra%20Hole">Terra Hole</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-consumable_reuseable' title='consumable_reuseable'></span>                        
                    </td>
                    <td class="mobile">
                        High-Quality Onahole
                    </td>
                    <td>
                        9
                    </td>
                    <td>720.00</td>
                </tr>
                <tr>
                    <td>
                        94
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Brayan%20Moen">Brayan Moen</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-pants' title='pants'></span>                        
                    </td>
                    <td class="mobile">
                        Elegant Gothic Stockings
                    </td>
                    <td>
                        9
                    </td>
                    <td>660.00</td>
                </tr>
                <tr>
                    <td>
                        95
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Alison%20Taylor">Alison Taylor</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Cheerleader Spankies
                    </td>
                    <td>
                        9
                    </td>
                    <td>573.90</td>
                </tr>
                <tr>
                    <td>
                        96
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Terry%20Dominguez">Terry Dominguez</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-undershirt' title='undershirt'></span>                        
                    </td>
                    <td class="mobile">
                        Lovely Latex Corset
                    </td>
                    <td>
                        9
                    </td>
                    <td>492.83</td>
                </tr>
                <tr>
                    <td>
                        97
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Sable%20Latere">Sable Latere</a>
                        <span class='icon icon-male'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Nightdust
                    </td>
                    <td>
                        9
                    </td>
                    <td>339.16</td>
                </tr>
                <tr>
                    <td>
                        98
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Emily%20Winter">Emily Winter</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Ruby Red Lipstick
                    </td>
                    <td>
                        9
                    </td>
                    <td>98.18</td>
                </tr>
                <tr>
                    <td>
                        99
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Kiera%20Dierst">Kiera Dierst</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-underpants' title='underpants'></span>                        
                    </td>
                    <td class="mobile">
                        Living Lingerie
                    </td>
                    <td>
                        9
                    </td>
                    <td>95.00</td>
                </tr>
                <tr>
                    <td>
                        100
                    </td>
                    <td>
                        <span class='icon icon-permanent' title="This player's soul is permanently sealed into this item."></span>
                        <a href="/PvP/LookAtPlayerItem?vicname=Gracie%20Cary">Gracie Cary</a>
                        <span class='icon icon-female'></span>
                        <span class='icon icon-accessory' title='accessory'></span>                        
                    </td>
                    <td class="mobile">
                        Erotic Figurine
                    </td>
                    <td>
                        9
                    </td>
                    <td>25.00</td>
                </tr>
        </tbody>
    </table>