<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Human Name</th>
            <th>Item Type</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kinky%20Kathy">Kinky Kathy</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                14
            </td>
            <td>1585.00</td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Izzy%20Valentine">Izzy Valentine</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                14
            </td>
            <td>1520.00</td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Amber%20Detoy">Amber Detoy</a>
                <span class="icon-female"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                14
            </td>
            <td>1115.00</td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jo%20Jarvis">Jo Jarvis</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Knee-High Socks
            </td>
            <td>
                14
            </td>
            <td>780.00</td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Arrhae%20Hale">Arrhae Hale</a>
                <span class="icon-male"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Teardrop Talisman
            </td>
            <td>
                14
            </td>
            <td>435.00</td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Melia%20Antiqua">Melia Antiqua</a>
                <span class="icon-male"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                14
            </td>
            <td>265.00</td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Aliah%20Dubois">Aliah Dubois</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                14
            </td>
            <td>230.00</td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Elena%20Jade">Elena Jade</a>
                <span class="icon-female"></span>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Flirty Two-Toned Bow
            </td>
            <td>
                13
            </td>
            <td>1725.00</td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Annie%20Livingston">Annie Livingston</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Gothic Lolita Boots
            </td>
            <td>
                13
            </td>
            <td>1690.00</td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kari%20Pink">Kari Pink</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Latex Dress
            </td>
            <td>
                13
            </td>
            <td>895.00</td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Pepe%20Walsh">Pepe Walsh</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                13
            </td>
            <td>840.00</td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Liriel%20Thorn">Liriel Thorn</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                One-Piece Latex Swimsuit
            </td>
            <td>
                13
            </td>
            <td>415.00</td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Mie%20Sucksgood">Mie Sucksgood</a>
                <span class="icon-female"></span>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                13
            </td>
            <td>385.00</td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Connie%20Campbell">Connie Campbell</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                13
            </td>
            <td>300.00</td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Joshua%20Ramsey">Joshua Ramsey</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                13
            </td>
            <td>280.00</td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Espa%20Farris">Espa Farris</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                White Tiger
            </td>
            <td>
                13
            </td>
            <td>280.00</td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Karai%20Kitsu">Karai Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Latex Collar (Unisex)
            </td>
            <td>
                13
            </td>
            <td>135.00</td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Rionach%20Rose">Rionach Rose</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Checkered Cotton Panties
            </td>
            <td>
                13
            </td>
            <td>60.00</td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Katie%20Frill">Katie Frill</a>
                <span class="icon-female"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                12
            </td>
            <td>1390.00</td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Reith%20Kitsu">Reith Kitsu</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pocket Dragon
            </td>
            <td>
                12
            </td>
            <td>1300.00</td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Chris%20Winters">Chris Winters</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Knitted Bra
            </td>
            <td>
                12
            </td>
            <td>1215.00</td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Anastasia%20Gale">Anastasia Gale</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                12
            </td>
            <td>1195.00</td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Heartbreaker">Heather Heartbreaker</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                12
            </td>
            <td>1140.00</td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Joe%20Death">Joe Death</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                12
            </td>
            <td>1020.00</td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Claire%20Cowley">Claire Cowley</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                12
            </td>
            <td>710.00</td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Teresa%20Clem">Teresa Clem</a>
                <span class="icon-female"></span>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                12
            </td>
            <td>240.00</td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jacqueline%20Riverwood">Jacqueline Riverwood</a>
                <span class="icon-female"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fertility Idol
            </td>
            <td>
                12
            </td>
            <td>30.00</td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kali%20Leo">Kali Leo</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Intimidating Leather Boots
            </td>
            <td>
                12
            </td>
            <td>0.00</td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Desire%20Matthews">Desire Matthews</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                11
            </td>
            <td>1450.00</td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sullivan%20Smith">Sullivan Smith</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Platform Heels
            </td>
            <td>
                11
            </td>
            <td>1165.00</td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kuro%20Hay">Kuro Hay</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                11
            </td>
            <td>1150.00</td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sarah%20Fortune">Sarah Fortune</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                11
            </td>
            <td>985.00</td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Catherina%20Hollenschwab">Catherina Hollenschwab</a>
                <span class="icon-female"></span>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Daisy Dukes
            </td>
            <td>
                11
            </td>
            <td>860.00</td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Suishou%20Tasuka">Suishou Tasuka</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Parasitic Heelless Hooves
            </td>
            <td>
                11
            </td>
            <td>790.00</td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jamie%20Haywood">Jamie Haywood</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                11
            </td>
            <td>660.00</td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Dorothy%20Williams">Dorothy Williams</a>
                <span class="icon-male"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Hot Mug of Coffee
            </td>
            <td>
                11
            </td>
            <td>470.00</td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Diana%20Esposito">Diana Esposito</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Latex Dress
            </td>
            <td>
                11
            </td>
            <td>310.00</td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Nellie%20Yanez">Nellie Yanez</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                11
            </td>
            <td>190.00</td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Casey%20Kendall">Casey Kendall</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Sky Blue Silk Tube Top
            </td>
            <td>
                11
            </td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Cheryl%20Lombard">Cheryl Lombard</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                10
            </td>
            <td>1265.00</td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Christine%20Fannin">Christine Fannin</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Pulsar
            </td>
            <td>
                10
            </td>
            <td>1205.00</td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Aline%20Felis">Aline Felis</a>
                <span class="icon-female"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magical Binding Tattoo
            </td>
            <td>
                10
            </td>
            <td>1190.00</td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Hannas%20Doll">Hannas Doll</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                10
            </td>
            <td>1165.00</td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kiera%20Dierst">Kiera Dierst</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                10
            </td>
            <td>1160.00</td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Crissa%20Kentavr">Crissa Kentavr</a>
                <span class="icon-female"></span>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                10
            </td>
            <td>1140.00</td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Felix%20Kitsu">Felix Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                10
            </td>
            <td>1045.00</td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Simple%20Dolly">Simple Dolly</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                10
            </td>
            <td>1020.00</td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Brea%20Streets">Brea Streets</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                10
            </td>
            <td>950.00</td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Kitty%20Lane">Kitty Lane</a>
                <span class="icon-female"></span>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Flirty Three-Tiered Skirt
            </td>
            <td>
                10
            </td>
            <td>935.00</td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Felucca%20Oalm">Felucca Oalm</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                10
            </td>
            <td>910.00</td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Thomas%20Blackman">Thomas Blackman</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lover's Gift Heart Thong
            </td>
            <td>
                10
            </td>
            <td>855.00</td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alexander%20Moss">Alexander Moss</a>
                <span class="icon-male"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Doggy Dick
            </td>
            <td>
                10
            </td>
            <td>845.00</td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jessie%20James">Jessie James</a>
                <span class="icon-male"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Hot Mug of Coffee
            </td>
            <td>
                10
            </td>
            <td>715.00</td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Giovani%20Knudson">Giovani Knudson</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Familiar Feline
            </td>
            <td>
                10
            </td>
            <td>685.00</td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Faithful%20Slave">Faithful Slave</a>
                <span class="icon-male"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Doggy Dick
            </td>
            <td>
                10
            </td>
            <td>630.00</td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=River%20Durand">River Durand</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                10
            </td>
            <td>520.00</td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Captian%20Harlock">Captian Harlock</a>
                <span class="icon-female"></span>
                <span class="icon-shirt" title="shirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Latex Dress
            </td>
            <td>
                10
            </td>
            <td>445.00</td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Aloysious%20Katt">Aloysious Katt</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                10
            </td>
            <td>345.00</td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lefen%20Hunter">Lefen Hunter</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                10
            </td>
            <td>205.00</td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Westin%20Shin">Westin Shin</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cursed Doll
            </td>
            <td>
                10
            </td>
            <td>120.00</td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lourdes%20Meeks">Lourdes Meeks</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                10
            </td>
            <td>120.00</td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Becky%20Smith">Becky Smith</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Pulsar
            </td>
            <td>
                9
            </td>
            <td>985.00</td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Nuntis%20Sol">Nuntis Sol</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                White Tiger
            </td>
            <td>
                9
            </td>
            <td>775.00</td>
        </tr>
        <tr style="background-color: pink;">
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Artemis%20Lashley">Artemis Lashley</a>
                <span class="icon-male"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Count Cuddles Plush Bear
            </td>
            <td>
                9
            </td>
            <td>750.00</td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Falcon">Heather Falcon</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Tentacled Terror
            </td>
            <td>
                9
            </td>
            <td>730.00</td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Steve%20Baxley">Steve Baxley</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                9
            </td>
            <td>720.00</td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sonias%20Pet">Sonias Pet</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                9
            </td>
            <td>685.00</td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Sam%20Wilson">Sam Wilson</a>
                <span class="icon-female"></span>
                <span class="icon-hat" title="hat"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Black Silk Top Hat
            </td>
            <td>
                9
            </td>
            <td>640.00</td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Razlien%20Lane">Razlien Lane</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                9
            </td>
            <td>625.00</td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Reese%20Estes">Reese Estes</a>
                <span class="icon-male"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                9
            </td>
            <td>615.00</td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Clare%20Sellars">Clare Sellars</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Checkered Cotton Panties
            </td>
            <td>
                9
            </td>
            <td>605.00</td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Ellie%20West">Ellie West</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                9
            </td>
            <td>565.00</td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Iris%20Haas">Iris Haas</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Platform Heels
            </td>
            <td>
                9
            </td>
            <td>540.00</td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Ina%20Lunn">Ina Lunn</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                9
            </td>
            <td>500.00</td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Heathers%20Bitch">Heathers Bitch</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                9
            </td>
            <td>385.00</td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Heather%20Brandenburg">Heather Brandenburg</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Checkered Cotton Panties
            </td>
            <td>
                9
            </td>
            <td>255.00</td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Taylor%20Broados">Taylor Broados</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                9
            </td>
            <td>250.00</td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Gunther%20Rohr">Gunther Rohr</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Hung Stallion
            </td>
            <td>
                9
            </td>
            <td>225.00</td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Espa%20Levesque">Espa Levesque</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                9
            </td>
            <td>210.00</td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alex%20Wise">Alex Wise</a>
                <span class="icon-male"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Hot Mug of Coffee
            </td>
            <td>
                9
            </td>
            <td>125.00</td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Camille%20Toei">Camille Toei</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                9
            </td>
            <td>125.00</td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=White%20Crystal">White Crystal</a>
                <span class="icon-male"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                9
            </td>
            <td>120.00</td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Alexander%20Dantes">Alexander Dantes</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>

            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                9
            </td>
            <td>110.00</td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Iuliana%20Kitsu">Iuliana Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Magical Binding Tattoo
            </td>
            <td>
                9
            </td>
            <td>15.00</td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=General%20Stamp">General Stamp</a>
                <span class="icon-female"></span>
                <span class="icon-shoes" title="shoes"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Parasitic Heelless Hooves
            </td>
            <td>
                9
            </td>
            <td>0.00</td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Dolly%20Higginbotham">Dolly Higginbotham</a>
                <span class="icon-female"></span>
                <span class="icon-pants" title="pants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Flirty Three-Tiered Skirt
            </td>
            <td>
                9
            </td>
            <td>0.00</td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Tiger%20Joe">Tiger Joe</a>
                <span class="icon-male"></span>
                <span class="icon-pants" title="pants"></span>

            </td>
            <td>
                Black Silk Pants
            </td>
            <td>
                9
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Dan%20Strong">Dan Strong</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Prancing Pony Boy
            </td>
            <td>
                8
            </td>
            <td>545.00</td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Eva%20Diamond">Eva Diamond</a>
                <span class="icon-female"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Cuddly Pocket Goo Girl
            </td>
            <td>
                8
            </td>
            <td>470.00</td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Landon%20Mccormick">Landon Mccormick</a>
                <span class="icon-female"></span>
                <span class="icon-undershirt" title="undershirt"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                8
            </td>
            <td>405.00</td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Objectifyme%20Please">Objectifyme Please</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                8
            </td>
            <td>360.00</td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Jade%20Lessard">Jade Lessard</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Maternity Panties
            </td>
            <td>
                8
            </td>
            <td>360.00</td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Randi%20Wyman">Randi Wyman</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                8
            </td>
            <td>360.00</td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Rukki%20Fox">Rukki Fox</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Husky
            </td>
            <td>
                8
            </td>
            <td>280.00</td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Veronica%20Hindman">Veronica Hindman</a>
                <span class="icon-female"></span>
                <span class="icon-consumable_reuseable" title="consumable_reuseable"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                8
            </td>
            <td>240.00</td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Bella%20Pantiedemic">Bella Pantiedemic</a>
                <span class="icon-female"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Pink Latex Thong
            </td>
            <td>
                8
            </td>
            <td>145.00</td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Henry%20Rosenberg">Henry Rosenberg</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                8
            </td>
            <td>135.00</td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Lacy%20Loki">Lacy Loki</a>
                <span class="icon-male"></span>
                <span class="icon-accessory" title="accessory"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Crystal Skull
            </td>
            <td>
                8
            </td>
            <td>120.00</td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=John%20Potter">John Potter</a>
                <span class="icon-male"></span>
                <span class="icon-pet" title="pet"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Spellbound Cat Boy
            </td>
            <td>
                8
            </td>
            <td>105.00</td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayerItem?vicname=Truman%20Lenz">Truman Lenz</a>
                <span class="icon-male"></span>
                <span class="icon-underpants" title="underpants"></span>
                <span class="icon-permanent" title="This player's soul is permanently sealed into this item."></span>
            </td>
            <td>
                Doggy Dick
            </td>
            <td>
                8
            </td>
            <td>0.00</td>
        </tr>

    </tbody>



</table>