
@using TT.Web.CustomHtmlHelpers
@model IEnumerable<TT.Domain.DTOs.Messages.MessageDetail>

<p><i>NOTE: Some messages may be missing if they have been deleted by the recipient or automatically expired.</i>
</p><br>

@{
    foreach (var m in Model)
    {
        <div class="messageInfoContainer clearfix">
            <span class="messageNicknameContainer">@m.Sender.GetFullName()</span>
            <span class="messageTimeContainer">@CharactersHere.DatetimeToTimeago(m.Timestamp)</span>
        </div>
        <div class="messageTextContainer"><p>@m.MessageText</p></div>
    }
}
