@model tfgame.ViewModels.PublicBroadcastViewModel

<h1>Change News date</h1>

@using (Html.BeginForm("ChangeGameDateSend", "PvPAdmin", FormMethod.Post))
{
    @Html.TextAreaFor(m => m.Message)
    <br />
    <input type="submit" value="Send" />
}