@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container-inner" style="padding: 20px;">
    <hgroup class="title">
        <h1 class="error">Juderp!</h1>
        <h2 class="error">An error occurred while processing your request.  If this problem persists and you believe you should not be seeing this,   <a href="http://luxianne.com/forum/index.php">please post a bug report on the forums</a>.</h2>
        <p>You might still be able to use certain portions of the site:</p>
        <p><a href="/PvP/Chat?room=global" target="_blank">Global Chat</a></p>
        <p><a href="/PvP/MyMessages">Inbox</a></p>
        <p><a href="/Contribution/Contribute/-1">Submit Content</a></p>

        @{
            try
            {
                if (User.IsInRole(TT.Domain.Statics.PvPStatics.Permissions_Killswitcher) == true)
                {
                    <p class="bad">Activate this link when and ONLY when you and a number of animate players are receiving error screens and are unable to play.  Clicking this link will temporarily disable turn updates so bots do not attacker players who are incapable of responding.  @Html.ActionLink("CLICK HERE TO ACTIVATE KILLSWITCH.", "Killswitch", "PvPAdmin")</p>
                }
            }
            catch
            {

            }
        }

    </hgroup>
</div>