@{
    Layout = "";
}

<!DOCTYPE html>

<html ng-app>
<head>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="~/Scripts/fwars/models/person.js"></script>
    <script src="~/Scripts/fwars/models/item.js"></script>
    <script src="~/Scripts/fwars/models/log.js"></script>
    <script src="~/Scripts/fwars/fwars.js"></script>
    <script src="~/Scripts/fwars/controllers/personsController.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>...</title>
</head>
<body ng-controllers="PersonsController">
    <h1>Wars</h1>
   
    <div data-ng-controller="PersonsController as ctrl">

        <div ng-show="startVisible">
            <p>What is your name?</p>
            <span> First name:  <input type="text" id="nameBoxFirst" ng-model="nameFirst" ng-init="nameFirst='Nina'" /></span>
            <span> Last name: <input type="text" id="nameBoxLast" ng-model="nameLast" ng-init="nameLast='Bryker'" /></span><br />
            <button ng-click="addPlayerAndStart(nameFirst, nameLast)">Join</button>
            <span>Name: {{nameFirst}}  {{nameLast}}</span>

        </div>

        @*<span>Hide: <input type="checkbox" ng-model="isHidden" /></span>*@

        <div ng-show="mainGame">

            <div class="container">
                <h3>Your members:</h3>
                <ul>
                    <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}] [{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div class="container">
                <h3>Opponents:</h3>
                <ul>
                    <li ng-repeat="person in personsAI.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>


            <div class="container">
                <h3>Submissive Opponents:</h3>
                <ul>
                    <li ng-repeat="person in defeatedAI.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div class="container">
                <h3>Submissive Allies:</h3>
                <ul>
                    <li ng-repeat="person in defeatedPlayer.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div id="unequippedItems">
                <h3>New items from fight:</h3>
                <ul>
                    <li ng-repeat="item in newItems.items">{{item.type}} {{item.getVictimName()}}</li>
                </ul>
            </div>

            <button ng-click="startFight()" ng-show="startFightVisible">Begin Fight</button>
            <button ng-click="fight()" ng-show="continueFightVisible">Continue Fight (Round {{turnsSinceCombatStart}})</button>
            <button ng-click="aftermath()" ng-show="fightAftermathVisible">View Fight Aftermath</button>

            <div id="log">
                <p ng-repeat="log in logs" ng-bind-html-unsafe="log.html">
                    {{log.message}}
                </p>
            </div>

        </div>

    </div>

</body>



</html>

<style>
    #log {
        height: 300px;
        border: 1px solid black;
        width: 100%;
        overflow: scroll;
    }

    #id li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>