
@{
    Layout = "";
}

<!DOCTYPE html>

<html ng-app>
<head>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="~/Scripts/fwars.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Fashion Wars</title>
</head>
<body>
    <h1>Fashion Wars</h1>
    What is the name of your sorceress?  <input type="text" id="nameBox" ng-model="name" /> {{name}}
</body>
</html>
