@{
    Layout = "";
}

<!DOCTYPE html>

<html ng-app>
<head>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="~/Scripts/fwars/models/person.js"></script>
    <script src="~/Scripts/fwars/models/item.js"></script>
    <script src="~/Scripts/fwars/models/log.js"></script>
    <script src="~/Scripts/fwars/fwars.js"></script>
    <script src="~/Scripts/fwars/controllers/personsController.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>...</title>
</head>
<body ng-controllers="PersonsController">
    <h1>Wars</h1>

    <div data-ng-controller="PersonsController as ctrl">

        <p>Day {{day}}</p>

        <div ng-show="startVisible">
            <p>What is your name?</p>
            <span> First name:  <input type="text" id="nameBoxFirst" ng-model="nameFirst" ng-init="nameFirst='Nina'" /></span>
            <span> Last name: <input type="text" id="nameBoxLast" ng-model="nameLast" ng-init="nameLast='Bryker'" /></span><br />
            <button ng-click="addPlayerAndStart(nameFirst, nameLast)">Join</button>
            <span>Name: {{nameFirst}}  {{nameLast}}</span>
        </div>

        <div ng-show="chooseBattlegroundView">
            <p>Where would you like to go to find new targets?</p>
            <button ng-click="chooseBattlegroundSend('park_forest_trail', 2)">Park:  Forest Trail</button>
            <button ng-click="chooseBattlegroundSend('park_parking_lot', 2)">Park:  Parking Lot</button>
            <button ng-click="chooseBattlegroundSend('park_lodge', 2)">Park:  Lodge</button>
            <button ng-click="chooseBattlegroundSend('coffeestore', 2)">Coffee Shop</button>
        </div>


        <div ng-show="fightView">

            <div class="container">
                <h3>Your members:</h3>
                <ul>
                    <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}] [{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div class="container">
                <h3>Opponents:</h3>
                <ul>
                    <li ng-repeat="person in personsAI.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>


            <div class="container">
                <h3>Submissive Opponents:</h3>
                <ul>
                    <li ng-repeat="person in defeatedAI.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div class="container">
                <h3>Submissive Allies:</h3>
                <ul>
                    <li ng-repeat="person in defeatedPlayer.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP]</li>
                </ul>
            </div>

            <div id="unequippedItems">
                <h3>New items from fight:</h3>
                <ul>
                    <li ng-repeat="item in newItems.items">{{item.type}} {{item.getVictimName()}}</li>
                </ul>
            </div>

            <button ng-click="startFight()" ng-show="startFightVisible">Begin Fight</button>
            <button ng-click="fight()" ng-show="continueFightVisible">Continue Fight (Round {{turnsSinceCombatStart}})</button>
            <button ng-click="retreat()" ng-show="retreatBtnVisible">Retreat!</button>
            <button ng-click="aftermath()" ng-show="aftermathBtn">View Fight Aftermath</button>
        </div>

        <div ng-show="aftermathView">
            <p>With the day over you can now take stock of your prisoners.  What shall you do with them?  Recruit them to your cause?  Or change them into cute little clothes for you, your friends, or the store next door?  <b>You have {{energy}}/{{energyMax}}</b> energy left.  You have {{money}} dollars.</p>

            <button ng-show="aftermathViewLevelup_btn" ng-click="aftermathLevelupShow()">Release remaining {{defeatedAI.persons.length}} prisoners and continue</button>

            <div class="container">
                <h3>Submissive Opponents:</h3>
                <ul>
                    <li ng-repeat="person in defeatedAI.persons | orderBy:'firstName'">
                        {{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}]
                        <button ng-click="recruit(person)" ng-show="person.getRecruitmentCost() <= energy">Recruit ({{person.getRecruitmentCost()}} energy required)</button>

                        <span ng-repeat="spell in leader.finishingSpells"><button ng-click="inanimate(person, spell)" ng-show="leader.getTransformCost(spell) <= energy">Turn into {{spell}} ({{leader.getTransformCost(spell)}} energy required))</button></span>


                    </li>
                </ul>
            </div>

            <div id="unequippedItems">
                <h3>New items from fight:</h3>
                <ul>
                    <li ng-repeat="item in newItems.items">{{item.type}} {{item.getVictimName()}}</li>
                </ul>
            </div>

            <div id="unequippedItems">
                <h3>Unequipped items:</h3>
                <ul>
                    <li ng-repeat="item in unequippedItems.items">{{item.type}} {{item.getVictimName()}}</li>
                </ul>
            </div>

        </div>

        <div ng-show="aftermathViewLevelup">
            <p>Level up and train your members...</p>

            <div class="container">
                <h3>Members:</h3>
                <ul>
                    <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">
                        {{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP] [{{person.xp}}/{{person.xpNeededForLevelup()}} XP before levelup]

                        <button ng-click="promote(person,'Witchling')" ng-show="person.xp >= person.xpNeededForLevelup() && person.type == 'Bystander'">Transform into Witchling</button>


                    </li>
                </ul>
            </div>

            <button ng-show="endDay_btn" ng-click="endDay()">End day</button>

        </div>

        <div ng-show="buySellItemsView">
            <p>It's another bright day and your soul item dealer is stopping by.  You can sell your inanimate victims or purchase some new powerful items for them if you wish.  You have {{money}} dollars.</p>

            <div id="unequippedItems">
                <h3>Your inventory:</h3>
                <ul>
                    <li ng-repeat="item in unequippedItems.items">
                        {{item.type}} {{item.getVictimName()}}
                        <button ng-show="sellItem_btn" ng-click="sellItem(item)">Sell for {{item.getSellPrice()}} $</button>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Purchase:</h3>
                <ul>
                    <li ng-repeat="item in itemsMap">
                        {{item.name}} ({{item.value}} dollars)
                        <button ng-show="money >= item.value" ng-click="buyItem(item.name)">Buy</button>
                    </li>
                </ul>
            </div>

            <button ng-show="equipView_btn" ng-click="showEquipMembersView()">Equip Members</button>

        </div>


        <div ng-show="assignItemsView">
            <h3>Equip your Members</h3>

            <div id="unequippedItems">
                <h3>Unequipped items:</h3>
                <ul>
                    <li ng-repeat="item in unequippedItems.items">
                        {{item.type}} {{item.getVictimName()}}
                        <span ng-show="item.id == currentlySelectedItem.id">CURRENT</span>
                    </li>
                </ul>
            </div>

            <div ng-show="unequippedItems.items.length > 0">
                <span>Currently assigning {{currentlySelectedItem.type}} {{item.getVictimName()}}</span>

                <button ng-click="equipPrevious()" ng-show="unequippedItems.items.length > 0">Previous</button>
                <button ng-click="equipNext()" ng-show="unequippedItems.items.length > 0">Next</button>

            </div>

            <div class="container">
                <h3>Members:</h3>
                <ul>
                    <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">
                        {{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}][{{person.health}}/{{person.getMaxHP()}} HP] [{{person.items.length}} items equipped]

                        <button ng-click="assignTo(person, currentlySelectedItem)" ng-show="person.items.length < 2 && unequippedItems.items.length > 0">Assign To Me</button>
                        <button ng-click="strip(person)" ng-show="person.items.length > 0">Remove All Items</button>


                    </li>
                </ul>
            </div>


            <button ng-show="teachSpells_btn" ng-click="showTeachSpells()">Teach Spells</button>

        </div>

        <div ng-show="teachSpellsView">
            <h3>Teach new Spells to Members</h3>

            <ul>
                <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">
                    {{person.firstName}} {{person.lastName}} [lvl {{person.level}} {{person.type}}]
                    Knows: <span ng-repeat="spell in person.finishingSpells"> {{spell}},</span>
                </li>
            </ul>

            <button ng-show="newfight_btn" ng-click="chooseBattleground()">Choose Location</button>

        </div>





        <div id="log">
            <p ng-repeat="log in logs">
                {{log.message}}
            </p>
        </div>


    </div>
</body>



</html>

<style>
    #log {
        height: 300px;
        border: 1px solid black;
        width: 100%;
        overflow: scroll;
    }

    #id li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>