@{
    Layout = "";
}

<!DOCTYPE html>

<html ng-app>
<head>
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="~/Scripts/fwars/fwars.js"></script>
    <script src="~/Scripts/fwars/controllers/personsController.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>...</title>
</head>
<body ng-controllers="PersonsController">
    <h1>Wars</h1>

    <div ng-hide="isHidden">
        <span> First name:  <input type="text" id="nameBoxFirst" ng-model="nameFirst" /></span>
        <span> Last name: <input type="text" id="nameBoxLast" ng-model="nameLast" /></span><br />
        <button ng-click="nameFirst='Bob'">Recruit</button>
        <span>Name: {{nameFirst}}  {{nameLast}}</span>

    </div>

    <span>Hide: <input type="checkbox" ng-model="isHidden" /></span>

    <div class="container" data-ng-controller="PersonsController as ctrl">
        <h3>Your members:</h3>
        <ul>
            <li ng-repeat="person in personsPlayer.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} (lvl {{person.level}})</li>
        </ul>
    </div>

    <div class="container" data-ng-controller="PersonsController as ctrl">
        <h3>Opponents:</h3>
        <ul>
            <li ng-repeat="person in personsAI.persons | orderBy:'firstName'">{{person.firstName}} {{person.lastName}} (lvl {{person.level}})</li>
        </ul>
    </div>

</body>
</html>
