@model TT.Domain.ViewModels.ContributionStatusViewModel

@using (Html.BeginForm(MVC.Contribution.ContributeSetGraphicStatusSubmit(), FormMethod.Post))
{
    
     <p><a href="@Url.Action(MVC.PvP.LookAtPlayer_FromMembershipId(Model.OwnerMembershipId))">Look at this author's player profile</a></p>
    
    <p>Write down your name here, how far along the graphic is, or anything else you think important.</p><br />
    <p>The use of AI-generated content, such as art or images, will not be accepted for any contributions. Such content cannot be licensed, cannot be copyrighted, and falls into a 'gray area' which makes it unusable for Transformania Time content.</p>
    @Html.HiddenFor(m => m.ContributionId)
    @Html.TextAreaFor(m => m.Status)

    <input type="submit" value="Save">
}