@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 10 (Era of Cole Kurz)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>PvP Score</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43508">Cole Kurz</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                866
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42636">Cara Doom</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                643
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42707">Asrael Valentine</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Bondage Harness
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                454
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42579">Teranika Darkfire</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                339
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41572">Seras Tearfall</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                High-Quality Onahole
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                306
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42752">Jess Ganes</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Slutty Nurse
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                183
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43232">Holly Halliwell</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Dick-Loving Slut
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                146
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42601">Cali Candy</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                High-Quality Onahole
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                132
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42696">Kia Usagi</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                128
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42862">King Leoric</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Knights of the King</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                128
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45945">Teresa Meek</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                128
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42781">Annette Merriman</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                92
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44692">Mitch Garrison</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                83
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44430">Samantha Rosette</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Nightdust
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                75
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41535">Kasumi Takanawa</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                70
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45603">Kandi Pix</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                70
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42688">Rose Schumacher</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                60
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41560">Winter Muffin</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Kittybasket</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                50
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43656">Lupe Arnold</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                50
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42716">Maeve Morrigan</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                50
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43953">Claudia Lunde</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                46
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43436">Nerati Sua</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Nightdust
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                45
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42578">Alex Denver</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                42
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43598">Peggy Dixon</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-online"></span>


            </td>
            <td></td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                40
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42652">Jacquelyn Pearson</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                39
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42613">Parker Page</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                38
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44112">Chrysanthis Kentavr</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Cuddly Pocket Goo Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                38
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41545">Tormenta Delinfierno</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Latex Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                38
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43778">Debbie Mohr</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                3
            </td>
            <td>
                38
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45909">Giga Nigga</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Otter Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                30
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43375">Gustav Holt</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                30
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43457">Kari Turman</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Latex Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                30
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44144">Absolutely Not</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                23
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41563">Vulpesthe Bitchpony</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                3
            </td>
            <td>
                23
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43330">Maximus Holliday</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41570">Carlene Bonner</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45958">General Store</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42726">John Gill</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/46469">Iris Deluna</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                2
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44156">Artemis Brownlee</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                2
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45918">Shannon Barth</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Flirty Three-Tiered Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                2
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41540">Peri Efroth</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Gossamer Evening Gown
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                18
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42926">Dusk Soma</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Hand Lens
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                2
            </td>
            <td>
                18
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41529">Hanna Patterson</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41552">Snowy Usagi</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42717">Bunbun Usagi</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44605">Ash Wyldealt</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Gossamer Evening Gown
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44216">Tyrel Leroy</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                2
            </td>
            <td>
                15
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43818">Lana Stone</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Knee-High Socks
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                2
            </td>
            <td>
                15
            </td>
        </tr>
        <tr style="background-color: pink;">
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41505">Eileen Poore</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Gimbo Stripper
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                12
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42632">Lacey Keen</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44841">Conor Parker</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45998">Dina Reuter</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                2
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/46261">Kingston Corral</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                2
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43148">Angelique Mcdaniel</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                2
            </td>
            <td>
                10
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45336">Zayden Vela</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Luscious Red Wig
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43756">Jem Gatlin</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                The Pink Pulsar
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                3
            </td>
            <td>
                8
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43539">Ashley Webb</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Magical Binding Tattoo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                3
            </td>
            <td>
                8
            </td>
        </tr>
        <tr class="dark">
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42758">Lilith Valentine</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41539">Aleah Dubois</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Shy Sheep Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44941">Vishida Rabenstein</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42627">Taenil Auxifur</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41547">Miles Edgeworth</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43593">Victoria Sokolova</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Big Burly Brute
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41574">Marietta Irvine</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44751">Kepwica Delund</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                High-Quality Onahole
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41522">Devoted Toy</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45148">Joe Death</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Knee-High Socks
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/41541">Rosalyn Langford</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42649">Bonsai Kitty</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Latex Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43935">Aleksandr Wolfenstein</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Unicorn Stallion
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43779">Alice Shadowfall</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42577">Abraham Castle</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45363">Camron Tierney</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42635">Rebecca Larin</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45228">Razlien Lane</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Husky
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43217">Suki Toi</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Bondage Kitten Magazine
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42772">Randy Woods</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43345">Simon Nymeros</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43228">Kiera Dierst</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45580">Tessa Devoure</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45534">Bob Fisher</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Fetish Wizard's Staff
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42884">Mazhirra Silentclaws</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45821">Nehemiah Musselman</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43827">Marva Spear</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Fennec Fox
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43691">Ranko Saotome</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42660">Crissa Kentavr</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Gossamer Evening Gown
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42628">Emma Sweetbrook</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42921">Maxine Clay</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Distractible Squirrel Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45843">Lacey Batchelor</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42828">Donna Morte</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/44120">Jefferson Steelflex</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                High-Quality Onahole
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43475">Lu Lars</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/46267">Callan Tanner</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/42810">Shawn Wylde</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Toys of Teranika</b></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                4
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45036">Lewis Husseyy</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Vampire Lord
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/45207">Kobe Carlisle</a>
                <span class="icon icon-female"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Platform heels
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                3
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43970">Marc Messenger</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/46397">Taylor Murdock</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                0
            </td>
        </tr>
        <tr class="dark">
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/43417">Stannis Demannis</a>
                <span class="icon icon-male"></span>

                <span class="icon icon-offline"></span>


            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                3
            </td>
            <td>
                0
            </td>
        </tr>

    </tbody>



</table>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>