<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>
@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 9 (Era of Hanna Patterson)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35773">Hanna Patterson</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Freelancers</b></span>
            </td>
            <td>
                Feminine Slut Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                539.80
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35888">Winter Muffin</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Kitties in Clouds</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                256.64
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35671">Cutesy Doo</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                Knee-High Socks
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                10
            </td>
            <td>
                322.29
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35714">Alicia Arriola</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                156.50
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36150">Cole Kurz</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                59.24
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35657">Jess Ganes</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Mighty Werewolf
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                829.89
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36286">Helga Mercer</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                571.10
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35722">Lucy Gautreau</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                426.18
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35654">Koumori Yurei</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Unicorn Stallion
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                373.23
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35632">Ashley Valentine</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                254.56
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35914">Raine Li</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                127.37
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35966">Kayla Bartels</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                779.11
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35689">Chris Smart</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Freelancers</b></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                683.00
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35756">Rust Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bimbonic Plague-Bearer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                388.19
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35698">Camren Doss</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                304.70
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36948">Celisi Tabiki</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                99.76
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35703">Simon Nymeros</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Freelancers</b></span>
            </td>
            <td>
                Elven Femboy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                548.55
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35690">Leiko Aoryuu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                524.92
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35676">Irma Guess</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Nekomata Bank</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                481.74
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35719">Tessa Daugherty</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Freelancers</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                427.04
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36327">Rose Tyler</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Meridian Dance</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                382.32
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35956">Jordan Miller</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Big Burly Brute
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                296.68
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35913">Absolutely Not</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Guild of the Green</b></span>
            </td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                293.43
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35675">Vulpes Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                263.56
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36404">Nerati Sua</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Semi-Autonomous Hive Doll
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                180.84
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35669">Kaitlyn Halliwell</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Meridian Dance</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                165.80
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35818">Cheryl Tinker</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Mighty Werewolf
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                121.80
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35760">Kaden Leavitt</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Cross Gender Chaos</b></span>
            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                95.38
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35776">Circine Milton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                92.88
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35770">Beta Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Milk Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                68.99
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35981">Joziah Smoot</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                34.30
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36020">Aloysious Katt</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                5.68
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36392">Kasumi Takanawa</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Glossy Marble Statuette
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                3.56
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37971">King Leoric</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Knights of the King</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                535.15
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35785">Shannon Spring</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                503.52
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36042">Alex Schilling</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Nekomata Bank</b></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                457.94
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35740">Ragnar Black</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Latex Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                387.15
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35687">Chay Hauenstein</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Cross Gender Chaos</b></span>
            </td>
            <td>
                Feminine Slut Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                367.81
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36519">Zakalwe Cheradine</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                367.05
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35700">Dawn Foley</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Gimbo Stripper
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                366.99
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35989">Theo Perrif</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                358.01
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35665">Toni Venusela</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                336.02
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37476">Adara Firecaster</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                328.87
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35691">Shadow Labrys</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                275.40
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/38346">Julie Mata</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Captured Souls
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                267.37
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35799">Indelera Balena</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                262.63
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35819">Helen Castle</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                239.85
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35783">Augustus Tate</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                203.87
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35901">Bennett Messer</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Femboi Skunk
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                193.22
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35781">Alexander Romero</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                187.47
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35889">Melissa Erebus</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Milk Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                177.45
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/38464">Tim Cahill</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Fuzzy Pink Bunny Slippers
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                171.99
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37350">Jessica Dahl</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Vibrating Purple Latex Thong
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                150.09
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37781">Kia Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                140.00
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37418">Floriana Ketchum</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                116.47
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35890">Emerastraza Dulcette</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Fairy Familiar
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                111.81
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36712">Juva Daent</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Runic Dildo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                107.56
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35757">Ethan Tracey</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                107.05
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37550">Candii Gilbreath</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                103.45
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35704">Taenil Auxifur</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                87.00
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35995">Starfire Shelby</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Female Possesed Armor
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                74.43
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36173">Alice Serros</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                71.17
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36877">Melody Mischief</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                70.44
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35725">Nekomancer Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                68.55
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35944">Spuds Mckenzie</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Court of the Master</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                53.29
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36032">Julian Chance</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                49.01
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35842">Jocelyn Ravensight</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Elf Princess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                29.87
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35652">Christopher Smith</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Cherry Red Sucker
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                29.35
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36124">Sydney Meyer</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                15.23
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35682">Valerie Wallace</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Bimbonic Plague-Bearer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                12.26
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35664">Alex Evans</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Bondage Harness
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                8.00
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36209">Grey Valtieri</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                1.17
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37773">Psychopeth Jill</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Runic Dildo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.86
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37335">Nymmie Simmons</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Frilly Petticoat
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                -1.29
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36090">Grey Wolf</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                -9.73
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35708">Misty Pony</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                419.00
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35650">Derek Green</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                The Pink Pulsar
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                414.00
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36368">Lazy Loki</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Slimes For All</b></span>
            </td>
            <td>
                Fiesty Firebrand
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                385.08
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36541">Loser Bayer</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                331.49
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35655">Katie Broadnax</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Amazons</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                319.36
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35782">Moises Kent</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Cross Gender Chaos</b></span>
            </td>
            <td>
                Kitten Boi
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                312.17
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35772">Sir Scarlion</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Amazons</b></span>
            </td>
            <td>
                Elven Femboy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                311.00
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/37992">Brick Cinderblock</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Tribal Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                310.14
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35730">Sam Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                286.46
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35716">Melli Norton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Freelancers</b></span>
            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                266.73
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35940">Tessa Devour</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Slimes For All</b></span>
            </td>
            <td>
                Docile Cowgirl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                255.32
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36039">Lisa Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Milk Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                222.79
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35936">Sage Greene</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Guild of the Green</b></span>
            </td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                211.69
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35878">Soren Reus</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                204.74
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35872">Aethar Noble</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                203.50
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35780">Ali Lindgren</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Kitten Boi
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                202.00
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35789">Mie Sucksgood</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Massively Obese Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                201.17
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/36148">Gretchen Doss</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Arcane Seeker</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                187.57
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35869">Nick Price</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                182.13
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35786">Sapphira Rosai</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Latex Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                175.18
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35667">Crissa Kentavr</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sanctuarium</b></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                172.97
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35876">Juelz Salcido</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Kitten Boi
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                164.18
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35666">Joe Hawthorne</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Arcane Seeker</b></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                164.00
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35753">Leina Ios</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                141.09
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/35816">Jessie James</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                136.44
            </td>
        </tr>

    </tbody>



</table>

<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>