@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 8 (Era of Alicia Arriola)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29667">Alicia Arriola</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                373.67
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30805">Lucy Gautreau</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Slutty Nurse
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                891.00
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29642">Ashley Valentine</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                262.82
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29706">Tsubaki Mizu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                142.01
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30830">Koumori Yurei</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Quiet Revolution</b></span>
            </td>
            <td>
                Fox Thief
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                820.20
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29645">Kaitlyn Halliwell</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu Hazing Committee</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                546.14
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29647">Raine Li</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Casual Players</b></span>
            </td>
            <td>
                Tempting Teacher
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                395.26
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29709">Arika Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                131.50
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33613">Khalil Taguel</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Fairy Familiar
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                8
            </td>
            <td>
                130.81
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29686">Circine Milton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Casual Players</b></span>
            </td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                74.77
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30822">Leiko Aoryuu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                17.80
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30878">Monica Steele</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                New Age Retro Hippy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                699.29
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30936">King Leoric</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Knights of the King</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                699.00
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29794">Razlien Lane</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                687.69
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29646">Tessa Daugherty</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu Hazing Committee</b></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                626.81
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29690">Camren Doss</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Sexy Princess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                526.78
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31569">Sam Wilson</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Quiet Revolution</b></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                473.67
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/32155">Kelly Dolly</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Knee-High Socks
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                325.51
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/32122">Jessie James</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu Hazing Committee</b></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                282.22
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29741">Liahnna Rose</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                214.47
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33234">Seras Tearfall</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                169.30
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29693">Toni Venusela</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                144.12
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30834">Annie Livingston</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                125.50
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29787">Melody Mischief</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu Hazing Committee</b></span>
            </td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                119.67
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29788">Celisi Tabiki</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                549.00
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30850">Jess Ganes</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                526.50
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29702">Loli Doll</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                518.13
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29722">Leina Ios</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Lab Rats</b></span>
            </td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                468.46
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30808">Corey Samuels</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                450.95
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30829">Moe Ortiz</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                436.77
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33418">Nico Weinberg</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                426.85
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30828">Chay Hauenstein</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Order of Boobs</b></span>
            </td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                366.56
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33534">Snowy Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                343.40
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30991">Illia Malvusin</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>SCCC Students and Faculty</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                338.96
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30961">Aloysious Katt</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                320.05
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30880">Misty Pony</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Milton Ranch</b></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                319.05
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29731">Taenil Auxifur</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                313.00
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31057">Levi Ayers</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>For Science</b></span>
            </td>
            <td>
                Egyptian Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                309.53
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30817">Roxie Clay</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Hung Stallion
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                274.23
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29727">Cole Kurz</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                267.45
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29639">Cara Doom</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Magical Binding Tattoo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                235.35
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30798">Rin Inaba</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                220.65
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31140">General Tramp</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                214.36
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29696">Robyn Parra</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                213.02
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33813">Simon Nymeros</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Gimbo Stripper
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                199.25
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33757">Hanna Patterson</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                193.98
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29664">Harley Watts</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Casual Players</b></span>
            </td>
            <td>
                Rat Thief
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                162.37
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31807">Akira Shindou</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Kitten Boi
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                158.10
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29698">Melli Norton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu Hazing Committee</b></span>
            </td>
            <td>
                Egyptian Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                151.82
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33561">Brennan Jaynes</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                118.23
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29707">Matthew Palmer</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Animal Ranch</b></span>
            </td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                115.76
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31127">Julio Jansen</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                93.52
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31049">Mini Me</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Casual Players</b></span>
            </td>
            <td>
                Platform heels
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                61.50
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30955">Julian Chance</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                58.32
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/32175">Shawn Wylde</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                57.87
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31948">Skylar Orozco</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                41.62
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/32044">Mandy Randolph</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Tribal Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                27.88
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30896">Sage Trapp</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Oldoak Escorts</b></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                19.33
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29737">Will Riddick</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Valiant Valkyrie
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                15.42
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30854">Lazy Loki</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                10.09
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29752">Derek Green</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                6.91
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29776">Bunbun Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                3.69
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/34473">Cnaeus Alves</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Quiet Revolution</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                3.00
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29780">Seakas Nightshade</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Nights Paw</b></span>
            </td>
            <td>
                Rat Thief
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                2.78
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/32110">Vanessa Larsen</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Elvish Bard
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                1.20
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29675">Dusk Soma</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                419.00
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33268">Rebecca Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                408.29
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31097">Elinor Libby</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>SCCC Students and Faculty</b></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                374.49
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30983">Homer Clemente</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                White Tiger
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                354.22
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31993">Kayliegh Wynters</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                321.07
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33417">Charlie Harper</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Knights of the King</b></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                315.07
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31222">Fae Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                279.57
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30979">Alex Watts</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                267.33
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29674">Israel Valentine</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                250.95
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30974">Tania Shanahan</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                240.49
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31205">Bruce Gamboa</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                230.83
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29747">David Drake</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>SCCC Students and Faculty</b></span>
            </td>
            <td>
                Gimbo Stripper
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                225.70
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29753">Alice Shadowfall</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                207.69
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29750">Milagros Loya</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                206.99
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31008">Molly Mcfall</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                The Pink Pulsar
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                198.87
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29792">Kaden Leavitt</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Cross Gender Chaos</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                180.00
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31484">Soren Raus</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Animal Ranch</b></span>
            </td>
            <td>
                Femboi Skunk
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                177.82
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31101">Keyne Vangsten</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Crystal Keepers</b></span>
            </td>
            <td>
                Female Possesed Armor
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                164.50
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/34089">Vik Zothique</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Animal Ranch</b></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                162.11
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31400">Starfire Logue</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                153.04
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29775">Nekomancer Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                144.40
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31903">Matt Locke</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unicorn Mare
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                143.40
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31884">Austin Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Usagi Shrine Maidens</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                139.00
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30859">Shadow Labrys</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Dainty Birdgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                122.56
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29781">Beta Usagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                117.84
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29729">Kate Savage</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                106.07
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29640">Katherine Stamegna</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                103.29
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29768">Alexander Romero</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Black Latex Pants
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                99.21
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/31427">Toby Wilkins</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Platform heels
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                81.03
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33328">Gaige Craven</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                76.95
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29783">Michelle Harlanda</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                70.46
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29732">Mie Sucksgood</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                70.22
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/29754">Jackie Namara</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Runic Dildo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                68.82
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/33802">Tate Slaton</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                64.02
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/30839">Jelena Damjanovic</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                57.73
            </td>
        </tr>

    </tbody>



</table>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>