@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 1 (Era of Julia Medina)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Form</th>
            <th>Mobility</th>

            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2534">Julia Medina</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                10
            </td>
            <td>
                24.29
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/639">Eric Trend</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Short Guy
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                9
            </td>
            <td>
                310.39
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2218">Hope Wallace</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                9
            </td>
            <td>
                -1.00
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2207">Wesley Day</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                8
            </td>
            <td>
                340.29
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/645">Circine Milton</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                8
            </td>
            <td>
                8.93
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2372">Ash Lander</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                8
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3154">Kiara Kitsu</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                584.85
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/823">Plato Marsh</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Sleek, Fiery Skateboard
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                7
            </td>
            <td>
                555.80
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3245">Ranko Saotome</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                495.57
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/542">Romain Deschamps</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                440.91
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3213">Tabitha Hicks</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                364.62
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2193">Arin Lancaster</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                309.11
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2778">Scipio Revenge</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                300.13
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2318">Amber Anderson</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                276.29
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3093">Pilcrow Shade</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                143.12
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3884">Baby Cakes</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                7
            </td>
            <td>
                23.03
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2579">Daniel Garcia</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                457.45
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/790">Ellipsis Shade</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                244.64
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3352">Xanthia Silver</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                239.33
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3427">Joe Hawthorne</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                185.53
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4072">Danny Rp</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                158.86
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/1974">Aelia Harper</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                115.51
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2212">Aeilianus Longfellow</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                80.01
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2094">Bess Wells</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                69.20
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3527">Ella Caesar</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Leopard Patterned Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                55.40
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3217">Wrenni Zephyr</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                49.99
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/732">Aristokles Myers</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Leopard Patterned Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                38.88
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3566">Nym Rain</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                29.33
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3500">Goodthing Goin</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                25.00
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3288">Jossie Koi</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                24.25
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/650">Kiara Mason</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                20.42
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/574">Brook Shaw</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                17.32
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2656">Chay Hauenstein</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                13.12
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3412">Alex Evans</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                6.43
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2167">Scipio Africanus</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Glossy Marble Statuette
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                5.96
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2368">Aeimilia Steele</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                3.90
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3296">Zeus Barry</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                3.60
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3267">Candy Duke</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                2.99
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2405">Lilah Watson</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                2.76
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2956">Matt Locke</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4115">Heather Heartcrusher</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Glossy Marble Statuette
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2309">Eileen Mayer</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                370.23
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3047">Carrie Tucker</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                364.52
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3020">Kamanche Tournamay</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                355.80
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/630">Hera Ford</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Glossy Marble Statuette
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                355.65
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4081">Solace Hallen</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                348.56
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2958">Edmond Nichols</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                344.62
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/1989">Chip Hall</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                318.91
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2074">Nero Marshall</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                306.14
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/450">Jessie Clayton</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                275.61
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3907">Anthony Reaver</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                263.59
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3113">Nymic Darkling</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                260.62
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2901">Devin Trate</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                256.05
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2906">Ryan White</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                254.02
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4237">Rachel Smith</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                246.63
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/664">Genie Mixemup</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                246.24
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2724">Nicolai Romaroviv</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                242.05
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3060">Jubba Hatt</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                226.06
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3517">Heather Heartbreaker</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                223.64
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2273">Quintus Sumter</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                205.31
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/1905">Norah Dunn</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                191.88
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4271">Zeus Hamilton</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                180.86
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3099">Noire Autumn</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Black Latex Pants
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                170.00
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2140">Betty Cunningham</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                154.44
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4773">Alonira Straud</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                150.29
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2247">Jimmy Black</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Silk Tight Tube Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                145.21
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/383">John Reynolds</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Leopard Patterned Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                135.36
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3116">Van Halen</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                135.25
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2277">Tabitha Antony</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                125.82
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/347">Hans Shaw</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                122.43
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3496">Mitch Black</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                120.25
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2137">Corian Vale</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                119.84
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2790">Leon Peterson</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                116.75
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3106">Justin Colte</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                101.27
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3238">Aelia Tall</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                90.74
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2697">Christopher Smiththesecond</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                84.62
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4137">Serra Wilson</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                84.46
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3642">Oda Nobunaga</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                80.98
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/594">Bessie Kimbel</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                80.32
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2483">Iris Haas</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                77.36
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/561">Michael Knight</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                75.63
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3036">Josh Johnson</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Silk Tight Tube Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                74.97
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2567">Rex Patel</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                70.45
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4015">Arthur Pitt</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                69.24
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2959">Bessie Snyder</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                61.43
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2104">Gale Graves</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                59.09
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3979">Neluna Burke</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                54.33
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3852">Alexander Romero</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                41.87
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/822">Moe Brooks</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                40.64
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3647">Andy Hawkins</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                39.67
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/621">Amy Hunter</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                30.57
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2678">Lysandra Bravehart</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                27.97
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2352">Tony Venusela</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                27.28
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2024">Sarah Motors</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                27.19
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3018">Jaime Miller</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                24.73
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3408">Dawn Foster</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                21.41
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2554">Hambo Bambo</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                18.56
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/4337">Smmity Werbenjagermanjensen</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                18.16
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/3825">Hestia Mayer</a>
                <span class="icon icon-male"></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                13.65
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/2131">Alan Hicks</a>
                <span class="icon icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                13.16
            </td>
        </tr>
    </tbody>

</table>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>