<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>20,214</b></p>
            <p>
                <a href="/pvp/lookatplayer/568732">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (20,214)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (10,848)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/569631">Ku Fang</a> (9,050)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568786">Kikoro Lunetsu</a> (8,011)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/571507">Elise Rose</a> (6,324)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568753">Belladonnya Nyekobornya</a> (5,240)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (5,120)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/572158">Marla Wendt</a> (4,908)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568702">Meowrinya Nyekobornya</a> (4,846)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568730">Marcellus Ravencrow</a> (4,470)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,791</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (2,791)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (2,241)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (1,955)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (1,684)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/573387">Nico Witcher</a> (1,507)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/570988">George Stoff</a> (1,415)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/570330">Beverly Michaud</a> (1,187)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/575540">Austin Stokes</a> (1,120)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569528">Julian Delphki</a> (1,079)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (1,066)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>13,385</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (13,385)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/570988">George Stoff</a> (12,435)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (12,094)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (8,859)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (7,563)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/573387">Nico Witcher</a> (6,115)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/572098">Trenton Horn</a> (6,031)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/573825">Richard Masivo III</a> (5,861)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568909">Leah Broxton</a> (5,307)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569061">Ash Cloud</a> (5,139)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>725</b></p>
            <p>
                <a href="/pvp/lookatplayer/568777">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (725)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (669)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570374">Jedidiah Gearhart</a> (652)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (595)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/570098">Joe Hawthorne</a> (589)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/570988">George Stoff</a> (579)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (566)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (563)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (511)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (499)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,327</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (1,327)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (1,121)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/573387">Nico Witcher</a> (948)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (880)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568706">Mewlix Ruffles</a> (800)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/575226">Aubrey Fels</a> (771)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (743)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/572563">Tara Rose</a> (716)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/572501">Sarah Blocker</a> (700)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/575540">Austin Stokes</a> (639)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/limbless_balloon_girl_blaca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,064</b></p>
            <p>
                <a href="/pvp/lookatplayer/569898">Vanilla Cream</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/569898">Vanilla Cream</a> (1,064)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/573176">Stacy He</a> (785)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/569418">Tiffany Wells</a> (697)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/572563">Tara Rose</a> (653)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568706">Mewlix Ruffles</a> (640)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/575226">Aubrey Fels</a> (602)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569010">Steph Harp</a> (365)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569383">Justin Hewitt</a> (340)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568786">Kikoro Lunetsu</a> (340)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569076">Nadia Ayers</a> (329)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>62,720</b></p>
            <p>
                <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (62,720)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (55,120)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (20,740)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (19,200)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568784">Dark Blade</a> (16,000)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569898">Vanilla Cream</a> (12,740)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/572563">Tara Rose</a> (11,940)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568807">Ophelia Hildreth</a> (11,500)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/572501">Sarah Blocker</a> (10,420)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569843">Eli Black</a> (10,400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>404</b></p>
            <p>
                <a href="/pvp/lookatplayer/568732">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (404)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (295)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (181)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (140)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (127)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/575226">Aubrey Fels</a> (87)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569843">Eli Black</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/572563">Tara Rose</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568786">Kikoro Lunetsu</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570988">George Stoff</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>59</b></p>
            <p>
                <a href="/pvp/lookatplayer/569863">Shallan Valence</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/569863">Shallan Valence</a> (59)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (40)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570279">Kaede Yamabuki II</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/575540">Austin Stokes</a> (35)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/573104">Mir Lawrence</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/573678">Lillian Hudspeth II</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570330">Beverly Michaud</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569464">Alex Silverman</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568844">April Wolf</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/570301">Shuvi Dola</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570301">Shuvi Dola</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/579882">Stardust Revolution II</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/580229">Final Fantasy II</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/576220">Sindy One IV</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/578973">Lucile Jasper</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568812">Tyler Utyr</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/575766">Experimental River</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/571248">Leila Cyria</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/575672">Richelle Pierce</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/576739">Willie Battle V</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/pvp/lookatplayer/570301">Shuvi Dola</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570301">Shuvi Dola</a> (5)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/572877">Andy Sweep</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/574799">Natalyn Linara</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/579323">Frey Black II</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/580147">Tara Limon</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/571210">Molly Sparrow</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/574380">Dianne Maggard II</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/575226">Aubrey Fels</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/576739">Willie Battle V</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/573139">Sophia Vickers</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>86</b></p>
            <p>
                <a href="/pvp/lookatplayer/575540">Austin Stokes</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/575540">Austin Stokes</a> (86)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/573387">Nico Witcher</a> (70)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (66)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570330">Beverly Michaud</a> (60)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568844">April Wolf</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (44)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569243">Ritter Maverick</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569863">Shallan Valence</a> (42)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568788">Todd Hewitt</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/576979">Sophia Conner</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>238</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (238)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (181)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570988">George Stoff</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569528">Julian Delphki</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/572501">Sarah Blocker</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570279">Kaede Yamabuki II</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/577651">Sophie Seibert</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568706">Mewlix Ruffles</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_nun_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>96</b></p>
            <p>
                <a href="/pvp/lookatplayer/568899">Henny Wun</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (96)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568832">Eric Finney</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569243">Ritter Maverick</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/572877">Andy Sweep</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569643">Will Wolf</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/570514">Erica Dugan</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569799">Razor Hardwick</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>224</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (224)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (213)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (137)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570988">George Stoff</a> (72)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/569528">Julian Delphki</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/570279">Kaede Yamabuki II</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/577651">Sophie Seibert</a> (39)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569907">Cassie Medici</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570853">Dawid Wolf</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/unicorn_stallion_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/575475">Lefty Peter</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/575475">Lefty Peter</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/569243">Ritter Maverick</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/578898">Talisa Stormbringer</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568891">Grace Lalonde</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/578363">Robyn Murry</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568915">Jamarion Zuniga</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569863">Shallan Valence</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/573801">Sunny Furret II</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568953">Crystal Moyer</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>88</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (88)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (86)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (65)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/570988">George Stoff</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568784">Dark Blade</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568701">Shredster Khan</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568731">Britt Wiccanshire</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/570374">Jedidiah Gearhart</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570374">Jedidiah Gearhart</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/575475">Lefty Peter</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568909">Leah Broxton</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/570098">Joe Hawthorne</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569843">Eli Black</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/regenerating_chocolate_bunny_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,950</b></p>
            <p>
                <a href="/pvp/lookatplayer/568707">Chocolate Bunny</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568707">Chocolate Bunny</a> (24,950)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568714">Markus Drake</a> (24,725)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568769">Kyrah Binbow</a> (24,490)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568898">Tatiana Kembrielle</a> (23,755)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568709">Andrea Vanness</a> (22,665)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569689">Jessica's Cloak</a> (19,170)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/571141">Elizabeth Reynolds</a> (18,270)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568783">Boo Bee</a> (17,980)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568721">Madge Mercy</a> (17,910)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568862">Kissable Lipples</a> (17,335)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tiny_mouse_girl_curry_senpai.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,675</b></p>
            <p>
                <a href="/pvp/lookatplayer/568792">Princess Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568792">Princess Angelica</a> (24,675)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568787">Allyssa Adams</a> (24,100)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/571949">Emily Hart II</a> (22,175)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568779">Forevers Pet</a> (21,980)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568946">Melina Mercy</a> (19,585)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568725">Gwen Majors</a> (15,845)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/576396">Trish Raila II</a> (12,560)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569765">Jessica's Slave</a> (11,540)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/574790">Marcella Pressley</a> (10,938)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569252">Mystle Obelyn</a> (10,600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>57,470</b></p>
            <p>
                <a href="/pvp/lookatplayer/568732">Varin Elderblood</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (57,470)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (52,819)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570988">George Stoff</a> (21,144)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (19,819)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (17,881)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569843">Eli Black</a> (17,591)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568784">Dark Blade</a> (16,200)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570330">Beverly Michaud</a> (14,538)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/577664">Purple Haze</a> (14,013)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568764">Serinda Skysong</a> (13,175)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_nun_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>49,684</b></p>
            <p>
                <a href="/pvp/lookatplayer/568899">Henny Wun</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (49,684)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/575873">Eador Masterson</a> (3,807)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/571974">Jeff Madson III</a> (1,017)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/572877">Andy Sweep</a> (1,011)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/572795">Sylvie Cs</a> (1,005)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/570176">Caiden Berger</a> (816)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569659">Jessica Angels</a> (778)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570592">Beth Bound</a> (529)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/572483">Cassianus Himes II</a> (509)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570853">Dawid Wolf</a> (506)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_nun_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>51,792</b></p>
            <p>
                <a href="/pvp/lookatplayer/568899">Henny Wun</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (51,792)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/575475">Lefty Peter</a> (6,987)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568807">Ophelia Hildreth</a> (4,743)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/572563">Tara Rose</a> (2,340)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (1,870)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/577664">Purple Haze</a> (1,676)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569076">Nadia Ayers</a> (885)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568764">Serinda Skysong</a> (771)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/571820">Joni Robledo</a> (686)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/578973">Lucile Jasper</a> (672)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>627</b></p>
            <p>
                <a href="/pvp/lookatplayer/569631">Ku Fang</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/569631">Ku Fang</a> (627)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/573825">Richard Masivo III</a> (620)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/569243">Ritter Maverick</a> (600)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569533">Sterling Shadow</a> (584)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/573285">Iris Smiley</a> (527)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569201">Mitchell Wooten</a> (527)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/571507">Elise Rose</a> (394)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570943">Leann Ring</a> (350)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/574922">Quinn Winn</a> (327)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/571572">Zephyr Khayne</a> (310)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hulking_hellspawn_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>344</b></p>
            <p>
                <a href="/pvp/lookatplayer/577664">Purple Haze</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/577664">Purple Haze</a> (344)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/570988">George Stoff</a> (311)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/569896">Vivianne Mcqueen</a> (221)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568832">Eric Finney</a> (83)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/569843">Eli Black</a> (74)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (67)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (65)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/572567">Nyasa Meownya</a> (54)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/575792">Enna Shiannodel II</a> (49)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570501">Lucy Love</a> (49)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/577241">Jamie Porterfield II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/577241">Jamie Porterfield II</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/572483">Cassianus Himes II</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/575475">Lefty Peter</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/575417">Milo Cabral</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/570098">Joe Hawthorne</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/571997">Cursemaker Nix</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570943">Leann Ring</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/577739">Allytha Mcfarlane</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569863">Shallan Valence</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/570188">Lucy Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/569040">Jacqueline Tancara</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/577241">Jamie Porterfield II</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568953">Crystal Moyer</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/570188">Lucy Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/569863">Shallan Valence</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568728">Jem Quinn</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570943">Leann Ring</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568953">Crystal Moyer</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/573387">Nico Witcher</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/572877">Andy Sweep</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/571923">Kandi Holcomb</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569843">Eli Black</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/572483">Cassianus Himes II</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/570301">Shuvi Dola</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/570301">Shuvi Dola</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568812">Tyler Utyr</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/580229">Final Fantasy II</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/575766">Experimental River</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/571248">Leila Cyria</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/576220">Sindy One IV</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/576986">Katharine Flynn</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570764">Sath Oon</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569710">Abbie Lawson</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570196">Summer Luvin</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>353</b></p>
            <p>
                <a href="/pvp/lookatplayer/568749">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (353)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (313)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (153)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570988">George Stoff</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (34)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568732">Varin Elderblood</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/568784">Dark Blade</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568731">Britt Wiccanshire</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568706">Mewlix Ruffles</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569433">Matt Draco</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568807">Ophelia Hildreth</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568786">Kikoro Lunetsu</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/573176">Stacy He</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/574177">Olivia Townes III</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/572098">Trenton Horn</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/572158">Marla Wendt</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/577419">Kaylee Jinx</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569061">Ash Cloud</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>7,565</b></p>
            <p>
                <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (7,565)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (3,540)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570988">George Stoff</a> (2,660)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569040">Jacqueline Tancara</a> (1,610)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (1,085)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569896">Vivianne Mcqueen</a> (600)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/571700">Quinn Weeble</a> (590)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/570835">Rene Hawks</a> (575)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569843">Eli Black</a> (525)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/569243">Ritter Maverick</a> (450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>41</b></p>
            <p>
                <a href="/pvp/lookatplayer/576715">Loop Sword IV</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/576715">Loop Sword IV</a> (41)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/571974">Jeff Madson III</a> (37)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570101">Max Conner</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/570638">Maiya Averlane</a> (29)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/573123">Sorrow Storm</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/569061">Ash Cloud</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/574701">Blanche Cody</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569993">Drusilla Neville</a> (25)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/570943">Leann Ring</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570098">Joe Hawthorne</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/569606">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/569606">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568730">Marcellus Ravencrow</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/570988">George Stoff</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/569857">James Rucker</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/571974">Jeff Madson III</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/570638">Maiya Averlane</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/574904">Alex Waggoner</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/569702">Crystal Vixen II</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/569061">Ash Cloud</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/568731">Britt Wiccanshire</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_nun_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,648</b></p>
            <p>
                <a href="/pvp/lookatplayer/568899">Henny Wun</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568899">Henny Wun</a> (1,648)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/577564">Lily Lockheart</a> (883)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568786">Kikoro Lunetsu</a> (512)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/568764">Serinda Skysong</a> (431)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568749">Iris Waldron</a> (390)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/568909">Leah Broxton</a> (376)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/570279">Kaede Yamabuki II</a> (345)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/573099">Jack Ofaeltraeds IV</a> (339)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/573944">Dani Palmira</a> (315)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (298)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>184</b></p>
            <p>
                <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/568700">Kasey Wolfheart</a> (184)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/568953">Crystal Moyer</a> (139)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/568706">Mewlix Ruffles</a> (104)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/576992">Kau Moo</a> (94)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/568883">Luca Micheals</a> (92)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/571507">Elise Rose</a> (80)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/570188">Lucy Frost</a> (75)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/568712">Futa Lover</a> (67)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/568777">Elle Sawyer</a> (54)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/570392">Alex Ferrer</a> (52)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>