<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (12,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (9,317)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (7,467)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (4,722)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551682">Sarah Sheer</a> (4,103)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551042">Beatryka Mane</a> (3,418)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551890">Eli Black</a> (3,270)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/558770">Mike Donald II</a> (3,244)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555990">Adrienne Medlin</a> (3,121)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551183">Fiona Chan</a> (3,016)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,802</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (3,802)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (1,808)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (1,582)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (1,377)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (1,235)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (1,184)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (1,036)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (978)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (959)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551757">Terrie Thong</a> (957)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>12,341</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (12,341)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (8,279)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (5,596)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (5,375)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (4,853)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (4,606)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (4,338)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (3,772)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (3,349)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/550991">Witch Maria</a> (3,344)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,801</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (2,801)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (725)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (517)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (508)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (493)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (445)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/552155">Jayde Capello II</a> (425)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551307">Nova Duskstar</a> (416)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (374)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (353)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,512</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (1,512)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (1,004)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (954)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551477">Mr Derik</a> (675)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (654)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (628)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (615)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551307">Nova Duskstar</a> (595)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551025">Simone Verdin</a> (585)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551757">Terrie Thong</a> (578)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,312</b></p>
            <p>
                <a href="/pvp/lookatplayer/551477">Mr Derik</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551477">Mr Derik</a> (1,312)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (1,268)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551307">Nova Duskstar</a> (714)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/550995">Eador Masterson</a> (532)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551795">Sissy Justice</a> (436)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551042">Beatryka Mane</a> (344)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (318)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551018">Markus Drake</a> (304)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (274)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (216)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/star_studded_cloak_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>100,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/550987">Angie Looper</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/550987">Angie Looper</a> (100,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (27,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (22,900)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (16,900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (15,940)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (10,000)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (9,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/554593">Squeaky Dress</a> (7,340)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551274">Ophelia Hildreth</a> (6,500)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (6,000)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>356</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (356)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (159)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (154)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (116)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (51)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>79</b></p>
            <p>
                <a href="/pvp/lookatplayer/551270">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (79)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (70)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551757">Terrie Thong</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551183">Fiona Chan</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551206">Shredster Khan</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551130">Todd Hewitt</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/557923">Queen Awilix</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/554419">Nyasa Meownya</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551008">Jade Quiroz</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/557117">Mirabelle Thorne</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/557923">Queen Awilix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/557923">Queen Awilix</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/558770">Mike Donald II</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551532">Final Fantasy</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551829">Seyku Aoki</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/552527">Charolette Jammes</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551207">Joanne Momma</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/556057">Kaede Yamabuki VI</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/554990">Viennya Nyekobornya V</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/554861">Jin Ryuken</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/556948">Alex Aereathia V</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bound_and_helpless_kitten_Ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>4</b></p>
            <p>
                <a href="/pvp/lookatplayer/556057">Kaede Yamabuki VI</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/556057">Kaede Yamabuki VI</a> (4)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/550990">Keith Hall</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/557403">Nikki Mirage V</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/559244">Nikki Landers</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/558770">Mike Donald II</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/554688">Alice Lewis</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/554990">Viennya Nyekobornya V</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/556760">Justin Colton II</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551850">Dawid Wolf</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/556489">Lulu Cyria</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>73</b></p>
            <p>
                <a href="/pvp/lookatplayer/551270">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (73)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (61)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551757">Terrie Thong</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551130">Todd Hewitt</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551712">Liff Arknil</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551219">Luna Moonwell</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/552481">Anderson Toney</a> (31)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/552425">Seraphina Dragon</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>358</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (358)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (93)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (90)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (83)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (57)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551546">Marvin White</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>37</b></p>
            <p>
                <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (37)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551237">Will Wolf</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/552995">Candy Jacobson III</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551025">Simone Verdin</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/557640">Tyler Utyr II</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551546">Marvin White</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>240</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (240)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (102)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (88)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (88)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (78)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551546">Marvin White</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/552995">Candy Jacobson III</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/552284">Sarah Ainsley</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551033">Lilith Valentine</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/552425">Seraphina Dragon</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/552098">Oddette Fio</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551279">Maya Kaydee</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551025">Simone Verdin</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551193">Denise Whittleston</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551138">Grace Daner</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>78</b></p>
            <p>
                <a href="/pvp/lookatplayer/551270">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (78)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (61)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (52)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (36)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551206">Shredster Khan</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551279">Maya Kaydee</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551018">Markus Drake</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/552836">Keri Lynch</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/555856">Jennifer Vanwinkle</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551118">Nerati Sua</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/star_studded_cloak_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>25,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/550987">Angie Looper</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/550987">Angie Looper</a> (25,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/552236">Key 'Cowgirl' Item</a> (18,850)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551214">Auly Jua</a> (18,290)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551349">Hailey Kitsu</a> (18,045)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551170">Sylvie Cs</a> (16,445)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/552684">Tatiana Kembrielle</a> (16,383)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551229">Charlie Jammes</a> (16,155)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551217">Annabelle Jumeau</a> (15,420)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551285">Azure Rose</a> (15,190)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551895">Phoebe Stormbringer</a> (15,160)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,985</b></p>
            <p>
                <a href="/pvp/lookatplayer/551000">Princess Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551000">Princess Angelica</a> (24,985)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551092">Allyssa Adams</a> (24,670)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551047">Melina Mercy</a> (21,705)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551110">Lakeisha Weatherly</a> (19,810)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551176">Tammy Paw</a> (17,740)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551072">Forevers Pet</a> (17,205)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551069">Wolfgirl Airi</a> (14,995)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551152">Gwendolyn Mccloskey</a> (14,820)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/556489">Lulu Cyria</a> (13,525)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551310">Gwen Majors</a> (12,895)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>60,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (60,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (15,625)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/550993">Varin Elderblood</a> (15,114)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (14,086)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/552591">Kitty Thorpe</a> (10,858)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (10,460)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (9,882)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (9,230)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551183">Fiona Chan</a> (9,141)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (9,030)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>900</b></p>
            <p>
                <a href="/pvp/lookatplayer/553295">Gina Harris</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/553295">Gina Harris</a> (900)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/556119">Cora Milligan</a> (849)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551040">Tim Bacon</a> (702)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551206">Shredster Khan</a> (678)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/558770">Mike Donald II</a> (635)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/553864">Geneva Tanaka</a> (600)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/552995">Candy Jacobson III</a> (549)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/553436">Xander Nikos</a> (528)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551042">Beatryka Mane</a> (477)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551041">Tomas Spence</a> (450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>18,747</b></p>
            <p>
                <a href="/pvp/lookatplayer/550996">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (18,747)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/557331">Penny Fletcher</a> (1,862)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (1,790)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/554688">Alice Lewis</a> (1,236)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551078">Kieran Seekshadow</a> (1,118)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/556119">Cora Milligan</a> (982)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/552571">Erica Nyan</a> (898)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/558278">Landry Coulter</a> (891)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551948">Lefty Carter</a> (827)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/557982">Frances Frasier</a> (786)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,564</b></p>
            <p>
                <a href="/pvp/lookatplayer/551355">Nyx Kane</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (1,564)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (647)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551643">Robyn Riggs</a> (509)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/552147">Milky Tits</a> (462)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551413">Brett Morph</a> (378)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551083">Rita Vela</a> (377)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551736">Ziggy Second</a> (333)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551295">Selina Muliaina</a> (300)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555332">Cassianus Himes II</a> (300)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551811">Jack Saw</a> (282)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>700</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (700)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (352)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (184)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/552104">Kolton Wild</a> (108)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551078">Kieran Seekshadow</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/555992">Dennis Pineda</a> (49)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551694">Serene Rockweiler</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/555520">Tiffany Anders</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/557364">Sofie Howard</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/555843">Patrica Ledoux</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>120</b></p>
            <p>
                <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551630">Whitney Lockwood</a> (33)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551244">Jacqueline Tancara</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/556057">Kaede Yamabuki VI</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/557982">Frances Frasier</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/555332">Cassianus Himes II</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/552481">Anderson Toney</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551518">Steve Gilbert</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/555990">Adrienne Medlin</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>103</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (103)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551983">Krista Rankin</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/human_absorption_smuggler_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>478</b></p>
            <p>
                <a href="/pvp/lookatplayer/557364">Sofie Howard</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/557364">Sofie Howard</a> (478)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551983">Krista Rankin</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/558435">Nyia Redwyrm II</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551025">Simone Verdin</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>5,689</b></p>
            <p>
                <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (5,689)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (2,158)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/557982">Frances Frasier</a> (1,161)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551630">Whitney Lockwood</a> (1,091)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/556057">Kaede Yamabuki VI</a> (644)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/555332">Cassianus Himes II</a> (387)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551244">Jacqueline Tancara</a> (321)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551983">Krista Rankin</a> (197)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/552481">Anderson Toney</a> (165)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551948">Lefty Carter</a> (153)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/557923">Queen Awilix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/557923">Queen Awilix</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/558770">Mike Donald II</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551532">Final Fantasy</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551829">Seyku Aoki</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551207">Joanne Momma</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/555084">Valerius Dorn</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/557032">Minjin Kim</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/552527">Charolette Jammes</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/557403">Nikki Mirage V</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/557640">Tyler Utyr II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/551167">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (76)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (44)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (36)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551613">Hezekiah Gotobed</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551206">Shredster Khan</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/554688">Alice Lewis</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>78</b></p>
            <p>
                <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (78)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551033">Lilith Valentine</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551719">Vanilla Cream</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/552147">Milky Tits</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551941">Spyrys Zerkalo</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551890">Eli Black</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/555641">Calvin Reustyrn</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551146">Kenny Hyde</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,100</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (10,100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (6,550)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (2,825)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (2,075)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551018">Markus Drake</a> (1,665)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551244">Jacqueline Tancara</a> (855)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (855)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551359">Raven Aoki</a> (830)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551983">Krista Rankin</a> (810)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551284">Karen Blackheart</a> (720)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>37</b></p>
            <p>
                <a href="/pvp/lookatplayer/551355">Nyx Kane</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (37)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/553533">Trixy Madchen</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551245">Kira Lillend</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/552252">Brandon Townes</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551365">Melva Lay</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551413">Brett Morph</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/556402">Sonya Volz</a> (21)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551491">Anne Red</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551104">Robin White</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551941">Spyrys Zerkalo</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/551018">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551018">Markus Drake</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551712">Liff Arknil</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/553533">Trixy Madchen</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/554624">Juli Invincible</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/552776">Al Loy II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/555990">Adrienne Medlin</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>5,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551002">Lara Ithilwen</a> (5,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551270">Iris Waldron</a> (715)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551355">Nyx Kane</a> (602)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/550991">Witch Maria</a> (555)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/550996">Nadia Ayers</a> (384)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551033">Lilith Valentine</a> (350)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551081">Sarah Snow</a> (278)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551032">Jin Locke</a> (245)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (179)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551167">Henny Wuns</a> (155)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>1,691</b></p>
            <p>
                <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/551001">Yuriko Oyama</a> (1,691)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/551020">Kyrah Amantes</a> (110)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/551102">Riley Sorell</a> (107)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/555469">Allyson Poe II</a> (106)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/551896">Gayle Gunn II</a> (72)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/551123">Eve Faedrin</a> (64)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/551035">Crystal Whyte</a> (62)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/551022">Taylor Swift</a> (59)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/551420">Kinello Herone</a> (56)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/551152">Gwendolyn Mccloskey</a> (50)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>