<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>24,900</b></p>
            <p>
                <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a> (24,900)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (11,831)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/949287">Catherine Moonlight</a> (7,940)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (7,194)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/948051">Vanilla Cream</a> (6,670)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (6,552)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/950556">Katherine Nyekobornya</a> (6,304)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (6,086)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947731">Alexa Hexa</a> (5,676)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/948294">Chloe Rihavein</a> (4,672)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,124</b></p>
            <p>
                <a href="/pvp/lookatplayer/947249">Martha Keene</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (3,124)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (2,412)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (2,116)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (1,720)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (1,560)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (1,527)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (1,460)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (1,443)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (1,261)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (1,127)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>16,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/947484">Lucky Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (16,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (11,480)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (10,392)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (10,241)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (8,867)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (8,487)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947807">Hugh Wanasukit</a> (8,169)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (7,656)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (7,065)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (6,343)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,157</b></p>
            <p>
                <a href="/pvp/lookatplayer/947162">Joseph Wow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (2,157)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (1,791)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (1,506)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (1,469)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (1,461)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (1,242)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (1,128)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (1,085)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (920)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (864)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,967</b></p>
            <p>
                <a href="/pvp/lookatplayer/947249">Martha Keene</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (1,967)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (1,227)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947217">April Natari</a> (1,166)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947235">Sockubus Noreen</a> (1,150)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (1,051)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947214">Pie Pies</a> (1,049)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947169">Miss Bessie</a> (935)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (894)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (885)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (847)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bee_girl_spacedande.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,869</b></p>
            <p>
                <a href="/pvp/lookatplayer/947217">April Natari</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947217">April Natari</a> (1,869)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947169">Miss Bessie</a> (1,504)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947235">Sockubus Noreen</a> (881)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948051">Vanilla Cream</a> (532)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947313">Beatryka Mane</a> (527)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (389)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/949287">Catherine Moonlight</a> (361)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948413">Regan Powell</a> (319)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (297)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947738">Ali Hain</a> (271)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>110,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/947484">Lucky Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (110,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (43,800)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (35,600)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (28,500)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (27,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (15,200)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (12,400)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947692">Adora Easterbunny</a> (11,860)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (10,160)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a> (9,240)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>185</b></p>
            <p>
                <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a> (185)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947240">Lumina Kitsuray</a> (123)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (49)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (23)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947594">Smallkota Greir</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/947719">Silver Fischer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (40)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947214">Pie Pies</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/954691">Chibi Red V</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947255">Tomiko Hewitt</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947277">Ditzy Babs</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948604">Aviendia Kenvel</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947217">April Natari</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/djinn_slave_Dauname.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/957165">Keegan Poower</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/957165">Keegan Poower</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/957600">Malik Quinn</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/956186">Josh Freitas</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/950367">Jesse Cotton</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/952223">Patsy Coughlin</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947830">Mystle Obelyn</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/950426">Zypher Watts II</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/950556">Katherine Nyekobornya</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/950539">Charlotte Ashcroft</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/djinn_slave_Dauname.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/957165">Keegan Poower</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/957165">Keegan Poower</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/955225">Mariah Large</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/952223">Patsy Coughlin</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/957600">Malik Quinn</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/950317">Marci Teel</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/957179">Prince Avili</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948344">Jake Miller</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947734">Starfire Logue</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947830">Mystle Obelyn</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/adorable_kitty_boy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>144</b></p>
            <p>
                <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (144)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947255">Tomiko Hewitt</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/948604">Aviendia Kenvel</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947169">Miss Bessie</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947413">Stoney Panda</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947866">Kenny Plaza</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (22)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>246</b></p>
            <p>
                <a href="/pvp/lookatplayer/947249">Martha Keene</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (246)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (101)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (60)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (51)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (43)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cupcake_demon_luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/947623">Eric Finney</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (24)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947240">Lumina Kitsuray</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/950539">Charlotte Ashcroft</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/950704">Catalina Williams</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>268</b></p>
            <p>
                <a href="/pvp/lookatplayer/947249">Martha Keene</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (268)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (101)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (82)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (46)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/950539">Charlotte Ashcroft</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/947214">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947214">Pie Pies</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/948228">Whorsymaster Nines</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948059">Jess Kitsune</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/950135">Lynn Dupre</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947960">Kaitlyn Halliwell</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947738">Ali Hain</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>57</b></p>
            <p>
                <a href="/pvp/lookatplayer/947651">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (57)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947161">Robin Flynn</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947731">Alexa Hexa</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/athletic_cheetah_girl_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/948228">Whorsymaster Nines</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/948228">Whorsymaster Nines</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947731">Alexa Hexa</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947841">Steve Welles</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/949864">Lara Summers</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947276">Morgan Drake</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/tied_croptop_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>40,285</b></p>
            <p>
                <a href="/pvp/lookatplayer/947212">Simple Top</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947212">Simple Top</a> (40,285)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947268">Kittygirl Tessie</a> (39,940)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947343">Vanessa Delam</a> (39,160)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947300">Casey's Cock</a> (38,265)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947198">Noreen's Pillow</a> (38,050)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947174">Whorsie's Pleasure</a> (37,750)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947434">Soft Kittyears</a> (37,185)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948003">Spankable Softness</a> (36,970)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948784">Nuplume Drell</a> (35,595)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947492">Squeaky Souris</a> (34,480)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,960</b></p>
            <p>
                <a href="/pvp/lookatplayer/947236">Noreen's Puppy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947236">Noreen's Puppy</a> (39,960)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947199">Auly Jua</a> (38,380)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947185">Kuro Val</a> (37,780)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947465">Oliver Evie</a> (37,365)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947237">Red Rose</a> (31,870)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947461">Eager 'Owned' Puppygirl</a> (30,930)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947657">Fatty Nadipet</a> (30,800)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947303">Wuffies Merchandise</a> (30,050)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947860">Submissive Kitty</a> (29,075)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947266">Whorsie Violet</a> (27,035)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>143,377</b></p>
            <p>
                <a href="/pvp/lookatplayer/947484">Lucky Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (143,377)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (39,399)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (30,950)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (26,525)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (25,112)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (22,481)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (14,823)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (12,626)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948051">Vanilla Cream</a> (10,835)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947692">Adora Easterbunny</a> (10,252)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>4,188</b></p>
            <p>
                <a href="/pvp/lookatplayer/948762">Miss Deeds</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (4,188)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (2,990)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/950539">Charlotte Ashcroft</a> (2,400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (2,328)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (2,259)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/954627">Aisha Warren</a> (1,210)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947200">Yvesza Sua</a> (1,071)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947267">Elias Cantwell</a> (915)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947734">Starfire Logue</a> (876)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/950383">Katty Max</a> (820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>12,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/950405">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/950405">Michael Rochard</a> (12,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (8,870)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/950993">Jasmine Coquine</a> (7,440)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947866">Kenny Plaza</a> (3,720)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/950539">Charlotte Ashcroft</a> (2,720)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (1,250)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947692">Adora Easterbunny</a> (1,220)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947540">Kaede Yamabuki</a> (1,050)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947590">Lefen Hunter</a> (870)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947426">Mayra Nielson</a> (800)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/adorable_kitty_boy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>21,050</b></p>
            <p>
                <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (21,050)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (1,700)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/954441">Misty Lovett II</a> (500)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (410)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947807">Hugh Wanasukit</a> (220)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947391">Genkiro Reynard</a> (210)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/948228">Whorsymaster Nines</a> (210)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947241">Vix Spelloyal</a> (190)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947200">Yvesza Sua</a> (140)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/952138">Spielton Tunningsworth</a> (100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>600</b></p>
            <p>
                <a href="/pvp/lookatplayer/947484">Lucky Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947484">Lucky Gem</a> (600)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/950088">Angela Orosco</a> (186)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (154)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (68)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/948739">Cecily Hayward</a> (34)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/951711">Ashley Valaya</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947217">April Natari</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948727">Max Vella</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/949967">Megan Dye</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/femboi_skunk_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>58</b></p>
            <p>
                <a href="/pvp/lookatplayer/947578">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (58)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947238">Wind Storm</a> (22)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/954627">Aisha Warren</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947435">Lafayette Montaine</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/949737">Ekaterina Vasilov II</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/950367">Jesse Cotton</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947590">Lefen Hunter</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948413">Regan Powell</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948667">Ikkou Alonz</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/femboi_skunk_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/947578">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/949737">Ekaterina Vasilov II</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/954627">Aisha Warren</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/femboi_skunk_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/947578">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947238">Wind Storm</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/950069">Tiffany Anders</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/948495">Caramel Dream</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947435">Lafayette Montaine</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/djinn_slave_Dauname.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/957165">Keegan Poower</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/957165">Keegan Poower</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/952223">Patsy Coughlin</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947830">Mystle Obelyn</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/955225">Mariah Large</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/950367">Jesse Cotton</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/950317">Marci Teel</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/948246">Fried Egg</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/957252">Playful Djinni</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/947651">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (63)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (36)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (31)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947161">Robin Flynn</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947731">Alexa Hexa</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947623">Eric Finney</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>144</b></p>
            <p>
                <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947177">Lulu Fluffystride</a> (144)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/951483">Natalie Steele</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947335">Rob Martinson</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/950163">Kurt Nettles</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/956376">Lam Ron IV</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/femboi_skunk_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>13,615</b></p>
            <p>
                <a href="/pvp/lookatplayer/947578">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (13,615)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (2,445)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (2,275)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947342">Ai Naoi</a> (2,120)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (1,900)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (1,835)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (1,010)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (740)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947249">Martha Keene</a> (700)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (695)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/947214">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947214">Pie Pies</a> (92)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947163">Claire Unity</a> (73)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/951483">Natalie Steele</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947338">Mae Morgan II</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947723">Jake Chambers</a> (32)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/948059">Jess Kitsune</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947895">Candy Cumdump</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/954627">Aisha Warren</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/951711">Ashley Valaya</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/952138">Spielton Tunningsworth</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/study_buddy_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947314">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947426">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/949737">Ekaterina Vasilov II</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947723">Jake Chambers</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947238">Wind Storm</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947895">Candy Cumdump</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/950163">Kurt Nettles</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/954627">Aisha Warren</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/951483">Natalie Steele</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cervine_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>4,294</b></p>
            <p>
                <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (4,294)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (2,089)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/950405">Michael Rochard</a> (936)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (625)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (362)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947395">Rubette Lulette</a> (309)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947441">Lilly Bishop</a> (270)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (239)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947731">Alexa Hexa</a> (232)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/948243">Lindsay Bradley</a> (158)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>135</b></p>
            <p>
                <a href="/pvp/lookatplayer/947161">Robin Flynn</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947161">Robin Flynn</a> (135)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947326">Joe Norakmi</a> (114)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (91)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/950556">Katherine Nyekobornya</a> (78)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947335">Rob Martinson</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947462">Eittan Zima</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/948294">Chloe Rihavein</a> (55)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (53)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947800">Jova Riekan</a> (53)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947267">Elias Cantwell</a> (52)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_04_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>22</b></p>
            <p>
                <a href="/pvp/lookatplayer/950135">Lynn Dupre</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/950135">Lynn Dupre</a> (22)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/950088">Angela Orosco</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947235">Sockubus Noreen</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947241">Vix Spelloyal</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_04_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/950135">Lynn Dupre</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/950135">Lynn Dupre</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/950088">Angela Orosco</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (66)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947234">Ariana Darkness</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947431">Vhaidra Tyl'saris</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947241">Vix Spelloyal</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947277">Ditzy Babs</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>380</b></p>
            <p>
                <a href="/pvp/lookatplayer/948762">Miss Deeds</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (380)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (339)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (217)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (192)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (121)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (100)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (65)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (63)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (62)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/947200">Yvesza Sua</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947200">Yvesza Sua</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (18)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947335">Rob Martinson</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947326">Joe Norakmi</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947453">Devon Barela</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947241">Vix Spelloyal</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>130</b></p>
            <p>
                <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (130)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (105)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (67)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (60)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (38)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947581">Mistress Kitten</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947310">Ellis Hamlin</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>195</b></p>
            <p>
                <a href="/pvp/lookatplayer/948762">Miss Deeds</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (195)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (21)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947387">Princess Lily</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/948344">Jake Miller</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/952223">Patsy Coughlin</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947734">Starfire Logue</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/950317">Marci Teel</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (61)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947302">Nerati 'Gogo's Girlfriend' Sua</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947335">Rob Martinson</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/948604">Aviendia Kenvel</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (49)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (40)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947651">Nadia Ayers</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>150</b></p>
            <p>
                <a href="/pvp/lookatplayer/947925">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947925">Rosa Fortune</a> (150)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (44)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947616">Alice Grayson</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947317">Holly Ryder</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947289">Shredster Khan</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947719">Silver Fischer</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,596</b></p>
            <p>
                <a href="/pvp/lookatplayer/947162">Joseph Wow</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (1,596)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/949038">Cywn Annwyn</a> (985)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/947578">Glenna Coy</a> (690)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (606)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/947687">Rath Mezt</a> (549)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/948762">Miss Deeds</a> (422)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/947252">Seraphina Aleph</a> (333)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/947404">Viola Hawthorne</a> (332)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/947463">Kiera Dierst</a> (320)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947342">Ai Naoi</a> (245)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/adorable_kitty_boy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>227</b></p>
            <p>
                <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/947207">Kittyboy Casey</a> (227)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/950088">Angela Orosco</a> (46)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/951483">Natalie Steele</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/952077">Max Devereaux</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/950163">Kurt Nettles</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/947201">Vita Love</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/952138">Spielton Tunningsworth</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/948228">Whorsymaster Nines</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/954165">Shed Goldscales</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/947162">Joseph Wow</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>