<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>11,111</b></p>
            <p>
                <a href="/pvp/lookatplayer/440894">Eric Raines</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440894">Eric Raines</a> (11,111)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440847">Kyrah Amantes</a> (9,484)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441385">Final Fantasy</a> (7,821)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (7,646)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (7,380)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (7,088)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441427">Nyasa Meownya</a> (6,273)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441166">Tabitha Jackman</a> (5,853)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441619">Natalie Doll</a> (3,761)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441203">Selina Muliaina</a> (3,381)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,954</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (2,954)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (1,797)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (1,298)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (1,222)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440965">Breyta Karova</a> (1,152)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441297">Carlos Danger</a> (1,093)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441783">Maxine Monroe II</a> (1,032)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (969)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/444216">Coleman Dehart</a> (951)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (925)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>10,828</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (10,828)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (9,994)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (6,584)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (5,751)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440860">Game Hound</a> (4,700)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (4,408)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (3,925)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/445280">Yutki Kurri</a> (3,671)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/443265">Gina Hunnigan</a> (3,250)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/444216">Coleman Dehart</a> (3,209)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hypnotized_babysitter_Marisssa_Applethorn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,044</b></p>
            <p>
                <a href="/pvp/lookatplayer/441246">Franco Chance</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441246">Franco Chance</a> (1,044)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (835)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (745)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (729)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (663)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440860">Game Hound</a> (649)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441487">Britney Arellano II</a> (506)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (499)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (431)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (420)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,498</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (1,498)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (749)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441783">Maxine Monroe II</a> (704)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441297">Carlos Danger</a> (635)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440799">Ziggy Anvil</a> (635)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (623)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441246">Franco Chance</a> (622)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440902">Feretta Rosa</a> (620)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (601)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (578)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pony_boots_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,760</b></p>
            <p>
                <a href="/pvp/lookatplayer/440980">James Porter</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440980">James Porter</a> (1,760)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440799">Ziggy Anvil</a> (865)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440902">Feretta Rosa</a> (719)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (442)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (393)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441657">Domitia Newsome</a> (382)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440810">Nadia Ayers</a> (282)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440858">Jamie Akers</a> (245)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440939">Samuel Diamond</a> (187)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (183)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>48,260</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (48,260)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (23,580)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (19,860)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/443265">Gina Hunnigan</a> (15,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (14,280)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/443065">Maid Anastasia</a> (9,180)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441385">Final Fantasy</a> (8,860)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (8,320)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440847">Kyrah Amantes</a> (7,980)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441084">Eittan Zima</a> (4,720)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>1,337</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (1,337)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (340)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441385">Final Fantasy</a> (88)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (64)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/443265">Gina Hunnigan</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441702">Princess Lily</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/442812">Miranda Ryder</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/443306">Alexander Everson</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (27)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441389">Breena 'Flower Fae 🌸' Victor</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>159</b></p>
            <p>
                <a href="/pvp/lookatplayer/440965">Breyta Karova</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440965">Breyta Karova</a> (159)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440894">Eric Raines</a> (97)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441297">Carlos Danger</a> (59)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441783">Maxine Monroe II</a> (49)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441487">Britney Arellano II</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (37)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440820">Shredster Khan</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/447262">Garen Teade</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/447254">Estella Kaleo</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441093">Markus Drake</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Gothic_High_Heels_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/448851">Silke Hose III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (45)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/443840">Tara Dickson</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441121">Samantha Honney</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/444216">Coleman Dehart</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/448979">Ocean Song V</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441487">Britney Arellano II</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/447093">Gail Petmyhead</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/449270">Lara Reyt II</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/448220">Aranies Eliet III</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441093">Markus Drake</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bimboSphere_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/447093">Gail Petmyhead</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/447093">Gail Petmyhead</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/447690">Trinyaty Nyekobornya</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/443840">Tara Dickson</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/446048">Diana Victor IV</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/443626">James Lehman</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440890">Kieran Seekshadow</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/444249">Seras Victoria II</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/443947">Jackie Sheenks</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/445930">Alexis Veradyn</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>98</b></p>
            <p>
                <a href="/pvp/lookatplayer/440965">Breyta Karova</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440965">Breyta Karova</a> (98)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441297">Carlos Danger</a> (97)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441783">Maxine Monroe II</a> (51)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441125">Luna Moonwell</a> (51)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/444216">Coleman Dehart</a> (50)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441075">Meowrinya Nyekobornya</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/447254">Estella Kaleo</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (37)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441849">Anastasia Forbes II</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>340</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (340)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (126)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (78)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (78)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440860">Game Hound</a> (50)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (49)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/445280">Yutki Kurri</a> (38)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441274">Tina Boobify</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/445930">Alexis Veradyn</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440987">Kim 'Pet-maid ❤' Steele</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/443741">Aiden Hammons III</a> (22)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/447391">Grace Sayre</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/445471">Esther Newby</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/445930">Alexis Veradyn</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441075">Meowrinya Nyekobornya</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441144">Arian Lund</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>337</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (337)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (140)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (78)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (75)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440860">Game Hound</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/445930">Alexis Veradyn</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440987">Kim 'Pet-maid ❤' Steele</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/443741">Aiden Hammons III</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>30</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (30)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441274">Tina Boobify</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440894">Eric Raines</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/443096">Marisa Rosales</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441246">Franco Chance</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441211">Marcellus Ravencrow</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/442034">Kate Savage</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441775">Lefen Skidmore</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>81</b></p>
            <p>
                <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (81)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (28)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440805">Caru Pawb</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440820">Shredster Khan</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440789">Cassia Esposito</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440810">Nadia Ayers</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440946">Kyle Nines</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440847">Kyrah Amantes</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/443078">Maya Theria</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440947">Felucca Barnett</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440894">Eric Raines</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440880">Maeve 'Basic Bitch' Morrigan</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/445280">Yutki Kurri</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,990</b></p>
            <p>
                <a href="/pvp/lookatplayer/440808">Woof Pillow</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440808">Woof Pillow</a> (24,990)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441020">Breytas Udder</a> (22,370)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440975">Breytas Breasts</a> (22,055)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440892">Auly Jua</a> (20,165)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440947">Felucca Barnett</a> (19,235)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440875">Freya Rein</a> (18,415)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441238">Aloysious Katt</a> (17,350)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440901">Calem Pompom</a> (16,900)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441269">Juliana Burnham</a> (16,180)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/443290">Phoebe Stormbringer</a> (15,130)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,480</b></p>
            <p>
                <a href="/pvp/lookatplayer/440986">Dumb Cow</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/440986">Dumb Cow</a> (24,480)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441183">Tatiana Kembrielle</a> (23,510)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440854">Melina Mercy</a> (21,690)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/440812">Breytas Bimboslut</a> (21,355)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440811">Ana Reza</a> (20,820)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440857">Adriana Beamon</a> (17,830)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441711">Gwenaelle Blackrain</a> (14,260)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440848">Thomas Garou</a> (13,930)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440800">Dorothy Silver</a> (13,125)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441021">Laney Schoone</a> (12,940)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>43,885</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (43,885)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/443265">Gina Hunnigan</a> (18,361)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (17,633)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (14,962)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (12,746)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (12,620)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440847">Kyrah Amantes</a> (8,290)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441203">Selina Muliaina</a> (7,653)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441231">Dawid Wolf</a> (7,086)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441385">Final Fantasy</a> (6,691)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Gothic_High_Heels_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>10,948</b></p>
            <p>
                <a href="/pvp/lookatplayer/448851">Silke Hose III</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (10,948)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440805">Caru Pawb</a> (4,531)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/447093">Gail Petmyhead</a> (2,827)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (2,047)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441274">Tina Boobify</a> (1,298)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440807">Kai 'likes big' Buttsu</a> (1,125)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441378">Starfire Logue</a> (840)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440995">Katherine Skye</a> (770)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/443626">James Lehman</a> (742)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/446918">Francine Lovegood</a> (506)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Gothic_High_Heels_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>14,565</b></p>
            <p>
                <a href="/pvp/lookatplayer/448851">Silke Hose III</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (14,565)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (9,286)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (4,903)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (2,357)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/443880">Petra Blunders</a> (1,887)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/443265">Gina Hunnigan</a> (1,340)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/446609">Alex Frank</a> (798)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441775">Lefen Skidmore</a> (763)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441103">Nerva Delagarza</a> (757)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/445412">Jack Anzac</a> (747)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,132</b></p>
            <p>
                <a href="/pvp/lookatplayer/444656">General Trap</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/444656">General Trap</a> (1,132)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/443741">Aiden Hammons III</a> (614)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (491)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/447894">Leona Werdel</a> (438)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441869">Sally Day</a> (400)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441031">Crystal Moyer</a> (400)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/445851">Sammy Galloway II</a> (305)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441242">Myu Dalimo</a> (300)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/447391">Grace Sayre</a> (279)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/440880">Maeve 'Basic Bitch' Morrigan</a> (237)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>170</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (170)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/442671">Vivianne Mcqueen</a> (117)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441427">Nyasa Meownya</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440879">Susana Terashine</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/443952">Bim Bo</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/445091">Alex Bender</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/445412">Jack Anzac</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/440805">Caru Pawb</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/441097">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440860">Game Hound</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/441633">Zel Argentis</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/445229">Jaylynnya Nyekobornya II</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/442164">James Garman</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441246">Franco Chance</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/443739">Brian James</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441775">Lefen Skidmore</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/443814">Anderson Toney</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/441097">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441246">Franco Chance</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Vibrator_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/441033">Ophelia Amos</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441033">Ophelia Amos</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/449252">Zan Zayt V</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441075">Meowrinya Nyekobornya</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/445280">Yutki Kurri</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440931">Sarah Snow</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441645">Jackie Mcbarnslut</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/442098">Amber Jinx</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>675</b></p>
            <p>
                <a href="/pvp/lookatplayer/441097">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (675)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441633">Zel Argentis</a> (471)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440860">Game Hound</a> (456)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/445229">Jaylynnya Nyekobornya II</a> (290)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441434">Ali Hain</a> (274)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (246)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/448104">Alisa Drachnyd</a> (238)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/442164">James Garman</a> (233)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441775">Lefen Skidmore</a> (217)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/443814">Anderson Toney</a> (212)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Gothic_High_Heels_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/448851">Silke Hose III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/448851">Silke Hose III</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/447093">Gail Petmyhead</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/443840">Tara Dickson</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441121">Samantha Honney</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/444216">Coleman Dehart</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441093">Markus Drake</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441487">Britney Arellano II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/443626">James Lehman</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/443947">Jackie Sheenks</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441138">Sena Burger II</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>117</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (117)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (100)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440805">Caru Pawb</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441536">Eric Finney</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440995">Katherine Skye</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440789">Cassia Esposito</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440810">Nadia Ayers</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/breenafae_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/441389">Breena 'Flower Fae 🌸' Victor</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441389">Breena 'Flower Fae 🌸' Victor</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/442812">Miranda Ryder</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/443306">Alexander Everson</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440810">Nadia Ayers</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441057">Benjamin Groff</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441702">Princess Lily</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441088">Sarah Sheer</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>14,885</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (14,885)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (4,235)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440997">Evangelina Kraft</a> (1,675)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441274">Tina Boobify</a> (1,610)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/442846">Alex Moo</a> (1,570)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (1,520)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441702">Princess Lily</a> (1,145)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (1,000)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/441297">Carlos Danger</a> (660)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/444656">General Trap</a> (565)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wild_tiger_tribal_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/443840">Tara Dickson</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/443078">Maya Theria</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441144">Arian Lund</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/445345">Juelz Upton</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441535">Islata Monts II</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/442649">Elisabeth Mouthcum</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440995">Katherine Skye</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/447726">Sidney Lowry III</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441579">Alice Valen II</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/milkmaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/441645">Jackie Mcbarnslut</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/441645">Jackie Mcbarnslut</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441097">Joe Nobody</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/442034">Kate Savage</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/442045">Celty Rupp II</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/442476">Kendra Weatherford III</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/442812">Miranda Ryder</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440831">David Arthur</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440998">Annabelle Jumeau</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/440878">Lust Mage</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/440847">Kyrah Amantes</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,993</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (1,993)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/441440">Lawrence Cooley</a> (1,527)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (634)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (570)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/441158">Silly Bunbun</a> (366)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (328)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/440931">Sarah Snow</a> (319)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/440810">Nadia Ayers</a> (273)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/445931">Chara Dreemer</a> (237)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/443306">Alexander Everson</a> (181)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>218</b></p>
            <p>
                <a href="/pvp/lookatplayer/442385">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/442385">Kasey Westler</a> (218)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/440965">Breyta Karova</a> (169)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/440801">Lindsey Neeler</a> (128)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/441403">Summer Fields</a> (100)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/440894">Eric Raines</a> (95)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/440886">Luka Florez</a> (84)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/441031">Crystal Moyer</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/441043">Henny Wuns</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/445229">Jaylynnya Nyekobornya II</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/441021">Laney Schoone</a> (34)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>