<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>14,136</b></p>
            <p>
                <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (14,136)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a> (9,382)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595353">Minerva Aroura</a> (8,701)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595337">Varin Elderblood</a> (8,392)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/596160">Frankie Light</a> (6,084)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595847">Vanilla Cream</a> (5,778)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (5,260)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (4,954)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (4,620)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595453">Britt Wiccanshire</a> (4,373)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,486</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (2,486)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (2,172)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (1,912)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (1,493)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/601986">Evangeline Mcclendon</a> (1,401)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (1,348)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597578">Tomiko Hewitt</a> (1,348)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (1,329)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/602377">Carmella Mendes II</a> (1,221)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595244">Luna Moonwell</a> (1,221)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/d_loving_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>11,881</b></p>
            <p>
                <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (11,881)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (10,305)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (9,292)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a> (8,408)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (8,290)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (8,033)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/599947">Priscilla Martinson V</a> (6,543)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (6,202)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (6,115)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (5,518)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,044</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (1,044)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (809)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595252">Hestia Sinclair</a> (744)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (673)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/604039">Droneslave Jupiter</a> (661)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (614)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597633">Reif Lassum</a> (552)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/601986">Evangeline Mcclendon</a> (549)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/602377">Carmella Mendes II</a> (540)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/597786">Myrina Aegis</a> (537)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,522</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (1,522)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (1,287)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (1,270)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (951)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595244">Luna Moonwell</a> (878)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/597578">Tomiko Hewitt</a> (799)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/601986">Evangeline Mcclendon</a> (751)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (718)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/603047">Zan Zayt II</a> (684)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595225">Matt Felgrand</a> (677)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,090</b></p>
            <p>
                <a href="/pvp/lookatplayer/595223">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (2,090)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595847">Vanilla Cream</a> (951)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595638">Beverly Michaud</a> (729)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596188">Ellie Mckracken</a> (657)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595668">April Wolf</a> (611)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595241">Tiffany Anders</a> (579)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/596638">Sissy Landgrabb</a> (524)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (523)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/604239">Droneslave Meryi</a> (492)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595875">Droneslave Theta</a> (465)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>59,280</b></p>
            <p>
                <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (59,280)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (53,600)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595337">Varin Elderblood</a> (29,800)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (23,100)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a> (18,480)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596087">Karen Juarez</a> (14,160)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/596185">Felicia Gardyner</a> (13,380)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (11,220)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595847">Vanilla Cream</a> (11,100)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (9,700)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>352</b></p>
            <p>
                <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (352)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (187)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595337">Varin Elderblood</a> (147)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596160">Frankie Light</a> (79)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (70)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (66)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (61)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (50)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/d_loving_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (53)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/597578">Tomiko Hewitt</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595244">Luna Moonwell</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/597408">Clarissa Hildebrand</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (31)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595224">Sarah 'ChocoCult' Blocker</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/598452">Tylwth Morh</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/tampon_brookybrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/595579">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595579">Rubette Lulette</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/603531">Jordan Heyward VII</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/597409">Jessica Jefferies</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/597935">Foxx Penrod II</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/599365">Norma Plante</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/597633">Reif Lassum</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597463">Usagi Chan</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/604236">Kate Francois X</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/599636">Kathey Cream II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/600578">Fried Egg</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/tampon_brookybrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/595579">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595579">Rubette Lulette</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/603527">Chole Cunnus</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/601526">Florence Lawrence</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/601629">Elisissy Inchastity II</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/597463">Usagi Chan</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/603461">Serena Mull</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597333">Queen Anessa</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595557">Kieran Seekshadow</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/599282">Reid Pollack</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/599460">Azzy Lanford</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>99</b></p>
            <p>
                <a href="/pvp/lookatplayer/595244">Luna Moonwell</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595244">Luna Moonwell</a> (99)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/597578">Tomiko Hewitt</a> (89)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595313">Kyle Smith</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (55)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/603047">Zan Zayt II</a> (40)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595886">Kris Latex</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/597684">Kaye Hood</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (107)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (101)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (78)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (76)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (62)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/604039">Droneslave Jupiter</a> (51)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/602377">Carmella Mendes II</a> (48)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (47)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595252">Hestia Sinclair</a> (45)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vampire_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/595900">Blake Dorman II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595241">Tiffany Anders</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/598076">Rustica Dunder</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595583">Austin Wolfe</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/597333">Queen Anessa</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595225">Matt Felgrand</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/600944">Kristina Whyte</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (119)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (90)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (74)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (73)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (70)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/602377">Carmella Mendes II</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/601986">Evangeline Mcclendon</a> (45)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mouthful_of_liquid_slut_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596160">Frankie Light</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/600798">Nash Howard</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/596877">Jira Lea</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/601867">Jasmine Bliss</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595875">Droneslave Theta</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/604348">The Wizardwolf II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/d_loving_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (70)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (70)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596144">Henny Wuns</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595453">Britt Wiccanshire</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595205">Sheena Lavoie</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/d_loving_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596657">Ajax Woodbury</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595220">Eittan Zima</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/596852">Muu Vermont</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/601112">Milena Sati</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,585</b></p>
            <p>
                <a href="/pvp/lookatplayer/595217">Slutty Stockings</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595217">Slutty Stockings</a> (24,585)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595261">Andrea Vanness</a> (22,795)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595403">Squeaky Souris</a> (21,970)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595394">Kokoro Sammons II</a> (21,670)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595230">Celise Skysong</a> (18,410)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595418">Emm Velanie</a> (18,225)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595266">Dianne Maggard</a> (17,125)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/598413">Lara Ithilwen</a> (16,865)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595532">Azure Rose</a> (16,745)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595892">Leather 'Steeled' Bracers</a> (16,530)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/fairy_of_the_grove_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,880</b></p>
            <p>
                <a href="/pvp/lookatplayer/595247">Flitter Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595247">Flitter Angelica</a> (24,880)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595262">Allyssa Adams</a> (21,640)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596046">Droneslave Omega</a> (21,470)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595345">Melina Mercy</a> (19,495)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595508">Gwen Majors</a> (19,250)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596195">October Hush II</a> (18,570)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595211">Raine Lei</a> (18,495)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595343">Forevers Pet</a> (17,915)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/596213">Lucarnos Altameria II</a> (16,615)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595901">Lynxie Silverfall</a> (16,480)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>50,782</b></p>
            <p>
                <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (50,782)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (43,679)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595337">Varin Elderblood</a> (29,509)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (24,881)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (19,991)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (17,097)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a> (17,009)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595775">Nyasa Meownya</a> (15,886)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/596087">Karen Juarez</a> (15,316)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a> (14,993)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/french_maid_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>3,687</b></p>
            <p>
                <a href="/pvp/lookatplayer/595353">Minerva Aroura</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595353">Minerva Aroura</a> (3,687)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (3,649)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596160">Frankie Light</a> (1,308)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (1,135)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595236">Roxanne Siggler</a> (980)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595215">Alexander Everson</a> (793)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/602459">Droneslave Gaea</a> (694)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/599996">Cole Wood II</a> (683)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/596651">Robin Watts</a> (681)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/600053">Anglat Feral II</a> (607)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>12,434</b></p>
            <p>
                <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a> (12,434)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595775">Nyasa Meownya</a> (8,555)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (3,194)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/601628">Lucy Love</a> (1,688)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/604347">Enchanted Shoes</a> (1,607)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/602552">Jullian Path II</a> (1,162)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/601861">Katheryn Rosa</a> (1,161)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (1,062)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/599455">Catgirl Maid III</a> (989)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595875">Droneslave Theta</a> (937)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/holy_cow_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,244</b></p>
            <p>
                <a href="/pvp/lookatplayer/595739">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (1,244)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595837">Jeff Madson</a> (567)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596052">Bimbo Whore</a> (500)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/604348">The Wizardwolf II</a> (425)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595406">Forever Willis</a> (355)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595353">Minerva Aroura</a> (300)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/604239">Droneslave Meryi</a> (220)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/602936">Jill Seraph II</a> (213)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/597786">Myrina Aegis</a> (212)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/597313">Aloysious Katt</a> (200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>575</b></p>
            <p>
                <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (575)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595775">Nyasa Meownya</a> (507)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (271)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596778">Vivianne Mcqueen</a> (229)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/597801">Beatryka Mane II</a> (79)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/600070">Robin Bynum</a> (78)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/601628">Lucy Love</a> (58)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595651">Kendra Weatherford</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/598155">Selestia Stars</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/598076">Rustica Dunder</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_03_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>41</b></p>
            <p>
                <a href="/pvp/lookatplayer/596030">Ali Hain</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/596030">Ali Hain</a> (41)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/596388">Droneslave Chi</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596047">Dani Palmira</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595306">Kaede Yamabuki</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595948">Jamie Mcguire</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/597556">Droneslave Leo</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595351">Veln Moonscythe</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/d_loving_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>3</b></p>
            <p>
                <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (3)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596047">Dani Palmira</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/602459">Droneslave Gaea</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/602459">Droneslave Gaea</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596047">Dani Palmira</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595225">Matt Felgrand</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595253">Eric Finney</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/603301">Lexi Belle</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/tampon_brookybrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/595579">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595579">Rubette Lulette</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/597463">Usagi Chan</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/597633">Reif Lassum</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/597935">Foxx Penrod II</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/599365">Norma Plante</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/604242">Sara Andersen II</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597409">Jessica Jefferies</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/599636">Kathey Cream II</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/600488">Elian Mccord II</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/596388">Droneslave Chi</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>142</b></p>
            <p>
                <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (142)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (109)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (94)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596144">Henny Wuns</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595453">Britt Wiccanshire</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595252">Hestia Sinclair</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595205">Sheena Lavoie</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>26</b></p>
            <p>
                <a href="/pvp/lookatplayer/595466">Tara Bellemore</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (26)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/599637">Minerva Kitsu</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/596247">Pandora Peppers</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596160">Frankie Light</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/596470">Droneslave Lqda</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/600186">Freyja Brisingamen</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595404">Grace Raver</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>16,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595631">Fulvia Sisk</a> (16,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (5,375)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (3,065)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (2,650)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (1,700)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (1,440)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595651">Kendra Weatherford</a> (970)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595219">Shredster Khan</a> (900)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/604039">Droneslave Jupiter</a> (840)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (830)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pink_haired_catgirl_by_karousel_k-dbblkyk.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/595578">Unagi Umino</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595578">Unagi Umino</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/596516">Sophie Conger</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/597684">Kaye Hood</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/601784">Issac Henning</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595252">Hestia Sinclair</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/597179">Hesicasiel Fraulein</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/598209">Blacktears Xiseal</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/598144">Derick Jewett</a> (20)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/598452">Tylwth Morh</a> (20)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/597665">Droneslave Cancer</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/sheep_pet_karousel_k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/595237">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595237">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595223">Markus Drake</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/595898">Adriel Michaels</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595651">Kendra Weatherford</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595466">Tara Bellemore</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596657">Ajax Woodbury</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/597179">Hesicasiel Fraulein</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595252">Hestia Sinclair</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/597684">Kaye Hood</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/597191">Corinne Romaly</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,214</b></p>
            <p>
                <a href="/pvp/lookatplayer/595349">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (1,214)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595635">Iris 'Moyers' Waldron</a> (1,165)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/596852">Muu Vermont</a> (1,046)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595324">Nadia 'Forever Owned' Ayers</a> (857)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (758)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/596877">Jira Lea</a> (361)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/603960">Queen Gemini</a> (349)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/600112">Fluffy One</a> (336)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/596144">Henny Wuns</a> (307)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595306">Kaede Yamabuki</a> (282)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>592</b></p>
            <p>
                <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/595233">Kasey Ziegler</a> (592)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/595739">Glenna Coy</a> (413)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/603900">Droneslave Cipher</a> (251)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/595900">Blake Dorman II</a> (243)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/595393">Crystal Moyer</a> (175)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/595465">Tim Bacon</a> (133)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/595407">Kyrah Binbow</a> (117)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/595537">Belinda Alston</a> (113)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/595349">Emily Hart</a> (101)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/595351">Veln Moonscythe</a> (91)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>