<div class="containerInner">

<h1>Statistics Leaders</h1>
<div class="row">
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/easter_bunny_karousel-k.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Hawkeye</h3>
    <p>
        <i>Times searched:</i> <b>12,047</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a>

        <p>------------------</p>

    </p>

    <div id="more_times_searched">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a> (12,047)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (11,780)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481430">Alex Fenton</a> (11,055)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481967">Nyasa Meownya</a> (9,398)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481411">Tom Kelly</a> (4,932)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (4,713)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (4,615)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (3,753)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481660">Jesse Grey</a> (3,717)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (3,532)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Quantity not Quality!</h3>
    <p>
        <i>Spells cast:</i> <b>2,818</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_spells_cast">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (2,818)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (1,866)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (1,820)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (1,769)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (1,694)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (1,624)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (1,521)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (1,484)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (1,368)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481800">Sunday Dawson</a> (1,314)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">The Restless One</h3>
    <p>
        <i>Times moved:</i> <b>6,510</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_times_moved">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (6,510)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (6,138)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (5,770)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (5,489)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (5,061)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (4,474)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (4,451)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/486995">Byron Durand</a> (3,940)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482033">Pedra Rash</a> (3,868)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (3,715)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Hypochondriac</h3>
    <p>
        <i>Times cleansed:</i> <b>1,409</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481404">Leena Mcridill</a>

        <p>------------------</p>

    </p>

    <div id="more_times_cleansed">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (1,409)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (1,028)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (1,004)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (928)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/482410">Elias Chamberlain</a> (749)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (712)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484524">Varin Elderblood</a> (606)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (542)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (534)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481916">Erin Wolfe</a> (513)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Lost in Thought</h3>
    <p>
        <i>Times meditated:</i> <b>1,843</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_times_meditated">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (1,843)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (1,472)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (1,030)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (992)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (971)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (937)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/486995">Byron Durand</a> (925)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (904)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482410">Elias Chamberlain</a> (897)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (831)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">____ the Enchanter</h3>
    <p>
        <i>Times enchanting:</i> <b>1,356</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481937">Nihat Unal</a>

        <p>------------------</p>

    </p>

    <div id="more_times_enchanted">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (1,356)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/482942">Dawid Wolf</a> (1,096)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (886)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481593">Nina Susser</a> (860)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (702)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481771">Lizzie Amantes</a> (615)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481500">Tina Chetinya</a> (528)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/483258">Allie Fenton</a> (512)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/486056">Mooochaels Delight</a> (480)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (339)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/cheer_captain_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Covenant Benefactor</h3>
    <p>
        <i>Net Arpyjis donated to covenant:</i> <b>49,240</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a>

        <p>------------------</p>

    </p>

    <div id="more_covenant_net_donations">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (49,240)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a> (39,660)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (23,300)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (21,720)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (16,260)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/482146">Tiffany Anders</a> (12,200)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (10,700)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (8,060)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481494">Eric Finney</a> (7,540)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (6,920)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Couch Potato</h3>
    <p>
        <i>Times using covenant furniture:</i> <b>264</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_covenant_furniture_used">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (264)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (247)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (68)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (47)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (41)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (30)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/482217">Marcellus Ravencrow</a> (18)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481650">Kai Silversoul</a> (17)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482146">Tiffany Anders</a> (13)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (12)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">What's My Form Again?</h3>
    <p>
        <i>Times transformed into an animate form:</i> <b>253</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481442">Gwen Majors</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_animated">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (253)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (175)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (78)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (69)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (68)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/485790">Neko Chan</a> (51)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481800">Sunday Dawson</a> (48)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/489320">Tracy Osteen III</a> (41)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/488644">Rajara Cyria</a> (40)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (39)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/knitted_bra_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">The Inanimated</h3>
    <p>
        <i>Times transformed into an inanimate form:</i> <b>13</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/483468">Nicki Morningstar</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_inanimated">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/483468">Nicki Morningstar</a> (13)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481931">Princess Lily</a> (10)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/486995">Byron Durand</a> (9)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481830">Brandi Norwood</a> (8)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/489938">Lil Slut</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/486563">Valri Delacroix III</a> (7)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/488683">Chris Freeitem II</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481608">Shane Merrick</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/487363">Athena Cyria III</a> (5)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Nothin' But a Hound Dog</h3>
    <p>
        <i>Times transformed into a pet form:</i> <b>8</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/486426">Sinitia Chetinya II</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_animal">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/486426">Sinitia Chetinya II</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481485">Kimmi 'Perfect pet ❤' Steele</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/486563">Valri Delacroix III</a> (6)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/483124">Chris Snow</a> (5)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481608">Shane Merrick</a> (5)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/486774">Claire Latex II</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481830">Brandi Norwood</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/485761">Molly Crain VII</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/485347">Nyilia Cyria</a> (3)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">The Animator</h3>
    <p>
        <i>Targets transformed into an animate form:</i> <b>225</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_animating">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (225)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (159)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481543">Beatryka Mane</a> (113)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (97)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481800">Sunday Dawson</a> (65)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (61)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481443">Freyja Brisingamen</a> (60)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482033">Pedra Rash</a> (54)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482071">Nigel Parsons</a> (49)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/482410">Elias Chamberlain</a> (45)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/french_maid_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">The Inanimator</h3>
    <p>
        <i>Targets transformed into an inanimate form:</i> <b>106</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481455">Henny Wuns</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_inanimating">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (106)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (94)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (88)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (76)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (74)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (51)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484524">Varin Elderblood</a> (51)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481450">Shredster Khan</a> (47)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (47)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481550">Alice Moonglow</a> (44)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Petmaker</h3>
    <p>
        <i>Targets transformed into a pet form:</i> <b>45</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/482146">Tiffany Anders</a>

        <p>------------------</p>

    </p>

    <div id="more_times_self_animaling">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/482146">Tiffany Anders</a> (45)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (28)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/482236">Grey Fox</a> (21)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481757">Ara Fenrirr</a> (16)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (13)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481879">Jase Broyles</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/482490">Will Wolf</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/486721">Maeve Fitzpatrick</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481812">Nikki Aliyah</a> (7)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/french_maid_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Psycho Hunter</h3>
    <p>
        <i>Psychopathic Spellslingers defeated:</i> <b>102</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481455">Henny Wuns</a>

        <p>------------------</p>

    </p>

    <div id="more_psychos_defeated">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (102)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (85)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (81)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (79)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (72)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/482146">Tiffany Anders</a> (70)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484524">Varin Elderblood</a> (54)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482236">Grey Fox</a> (50)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481450">Shredster Khan</a> (48)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (48)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/suave_burglar_cat_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Fast Commute</h3>
    <p>
        <i>Teleport scrolls used:</i> <b>72</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481444">Lucius Valentine</a>

        <p>------------------</p>

    </p>

    <div id="more_times_teleported_scroll">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (72)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/485790">Neko Chan</a> (20)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481963">Levi Mako</a> (15)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (8)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481567">Yutki Love</a> (7)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481919">Crystal Moyer</a> (6)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481775">Helia Caros</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (3)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/french_maid_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Friend of the Fae</h3>
    <p>
        <i>Times played with Jewdewfae:</i> <b>83</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481455">Henny Wuns</a>

        <p>------------------</p>

    </p>

    <div id="more_jewdewfae_completions">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (83)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (54)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (44)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481450">Shredster Khan</a> (29)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481517">Emily Weretoy</a> (28)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (27)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (24)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481861">Kinello Herone</a> (19)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481393">Tammi Crutcher</a> (16)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (13)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_15_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Nerrrrrd!</h3>
    <p>
        <i>Tomes read:</i> <b>14</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481635">Stephen Lemke</a>

        <p>------------------</p>

    </p>

    <div id="more_lore_books_read">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (14)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481447">Kyle Nines</a> (12)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (10)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482275">Mr Derik</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (5)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/itemsPortraits/cat_paws_feet_Gogo_Genki.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Rub Rub Rub</h3>
    <p>
        <i>XP gained as an inanimate item:</i> <b>24,830</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481412">Kittyn Angelica</a>

        <p>------------------</p>

    </p>

    <div id="more_inanimateXPEarned">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481412">Kittyn Angelica</a> (24,830)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481804">Mieu Arriola</a> (23,070)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481947">Arrhae Hale</a> (22,630)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481418">Kyrah Amantes</a> (21,595)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481499">Xanthippe Shashavani</a> (21,145)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481669">Thomas Garou</a> (20,135)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481539">Trish Raila</a> (19,090)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481814">Lindsey Neeler</a> (18,045)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481416">Phil Anthropy</a> (17,405)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/486927">Tira Pet</a> (17,165)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Petter off this Way</h3>
    <p>
        <i>XP gained as an pet.:</i> <b>23,705</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481505">Jesses Pet</a>

        <p>------------------</p>

    </p>

    <div id="more_petXPEarned">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481505">Jesses Pet</a> (23,705)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481419">Morgan Roak</a> (22,885)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481541">Melina Mercy</a> (18,770)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481622">Tharkis Mithra</a> (16,380)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481434">Gail Jasione</a> (14,900)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/486769">Phoebe Stormbringer II</a> (14,010)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481406">Blair Crowley</a> (13,810)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/483453">Isabelle Robespierre</a> (13,365)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481427">Minervas Petslut</a> (13,035)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481458">Kameron Kearns</a> (12,333)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/cheer_captain_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Soul Seller</h3>
    <p>
        <i>Net profit from selling to Lindella:</i> <b>48,496</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a>

        <p>------------------</p>

    </p>

    <div id="more_lindella_net_profit">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (48,496)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a> (37,572)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (33,473)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (17,040)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (15,086)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (11,909)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484524">Varin Elderblood</a> (11,828)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482146">Tiffany Anders</a> (9,737)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (9,481)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/483387">Madelyn Daughtry</a> (9,029)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/suave_burglar_cat_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Soul Consumer</h3>
    <p>
        <i>Net loss from buying from Lindella:</i> <b>3,756</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481444">Lucius Valentine</a>

        <p>------------------</p>

    </p>

    <div id="more_lindella_net_loss">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (3,756)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481450">Shredster Khan</a> (2,237)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481517">Emily Weretoy</a> (1,169)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481748">Xanthiel Theacursed</a> (1,111)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/482238">Silke Hose</a> (1,025)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481916">Erin Wolfe</a> (1,017)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481660">Jesse Grey</a> (970)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/487478">Mystic Lilla IV</a> (886)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/485790">Neko Chan</a> (853)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/484051">Hayden Gale</a> (849)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/water_elemental_Luxianne.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Puppy Profit!</h3>
    <p>
        <i>Profit from selling to Wuffie:</i> <b>3,867</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/487478">Mystic Lilla IV</a>

        <p>------------------</p>

    </p>

    <div id="more_wuffie_net_profit">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/487478">Mystic Lilla IV</a> (3,867)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/485539">Laneys Schoone II</a> (2,857)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/482471">Leanna Firefox</a> (2,828)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/486563">Valri Delacroix III</a> (2,677)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481574">Olwen Button</a> (2,496)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/482260">Cassandra Crowley</a> (1,432)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481517">Emily Weretoy</a> (1,375)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/487488">Reece Cooper</a> (1,270)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481608">Shane Merrick</a> (1,239)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/484051">Hayden Gale</a> (1,021)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/fire_breathing_dragon_blanca-D.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Puppy Purchaser</h3>
    <p>
        <i>Loss from buying from Wuffie:</i> <b>1,074</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481443">Freyja Brisingamen</a>

        <p>------------------</p>

    </p>

    <div id="more_wuffie_net_loss">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481443">Freyja Brisingamen</a> (1,074)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/484524">Varin Elderblood</a> (940)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481819">Angelica Furclad</a> (737)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/483020">Charlie Ayers</a> (350)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481525">Jo Glass</a> (314)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/482236">Grey Fox</a> (300)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (292)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481939">Avery Barrows</a> (250)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/485732">Krystal Knight II</a> (205)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/487363">Athena Cyria III</a> (197)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Exiled's Apprentice</h3>
    <p>
        <i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>150</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481967">Nyasa Meownya</a>

        <p>------------------</p>

    </p>

    <div id="more_lorekeeper_spells_learned">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481967">Nyasa Meownya</a> (150)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/486563">Valri Delacroix III</a> (65)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481812">Nikki Aliyah</a> (65)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/487559">Glenna Coy</a> (61)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/485809">Edea Schafer</a> (57)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/488451">Cheryl Powell</a> (55)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/487056">Karen Illyth</a> (47)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (46)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (45)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/484798">Manly Man</a> (39)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Dungeon Looter</h3>
    <p>
        <i>Dungeon artifacts found:</i> <b>21</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481404">Leena Mcridill</a>

        <p>------------------</p>

    </p>

    <div id="more_dungeon_artifacts_found">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (21)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481433">Heather Brandenburg</a> (20)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/485732">Krystal Knight II</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481650">Kai Silversoul</a> (13)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (5)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481980">Sarah Ainsley</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/486056">Mooochaels Delight</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481703">Lefen Bark</a> (3)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Demonslayer</h3>
    <p>
        <i>Dungeon demons defeated:</i> <b>40</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481404">Leena Mcridill</a>

        <p>------------------</p>

    </p>

    <div id="more_dungeon_demons_defeated">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (40)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481916">Erin Wolfe</a> (3)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (1)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (1)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481650">Kai Silversoul</a> (1)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_05_mtwof.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Dungeon Assassin</h3>
    <p>
        <i>Dungeon points stolen from victims:</i> <b>202</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/486995">Byron Durand</a>

        <p>------------------</p>

    </p>

    <div id="more_dungeon_points_stolen">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/486995">Byron Durand</a> (202)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481919">Crystal Moyer</a> (32)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (15)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481567">Yutki Love</a> (6)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481411">Tom Kelly</a> (4)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/485388">Makai Ruth</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/485497">Michael Roger</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/485326">Raven Corbet II</a> (2)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481553">Dark Blade</a> (2)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/488451">Cheryl Powell</a> (2)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Dungeon Crawler</h3>
    <p>
        <i>Times moved in the dungeon.:</i> <b>1,366</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481404">Leena Mcridill</a>

        <p>------------------</p>

    </p>

    <div id="more_dungeon_movements">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (1,366)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481433">Heather Brandenburg</a> (1,014)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/485732">Krystal Knight II</a> (984)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (717)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481650">Kai Silversoul</a> (478)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481916">Erin Wolfe</a> (454)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/486056">Mooochaels Delight</a> (382)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482201">Nyora Nekobornya</a> (382)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/483218">Isoira Mirana</a> (204)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/482479">Calem Cotton</a> (199)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/knitted_bra_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Freeeeedom!</h3>
    <p>
        <i>Times struggled back to an animate form:</i> <b>13</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/483468">Nicki Morningstar</a>

        <p>------------------</p>

    </p>

    <div id="more_times_struggled_free">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/483468">Nicki Morningstar</a> (13)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481830">Brandi Norwood</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/486563">Valri Delacroix III</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481931">Princess Lily</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481608">Shane Merrick</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/486426">Sinitia Chetinya II</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/484366">Kelley Ibarra II</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481485">Kimmi 'Perfect pet ❤' Steele</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/483155">Espa Sirois</a> (6)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/french_maid_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Maximally Transmogrified</h3>
    <p>
        <i>Autoselftransmogrification Deflector Devices used:</i> <b>91</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481455">Henny Wuns</a>

        <p>------------------</p>

    </p>

    <div id="more_transmogs_used">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (91)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481450">Shredster Khan</a> (34)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481550">Alice Moonglow</a> (25)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (21)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (19)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481861">Kinello Herone</a> (19)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481517">Emily Weretoy</a> (18)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481393">Tammi Crutcher</a> (15)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/487478">Mystic Lilla IV</a> (14)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481919">Crystal Moyer</a> (12)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/cheer_captain_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Call of the Covenant</h3>
    <p>
        <i>Covenant Callback Crystals used:</i> <b>53</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a>

        <p>------------------</p>

    </p>

    <div id="more_callback_crystals_used">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (53)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/482410">Elias Chamberlain</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481937">Nihat Unal</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/483258">Allie Fenton</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481460">Mystle Obelyn</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481800">Sunday Dawson</a> (1)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Dollyamory</h3>
    <p>
        <i>Willpower restored from using Inflatable Sex Dolls:</i> <b>7,935</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481404">Leena Mcridill</a>

        <p>------------------</p>

    </p>

    <div id="more_dolls_used">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (7,935)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (4,980)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481426">Cali Ziegler</a> (3,475)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481444">Lucius Valentine</a> (2,625)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/486801">Juli Invincible II</a> (2,465)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/489372">Kristy Latex</a> (1,810)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481916">Erin Wolfe</a> (1,100)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481824">Victoria Bennett</a> (745)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481775">Helia Caros</a> (745)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481527">Sarah Snow</a> (715)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Try Staying Home Today</h3>
    <p>
        <i>Quests failed:</i> <b>37</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/482637">Eric Rice</a>

        <p>------------------</p>

    </p>

    <div id="more_quests_failed">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/482637">Eric Rice</a> (37)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481635">Stephen Lemke</a> (31)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/484044">Quintina Young</a> (25)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/484798">Manly Man</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/482249">Jefferson Ellsworth</a> (24)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/486575">Futari Sexdary II</a> (17)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481690">Lou Zer</a> (17)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/481528">Tara Rose</a> (16)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/486518">Rose Smith</a> (16)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/486983">Jerard Sokodi II</a> (16)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Adventure Time!</h3>
    <p>
        <i>Quests passed:</i> <b>8</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481418">Kyrah Amantes</a>

        <p>------------------</p>

    </p>

    <div id="more_quests_passed">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481418">Kyrah Amantes</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (8)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a> (8)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481725">Kerry Ashby</a> (8)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481430">Alex Fenton</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481972">Master Bimbomaker</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/482507">Sammy Galloway</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/484798">Manly Man</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481442">Gwen Majors</a> (8)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">The Wheels on the Bus</h3>
    <p>
        <i>Total distance riding the bus:</i> <b>934</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a>

        <p>------------------</p>

    </p>

    <div id="more_busrides">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/481507">Iris 'Ophelia' Waldron</a> (934)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/481552">Lawrence Cooley</a> (712)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/487559">Glenna Coy</a> (554)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481545">Annabelle Jumeau</a> (324)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481527">Sarah Snow</a> (306)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481517">Emily Weretoy</a> (209)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/485539">Laneys Schoone II</a> (167)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/482260">Cassandra Crowley</a> (156)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/481919">Crystal Moyer</a> (154)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/487488">Reece Cooper</a> (132)
            </p>

        </div>
    </div>

</div>
<div class="col-md-4 stats-leader" style="height: 484px;">
    <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
    <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/woman_09_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
    <h3 style="margin-top: 110px !important;">Sex Swap Scoundrel</h3>
    <p>
        <i>Total targets hit with TG Splash Orbs:</i> <b>478</b>
    </p>
    <p>
        <a href="/pvp/lookatplayer/482238">Silke Hose</a>

        <p>------------------</p>

    </p>

    <div id="more_tg_bomb_hits">
        <div>
            <p>
                1. <a href="/pvp/lookatplayer/482238">Silke Hose</a> (478)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/486995">Byron Durand</a> (215)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/481800">Sunday Dawson</a> (159)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/481919">Crystal Moyer</a> (79)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/481404">Leena Mcridill</a> (74)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/481455">Henny Wuns</a> (72)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/481425">Markus Drake</a> (61)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/487559">Glenna Coy</a> (60)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/488422">Malus 'Melanie' Cyria</a> (56)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/481660">Jesse Grey</a> (53)
            </p>

        </div>
    </div>

</div>

</div>

<div id="topTypeList"></div>


</div>