<div class="row">
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/earrings_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hawkeye</h3>
                        <p><i>Times searched:</i> <b>11,111</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908068">Lucky Gem</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_searched"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (11,111)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907977">Vanilla Cream</a> (7,964)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (7,583)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/911732">Cecelia Wilks</a> (6,723)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908944">Elias Cantwell</a> (6,459)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907976">Minervas Petslut</a> (6,443)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908298">Feronia Aedor</a> (5,580)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907934">Vix Smith</a> (5,148)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908003">Servius Lefay</a> (3,921)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (3,332)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/nekopire_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
                        <p><i>Spells cast:</i> <b>2,056</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/913629">Nameless Warlock</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_spells_cast"><div>
            <p>
                1. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (2,056)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (1,819)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (1,607)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (1,600)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (1,403)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (1,362)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (1,112)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (1,041)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (1,006)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (986)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Restless One</h3>
                        <p><i>Times moved:</i> <b>18,072</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_moved"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (18,072)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (11,400)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (9,405)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (8,809)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (7,929)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (7,267)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (7,258)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (7,149)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (6,374)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/911717">James Boyles</a> (6,044)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hypochondriac</h3>
                        <p><i>Times cleansed:</i> <b>1,816</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/909415">Sally Shorde</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_cleansed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (1,816)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (1,438)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (998)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (925)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (901)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (843)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (786)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (688)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (638)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (596)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Lost in Thought</h3>
                        <p><i>Times meditated:</i> <b>1,573</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907934">Vix Smith</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_meditated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907934">Vix Smith</a> (1,573)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (1,330)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (1,292)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (1,164)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907985">Serenea Blackthorn</a> (1,037)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (1,014)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (932)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (888)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908386">Kasumi 'Bancroft's Tit's' Takanawa</a> (831)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908153">Chuy 'Robin's Bitch' Cholo</a> (721)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
                        <p><i>Times enchanting:</i> <b>2,804</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907934">Vix Smith</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_enchanted"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907934">Vix Smith</a> (2,804)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907985">Serenea Blackthorn</a> (1,830)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (1,779)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907977">Vanilla Cream</a> (1,603)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907863">Beverly Wise</a> (673)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908386">Kasumi 'Bancroft's Tit's' Takanawa</a> (649)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907955">Mini Martha</a> (582)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908046">Athena Pharnia</a> (393)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908278">Crystal Draper</a> (389)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907880">Jasmine Coquine</a> (367)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/earrings_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
                        <p><i>Net Arpyjis donated to covenant:</i> <b>128,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908068">Lucky Gem</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_net_donations"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (128,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (72,000)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (51,500)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (19,500)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (12,800)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907880">Jasmine Coquine</a> (8,500)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908386">Kasumi 'Bancroft's Tit's' Takanawa</a> (5,880)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908153">Chuy 'Robin's Bitch' Cholo</a> (5,020)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/914912">Windel Card</a> (4,660)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907977">Vanilla Cream</a> (4,000)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/earrings_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Couch Potato</h3>
                        <p><i>Times using covenant furniture:</i> <b>80</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908068">Lucky Gem</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_furniture_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (80)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (70)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (68)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (66)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907935">Amando Somers</a> (12)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908353">Rosa 'Sweetheart' Fortune</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908386">Kasumi 'Bancroft's Tit's' Takanawa</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908066">Eric Finney</a> (5)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907863">Beverly Wise</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
                        <p><i>Times transformed into an animate form:</i> <b>69</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907995">Red Rose</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907995">Red Rose</a> (69)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (56)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/911748">Catalina Williams II</a> (53)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907970">Leeta Williams</a> (48)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908278">Crystal Draper</a> (37)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908155">Silver Fischer</a> (35)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (34)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (32)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (30)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (30)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/alien_screwdriver_Zeke_Manning.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimated</h3>
                        <p><i>Times transformed into an inanimate form:</i> <b>33</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a> (33)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908521">Kutsei Draper</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/916084">Crew Concepcion IV</a> (12)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/918613">Dakota Hundley</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/918325">Josh Dowell</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/917143">Jjj Jay</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/917073">Nami Velka IV</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/911717">James Boyles</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908056">Erin Keys</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/alien_screwdriver_Zeke_Manning.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
                        <p><i>Times transformed into a pet form:</i> <b>15</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animal"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a> (15)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908155">Silver Fischer</a> (6)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/909905">Bryson Crump</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/909017">Steven Mixon</a> (4)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908098">Micro Toy</a> (3)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908012">Sanoka Mikatsu</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908271">Orange Tye</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908352">Faustinia Crowder</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/910618">Iris Styles II</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/nekopire_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Animator</h3>
                        <p><i>Targets transformed into an animate form:</i> <b>61</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/913629">Nameless Warlock</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (61)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907970">Leeta Williams</a> (51)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/911748">Catalina Williams II</a> (49)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907995">Red Rose</a> (38)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (35)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/909078">Jamie Park</a> (34)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (32)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (31)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/916177">Kareem Marino II</a> (30)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908096">Aida Locklear</a> (29)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimator</h3>
                        <p><i>Targets transformed into an inanimate form:</i> <b>109</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (109)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (100)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (45)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (43)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (43)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907967">Calanthia Alexandra</a> (37)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/918559">Noreen Barbosa II</a> (37)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (34)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (32)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/909507">Vivianne Mcqueen</a> (27)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petmaker</h3>
                        <p><i>Targets transformed into a pet form:</i> <b>32</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908066">Eric Finney</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animaling"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908066">Eric Finney</a> (32)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (21)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907993">Kieran Seekshadow</a> (10)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908099">Janice Cobb</a> (8)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907964">Joanne Momma</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907851">Jamie Earley</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/912512">Avery Nowell</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
                        <p><i>Psychopathic Spellslingers defeated:</i> <b>120</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907965">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_psychos_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (120)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (89)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (48)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908066">Eric Finney</a> (48)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907967">Calanthia Alexandra</a> (31)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (29)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (28)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/912641">Ella Lima</a> (28)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/909507">Vivianne Mcqueen</a> (28)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/911748">Catalina Williams II</a> (25)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fast Commute</h3>
                        <p><i>Teleport scrolls used:</i> <b>31</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908385">Pie Pies</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_teleported_scroll"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (31)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (8)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907964">Joanne Momma</a> (7)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907977">Vanilla Cream</a> (7)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908155">Silver Fischer</a> (6)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/917143">Jjj Jay</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908944">Elias Cantwell</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908035">Devon Barela</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
                        <p><i>Times played with Jewdewfae:</i> <b>38</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907837">Diana Rigby</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_jewdewfae_completions"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907837">Diana Rigby</a> (38)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (32)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/908559">Stephen Welles</a> (27)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (23)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (20)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (18)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (16)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (9)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (6)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
                        <p><i>Tomes read:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908559">Stephen Welles</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lore_books_read"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908559">Stephen Welles</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908283">Meek Josephine</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908447">Raine Felmara</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/913125">Allie Katt</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/911732">Cecelia Wilks</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/limbless_balloon_girl_blaca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
                        <p><i>XP gained as an inanimate item:</i> <b>39,980</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907816">Kasia Kissed</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_inanimateXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907816">Kasia Kissed</a> (39,980)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907953">Latex Pawsheaths</a> (39,825)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907779">Joe Nobody</a> (39,623)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908086">Tom's Dick</a> (37,765)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908332">Latex Catsuit</a> (36,785)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907904">Latex Pawcovers</a> (36,180)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908394">Amelia Wyant</a> (36,050)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907901">Platform Heels</a> (34,745)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908238">Sarah Ainsley</a> (34,105)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907888">Lisa Comanche</a> (33,780)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petter off this Way</h3>
                        <p><i>XP gained as an pet.:</i> <b>39,945</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907823">Martha Keene</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_petXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907823">Martha Keene</a> (39,945)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907817">Auly Jua</a> (39,770)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907963">Fatty Nadipet</a> (36,925)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907951">Ai Naoi</a> (33,690)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908867">Tom's 'Little' Fishpet</a> (33,450)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908125">Harper Smothers</a> (31,925)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907815">Glenna Coy</a> (31,285)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908417">Emily Ponygirl</a> (29,710)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907822">Molly Carmona</a> (26,345)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907900">Hugin Mugin</a> (24,080)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/earrings_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Seller</h3>
                        <p><i>Net profit from selling to Lindella:</i> <b>125,099</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908068">Lucky Gem</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (125,099)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (68,919)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (34,149)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908667">Nyasa Meownya</a> (29,671)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (16,589)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (13,745)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (13,321)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (12,751)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907976">Minervas Petslut</a> (10,154)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908283">Meek Josephine</a> (10,044)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Consumer</h3>
                        <p><i>Net loss from buying from Lindella:</i> <b>2,942</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/911458">Luka Bell</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (2,942)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (1,920)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (1,816)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (1,777)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (1,316)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908944">Elias Cantwell</a> (980)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/912794">Ariana Succstad</a> (900)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/912641">Ella Lima</a> (838)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (585)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908741">Sam Meyer</a> (460)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
                        <p><i>Profit from selling to Wuffie:</i> <b>14,150</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (14,150)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907965">Holly Ryder</a> (10,940)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/908667">Nyasa Meownya</a> (9,090)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907996">Aurora Ryall</a> (5,520)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (2,750)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907826">Tom Blackcat</a> (2,150)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907880">Jasmine Coquine</a> (1,620)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/914912">Windel Card</a> (1,450)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908559">Stephen Welles</a> (1,450)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907911">Rob Martinson</a> (1,330)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
                        <p><i>Loss from buying from Wuffie:</i> <b>1,260</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907837">Diana Rigby</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907837">Diana Rigby</a> (1,260)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908099">Janice Cobb</a> (270)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/908447">Raine Felmara</a> (240)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907939">Maxine Wampler</a> (140)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908014">Erin Najera</a> (110)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (100)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/917224">Allie Hoffman III</a> (20)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (-60)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907927">Kyrsten Labern</a> (-60)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908842">Max Gamble</a> (-60)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/licententious_librarian_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
                        <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>787</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908667">Nyasa Meownya</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lorekeeper_spells_learned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908667">Nyasa Meownya</a> (787)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (222)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/909507">Vivianne Mcqueen</a> (176)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908066">Eric Finney</a> (154)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/911732">Cecelia Wilks</a> (72)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (53)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (43)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907993">Kieran Seekshadow</a> (42)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/918559">Noreen Barbosa II</a> (36)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (33)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
                        <p><i>Dungeon artifacts found:</i> <b>10</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_artifacts_found"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (10)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908278">Crystal Draper</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/916664">Sammy Rose</a> (6)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908907">Rena Equinoza</a> (5)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/914604">Lexi Belle</a> (5)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (5)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/910253">Lucy Lawrence II</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/910170">Shooter Mcgavin IV</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/918559">Noreen Barbosa II</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/scholarly_schoolgirl_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Demonslayer</h3>
                        <p><i>Dungeon demons defeated:</i> <b>5</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908284">Tea Higgins</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_demons_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (5)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (2)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/909710">Cthree Eran</a> (1)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (1)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
                        <p><i>Dungeon points stolen from victims:</i> <b>10</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_points_stolen"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (10)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/909074">Cyan Rose</a> (4)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (3)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/916664">Sammy Rose</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908495">Emanueli Myrick</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/918532">Barbosa's Servant</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/alien_screwdriver_Zeke_Manning.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
                        <p><i>Times struggled back to an animate form:</i> <b>47</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_struggled_free"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a> (47)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908521">Kutsei Draper</a> (17)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/917143">Jjj Jay</a> (9)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (9)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/916084">Crew Concepcion IV</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908155">Silver Fischer</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/909017">Steven Mixon</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907911">Rob Martinson</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/910850">Katheryn Peters</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908212">Elizabeth Scales</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
                        <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>44</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_transmogs_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (44)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (43)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (41)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907837">Diana Rigby</a> (37)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (35)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (29)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908559">Stephen Welles</a> (27)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (27)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (22)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (19)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/excaliber_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
                        <p><i>Covenant Callback Crystals used:</i> <b>8</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_callback_crystals_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908353">Rosa 'Sweetheart' Fortune</a> (5)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (2)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907843">Robin Flynn</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907837">Diana Rigby</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907967">Calanthia Alexandra</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908944">Elias Cantwell</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908869">Sissy Buttslut</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908143">Puhskinti Day</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/pleasure_knight_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dollyamory</h3>
                        <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>3,475</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907780">Miss Tease</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dolls_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (3,475)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (2,870)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (2,450)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (2,140)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (1,295)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (1,240)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (1,080)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (700)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (440)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907826">Tom Blackcat</a> (425)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
                        <p><i>Quests failed:</i> <b>50</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908385">Pie Pies</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_failed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908385">Pie Pies</a> (50)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908212">Elizabeth Scales</a> (38)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907834">Kris Latex</a> (37)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/917008">Wind Skies</a> (31)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907970">Leeta Williams</a> (29)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/912577">Brainwashed Bimbo III</a> (25)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (24)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909169">Toni Norman</a> (23)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907927">Kyrsten Labern</a> (20)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/914814">Bailey Ruiz</a> (19)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Adventure Time!</h3>
                        <p><i>Quests passed:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907837">Diana Rigby</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_passed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907837">Diana Rigby</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907864">Kyrah Binbow</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908556">Sue 'Z' Falls</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908143">Puhskinti Day</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/909169">Toni Norman</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/910618">Iris Styles II</a> (10)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908353">Rosa 'Sweetheart' Fortune</a> (9)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/911755">Max Inne</a> (9)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
                        <p><i>Total distance riding the bus:</i> <b>1,059</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_busrides"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (1,059)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/918559">Noreen Barbosa II</a> (573)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (466)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/909074">Cyan Rose</a> (361)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908278">Crystal Draper</a> (193)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908003">Servius Lefay</a> (182)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908976">Nel Zelpher</a> (178)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909169">Toni Norman</a> (160)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (103)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/914017">Drake Thatcher</a> (101)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
                        <p><i>Total targets hit with TG Splash Orbs:</i> <b>74</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/908155">Silver Fischer</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_tg_bomb_hits"><div>
            <p>
                1. <a href="/pvp/lookatplayer/908155">Silver Fischer</a> (74)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/908068">Lucky Gem</a> (64)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/909152">Absorption Lover</a> (57)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908944">Elias Cantwell</a> (54)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/911732">Cecelia Wilks</a> (35)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907911">Rob Martinson</a> (30)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908056">Erin Keys</a> (29)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909047">Sam Bentley</a> (29)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907954">Marigold Pitman</a> (28)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908600">Slave Master</a> (27)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Player Transformayer</h3>
                        <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>22</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_player_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a> (22)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/909074">Cyan Rose</a> (17)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (15)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908153">Chuy 'Robin's Bitch' Cholo</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (12)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908312">Luke Haynes</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (9)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/909404">Laura Hobbs</a> (8)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Level Shmevel</h3>
                        <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>108</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_total_level_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a> (108)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (87)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (71)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908153">Chuy 'Robin's Bitch' Cholo</a> (66)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (64)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (59)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/913629">Nameless Warlock</a> (58)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909074">Cyan Rose</a> (45)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908312">Luke Haynes</a> (40)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908373">Melanie Cyria</a> (37)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
                        <p><i>Times attacking boss NPCs:</i> <b>351</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_totalBossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (351)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (336)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (235)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (170)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (161)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (99)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (81)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (59)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (38)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908353">Rosa 'Sweetheart' Fortune</a> (36)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">I Am the Law!</h3>
                        <p><i>Times attacking the Seekshadow thieves:</i> <b>44</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_ratThiefAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (44)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (23)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (22)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/908153">Chuy 'Robin's Bitch' Cholo</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907993">Kieran Seekshadow</a> (6)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907955">Mini Martha</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908035">Devon Barela</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
                        <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>71</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_lovebringerAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (71)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (70)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (69)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (68)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (51)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (45)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908353">Rosa 'Sweetheart' Fortune</a> (36)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (34)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (25)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (24)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Down With Donna!</h3>
                        <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>96</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907892">Vanessa Bust</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_donnaAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (96)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (63)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (53)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (39)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (35)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907968">Princess Lily</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/909905">Bryson Crump</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/908556">Sue 'Z' Falls</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/908066">Eric Finney</a> (6)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fae-Away</h3>
                        <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>80</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_faebossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (80)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (65)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (31)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (9)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908442">Kaitlyn Kat</a> (6)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907872">Andine Sunn</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/908495">Emanueli Myrick</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/911748">Catalina Williams II</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/910618">Iris Styles II</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907911">Rob Martinson</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/delusional_stripper_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Brisby Battler</h3>
                        <p><i>Times attacking either of the Brisby twins:</i> <b>86</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_mouseSisterAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (86)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (84)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907992">Starfire Logue</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
                        <p><i>Times attacking Harley the Road Queen:</i> <b>64</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907850">Kyla Noir</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_motorcycleGangAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (64)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (56)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/908284">Tea Higgins</a> (51)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (44)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (38)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (35)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (30)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/907782">Shredster Khan</a> (19)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907996">Aurora Ryall</a> (15)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wild_blue_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A Change in Management</h3>
                        <p><i>Times attacking any mini-boss:</i> <b>766</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_minibossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907821">Viola Hawthorne</a> (766)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/909415">Sally Shorde</a> (574)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907780">Miss Tease</a> (554)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907892">Vanessa Bust</a> (501)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/908386">Kasumi 'Bancroft's Tit's' Takanawa</a> (393)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/907917">Kiera Dierst</a> (386)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (350)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/908384">Freya Dolly</a> (273)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907850">Kyla Noir</a> (271)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907869">Prios 'Bubbles' Priosprios</a> (223)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
                        <p><i>Number of mind control commands issued:</i> <b>76</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/907863">Beverly Wise</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_mind_control_commands_issued"><div>
            <p>
                1. <a href="/pvp/lookatplayer/907863">Beverly Wise</a> (76)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/911458">Luka Bell</a> (54)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/907967">Calanthia Alexandra</a> (31)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/907924">Robin Pharnia</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/916436">Jeannette Fuller</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/914206">Adrian Succstad</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/914604">Lexi Belle</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/911288">Minerva Sass</a> (6)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/907820">Natalie Bancroft</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/907970">Leeta Williams</a> (4)
            </p>

</div></div>

                </div>

    </div>