<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,542</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a> (10,542)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (10,151)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (6,651)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (5,308)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410373">Nihat Unal</a> (5,044)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410999">Nyasa Meownya</a> (4,101)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/412073">Alex Mccairn</a> (3,268)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/416394">Nash Torres</a> (3,200)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/417927">Wendi Molina II</a> (3,154)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410837">Princess Lily</a> (3,097)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,785</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (3,785)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (2,187)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (1,724)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (1,658)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (1,614)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (1,487)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (1,466)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (1,354)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (1,284)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (1,147)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>9,755</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (9,755)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (6,885)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (6,861)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (6,545)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (6,422)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (5,767)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (5,581)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (5,070)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (5,050)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (4,587)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,825</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (1,825)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (897)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (800)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (774)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (770)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (707)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (706)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (696)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (650)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (629)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,509</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (1,509)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (1,496)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (1,322)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (1,077)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (1,052)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (958)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (915)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (864)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (799)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (717)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wereleopard_luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,018</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (2,018)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410373">Nihat Unal</a> (1,048)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410535">Nadia Ayers II</a> (458)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/417927">Wendi Molina II</a> (381)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410297">Ziggy Anvil</a> (340)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410428">Kim Steele</a> (337)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410430">Soupseller 'Irresistible' Kaibutsu</a> (326)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (319)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410962">Ench Anter</a> (282)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (272)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>34,800</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (34,800)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (19,000)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (16,920)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (14,220)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a> (12,940)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (11,200)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411342">Janet Wentworth</a> (8,140)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410373">Nihat Unal</a> (8,000)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (7,000)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (7,000)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wereleopard_luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>368</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (368)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (222)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (151)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (77)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (67)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (59)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (57)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (46)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (44)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>122</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (122)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (112)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (98)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (58)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410462">Allyssa Adams</a> (55)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (50)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410712">Allen Fulton</a> (50)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411737">Elva Berg</a> (49)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (48)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410531">Ginger Nunez</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/goldfish_mermaid_roxanne13579.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>14</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/416061">Running Cloud VII</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/416061">Running Cloud VII</a> (14)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/416272">Joel Ferry</a> (12)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/418256">Terra Prescott II</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/413476">Violet Dawn</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/415125">Graciela Lovell</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/413295">Celeste Aurora III</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410620">Espa Fox</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/414697">Eleanor Boggs</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/416076">Caesar Houle IV</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410552">Candie Lee</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/cowslime_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>12</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/415692">Anna Mccrary</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/415692">Anna Mccrary</a> (12)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/416061">Running Cloud VII</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410712">Allen Fulton</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/411592">Grace Sister</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/412966">Jasmine Tinyclaw</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/414687">Vita Barbour II</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/412088">Matt Steele</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/413358">Toutali Nautgail</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/415125">Graciela Lovell</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/druid_of_the_forest_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>250</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (250)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (122)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (113)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (95)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (74)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410793">Luna Moonwell II</a> (56)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410448">Danii Colorado</a> (55)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (49)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410531">Ginger Nunez</a> (45)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/413280">Caesar Horning</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>243</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (243)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (71)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (71)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (70)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (56)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (50)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (47)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (43)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (43)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/unimagineably_bbl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>31</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (31)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (22)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411589">Alexis Smith</a> (12)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410858">Will Wolf</a> (11)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/413112">Jacqui Katy II</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411187">Tiffany Anders</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>241</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (241)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (77)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (75)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (54)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (50)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (48)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (47)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (45)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (43)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/noctournal_mother_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>28</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (28)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410740">Ali Hain</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411455">Albus Aldridge</a> (2)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/414052">Mora Mae II</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/413892">Jeanine Warner</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/griffin_familiar_Icaron.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>55</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410305">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (55)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (53)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (52)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410391">Sakura Boobie</a> (35)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410462">Allyssa Adams</a> (31)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (31)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (27)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (25)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410535">Nadia Ayers II</a> (25)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410373">Nihat Unal</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a> (12)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (12)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410391">Sakura Boobie</a> (12)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (11)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/411776">Aloysious Katt</a> (9)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/white_apron_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,715</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410398">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410398">Kittyn Angelica</a> (24,715)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410586">Ana Soul</a> (24,640)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410306">Teresa Hammond</a> (24,195)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410547">Marcus Aurelius</a> (22,355)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410334">Auly Jua</a> (22,085)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410327">Thomas Rougarou</a> (20,495)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410461">Minervas Buttslut</a> (19,105)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410332">Minerva Nobody</a> (18,285)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410350">Dorothy Silver</a> (17,595)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410427">Susan Vidal</a> (17,345)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/hound_mark_47_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,920</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410425">Obedient Bitch</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410425">Obedient Bitch</a> (24,920)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410413">Kellymoo Labonte</a> (24,720)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411967">Helena Kirk</a> (21,305)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410304">Melina 'Chocolina' Mercy</a> (20,990)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410472">Mooranda Moors</a> (20,470)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/411087">Phoebe Stormbringer</a> (18,208)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410553">Calem Frutti</a> (17,245)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410409">Leigh Nyx</a> (15,980)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410453">Tharkis Mithra</a> (15,960)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410491">Kenneth Winter</a> (15,668)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>34,032</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (34,032)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (26,194)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (18,772)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (14,789)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a> (11,953)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410373">Nihat Unal</a> (10,764)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (9,979)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (9,563)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410681">Ashley Ashford</a> (9,453)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a> (9,009)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/unimagineably_bbl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>4,041</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (4,041)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (2,086)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410767">Marcus Mayor</a> (1,157)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (1,134)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/411486">Jack Saw</a> (900)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410740">Ali Hain</a> (851)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410426">Nikolai Riven</a> (818)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410959">Starfire Logue</a> (753)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410535">Nadia Ayers II</a> (605)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410344">Madge 'The Playful Fae' Mercy</a> (553)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Fwoompsune_redpandacase.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>9,929</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (9,929)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (5,625)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (3,311)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411342">Janet Wentworth</a> (2,381)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/415323">Emilia Mckenna</a> (1,515)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (1,471)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410740">Ali Hain</a> (1,274)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411592">Grace Sister</a> (908)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410982">Wilma Feuerstein</a> (837)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410696">Allison Waite</a> (826)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,216</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410765">Cuddles Pillowran</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410765">Cuddles Pillowran</a> (1,216)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/411235">Mage Morph</a> (743)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410303">Chloe Lockhart</a> (704)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410300">Ree Dollface</a> (650)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/413119">Anne Lefebvre</a> (427)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410580">Cursemaker Nix</a> (227)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410533">Janeen Wiccanshire</a> (200)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411576">Gowen Geter</a> (200)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410416">Terra Ward</a> (182)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/416741">Dani Phantom</a> (182)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wild_blue_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>227</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (227)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/415462">Vivianne Mcqueen</a> (172)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (80)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411589">Alexis Smith</a> (53)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410999">Nyasa Meownya</a> (44)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/415796">Purple Haze II</a> (40)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (37)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410956">Linda Thorne</a> (36)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (35)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/411206">Kieran Seekshadow</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_blue_haired_girl_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>29</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410476">Anderson Toney</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410476">Anderson Toney</a> (29)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (24)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410583">Silke Hose</a> (12)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410645">Muttilda May</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410337">Game Hound</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411174">Ai Naoi</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410441">Morgan Moss</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410580">Cursemaker Nix</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410344">Madge 'The Playful Fae' Mercy</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>22</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (22)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (14)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410583">Silke Hose</a> (1)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/neko_witch_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>128</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410348">Witch Maria</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (128)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_blue_haired_girl_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,465</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410476">Anderson Toney</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410476">Anderson Toney</a> (1,465)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/418423">Maid Fuki</a> (1,056)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410583">Silke Hose</a> (591)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410337">Game Hound</a> (297)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410645">Muttilda May</a> (294)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (256)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411343">Alex Hanes II</a> (254)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411589">Alexis Smith</a> (218)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (202)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410580">Cursemaker Nix</a> (183)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/doggy_dick_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/413476">Violet Dawn</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/413476">Violet Dawn</a> (20)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/416061">Running Cloud VII</a> (12)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/415125">Graciela Lovell</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410620">Espa Fox</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/416272">Joel Ferry</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/415692">Anna Mccrary</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410712">Allen Fulton</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410552">Candie Lee</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/412088">Matt Steele</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>97</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (97)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (47)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410431">Retz Reza</a> (45)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410391">Sakura Boobie</a> (41)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (34)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410535">Nadia Ayers II</a> (26)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411178">Tyler Gray</a> (17)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410302">Kyle Nines</a> (14)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410522">Lindsey Neeler</a> (14)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/413715">Marcellus Ravencrow</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>26</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (26)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410535">Nadia Ayers II</a> (7)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410314">Petra Nobody</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410451">Sophia Glenn</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410301">Eric Finney</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410909">Azzy Aria</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410532">Titsy 'inque' Mcdumblepluff</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>8,055</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (8,055)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (2,955)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410394">Diana Victor</a> (1,825)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410308">Innocent Lady</a> (1,450)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410684">Dustin Craven II</a> (1,225)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410523">Rene Hawks</a> (985)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411716">Lucius Valentine</a> (960)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/410337">Game Hound</a> (885)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (765)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (700)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>30</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410597">Link Vicore</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410597">Link Vicore</a> (30)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/412804">Gem Eng</a> (23)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/411235">Mage Morph</a> (22)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/411860">Franny Mae</a> (20)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/411999">Allice Kingsner</a> (19)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/413476">Violet Dawn</a> (17)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/411329">Zarina Small</a> (15)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410982">Wilma Feuerstein</a> (15)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410686">Aisha Grimm</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/druid_of_the_forest_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/411128">Roselind Embry</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410446">Simone Binbow</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410432">Dawid Wolf</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410959">Starfire Logue</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/411178">Tyler Gray</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/414213">Quinn Calloway</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/413715">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/druid_of_the_forest_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>15,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410307">Lara Ithilwen</a> (15,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410957">Lacy Lachance</a> (1,028)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/410348">Witch Maria</a> (500)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (348)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410791">Crystal Moyer</a> (273)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410507">Ruby Fox</a> (229)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410310">Shredster Khan</a> (222)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/413237">Clarissa Trotter</a> (176)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/411146">Walker Ely</a> (149)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/411235">Mage Morph</a> (146)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/griffin_familiar_Icaron.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>800</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/410305">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/410305">Dark Blade</a> (800)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/410426">Nikolai Riven</a> (361)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/417015">Henny Wuns II</a> (214)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/410296">Leena Mcridill</a> (210)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/410857">Veln Moonscythe</a> (143)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/410462">Allyssa Adams</a> (142)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/410448">Danii Colorado</a> (106)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/417676">Kasey Caban</a> (88)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/410391">Sakura Boobie</a> (84)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/410344">Madge 'The Playful Fae' Mercy</a> (76)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>