<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/819458">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819458">Kyrah Binbow</a> (10,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (9,949)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/820105">Vanilla Cream</a> (9,138)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/820341">Sola Dragora</a> (8,553)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819499">Alexa Cumslut</a> (8,323)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819575">Ash Karliah</a> (7,511)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (7,414)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (7,381)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (5,919)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819473">Rob Martinson</a> (5,852)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>4,132</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (4,132)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (2,707)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (2,255)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (2,172)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (2,124)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (1,863)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (1,822)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (1,608)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (1,482)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (1,436)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>19,123</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (19,123)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819565">Razlien Banks</a> (17,505)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (12,513)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (11,874)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (11,049)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (10,837)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (9,080)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/824015">Max Komsalott II</a> (9,046)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (7,845)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819676">Jo Giovanna</a> (7,269)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,613</b></p>
            <p>
                <a href="/pvp/lookatplayer/819459">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (1,613)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (1,520)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (1,348)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (1,338)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/829833">Holden Bettis III</a> (1,264)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (1,199)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (1,148)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819893">Dawid Wolf</a> (1,024)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (942)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (859)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/teacup_catgirl_CJ.gif" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,246</b></p>
            <p>
                <a href="/pvp/lookatplayer/819676">Jo Giovanna</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819676">Jo Giovanna</a> (2,246)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (1,663)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (1,414)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (1,360)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (1,334)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (1,210)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (1,205)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (1,168)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819471">Jessie 'Easter Cabbit' Nealy</a> (1,137)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (1,083)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/teacup_catgirl_CJ.gif" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,737</b></p>
            <p>
                <a href="/pvp/lookatplayer/819676">Jo Giovanna</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819676">Jo Giovanna</a> (2,737)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819471">Jessie 'Easter Cabbit' Nealy</a> (2,440)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (1,571)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (1,435)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (702)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819473">Rob Martinson</a> (650)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (604)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/830826">Ever Oaks II</a> (479)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (378)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (358)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>130,420</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (130,420)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (38,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (23,100)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (17,500)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (11,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819813">Antonia Batts</a> (11,380)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (9,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (8,840)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819675">Henny Wuns</a> (7,900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/821166">Tiffany Anders</a> (7,000)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/819456">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (56)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (52)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (50)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (40)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819471">Jessie 'Easter Cabbit' Nealy</a> (20)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/819451">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (80)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (74)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819995">Pie Pies</a> (54)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/829382">Tabitha Duppree III</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819540">Chloe Copeland</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819701">Dustin Craven</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/819614">Dj Bj</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819614">Dj Bj</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/830348">Gael Kupopo X</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819748">Seras Victoria</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/828846">Meili Moon</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820175">Ruby Red</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/827101">Darnell Matos</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/825631">Melissa Miles</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/824121">Aly Bays</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/828493">Harriet Horny</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/824951">Silver Fischer</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/enchanted_tree_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/828493">Harriet Horny</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/828493">Harriet Horny</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/828662">Dendaughter Claire II</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/830808">Kenny Damron</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820477">Rena Equinoza</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/828360">Keri Minor</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819470">Squeaky Souris</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/821707">Katie Welker II</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/827038">Gratiana Wingfield VI</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/826388">Dwayne Aguayo</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>114</b></p>
            <p>
                <a href="/pvp/lookatplayer/819488">Vato Loco</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (114)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (109)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (86)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (75)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/829382">Tabitha Duppree III</a> (75)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819540">Chloe Copeland</a> (55)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (40)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>533</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (533)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (142)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (110)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (95)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (83)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/823463">Lunabun Hop II</a> (69)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (61)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (46)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>47</b></p>
            <p>
                <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (47)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/821166">Tiffany Anders</a> (34)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819628">May Voneverec</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820578">Rosa Fortune</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819495">Eric Finney</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/828912">Laura Valeille</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>514</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (514)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (122)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (100)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (90)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/823463">Lunabun Hop II</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (67)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (63)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (58)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (56)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/821166">Tiffany Anders</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>41</b></p>
            <p>
                <a href="/pvp/lookatplayer/819995">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819995">Pie Pies</a> (41)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/821034">Ali Hain</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/824951">Silver Fischer</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/830826">Ever Oaks II</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/826054">Kaede Yamabuki II</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819501">Asani Lexis</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/gothic_bra_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>108</b></p>
            <p>
                <a href="/pvp/lookatplayer/819523">Titania Siofra</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (108)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (104)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (72)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (66)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (47)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819499">Alexa Cumslut</a> (42)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819499">Alexa Cumslut</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819458">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820105">Vanilla Cream</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819911">Stephen Welles</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,985</b></p>
            <p>
                <a href="/pvp/lookatplayer/819486">Jessie's Lovepillow</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819486">Jessie's Lovepillow</a> (39,985)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819463">Rosalind Halaszyn</a> (39,945)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819532">Pussy Auly</a> (39,195)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819487">Fat Tits</a> (39,180)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820082">Lesser Half</a> (39,015)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819585">Cute Bow</a> (38,815)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819707">Nadia Starling</a> (37,385)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/820499">Phoebe Stormbringer</a> (36,505)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819537">Angeline Inflateable</a> (32,420)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820094">Yvesza Sylwind</a> (32,195)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/snow_cabbit_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,985</b></p>
            <p>
                <a href="/pvp/lookatplayer/819468">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819468">Lara Ithilwen</a> (39,985)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819561">Petty Criminal</a> (39,890)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819787">Riley Sorell</a> (37,820)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/820517">Terra Ward</a> (35,125)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819619">Chuy Cholo</a> (33,800)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819583">Stoney Waver</a> (31,910)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/820001">Jessica Angels</a> (30,820)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819560">Gwendolyn Blair</a> (29,590)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (26,225)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/821533">Nerati Sua</a> (26,065)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>99,087</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (99,087)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (35,564)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819911">Stephen Welles</a> (19,746)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (18,829)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819541">Seira Prismatica</a> (18,534)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819458">Kyrah Binbow</a> (14,049)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (12,301)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a> (11,930)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/820105">Vanilla Cream</a> (11,059)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819813">Antonia Batts</a> (10,851)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,740</b></p>
            <p>
                <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (5,740)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (2,547)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819556">Aurora Ryall</a> (2,455)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (2,403)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (2,318)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/829833">Holden Bettis III</a> (2,295)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (1,720)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/822582">Alice Wynter</a> (1,438)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819518">Mikhail Vigg</a> (1,100)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819471">Jessie 'Easter Cabbit' Nealy</a> (1,051)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>17,170</b></p>
            <p>
                <a href="/pvp/lookatplayer/819456">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (17,170)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (4,680)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819813">Antonia Batts</a> (2,180)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819556">Aurora Ryall</a> (2,060)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819911">Stephen Welles</a> (1,770)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (1,350)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (970)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/820713">Lefen Harrell</a> (950)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/824015">Max Komsalott II</a> (900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/823298">Robin Bynum</a> (610)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>2,660</b></p>
            <p>
                <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a> (2,660)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (1,020)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819473">Rob Martinson</a> (550)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (540)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820578">Rosa Fortune</a> (500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/823463">Lunabun Hop II</a> (400)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/821500">Finn Breezes</a> (400)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (380)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819932">Terry Dens</a> (300)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819843">Seth Den</a> (230)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>102</b></p>
            <p>
                <a href="/pvp/lookatplayer/819480">Kris Anderson</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (102)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/820263">Nyasa Meownya</a> (78)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (50)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819495">Eric Finney</a> (47)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819879">Tristen Carroll</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/824817">Severianus Cowley</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/826866">Anna Riveryn</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/living_latex_catsuit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>164</b></p>
            <p>
                <a href="/pvp/lookatplayer/819763">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819763">Joe Nobody</a> (164)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819893">Dawid Wolf</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/828409">Joy Eves</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819676">Jo Giovanna</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/828692">Googer Bomboski</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/825991">Estella Rock</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/828493">Harriet Horny</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819467">Eirena Shashavani</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/820686">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819893">Dawid Wolf</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>98</b></p>
            <p>
                <a href="/pvp/lookatplayer/820686">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (98)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/825991">Estella Rock</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (35)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/824235">Mettle Heavy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/819614">Dj Bj</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819614">Dj Bj</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/825679">Victor Ashworth</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819748">Seras Victoria</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819470">Squeaky Souris</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/830808">Kenny Damron</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/824951">Silver Fischer</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/828493">Harriet Horny</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/821707">Katie Welker II</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/825631">Melissa Miles</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820175">Ruby Red</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>104</b></p>
            <p>
                <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (104)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (78)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (70)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (60)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (58)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819499">Alexa Cumslut</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mindless_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/819727">Buve Wilson</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819727">Buve Wilson</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819813">Antonia Batts</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819989">Adrien Wade</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820993">Morri Graves</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819572">Olivia Valentine</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819496">Judith 'Candy Giver' Neff</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819766">Johnny Joestar</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819893">Dawid Wolf</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>11,775</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (11,775)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (1,980)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (1,645)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (1,360)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819675">Henny Wuns</a> (1,355)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (1,230)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819539">Jane Parish</a> (1,065)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/828767">Aldes Harder</a> (1,020)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (1,010)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (630)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cheerleader_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>56</b></p>
            <p>
                <a href="/pvp/lookatplayer/821833">Kolby Smiley</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/821833">Kolby Smiley</a> (56)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/820491">Ashley Nicholls</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819962">Lassy Truesword</a> (39)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819995">Pie Pies</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/828409">Joy Eves</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/824635">Jess Scarlett</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/823486">Amber Mccullough</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819494">Leon Hickman</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/821641">Nagato Yuki</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/828692">Googer Bomboski</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/stuffed_Freya_Calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/819466">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819466">Abigail Jasione</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819451">Shredster Khan</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819701">Dustin Craven</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820578">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819893">Dawid Wolf</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/822927">Living Golden</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/823486">Amber Mccullough</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>5,287</b></p>
            <p>
                <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (5,287)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (1,874)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (741)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (615)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820100">Freya 'Nadia’s plaything' Dolly</a> (269)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819499">Alexa Cumslut</a> (177)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819541">Seira Prismatica</a> (124)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/830440">Luna Pax IV</a> (103)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/823463">Lunabun Hop II</a> (94)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (86)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>1,426</b></p>
            <p>
                <a href="/pvp/lookatplayer/819565">Razlien Banks</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819565">Razlien Banks</a> (1,426)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (987)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819514">Josephine Spunkycow</a> (143)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819648">Shannon Switch</a> (92)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819572">Olivia Valentine</a> (87)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819800">Denguardian Tyrson</a> (84)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819575">Ash Karliah</a> (60)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (58)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819455">Robert Lurker</a> (53)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819502">Veln Moonscythe</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_12_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/819628">May Voneverec</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819628">May Voneverec</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/822521">Katrina Cobb</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/820372">Sofie Howard</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>222</b></p>
            <p>
                <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (222)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819628">May Voneverec</a> (170)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (80)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (80)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (74)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (68)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/822521">Katrina Cobb</a> (62)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/820372">Sofie Howard</a> (59)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (58)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>249</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (249)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (168)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (137)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (110)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (97)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (68)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (43)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/820100">Freya 'Nadia’s plaything' Dolly</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/820249">Golden Gem</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/820156">Jordan North</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819838">Augustus Bilodeau</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>55</b></p>
            <p>
                <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (55)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (53)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (33)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (29)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819515">Tara 'Nerd Queen' Sapphire</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819540">Chloe Copeland</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>71</b></p>
            <p>
                <a href="/pvp/lookatplayer/819459">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (71)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/820477">Rena Equinoza</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819528">Intrepid Adventurer</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819676">Jo Giovanna</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (45)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (24)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (20)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820341">Sola Dragora</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819470">Squeaky Souris</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819646">Aida Holmes</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819473">Rob Martinson</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819662">Naseelah Saisir</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>36</b></p>
            <p>
                <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (36)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (35)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819675">Henny Wuns</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819536">Nadia 'Any Day Now' Ayers</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/822927">Living Golden</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/820105">Vanilla Cream</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819748">Seras Victoria</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>49</b></p>
            <p>
                <a href="/pvp/lookatplayer/819459">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (49)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (48)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819570">Emily Hart</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/820686">Lucile Lenon</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819469">Jennah Arhtima</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/822454">Jaime Navarrete</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819539">Jane Parish</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,077</b></p>
            <p>
                <a href="/pvp/lookatplayer/819459">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (1,077)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819476">Viola Hawthorne</a> (651)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819464">Tiffany Jewels</a> (557)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (424)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/823268">Vanessa Stills</a> (396)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (395)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (387)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819923">Lindsay Bradley</a> (350)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819694">Kyla Noir</a> (326)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/819838">Augustus Bilodeau</a> (312)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mindless_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>94</b></p>
            <p>
                <a href="/pvp/lookatplayer/819727">Buve Wilson</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/819727">Buve Wilson</a> (94)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/819488">Vato Loco</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/819459">Reiko Ruy</a> (57)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/829375">Ace Weber</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/819896">Robin 'The Zookeeper' Pharnia</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/819456">Grizel Indivar</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/819523">Titania Siofra</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/819541">Seira Prismatica</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/819480">Kris Anderson</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/820852">Crystal Moyer</a> (6)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>