@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wereleopard_luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Hawkeye</h3>
            <p>
                <i>Times searched:</i> <b>7,525</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248295">Bell Reed</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248295">Bell Reed</a> (7,525)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/253639">Bryce Fae</a> (6,626)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/252296">Nia Last</a> (6,022)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/249165">Tarsis Asset</a> (5,387)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (5,282)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/249047">Wing Bellum</a> (4,981)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/252619">Nyabila Meownya</a> (4,025)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (3,495)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248875">Emmy Flameheart</a> (3,409)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248589">Janeen Wiccanshire</a> (3,388)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Quantity not Quality!</h3>
            <p>
                <i>Spells cast:</i> <b>1,486</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (1,486)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (1,444)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a> (1,351)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/252521">Pahakissa Silencia II</a> (1,345)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (1,299)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248836">Will Wolf</a> (1,179)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (1,172)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248424">Robin Banks</a> (1,144)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/255267">Lexi Cummings II</a> (1,007)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (994)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">The Restless One</h3>
            <p>
                <i>Times moved:</i> <b>12,345</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (12,345)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (6,669)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (6,455)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (6,354)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (5,120)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (4,902)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/255027">Dhalia Shivers</a> (4,752)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248424">Robin Banks</a> (4,657)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (4,449)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (4,361)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Hypochondriac</h3>
            <p>
                <i>Times cleansed:</i> <b>1,569</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (1,569)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (1,260)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (1,188)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248735">Cynthia 'Sua' Valentine</a> (1,016)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (907)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (886)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248325">Dixi Blanks</a> (712)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (706)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (636)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (597)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Lost in Thought</h3>
            <p>
                <i>Times meditated:</i> <b>1,401</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (1,401)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (1,363)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (1,099)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/258978">Airi Mena</a> (1,017)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (873)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (805)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (768)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248735">Cynthia 'Sua' Valentine</a> (753)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (725)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248325">Dixi Blanks</a> (717)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">____ the Enchanter</h3>
            <p>
                <i>Times enchanting:</i> <b>2,144</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248466">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (2,144)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (2,105)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (1,208)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/258978">Airi Mena</a> (1,061)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/254574">Anne Hendon</a> (633)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/252830">Johanna Mercy</a> (493)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248594">Luka Ingram</a> (468)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (452)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248367">Tem Nan</a> (384)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (382)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Covenant Benefactor</h3>
            <p>
                <i>Net Arpyjis donated to covenant:</i> <b>50,000</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (50,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (35,700)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/249047">Wing Bellum</a> (20,500)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (10,980)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248991">Edna Schafer</a> (8,420)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248344">Amalia Decuir</a> (7,520)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248836">Will Wolf</a> (6,860)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a> (6,500)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (4,500)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/257946">Shadrel Foxen</a> (3,920)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/marble_vixen_CherryCake0.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Couch Potato</h3>
            <p>
                <i>Times using covenant furniture:</i> <b>255</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (255)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (177)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (166)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (88)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (69)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248991">Edna Schafer</a> (67)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (53)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (51)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (50)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">What's My Form Again?</h3>
            <p>
                <i>Times transformed into an animate form:</i> <b>100</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (100)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/255229">Lang Schoone II</a> (92)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248325">Dixi Blanks</a> (75)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/252521">Pahakissa Silencia II</a> (75)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/249193">Lawrence Cooley</a> (74)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/255092">Starfire Logue III</a> (59)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/255539">Janet Meyer II</a> (56)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248735">Cynthia 'Sua' Valentine</a> (54)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (53)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pink_latex_dress_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">The Inanimated</h3>
            <p>
                <i>Times transformed into an inanimate form:</i> <b>26</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (26)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/254018">Frankie Crump IV</a> (20)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/253161">Garrett Butterfield</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/252619">Nyabila Meownya</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/257651">Pete Aguilera</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/258221">Ailaria Tarmikos III</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/259906">Jessica Lawson VI</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/253211">Alex Watts II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/bplug_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Nothin' But a Hound Dog</h3>
            <p>
                <i>Times transformed into a pet form:</i> <b>8</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/259731">Brian Ives</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/259731">Brian Ives</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/257687">Zim Ra</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/257303">Ronin Cooley IV</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/259135">Margo Zambarno II</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/258978">Airi Mena</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/252884">Tom Peters III</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/253989">Nyada Meownya</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/254493">Melody Mena III</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/254574">Anne Hendon</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/255532">Eva Metzger II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/gothic_wings_Luxianne.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">The Animator</h3>
            <p>
                <i>Targets transformed into an animate form:</i> <b>108</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/252521">Pahakissa Silencia II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/252521">Pahakissa Silencia II</a> (108)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/249193">Lawrence Cooley</a> (105)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/249047">Wing Bellum</a> (82)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/255229">Lang Schoone II</a> (73)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248325">Dixi Blanks</a> (64)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/255267">Lexi Cummings II</a> (55)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248366">Yuki Haruno</a> (52)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248415">Seth Punisher</a> (47)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248735">Cynthia 'Sua' Valentine</a> (45)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248624">Mai Sommers</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">The Inanimator</h3>
            <p>
                <i>Targets transformed into an inanimate form:</i> <b>125</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (125)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (84)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (57)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (51)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248344">Amalia Decuir</a> (50)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248516">Sidney Quinn</a> (50)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248424">Robin Banks</a> (47)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (45)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248836">Will Wolf</a> (43)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/cupcake_demon_luxianne.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Petmaker</h3>
            <p>
                <i>Targets transformed into a pet form:</i> <b>59</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a> (59)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248609">Rosalynya Meownya</a> (34)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/250457">Nyameowya Meownya</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248526">Alzoru Ledura</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248895">Gustav Dockery</a> (9)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/258098">Jake Seven</a> (9)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248437">Dust Nardell</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/256785">Gustavo Lefebvre II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Psycho Hunter</h3>
            <p>
                <i>Psychopathic Spellslingers defeated:</i> <b>111</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (111)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/251210">Lesa Clawson</a> (97)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (66)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (53)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248516">Sidney Quinn</a> (53)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248344">Amalia Decuir</a> (48)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248836">Will Wolf</a> (48)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/258978">Airi Mena</a> (47)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (46)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248959">Julian Maxwell</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/marble_vixen_CherryCake0.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Fast Commute</h3>
            <p>
                <i>Teleport scrolls used:</i> <b>11</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (11)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/259439">Stephanie Kuu</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/252521">Pahakissa Silencia II</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/256785">Gustavo Lefebvre II</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248753">Toriel Dreemurr</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/252619">Nyabila Meownya</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248787">Luciel Mcnamara</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Friend of the Fae</h3>
            <p>
                <i>Times played with Jewdewfae:</i> <b>57</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (57)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (17)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248516">Sidney Quinn</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (12)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248287">Drusus Burkholder</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248786">Will Stanton</a> (9)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248589">Janeen Wiccanshire</a> (9)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/249193">Lawrence Cooley</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248320">Aurora Ryall</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Nerrrrrd!</h3>
            <p>
                <i>Tomes read:</i> <b>10</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (10)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (10)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248766">Veln Moonscythe</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248959">Julian Maxwell</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/250590">Futa Lover</a> (9)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248424">Robin Banks</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/252915">Meryl Crandall II</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248951">Nayara Valerian</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Rub Rub Rub</h3>
            <p>
                <i>XP gained as an inanimate item:</i> <b>24,790</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248327">Cuddletoy Plush</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248327">Cuddletoy Plush</a> (24,790)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248294">Fox Cross</a> (24,510)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248531">Pauline Roundbottom</a> (21,495)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/251422">Angelines Doll</a> (20,505)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248929">Arrhae Hale</a> (19,850)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248412">Kari Pink</a> (19,710)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248399">Luna Kitsu</a> (19,395)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/249124">Angelina Doll</a> (19,245)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/251729">Phoebe Stormbringer</a> (17,260)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248432">Teresa Hammond</a> (16,125)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/panty_pet_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Petter off this Way</h3>
            <p>
                <i>XP gained as an pet.:</i> <b>24,313</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248388">Melina 'Tiny Terror' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248388">Melina 'Tiny Terror' Mercy</a> (24,313)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248314">Squeak Angelica</a> (21,025)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248398">Roys Lapgirl</a> (20,063)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248525">Nox Hades</a> (19,125)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248380">Cathy Kellum</a> (18,790)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248335">Jeska Wing</a> (18,760)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248681">Tharkis Mithra</a> (17,475)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/250571">Jordan Scott IV</a> (14,608)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248449">Tina Maine</a> (12,625)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/252438">Zander Callas</a> (12,625)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Soul Seller</h3>
            <p>
                <i>Net profit from selling to Lindella:</i> <b>44,646</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (44,646)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (40,986)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/249047">Wing Bellum</a> (20,134)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248991">Edna Schafer</a> (10,337)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (9,570)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/259439">Stephanie Kuu</a> (9,315)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (8,716)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (6,521)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/252870">Yomiko Readman II</a> (6,384)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/249269">Vivianne Mcqueen</a> (6,242)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Soul Consumer</h3>
            <p>
                <i>Net loss from buying from Lindella:</i> <b>4,262</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248879">Betty Blowtorch</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248879">Betty Blowtorch</a> (4,262)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (2,644)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/251106">Jem Quinn</a> (1,792)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/254834">Dot Sisco II</a> (1,501)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/252619">Nyabila Meownya</a> (1,346)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/252296">Nia Last</a> (1,265)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/249165">Tarsis Asset</a> (1,167)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/253874">Charity Burnett III</a> (1,095)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/254890">Mabel Allman</a> (981)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248376">Elizabeth 'Moth Approved' Stearns</a> (966)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Puppy Profit!</h3>
            <p>
                <i>Profit from selling to Wuffie:</i> <b>1,960</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/254852">Brandy Blackwell</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/254852">Brandy Blackwell</a> (1,960)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/259439">Stephanie Kuu</a> (1,925)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248880">Andrea Morrissey</a> (1,367)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248572">Lefen Oliver</a> (982)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/254240">Katie Rose</a> (982)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248662">Annabelle Jumeau</a> (933)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/250627">Crissa Kentavr</a> (892)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/250561">Valeria Sparks</a> (758)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/249146">Pierce Jackman</a> (661)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/251544">Daniel Ruiz</a> (544)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Puppy Purchaser</h3>
            <p>
                <i>Loss from buying from Wuffie:</i> <b>700</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/254032">Alexis Hope</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/254032">Alexis Hope</a> (700)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (550)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/250590">Futa Lover</a> (477)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248424">Robin Banks</a> (405)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/253211">Alex Watts II</a> (364)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (361)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/255027">Dhalia Shivers</a> (350)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248855">Minerva Sass</a> (346)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248819">Krixus Azitary</a> (309)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/257929">Hyo Loxely</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/attachable_cat_tail_Aurora_Ryall.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Exiled's Apprentice</h3>
            <p>
                <i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>515</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (515)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (101)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/252870">Yomiko Readman II</a> (80)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/258263">Emily Grace</a> (73)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/249157">Forefox Rolls</a> (61)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/254495">Aveline Vernathon II</a> (56)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (55)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/255229">Lang Schoone II</a> (55)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/258978">Airi Mena</a> (43)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/249190">Matthew Palmer</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Dungeon Looter</h3>
            <p>
                <i>Dungeon artifacts found:</i> <b>20</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (20)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248490">Jess Ganes</a> (7)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248644">Donna Morte</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/254890">Mabel Allman</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248372">Abraxus Nox</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/254104">Cinis Skizm IV</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248484">Katie Broadnax</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/attachable_cat_tail_Aurora_Ryall.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Demonslayer</h3>
            <p>
                <i>Dungeon demons defeated:</i> <b>15</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (15)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248490">Jess Ganes</a> (2)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (2)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (2)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248533">Niko Kalay</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248594">Luka Ingram</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248372">Abraxus Nox</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248323">Game Hound</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248349">Eric Force</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Dungeon Assassin</h3>
            <p>
                <i>Dungeon points stolen from victims:</i> <b>78</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (78)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/259439">Stephanie Kuu</a> (48)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248349">Eric Force</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248533">Niko Kalay</a> (16)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/254495">Aveline Vernathon II</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248881">Nerati Sua</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/258263">Emily Grace</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Dungeon Crawler</h3>
            <p>
                <i>Times moved in the dungeon.:</i> <b>2,000</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (2,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (1,500)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248644">Donna Morte</a> (883)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (634)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248490">Jess Ganes</a> (542)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (474)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248372">Abraxus Nox</a> (364)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/254890">Mabel Allman</a> (307)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248533">Niko Kalay</a> (213)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248385">David Arthur</a> (201)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pink_latex_dress_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Freeeeedom!</h3>
            <p>
                <i>Times struggled back to an animate form:</i> <b>26</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/252659">Bronson Banks II</a> (26)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/254018">Frankie Crump IV</a> (17)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/253161">Garrett Butterfield</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/254286">Sammie Shorts II</a> (9)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248389">Prettyfly Forawifi</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/252619">Nyabila Meownya</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/257977">Maleficent Lessard II</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/257687">Zim Ra</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/259451">Seras Victoria II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Maximally Transmogrified</h3>
            <p>
                <i>Autoselftransmogrification Deflector Devices used:</i> <b>19</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248573">Ai Noai</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248573">Ai Noai</a> (19)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248516">Sidney Quinn</a> (19)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (18)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248787">Luciel Mcnamara</a> (14)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (14)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248589">Janeen Wiccanshire</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248287">Drusus Burkholder</a> (11)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/251106">Jem Quinn</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248376">Elizabeth 'Moth Approved' Stearns</a> (10)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248437">Dust Nardell</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Call of the Covenant</h3>
            <p>
                <i>Covenant Callback Crystals used:</i> <b>52</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (52)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248461">Digi Aeracin</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248427">Ima Bimbo</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248787">Luciel Mcnamara</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/250563">Mike Alexander III</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/256785">Gustavo Lefebvre II</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/249105">Nihat Unal</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248991">Edna Schafer</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/255267">Lexi Cummings II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Dollyamory</h3>
            <p>
                <i>Willpower restored from using Inflatable Sex Dolls:</i> <b>15,000</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248324">Lara Ithilwen</a> (15,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248322">Marisa Kuu</a> (6,510)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248436">Red Queen</a> (2,305)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248509">Yukiko 'Gothic Princess' Hatsune</a> (1,095)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (990)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248325">Dixi Blanks</a> (980)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/255616">Lynelle Moon II</a> (960)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248466">Princess Lily</a> (950)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248351">Brandy Booms</a> (905)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/254691">Diana Kitsu</a> (900)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/portraits/human_absorption_smuggler_Martiandawn.jpg" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Try Staying Home Today</h3>
            <p>
                <i>Quests failed:</i> <b>55</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/249212">Brea Streets</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/249212">Brea Streets</a> (55)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/249203">Mya Ilki</a> (54)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/251809">Alice North</a> (35)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248829">Isaac Cooke</a> (32)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248589">Janeen Wiccanshire</a> (32)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248591">Amber Butterfly</a> (32)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/252661">Maxwell Holden</a> (31)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/253161">Garrett Butterfield</a> (31)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248455">Marcus Wylde</a> (30)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248445">Brody Lang</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height: 100px; width: 100px; margin: 3px; float: right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/knitted_bra_Meddle.png" style="height: 100px; width: 100px; margin: 3px; float: left;">
            <h3 style="margin-top: 110px !important;">Adventure Time!</h3>
            <p>
                <i>Quests passed:</i> <b>7</b>
            </p>
            <p>
                <a href="/PvP/LookAtPlayer/248294">Fox Cross</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/248294">Fox Cross</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/248320">Aurora Ryall</a> (7)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/248587">Ciel Scarlet</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/248385">David Arthur</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/248915">Chris Wilson</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/248856">Julia Carver</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/248624">Mai Sommers</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/248415">Seth Punisher</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/248559">Dark Blade</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/248735">Cynthia 'Sua' Valentine</a> (7)
                    </p>

                </div>
            </div>

        </div>

    </div>
</div>
