<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>9,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a> (9,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608867">Dianne Maggard</a> (7,395)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (6,977)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608622">Alison Hamel</a> (5,553)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/609016">Vanilla Cream</a> (5,465)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (4,803)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608518">Jesse Grey</a> (4,605)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608236">Annabelle Jumeau</a> (3,906)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608444">Alex Starkey</a> (3,890)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608700">Britt Wiccanshire</a> (3,512)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,109</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (3,109)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (2,360)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (2,205)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (2,137)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (1,697)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (1,692)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/616003">Escurel Dae III</a> (1,301)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (1,215)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (1,214)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/617504">Rachael Anglin</a> (1,161)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>14,450</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (14,450)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (12,029)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (7,478)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (7,225)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (6,453)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (6,447)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (5,941)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (5,908)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/609042">Kaede Yamabuki</a> (5,860)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (5,712)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,622</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (1,622)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (814)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (783)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (768)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (657)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (633)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (610)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (604)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/617504">Rachael Anglin</a> (556)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (475)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,399</b></p>
            <p>
                <a href="/pvp/lookatplayer/608229">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (1,399)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/615180">Mio Clavat</a> (1,336)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (1,325)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (1,201)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (1,045)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (1,008)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (978)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (893)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (830)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/617504">Rachael Anglin</a> (742)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,531</b></p>
            <p>
                <a href="/pvp/lookatplayer/608269">Elpis Blav</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (1,531)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/615180">Mio Clavat</a> (1,492)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/609016">Vanilla Cream</a> (745)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (690)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608538">Beverly Michaud</a> (576)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608894">Sofie Howard</a> (451)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (320)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608622">Alison Hamel</a> (271)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/613276">Lilianya Nyekobornya II</a> (247)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608510">Crystal Moyer</a> (246)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lara_wolf_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>45,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (45,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (39,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (31,560)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (27,100)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (17,760)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (17,280)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608236">Annabelle Jumeau</a> (12,640)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608219">Tiffany Anders</a> (10,700)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (8,500)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608470">Mr Derik</a> (8,260)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>199</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (199)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (145)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (129)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608622">Alison Hamel</a> (61)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608470">Mr Derik</a> (42)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (40)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/613276">Lilianya Nyekobornya II</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/615498">Tyler Utyr II</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/609374">Marie Whelan II</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/615360">Cathy Gresham V</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/609163">Hunter Griffin</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/618153">Jaxon Ives</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/617193">Lucy Landon II</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608845">Fried Egg</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608813">Aurora Moreau</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/615598">Georgie Kyatt</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/614185">Ginger Morse VI</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608631">Amari Novotny</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/617215">Amanda Mondragon</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/615498">Tyler Utyr II</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/613849">Cleo Moser IV</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/609648">Devan Tolbert II</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/610619">Katie Maclary</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/613195">Matias Jung</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/616003">Escurel Dae III</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/615505">Li Varkarian</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/615598">Georgie Kyatt</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608441">Levi Mako</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>107</b></p>
            <p>
                <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (107)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/609423">Gwen Iwai II</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (57)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/616167">The Werewizard IV</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608468">Luna Moonwell</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/609483">Sabrina Rosa</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608470">Mr Derik</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>245</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (245)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (116)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (105)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (103)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (51)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/616003">Escurel Dae III</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (45)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608418">Rubette Lulette</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608235">Thomas Garou</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lara_wolf_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (19)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/617166">Leola Kitchens III</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608241">Eric Finney</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608249">Minerva Mediodaem</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608454">Hestia Sinclair</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/616167">The Werewizard IV</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/611813">Jamie Earley</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lara_wolf_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (171)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (116)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (110)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (74)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608418">Rubette Lulette</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608241">Eric Finney</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (42)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608867">Dianne Maggard</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/porcelaindoll_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/609026">Alexander Everson II</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/614729">Sarah Ainsley</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/617504">Rachael Anglin</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608867">Dianne Maggard</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/609132">Frankie Light</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/609316">Pepe Maus</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mummy_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (68)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (59)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (39)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608263">Josefina Haggerty</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/porcelaindoll_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608472">Kyle Nines</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608454">Hestia Sinclair</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608470">Mr Derik</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608708">Candy Ash</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608235">Thomas Garou</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608418">Rubette Lulette</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/eterna_condom_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>23,965</b></p>
            <p>
                <a href="/pvp/lookatplayer/608230">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608230">Markus Drake</a> (23,965)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/609260">Viviana Kensington</a> (21,930)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608221">Andrea Vanness</a> (21,770)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608245">Susanna Fitts</a> (19,485)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/609600">Wedding Ring</a> (19,075)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608746">August Lovelace</a> (17,720)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/609193">Breena 'Бринафaй 🌸' Victor</a> (17,035)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608434">Kristina Whyte</a> (14,690)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/617705">Rita Vela IV</a> (13,675)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/609919">Bridal Collar</a> (13,675)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/fairy_of_the_grove_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,620</b></p>
            <p>
                <a href="/pvp/lookatplayer/608222">Vixy Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608222">Vixy Angelica</a> (24,620)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608247">Gwenny Majors</a> (23,293)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608316">Allyssa Adams</a> (22,880)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608306">Forevers Pet</a> (21,008)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608458">Emily Hart</a> (19,855)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608250">Melina Mercy</a> (18,270)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608224">Iris Moyers</a> (17,725)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608346">Kay Mills</a> (16,770)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608227">Sam Grimm</a> (16,453)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/610028">Emm Velanie</a> (15,270)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lara_wolf_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>65,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (65,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (38,645)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (25,345)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a> (19,114)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/609804">Nyasa Meownya</a> (18,659)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (18,462)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (16,790)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608418">Rubette Lulette</a> (16,227)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (14,480)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (12,763)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/porcelaindoll_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>10,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (10,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (3,496)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/609793">Danielle Gibbons</a> (1,733)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608559">Danny Locker</a> (1,480)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/610398">Alpha Thecatgirlslaver</a> (1,368)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (1,254)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608485">Dani Palmira</a> (1,044)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (912)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/616536">Abigale Ren</a> (900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608518">Jesse Grey</a> (825)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/porcelaindoll_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>27,668</b></p>
            <p>
                <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (27,668)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/609804">Nyasa Meownya</a> (8,690)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (2,069)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608225">Tara Bellemore</a> (1,922)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608559">Danny Locker</a> (1,795)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/609423">Gwen Iwai II</a> (1,528)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/611025">Kira Hawke</a> (1,439)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/617284">Stephen Wall</a> (1,219)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608368">Selena Brewer</a> (1,139)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/610699">Winifred Ford II</a> (1,118)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/blood_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,750</b></p>
            <p>
                <a href="/pvp/lookatplayer/608249">Minerva Mediodaem</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608249">Minerva Mediodaem</a> (1,750)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (1,298)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (1,273)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608315">Ciarra Whyte</a> (1,031)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/610049">Varin Elderblood II</a> (700)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/615051">Matt Felgrand II</a> (582)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/609508">Max Komsallot</a> (579)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (452)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (450)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/617002">Sasha Hawthorne</a> (407)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lolita_rubberfrills.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>558</b></p>
            <p>
                <a href="/pvp/lookatplayer/609804">Nyasa Meownya</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/609804">Nyasa Meownya</a> (558)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608742">Lara Ithilwen</a> (550)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608418">Rubette Lulette</a> (295)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608241">Eric Finney</a> (261)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (111)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608909">Robin Bynum</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/614009">Jessica Fuller</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/617504">Rachael Anglin</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/616095">Purple Haze</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>37</b></p>
            <p>
                <a href="/pvp/lookatplayer/617309">Jillian Colburn</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/617309">Jillian Colburn</a> (37)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (23)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608301">Jeanne Martens</a> (22)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608254">Unagi Umino</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608614">Kouzlo Silver</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608241">Eric Finney</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608485">Dani Palmira</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/615180">Mio Clavat</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/616404">Lucas Teef</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (1)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_08_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>244</b></p>
            <p>
                <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (244)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608470">Mr Derik</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608472">Kyle Nines</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608235">Thomas Garou</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/615779">Alicia Guy IV</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608575">Gina Hunnigan</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608813">Aurora Moreau</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608845">Fried Egg</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608631">Amari Novotny</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/615498">Tyler Utyr II</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/617735">People Suck</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/615598">Georgie Kyatt</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/613967">Severina Arrington</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608485">Dani Palmira</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mummy_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>152</b></p>
            <p>
                <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (152)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (95)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (57)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (37)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608867">Dianne Maggard</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608700">Britt Wiccanshire</a> (22)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wereleopard_luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/608275">Countess Kasey</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/613276">Lilianya Nyekobornya II</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/609132">Frankie Light</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608510">Crystal Moyer</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608804">Will Wolf</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608297">Olwen Button</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>7,335</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (7,335)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (6,145)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (3,120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (1,455)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (1,355)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (1,060)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (910)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/610043">Madelyn Morris</a> (680)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608472">Kyle Nines</a> (640)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/614088">Melanie 'Gemini' Cyria</a> (390)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/wobbling_ears_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/608783">Shallan Valence</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608783">Shallan Valence</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608263">Josefina Haggerty</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608779">Jaxson Shadow</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/611287">Night Dagger</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/614660">Caly Luna</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/615250">Prisca Roybal</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/617270">Jack Trainer II</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608926">Doryl Astraea</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/610335">Seras Victoria II</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/608255">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608255">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608926">Doryl Astraea</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/609446">Maxwell Laird</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608783">Shallan Valence</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608236">Annabelle Jumeau</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608485">Dani Palmira</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/614081">Melissa Clifton</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/611796">Cali Logan</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>7,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608216">Kyrah Binbow</a> (7,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (1,967)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (1,472)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608315">Ciarra Whyte</a> (1,027)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (917)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/609042">Kaede Yamabuki</a> (834)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (505)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (350)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608533">Henny Wuns</a> (312)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (271)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>4,594</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (4,594)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608263">Josefina Haggerty</a> (389)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608828">Glenna Coy</a> (236)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (199)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608867">Dianne Maggard</a> (195)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/610699">Winifred Ford II</a> (155)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (155)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608518">Jesse Grey</a> (135)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (106)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/610736">Camille Pendleton</a> (95)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/608273">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/609308">Lume Hope</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608472">Kyle Nines</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608454">Hestia Sinclair</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/615365">Paul Dingus</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>166</b></p>
            <p>
                <a href="/pvp/lookatplayer/608273">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (166)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (134)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/609308">Lume Hope</a> (65)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608269">Elpis Blav</a> (49)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608472">Kyle Nines</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (44)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/611500">Becky Grackle</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/615365">Paul Dingus</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608242">Tomiko Hewitt</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>180</b></p>
            <p>
                <a href="/pvp/lookatplayer/608273">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (180)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (60)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (49)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (48)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608207">Raine Lei</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (28)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>35</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (35)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608207">Raine Lei</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (22)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608210">Dark Blade</a> (21)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608263">Josefina Haggerty</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608400">Isobel Evans</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608261">Rene Hawks</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608219">Tiffany Anders</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/608204">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608762">Caitlyn Andrade</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/610043">Madelyn Morris</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/609323">Lynxie Silverfall</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/610699">Winifred Ford II</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/609207">Grey Cow</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/611974">Alex Dantes</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608218">Yuriko Oyama</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608207">Raine Lei</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/608482">Yvesza Sylwind</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/611707">Mitch Condon</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608496">Taenil Auxifur</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608723">Alex Roberts</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/611844">Michele Rich</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/608273">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608239">Nadia 'Pamper Me Forever' Ayers</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608454">Hestia Sinclair</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/614081">Melissa Clifton</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608485">Dani Palmira</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608368">Selena Brewer</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>44</b></p>
            <p>
                <a href="/pvp/lookatplayer/608273">Lydia Gemma</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/608273">Lydia Gemma</a> (44)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/608275">Countess Kasey</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/608204">Elle Sawyer</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/608404">Isabelle Montecorvo</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/608237">Fulvia Sisk</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/613536">Blake Dorman</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/608479">Helpless Bystander</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/608229">Shredster Khan</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/608576">Dustin Craven</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/608556">Grace Daver</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>