<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/easter_bunny_karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,254</b></p>
            <p>
                <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a> (12,254)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (8,957)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/772637">Mae Fanning</a> (8,565)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771103">Wirerazor Fallyfolly</a> (8,341)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (7,616)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770924">Britt Wiccanshire</a> (7,530)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770260">May Voneverec</a> (7,443)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771324">Vanilla Cream</a> (6,962)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/772444">Hiro Chan</a> (6,841)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/775539">Nyara 'Space Kattet' Katswell</a> (6,330)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>4,422</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (4,422)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (3,517)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (3,347)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (2,953)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (2,345)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/778816">Max Karma</a> (1,702)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (1,677)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (1,611)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (1,588)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (1,536)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>14,071</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (14,071)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (11,839)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (11,832)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (11,188)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (10,195)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (8,804)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (8,401)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (7,585)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770198">Jessie 'Aunty Entity' Nealy</a> (7,140)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (7,020)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>3,033</b></p>
            <p>
                <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (3,033)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (2,966)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (2,094)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (2,070)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (1,652)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (1,630)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (1,348)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (1,294)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/774709">Jacqueline Tancaraz</a> (1,271)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (1,199)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,480</b></p>
            <p>
                <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (2,480)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (2,002)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (1,867)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (1,585)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (1,456)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (1,232)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (1,166)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/778816">Max Karma</a> (1,158)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (1,139)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (1,032)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_12_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,315</b></p>
            <p>
                <a href="/pvp/lookatplayer/771216">Luz Devlin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (2,315)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770198">Jessie 'Aunty Entity' Nealy</a> (1,315)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (746)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/773775">Akuza Faust II</a> (743)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770289">Michiko Yariman</a> (476)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/774473">Purrincess Nekopatra</a> (380)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770259">Denmother Serenity</a> (245)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770203">Susie Knoll</a> (232)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770267">Kaitlyn Kat</a> (176)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/771116">Olive Mesa</a> (163)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>123,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (123,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (94,660)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (50,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/772444">Hiro Chan</a> (33,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (16,000)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (13,100)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a> (12,900)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (11,760)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770234">Judith 'Thunderdome Bookie' Neff</a> (10,160)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (9,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>199</b></p>
            <p>
                <a href="/pvp/lookatplayer/770364">Grey Stipples</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (199)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (88)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (76)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770987">Rikka Takebe</a> (48)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770389">Kaz Hartz</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/780192">Aelia Amaya II</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>125</b></p>
            <p>
                <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (125)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (96)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (49)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/776524">Kitty Demon III</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770184">Shredster Khan</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771026">Shy Summers</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/cat_paws_hands_gogo.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/782207">Slutty Littlexheels</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/782207">Slutty Littlexheels</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/781770">Kat Bigfatbooty</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/774352">Silvia Autumn</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/774361">Bianca Lincoln IV</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/781225">Sissy Damian</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770310">Lillie Rose</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/774212">Rufus Lee</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/775842">Maryanne Suarez</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/781822">Jamison Hackney II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/773396">Roxy Foxy</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/lusty_lizbean_witchy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/779155">Submissive Amelia II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/779155">Submissive Amelia II</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/771862">Nancy Stockton</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770721">Madaline Russell</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/778227">Craig Trinidad</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/781770">Kat Bigfatbooty</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/775200">Mat Mon III</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/772247">Eileen Arndt</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771184">Adelana Binbow II</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770212">Markus Drake</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/783122">Stephen Milner</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>121</b></p>
            <p>
                <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (121)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (85)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (79)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/776524">Kitty Demon III</a> (60)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770411">Mistress Liebe</a> (50)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770277">Tomiko Hewitt</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771026">Shy Summers</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/778816">Max Karma</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>393</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (393)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (355)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (99)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (70)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (67)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770987">Rikka Takebe</a> (59)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/778816">Max Karma</a> (59)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (56)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (49)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>70</b></p>
            <p>
                <a href="/pvp/lookatplayer/770209">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770209">Rosa Fortune</a> (70)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/778816">Max Karma</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771098">Aydin Webster</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/779824">Melissa Erebus</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/778559">Galuca Cazzel II</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/776524">Kitty Demon III</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770347">Jon Honeycutt</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>385</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (385)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (357)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770209">Rosa Fortune</a> (71)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/778816">Max Karma</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (64)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770987">Rikka Takebe</a> (62)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (54)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770184">Shredster Khan</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/782444">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/782444">Pie Pies</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/771103">Wirerazor Fallyfolly</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/773775">Akuza Faust II</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770231">Holden Bettis</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771832">Abby Layton</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/775539">Nyara 'Space Kattet' Katswell</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770924">Britt Wiccanshire</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (54)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (32)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770184">Shredster Khan</a> (28)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770478">Genevieve Moen</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/772315">Diana Rigby</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770416">Heather Garza</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/771010">Witch Maria</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/771010">Witch Maria</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/775795">Zero Confidence</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771103">Wirerazor Fallyfolly</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771324">Vanilla Cream</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771105">Sarah 'Paladin' Ainsley</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770209">Rosa Fortune</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,720</b></p>
            <p>
                <a href="/pvp/lookatplayer/770183">Judith's Boobies</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770183">Judith's Boobies</a> (39,720)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770206">Jessie's Silktop</a> (39,605)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770237">Fat Tits</a> (38,990)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770241">Auly Jua</a> (38,450)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770400">Leilana Aldridge</a> (37,300)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770862">Biggus Dickus</a> (36,925)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770580">Joe Nobody</a> (34,950)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771114">Hazel Windham</a> (34,710)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770393">Yvesza Sylwind</a> (34,600)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/773482">Nadia Starling</a> (33,905)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/snow_cabbit_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,995</b></p>
            <p>
                <a href="/pvp/lookatplayer/770225">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770225">Kyrah Binbow</a> (39,995)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770199">Rosalind Halaszyn</a> (39,750)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770292">Squeaky Souris</a> (39,695)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770281">Petty Blue</a> (38,610)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770725">Nona Ballou</a> (36,985)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770886">Paige Haliwell</a> (36,035)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771416">Phoebe Stormbringer</a> (35,575)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/775342">Tara 'New radical nickname' Sapphire II</a> (35,528)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771327">Scenara Crowe II</a> (34,920)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770191">Lena Rosberg</a> (33,170)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>111,342</b></p>
            <p>
                <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (111,342)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (80,958)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (33,156)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/772444">Hiro Chan</a> (31,586)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770234">Judith 'Thunderdome Bookie' Neff</a> (13,786)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (12,778)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771216">Luz Devlin</a> (12,008)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/780192">Aelia Amaya II</a> (11,573)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a> (10,996)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770198">Jessie 'Aunty Entity' Nealy</a> (10,034)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/punk_bunny_thatguy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>14,297</b></p>
            <p>
                <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (14,297)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (10,654)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (10,165)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (4,287)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (4,180)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (2,701)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (2,426)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/772637">Mae Fanning</a> (1,746)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (1,715)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770714">Princess Lily</a> (1,633)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/punk_bunny_thatguy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>7,560</b></p>
            <p>
                <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (7,560)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/771010">Witch Maria</a> (1,700)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (1,540)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771261">Aer Seaton</a> (1,470)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770310">Lillie Rose</a> (1,470)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/783122">Stephen Milner</a> (1,080)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/780597">Roxanne Lanford</a> (1,010)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/776844">Mikki's Squiggleclone</a> (670)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770987">Rikka Takebe</a> (620)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/774281">Robert Lurker</a> (570)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lovely_dragon_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>6,350</b></p>
            <p>
                <a href="/pvp/lookatplayer/772505">Dandy Trashpanda</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/772505">Dandy Trashpanda</a> (6,350)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770322">Lexi's Narrator</a> (1,400)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/777989">Alexia Sonata</a> (1,160)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770538">Justin Schweitzer</a> (590)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770992">Skye Silver</a> (590)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770449">Robin White</a> (510)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771962">Elian Shelton</a> (430)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771324">Vanilla Cream</a> (420)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (340)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770186">Negasif Mccain</a> (320)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/watery_slime_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>213</b></p>
            <p>
                <a href="/pvp/lookatplayer/780192">Aelia Amaya II</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/780192">Aelia Amaya II</a> (213)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770466">Jade Fluffybun</a> (200)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/774365">Nyasa Meownya</a> (150)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/772494">Vivianne Mcqueen</a> (95)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/771361">Abbie Riggs</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/782872">Victoria Winforth II</a> (39)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/775430">Clair Haynes</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/782639">Lola Gray II</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771105">Sarah 'Paladin' Ainsley</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770974">Dawid Wolf</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771389">Jude Piper</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770326">Ai Naoi</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/773559">Goome Slimes</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (50)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/782639">Lola Gray II</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770974">Dawid Wolf</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/774709">Jacqueline Tancaraz</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>268</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (268)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/775430">Clair Haynes</a> (18)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770331">Sofie Howard</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/778941">Christian Laureano</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_07_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/781770">Kat Bigfatbooty</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/781770">Kat Bigfatbooty</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/782207">Slutty Littlexheels</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/774212">Rufus Lee</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/774352">Silvia Autumn</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/771297">Scavenger Dragonbot</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/775200">Mat Mon III</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770367">Cristopher Whited</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/779155">Submissive Amelia II</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770310">Lillie Rose</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770212">Markus Drake</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770924">Britt Wiccanshire</a> (68)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/780375">Lilianya Nyekobornya</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770184">Shredster Khan</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770478">Genevieve Moen</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/easter_bunny_karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>39</b></p>
            <p>
                <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770811">Catherine Moonlight</a> (39)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770234">Judith 'Thunderdome Bookie' Neff</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/775782">Wayne Samples</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/772444">Hiro Chan</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770224">Sam O'malley</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770209">Rosa Fortune</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770459">Alexis Crazy</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>30,095</b></p>
            <p>
                <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (30,095)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770364">Grey Stipples</a> (26,045)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (15,855)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (14,940)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (13,935)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770987">Rikka Takebe</a> (4,015)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/774709">Jacqueline Tancaraz</a> (3,690)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (1,985)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (1,945)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (1,840)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/770312">Nova Berry</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770312">Nova Berry</a> (45)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/774243">Djinn Cake</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/774552">Fulvius Kessler</a> (32)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771521">Lily Limbless</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/779714">Eve Weaver</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/779570">Mamie Travers</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770902">Leanne Nettles</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770751">Amari Novotny</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770538">Justin Schweitzer</a> (22)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/770388">Abigail Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770388">Abigail Kitsu</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770924">Britt Wiccanshire</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770908">Lucarnos Altameria</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770538">Justin Schweitzer</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/775200">Mat Mon III</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770974">Dawid Wolf</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770751">Amari Novotny</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/773169">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/773169">Michael Rochard</a> (3,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (2,623)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (2,044)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (732)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/771937">Darcy White II</a> (724)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771415">Latex Doll</a> (716)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (334)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (313)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (304)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770843">Viviana Kensington</a> (275)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_secretary_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>580</b></p>
            <p>
                <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (580)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770201">Amie Proffitt</a> (115)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/771026">Shy Summers</a> (81)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771261">Aer Seaton</a> (74)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770481">Evan Sissy II</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770433">Riley Sorell</a> (64)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770407">Chuck Wick</a> (58)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770784">Silver Fischer</a> (57)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770197">Crystal Moyer</a> (57)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770376">Carla Smiles</a> (55)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/770773">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/775430">Clair Haynes</a> (24)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (18)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770331">Sofie Howard</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/776384">Kellie Boyce</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/779711">Liviana Burnham</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770679">Mialira Sonata</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770201">Amie Proffitt</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>173</b></p>
            <p>
                <a href="/pvp/lookatplayer/770773">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (173)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (132)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/775430">Clair Haynes</a> (131)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (61)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770331">Sofie Howard</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770290">Kailey Kotynski</a> (50)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/776384">Kellie Boyce</a> (45)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770679">Mialira Sonata</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/771105">Sarah 'Paladin' Ainsley</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>286</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (286)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (249)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (159)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (134)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (106)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (91)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770257">Mikhail 'XODARAP' Vigg</a> (76)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (71)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (58)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (29)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770186">Negasif Mccain</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770774">Jordan North</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770257">Mikhail 'XODARAP' Vigg</a> (69)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (58)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (34)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770710">Alex Stagger</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770376">Carla Smiles</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>89</b></p>
            <p>
                <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (89)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (62)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770714">Princess Lily</a> (29)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/771297">Scavenger Dragonbot</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770721">Madaline Russell</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/776002">Malachi Burkett</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/772147">Abby Houser</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770589">Lumina Kitsuray</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>36</b></p>
            <p>
                <a href="/pvp/lookatplayer/770773">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (36)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (36)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770211">Jennah Arhtima</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/774709">Jacqueline Tancaraz</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770500">Evangelyne Lockheart</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770202">Severianus Pulido</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/774552">Fulvius Kessler</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>49</b></p>
            <p>
                <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (49)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770246">Nadia 'Free Spirit' Ayers</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770536">Jodi Ferrer</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>78</b></p>
            <p>
                <a href="/pvp/lookatplayer/770187">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (78)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770478">Genevieve Moen</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/772427">Lucy Willis</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/3tiered_skirt_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,024</b></p>
            <p>
                <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770510">Sara 'The Plastic Witch' Dollmaker</a> (1,024)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770876">Freya 'Belle Pouffiasse' Dolly</a> (1,024)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770164">Lara Ithilwen</a> (1,011)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/771637">Lucille Kaufman</a> (544)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (520)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770299">Devon Barela</a> (481)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (471)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/770773">Lucile Lenon</a> (469)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (454)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/770219">Celine Nysa</a> (426)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beach_babe_enthusiast_TheGreatDaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>1,414</b></p>
            <p>
                <a href="/pvp/lookatplayer/770201">Amie Proffitt</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/770201">Amie Proffitt</a> (1,414)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/770205">Reiko 'Lupus Ancilla' Ruy</a> (124)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/770352">Callisto Levanna</a> (35)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/770789">Reiko's Pet</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/771155">Taylor Pusshill</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/770187">Iris Thule</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/770197">Crystal Moyer</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/773297">Matron Sweets</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/773466">Frankie Hori II</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/772561">Donna's Serwant</a> (7)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>