<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/pinup_bunny_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/731004">Alex Edge</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731004">Alex Edge</a> (10,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731183">Kyrah Binbow</a> (9,548)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (7,961)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (6,989)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731150">Charlotte Plante</a> (5,984)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731377">Vanilla Cream</a> (5,426)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733336">Ikkou Alonz</a> (3,680)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731398">Luz Devlin</a> (3,562)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a> (3,523)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731142">Hiro Chan</a> (3,379)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,812</b></p>
            <p>
                <a href="/pvp/lookatplayer/731099">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (2,812)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (2,311)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (2,241)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (1,856)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (1,790)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (1,532)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (1,249)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/738581">Naomi Star II</a> (1,246)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732126">Bobbie Small</a> (1,132)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (1,028)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>9,043</b></p>
            <p>
                <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (9,043)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/733509">Lynnette Regan</a> (8,950)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (8,382)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (7,964)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (7,238)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (7,093)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (6,377)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (6,368)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (5,981)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (5,804)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,211</b></p>
            <p>
                <a href="/pvp/lookatplayer/731099">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (2,211)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (1,990)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (1,558)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (1,417)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (1,356)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (1,252)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (1,046)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732146">Lesley Bunn</a> (817)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732126">Bobbie Small</a> (782)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (627)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,794</b></p>
            <p>
                <a href="/pvp/lookatplayer/731099">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (1,794)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (1,511)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (1,364)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (1,343)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (1,056)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730783">Sissy Buttslut</a> (1,017)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730752">Judith 'Mistletoe' Neff</a> (827)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (766)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (759)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (716)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/diamondfae_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,329</b></p>
            <p>
                <a href="/pvp/lookatplayer/730752">Judith 'Mistletoe' Neff</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730752">Judith 'Mistletoe' Neff</a> (1,329)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/737738">Swift Silvertail</a> (876)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731027">Bessie Shadow</a> (656)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (625)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (374)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731021">Ali Hain</a> (322)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730792">Sarah Ainsley</a> (298)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730909">Grey Stipples</a> (224)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730747">Renee Descartes</a> (185)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (179)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>47,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (47,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (23,620)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a> (15,920)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (15,900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731398">Luz Devlin</a> (12,200)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (12,000)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (10,400)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (8,160)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (8,120)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (6,100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>86</b></p>
            <p>
                <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (86)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (39)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/732019">Princess Lily</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730752">Judith 'Mistletoe' Neff</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_secretary_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>89</b></p>
            <p>
                <a href="/pvp/lookatplayer/731457">Annie Toy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (89)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (87)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (87)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (82)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730755">Shredster Khan</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730900">Dustin Craven</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730791">Tomiko Hewitt</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/738412">Lefen Bach</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/738412">Lefen Bach</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/738300">Martina Costa IV</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/733390">Alicia Wuff</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/734516">Khimaera Neko III</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731007">Tyler Utyr</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730973">Ruby Red</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/738464">Emma Amaquelin</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731290">Lucarnos Altameria</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/738404">Diocletianus Arndt II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/736848">Unnana Tiras V</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/735806">Jacoby Sandoval</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/735806">Jacoby Sandoval</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/732359">Unagi Umino</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/737562">Jaylen Custer</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731909">Kate Savage</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/738412">Lefen Bach</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731260">Finean Gaige</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/736341">Kamryn Blue IV</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731581">Elyne Allaris</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/737175">Darryl Wooden</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731231">Maelynn Frost</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>106</b></p>
            <p>
                <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (106)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (98)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (86)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (84)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730791">Tomiko Hewitt</a> (64)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (56)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730755">Shredster Khan</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/738511">Aiden Moonridge II</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733808">Max Vella</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>127</b></p>
            <p>
                <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (127)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (89)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (51)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/738581">Naomi Star II</a> (42)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cheerleader_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/730871">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730863">Rikka Takebe</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730784">Liam Moyer</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/738581">Naomi Star II</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730881">Mikhail 'ΔΘ' Vigg</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732146">Lesley Bunn</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/737050">Dianna 'Lacey' Santana III</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>120</b></p>
            <p>
                <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (90)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/738581">Naomi Star II</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733509">Lynnette Regan</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732126">Bobbie Small</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730863">Rikka Takebe</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730909">Grey Stipples</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/inflateable_dragon_maid_Balloondra.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/734882">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/734882">Pie Pies</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730770">Crystal Moyer</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731398">Luz Devlin</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/737281">Negasif Mccain</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/734554">Irene Sharpe</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730953">Haruhi 'Ivy' Fenna</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731796">Alice Gelan II</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732388">Roxie Doe II</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731527">Jes Angels</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733336">Ikkou Alonz</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>70</b></p>
            <p>
                <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (70)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (60)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (44)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/pinup_bunny_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/731004">Alex Edge</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731004">Alex Edge</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731183">Kyrah Binbow</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731377">Vanilla Cream</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733288">Lilinette Grier</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731514">Ai Naoi</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733765">Nerati Sua</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pink_latex_dress_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,975</b></p>
            <p>
                <a href="/pvp/lookatplayer/730741">Judith's Rubberdress</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730741">Judith's Rubberdress</a> (24,975)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730828">Lara Ithilwen</a> (24,960)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730847">Creamy Dream</a> (24,850)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730808">Auly Jua</a> (24,605)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730980">Revealing 'Pink' Apron</a> (24,245)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731122">Markus Drake</a> (23,990)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730936">Succulent Sweetheart</a> (23,895)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730911">Silky Angelica</a> (23,730)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730779">Horatia Livingston</a> (23,340)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730750">Fox Cross</a> (23,145)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/living_inflateable_pooltoy_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,975</b></p>
            <p>
                <a href="/pvp/lookatplayer/730764">Angeline Inflateable</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730764">Angeline Inflateable</a> (24,975)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730809">Minervas Petslut</a> (24,710)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731152">Reiko's Pet</a> (24,675)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730773">Riley Sorell</a> (23,155)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730928">Leilana Aldridge</a> (22,640)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730843">Diamonique Possessio</a> (22,225)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730796">Azure Rose</a> (19,750)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731325">Lottie Wilber</a> (17,830)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731119">Veln Moonscythe</a> (16,885)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730782">Ky Kieske</a> (16,560)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>41,241</b></p>
            <p>
                <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (41,241)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731357">Nephthys Trinity</a> (20,550)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/733509">Lynnette Regan</a> (17,637)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a> (13,384)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731398">Luz Devlin</a> (9,922)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731004">Alex Edge</a> (9,673)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731142">Hiro Chan</a> (8,303)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730856">Jessie 'O Tannenbaum' Nealy</a> (7,911)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731070">Varin Elderblood</a> (7,192)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (6,149)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>9,661</b></p>
            <p>
                <a href="/pvp/lookatplayer/730963">Celine Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (9,661)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730785">Erin Wolfe</a> (2,692)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731150">Charlotte Plante</a> (2,136)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (1,819)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (1,536)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (1,094)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731527">Jes Angels</a> (1,055)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (918)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/737086">Otto Phillip III</a> (868)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730947">Wind Storm</a> (695)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>1,440</b></p>
            <p>
                <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a> (1,440)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/736175">Windy Kalisa V</a> (880)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/734188">Kai Thundia</a> (840)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731021">Ali Hain</a> (660)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730991">Lillie Rose</a> (540)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/733765">Nerati Sua</a> (490)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731311">Steven Welles</a> (450)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/738153">Juni Castro</a> (440)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732866">Cassia Burrow</a> (410)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/736341">Kamryn Blue IV</a> (400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/road_recruit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,120</b></p>
            <p>
                <a href="/pvp/lookatplayer/730848">Terry Shadow</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730848">Terry Shadow</a> (1,120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731377">Vanilla Cream</a> (1,090)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (680)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731027">Bessie Shadow</a> (600)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/734489">Faith Singer</a> (590)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/734875">Patrick Sturm</a> (550)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731004">Alex Edge</a> (460)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (450)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/733702">Craz Coyote</a> (380)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730918">Kaz Hartz</a> (340)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_02_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/730991">Lillie Rose</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730991">Lillie Rose</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731142">Hiro Chan</a> (44)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (40)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/733333">Kaitlin Carrico</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (37)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733808">Max Vella</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/736176">Karson Draconis</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733706">Helen Whiteside</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>37</b></p>
            <p>
                <a href="/pvp/lookatplayer/733450">Bryce Trent II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (37)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/736274">Elaine Alaniz</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/734516">Khimaera Neko III</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/737086">Otto Phillip III</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/732756">Glenna Coy</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730792">Sarah Ainsley</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731105">Equus Maximus</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/734222">Dennis Costello</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/732083">Akachi Nightshade</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>7</b></p>
            <p>
                <a href="/pvp/lookatplayer/734544">Ernest Buckner II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/734544">Ernest Buckner II</a> (7)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730770">Crystal Moyer</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/734489">Faith Singer</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/red_fox_plushy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/733390">Alicia Wuff</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/733390">Alicia Wuff</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/738412">Lefen Bach</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/735806">Jacoby Sandoval</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730931">Kim Kay</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730943">Tom Rose</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731290">Lucarnos Altameria</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/732359">Unagi Umino</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731581">Elyne Allaris</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730914">Maxine Wampler</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730973">Ruby Red</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>75</b></p>
            <p>
                <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (75)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (60)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731150">Charlotte Plante</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/christmas_tree_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/730856">Jessie 'O Tannenbaum' Nealy</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730856">Jessie 'O Tannenbaum' Nealy</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730752">Judith 'Mistletoe' Neff</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731321">Enrico Dandolo</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730831">Reiko 'Demoness' Ruy</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/732019">Princess Lily</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/733706">Helen Whiteside</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/730900">Dustin Craven</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732500">Kathy Reiman</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730769">Aelia Chamberlain</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,685</b></p>
            <p>
                <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (10,685)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (7,900)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (4,940)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (3,890)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (3,105)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730909">Grey Stipples</a> (1,440)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731015">Jacqueline Tancara</a> (1,090)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (1,085)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732019">Princess Lily</a> (1,060)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/735958">Dany Flor</a> (1,005)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>66</b></p>
            <p>
                <a href="/pvp/lookatplayer/730943">Tom Rose</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730943">Tom Rose</a> (66)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730895">Riley Tellez</a> (52)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/734746">Vizcarra Roddy</a> (52)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/732866">Cassia Burrow</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/734489">Faith Singer</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731820">Braylon Rain</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731909">Kate Savage</a> (31)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732504">Ash Traveller</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/737585">Roderickj Keenanv III</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/pleasure_knight_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/730755">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730755">Shredster Khan</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731142">Hiro Chan</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/732241">Chuck Wick</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731183">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733450">Bryce Trent II</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/734188">Kai Thundia</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730863">Rikka Takebe</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,337</b></p>
            <p>
                <a href="/pvp/lookatplayer/730963">Celine Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (1,337)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (879)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (576)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (453)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (248)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730784">Liam Moyer</a> (222)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/732083">Akachi Nightshade</a> (209)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731004">Alex Edge</a> (184)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730919">Britt Wiccanshire</a> (176)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731988">Valeria Bentley</a> (168)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/adorable_donkey_dominque.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>71</b></p>
            <p>
                <a href="/pvp/lookatplayer/730756">Rob Martinson</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730756">Rob Martinson</a> (71)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730800">Maid Kaitlyn</a> (56)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731171">Joseyfluff Woolysheep</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731525">Isabella Green</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731647">Timothy Rucker</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731988">Valeria Bentley</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/733398">Letha Dexter</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/733336">Ikkou Alonz</a> (37)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/736095">Silke Hose</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731611">Luca Micheals</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/730784">Liam Moyer</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730784">Liam Moyer</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730792">Sarah Ainsley</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731207">Sofie Howard</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730770">Crystal Moyer</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/734489">Faith Singer</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/733318">Maria Linden II</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731298">Andrea Buss</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732806">Cleo Streeter</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731316">Misty Jordyn</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>64</b></p>
            <p>
                <a href="/pvp/lookatplayer/730770">Crystal Moyer</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730770">Crystal Moyer</a> (64)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730792">Sarah Ainsley</a> (49)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/734489">Faith Singer</a> (46)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730784">Liam Moyer</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731298">Andrea Buss</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731207">Sofie Howard</a> (40)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/733318">Maria Linden II</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/732806">Cleo Streeter</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>331</b></p>
            <p>
                <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (331)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (265)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (87)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730881">Mikhail 'ΔΘ' Vigg</a> (85)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731015">Jacqueline Tancara</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730800">Maid Kaitlyn</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731514">Ai Naoi</a> (40)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_04_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/730910">Rachel Luckett</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730747">Renee Descartes</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730785">Erin Wolfe</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730756">Rob Martinson</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731316">Misty Jordyn</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730923">Katt Hime</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>147</b></p>
            <p>
                <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (147)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730881">Mikhail 'ΔΘ' Vigg</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731514">Ai Naoi</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730755">Shredster Khan</a> (17)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731754">Maka Christy</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/731063">Tara '🍀' Sapphire</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731199">Nikki Aliyah</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731234">Erin Keys</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/730963">Celine Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (62)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/732019">Princess Lily</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731015">Jacqueline Tancara</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/735806">Jacoby Sandoval</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731909">Kate Savage</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732359">Unagi Umino</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731260">Finean Gaige</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/733551">Sammy Galloway</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/servant_of_Lunar_fairy_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>5</b></p>
            <p>
                <a href="/pvp/lookatplayer/731015">Jacqueline Tancara</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/731015">Jacqueline Tancara</a> (5)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731201">Simone Binbow</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/737086">Otto Phillip III</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/737041">Seras Victoria III</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/732359">Unagi Umino</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731591">Nick Jade</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732184">Christian Lynch</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/731020">Grace Baver</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/731316">Misty Jordyn</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/730963">Celine Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (27)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730800">Maid Kaitlyn</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731387">Stoney Waver</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732019">Princess Lily</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/733547">Joss Niles</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (63)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/730882">Kyla Noir</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/730800">Maid Kaitlyn</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731514">Ai Naoi</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/731111">Matt Felgrand</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/730881">Mikhail 'ΔΘ' Vigg</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/733546">Jaime Navarrete</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730871">Rosa Fortune</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,171</b></p>
            <p>
                <a href="/pvp/lookatplayer/730963">Celine Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/730963">Celine Nysa</a> (1,171)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/731099">Freya Dolly</a> (1,094)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/730774">Nadia 'Not just a Harlot' Ayers</a> (778)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/731265">Latex 'Property of Nadia' Slavetoy</a> (638)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/731457">Annie Toy</a> (432)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/731090">Devon Barela</a> (409)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/732146">Lesley Bunn</a> (262)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/732126">Bobbie Small</a> (260)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/730837">Sorcha 'Contrast Striking' Primrose</a> (243)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/730910">Rachel Luckett</a> (230)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>