<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>5,824</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327321">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327321">Simone Binbow</a> (5,824)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/335675">Stella Key</a> (4,452)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a> (4,410)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327235">Frederika Rein</a> (3,895)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/329979">Alissa Jorgenson</a> (3,431)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (3,405)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327416">Diaftora Wing</a> (3,354)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327380">Tem Nan</a> (2,705)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/330640">Pubel Saccul II</a> (2,620)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327530">Collin 'Normal Human' Darnell</a> (2,588)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,870</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (2,870)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (1,938)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (1,839)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (1,714)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (1,572)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (1,530)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (1,231)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (1,103)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (1,082)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (1,070)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>8,063</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327179">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (8,063)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (7,245)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (6,560)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (5,996)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (5,406)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327159">Harry Flynn</a> (5,055)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (4,971)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (4,890)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (4,877)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a> (4,865)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,969</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327179">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (1,969)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (1,887)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (1,282)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (1,140)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (912)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (851)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (752)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327216">Erin Nyanis</a> (709)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328554">Nihat Unal</a> (647)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (553)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>3,059</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (3,059)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327454">Allytha Mcfarlane</a> (1,817)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (1,088)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (930)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (927)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/329924">Suzuha Tanaka</a> (781)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (764)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/330428">Regan Abbot III</a> (748)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (660)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (646)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,214</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327454">Allytha Mcfarlane</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327454">Allytha Mcfarlane</a> (2,214)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/330428">Regan Abbot III</a> (1,005)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/329924">Suzuha Tanaka</a> (936)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327225">Ziggy Anvil</a> (639)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327341">Eliza 'Use me' Hawk</a> (399)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327883">Hatara Kline</a> (386)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327761">Pina Vollmar</a> (343)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327425">Krixus Versailles</a> (251)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (200)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/329746">Kuro Fang</a> (187)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/avatar_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>21,860</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a> (21,860)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (17,000)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (12,560)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327225">Ziggy Anvil</a> (6,740)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/328554">Nihat Unal</a> (6,000)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327456">Airi Ithilwen</a> (5,620)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327454">Allytha Mcfarlane</a> (5,380)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327219">Natasha Lydellia</a> (4,300)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328166">Blaine 'Dark-Cow Goddess' Kellum</a> (3,800)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327341">Eliza 'Use me' Hawk</a> (3,680)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>66</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327179">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (66)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (28)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328309">Veln Moonscythe</a> (23)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/330640">Pubel Saccul II</a> (19)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328166">Blaine 'Dark-Cow Goddess' Kellum</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327732">Victoria Kosch</a> (11)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327163">Nekogami Marisa</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327190">Danielle Aveline</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>51</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/328112">Alma Maria</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/328112">Alma Maria</a> (51)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/329572">Teagan Jorgenson</a> (48)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (41)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327476">Olwen Button</a> (36)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327259">Don Sisco</a> (35)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328238">Asuka Mikami</a> (32)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327269">Michelle 'Basic' Alexander</a> (32)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327206">Tarsis Asset</a> (32)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327770">Bernadette Putman II</a> (28)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>25</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (25)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/332195">Seras Victoria III</a> (12)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/336183">Mary Frize II</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/335921">Fried Egg VII</a> (9)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327354">Joanne Momma</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/335595">Jessie Mauro III</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/334492">Dallas Hayden</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/335964">Davey Severson VI</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327253">Matt Draco</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/336027">Kody Brittain II</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>25</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (25)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/332195">Seras Victoria III</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327489">Robin Banks</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328001">Espa Fox</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327253">Matt Draco</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327632">Owen Penn</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/334809">Nyo High</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/334980">Erica Hutchins</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327336">Sarah Snow</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/331350">Stephanie Johnston</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>101</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327187">Jinx Red</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327187">Jinx Red</a> (101)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (67)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (61)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/333259">Phoenix Quigley</a> (46)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/332153">Aurelie Leroy III</a> (40)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327259">Don Sisco</a> (37)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327440">Luna Moonwell</a> (37)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327476">Olwen Button</a> (37)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/330471">Tf Artist</a> (35)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327770">Bernadette Putman II</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>156</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327283">Esther Gray</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (156)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (110)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (92)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (88)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (77)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (58)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327259">Don Sisco</a> (55)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (49)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327336">Sarah Snow</a> (47)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>200</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (200)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327456">Airi Ithilwen</a> (19)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/335742">Betty Blue</a> (19)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327743">Lysander Osborn</a> (17)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/333490">Giancarlo Doe</a> (17)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327354">Joanne Momma</a> (11)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (11)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/329032">Helena Schmitz II</a> (10)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/335383">Anati Takako II</a> (10)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/328816">Vivianne Mcqueen</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>255</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (255)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (109)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (93)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (86)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (62)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/335742">Betty Blue</a> (56)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (54)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (53)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327259">Don Sisco</a> (48)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/328816">Vivianne Mcqueen</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>19</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (19)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/328309">Veln Moonscythe</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327732">Victoria Kosch</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/335675">Stella Key</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/334767">Samara Morganti</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/331522">John Cower III</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327307">Alex Norling</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327528">Brody Lang</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>91</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327179">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (91)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (69)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327235">Frederika Rein</a> (63)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (48)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327761">Pina Vollmar</a> (27)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327242">Dane Redd</a> (26)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/329097">Dixie Holliday</a> (21)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327499">Amarri Atari</a> (19)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327582">Cass Carnelle</a> (19)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/griffin_familiar_Icaron.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327213">Peter Horif</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327213">Peter Horif</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/328042">Laurel Moore</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327416">Diaftora Wing</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327321">Simone Binbow</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a> (13)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/328309">Veln Moonscythe</a> (13)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (13)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327761">Pina Vollmar</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/attachable_cat_ears_Aurora_Ryall.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,930</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327236">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327236">Kittyn Angelica</a> (24,930)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327156">Fox Cross</a> (24,645)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327333">Angie Vanner</a> (21,164)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327584">Squeaky Cow</a> (20,450)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327227">Raine Lei</a> (19,795)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327363">Elizabeth Reynolds</a> (19,460)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327610">Proud Bullcock</a> (18,160)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327260">Ai Naoi</a> (18,078)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327254">Kari Pink</a> (17,125)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327735">Phoebe Stormbringer</a> (16,580)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,770</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327177">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327177">Joe Nobody</a> (24,770)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327198">Xans Kitten</a> (23,584)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327213">Peter Horif</a> (23,400)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327281">Vera Sass</a> (22,345)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327215">Melina 'Frisky Fairy' Mercy</a> (22,165)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327523">Lawson Tindall</a> (20,665)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327218">Sidney Quinn</a> (19,325)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327247">Rachael 'Fairly Odd Maid' Victor</a> (18,525)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327243">Calem Melac</a> (15,893)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327276">Wolfy Dionne</a> (14,315)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/corrupted_paladin_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>20,087</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a> (20,087)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a> (19,425)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (18,687)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327259">Don Sisco</a> (16,724)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (14,354)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (13,748)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327321">Simone Binbow</a> (10,605)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/330267">Angelique Dominae</a> (9,946)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327159">Harry Flynn</a> (8,908)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/329979">Alissa Jorgenson</a> (8,434)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>9,962</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (9,962)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/329097">Dixie Holliday</a> (3,829)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327235">Frederika Rein</a> (3,064)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328357">Crystal Moyer</a> (2,680)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/329032">Helena Schmitz II</a> (1,316)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327732">Victoria Kosch</a> (1,248)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (1,207)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327582">Cass Carnelle</a> (1,142)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/335187">Jessica Rosenkrantz</a> (1,073)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (1,045)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fuzzy_moth_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>3,477</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/329097">Dixie Holliday</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/329097">Dixie Holliday</a> (3,477)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327235">Frederika Rein</a> (2,114)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/335742">Betty Blue</a> (1,711)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/336099">Kelly Knight</a> (1,523)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/336001">Chelsea Pixi</a> (1,174)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327159">Harry Flynn</a> (1,011)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/328357">Crystal Moyer</a> (904)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/328355">Sonia Bon</a> (848)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/335187">Jessica Rosenkrantz</a> (820)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a> (803)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>10,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (10,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (2,163)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (794)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328156">Shelly Blank</a> (727)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327489">Robin Banks</a> (356)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (309)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327441">Selina Muliaina</a> (309)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (300)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/330370">Rhea Stafford</a> (260)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/331277">Aaron Clark II</a> (227)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>555</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (555)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/330267">Angelique Dominae</a> (213)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (60)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (59)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (32)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327356">Kelley Moon</a> (31)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a> (30)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (29)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/334547">Ethel Ramsey</a> (26)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/333561">Lyzolda Kyratay</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>53</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327196">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (53)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (44)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (30)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327204">Linara Silverleaf</a> (12)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/330428">Regan Abbot III</a> (12)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328042">Laurel Moore</a> (12)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327216">Erin Nyanis</a> (11)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327687">Mara Lucente</a> (9)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327331">Game Hound</a> (9)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>62</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327283">Esther Gray</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (62)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (37)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (19)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (9)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327216">Erin Nyanis</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327212">Marcia Bell</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327346">Franco Chance</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327761">Pina Vollmar</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/328309">Veln Moonscythe</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>128</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327163">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327163">Nekogami Marisa</a> (128)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (66)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/330640">Pubel Saccul II</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328357">Crystal Moyer</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327732">Victoria Kosch</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327318">Candy Cumonmytits</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327489">Robin Banks</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328238">Asuka Mikami</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>2,450</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327196">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (2,450)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (2,184)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (1,724)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (963)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/328042">Laurel Moore</a> (918)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327331">Game Hound</a> (562)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/330428">Regan Abbot III</a> (547)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327299">Michelle Sun</a> (492)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328357">Crystal Moyer</a> (443)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327204">Linara Silverleaf</a> (434)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>50</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327192">Drakos Ithilwen</a> (50)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/332195">Seras Victoria III</a> (15)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327354">Joanne Momma</a> (11)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327253">Matt Draco</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/336183">Mary Frize II</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328001">Espa Fox</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/335921">Fried Egg VII</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327489">Robin Banks</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327590">Marcus Wylde</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327217">Quelly Lyn</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>91</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327179">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (91)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (74)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327235">Frederika Rein</a> (63)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/332277">Sandy Smith</a> (50)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (48)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/335675">Stella Key</a> (46)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327154">Elizabeth Stearns</a> (33)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327761">Pina Vollmar</a> (27)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/329097">Dixie Holliday</a> (22)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327499">Amarri Atari</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>9</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327196">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327196">Freya Rein</a> (9)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327225">Ziggy Anvil</a> (3)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327292">Keegan Comeaux</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/329746">Kuro Fang</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327692">Laelia Stroud</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327151">Kevin Gates</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/329572">Teagan Jorgenson</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/327577">Diana Victor</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327219">Natasha Lydellia</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/327214">Eric Finney</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>16,035</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/328816">Vivianne Mcqueen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/328816">Vivianne Mcqueen</a> (16,035)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (8,390)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327179">Dark Blade</a> (2,875)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/327216">Erin Nyanis</a> (2,530)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327644">Julian Maxwell</a> (2,420)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/328554">Nihat Unal</a> (2,050)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (1,620)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/328271">Lea Lacroix</a> (1,305)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327162">Yvesza 'How to play' Sylwind</a> (1,190)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/330640">Pubel Saccul II</a> (900)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/neko_bard_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>28</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (28)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327953">Roliver Badillo</a> (25)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327980">Jenny Avalos III</a> (21)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/330107">Johnnie Benetone</a> (18)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/331412">Ruben Simms III</a> (18)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/330633">Nathan Granger</a> (17)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327571">Neils Abraxason</a> (17)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/328244">Katie Piper</a> (16)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/328340">Talon Noble III</a> (15)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/331684">Klunk Treasurebook</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/327283">Esther Gray</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/327283">Esther Gray</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/327356">Kelley Moon</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/327580">Jesse Andersen III</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/328060">Alex Charis II</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/327200">Rosanna Riley</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/327321">Simone Binbow</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/327467">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/329869">Balbus Whitmore</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/327528">Brody Lang</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/333259">Phoenix Quigley</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>