<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dark_fay_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,666</b></p>
            <p>
                <a href="/pvp/lookatplayer/750931">Que Tee</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750931">Que Tee</a> (12,666)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749950">Britt Wiccanshire</a> (6,283)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (5,815)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/752795">Catherine Moonlight</a> (5,274)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750000">Rob Martinson</a> (5,102)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750797">Vanilla Cream</a> (4,911)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750665">Hillary Blythe</a> (4,636)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750689">Jennah Arhtima</a> (4,565)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/753188">May Runyon III</a> (4,452)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/756158">Lexi's Narrator</a> (4,401)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,386</b></p>
            <p>
                <a href="/pvp/lookatplayer/756527">Grey Stipples II</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (3,386)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (3,047)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (2,795)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (2,128)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (1,779)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (1,554)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (1,387)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (1,306)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (1,297)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/760306">Ash Shafer II</a> (1,139)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>11,300</b></p>
            <p>
                <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (11,300)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (10,414)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (8,999)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (8,589)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (8,512)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (6,823)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/757366">Elisha Leahy</a> (6,473)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (6,004)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/759557">Candy Ellen</a> (5,680)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (5,332)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,388</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (2,388)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (1,485)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (1,178)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (1,155)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (994)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (970)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (907)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (808)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750489">Devon Barela</a> (715)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (700)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,088</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (2,088)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (1,383)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (1,360)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (1,228)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (1,223)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749959">Sissy Buttslut</a> (851)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (770)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (692)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749923">Judith 'Music on the Wind' Neff</a> (661)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750694">Pie Pies</a> (648)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Wind_spirit_Sylph_dj-neko.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,171</b></p>
            <p>
                <a href="/pvp/lookatplayer/749923">Judith 'Music on the Wind' Neff</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749923">Judith 'Music on the Wind' Neff</a> (1,171)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750028">Beatryka Mane</a> (620)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/758866">Snowflake Laiter</a> (549)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750797">Vanilla Cream</a> (506)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (399)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750313">Ikkou Alonz</a> (353)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749924">Terry Shadow</a> (258)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750465">Stoney Waver</a> (194)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (194)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750364">Lola Gray</a> (190)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>69,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/750091">Hazel Windham</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (69,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (58,200)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (31,600)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750232">Ophelia Hildreth</a> (22,900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749957">Jessie 'Caregiver' Nealy</a> (17,640)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (13,900)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750931">Que Tee</a> (12,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (11,860)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (11,540)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/751442">Dander Woodland</a> (11,400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/750091">Hazel Windham</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (63)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750931">Que Tee</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750232">Ophelia Hildreth</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>140</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (140)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (116)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (82)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (48)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749926">Shredster Khan</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750078">Tomiko Hewitt</a> (33)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750520">Dustin Craven</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/754300">Tristin Peeples II</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754032">Crimson Rose</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/item_mana_flask_tfnymic.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/750695">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/757542">Agesly Dorann</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751051">Laelia Fredrick</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/757280">Lucille Gaytan II</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/759071">Brianna Summers V</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/751796">Brandi Loy</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/751240">Amy Olvera</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/754530">Lucia Hollingsworth II</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/760181">Neshatia Blackfaith</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/752441">Laurie Roark II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/item_mana_flask_tfnymic.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/750695">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/758033">Ara Fenrirr III</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/754300">Tristin Peeples II</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750025">Nick Jade</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/760152">Inaro Inra V</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/758847">Tina East</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/751050">Brooke Seifert</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751051">Laelia Fredrick</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/757280">Lucille Gaytan II</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>154</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (154)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (144)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (80)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750078">Tomiko Hewitt</a> (79)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (58)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/757465">Kiki Mouse</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/752971">Mayu Ash</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749926">Shredster Khan</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/756409">Rita Vela II</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>288</b></p>
            <p>
                <a href="/pvp/lookatplayer/750091">Hazel Windham</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (288)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (252)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/757366">Elisha Leahy</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (51)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749957">Jessie 'Caregiver' Nealy</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/760306">Ash Shafer II</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/758209">Zero Confidence II</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/749916">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/753923">Aydin Webster</a> (18)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/752677">Inistrad Blohd II</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/759557">Candy Ellen</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/757770">Majinn Kagurry</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/757538">Angeline Pepper</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>274</b></p>
            <p>
                <a href="/pvp/lookatplayer/750091">Hazel Windham</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (274)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (252)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (91)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (78)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/757366">Elisha Leahy</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749957">Jessie 'Caregiver' Nealy</a> (49)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/760306">Ash Shafer II</a> (48)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/758209">Zero Confidence II</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (42)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/750694">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750694">Pie Pies</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750797">Vanilla Cream</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750765">Sarah 'Magistrix' Ainsley</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749986">Kaitlyn Halliwell</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/756914">Lillie Pellegrino</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/751344">Meownica Nyekobornya</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750262">Grace Vaver</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750806">Kaede Yamabuki</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/757982">Ray Blake</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/756433">Seris Victoria</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749950">Britt Wiccanshire</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (33)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749926">Shredster Khan</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750520">Dustin Craven</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/749908">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749908">Lara Ithilwen</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749927">Callisto Levanna</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750092">Rose Karsen</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750596">Maid Kitrisu</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/751767">Brenda Bacon</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/758209">Zero Confidence II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/751615">Joe Hawthorne</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,965</b></p>
            <p>
                <a href="/pvp/lookatplayer/749915">Seira's 'Red' Stockings</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749915">Seira's 'Red' Stockings</a> (24,965)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749920">Angeline Inflateable</a> (24,965)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749910">Judith's Gown</a> (24,955)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750111">Odette Delacroix</a> (24,770)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750097">Deena Wenger</a> (24,455)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749919">Auly Jua</a> (24,410)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750030">Plump Curves</a> (24,230)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750035">Squeaky Souris</a> (23,835)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751293">Phoebe Stormbringer</a> (23,243)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/752558">Bimbo Balloon</a> (22,360)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,970</b></p>
            <p>
                <a href="/pvp/lookatplayer/749944">Reiko 'Rosa's Bitch' Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749944">Reiko 'Rosa's Bitch' Ruy</a> (24,970)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750013">Diamonique Possessio</a> (24,190)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751211">Scenara Crowe</a> (23,785)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750594">Softest Catgirl</a> (21,915)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750008">Taylor Daniels</a> (20,620)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749943">Lena Rosberg</a> (20,575)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750017">Otto Phillip</a> (19,130)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750951">Jes Angels</a> (18,805)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750348">Briana Beaman</a> (18,695)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/759250">Bessie Pino</a> (16,835)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>59,822</b></p>
            <p>
                <a href="/pvp/lookatplayer/750091">Hazel Windham</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (59,822)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (46,892)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749957">Jessie 'Caregiver' Nealy</a> (16,599)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (13,527)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (12,128)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (11,758)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750232">Ophelia Hildreth</a> (11,098)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750931">Que Tee</a> (10,271)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/756158">Lexi's Narrator</a> (9,172)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (7,713)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>13,528</b></p>
            <p>
                <a href="/pvp/lookatplayer/751442">Dander Woodland</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/751442">Dander Woodland</a> (13,528)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (3,815)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (1,296)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/753885">Xander Nikos</a> (1,268)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/753814">Yexa Blackthunder</a> (1,244)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749926">Shredster Khan</a> (1,210)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750313">Ikkou Alonz</a> (1,041)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750452">Asher Espino</a> (1,007)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (977)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (815)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/intersteller_fugitive_jbovinne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>11,690</b></p>
            <p>
                <a href="/pvp/lookatplayer/750232">Ophelia Hildreth</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750232">Ophelia Hildreth</a> (11,690)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/760361">Stephen Welles</a> (1,410)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749927">Callisto Levanna</a> (1,010)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/753733">Caelinus Maggard</a> (800)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749941">Seira Prismatica</a> (750)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750805">Riley Sorell</a> (750)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/760926">Forevix Rolls</a> (710)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/751442">Dander Woodland</a> (660)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/752400">Ninian Fay</a> (570)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754252">Flynn Lefen</a> (540)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/french_maid_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>2,230</b></p>
            <p>
                <a href="/pvp/lookatplayer/757366">Elisha Leahy</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/757366">Elisha Leahy</a> (2,230)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (1,300)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751962">Rory Wilkins</a> (1,060)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750689">Jennah Arhtima</a> (710)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/757835">Clarice Nabors</a> (620)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/756548">Sheri Darnell</a> (590)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750033">Wind Storm</a> (500)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/757965">Wirerazor Fallyfolly</a> (460)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/756158">Lexi's Narrator</a> (430)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/755969">Dixi Blanks</a> (390)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/statuette_tfnymic.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>67</b></p>
            <p>
                <a href="/pvp/lookatplayer/756914">Lillie Pellegrino</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/756914">Lillie Pellegrino</a> (67)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750940">Kieran Seekshadow</a> (55)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/753733">Caelinus Maggard</a> (53)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750979">Vivianne Mcqueen</a> (36)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750217">Evangelyne Lockheart</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/758082">Dark Blade</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/758747">Lillie Rose II</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/759071">Brianna Summers V</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/757465">Kiki Mouse</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>129</b></p>
            <p>
                <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (129)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750940">Kieran Seekshadow</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750033">Wind Storm</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750079">Dani Palmira</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750906">Dawid Wolf</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750961">Lexi Belle</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751278">Morgan Nevarez II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750905">Rena Cantwell</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/elusive_imp_indigo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/749964">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750906">Dawid Wolf</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>130</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (130)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751423">Lucy Lawrence</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/756914">Lillie Pellegrino</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750079">Dani Palmira</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/751105">Stacey Newby</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/757465">Kiki Mouse</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754255">Yutki Namshia</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/item_mana_flask_tfnymic.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/750695">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/751051">Laelia Fredrick</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/757280">Lucille Gaytan II</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/754300">Tristin Peeples II</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/760349">Annie Kay</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/758847">Tina East</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749952">Kyrah Binbow</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/758033">Ara Fenrirr III</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750195">Ruben Lockett</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750025">Nick Jade</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749950">Britt Wiccanshire</a> (59)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/758209">Zero Confidence II</a> (18)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/752795">Catherine Moonlight</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/760306">Ash Shafer II</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749942">Olivia Babbette</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dark_fay_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/750931">Que Tee</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750931">Que Tee</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (19)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/754115">Dked Rinmained II</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749957">Jessie 'Caregiver' Nealy</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750037">Abbie Riggs</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749925">Dianna 'Alyson's Plaything' Santana</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>17,380</b></p>
            <p>
                <a href="/pvp/lookatplayer/756527">Grey Stipples II</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/756527">Grey Stipples II</a> (17,380)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (15,195)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (10,905)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (4,565)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749921">Renee Descartes</a> (1,750)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (1,530)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750489">Devon Barela</a> (960)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (750)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (700)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/758157">Sara Dollmaker</a> (645)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mummy_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>75</b></p>
            <p>
                <a href="/pvp/lookatplayer/751962">Rory Wilkins</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/751962">Rory Wilkins</a> (75)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/751105">Stacey Newby</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751365">Ignacio Romano II</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/752967">Sora Skye</a> (28)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750184">Craz Coyote</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/751796">Brandi Loy</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/760152">Inaro Inra V</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750038">Valeria Bentley</a> (25)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751320">Tammy Valerio</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750033">Wind Storm</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/750071">Abigail Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750071">Abigail Kitsu</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749926">Shredster Khan</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751796">Brandi Loy</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749950">Britt Wiccanshire</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750033">Wind Storm</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749916">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750520">Dustin Craven</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751615">Joe Hawthorne</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750806">Kaede Yamabuki</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/elusive_imp_indigo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,910</b></p>
            <p>
                <a href="/pvp/lookatplayer/749964">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (1,910)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (1,538)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/758157">Sara Dollmaker</a> (776)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (522)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (513)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (487)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749950">Britt Wiccanshire</a> (378)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750806">Kaede Yamabuki</a> (251)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/753216">Stan Falk IV</a> (235)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750057">Riley Johannson</a> (215)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/road_recruit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/750689">Jennah Arhtima</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750689">Jennah Arhtima</a> (250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750805">Riley Sorell</a> (85)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749932">Maid Kaitlyn</a> (74)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/757982">Ray Blake</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750051">Chuck Wick</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749946">Ryo Ku</a> (56)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (54)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749914">Fox Cross</a> (50)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750000">Rob Martinson</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/752528">Declan Noble</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/751431">Kaitlin Kimbrough</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749933">Cloe Seguin</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749923">Judith 'Music on the Wind' Neff</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/753427">Gynne Arllet</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751105">Stacey Newby</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750765">Sarah 'Magistrix' Ainsley</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>158</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (158)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749962">Inez Dexter</a> (124)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/752528">Declan Noble</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/756914">Lillie Pellegrino</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/751105">Stacey Newby</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750765">Sarah 'Magistrix' Ainsley</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749949">Diana Rigby</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751431">Kaitlin Kimbrough</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754255">Yutki Namshia</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>341</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (341)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (321)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (83)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750021">Mikhail 'The Danger!' Vigg</a> (52)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (38)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/750057">Riley Johannson</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/751051">Laelia Fredrick</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750940">Kieran Seekshadow</a> (18)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749953">Rene Hawks</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749921">Renee Descartes</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/749930">Crystal Moyer</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/751464">Sofia Parry</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749976">Indigo Deluna</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/749933">Cloe Seguin</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>86</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (86)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (45)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749968">Tara Sapphire</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750021">Mikhail 'The Danger!' Vigg</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/751767">Brenda Bacon</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751121">Ai Naoi</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750489">Devon Barela</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>126</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (126)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (55)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750057">Riley Johannson</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/756015">Eric Finney</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750025">Nick Jade</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749953">Rene Hawks</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/751050">Brooke Seifert</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750296">Julia Fox</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>64</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (64)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (21)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/759274">Feet Face</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750195">Ruben Lockett</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/752967">Sora Skye</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/750000">Rob Martinson</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/749932">Maid Kaitlyn</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/751546">Mas Tiac</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (29)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750806">Kaede Yamabuki</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>56</b></p>
            <p>
                <a href="/pvp/lookatplayer/750011">Iris Thule</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (56)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (44)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/751051">Laelia Fredrick</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/749914">Fox Cross</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750695">Markus Drake</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/751796">Brandi Loy</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/754103">Milena Lorena</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/754158">Jaime Navarrete</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/750940">Kieran Seekshadow</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>829</b></p>
            <p>
                <a href="/pvp/lookatplayer/749918">Freya Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/749918">Freya Dolly</a> (829)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/749921">Renee Descartes</a> (426)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/749964">Glenna Coy</a> (403)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/750489">Devon Barela</a> (320)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/750091">Hazel Windham</a> (299)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/750011">Iris Thule</a> (294)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/750062">Jade Riverfox</a> (290)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/749945">Nadia 'Love Farmer' Ayers</a> (288)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/752673">Lucile Lennon</a> (258)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/754171">Paige Haliwell II</a> (242)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>