<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/puyo_custom_form_Cyberkaku.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>8,148</b></p>
            <p>
                <a href="/pvp/lookatplayer/671545">Puyo Hebihime</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671545">Puyo Hebihime</a> (8,148)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671648">Minervas Petslut</a> (6,313)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671889">Britt Wiccanshire</a> (6,124)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/672483">Vanilla Cream</a> (6,077)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671872">Lisa Rosewater</a> (5,280)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (4,491)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/673447">Kyrah Binbow</a> (4,057)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671770">Stephen Welles</a> (3,843)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672471">Catherine Moonlight</a> (3,804)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671582">Auly Jua</a> (3,402)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,212</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (3,212)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (2,525)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (1,739)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (1,637)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (1,632)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (1,618)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (1,478)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (1,410)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (1,282)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/683217">Maka Christy V</a> (1,265)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>9,475</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (9,475)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (8,689)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671634">Judith 'Bliss' Neff</a> (6,982)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (6,665)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (6,659)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671656">Jessie 'Caregiver' Nealy</a> (6,450)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (6,364)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (6,343)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (5,610)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (5,301)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,323</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (1,323)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (1,110)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (1,057)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/683217">Maka Christy V</a> (883)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (749)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (671)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/680541">Zaiden Rohr II</a> (670)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (632)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (630)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (621)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,490</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (1,490)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671764">Matt Felgrand</a> (1,403)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (1,078)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (1,073)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/683217">Maka Christy V</a> (1,026)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (1,013)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (959)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (904)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (879)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (865)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,543</b></p>
            <p>
                <a href="/pvp/lookatplayer/671764">Matt Felgrand</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671764">Matt Felgrand</a> (1,543)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/681531">Mr Derik II</a> (1,481)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671864">Jennifer Hollan II</a> (666)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671739">Sarah Clapper</a> (593)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673014">Jana Sturdivant</a> (561)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (479)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671747">Victorea 'Beloved' Correa</a> (450)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/674608">Maid Marion</a> (405)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672713">Nene Paxton</a> (345)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (269)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>23,300</b></p>
            <p>
                <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (23,300)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (13,820)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (12,260)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (10,620)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/672729">Betsy Flames</a> (9,220)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/673123">Roxanne Toth</a> (7,540)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (7,300)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (5,700)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (5,000)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672533">Lola Gray</a> (5,000)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>85</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (85)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (36)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/683217">Maka Christy V</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672713">Nene Paxton</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/681531">Mr Derik II</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673658">Princess Lily</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>114</b></p>
            <p>
                <a href="/pvp/lookatplayer/671654">Tara Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (114)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673770">Pie Pies</a> (65)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (60)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/674125">Dolores Gilbreath II</a> (50)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (47)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671754">Dustin Craven</a> (45)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671764">Matt Felgrand</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/dragon_onesie_gogo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/672834">Abusable Maiden</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/672834">Abusable Maiden</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/681682">Seras Victoria II</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/682760">Miss Pillowella III</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/676822">Lillie Rose</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/679042">Estelle Perea</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/679313">Amy Windrunner II</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/683231">Erica Schofield V</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/679654">Tyler Uyrt II</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/683266">Susie Galbraith</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/dragon_onesie_gogo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/672834">Abusable Maiden</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/672834">Abusable Maiden</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673357">Hadrian Manley</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/674330">Mathilde Durand</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/672190">Bobbie Heart</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673224">Gamma Black</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/683078">Virginia Allred</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/680268">Cotton Candy</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/675527">Angeline Strange</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/674899">Anna Nestor</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>108</b></p>
            <p>
                <a href="/pvp/lookatplayer/671654">Tara Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (108)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (80)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671600">Tomiko Hewitt</a> (75)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671592">Max Vella</a> (52)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (51)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/673012">Matron Sweets</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (46)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671663">Mikhail '⚫Verdant Recursion⚪' Vigg</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>73</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (73)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673050">Xander Nikos</a> (62)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (60)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (57)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (57)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/680268">Cotton Candy</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swarm_of_fairies_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>225</b></p>
            <p>
                <a href="/pvp/lookatplayer/671852">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (225)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (153)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (100)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671758">Kaede Yamabuki</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672963">Pearlie 'Circe' Gunderson</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671564">Eric Finney</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671979">Abe Navarrete</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671548">Goddess Sakura</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swarm_of_fairies_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>258</b></p>
            <p>
                <a href="/pvp/lookatplayer/671852">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (258)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (182)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (105)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/673050">Xander Nikos</a> (61)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/674821">Grey Stipples III</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (58)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671758">Kaede Yamabuki</a> (58)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (56)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672963">Pearlie 'Circe' Gunderson</a> (48)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (45)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/671654">Tara Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672483">Vanilla Cream</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/677168">Innocent Bystander</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673134">Spellkeeper Nocturna</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672900">Fulvia Sisk</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671597">Yvesza Sylwind</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672713">Nene Paxton</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/680702">Alex Anger II</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671758">Kaede Yamabuki</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/milkmaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>55</b></p>
            <p>
                <a href="/pvp/lookatplayer/671542">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (55)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (49)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (47)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (40)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (37)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671889">Britt Wiccanshire</a> (33)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (24)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/673772">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/673058">Victoria Ortega</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671946">Riel Epix</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671770">Stephen Welles</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671572">Slave Sakuma</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/673457">James Kain</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/kitty_panties_EdnaSchafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,825</b></p>
            <p>
                <a href="/pvp/lookatplayer/671718">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671718">Kittyn Angelica</a> (24,825)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671645">Demonic Udders</a> (24,770)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671858">Sister Udders</a> (24,760)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671631">Joe Nobody</a> (22,895)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671549">Lexi's Vagoo</a> (22,630)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672191">Lara Ithilwen</a> (22,275)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671876">Avery Winters</a> (22,105)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671571">Nadia's Dolly</a> (20,920)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671568">Flow Mueller</a> (19,080)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671780">Leilana Aldridge</a> (18,825)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/playful_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,740</b></p>
            <p>
                <a href="/pvp/lookatplayer/671591">Allyssa Adams</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671591">Allyssa Adams</a> (24,740)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671690">Diamonique Possessio</a> (22,340)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671590">Markus Drake</a> (21,150)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671740">Precious Moo</a> (19,355)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671692">Kristal Ball</a> (17,828)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672719">Rex Matthews</a> (17,160)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671640">Gwen Majors</a> (15,530)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672137">Silver Fischer</a> (14,595)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671972">Elise Whitcomb</a> (13,661)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671990">Baroness Hopscotch</a> (13,480)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>19,113</b></p>
            <p>
                <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (19,113)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671946">Riel Epix</a> (14,792)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (11,759)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671648">Minervas Petslut</a> (10,763)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (9,717)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672729">Betsy Flames</a> (7,969)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/673123">Roxanne Toth</a> (7,434)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671602">Varin Elderblood</a> (7,173)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (6,874)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (6,858)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>12,325</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (12,325)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (4,763)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (2,829)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (2,034)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/672005">Martin Witt</a> (1,567)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672963">Pearlie 'Circe' Gunderson</a> (1,484)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (1,479)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672471">Catherine Moonlight</a> (1,347)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (1,252)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (1,215)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>7,783</b></p>
            <p>
                <a href="/pvp/lookatplayer/673772">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (7,783)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/676910">Hebijo Hikage</a> (4,920)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671578">Meowrinya Nyekobornya</a> (4,230)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671796">Finn Reeds</a> (3,510)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671946">Riel Epix</a> (1,720)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/676417">Luci Andre</a> (1,600)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/680702">Alex Anger II</a> (1,470)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (1,430)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/679256">Lucy Nyekobornya</a> (1,080)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/675301">Aaron Collins</a> (850)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/rose_BrookyBrooks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,100</b></p>
            <p>
                <a href="/pvp/lookatplayer/671902">Jane Doe</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (1,100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/676882">Alexia 'Man Eater' Emm</a> (850)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671573">Cael Winters</a> (660)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671889">Britt Wiccanshire</a> (620)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671813">Camrin Mace</a> (570)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/680541">Zaiden Rohr II</a> (500)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672117">Terry Shadow</a> (440)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672295">Mara Aram</a> (420)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/675400">Lexi Bachman</a> (400)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/675159">Selina Muliaina</a> (390)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/white_latex_drone_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>235</b></p>
            <p>
                <a href="/pvp/lookatplayer/671946">Riel Epix</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671946">Riel Epix</a> (235)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (185)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (107)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671564">Eric Finney</a> (99)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/677297">Diana Pinetop</a> (88)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672712">Vivianne Mcqueen</a> (82)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671655">Erick Smith</a> (81)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671551">Karson Doan</a> (54)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672366">Nyasa Meownya</a> (54)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/673772">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671689">Rosalyn Fortune</a> (18)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672692">Jeanne Martens</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/676945">Haughty Princess</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672516">Maxine Crumpton</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/681428">Brook Oaks III</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/679042">Estelle Perea</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>5</b></p>
            <p>
                <a href="/pvp/lookatplayer/674437">Aldes Harder III</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (5)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/673772">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/677018">Vanessa Wolf</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/673658">Princess Lily</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/680268">Cotton Candy</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/680040">Susie Knoll</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671689">Rosalyn Fortune</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671548">Goddess Sakura</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671597">Yvesza Sylwind</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/dragon_onesie_gogo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/672834">Abusable Maiden</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/672834">Abusable Maiden</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/681682">Seras Victoria II</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/673770">Pie Pies</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/679042">Estelle Perea</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673224">Gamma Black</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/679313">Amy Windrunner II</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/675527">Angeline Strange</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/679362">Jamie Snyder II</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/675065">Kimmy Kurtz</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/675948">River Qorshel</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671889">Britt Wiccanshire</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (35)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (34)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671770">Stephen Welles</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/675771">Omni Fary II</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/678857">Sage Gainey III</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/675182">Nephthys Nephilium II</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671796">Finn Reeds</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>4,615</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (4,615)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (1,635)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (1,025)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671747">Victorea 'Beloved' Correa</a> (960)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (935)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (890)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/680268">Cotton Candy</a> (730)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/673050">Xander Nikos</a> (700)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/674437">Aldes Harder III</a> (665)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (650)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/672516">Maxine Crumpton</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/672516">Maxine Crumpton</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/676224">Carmella Stjohn</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/675527">Angeline Strange</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/675753">Matsune Mandane</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672602">Rosemarie Baxter III</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/679042">Estelle Perea</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672577">Abby Houser</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/675065">Kimmy Kurtz</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/673058">Victoria Ortega</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shy_sheep_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/671538">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671538">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671541">Anderson Toney</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671583">Shredster Khan</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/672602">Rosemarie Baxter III</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/675018">Sorsha Callanish</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/676224">Carmella Stjohn</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671592">Max Vella</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672244">Lizzy Taylor</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673447">Kyrah Binbow</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671739">Sarah Clapper</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_prince_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,780</b></p>
            <p>
                <a href="/pvp/lookatplayer/673772">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (1,780)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671946">Riel Epix</a> (1,090)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (601)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/676417">Luci Andre</a> (492)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (469)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/674899">Anna Nestor</a> (386)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671758">Kaede Yamabuki</a> (293)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/673050">Xander Nikos</a> (286)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/675018">Sorsha Callanish</a> (277)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (252)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/parasitic_heelless_hooves_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>120</b></p>
            <p>
                <a href="/pvp/lookatplayer/673012">Matron Sweets</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/673012">Matron Sweets</a> (120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671550">Rob Martinson</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671873">Vita Love</a> (68)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671872">Lisa Rosewater</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/676882">Alexia 'Man Eater' Emm</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671796">Finn Reeds</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672070">Sterling Winters</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671549">Lexi's Vagoo</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671572">Slave Sakuma</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672362">Jamie Lee</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>55</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (55)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672516">Maxine Crumpton</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/672888">Rene Descartes</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671689">Rosalyn Fortune</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671548">Goddess Sakura</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672461">Roxy Maid</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671747">Victorea 'Beloved' Correa</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>211</b></p>
            <p>
                <a href="/pvp/lookatplayer/671684">Emily Hart</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (211)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/673772">Glenna Coy</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671689">Rosalyn Fortune</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671597">Yvesza Sylwind</a> (54)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672461">Roxy Maid</a> (52)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672516">Maxine Crumpton</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>279</b></p>
            <p>
                <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (279)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (213)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (111)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (87)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/673222">Abigail Rose</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/671579">Kyla Noir</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671558">Amber Fontaine</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671574">Elpis Blav</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671787">Elise Tund</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671764">Matt Felgrand</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671602">Varin Elderblood</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>96</b></p>
            <p>
                <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (96)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (50)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671654">Tara Sapphire</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671852">Lucius Valentine</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671536">Sabrina Rosa</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672533">Lola Gray</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/673222">Abigail Rose</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/671579">Kyla Noir</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/676545">Roxie Sager</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/673123">Roxanne Toth</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671864">Jennifer Hollan II</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/671576">Kieran Seekshadow</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>43</b></p>
            <p>
                <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (43)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (29)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (20)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/679042">Estelle Perea</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/673174">Rubette Lulette</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/679536">Rias Gremory II</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671902">Jane Doe</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672500">Julius Batts</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671550">Rob Martinson</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/682253">Henny Wuns II</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671542">Nadia Ayers</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/671754">Dustin Craven</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/674042">Christopher Smith</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/671764">Matt Felgrand</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/671708">Starfire Logue</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/672461">Roxy Maid</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/673830">Elizabeth Davis II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/671570">Sorcha 'Puppy' Moyers</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/671596">Celine '💞Cuddle Slut💞' Nysa</a> (48)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/671684">Emily Hart</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/671579">Kyla Noir</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/672725">Elle Sawyer</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/672834">Abusable Maiden</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/674827">Allyson Heilman</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/672010">Arya Vynf</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/673347">Iris Harp</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/671534">Zackary Hartman</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>