<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/teacher_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,372</b></p>
            <p>
                <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (12,372)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (9,255)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/970459">Sunya Stein</a> (7,516)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (5,803)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/964232">Feronia Aedor</a> (5,559)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (5,438)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963616">Karliah 'Grand Temptress' Valaya</a> (5,194)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963597">Alexa Hexa</a> (5,150)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963839">Minerva's Cock</a> (4,797)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (3,675)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,187</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (3,187)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (2,515)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (2,073)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (1,980)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (1,776)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (1,775)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (1,702)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (1,450)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (1,333)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (1,152)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>25,768</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (25,768)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (22,798)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (16,193)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (14,500)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (11,721)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (8,290)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (7,567)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963942">Hugh Wanasukit</a> (6,616)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (6,193)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (5,811)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Bloodthirsty_Marilith_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,971</b></p>
            <p>
                <a href="/pvp/lookatplayer/963736">Rath Mezt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (1,971)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (1,454)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (1,363)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (1,148)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (950)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (900)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (897)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (802)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (786)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (730)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,475</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (1,475)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (1,250)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (1,105)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (973)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (952)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (937)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (903)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a> (797)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (696)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (626)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/white_latex_drone_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>4,188</b></p>
            <p>
                <a href="/pvp/lookatplayer/963705">Anne Joy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963705">Anne Joy</a> (4,188)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/964458">Kris Anderson</a> (930)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/965535">Jasmine Fowering II</a> (672)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964378">Eric Finney</a> (533)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963729">Silly Pet</a> (445)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963723">Gustav Blackwell</a> (223)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (213)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/968609">Emma Fritz</a> (179)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (170)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963948">Heartfelt Ayers</a> (157)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>125,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/963700">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (125,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (53,380)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (21,600)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (14,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (13,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/964086">Miss Deeds</a> (9,500)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (8,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964552">Golden Gem</a> (5,800)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/965274">Nyanne Nyekobornya</a> (4,520)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (4,400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/timid_beaver_gal_tgwonder.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>59</b></p>
            <p>
                <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (59)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (56)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963657">Cynthia Price</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/964378">Eric Finney</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/965590">Toni Venusela</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963947">Maria Hannon</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964552">Golden Gem</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Ravaging_Rakshasi_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>62</b></p>
            <p>
                <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (62)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (61)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/974006">Rick Gibbon II</a> (45)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/965590">Toni Venusela</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/970612">Maddy Wolff</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963722">Jin Locke</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/973923">Dan Jones</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/969567">Estella Nye</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/966934">Maria Locke</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/973397">Nolan Ulmer II</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/974135">Carly Davidson</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/968069">Sasha Do</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/965513">Seras Victoria</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/966435">Humanoid Onahole</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/973923">Dan Jones</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/969567">Estella Nye</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/970006">Christian Lyttle</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/969556">Shelly Redden</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/974142">Sam Beardsley</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/965274">Nyanne Nyekobornya</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/972413">Miley Soap III</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/972492">Crosby Tirado II</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/974683">Fifi Bitch</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/timid_beaver_gal_tgwonder.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>137</b></p>
            <p>
                <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (137)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (49)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963947">Maria Hannon</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/970407">Irthir Kenvel</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/968164">James Fox</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>289</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (289)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (140)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (71)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (64)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (57)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (56)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (48)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>126</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (126)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963642">Jo Giovanna</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963688">Alex Morrison</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/972492">Crosby Tirado II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/968401">Robin Nekada</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>403</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (403)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (210)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (63)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (51)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (48)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/964170">Priscilla Nyekobornya</a> (21)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963953">Mister Saz</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963965">Heather Brandenburg</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963613">Rachael Benett</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/973481">Rayne Shadowblade</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964298">Frederica Bernkastel</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/974135">Carly Davidson</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (33)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963597">Alexa Hexa</a> (27)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/964378">Eric Finney</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/965107">Aurora 'Ghost Fox' Ryall</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/963614">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963614">Michael Rochard</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963597">Alexa Hexa</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/964043">Steve Welles</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/965107">Aurora 'Ghost Fox' Ryall</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/965114">Erica Smith</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963705">Anne Joy</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964826">Dario Thurman</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964333">Josephine Demonjoy</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963688">Alex Morrison</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/cat_paws_feet_Gogo_Genki.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,945</b></p>
            <p>
                <a href="/pvp/lookatplayer/963653">Legendary Paws</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963653">Legendary Paws</a> (39,945)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963640">Tommy's Cock</a> (39,940)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963698">Enticing Display</a> (39,930)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963755">Pink Thong</a> (39,605)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963811">Lion Paws</a> (38,570)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963735">Noreen's Pillow</a> (37,730)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963707">Lulu's Paws</a> (36,540)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/975150">Reba Barden</a> (35,730)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964002">Horny BigTits</a> (35,715)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964253">Filled Toy</a> (34,550)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,845</b></p>
            <p>
                <a href="/pvp/lookatplayer/963731">Noreen's Reddy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963731">Noreen's Reddy</a> (39,845)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963756">Bryce Kincaid</a> (39,115)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963990">Glenna Coy</a> (38,640)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963601">Pathetic Bitch</a> (32,210)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963596">Queen BigKuro</a> (30,445)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963633">Ollie Evie</a> (27,995)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/965178">Whorsie Violet</a> (26,895)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963814">Chelsi 'Best Kitty' Pharnia</a> (26,685)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964595">Maya Palmer</a> (24,840)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963866">Eager 'Owned' Puppygirl</a> (24,545)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>102,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/963700">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (102,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (39,859)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (30,047)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (23,936)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (21,159)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (20,690)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963743">Kaede Yamabuki</a> (19,523)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (18,922)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (9,971)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964552">Golden Gem</a> (8,780)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>50,005</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (50,005)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (3,716)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (2,840)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (2,601)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (2,370)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (1,354)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/969527">Russel Collins</a> (1,180)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964025">Lefen Hunter</a> (883)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/965535">Jasmine Fowering II</a> (868)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963783">Mayra Nielson</a> (820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>45,050</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (45,050)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (28,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (23,960)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (3,090)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/965705">Forevers Pet</a> (1,880)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (1,740)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963614">Michael Rochard</a> (1,210)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963642">Jo Giovanna</a> (1,210)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (970)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/970600">May's Ass</a> (860)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>2,300</b></p>
            <p>
                <a href="/pvp/lookatplayer/964170">Priscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/964170">Priscilla Nyekobornya</a> (2,300)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963865">Reagan Dunning</a> (410)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964079">Deborah Rau</a> (330)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/968835">Tiffany Wells</a> (310)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/969184">Anthony Sharpe III</a> (290)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/970799">Jennie Stien II</a> (280)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963915">Varin Elderblood</a> (255)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/970006">Christian Lyttle</a> (220)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964153">Christa Blake</a> (150)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>674</b></p>
            <p>
                <a href="/pvp/lookatplayer/965316">Sherry Port</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (674)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (387)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963564">Tiffany Anders</a> (188)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964264">Vivianne Mcqueen</a> (106)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/967735">Busty PetThing</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/968401">Robin Nekada</a> (33)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963829">Max Karma</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963947">Maria Hannon</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fairy_schoolgirl_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/963666">Shayla Tam</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (23)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/965247">Christmas Spirit</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963819">Crystal Draper</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/967033">Ruby Roy</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/965416">Paige Troutman</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963710">Puhskinti Day</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fairy_schoolgirl_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>7</b></p>
            <p>
                <a href="/pvp/lookatplayer/963666">Shayla Tam</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (7)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964710">Dawid Wolf</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (18)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963751">Erin Keys</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/968555">Mai Rockwell</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963896">Jova Riekan</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/hucow_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>64</b></p>
            <p>
                <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/964100">Kyrah Binbow</a> (64)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/973923">Dan Jones</a> (22)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/969567">Estella Nye</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/966934">Maria Locke</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/965513">Seras Victoria</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/970006">Christian Lyttle</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963938">Grace Kavlier</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/965339">Jess Bimbolove</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (52)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963597">Alexa Hexa</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963965">Heather Brandenburg</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/teacher_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963734">Catherine Moonlight</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963609">Lulu Fluffystride</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/964086">Miss Deeds</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/964170">Priscilla Nyekobornya</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963989">Robin Flynn</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963729">Silly Pet</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964322">Wayne Samples</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/965416">Paige Troutman</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/966752">Chris Ricketts II</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>16,790</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (16,790)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (5,305)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (2,265)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (1,865)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (1,580)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963942">Hugh Wanasukit</a> (1,540)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (1,365)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963723">Gustav Blackwell</a> (1,340)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (990)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963865">Reagan Dunning</a> (630)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_12_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963953">Mister Saz</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/964498">Odessa Doherty</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/965909">Phil Bentley</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963783">Mayra Nielson</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/965213">Alfredo Ferris</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/969556">Shelly Redden</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963842">Jake Chambers</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964023">Ren Stearns</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963710">Puhskinti Day</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963783">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963569">Shredster Khan</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963680">Eevee Red</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/964199">Vanilla Cream</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963953">Mister Saz</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964107">Wind Storm</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>4,478</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (4,478)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (2,017)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (539)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (228)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/965286">Veln Moonscythe</a> (167)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963614">Michael Rochard</a> (143)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/970375">Meowra Nyekobornya</a> (135)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963743">Kaede Yamabuki</a> (133)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963678">Sockubus Noreen</a> (114)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/969184">Anthony Sharpe III</a> (110)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963632">Tommy 'Tawny' Trouble</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963623">Jess Kitsune</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/964244">Annabelle Andrews</a> (35)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963683">Vivian Rouse</a> (33)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/965311">Cecelnya Nyekobornya</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963896">Jova Riekan</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963564">Tiffany Anders</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963938">Grace Kavlier</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963689">Riley Tellez</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fairy_schoolgirl_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>26</b></p>
            <p>
                <a href="/pvp/lookatplayer/963666">Shayla Tam</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (26)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (21)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963751">Erin Keys</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/965179">Cecilia Feline</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>99</b></p>
            <p>
                <a href="/pvp/lookatplayer/963566">Robin Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (99)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (89)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (75)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (66)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/967941">Crystal Rawls IV</a> (45)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/964237">Cute Dress</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963654">Tomiko Hewitt</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/967230">Myra Bolin</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Bloodthirsty_Marilith_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>277</b></p>
            <p>
                <a href="/pvp/lookatplayer/963736">Rath Mezt</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (277)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (226)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (119)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (117)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (87)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (86)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (72)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (68)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (62)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964059">Noodles Snekly</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Bloodthirsty_Marilith_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/963736">Rath Mezt</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/965140">Mommys Panties</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963668">Linda Thorne</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/963602">Joseph Wow</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (82)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (50)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963730">Nadia Ayers</a> (48)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (33)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964059">Noodles Snekly</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/967735">Busty PetThing</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Bloodthirsty_Marilith_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>229</b></p>
            <p>
                <a href="/pvp/lookatplayer/963736">Rath Mezt</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (229)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (34)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963865">Reagan Dunning</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/968555">Mai Rockwell</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/964043">Steve Welles</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963587">Trash Bag</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/964538">Orangetye Staples</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/967748">Violet Hatfield II</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/963579">Madge Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963579">Madge Mercy</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/970407">Irthir Kenvel</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963953">Mister Saz</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963896">Jova Riekan</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963680">Eevee Red</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/964378">Eric Finney</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/963602">Joseph Wow</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (45)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963659">Pathetic Cumrags</a> (44)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (42)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963876">Seraphina Blake</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/965316">Sherry Port</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/964059">Noodles Snekly</a> (17)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963669">Ellis Hamlin</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/964458">Kris Anderson</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963700">Holly Ryder</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Bloodthirsty_Marilith_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,084</b></p>
            <p>
                <a href="/pvp/lookatplayer/963736">Rath Mezt</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/963736">Rath Mezt</a> (1,084)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/963602">Joseph Wow</a> (719)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963624">Misty Lovett</a> (488)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963836">Angel Anael</a> (337)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963676">Viola Hawthorne</a> (329)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963643">Lam Ron</a> (324)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (269)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/963785">Selena Vitale</a> (161)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963723">Gustav Blackwell</a> (140)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/963661">Ekaterina Vasilov</a> (139)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>62</b></p>
            <p>
                <a href="/pvp/lookatplayer/970406">Jennie Horn</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/970406">Jennie Horn</a> (62)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/968911">Natasha Selvar</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/963682">Sparklepetal Silverglade</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/963566">Robin Pharnia</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/963666">Shayla Tam</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/963829">Max Karma</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/970612">Maddy Wolff</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/968555">Mai Rockwell</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/963683">Vivian Rouse</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/969556">Shelly Redden</a> (2)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>