<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>14,319</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (14,319)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074682">The Boss</a> (8,474)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074705">Kira-Christi's snuggling-pillow</a> (7,750)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074900">Jodie Grey</a> (6,672)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075969">Nimwena Hadoran</a> (6,265)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075242">Vanilla Cream</a> (5,334)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1081983">Minnie Chase</a> (4,529)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1085859">No One</a> (4,324)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074821">Maxine Wampler</a> (3,959)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075156">Rob Martinson</a> (3,759)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>4,304</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (4,304)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (4,206)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (4,055)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (3,186)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (2,850)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (2,503)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (2,396)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075393">Sir Eric</a> (1,828)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (1,642)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (1,570)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>20,812</b></p>
            <p>
                <a href="/pvp/lookatplayer/1077999">Drag Kris II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (20,812)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (16,748)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (13,067)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (11,159)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075003">Misty Lovett</a> (10,878)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (10,587)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (10,136)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (9,825)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (8,769)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (8,384)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>3,333</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (3,333)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (2,813)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (2,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (1,343)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1083157">Marta Herring</a> (1,338)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (1,184)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (1,148)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (1,049)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074851">Joseph Wow</a> (891)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (880)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Fwoompsune_redpandacase.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,836</b></p>
            <p>
                <a href="/pvp/lookatplayer/1086302">Victoria Justice</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (1,836)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (1,781)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (1,413)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (1,219)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a> (1,117)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (947)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (866)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075393">Sir Eric</a> (782)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074738">Tomiko Hewitt</a> (694)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (688)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shy_college_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,994</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075384">Zoe Emery</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075384">Zoe Emery</a> (2,994)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075895">Serena Blackthorn</a> (1,800)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (589)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (511)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (433)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074860">Crystal Draper</a> (289)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075096">Tiffany Anders</a> (101)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1077452">Musashi Miyamoto</a> (89)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (84)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074775">Cassandra Blue</a> (79)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>150,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074718">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (150,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074682">The Boss</a> (29,920)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (22,660)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (22,540)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (13,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (12,000)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (11,500)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (10,000)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1077182">Josh Bauer</a> (5,480)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075017">Arlo Hudgins</a> (5,380)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (87)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075285">Aelianus Corcoran</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074744">Cynthia Price</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1083157">Marta Herring</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1081437">Toni Venusela</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075384">Zoe Emery</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>136</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a> (136)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (82)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075075">Alexa Bubble</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (31)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074738">Tomiko Hewitt</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075788">Theo Rivers</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074715">Tulip Lily</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/stinky_trash_bag_kmaron5.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/1085430">Sidney Mcfarland</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1085430">Sidney Mcfarland</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1083776">Finley Winfield II</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1086103">Josiah Burr</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1082637">Red's Sexy-bra</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1084979">Cowa Ma II</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1086315">Holden Wu</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1077079">Maruka Yezu II</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1083981">Mari Nowell</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/omnibus_familiar_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075223">Samson Sheets</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075223">Samson Sheets</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1083776">Finley Winfield II</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074821">Maxine Wampler</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075788">Theo Rivers</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1083672">Olivia Garland</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1081983">Minnie Chase</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074758">Prince Ellis</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075472">Truman Eastman</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>212</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (212)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075393">Sir Eric</a> (110)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (71)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (67)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074738">Tomiko Hewitt</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1078404">Bettie Aguiar</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>266</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074718">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (266)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (184)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (96)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (53)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (46)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (45)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/adorable_kitty_boy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>125</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075142">Rosa 'Kitten' Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075142">Rosa 'Kitten' Fortune</a> (125)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (113)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (53)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (28)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074882">Jennie Stein</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1078019">Fabiana Gerard</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075271">Eric Finney</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1078003">Tristen Humphreys II</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>371</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074718">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (371)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (171)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075142">Rosa 'Kitten' Fortune</a> (125)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (120)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1078003">Tristen Humphreys II</a> (40)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075271">Eric Finney</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1078019">Fabiana Gerard</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075123">Vivianne Mcqueen</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/blood_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075285">Aelianus Corcoran</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1083303">David Night</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1082025">Braden Helton</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1083823">Mindy Sivette</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1081437">Toni Venusela</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/rodent_boi_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074725">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (60)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075271">Eric Finney</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075479">Jane Doe</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075536">Jess Kitsune</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074773">Dustin Craven</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074742">Nyasa Meownya</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074775">Cassandra Blue</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tentacle_monster_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074788">Rainbow DashII</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074788">Rainbow DashII</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075242">Vanilla Cream</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074883">Sherry Port</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075142">Rosa 'Kitten' Fortune</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075384">Zoe Emery</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1078003">Tristen Humphreys II</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/booty_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,005</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074818">Molly's Massive-Ass</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074818">Molly's Massive-Ass</a> (39,005)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075259">Slutty-Plastic Figurine</a> (38,210)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075024">Angelic Stockings</a> (37,850)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075135">Cwyn Happy-Waggy</a> (37,830)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075463">Luisa Burge</a> (37,535)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075797">Bobbing Bimballoon</a> (36,940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075042">Supreme Penetrator</a> (36,860)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074837">Arian Lemke</a> (36,635)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074877">Melissa Beam</a> (36,010)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075056">Cassie's 'Divine' Jessietits</a> (35,345)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/funesune_shrine_maiden_oter-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,560</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074833">Kaede Yamabuki</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074833">Kaede Yamabuki</a> (39,560)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074701">Pleasure Nugget</a> (36,960)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075063">Horse Bunny</a> (36,885)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074704">Vixen Squeak-Dragon</a> (36,475)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074788">Rainbow DashII</a> (32,900)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074727">Traci Golden</a> (31,130)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075370">Rory Betz</a> (29,570)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074758">Prince Ellis</a> (29,055)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074966">Bettie's Dolly</a> (29,015)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076538">Submissive Kitty</a> (28,100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/robotgirl_thurosis.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>127,690</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074718">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (127,690)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (71,053)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (35,299)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074682">The Boss</a> (26,898)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (19,286)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (19,240)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075123">Vivianne Mcqueen</a> (11,800)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (11,142)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (10,664)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076492">Michael Rochard</a> (10,122)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/blood_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>15,662</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (15,662)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (12,372)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (9,585)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (5,313)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (4,142)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074696">Dicey Flynn</a> (1,773)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1085859">No One</a> (1,423)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075673">Ashwa Gandha</a> (1,057)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074920">Starfire Logue</a> (986)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1078019">Fabiana Gerard</a> (788)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_09_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>49,700</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074695">Tucker Price</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (49,700)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (18,460)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (15,260)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (4,780)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (4,060)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075673">Ashwa Gandha</a> (2,940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (1,950)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074696">Dicey Flynn</a> (1,550)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1077182">Josh Bauer</a> (1,110)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1077737">Steve Welles</a> (950)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>20,065</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (20,065)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077834">Tara Sapphire</a> (1,740)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075479">Jane Doe</a> (730)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075472">Truman Eastman</a> (700)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1080081">Gaia Grissom</a> (550)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075384">Zoe Emery</a> (440)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (430)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075003">Misty Lovett</a> (400)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1079654">Paige Thacker</a> (400)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (350)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_femme_fatale_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>363</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074984">Christi Bender</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (363)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075123">Vivianne Mcqueen</a> (272)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (81)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (74)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1081983">Minnie Chase</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (52)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1086039">Truman Keck</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>30</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (30)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (19)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1083157">Marta Herring</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1076618">Violet Hatfield</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1084860">Micheal Drew II</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1076255">TightLatex Pants</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074860">Crystal Draper</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1078003">Tristen Humphreys II</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075789">Naiy Notyrah</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1083157">Marta Herring</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075393">Sir Eric</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074860">Crystal Draper</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1085178">Grey Heart</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1082637">Red's Sexy-bra</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1076798">Sockubus Noreen</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/stinky_trash_bag_kmaron5.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/1085430">Sidney Mcfarland</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1085430">Sidney Mcfarland</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1083776">Finley Winfield II</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075788">Theo Rivers</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1079000">Cain Trayer</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075223">Samson Sheets</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1079403">Alice Lucine</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074821">Maxine Wampler</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076057">Paula Wynn II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/rodent_boi_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>120</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074725">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (32)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (31)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075479">Jane Doe</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075271">Eric Finney</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1081983">Minnie Chase</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>26</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (26)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075142">Rosa 'Kitten' Fortune</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1085859">No One</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1076582">Empress Faye</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075808">Leek Takehiro</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075384">Zoe Emery</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1081983">Minnie Chase</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1082042">Mitch Aleman</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>22,455</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (22,455)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (15,695)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (8,875)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (4,185)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (4,140)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (2,630)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (2,125)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075123">Vivianne Mcqueen</a> (1,165)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074766">Adam Hillman</a> (1,130)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (1,060)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>117</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074895">Annabelle Andrews</a> (117)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077452">Musashi Miyamoto</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075536">Jess Kitsune</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1077170">Hello Newsom</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1081416">Iker Fishman</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074889">Purriscilla Nyekobornya</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075022">Riley Duskmoon</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1077524">Kyle Baer</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1076751">Mordred Pendragon</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1082044">Isaac Erickson</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/maternity_babydoll_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075414">Mayra Nielson</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075414">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1076259">Lauri Gatlin</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1078003">Tristen Humphreys II</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075242">Vanilla Cream</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1080081">Gaia Grissom</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074798">Faith Nakal</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074900">Jodie Grey</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074862">Max Vella</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075054">John Chambers</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_09_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>5,443</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074695">Tucker Price</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (5,443)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (977)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (929)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (548)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (355)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1086302">Victoria Justice</a> (333)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074758">Prince Ellis</a> (277)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1079609">Olwen Button</a> (238)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (211)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1082042">Mitch Aleman</a> (191)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>509</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074696">Dicey Flynn</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074696">Dicey Flynn</a> (509)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075726">John Navarro</a> (108)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075302">Catherine Moonlight</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075156">Rob Martinson</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074758">Prince Ellis</a> (58)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1084769">Stoney Slacker</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074701">Pleasure Nugget</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074900">Jodie Grey</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074735">Trixie Rose</a> (42)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1085859">No One</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/kitty_panties_EdnaSchafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>81</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (81)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074992">Ariana Darkness</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1078404">Bettie Aguiar</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1080081">Gaia Grissom</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075069">Christi's Treasure</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075059">Sparklepetal Silverglade</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074807">Fluff Annwyn</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/kitty_panties_EdnaSchafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>500</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (308)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (64)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1075285">Aelianus Corcoran</a> (60)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1084836">Laura Pilcher</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074860">Crystal Draper</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1078404">Bettie Aguiar</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1077925">Bailey Lunds</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1080081">Gaia Grissom</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>472</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (472)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (335)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (199)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (171)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (169)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (140)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (96)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (95)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (71)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074766">Adam Hillman</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>57</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (57)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074887">Devon Barela</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074921">Shiny Trophy</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074797">Surprisingly-Sensitive Paws</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074794">Mesmerizing-Swaying Tail</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074977">Eva Byrd</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>91</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (91)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (90)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (70)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (70)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (46)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075059">Sparklepetal Silverglade</a> (29)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075429">Nadia 'Not a Pet' Ayers</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1078259">Fatty-Foxy Ass</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>107</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (107)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (92)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074766">Adam Hillman</a> (50)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (49)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1075479">Jane Doe</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1075271">Eric Finney</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>58</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (58)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (51)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074712">Alex Lanford</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1079615">Tim Yergavitz</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075242">Vanilla Cream</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074711">Lady Mitsuko</a> (87)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (85)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (82)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (79)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1082008">Fetish Alice</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1075017">Arlo Hudgins</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074695">Tucker Price</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (92)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074718">Holly Ryder</a> (70)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (50)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1074725">Shredster Khan</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1074887">Devon Barela</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1075997">Mysterious Corset</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1077079">Maruka Yezu II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,723</b></p>
            <p>
                <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (1,723)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1077999">Drag Kris II</a> (1,349)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (1,120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074851">Joseph Wow</a> (770)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075003">Misty Lovett</a> (686)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1076203">Rath Mexxa</a> (637)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (618)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1083157">Marta Herring</a> (485)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1074766">Adam Hillman</a> (381)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1076818">Witch Maria</a> (352)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>480</b></p>
            <p>
                <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1075107">Maddie Meadows</a> (480)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1074846">Nadine Blanchette</a> (59)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1074717">Cute-purring Chou-pantsu</a> (27)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1074984">Christi Bender</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1075393">Sir Eric</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1074919">Awowable-n-Purry Squishy-Kitty-Ploosh</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1078019">Fabiana Gerard</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1075090">Ty Meup</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1079615">Tim Yergavitz</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1074755">Emily Macarthur</a> (2)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>