<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>19,406</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032575">Kira Lillend</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (19,406)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032631">Feronia Nyekobornya</a> (11,889)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (6,737)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (6,522)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1041668">Futa Lover II</a> (5,919)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (5,348)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032772">Kris Latex</a> (4,924)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1034513">Vanilla Cream</a> (4,305)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1038495">Janeen Stonehenge</a> (4,234)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032718">Jodie Grey</a> (3,838)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>5,170</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (5,170)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (2,575)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1044274">Elba Mcdermott II</a> (1,650)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (1,543)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (1,542)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (1,451)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (1,445)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (1,432)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (1,356)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (1,289)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/bplug_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>14,514</b></p>
            <p>
                <a href="/pvp/lookatplayer/1041468">Amy Cardenas II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1041468">Amy Cardenas II</a> (14,514)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (13,357)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (13,041)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (10,161)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (8,540)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (7,943)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (6,975)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (6,955)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033054">Ellis' Skirt</a> (6,274)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (5,889)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,525</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (1,525)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (1,484)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (1,313)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (1,305)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (1,184)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033930">Rath Mexxa</a> (1,041)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (1,022)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (964)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (889)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032690">Joseph Wow</a> (820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,117</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (2,117)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (1,993)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (1,384)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (1,280)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1044274">Elba Mcdermott II</a> (1,259)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a> (1,230)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (868)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (796)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (789)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (760)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/sexy_princess_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,887</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032780">Marta Herring</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (1,887)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (1,627)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (485)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (377)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033478">Maciek Dubi</a> (327)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (307)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (299)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (218)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (134)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033091">Kurome Konoko</a> (126)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>50,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032575">Kira Lillend</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (50,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (29,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (22,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (10,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (8,700)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033497">Holly Ryder</a> (7,500)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (6,820)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (6,000)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032574">Dicey Flynn</a> (4,440)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032648">Sif Lanford</a> (4,160)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/wind_up_doll_cherrycake.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>127</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032577">Martha Arclily</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (127)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (101)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032574">Dicey Flynn</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1035293">Tyler Gray</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/ticklish_halfdragon_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>131</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (131)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (98)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a> (70)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (67)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1036319">Red Arclily II</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032657">Shredster Khan</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (50)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1044274">Elba Mcdermott II</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1043587">Free Item</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1041419">Chuy Cholo II</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1042631">Roxanne Escalante II</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032891">Melisa Huggins</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1037711">Jeanie Shell III</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1042103">Sofia Fredrickson</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033227">Maxie Yearly</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1034589">Ethan Bailey</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033789">Change Me</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1043587">Free Item</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1044112">Cain Christmas V</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1038688">Bimbo Slave</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033298">Roxy Sacco</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032704">Maxine Wampler</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1037055">Sammy Galloway</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033287">Ryan Bends</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1038720">Cara Finley</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>140</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (140)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (97)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1044274">Elba Mcdermott II</a> (65)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (58)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032573">Tomiko Hewitt</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032667">Tara Sapphire</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/wind_up_doll_cherrycake.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>68</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032577">Martha Arclily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (68)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (57)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032579">Selena Emberflame</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033024">Shtrike Core</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1034999">Robin Nekada</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033154">Maidy Fluff</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (39)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>666</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (666)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1040409">Johnathon Kroll II</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033054">Ellis' Skirt</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1039508">Moshe Goddard III</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032920">Fabi Grepo</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033298">Roxy Sacco</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1040515">Bradley Fisher II</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>691</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (691)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1034999">Robin Nekada</a> (43)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033024">Shtrike Core</a> (41)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033154">Maidy Fluff</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1035866">Sweets Vixen</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1039508">Moshe Goddard III</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033497">Holly Ryder</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033054">Ellis' Skirt</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032619">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032619">Purriscilla Nyekobornya</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1040133">Chloe Blair</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1041468">Amy Cardenas II</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032718">Jodie Grey</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1038159">Thumpie Bunny</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (70)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032657">Shredster Khan</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032667">Tara Sapphire</a> (31)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1038495">Janeen Stonehenge</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032655">Dustin Craven</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/licententious_librarian_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033149">Terra Ward</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033149">Terra Ward</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033166">Steve Welles</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033054">Ellis' Skirt</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032646">Seraphina Marshall</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1037221">Christa Arriaga</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1038495">Janeen Stonehenge</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/living_latex_catsuit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,935</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032686">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032686">Joe Nobody</a> (39,935)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032783">Cassie's 'Divine' Jessietits</a> (39,480)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032839">Angelic Stockings</a> (38,125)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032778">Evergrowing Titties</a> (37,255)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032656">Gordon Catron</a> (37,210)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032862">Submissive PawSocks</a> (36,435)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032851">Dina Lea</a> (35,665)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032598">Auly Jua</a> (34,955)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033015">Beleth Daniels</a> (34,955)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032885">Pearly-Anne Wet</a> (32,705)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,470</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032961">Noreen's Reddy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032961">Noreen's Reddy</a> (39,470)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032712">Moo Machine</a> (39,170)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032700">Cutest Foxy</a> (39,105)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033547">Lefty Wow</a> (36,285)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032611">Obedient Hand-Holder</a> (30,775)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033990">Lance Apes</a> (30,270)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033479">Maidy's Squeakmaid</a> (30,150)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032816">Inflateable Angeline</a> (29,785)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032782">Adorable Fairy</a> (27,905)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032738">Koizuminya Nyekobornya</a> (26,915)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>78,213</b></p>
            <p>
                <a href="/pvp/lookatplayer/1034188">Sherry Port</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (78,213)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (45,320)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (24,126)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (21,595)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (18,651)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (17,184)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (15,686)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032915">Fleur Yale</a> (10,706)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (9,692)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033149">Terra Ward</a> (9,605)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>2,962</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032619">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032619">Purriscilla Nyekobornya</a> (2,962)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (2,493)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (1,604)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033662">Jane Doe</a> (1,150)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033559">Kayson Mckeever</a> (1,090)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1040515">Bradley Fisher II</a> (1,053)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1035866">Sweets Vixen</a> (968)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033261">Maria Hannon II</a> (872)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033141">Chiaki Hisatsu</a> (850)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (814)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>42,120</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (42,120)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (28,900)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032619">Purriscilla Nyekobornya</a> (2,810)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (2,720)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1035826">Ashwa Gandha</a> (1,750)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032915">Fleur Yale</a> (1,500)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (1,470)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1037221">Christa Arriaga</a> (1,370)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033207">Best Cat</a> (950)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032609">Meowrinya Nyekobornya</a> (690)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>4,700</b></p>
            <p>
                <a href="/pvp/lookatplayer/1034188">Sherry Port</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (4,700)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (1,320)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1041668">Futa Lover II</a> (800)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032612">Colette Hopeborn</a> (660)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1041376">Amaryllis Star</a> (560)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1041468">Amy Cardenas II</a> (530)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (410)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (380)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032923">Sir Eric</a> (380)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032569">Annabelle Sua</a> (340)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>769</b></p>
            <p>
                <a href="/pvp/lookatplayer/1034188">Sherry Port</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1034188">Sherry Port</a> (769)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (97)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033339">Max Karma</a> (88)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033055">Jak Flarestorm</a> (74)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1038159">Thumpie Bunny</a> (49)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (49)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032697">James Fox</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>26</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033321">Glen Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (26)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032583">Valeria Briones</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032582">Bimbolf Nory</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1039508">Moshe Goddard III</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032749">Kelly Fae</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>7</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033321">Glen Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (7)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1035347">Alison Dowling</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033109">Koizumi Sua</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033109">Koizumi Sua</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1040133">Chloe Blair</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1044193">Koro Gashi IV</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032891">Melisa Huggins</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1043587">Free Item</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1034589">Ethan Bailey</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1037711">Jeanie Shell III</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1044274">Elba Mcdermott II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033227">Maxie Yearly</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033789">Change Me</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1038720">Cara Finley</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (57)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032667">Tara Sapphire</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1038495">Janeen Stonehenge</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (21)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033166">Steve Welles</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1038610">Stacy Greenberg</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/easter_bunny_karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032574">Dicey Flynn</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032574">Dicey Flynn</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033261">Maria Hannon II</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033154">Maidy Fluff</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032837">Toni Venusela</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032833">Alex Mystic</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>21,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032669">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032669">Michael Rochard</a> (21,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (13,175)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033559">Kayson Mckeever</a> (3,660)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (2,985)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (2,730)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032690">Joseph Wow</a> (895)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (800)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033563">Cumstained Whore</a> (760)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (530)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1034402">The 'Grand Temptress' Valaya</a> (355)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1037035">Grim Hankins</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032668">Adrienne Cobb</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1040051">Friedrich Friessner</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032913">Alex Daryae</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032808">Jess Kitsune</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1034656">Jimbles Vortiger</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1036859">Valeria Hurd</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1037465">Daniel Kemeron</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1040409">Johnathon Kroll II</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032810">Diana Rigby</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033079">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1034478">Brooke Lhanon</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032913">Alex Daryae</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1038591">Shane Carden</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1039810">Matsune Mandane</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033076">Myrna Escobedo</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1038749">Eliza Whitehead</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032780">Marta Herring</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,196</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033321">Glen Coy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('busrides')" data-ajax-update="#more_busrides" href="/settings/playerstatstopoftype?type=busrides" id="busrides">[+]</a>

            </p>

            <div id="more_busrides">

            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/alient_catgirl_wrenzephyr.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>290</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032581">Trader Nat</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032581">Trader Nat</a> (290)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1041668">Futa Lover II</a> (120)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1035562">Esteban Freed</a> (92)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032808">Jess Kitsune</a> (68)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032718">Jodie Grey</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032596">Marcie Wolcott</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032623">Annabelle Andrews</a> (48)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (39)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1043201">Comfort WetDreamGiver</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/black_kitten_stockings_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032579">Selena Emberflame</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1040133">Chloe Blair</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (21)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032749">Kelly Fae</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032573">Tomiko Hewitt</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032664">Joanne Momma</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/black_kitten_stockings_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>239</b></p>
            <p>
                <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (239)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1040133">Chloe Blair</a> (117)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032579">Selena Emberflame</a> (87)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032634">Ariana Darkness</a> (84)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032749">Kelly Fae</a> (47)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1038209">Ronda Avila</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032810">Diana Rigby</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032704">Maxine Wampler</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033563">Cumstained Whore</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>408</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (408)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (190)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (183)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (106)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (89)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (87)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (69)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (67)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (61)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032873">Max Dommie</a> (58)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>51</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (51)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (29)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033319">Tim Yergavitz</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032669">Michael Rochard</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032642">Prios 'good and right' Hillman</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032997">Kiera Dierst</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032697">James Fox</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033061">Grace Gavfer</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>114</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (114)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032577">Martha Arclily</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1032575">Kira Lillend</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (67)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032873">Max Dommie</a> (58)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033054">Ellis' Skirt</a> (51)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032957">Rosa Fortune</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032772">Kris Latex</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>106</b></p>
            <p>
                <a href="/pvp/lookatplayer/1035023">Kate Chance</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1035023">Kate Chance</a> (106)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (78)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033456">Phoebe Stormbringer</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1032772">Kris Latex</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033138">Jak Wayland</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033287">Ryan Bends</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033399">Alona Sua</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (34)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032647">Eric Finney</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1032579">Selena Emberflame</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1036906">Matthias Roland</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032718">Jodie Grey</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032865">Resenna Maynard</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1040133">Chloe Blair</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1033071">Dolly Cumsalot</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>75</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (75)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1032730">Nadia 'Totes Not A Bimbo' Ayers</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (47)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1032657">Shredster Khan</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1035347">Alison Dowling</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (43)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033497">Holly Ryder</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033093">Devon Barela</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1032642">Prios 'good and right' Hillman</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1032688">Ellis Hamlin</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032657">Shredster Khan</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/angelic_fox_Rev_Arbarius.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>816</b></p>
            <p>
                <a href="/pvp/lookatplayer/1032690">Joseph Wow</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1032690">Joseph Wow</a> (816)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1033529">Cwyn Annwyn</a> (641)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (561)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033930">Rath Mexxa</a> (560)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (538)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (429)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1032630">Irina Tidwell</a> (418)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1034513">Vanilla Cream</a> (337)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1033559">Kayson Mckeever</a> (303)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (283)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_08_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>111</b></p>
            <p>
                <a href="/pvp/lookatplayer/1040647">Gracie Light</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1040647">Gracie Light</a> (111)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1039304">Maddie Meadows II</a> (62)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1035119">Nadine Blanchette</a> (44)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1033062">Lindsay Bradley</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1033321">Glen Coy</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1033154">Maidy Fluff</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1033339">Max Karma</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1037372">Adam Hillman II</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1043944">Charlie Juniper</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1032934">Harold Forbes II</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>