@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)


<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>8,469</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/275165">Meryl Crandal</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/275165">Meryl Crandal</a> (8,469)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265996">Nia Last</a> (7,840)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266078">Aisha Mcelroy</a> (7,268)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265494">Thomas Redyche</a> (7,164)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/268680">Frederika Rein II</a> (6,788)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (5,644)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265504">Alex Danether</a> (4,663)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265624">Kero Bun</a> (4,646)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/272711">Breenafae 'Dramafae 🌹' Victor</a> (4,487)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265848">Nyasa Meownya</a> (4,417)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,516</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (2,516)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (2,217)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (2,004)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (1,977)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (1,596)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265463">Sammy Velasco</a> (1,574)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (1,398)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265775">Artemis Prowl</a> (1,334)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/272757">Curtis Holley III</a> (1,319)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/276341">Erica Gaddy IV</a> (1,294)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/ProstheticHorseCock_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,802</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a> (7,802)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/268295">Cuthbert Algood II</a> (6,533)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (5,555)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (5,414)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (5,190)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/274101">Anzu Fran II</a> (4,965)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (4,748)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (4,571)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266183">Dark Blade</a> (4,397)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a> (4,295)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,823</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265394">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (1,823)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a> (1,122)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265510">Joe Nobody</a> (921)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (878)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/266183">Dark Blade</a> (831)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (775)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265402">Game Hound</a> (761)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (705)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (683)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/274101">Anzu Fran II</a> (643)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,194</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (1,194)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (1,084)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (916)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/274101">Anzu Fran II</a> (898)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (895)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/276341">Erica Gaddy IV</a> (883)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (875)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/268725">Clara Delion</a> (868)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265402">Game Hound</a> (830)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (785)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265491">Lesa Clawson</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265491">Lesa Clawson</a> (1,100)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (788)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266004">Jess Ganes</a> (540)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (364)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (355)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/267718">Torgalence Vells II</a> (354)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265401">Vixy Angelica</a> (339)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265439">Medea Ambrose</a> (305)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266261">Melissa Villalobos</a> (291)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/269592">Brandie Casper</a> (289)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jester_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>31,560</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/268680">Frederika Rein II</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/268680">Frederika Rein II</a> (31,560)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/274101">Anzu Fran II</a> (13,500)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (10,900)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265491">Lesa Clawson</a> (10,220)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/270318">Queen Lily</a> (9,940)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266163">Edna Schafer</a> (8,180)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/266822">Aloysious Katt</a> (6,700)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/272711">Breenafae 'Dramafae 🌹' Victor</a> (6,620)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265395">Nekone Kuu</a> (6,000)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (5,820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>149</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266004">Jess Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266004">Jess Ganes</a> (149)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (79)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/276111">Nyarella Meownya</a> (48)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (45)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/267838">Derrick Lashley</a> (40)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265683">Amalia Decuir</a> (39)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/272557">Nat Lydellia</a> (27)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (27)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266229">Lorelei Oceansong</a> (23)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266163">Edna Schafer</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>156</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (156)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (102)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/268725">Clara Delion</a> (71)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/268295">Cuthbert Algood II</a> (65)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265504">Alex Danether</a> (61)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266705">Nyara Meownya</a> (59)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (58)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/273121">Minerva Meownya</a> (57)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266057">Lawrence Cooley</a> (56)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265414">Brandy Booms</a> (53)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>14</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a> (14)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (10)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/276351">Joziah Tobin X</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/276103">Ethan Watters II</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/267397">Fulvius Jarvis</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/272683">Alexzander Cantwell II</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265990">Violet Parks</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/272398">Starfire Logue II</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/272610">Luisa Glenn II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a> (9)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/273653">Graphite Shores VI</a> (5)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266659">Espa Fox</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/276668">Jesse Sextoi</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/266083">Giovanni Criswell</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/273121">Minerva Meownya</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/272494">Merlin Crandall</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265562">Circine Milton</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/268221">Artemis Brim</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>183</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (183)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265463">Sammy Velasco</a> (86)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (84)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/268725">Clara Delion</a> (80)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/276341">Erica Gaddy IV</a> (69)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/273121">Minerva Meownya</a> (60)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265630">Will Wolf</a> (59)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/267921">Verme Gerov</a> (58)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (55)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (54)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>142</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265489">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (142)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (77)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (77)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265775">Artemis Prowl</a> (69)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (61)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (55)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/268295">Cuthbert Algood II</a> (54)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265402">Game Hound</a> (53)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (51)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>84</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266590">Thomas Furry</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266590">Thomas Furry</a> (84)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265413">Rosalynya Meownya</a> (32)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (11)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (11)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/275165">Meryl Crandal</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265491">Lesa Clawson</a> (9)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (9)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265436">Adriana Beamon</a> (9)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265653">Dee Daniels</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266560">Zim Ra</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>146</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265489">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (146)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/266590">Thomas Furry</a> (113)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (84)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265775">Artemis Prowl</a> (69)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (63)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (56)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (55)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265402">Game Hound</a> (55)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/268295">Cuthbert Algood II</a> (54)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (53)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/breenafae_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>30</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/272711">Breenafae 'Dramafae 🌹' Victor</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/272711">Breenafae 'Dramafae 🌹' Victor</a> (30)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265562">Circine Milton</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266078">Aisha Mcelroy</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/268976">Ixoi Xoxoi</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/266560">Zim Ra</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/267921">Verme Gerov</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266634">Caroline Seymore</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cheerleader_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>54</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266183">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266183">Dark Blade</a> (54)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (47)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265697">Janeen Wiccanshire</a> (27)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/275247">Rufus Bankss II</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/267397">Fulvius Jarvis</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265603">The Dole</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265547">Will Stanton</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265394">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265414">Brandy Booms</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266634">Caroline Seymore</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/270318">Queen Lily</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265562">Circine Milton</a> (11)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/272674">Jovani Cronin</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/275165">Meryl Crandal</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265695">Jodi Foy</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,570</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265425">Aveline Vernathon</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265425">Aveline Vernathon</a> (24,570)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265350">Fox Cross</a> (24,320)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265386">Crimson Heels</a> (21,720)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265488">Arrhae Hale</a> (21,575)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265523">Perfect Lover</a> (20,910)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265356">Angelines Roundbottom</a> (19,318)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/266537">Angelina Doll</a> (19,220)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265580">Kari Pink</a> (18,605)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265421">Queens Boobies</a> (18,560)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/268719">Roland Carroll</a> (16,045)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/panty_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,885</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265352">Melina 'Fun-Sized' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265352">Melina 'Fun-Sized' Mercy</a> (24,885)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265893">Lara Ithilwen</a> (21,585)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266239">Phoebe Stormbringer II</a> (20,275)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265531">Jeska Wing</a> (18,730)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265505">Shelly White</a> (17,690)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265805">Pamela Pearson</a> (17,365)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265484">Nerati Sua</a> (16,880)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265442">Prettyfly Forawifi</a> (16,400)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265609">Tara Pet</a> (16,350)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265433">Allytha Mcfarlane</a> (15,535)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jester_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>30,752</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/268680">Frederika Rein II</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/268680">Frederika Rein II</a> (30,752)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/274101">Anzu Fran II</a> (16,634)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/270318">Queen Lily</a> (12,539)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (9,905)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (8,793)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265491">Lesa Clawson</a> (8,618)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/266634">Caroline Seymore</a> (8,260)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/266163">Edna Schafer</a> (8,082)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266901">Vivianne Mcqueen</a> (7,951)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/272711">Breenafae 'Dramafae 🌹' Victor</a> (7,873)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>8,178</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (8,178)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (6,364)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265362">Aleksander Vonhel</a> (2,999)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266623">Red Queen</a> (2,152)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265439">Medea Ambrose</a> (2,067)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266590">Thomas Furry</a> (2,000)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (1,769)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/272757">Curtis Holley III</a> (1,447)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (1,399)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266183">Dark Blade</a> (1,021)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>9,238</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (9,238)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265395">Nekone Kuu</a> (2,745)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/268683">Jamie Reynolds</a> (2,300)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266507">Forefox Rolls</a> (1,817)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (1,668)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (1,382)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/270252">Candy Galvan</a> (1,342)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (937)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/267838">Derrick Lashley</a> (809)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (724)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>409</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267328">Sean Keane</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267328">Sean Keane</a> (409)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/266406">Futa Lover</a> (382)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265450">Sam Lilin</a> (319)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266057">Lawrence Cooley</a> (305)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265387">Kymani Leigh</a> (300)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/267872">Alex Saunders</a> (300)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/274035">Beau Cowley</a> (300)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/269517">Roxie Clay</a> (236)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265405">Molly Greenhappy</a> (232)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/269183">Jake Wolff</a> (227)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>78</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265414">Brandy Booms</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265414">Brandy Booms</a> (78)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265383">Yomiko Readman</a> (60)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (57)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/266507">Forefox Rolls</a> (47)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/269413">Rei Nakashima II</a> (44)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/266229">Lorelei Oceansong</a> (40)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/266225">Karter May</a> (36)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265504">Alex Danether</a> (31)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/268936">Claire Hogg</a> (27)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/270228">Liliana Wilkins</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/ProstheticHorseCock_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>51</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a> (51)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (17)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265848">Nyasa Meownya</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265571">Kaitlyn Halliwell</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265510">Joe Nobody</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265439">Medea Ambrose</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/267875">Johnathan Summerlin</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/273095">Juicy Jay</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/266860">Easton Christiansen</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>39</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265394">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (39)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265510">Joe Nobody</a> (16)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/266364">Kendra Weatherford</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>70</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265394">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (70)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/267174">Grace Kitsu</a> (34)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (26)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265562">Circine Milton</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265996">Nia Last</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265711">Julia Cassidy</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265869">Mike Alexander</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/269680">Couche Left</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/ProstheticHorseCock_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>6,952</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266331">Suzuha Tanaka</a> (6,952)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (1,330)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265468">Calem Cotton</a> (1,199)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/267875">Johnathan Summerlin</a> (826)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265848">Nyasa Meownya</a> (534)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265510">Joe Nobody</a> (460)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265571">Kaitlyn Halliwell</a> (432)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/273095">Juicy Jay</a> (396)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266291">Morgan Sharp</a> (242)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (237)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>21</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/267485">Aurora Ryalls</a> (21)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/266659">Espa Fox</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266440">Prettyhigh Inthenightsky</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/267397">Fulvius Jarvis</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/269488">Alex Maynard</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/272610">Luisa Glenn II</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/266560">Zim Ra</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266860">Easton Christiansen</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265638">Kino Baxton</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>138</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (138)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/267834">Nettie Hutchison</a> (81)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266183">Dark Blade</a> (54)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265697">Janeen Wiccanshire</a> (32)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/275165">Meryl Crandal</a> (27)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (21)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265467">Ziggy Anvil</a> (13)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265617">Airi Mena</a> (11)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>144</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/266004">Jess Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/266004">Jess Ganes</a> (144)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (18)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/276111">Nyarella Meownya</a> (18)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265413">Rosalynya Meownya</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265905">Ciel Scarlet</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265383">Yomiko Readman</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/269485">Nyasha Meownya</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265848">Nyasa Meownya</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>30,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265489">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265489">Dane Redd</a> (30,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265463">Sammy Velasco</a> (16,025)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266623">Red Queen</a> (9,335)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265826">Kalt Ren</a> (8,275)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265394">Esther Grey</a> (6,120)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/268295">Cuthbert Algood II</a> (3,060)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265830">Princess Lily</a> (2,925)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265402">Game Hound</a> (2,880)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/267162">Sapphire Sheridan</a> (2,685)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/265381">Marisa Kuu</a> (2,175)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>29</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265618">Helen Castle</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (29)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/265879">Pierce Jackman</a> (22)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/266901">Vivianne Mcqueen</a> (19)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/267516">Selia Prior</a> (17)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265588">Laelia Tafoya</a> (16)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/272050">Naverial Haleth IV</a> (16)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/272766">Ayden Vu</a> (14)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/265603">The Dole</a> (13)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/266860">Easton Christiansen</a> (13)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/268701">Tessa Devoure</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/scipio_pirate.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/265586">Reith Kitsu</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/266261">Melissa Villalobos</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/265697">Janeen Wiccanshire</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/265351">Rosa Lina</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/265547">Will Stanton</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/265630">Will Wolf</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/265781">Frank Nix</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/268325">Tyler Gray</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/265618">Helen Castle</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/267838">Derrick Lashley</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>