<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hawkeye</h3>
                        <p><i>Times searched:</i> <b>17,537</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866947">Susana Peterson</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_searched"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866947">Susana Peterson</a> (17,537)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (13,373)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867423">Vanilla Cream</a> (10,325)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866929">Minervas Petslut</a> (10,006)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (9,056)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866946">Vix Smith</a> (8,190)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (6,356)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/870926">Ash Andarei</a> (4,821)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867092">Nel Zelpher</a> (4,740)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/869315">Servius Begay</a> (4,410)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
                        <p><i>Spells cast:</i> <b>3,634</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_spells_cast"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (3,634)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (3,511)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (2,492)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (2,265)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (1,839)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (1,711)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (1,671)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (1,590)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (1,528)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (1,466)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Restless One</h3>
                        <p><i>Times moved:</i> <b>14,164</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_moved"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (14,164)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (13,550)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (13,036)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (12,874)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/869147">Sanoka Micro II</a> (11,420)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (10,289)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (9,829)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (9,441)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (8,946)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866889">Martha Keene</a> (7,462)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hypochondriac</h3>
                        <p><i>Times cleansed:</i> <b>2,253</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_cleansed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (2,253)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (2,106)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (2,026)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (1,963)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (1,317)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (1,190)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (1,167)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (1,070)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (1,026)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867198">Jacqueline Tancaraz</a> (924)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Lost in Thought</h3>
                        <p><i>Times meditated:</i> <b>2,490</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_meditated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (2,490)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (1,844)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (1,819)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (1,516)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (1,195)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867321">Joakim 'Unsealed' Sammet</a> (1,194)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (1,181)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (981)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (977)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (935)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
                        <p><i>Times enchanting:</i> <b>1,947</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866896">Abigail Jasione</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_enchanted"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866896">Abigail Jasione</a> (1,947)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866873">Jessie Nealy</a> (1,875)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867370">Razlien Lane</a> (561)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866954">Kiwi Fruits</a> (303)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (200)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (186)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867176">Ali Hain</a> (184)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866949">Terry Den</a> (182)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867157">Dustin Craven</a> (109)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866909">Eric Finney</a> (108)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
                        <p><i>Net Arpyjis donated to covenant:</i> <b>60,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_net_donations"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (60,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (32,700)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (22,100)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (21,540)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (19,400)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (17,880)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (17,800)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867685">Tara 'Coinsias' Sapphire</a> (13,240)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (11,440)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867542">Kristina Waller</a> (11,220)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Couch Potato</h3>
                        <p><i>Times using covenant furniture:</i> <b>159</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866899">Yvonne Sands</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_furniture_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (159)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (107)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/870926">Ash Andarei</a> (65)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (47)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (45)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (43)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (32)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (21)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (14)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (9)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
                        <p><i>Times transformed into an animate form:</i> <b>125</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (125)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/868315">Matias Holly</a> (98)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (87)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (86)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (68)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867157">Dustin Craven</a> (49)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867685">Tara 'Coinsias' Sapphire</a> (49)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867321">Joakim 'Unsealed' Sammet</a> (49)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/876143">Red Rose II</a> (44)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/870769">Lord Chandler II</a> (44)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cute_stockings_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimated</h3>
                        <p><i>Times transformed into an inanimate form:</i> <b>13</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a> (13)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/877717">Zavier Crow</a> (12)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866991">Erin Pillows</a> (10)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/874528">Ashley Nicholls</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/875353">Alisa Burleson</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/876120">Viola Anders</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867200">Dr Bj</a> (7)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867374">Pie Pies</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/876302">Rose Silvertail</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867904">Nima Kitty</a> (6)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cute_stockings_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
                        <p><i>Times transformed into a pet form:</i> <b>8</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animal"><div>
            <p>
                1. <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a> (8)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867311">Rob Martinson</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/870153">Toy Sanoka II</a> (6)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/869147">Sanoka Micro II</a> (6)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/875785">Philip Ocasio</a> (5)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867904">Nima Kitty</a> (5)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/871076">Kuurdi's Femalekobold</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/870959">Neferpitou Il</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/874528">Ashley Nicholls</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867434">Deanna Tillman</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Animator</h3>
                        <p><i>Targets transformed into an animate form:</i> <b>267</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (267)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (127)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/869075">Nadia Mcdonnell</a> (99)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (98)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (91)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867321">Joakim 'Unsealed' Sammet</a> (78)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (65)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (55)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (50)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866917">Mayra Nielson</a> (41)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimator</h3>
                        <p><i>Targets transformed into an inanimate form:</i> <b>157</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867002">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (157)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (117)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (85)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (74)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (66)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (59)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (52)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866943">Jules Prospero</a> (52)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867130">Elpis Blav</a> (49)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866873">Jessie Nealy</a> (47)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/juderp_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petmaker</h3>
                        <p><i>Targets transformed into a pet form:</i> <b>52</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866909">Eric Finney</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animaling"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866909">Eric Finney</a> (52)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (44)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (32)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (28)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/873726">Berry Okay</a> (20)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (16)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866996">Crystal Moyer</a> (14)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867147">David Hughes</a> (13)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/871364">Violet Riveryn</a> (12)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
                        <p><i>Psychopathic Spellslingers defeated:</i> <b>167</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867002">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_psychos_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (167)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (113)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (107)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (86)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866909">Eric Finney</a> (60)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (53)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866943">Jules Prospero</a> (50)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (50)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866873">Jessie Nealy</a> (44)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867130">Elpis Blav</a> (44)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fast Commute</h3>
                        <p><i>Teleport scrolls used:</i> <b>28</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867374">Pie Pies</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_teleported_scroll"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867374">Pie Pies</a> (28)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (8)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (6)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/869315">Servius Begay</a> (5)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867134">Crystal Draper</a> (4)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/868047">Grace Gaver</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/871934">Kristine Storm</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867434">Deanna Tillman</a> (2)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867727">Scenara Crowe</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
                        <p><i>Times played with Jewdewfae:</i> <b>107</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_jewdewfae_completions"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (107)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (96)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (91)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (70)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (58)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (52)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866873">Jessie Nealy</a> (38)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (37)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (33)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866860">Robin Flynn</a> (33)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
                        <p><i>Tomes read:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866940">Lia Lange</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lore_books_read"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867045">Kyrah Binbow</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (13)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867423">Vanilla Cream</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/875486">Zero Confidence</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/Leather_Shoes_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
                        <p><i>XP gained as an inanimate item:</i> <b>39,720</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866857">Leather Shoes</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_inanimateXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866857">Leather Shoes</a> (39,720)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866961">Golden Gem</a> (39,665)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866865">Jessie's Heels</a> (39,230)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867167">Auly Jua</a> (38,340)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867149">Rogue's Refinement</a> (38,300)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867060">Nadia Starling</a> (37,875)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867655">Phoebe Stormbringer</a> (37,030)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867103">Amelia Wyant</a> (36,330)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867611">Joe Nobody</a> (36,195)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/868462">Nicole Dollinger</a> (33,958)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petter off this Way</h3>
                        <p><i>XP gained as an pet.:</i> <b>39,920</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866895">Kaede Yamabuki</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_petXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866895">Kaede Yamabuki</a> (39,920)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867169">Sierra Volpe</a> (38,985)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866918">Petty Criminal</a> (38,310)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867356">Kasia Spring</a> (30,945)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866964">Stoney Fox</a> (28,495)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867160">Resiel Summer</a> (28,100)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867076">Jesse Ketch</a> (27,440)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/868328">Glenna Coy</a> (27,335)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867318">Wannabe Ponygirl</a> (24,105)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867075">Vulpi Spelloyal</a> (23,783)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Seller</h3>
                        <p><i>Net profit from selling to Lindella:</i> <b>60,013</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (60,013)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (22,400)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867389">Ana Noymus</a> (19,872)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866929">Minervas Petslut</a> (18,476)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (17,267)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (15,402)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867685">Tara 'Coinsias' Sapphire</a> (13,747)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (12,721)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867423">Vanilla Cream</a> (12,407)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (10,856)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Consumer</h3>
                        <p><i>Net loss from buying from Lindella:</i> <b>5,309</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866863">Shredster Khan</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (5,309)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (3,836)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867397">Starfire Logue</a> (1,778)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (1,493)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867147">David Hughes</a> (1,384)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/872224">Daniel Ruiz</a> (1,290)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866996">Crystal Moyer</a> (872)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866860">Robin Flynn</a> (853)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/868891">Christian Lynch</a> (809)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/871934">Kristine Storm</a> (790)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
                        <p><i>Profit from selling to Wuffie:</i> <b>22,870</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (22,870)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (22,540)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (9,820)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866860">Robin Flynn</a> (5,760)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/870399">Jabari Rider</a> (3,820)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (3,390)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866922">Prince 'of Pirates' Jake</a> (2,690)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (2,030)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866956">Aurora Ryall</a> (1,540)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/872224">Daniel Ruiz</a> (1,340)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
                        <p><i>Loss from buying from Wuffie:</i> <b>4,800</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866947">Susana Peterson</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866947">Susana Peterson</a> (4,800)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/874909">Kazuhira Miller II</a> (2,030)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866966">Joanna Kunz</a> (950)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/869296">Ai Naoi</a> (660)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867210">Ashwa Gandha</a> (590)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (450)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867130">Elpis Blav</a> (450)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/872269">Sir Richard</a> (420)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866943">Jules Prospero</a> (390)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867866">Mark Smith</a> (350)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/juderp_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
                        <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>242</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866909">Eric Finney</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lorekeeper_spells_learned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866909">Eric Finney</a> (242)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/868249">Vivianne Mcqueen</a> (146)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (52)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/872269">Sir Richard</a> (49)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (43)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867483">Daryl Fatcheeks</a> (36)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/870685">Serena Anderson</a> (35)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867077">Lillie Rose</a> (34)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/873905">Jack Specter</a> (34)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (33)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
                        <p><i>Dungeon artifacts found:</i> <b>36</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866899">Yvonne Sands</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_artifacts_found"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (36)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (15)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867045">Kyrah Binbow</a> (15)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (7)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/868527">Kieran Seekshadow</a> (5)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866956">Aurora Ryall</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/876120">Viola Anders</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/868122">Lefen Andrew</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/870818">Effie Atwell II</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Demonslayer</h3>
                        <p><i>Dungeon demons defeated:</i> <b>34</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866940">Lia Lange</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_demons_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (34)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867198">Jacqueline Tancaraz</a> (3)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (3)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
                        <p><i>Dungeon points stolen from victims:</i> <b>23</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_points_stolen"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (23)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (2)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/871146">Elvira Shah</a> (2)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866893">Dianya Nyekobornya</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867134">Crystal Draper</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867393">Lord Goddemis</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867570">Britney Arellano</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cute_stockings_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
                        <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_struggled_free"><div>
            <p>
                1. <a href="/pvp/lookatplayer/877727">Lyndis Spelloyal IV</a> (17)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867904">Nima Kitty</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866991">Erin Pillows</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/874528">Ashley Nicholls</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867200">Dr Bj</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867002">Holly Ryder</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/876120">Viola Anders</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867311">Rob Martinson</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867570">Britney Arellano</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867374">Pie Pies</a> (8)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
                        <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>131</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_transmogs_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (131)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (95)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (75)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (73)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (50)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (39)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (39)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866860">Robin Flynn</a> (28)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866873">Jessie Nealy</a> (27)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (25)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
                        <p><i>Covenant Callback Crystals used:</i> <b>28</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_callback_crystals_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (28)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (8)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867374">Pie Pies</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867118">Jess Hiro</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867218">Amando Somers</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866938">Elaine Deal</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867370">Razlien Lane</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/875545">Diti Cardenas II</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Ice_Queen_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dollyamory</h3>
                        <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>15,980</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dolls_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (15,980)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (4,665)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (2,170)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867307">Stephen Welles</a> (2,125)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (1,365)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867130">Elpis Blav</a> (1,315)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867198">Jacqueline Tancaraz</a> (1,260)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/874046">Gabriel Krone III</a> (1,250)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (990)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (845)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
                        <p><i>Quests failed:</i> <b>69</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866966">Joanna Kunz</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_failed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866966">Joanna Kunz</a> (69)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867374">Pie Pies</a> (60)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/871628">Yuu Han</a> (46)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/874046">Gabriel Krone III</a> (39)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/871193">Mariana Lemus II</a> (37)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867128">Valeria Bentley</a> (33)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/873905">Jack Specter</a> (33)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/869829">Gray Rhodes</a> (30)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867019">Jake Chambers</a> (30)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866911">Myrna Escobedo</a> (28)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Adventure Time!</h3>
                        <p><i>Quests passed:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866896">Abigail Jasione</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_passed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866896">Abigail Jasione</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866917">Mayra Nielson</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866946">Vix Smith</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866911">Myrna Escobedo</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (11)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/869829">Gray Rhodes</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867842">Robyn Riggs</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867370">Razlien Lane</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
                        <p><i>Total distance riding the bus:</i> <b>3,666</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866899">Yvonne Sands</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_busrides"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (3,666)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (1,311)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/868207">Michael Rochard</a> (1,000)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (985)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (822)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866943">Jules Prospero</a> (700)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (612)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (383)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866946">Vix Smith</a> (373)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (319)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
                        <p><i>Total targets hit with TG Splash Orbs:</i> <b>160</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866899">Yvonne Sands</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_tg_bomb_hits"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (160)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866991">Erin Pillows</a> (38)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866996">Crystal Moyer</a> (37)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866983">Lilly Richie</a> (37)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867168">Amazon Queen</a> (35)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866946">Vix Smith</a> (35)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867118">Jess Hiro</a> (34)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/877546">Wulfe Ravyn</a> (30)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867210">Ashwa Gandha</a> (29)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867311">Rob Martinson</a> (27)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Player Transformayer</h3>
                        <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>44</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_player_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (44)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (35)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866996">Crystal Moyer</a> (24)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (22)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867258">Krystal Knight</a> (21)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867808">Kyla Noir</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (12)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867294">Cecil Thefeline</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866917">Mayra Nielson</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Level Shmevel</h3>
                        <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>283</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_total_level_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (283)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (211)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866996">Crystal Moyer</a> (123)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (111)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867258">Krystal Knight</a> (91)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/869508">Chuy Cholo</a> (75)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/871934">Kristine Storm</a> (71)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/869315">Servius Begay</a> (60)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867808">Kyla Noir</a> (58)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (57)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
                        <p><i>Times attacking boss NPCs:</i> <b>243</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_totalBossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (243)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (192)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (164)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (163)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (138)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (70)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (63)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (42)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (35)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (34)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/dollmistress_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">I Am the Law!</h3>
                        <p><i>Times attacking the Seekshadow thieves:</i> <b>45</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_ratThiefAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (45)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (34)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867367">Devon Barela</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866922">Prince 'of Pirates' Jake</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/867075">Vulpi Spelloyal</a> (7)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867528">Jordan North</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867051">Pirate's Treasure</a> (5)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867450">Gnaeus Gossett</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
                        <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>76</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_lovebringerAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (76)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (70)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (56)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (45)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (37)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (32)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (32)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (23)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/869295">Bret Stanford II</a> (22)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866863">Shredster Khan</a> (22)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Down With Donna!</h3>
                        <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>63</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_donnaAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (63)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (59)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (55)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (22)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (21)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867134">Crystal Draper</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867311">Rob Martinson</a> (10)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (9)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fae-Away</h3>
                        <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>38</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_faebossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (38)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (30)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (25)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (12)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866950">Mikhail '🕷️' Vigg</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (3)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/867023">Nerati Sua</a> (3)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/868047">Grace Gaver</a> (3)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Brisby Battler</h3>
                        <p><i>Times attacking either of the Brisby twins:</i> <b>36</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_mouseSisterAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (36)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (23)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866953">Nadia 'Jesse's Bitch' Ayers</a> (23)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867753">Henny Wuns</a> (18)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (16)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867370">Razlien Lane</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
                        <p><i>Times attacking Harley the Road Queen:</i> <b>40</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_motorcycleGangAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (40)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (32)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (31)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866905">Lucile 'Lacy' Lenon</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (22)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (17)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866889">Martha Keene</a> (17)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (16)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867367">Devon Barela</a> (14)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (13)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A Change in Management</h3>
                        <p><i>Times attacking any mini-boss:</i> <b>900</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_minibossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (900)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (779)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/867174">Kiera Dierst</a> (623)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/866967">Viola Hawthorne</a> (542)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/866859">Alice Grayson</a> (517)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (458)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/866940">Lia Lange</a> (445)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/870926">Ash Andarei</a> (402)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/866954">Kiwi Fruits</a> (378)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/867041">Sorcha Primrose</a> (359)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
                        <p><i>Number of mind control commands issued:</i> <b>402</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/866899">Yvonne Sands</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_mind_control_commands_issued"><div>
            <p>
                1. <a href="/pvp/lookatplayer/866899">Yvonne Sands</a> (402)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/866862">Mirabel Diamond</a> (61)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/866858">Elizabeth Redmond</a> (21)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/867024">Lindsay Bradley</a> (20)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/867370">Razlien Lane</a> (15)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/866942">Robin Pharnia</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/867201">Minerva Sass</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/873211">Sue Fellagin</a> (6)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/867198">Jacqueline Tancaraz</a> (6)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/870818">Effie Atwell II</a> (5)
            </p>

</div></div>

                </div>

    </div>

    <div id="topTypeList"></div>



</div>