@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>28,002</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232876">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (28,002)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233223">Bryce Morgan</a> (9,752)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233461">Nia Last</a> (8,245)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/235027">Meowbella Meownya</a> (5,382)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233176">Aloysious Katt</a> (5,097)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232906">Harley Quinn</a> (4,889)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/237528">Tarsis Asset II</a> (4,590)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233508">Indigo Clardmond</a> (4,555)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232901">Rose Stearns</a> (4,403)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (4,246)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mermaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,752</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (2,752)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (2,095)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (1,550)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (1,499)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (1,486)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233699">Evaryst Stainless</a> (1,400)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (1,202)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (1,185)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232855">Will Wolf</a> (1,119)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (1,097)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,243</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (7,243)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (6,382)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (6,230)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (5,946)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (5,764)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (5,143)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233505">Ammon Delusive</a> (4,855)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233127">Nekohime Nekone</a> (4,838)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (4,625)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (4,205)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lovely_dragon_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,111</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/234210">Lana Stone</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (1,111)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (999)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (790)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (732)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (725)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (713)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232866">Dark Blade</a> (671)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (665)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (586)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232873">Game Hound</a> (578)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cheerleader_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,629</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (1,629)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (1,474)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (816)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (816)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (791)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233247">David Arthur</a> (700)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (685)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (667)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (644)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (634)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>412</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/234063">Perri Singleton</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/234063">Perri Singleton</a> (412)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (340)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/239278">Veln Moonscythe III</a> (282)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233472">Chris Wilson</a> (280)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232976">Rowan Lou</a> (261)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233332">Rosea Linaa</a> (239)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233456">Yumeow Meownya</a> (203)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/236804">Colten Fisk</a> (189)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232978">The Defiler</a> (175)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233002">Kirby Sanders</a> (133)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>45,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (45,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233127">Nekohime Nekone</a> (15,000)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/234194">Nihat Unal</a> (9,660)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (7,940)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (6,720)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233303">Seth Shadow</a> (6,700)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/236804">Colten Fisk</a> (6,620)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233002">Kirby Sanders</a> (5,980)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (5,540)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232867">Amalia Decuir</a> (5,200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>1,300</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232876">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (1,300)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (161)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (109)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (80)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (57)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (41)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/237496">Penny Meownya</a> (39)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232867">Amalia Decuir</a> (39)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/234039">Blaine 'Dark Cow-Goddess' Kellum</a> (33)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/239278">Veln Moonscythe III</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>220</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233223">Bryce Morgan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233223">Bryce Morgan</a> (220)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (171)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (72)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/235973">Mai Sommers III</a> (60)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/236316">Vicky Ascot</a> (49)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (47)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233699">Evaryst Stainless</a> (46)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (40)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232920">Marcellus Ravencrow</a> (36)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/evening_gown_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>11</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/242591">Jessica Lawson VI</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/242591">Jessica Lawson VI</a> (11)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233765">Ruby Mcclure</a> (10)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/242741">Cash Black IV</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/242156">Bronson Banks V</a> (9)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/242528">Dean Yee V</a> (9)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/240336">Jenny Breeder IV</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/242568">Kael Odom II</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/242567">Mohamed Corbin V</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/242632">Bryant Summers VII</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/239031">Zypher Watts II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/red_laceup_boots_Jbovinne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/240782">Sheena Fielder V</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/240782">Sheena Fielder V</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/236316">Vicky Ascot</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/240737">Cecile Lugo II</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/238165">Junya Meownya</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/238393">Troy Kalay</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/242528">Dean Yee V</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/241324">Alia Somila III</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/241714">Janet Hindman IV</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/241876">Luka Ingram</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/242242">Vruu Vruu</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>150</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (150)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (83)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/235973">Mai Sommers III</a> (82)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (82)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233699">Evaryst Stainless</a> (75)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (63)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233047">Rosalynya Meownya</a> (56)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232855">Will Wolf</a> (44)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233247">David Arthur</a> (43)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233230">Brooklyn Stearns</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>179</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (179)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (144)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232873">Game Hound</a> (72)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (68)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (53)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (51)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (48)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (41)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233119">Betty Blowtorch</a> (41)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232836">Lara Ramon</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lilath_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>66</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (66)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233047">Rosalynya Meownya</a> (28)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/237647">Joziah Sandoval II</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232855">Will Wolf</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/238183">Esteban Mcdaniel</a> (10)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/241057">Jenna Dominateme</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/235027">Meowbella Meownya</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>182</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (182)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (140)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (73)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232873">Game Hound</a> (71)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (62)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (59)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (45)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (42)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (42)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lilath_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>22</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (22)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/241032">Miriam Rose</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/234486">Purple Haze</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233176">Aloysious Katt</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/238260">Meowhala Meownya</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/242684">Shawn Martel</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>30</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (30)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (26)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (22)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (21)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/235973">Mai Sommers III</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232798">Julia Mccullough</a> (10)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233339">Janeen Wiccanshire</a> (10)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233158">Sable Ryall</a> (9)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/234486">Purple Haze</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>10</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (10)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (10)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233176">Aloysious Katt</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233002">Kirby Sanders</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/239278">Veln Moonscythe III</a> (10)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232988">Larissa Fay</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233281">Circine Milton</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pink_latex_thong_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,885</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232831">Pink Perfection</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232831">Pink Perfection</a> (24,885)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232814">Fox Cross</a> (24,870)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232973">Playtoy Puppet</a> (24,810)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232966">Kari Pink</a> (21,360)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232911">Angeline Wing</a> (20,635)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232948">Kittyn Angelica</a> (20,260)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233067">Calem Fujin</a> (18,640)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/235680">Beck Smith II</a> (17,135)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233586">Eric Finney</a> (16,620)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233259">Jo Jarvis</a> (16,335)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/playful_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,970</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232862">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232862">Lara Ithilwen</a> (24,970)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232921">Melina 'Hot to Trot' Mercy</a> (23,982)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232868">Jeska Wing</a> (18,585)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232864">Sam Lilin</a> (17,830)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232923">Auly Jua</a> (16,980)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233057">Kate Savage</a> (16,835)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232984">Mora Mae</a> (15,710)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232905">Joe Nobody</a> (14,885)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232931">Tina Maine</a> (14,780)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/232989">Luna Ithilwen</a> (14,690)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>106,722</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (106,722)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233127">Nekohime Nekone</a> (50,252)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233508">Indigo Clardmond</a> (41,961)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (18,533)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (16,308)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (16,002)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/242948">Leena Mcridill VII</a> (15,909)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233176">Aloysious Katt</a> (14,427)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (14,421)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233303">Seth Shadow</a> (12,897)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lovely_dragon_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>4,651</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/234210">Lana Stone</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (4,651)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233223">Bryce Morgan</a> (2,533)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/241032">Miriam Rose</a> (1,655)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232854">Nerati Sua</a> (1,220)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233699">Evaryst Stainless</a> (989)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233937">Remington Hoskins</a> (891)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233158">Sable Ryall</a> (816)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232901">Rose Stearns</a> (690)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233339">Janeen Wiccanshire</a> (681)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/234383">Elizabeth 'Unbreakable' Stearns II</a> (658)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lilath_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>7,727</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (7,727)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233468">Minerva Santoro</a> (2,388)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (2,199)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (1,594)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233127">Nekohime Nekone</a> (847)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233508">Indigo Clardmond</a> (544)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/234486">Purple Haze</a> (543)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/239727">Digi Aeracin</a> (522)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (474)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/241032">Miriam Rose</a> (435)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>6,627</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232851">Marco Polo</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232851">Marco Polo</a> (6,627)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233346">Alice Card II</a> (700)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232873">Game Hound</a> (532)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/235798">Harriet Markham</a> (411)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233505">Ammon Delusive</a> (374)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232833">Milky Juggs</a> (350)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/240138">Petronius Worden</a> (332)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233149">Roxie Clay</a> (319)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233506">Starfire Logue</a> (277)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/238195">Mardi Cradle III</a> (255)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>440</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232876">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (440)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232949">Wing Bellum</a> (421)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (183)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/240367">Aveline Vernathon</a> (73)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/237931">Aurora Moreau</a> (67)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232866">Dark Blade</a> (53)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/239134">Meowkalia Meownya</a> (52)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233176">Aloysious Katt</a> (45)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (41)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>22</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (22)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/235024">Erin Branson</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233143">Laura Kira</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232843">Sarah Ainsley</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/235400">Lefen Carden</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233247">David Arthur</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/234486">Purple Haze</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232916">Lynelle Moon</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/242725">Kadoom Magebun II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>24</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (24)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/235798">Harriet Markham</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232843">Sarah Ainsley</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/240895">Aurora Ryalls</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232858">Mei Xiao</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/235031">Jerome Johnson</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/232908">Eliza Starr</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/incubus_servant_boy_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>2,254</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (2,254)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/235024">Erin Branson</a> (801)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233143">Laura Kira</a> (663)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/241483">Frederika Rein II</a> (633)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233247">David Arthur</a> (343)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232843">Sarah Ainsley</a> (223)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/234325">Yuki Lily</a> (178)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233067">Calem Fujin</a> (156)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/235400">Lefen Carden</a> (152)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/242591">Jessica Lawson VI</a> (135)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/unicorn_mare_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>11</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233765">Ruby Mcclure</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233765">Ruby Mcclure</a> (11)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/242591">Jessica Lawson VI</a> (9)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/242528">Dean Yee V</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/242156">Bronson Banks V</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/236316">Vicky Ascot</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/240782">Sheena Fielder V</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/236267">Craz Coyote</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/239031">Zypher Watts II</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/240336">Jenny Breeder IV</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mermaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>52</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (52)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (24)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232884">Kristoph Hayes</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234210">Lana Stone</a> (21)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/232967">Yuki Haruno</a> (19)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232799">Stella Keys</a> (18)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233339">Janeen Wiccanshire</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/234768">Annabelle Jumeau</a> (14)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/235973">Mai Sommers III</a> (13)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>650</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232876">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232876">Dane Redd</a> (650)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/233127">Nekohime Nekone</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/233273">Nekogami Marisa</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/233496">Natasha Lydellia</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/234668">Kristen Reid</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/241781">Meowcaria Meownya</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/238964">Meowhayla Meownya</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/241327">Meowra Meownya</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/238393">Troy Kalay</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/242022">Araygan Moreno</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>9,265</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/233040">Jess 'Street-Sweeper' Ganes</a> (9,265)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/232842">Alex Carlton</a> (6,045)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/232874">Brandy Booms</a> (4,995)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/241032">Miriam Rose</a> (3,530)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/233119">Betty Blowtorch</a> (1,455)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/232916">Lynelle Moon</a> (1,390)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/232840">Livia Victor</a> (1,320)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233038">Rhonda Ingalls</a> (1,110)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (1,105)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233247">David Arthur</a> (820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>130</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/232851">Marco Polo</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/232851">Marco Polo</a> (130)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/234194">Nihat Unal</a> (24)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/239134">Meowkalia Meownya</a> (19)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/234075">Cato Invinciblis</a> (18)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/236267">Craz Coyote</a> (17)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/233710">Lynnaera Tenariel</a> (15)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/233716">Angel Anael</a> (15)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/233820">Caelinus Boehm</a> (15)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/238713">Theodora Silva</a> (15)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/233339">Janeen Wiccanshire</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>6</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/233014">Esther Power</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/235671">Neymar Partin</a> (6)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/240138">Petronius Worden</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/239293">Liza Daly</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/238713">Theodora Silva</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/240796">Terry Pierson</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/240367">Aveline Vernathon</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/241512">Martin Buck</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/239278">Veln Moonscythe III</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/232851">Marco Polo</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/239134">Meowkalia Meownya</a> (6)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>