<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>15,759</b></p>
            <p>
                <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (15,759)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (7,664)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424630">Callie Devereux</a> (5,092)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425091">Nyasa Meownya</a> (4,516)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (4,206)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425652">Lawrence Cooley</a> (3,892)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424577">Rayne Shadowblade</a> (3,805)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (3,547)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/430106">Kirumi Terashi III</a> (3,393)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (2,996)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,806</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (2,806)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (2,246)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (1,915)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (1,466)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (1,213)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (1,048)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (920)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (898)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424587">Shredster Khan</a> (885)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (869)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>15,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (15,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (12,961)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (8,351)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (8,151)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (7,944)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (6,348)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (4,913)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424738">Eittan Zima</a> (4,239)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (3,714)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (3,690)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,107</b></p>
            <p>
                <a href="/pvp/lookatplayer/425198">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (1,107)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (990)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (937)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (616)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (502)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (492)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/430707">Tucker Proffitt III</a> (486)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (477)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424590">Lizzie Binbow</a> (427)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (1,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (907)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (855)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425318">Nihat Unal</a> (849)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424587">Shredster Khan</a> (830)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424714">Dustin Craven</a> (740)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (703)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (627)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (601)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (552)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/harem_doe_UYS.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,835</b></p>
            <p>
                <a href="/pvp/lookatplayer/425318">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425318">Nihat Unal</a> (1,835)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/425689">Jasmine Sinner</a> (746)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425362">Princess Lily</a> (715)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424643">Jamie Akers</a> (664)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/429254">Laura Solano</a> (533)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424791">Britney Arellano</a> (502)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424736">Silthrim Gailer II</a> (412)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424584">Eric Finney</a> (375)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424857">Aurora Hackney</a> (373)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (366)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>51,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (51,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (49,360)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (40,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424693">Jinx Red</a> (9,900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (8,080)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425318">Nihat Unal</a> (7,120)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (6,980)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424683">Petra Nobody</a> (6,680)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424580">Lillevi Levine</a> (4,400)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424736">Silthrim Gailer II</a> (3,680)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>437</b></p>
            <p>
                <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (437)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (77)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (77)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (52)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (37)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424820">Marcellus Ravencrow</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424683">Petra Nobody</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424955">Gowen Geter</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/426842">Ash Steele</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/426268">Nichole Segrus</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/424587">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424587">Shredster Khan</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424714">Dustin Craven</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (57)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (52)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424655">Allyssa Adams</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424886">Allen Fulton</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/430146">Vita Love IV</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/426507">Naomi Bedpet</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424945">Olwen Button</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/squeaky_swim_ring_rubberfrills.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/432367">Veronica Figures</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/432367">Veronica Figures</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/426342">Slave Emily</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/430173">Lucarnos Altameria II</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/427231">Espa Sirois</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/426451">Milton Stjohn</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/427628">Zan Zayt VII</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/430146">Vita Love IV</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/431395">Giovanny Cameron III</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/429773">Margret Still</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Willing_wish_granter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/pvp/lookatplayer/429459">Mio Usagi</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/429459">Mio Usagi</a> (5)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/432400">Kento Forsyth</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/427231">Espa Sirois</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/432663">Final Fantasy VII</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/427418">Shaelee Jarocz</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/427136">Candi Suxwell IV</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/429739">Alex Roth IV</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/429829">Amare Freewater III</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/424714">Dustin Craven</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424714">Dustin Craven</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424587">Shredster Khan</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (44)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424945">Olwen Button</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424987">Tisha Starks</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424765">Meowrinya Nyekobornya</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424594">Danii Colorado</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424890">Luna Moonwell</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>225</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (225)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (105)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (81)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (76)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/428472">Ricky Flint</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424597">Linda Thorne</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/430704">Tabitha Jackman</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424841">Helen Castle</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/427136">Candi Suxwell IV</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424652">Jasmine Hiatt</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424938">Melinda Cortes</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (222)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (102)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (76)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (75)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (53)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (48)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/wild_blue_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/425146">Kate Savage</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425146">Kate Savage</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/427136">Candi Suxwell IV</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424699">Kaitlyn Halliwell</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/427548">Mage Gee</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425362">Princess Lily</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424651">Schrodinger Segrus</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/431956">James Alexandra</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/428508">Ronin Yuriko</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424804">Mlisa Castaneda</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>84</b></p>
            <p>
                <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (84)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (84)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (63)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (60)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (58)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424587">Shredster Khan</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424714">Dustin Craven</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424655">Allyssa Adams</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_hunter_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/424763">Lisa Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425278">Pina Vollmar</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425362">Princess Lily</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425602">Andy Epstein</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424738">Eittan Zima</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424630">Callie Devereux</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424961">David Arthur</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/black_kitten_stockings_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,805</b></p>
            <p>
                <a href="/pvp/lookatplayer/424579">Erin Wolfe</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424579">Erin Wolfe</a> (24,805)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424563">Fox Cross</a> (22,765)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424983">Tatiana Kembrielle</a> (22,575)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424708">Marcus Aurelius</a> (21,310)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424667">Tom Garou</a> (20,710)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425816">Schrodinger Wren</a> (19,165)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/426318">Sarah Snow</a> (17,935)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424671">Dark Blade</a> (17,568)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425520">Kitty Angelica</a> (16,155)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424760">Sammy Velasco</a> (16,055)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,610</b></p>
            <p>
                <a href="/pvp/lookatplayer/424686">Dumb Slut</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424686">Dumb Slut</a> (24,610)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424743">Lacey Laville</a> (22,180)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424599">Melina Mercy</a> (21,405)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424805">Raine Lei</a> (21,365)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424703">Cuddles Pillowran</a> (20,670)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425210">Helpless Bitch</a> (20,420)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424808">Adriana Ayers</a> (19,850)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424598">Ana Reza</a> (19,805)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425044">Sarah Sheer</a> (18,415)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424666">Minervas Buttslut</a> (16,980)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>40,527</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (40,527)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (37,936)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424945">Olwen Button</a> (9,281)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424693">Jinx Red</a> (9,049)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (8,649)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424988">Selina Muliaina</a> (7,767)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425091">Nyasa Meownya</a> (6,924)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (6,512)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425318">Nihat Unal</a> (6,229)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425106">Rocco Brody</a> (6,052)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/kangaroo_girl_cyberkaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,734</b></p>
            <p>
                <a href="/pvp/lookatplayer/424596">Airi Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424596">Airi Ithilwen</a> (5,734)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (3,455)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (3,192)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (1,527)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/427751">Lefen Cloud</a> (940)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425149">Liliana Kitsu</a> (857)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (792)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/430062">Azzy Floof</a> (708)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424938">Melinda Cortes</a> (677)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/431176">Ky Fox II</a> (661)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>35,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (35,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/425091">Nyasa Meownya</a> (5,456)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424857">Aurora Hackney</a> (3,521)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/429254">Laura Solano</a> (3,082)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (2,735)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424683">Petra Nobody</a> (2,056)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/431176">Ky Fox II</a> (1,407)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/427751">Lefen Cloud</a> (1,195)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/432440">James Porter</a> (1,183)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (1,157)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>4,924</b></p>
            <p>
                <a href="/pvp/lookatplayer/426564">Panty Hose</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/426564">Panty Hose</a> (4,924)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424596">Airi Ithilwen</a> (1,618)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424738">Eittan Zima</a> (1,136)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424988">Selina Muliaina</a> (933)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/427548">Mage Gee</a> (697)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425671">Priscilla Chan</a> (352)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/428568">Brogan Matthews</a> (305)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/428508">Ronin Yuriko</a> (227)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425213">Aloysious Katt</a> (227)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (177)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>279</b></p>
            <p>
                <a href="/pvp/lookatplayer/425091">Nyasa Meownya</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425091">Nyasa Meownya</a> (279)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/427293">Crissy Cisneros II</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424748">Alexis Smith</a> (35)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/429023">Belo Typhlo II</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/426537">Kokiri Kori</a> (32)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424577">Rayne Shadowblade</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/429858">Gevatter Tod II</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/425438">Flaming Jades</a> (29)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/428643">Keegan Binbow II</a> (28)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424785">Felucca Kitsu</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/425198">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/428508">Ronin Yuriko</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424573">Mike Alexander</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425380">Ai Naoi</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/427293">Crissy Cisneros II</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/427751">Lefen Cloud</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424778">Calem Raijin</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/425198">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/425278">Pina Vollmar</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>56</b></p>
            <p>
                <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (56)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424634">Crystal Moyer</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/427477">Jesica Baily</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424567">Elyn Kitsu</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/426537">Kokiri Kori</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,236</b></p>
            <p>
                <a href="/pvp/lookatplayer/425198">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (1,236)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/428508">Ronin Yuriko</a> (1,040)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (491)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (478)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (429)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424573">Mike Alexander</a> (213)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/427751">Lefen Cloud</a> (191)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/427293">Crissy Cisneros II</a> (173)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/429815">Feretta Rosa</a> (160)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425362">Princess Lily</a> (101)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>10</b></p>
            <p>
                <a href="/pvp/lookatplayer/428308">Bronson Banks II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/428308">Bronson Banks II</a> (10)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/427231">Espa Sirois</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/426451">Milton Stjohn</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/430173">Lucarnos Altameria II</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/426342">Slave Emily</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/432367">Veronica Figures</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/429459">Mio Usagi</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/431395">Giovanny Cameron III</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424631">Kieran Seekshadow</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425380">Ai Naoi</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>106</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (106)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (104)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (66)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (47)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425278">Pina Vollmar</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424699">Kaitlyn Halliwell</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424634">Crystal Moyer</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/427398">Anastasia Romanov II</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424703">Cuddles Pillowran</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425051">Zackary Smith</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424869">Remy Gaines</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424841">Helen Castle</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424651">Schrodinger Segrus</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/424922">Brycen Tand</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/jungle_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>11,425</b></p>
            <p>
                <a href="/pvp/lookatplayer/424749">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (11,425)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (4,125)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (3,070)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424669">Nadia Ayers</a> (2,245)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/425198">Julian Maxwell</a> (2,240)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (2,205)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425166">Innocent Lady</a> (1,605)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/425007">Roxanne Reza</a> (950)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425149">Liliana Kitsu</a> (935)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425121">Claudia Guerrero</a> (850)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_07_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/427261">Jackob Berryman II</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/427261">Jackob Berryman II</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/430960">Hugeva Gina</a> (21)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424929">Nina Harder</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/431502">Darwin Schulte II</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/425112">Frank Nix</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/425101">John Warner</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/429955">Lyzolda Kitsuray II</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/425492">Rosie Mcallister</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/430707">Tucker Proffitt III</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/424586">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424586">Joe Nobody</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424564">Hikage Hebijo</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/426114">William Oswald III</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424875">Brody Lang</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424820">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424749">Henny Wuns</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/425774">Sue Falls</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424584">Eric Finney</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/425362">Princess Lily</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/panda_schoolgirl_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,627</b></p>
            <p>
                <a href="/pvp/lookatplayer/424573">Mike Alexander</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424573">Mike Alexander</a> (1,627)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (1,261)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424592">Lindsey Neeler</a> (1,080)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/427006">Kenneth Everson II</a> (494)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (371)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424634">Crystal Moyer</a> (312)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/430972">Gwen Sevarell</a> (211)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/425278">Pina Vollmar</a> (207)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/427493">Notta Fiter</a> (205)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/427548">Mage Gee</a> (183)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>1,250</b></p>
            <p>
                <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/424568">Lara Ithilwen</a> (1,250)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/424763">Lisa Frost</a> (568)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/424565">Kasey Gearhart</a> (350)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/424634">Crystal Moyer</a> (133)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/426268">Nichole Segrus</a> (87)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/424630">Callie Devereux</a> (73)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/424655">Allyssa Adams</a> (52)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/424573">Mike Alexander</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/424644">Simone Binbow</a> (49)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/427548">Mage Gee</a> (41)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>