<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,980</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/353502">Rukja Silbernadel</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/353502">Rukja Silbernadel</a> (10,980)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (7,718)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (5,816)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352696">Darkfallen Wanderer</a> (3,943)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/353018">Nyasa Meownya</a> (2,886)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (2,830)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352650">Valeria Sparks</a> (2,590)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352518">Vera Sass</a> (2,527)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/360098">Terry Addison II</a> (2,519)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/354555">Molly Giordano II</a> (2,511)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>1,715</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (1,715)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (1,705)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (1,367)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (1,161)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (1,126)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (1,102)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (1,100)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/358931">Sadie Register</a> (1,066)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (997)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352778">Danii Colorado</a> (960)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (7,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (6,732)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (5,555)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (5,466)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (5,397)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (5,340)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (4,729)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (4,694)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353568">Rene Hawks</a> (4,096)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (4,011)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,378</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (1,378)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (1,252)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (1,093)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (777)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (728)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (604)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352568">Morgan Roak</a> (586)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (487)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353549">Listful Night</a> (474)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (470)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,085</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (1,085)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (970)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (896)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (864)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (791)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (698)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (688)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/354102">Silthrim Gailer II</a> (608)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352515">Luna Moonwell</a> (595)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352622">Nikki Rain</a> (581)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,279</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (1,279)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/354496">Nick Harper</a> (930)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352861">Stacy Lace</a> (643)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352998">Katie Broadnax</a> (423)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (400)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/359625">John Bradford</a> (367)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (274)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352642">Stephanie Flame</a> (175)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353126">Otto Thornton II</a> (174)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (157)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>27,940</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (27,940)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (11,680)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (10,000)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (8,600)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (8,000)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (5,800)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (4,940)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352974">Lara Ithilwen</a> (3,800)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/357015">Kirssida Fuckington</a> (3,220)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352772">Valarien Blackwell</a> (3,080)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>138</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (138)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (45)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (22)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (22)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (20)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (16)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353360">Kim Trout</a> (12)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/354496">Nick Harper</a> (10)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352772">Valarien Blackwell</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>77</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (77)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (50)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352643">Azure Rose</a> (39)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/358264">Hugh Violet</a> (35)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/358931">Sadie Register</a> (34)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352882">Allyssa Adams</a> (33)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352568">Morgan Roak</a> (31)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353057">Seth Shadow</a> (31)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (31)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/purple_vibrating_panties_by_nymic-tf.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/360601">Cedric Langlois</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/360601">Cedric Langlois</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/358841">Katelyn Kimbrell</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/357770">Bruce Dempsey</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/360588">Grey Cow VI</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/358470">Seras Victoria III</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353530">Maelynn Frost</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/359625">John Bradford</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/354820">Kino Baxton</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/357970">Adam Puckett II</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/353503">Rachel Rain</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (6)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352711">Venne Gerov</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/353692">David Arthur</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/357501">Keegan Comeauxiv</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/358470">Seras Victoria III</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/358160">Jess Spence II</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352703">Denahi Wolf II</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353440">Eric Huchin II</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/360735">Jesse Coben II</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/358209">Tara Hahn</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/adorable_kitty_boy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>95</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (95)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/358931">Sadie Register</a> (72)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/354102">Silthrim Gailer II</a> (59)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352515">Luna Moonwell</a> (55)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (49)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352743">Tony Gibson</a> (43)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (42)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352882">Allyssa Adams</a> (40)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353081">Nas Godwin</a> (38)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/358264">Hugh Violet</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>111</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (111)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (61)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (60)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (55)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/357469">Elizabeth Stearns II</a> (55)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (54)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (50)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353011">Aureliana Byrne</a> (49)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353033">Efli Bidulia</a> (48)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>32</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (32)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (18)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/353137">Matt Draco</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (11)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (9)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352568">Morgan Roak</a> (9)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/355778">Alex Tennant</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353011">Aureliana Byrne</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/354102">Silthrim Gailer II</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/353542">Sarah Johnson II</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>76</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (76)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (60)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (58)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353011">Aureliana Byrne</a> (56)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/357469">Elizabeth Stearns II</a> (51)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (49)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (46)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (46)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353033">Efli Bidulia</a> (45)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352778">Danii Colorado</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>12</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (12)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360071">Akane Mikami</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/353197">Dex Hard</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352568">Morgan Roak</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/354496">Nick Harper</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352509">Cammie Mauro</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353021">Diana Victor</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352696">Darkfallen Wanderer</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352769">Sandy Smyth</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352850">Marcellus Ravencrow</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>56</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (56)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (35)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (28)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (20)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/355497">Helen Majors</a> (20)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352502">Juliana Race</a> (11)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352577">Madge Mercy</a> (10)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352703">Denahi Wolf II</a> (10)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (10)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352585">Yvesza 'Hearts &amp; Kraft' Sylwind</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353011">Aureliana Byrne</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (12)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352975">Nina Sweetheart</a> (9)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/355497">Helen Majors</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352622">Nikki Rain</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/eterna_condom_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,910</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352529">Laurel Moore</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352529">Laurel Moore</a> (24,910)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352816">Amy 'Stylish Top' Tong III</a> (24,825)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352617">Daybreak Angelica</a> (24,565)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352563">Sally Nobody</a> (23,245)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352695">Ai 'Hmph' Naoi</a> (23,065)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352621">Auly Jua</a> (20,220)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352535">Goddess Avatar</a> (19,628)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352944">Sealed Jessicock</a> (19,025)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/357462">Thomas Redyche III</a> (18,120)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352918">Morgan Moss</a> (15,385)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,955</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352547">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352547">Freya Rein</a> (24,955)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352543">Melina 'Chocolina' Mercy</a> (24,685)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352578">Lilith Nightshade</a> (23,700)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352787">Sidney Quinn</a> (21,860)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352806">Cam Mauro</a> (20,935)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352789">Dani Colorado</a> (19,955)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352604">Minerva Nobody</a> (19,375)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352974">Lara Ithilwen</a> (19,025)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/357501">Keegan Comeauxiv</a> (18,855)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352829">Iris Langley</a> (18,020)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>28,025</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (28,025)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (14,098)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (11,395)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353197">Dex Hard</a> (10,519)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (10,177)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/354911">Vivianne Mcqueen</a> (7,115)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (6,969)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352751">Olwen Button</a> (6,509)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352811">Selina Muliaina</a> (5,206)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/354496">Nick Harper</a> (5,161)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/cupcake_demon_luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>2,265</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352577">Madge Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352577">Madge Mercy</a> (2,265)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/357469">Elizabeth Stearns II</a> (1,945)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (1,427)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352912">Victoria Kosch</a> (1,326)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/360071">Akane Mikami</a> (982)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353116">Jackie Jackman</a> (929)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352778">Danii Colorado</a> (864)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353054">Starfire Logue</a> (849)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/358160">Jess Spence II</a> (724)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352892">Emma Sweetbrook</a> (693)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>6,483</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352824">Robin Banks</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (6,483)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (2,424)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/356301">Julia Jennet</a> (1,693)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352703">Denahi Wolf II</a> (1,297)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (1,240)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/354578">Christina Bueno</a> (1,196)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (992)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353116">Jackie Jackman</a> (910)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/355497">Helen Majors</a> (892)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352882">Allyssa Adams</a> (786)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>794</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (794)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/354985">Emily Nightshade II</a> (750)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352912">Victoria Kosch</a> (516)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353059">Sir Morph</a> (487)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (487)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/360098">Terry Addison II</a> (450)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352574">Lexim Gareem</a> (377)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352665">Eric Finney</a> (337)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353502">Rukja Silbernadel</a> (300)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352819">Eden Kaiser</a> (227)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>350</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (350)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/354911">Vivianne Mcqueen</a> (162)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/355497">Helen Majors</a> (101)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353391">Airi Ithilwen</a> (69)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352573">Henny Wuns</a> (59)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353568">Rene Hawks</a> (45)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (39)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352565">Anne Flynn</a> (35)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (32)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_04_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>63</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352838">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (63)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/353391">Airi Ithilwen</a> (19)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (18)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/353390">Zel Argentis</a> (12)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353954">Eliza Starr</a> (10)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353987">Lily Kira</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352691">Lesa Clawson</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352622">Nikki Rain</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/355525">Jessica Pannell</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>31</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (31)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (22)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352571">Felicity Drummey</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353197">Dex Hard</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353391">Airi Ithilwen</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352769">Sandy Smyth</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/356089">Joe Nobody II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_04_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>138</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352838">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (138)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (18)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (16)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352568">Morgan Roak</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/355640">Laney Schoone II</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352651">Markus Merp</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352585">Yvesza 'Hearts &amp; Kraft' Sylwind</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352753">Cody Tong</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352522">Jem 'Fwoompiest' Quinn</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Woman_04_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>2,977</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352838">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (2,977)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/353391">Airi Ithilwen</a> (1,070)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (821)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/353390">Zel Argentis</a> (776)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (731)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353954">Eliza Starr</a> (594)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352608">Maria Kuu</a> (555)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352611">Claudia Guerrero</a> (392)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352691">Lesa Clawson</a> (355)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352853">Kyle Nines</a> (340)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/LatexBra_Equipped.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/354745">Ruby Roy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/354745">Ruby Roy</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/358470">Seras Victoria III</a> (6)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/358160">Jess Spence II</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352622">Nikki Rain</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/355525">Jessica Pannell</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/356181">Mio 'Nyaa' Akiyama</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/354235">Allen Fulton</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/357440">Serana Prior</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/354820">Kino Baxton</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>63</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (63)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (37)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/360295">Dark Blade II</a> (29)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (28)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/357469">Elizabeth Stearns II</a> (24)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/355497">Helen Majors</a> (21)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/358852">Azzy Amor</a> (19)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (18)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (17)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352824">Robin Banks</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/red_panda_boi_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>4</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/354496">Nick Harper</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/354496">Nick Harper</a> (4)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352772">Valarien Blackwell</a> (3)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352850">Marcellus Ravencrow</a> (2)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352514">Ziggy Anvil</a> (2)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352661">Larissa Fay</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/357958">Athena Cykes</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352522">Jem 'Fwoompiest' Quinn</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/353126">Otto Thornton II</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/352657">Purple Haze</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/magical_marionette_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>7,575</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352532">Erin Wolfe</a> (7,575)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352526">Esther Delacroix</a> (3,400)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352838">Princess Lily</a> (3,190)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/354911">Vivianne Mcqueen</a> (1,730)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/352877">Sarah Blackwell</a> (1,715)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353568">Rene Hawks</a> (1,495)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/352716">Evangelina 'Prepare for trouble!' Kraft</a> (1,395)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/356089">Joe Nobody II</a> (1,215)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352763">Shadow Retz</a> (1,050)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/353013">Jane 'Susan' County</a> (810)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/double_ended_dildo_Aurora_Ryalls.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>27</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/353530">Maelynn Frost</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/353530">Maelynn Frost</a> (27)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352743">Tony Gibson</a> (26)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/357838">Kitty Cat</a> (23)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352772">Valarien Blackwell</a> (22)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/354102">Silthrim Gailer II</a> (18)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/353059">Sir Morph</a> (18)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353126">Otto Thornton II</a> (17)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352819">Eden Kaiser</a> (17)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/353821">Matt Fox</a> (17)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/356041">Messy Bound</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/fairy_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/352566">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/352566">Annabelle Jumeau</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/352974">Lara Ithilwen</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/352850">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/352620">April 'Duhad' Randell</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/356207">Shredster Khan II</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/352737">Simone Binbow</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/353013">Jane 'Susan' County</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/352953">Brody Lang</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/352819">Eden Kaiser</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/356761">Jesse Andersen</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>