<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>17,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (17,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (12,644)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (8,606)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793323">Vanilla Cream</a> (8,221)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/803915">Slutty Alexa</a> (7,238)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793391">Catherine Moonlight</a> (6,589)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792580">Kyrah Binbow</a> (6,449)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (6,092)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792418">Judith 'Floofmon Officer' Neff</a> (6,088)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792738">Andrew Tyrson</a> (5,818)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/ninja_catgirl_allbadbadgers.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,204</b></p>
            <p>
                <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (3,204)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (2,592)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (2,120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (2,063)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (2,003)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (1,903)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (1,873)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (1,758)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/797676">Titania Siofra</a> (1,566)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792549">Kris Anderson</a> (1,565)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>18,368</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (18,368)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (13,929)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (11,763)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (11,613)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (10,392)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (10,236)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792549">Kris Anderson</a> (8,453)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (8,449)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/797950">Jordan Tarus</a> (7,857)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (7,506)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/origami_kami_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,444</b></p>
            <p>
                <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (2,444)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (2,114)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (2,050)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (1,676)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (1,652)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (1,530)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (1,522)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (1,442)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (1,319)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792956">Dany Flor</a> (1,123)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/ninja_catgirl_allbadbadgers.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,165</b></p>
            <p>
                <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (2,165)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (1,551)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (1,546)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (1,443)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (1,322)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793146">Pie Pies</a> (1,209)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (1,125)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (1,069)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (1,054)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (1,034)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,596</b></p>
            <p>
                <a href="/pvp/lookatplayer/792404">Jessie 'Floofcenter Nurse' Nealy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792404">Jessie 'Floofcenter Nurse' Nealy</a> (1,596)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792472">Mistress Liebe</a> (825)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793823">Olesya Zet</a> (534)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793323">Vanilla Cream</a> (518)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/794105">Chaos Girl</a> (493)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (364)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/796167">Annalise Montecorvo</a> (361)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (344)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793390">Sam Meyer</a> (307)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792494">Aelia Amaya</a> (301)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>60,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (60,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (43,600)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (36,280)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (27,000)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (20,120)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (15,000)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (15,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792749">Gustav Blackwell</a> (13,340)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793391">Catherine Moonlight</a> (12,260)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792580">Kyrah Binbow</a> (10,720)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>77</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (77)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (55)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (35)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792617">Elton Mccutcheon</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sunnyglade_brigade_magic_fighter_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (87)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (81)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (59)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (55)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (49)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (47)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793146">Pie Pies</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792430">Kitty Demon</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/stinky_trash_bag_kmaron5.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/802039">Barry Bound IV</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/802039">Barry Bound IV</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/803866">Larry Switzer VII</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/794131">Tristin Peeples</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793963">Morgan Drake</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/802245">Lesley Mayo III</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/798151">Allison Matthew</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793769">Jesse Suae</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/800313">Lethia Wolf</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/799599">Olivia Burrows</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/girly_tube_top_Mizuho.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/801546">Ali Toy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/801546">Ali Toy</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/797924">Vergilius Calvin II</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/800313">Lethia Wolf</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/802607">Zayne Flint</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792839">Nancy Stockton</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/798155">Tamaris Blisservant</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/794046">Sammy Galloway</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/803866">Larry Switzer VII</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793955">Kiera Dierst II</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/ninja_catgirl_allbadbadgers.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>144</b></p>
            <p>
                <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (144)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (83)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (67)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (65)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/797676">Titania Siofra</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (52)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (51)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792438">Tomiko Hewitt</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>150</b></p>
            <p>
                <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (150)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (119)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (111)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (91)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792549">Kris Anderson</a> (76)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793443">Max Karma</a> (71)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (70)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (68)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/798856">Sir Fleesalot IV</a> (57)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793141">Jake Chambers</a> (49)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>70</b></p>
            <p>
                <a href="/pvp/lookatplayer/792455">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792455">Rosa Fortune</a> (70)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792956">Dany Flor</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792749">Gustav Blackwell</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/795773">Purple Haze</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/804735">Jenath Anthem</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>133</b></p>
            <p>
                <a href="/pvp/lookatplayer/792563">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (133)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (102)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792455">Rosa Fortune</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792549">Kris Anderson</a> (82)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793443">Max Karma</a> (75)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (73)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/798856">Sir Fleesalot IV</a> (58)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/801638">Isabella Carrico</a> (51)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/797950">Jordan Tarus</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/793146">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/793146">Pie Pies</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792822">Buve Wilson</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792678">Eric Stanton</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792930">Joanne Momma</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>93</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (93)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (66)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (65)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (49)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/801936">Augustina Covert</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (22)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_witch_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/792429">Witch Maria</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792429">Witch Maria</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792580">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793323">Vanilla Cream</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/binding_tattoo_spacedande.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,940</b></p>
            <p>
                <a href="/pvp/lookatplayer/792431">Rosalind Halaszyn</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792431">Rosalind Halaszyn</a> (39,940)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792392">Jesse Aldridge</a> (39,790)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792434">Judith's Pusspuss</a> (39,785)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792530">Nadia Starling</a> (39,675)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792435">Fat Tits</a> (39,675)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792400">Jessie's Top</a> (39,585)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792420">Squeaky Souris</a> (39,005)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792403">Pussy Auly</a> (38,565)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792583">Slavering Sisters</a> (38,225)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792441">Joe Nobody</a> (38,190)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tentacle_monster_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,980</b></p>
            <p>
                <a href="/pvp/lookatplayer/792395">Reiko's Pet</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792395">Reiko's Pet</a> (39,980)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/798923">Petty Criminal</a> (39,860)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792502">Gwendolyn Blair</a> (39,470)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793249">Owned Bitch</a> (36,595)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793758">Phoebe Stormbringer</a> (36,095)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792451">Minervas Petslut</a> (34,280)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792491">Lord Tentaculos</a> (34,045)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793083">Rubber Doll</a> (31,355)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793262">Paige Haliwell</a> (28,125)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792510">Alyson's Ponygirl</a> (28,045)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>60,600</b></p>
            <p>
                <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (60,600)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (34,232)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (34,051)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (30,039)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792443">Seira Prismatica</a> (27,602)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792418">Judith 'Floofmon Officer' Neff</a> (23,042)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (20,277)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (19,971)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792580">Kyrah Binbow</a> (12,232)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (11,410)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>8,744</b></p>
            <p>
                <a href="/pvp/lookatplayer/792563">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (8,744)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (4,039)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792472">Mistress Liebe</a> (2,884)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (2,380)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/800415">Mia Pharnia</a> (1,659)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/800292">Celia Robbins</a> (1,300)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/797617">Martha Reiss</a> (1,214)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792478">Holden Bettis</a> (1,130)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792463">Mikhail Vigg</a> (1,038)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792383">Cali Ziegler</a> (1,005)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demonic_cow_Powderpuff.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>22,290</b></p>
            <p>
                <a href="/pvp/lookatplayer/794340">Lienna Reiss</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (22,290)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (12,350)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (4,890)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792463">Mikhail Vigg</a> (2,970)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/794706">Paige Hallywell</a> (1,850)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792925">Stephen Welles</a> (1,240)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/797008">Chance Wolfe</a> (1,150)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/799978">Onexius Fellrune</a> (1,110)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/799708">Lillie Rose II</a> (1,070)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793183">Nyasa Meownya</a> (1,020)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,730</b></p>
            <p>
                <a href="/pvp/lookatplayer/801936">Augustina Covert</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/801936">Augustina Covert</a> (1,730)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/804011">Olivia Valentine III</a> (1,250)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (950)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792725">Alex Stagger</a> (900)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792956">Dany Flor</a> (750)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793231">Alynne Vulpe</a> (580)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/798856">Sir Fleesalot IV</a> (500)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/798939">Teruo Akiyama</a> (500)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792410">Jeremy Gordon</a> (450)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/800838">Jon Lankford</a> (382)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>212</b></p>
            <p>
                <a href="/pvp/lookatplayer/802840">Maria Runetail</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/802840">Maria Runetail</a> (212)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (79)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793183">Nyasa Meownya</a> (69)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/797950">Jordan Tarus</a> (61)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793456">Vivianne Mcqueen</a> (60)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (48)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/802328">Kazuhira Miller II</a> (47)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/797676">Titania Siofra</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>27</b></p>
            <p>
                <a href="/pvp/lookatplayer/792497">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (27)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/797570">Rena Cantwell</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/797124">Meriel Babidi</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792921">Lefen Dyson</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/798871">Emmaline Green</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792455">Rosa Fortune</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793769">Jesse Suae</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>49</b></p>
            <p>
                <a href="/pvp/lookatplayer/792497">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (49)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/792497">Lucile Lenon</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (24)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793141">Jake Chambers</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792943">Amare Freewater</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/797676">Titania Siofra</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792822">Buve Wilson</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/smol_sheep_plush_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/792974">Silver Fischer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/794131">Tristin Peeples</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793963">Morgan Drake</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/801546">Ali Toy</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/800313">Lethia Wolf</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/802039">Barry Bound IV</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/803866">Larry Switzer VII</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793769">Jesse Suae</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/794967">Aida Labonte</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793010">Bianca Keyes</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>109</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (109)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (93)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (92)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (82)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/802565">Treya Derpton</a> (49)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/801936">Augustina Covert</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792925">Stephen Welles</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (45)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793391">Catherine Moonlight</a> (18)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792418">Judith 'Floofmon Officer' Neff</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/804011">Olivia Valentine III</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792410">Jeremy Gordon</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792404">Jessie 'Floofcenter Nurse' Nealy</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,900</b></p>
            <p>
                <a href="/pvp/lookatplayer/792489">Nadia Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (10,900)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (3,100)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (2,930)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (2,150)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (2,015)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792512">Darcy White</a> (1,525)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (1,260)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (915)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792535">Henny Wuns</a> (885)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792500">Grey Stipples</a> (625)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/793724">Sevastion Moiran</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/793724">Sevastion Moiran</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/794578">Rohan Rodriquez</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793316">Fabi Only II</a> (32)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/799663">Nacho Angel</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793205">Terrance Duran</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/797950">Jordan Tarus</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/793193">Sissy Lucarnos</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793491">Elena Fateburn</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793146">Pie Pies</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/799867">Bambi Binbow II</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/wolfgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792557">Intrepid Adventurer</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/793100">Zero Confidence</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792580">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/795210">Janice Stoner</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792473">Kaitlyn Kat</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/798856">Sir Fleesalot IV</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demonic_cow_Powderpuff.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,850</b></p>
            <p>
                <a href="/pvp/lookatplayer/794340">Lienna Reiss</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (3,850)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (1,515)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792512">Darcy White</a> (1,441)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (1,135)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/798391">Abby Jasione</a> (652)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (489)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792725">Alex Stagger</a> (403)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793724">Sevastion Moiran</a> (253)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/803915">Slutty Alexa</a> (245)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792492">Sara 'The Plastic Witch' Dollmaker</a> (236)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/smol_sheep_plush_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>341</b></p>
            <p>
                <a href="/pvp/lookatplayer/792974">Silver Fischer</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792974">Silver Fischer</a> (341)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792738">Andrew Tyrson</a> (99)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792554">Luca Micheals</a> (80)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/793749">Angel Lively</a> (69)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/801285">Isaac Fossimus</a> (61)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792478">Holden Bettis</a> (57)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (56)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792930">Joanne Momma</a> (56)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (48)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (56)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792822">Buve Wilson</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793749">Angel Lively</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/797676">Titania Siofra</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793646">Clair Haynes</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>407</b></p>
            <p>
                <a href="/pvp/lookatplayer/792433">Grizel Indivar</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (407)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (242)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792389">Sarah Ainsley</a> (159)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (133)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (108)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/794340">Lienna Reiss</a> (104)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (82)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/793749">Angel Lively</a> (70)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (70)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792822">Buve Wilson</a> (64)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>271</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (271)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (222)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (176)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (113)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (102)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (92)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (82)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (76)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792429">Witch Maria</a> (61)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (49)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>29</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (29)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (27)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792429">Witch Maria</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792512">Darcy White</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792463">Mikhail Vigg</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792383">Cali Ziegler</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793758">Phoebe Stormbringer</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793115">Kieran Seekshadow</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (23)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792617">Elton Mccutcheon</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792483">Tara Sapphire</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>55</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (55)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (48)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (39)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792429">Witch Maria</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792956">Dany Flor</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/793732">Rob Martinson</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (34)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (21)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792956">Dany Flor</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/799704">Joss Niles</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/799705">Juniper Newberry</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naughty_schoolgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792489">Nadia Ayers</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792563">Shredster Khan</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792535">Henny Wuns</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>54</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (54)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (48)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (35)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792384">Kyla Noir</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792497">Lucile Lenon</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792512">Darcy White</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792520">Alyson Medine</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792852">Callie Roberts</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/blue_dragon_SephrenDemon.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>848</b></p>
            <p>
                <a href="/pvp/lookatplayer/792461">Devon Barela</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792461">Devon Barela</a> (848)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (746)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (544)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/793138">Freya 'Nadia’s Plaything' Dolly</a> (531)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (470)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792512">Darcy White</a> (448)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/792617">Elton Mccutcheon</a> (432)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (424)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/792673">Pantie Maker</a> (339)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/792386">Jennah Arhtima</a> (320)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>201</b></p>
            <p>
                <a href="/pvp/lookatplayer/792415">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/792415">Reiko Ruy</a> (201)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/793749">Angel Lively</a> (157)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/792485">Viola Hawthorne</a> (50)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/792433">Grizel Indivar</a> (46)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/800334">Wade Guthrie</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/792929">Chuy Cholo II</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/794424">Gunnar Dexter</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/792709">Jacqueline Tancaraz</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/793627">Rene Hawks</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/800549">Sarah Hess</a> (9)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>