<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>11,533</b></p>
            <p>
                <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (11,533)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (10,733)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (6,878)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (6,678)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (6,391)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (4,917)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512125">Eador Masterson</a> (4,435)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (4,298)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (4,150)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512187">Sara Dollmaker</a> (3,819)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,288</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (3,288)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (2,873)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (1,876)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (1,828)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (1,663)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (1,193)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (1,157)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (1,058)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (1,027)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (1,022)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>9,837</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (9,837)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (9,503)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (9,490)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512826">Hayden Gale</a> (6,895)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (6,708)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (5,731)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/519461">Erika Whitfield</a> (4,848)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (4,539)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (4,043)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512422">Dark Blade</a> (3,927)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,871</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (2,871)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (1,019)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (906)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (741)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (584)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512422">Dark Blade</a> (540)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (519)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512250">Todd Hewitt</a> (487)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512224">Penny Peril</a> (467)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (460)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,631</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (1,631)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (1,043)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (1,003)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (881)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (879)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512711">Summer Meeks</a> (871)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (805)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (689)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (686)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (672)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/pocket_waifu_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,366</b></p>
            <p>
                <a href="/pvp/lookatplayer/512717">Vanilla Cream</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (1,366)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (1,070)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (1,041)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512617">Dianna Pittman</a> (921)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512048">Skyler Darkeyes</a> (751)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512711">Summer Meeks</a> (693)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/514116">Lila Wolf II</a> (552)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512395">Maya Kaydee</a> (540)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (525)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (513)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>50,200</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (50,200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (45,200)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (32,820)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (31,220)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (28,640)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (18,100)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (18,100)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512125">Eador Masterson</a> (16,100)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (9,840)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512035">Kyle Nines</a> (9,460)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>329</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (329)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (235)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (167)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (163)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (154)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (151)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (95)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512145">Lawrence Cooley</a> (60)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (57)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/513661">Mr Derik</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>145</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (145)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (104)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512232">Shredster Khan</a> (63)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512250">Todd Hewitt</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512038">Jade Quiroz</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/517014">Yama Buki III</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512096">Elyns Toy</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512270">Roxy Reza</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/520810">Tyler Wyrkmanwyrkm</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/520810">Tyler Wyrkmanwyrkm</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/520818">Michael Eily VIII</a> (7)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/517791">Geneva Tanaka IV</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/520290">Tyler Uty IV</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/516818">Trisha Slone III</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/520589">Serenya Nyekobornya III</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/514229">Judy Machado</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/518915">Cale Stephen II</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512410">Amelia Wyant</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/520528">Sage Burkhart V</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/520589">Serenya Nyekobornya III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/520589">Serenya Nyekobornya III</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/513317">Nina Susser</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/514806">Rukki Reeve</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/518992">Livianus Lilley II</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512915">Lesser Dog</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512822">Sam Oak</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/514395">Shane Merrick II</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512989">Trallo Strafe</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512049">Seras Victoria</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>192</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (192)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (89)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (37)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512250">Todd Hewitt</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512036">Penny Razzle</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/520132">Stacey Wolff</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512078">Meowrinya Nyekobornya</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/513752">Elva Brannon</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Alluring_Odalisque_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>216</b></p>
            <p>
                <a href="/pvp/lookatplayer/512101">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (216)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (175)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (108)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (72)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (57)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (55)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (55)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512224">Penny Peril</a> (51)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512035">Kyle Nines</a> (50)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>126</b></p>
            <p>
                <a href="/pvp/lookatplayer/512025">Cali Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (126)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512303">Linda Thorne</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/520810">Tyler Wyrkmanwyrkm</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512986">Krystal Night</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512091">Tiffany Anders</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/518747">Sans Badtime</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512566">Will Wolf</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Alluring_Odalisque_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>218</b></p>
            <p>
                <a href="/pvp/lookatplayer/512101">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (218)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (176)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (164)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (107)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (62)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (55)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512224">Penny Peril</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512035">Kyle Nines</a> (43)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/plush_maid_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/512039">Angie Looper</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512043">Heather Brandenburg</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512391">James Drake</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512791">Parker Page</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512491">Reith Kitsu</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512409">Joanne Momma</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/515058">Blaire Scarlet</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512637">Sara Valentine</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512040">Janet Mills</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512711">Summer Meeks</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>86</b></p>
            <p>
                <a href="/pvp/lookatplayer/512298">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (86)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (84)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (59)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512232">Shredster Khan</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (34)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512422">Dark Blade</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512240">Nadia Ayers</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512391">James Drake</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/520161">Kayli Stower</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512460">April 'Duhad' Randell</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512447">Kinello Herone</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/513661">Mr Derik</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/gothic_wings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,715</b></p>
            <p>
                <a href="/pvp/lookatplayer/512128">Feather Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512128">Feather Angelica</a> (24,715)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512050">Thomas Garou</a> (21,120)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512506">Jessica's 'Skin Tight' Perfection</a> (20,355)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512059">Squeaky Souris</a> (20,280)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512136">Phil Anthropist</a> (18,760)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512193">Felicity Bell</a> (18,695)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512258">Gail Jasione</a> (18,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512029">Madge Mercy</a> (18,485)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512354">Barry Bound</a> (16,795)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512092">Morgan Roak</a> (16,485)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bimboSphere_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,730</b></p>
            <p>
                <a href="/pvp/lookatplayer/512046">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512046">Markus Drake</a> (24,730)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512086">Kokoro Sammons</a> (23,550)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512111">Allyssa Adams</a> (23,358)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512089">Forevers Pet</a> (22,193)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512133">Gwen Majors</a> (21,185)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512305">Jesse Grey</a> (21,060)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512119">Melina Mercy</a> (20,170)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512088">Veronica Flames</a> (18,860)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512664">Jonathan Lucarnos</a> (18,560)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512093">Minervas Bitch</a> (16,475)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Alluring_Odalisque_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>55,849</b></p>
            <p>
                <a href="/pvp/lookatplayer/512101">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (55,849)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (39,903)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (31,106)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (23,564)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (22,466)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (15,524)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512125">Eador Masterson</a> (15,296)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (14,704)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512187">Sara Dollmaker</a> (10,622)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512826">Hayden Gale</a> (10,334)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>859</b></p>
            <p>
                <a href="/pvp/lookatplayer/514689">Jaclyn Marre</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/514689">Jaclyn Marre</a> (859)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/517791">Geneva Tanaka IV</a> (749)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/516878">Cain Little</a> (623)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512049">Seras Victoria</a> (532)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/513671">Courtney Harbin</a> (392)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/513122">Hezekiah Gotobed</a> (385)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512598">Starfire Logue</a> (352)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/519642">Eric Stonovan</a> (327)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/519398">Bil Mays</a> (323)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/518272">Sissy Zoe II</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_12_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>17,013</b></p>
            <p>
                <a href="/pvp/lookatplayer/512826">Hayden Gale</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512826">Hayden Gale</a> (17,013)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512211">Petra Flames</a> (1,976)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512302">Kanna Nanami</a> (1,626)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512668">Ali Hain</a> (1,593)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512469">Emily Weretoy</a> (942)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/514228">Veln Moonscythe</a> (758)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512194">Iseo Munn</a> (730)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (723)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/516878">Cain Little</a> (713)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (684)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>599</b></p>
            <p>
                <a href="/pvp/lookatplayer/512255">Stephen Lemke</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (599)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512635">Sir Morph</a> (491)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512179">Sammy Galloway</a> (413)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (355)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/516267">Alexis Blackriver II</a> (264)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512791">Parker Page</a> (251)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/513004">Roderick Cowan</a> (237)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512145">Lawrence Cooley</a> (227)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512619">Crissy Winters</a> (200)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512979">Xanthiel Crowley</a> (200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/plush_maid_calem28.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>242</b></p>
            <p>
                <a href="/pvp/lookatplayer/512039">Angie Looper</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (242)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512099">Karen Hightower</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512058">Allyson Poe</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512500">Nyasa Meownya</a> (61)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512673">Vivianne Mcqueen</a> (55)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/516000">Kathy Reiman</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512762">Nina Rainbow</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512460">April 'Duhad' Randell</a> (31)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512230">Riley Sorell</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512422">Dark Blade</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>37</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (37)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512102">Kieran Seekshadow</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512218">Zel Ardentis</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512040">Janet Mills</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/513122">Hezekiah Gotobed</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/515703">Erisa Holbrooke</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512209">Lynelle Moon</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512043">Heather Brandenburg</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512224">Penny Peril</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/dominatrix_spider_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>334</b></p>
            <p>
                <a href="/pvp/lookatplayer/512619">Crissy Winters</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512619">Crissy Winters</a> (334)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/520508">Akemi Tiras III</a> (4)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512132">Kimberly Tilson</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/517711">Oddette Herb</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512209">Lynelle Moon</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/519461">Erika Whitfield</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/520161">Kayli Stower</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,685</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (1,685)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (689)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512102">Kieran Seekshadow</a> (497)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (316)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512040">Janet Mills</a> (269)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/514816">Kris Shepard II</a> (252)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/513122">Hezekiah Gotobed</a> (219)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512218">Zel Ardentis</a> (178)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/520161">Kayli Stower</a> (169)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/519405">Chiho Sasaki</a> (156)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/520589">Serenya Nyekobornya III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/520589">Serenya Nyekobornya III</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/520810">Tyler Wyrkmanwyrkm</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/514229">Judy Machado</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/513317">Nina Susser</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512375">Melinda Hallman</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512049">Seras Victoria</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/514806">Rukki Reeve</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512822">Sam Oak</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/517791">Geneva Tanaka IV</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512410">Amelia Wyant</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>77</b></p>
            <p>
                <a href="/pvp/lookatplayer/512255">Stephen Lemke</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (77)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (51)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (40)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (32)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512422">Dark Blade</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512717">Vanilla Cream</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512240">Nadia Ayers</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512182">Genevieve Moen</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (92)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512030">Varin Elderblood</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512125">Eador Masterson</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512505">Erica Shari</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512122">Regan Stone</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512417">Emm Reza</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512711">Summer Meeks</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512989">Trallo Strafe</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>17,105</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (17,105)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (9,760)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (9,315)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (2,300)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (1,585)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/519461">Erika Whitfield</a> (835)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/513752">Elva Brannon</a> (330)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512232">Shredster Khan</a> (275)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512491">Reith Kitsu</a> (250)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512035">Kyle Nines</a> (240)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>102</b></p>
            <p>
                <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512063">Kyrah Amantes</a> (102)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/516233">Justice Rains</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/513720">Even Villalobos</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512635">Sir Morph</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/519697">Eden Burkhart</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512382">Marcellus Ravencrow</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/514865">Aydan Horsley</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/513207">Danale Frostmane</a> (19)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/515871">Dusk Toxic III</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512482">Frank Nix</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bubble_fox_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/512231">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512231">Joe Nobody</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512206">Soupseller Kaibutsu</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512182">Genevieve Moen</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512395">Maya Kaydee</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512564">Silly Bunbun</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512915">Lesser Dog</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/515261">Robyn Pagan</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_12_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>13,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/512826">Hayden Gale</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512826">Hayden Gale</a> (13,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512298">Iris Waldron</a> (1,029)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512187">Sara Dollmaker</a> (975)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (411)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (369)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512101">Henny Wuns</a> (319)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512240">Nadia Ayers</a> (243)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512058">Allyson Poe</a> (160)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512711">Summer Meeks</a> (158)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512125">Eador Masterson</a> (151)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>657</b></p>
            <p>
                <a href="/pvp/lookatplayer/512255">Stephen Lemke</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/512255">Stephen Lemke</a> (657)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/512025">Cali Ziegler</a> (248)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/512320">Glenna Coy</a> (84)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/512613">Max Chu</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/512305">Jesse Grey</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/512469">Emily Weretoy</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/512044">Danii Colorado</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/512039">Angie Looper</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/512447">Kinello Herone</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/512037">Elle Sawyer</a> (31)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>