@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mannequin_torso_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>7,777</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190611">Aloysious Katt III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190611">Aloysious Katt III</a> (7,777)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189974">Larissa Fay</a> (4,552)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190089">Setra Keys</a> (4,417)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/195223">Manny Quinn</a> (4,383)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190786">Hanna Drake</a> (4,170)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (3,767)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190509">Janeen Wiccanshire</a> (3,668)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189931">Vicky Carfield</a> (3,271)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190310">Vivianne Mcqueen</a> (2,912)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189966">Marcellus Ravencrow</a> (2,803)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/loyal_dog_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,171</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (3,171)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (2,100)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (1,868)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (1,686)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/196384">Caitlyn Keys III</a> (1,589)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (1,345)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (1,244)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (1,155)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190676">Lesa Clawson</a> (1,135)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (1,082)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/demure_rose_maiden_Melina_Mercer.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>8,864</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a> (8,864)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (8,519)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (6,964)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (6,953)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (6,576)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (6,009)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (5,884)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/196377">Sharlene Browder</a> (5,267)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (5,095)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190518">Julian Maxwell</a> (4,851)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,438</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/193027">Game Hound II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (1,438)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (1,380)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (1,096)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (808)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189921">Cynthia Sua</a> (739)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190518">Julian Maxwell</a> (716)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (687)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (616)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/192330">Velroth Trax</a> (585)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196377">Sharlene Browder</a> (572)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,639</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (1,639)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (1,320)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (1,209)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189927">Amalia Decuir</a> (1,029)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (981)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190518">Julian Maxwell</a> (833)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (712)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (646)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (636)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/192032">Brian Tate</a> (605)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/naga_JBovinne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,122</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189927">Amalia Decuir</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189927">Amalia Decuir</a> (1,122)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190518">Julian Maxwell</a> (601)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190676">Lesa Clawson</a> (335)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (257)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (230)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (195)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190661">Parker Oneal</a> (193)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (186)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190030">Morgan Ripley</a> (177)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190959">Lorelei Oceansong</a> (170)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>155,840</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a> (155,840)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189997">Felucca Kitsu</a> (47,740)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189974">Larissa Fay</a> (34,420)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (32,520)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (19,000)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (16,500)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (15,880)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (15,700)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (14,620)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189978">Nerati Sua</a> (13,660)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>399</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a> (399)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189997">Felucca Kitsu</a> (101)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (71)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a> (67)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (67)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/189974">Larissa Fay</a> (66)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190116">Mike Connolly</a> (55)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (50)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (46)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196288">Akari Fukui</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/loyal_dog_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>10,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (10,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (2,920)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (2,660)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189920">Zeke Manning</a> (840)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190163">Aiko Mena</a> (500)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/193995">Ayaka Mena</a> (500)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190119">Urza Vox</a> (480)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189927">Amalia Decuir</a> (420)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a> (200)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190335">Sharon Montenegro</a> (200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>132</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (132)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (101)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (87)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (73)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/192032">Brian Tate</a> (59)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/196377">Sharlene Browder</a> (57)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/191290">Kelsey Pulido</a> (55)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/195300">Fox Cross II</a> (51)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189921">Cynthia Sua</a> (49)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190297">Ronin Knight</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>10</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/191619">Eldreth Joatmon</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/191619">Eldreth Joatmon</a> (10)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/197755">John Cannel</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/198133">Tyson Ojeda</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/194221">Jackie Ayala II</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/195959">Julia Li</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190035">Try Agian</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/197933">Sarah Madison</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/197723">Hayden Dannen II</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/198033">Susanna Boyce</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190452">Frank Nix</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/attachable_cat_tail_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>11</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (11)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/194802">Ethan Lionheart IV</a> (6)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/197755">John Cannel</a> (4)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/197505">Eliza Starr VII</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190340">Seras Victoria</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/196288">Akari Fukui</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/196507">Katharine Layman</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/198033">Susanna Boyce</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/197831">Allie Loftin II</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196319">Mio Sama</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>116</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (116)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (74)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (73)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/196384">Caitlyn Keys III</a> (66)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189919">Rosalyn Mena</a> (63)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/191290">Kelsey Pulido</a> (61)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (58)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/196858">Genevieve Moen II</a> (51)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190173">Puyo Hebihime</a> (46)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189921">Cynthia Sua</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/loyal_dog_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>403</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (403)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (97)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (79)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (74)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190308">Jess Ganes</a> (69)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (68)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/189912">Serra Silvershield</a> (66)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (59)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190042">Red Queen</a> (55)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196018">Molotov Wolf II</a> (51)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/electronic_toy_jbovinne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>53</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190676">Lesa Clawson</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190676">Lesa Clawson</a> (53)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189919">Rosalyn Mena</a> (35)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/196384">Caitlyn Keys III</a> (16)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (11)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (10)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (9)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190173">Puyo Hebihime</a> (9)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190163">Aiko Mena</a> (9)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190562">Juliet Sills</a> (9)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190438">Will Wolf</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/loyal_dog_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>404</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (404)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190676">Lesa Clawson</a> (87)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (78)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (74)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190308">Jess Ganes</a> (73)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (73)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (71)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189912">Serra Silvershield</a> (59)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190042">Red Queen</a> (57)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196018">Molotov Wolf II</a> (53)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>32</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (32)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190116">Mike Connolly</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/195300">Fox Cross II</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/191908">Tarsis Asset</a> (2)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/192382">Kikuyu Kat</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/195444">Amanda Weaver</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190562">Juliet Sills</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/198099">Ruby Mckee II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>51</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189924">Kittyn Angelica</a> (51)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (33)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (30)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/196858">Genevieve Moen II</a> (24)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (20)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192330">Velroth Trax</a> (13)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190116">Mike Connolly</a> (12)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189904">Roundstart Derper</a> (9)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/193303">Brayan Moen</a> (9)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190509">Janeen Wiccanshire</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/195300">Fox Cross II</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/195300">Fox Cross II</a> (8)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189997">Felucca Kitsu</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (8)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (8)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/192448">Zora Mauritz</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/194941">Charlotte Fields</a> (8)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190021">Kirby Sanders</a> (8)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190308">Jess Ganes</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>19,590</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189980">Dorothy Silver</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189980">Dorothy Silver</a> (19,590)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189934">Playtoy Puppet</a> (19,300)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189967">Serena Solano</a> (17,675)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190023">Arrhae Hale</a> (16,625)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189950">Roy Zavala</a> (16,025)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190110">Rosa Lina II</a> (15,880)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190138">Leah Dionne</a> (15,710)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190000">Tessa Harlow</a> (15,695)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190238">Kaitlyn Halliwell</a> (15,693)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190223">Pink Perfection</a> (14,720)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>19,445</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190296">Melina 'Too Hot for TT' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190296">Melina 'Too Hot for TT' Mercy</a> (19,445)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189918">Gwen Yuki</a> (19,413)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190457">Diana Kitsu</a> (16,765)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189990">Luna Kitsu</a> (13,695)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189943">Noeh Faellero</a> (13,395)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190288">Kari Pink</a> (13,290)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190240">Agatha Darkwing</a> (13,008)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190546">Jessica Swagger</a> (12,850)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190358">Shawn Smyth</a> (12,450)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190272">Meagan Dorris</a> (12,400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>21,546</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (21,546)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/196018">Molotov Wolf II</a> (11,550)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (10,950)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190293">Zel Argentis</a> (9,636)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/192782">Jess Tron</a> (9,100)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/193683">Rosella Jeffries II</a> (8,850)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (8,375)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/195444">Amanda Weaver</a> (8,355)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189940">James Alexander</a> (8,100)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/193973">Diana Lethil</a> (8,090)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>160,740</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190447">Nina Winchester</a> (160,740)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189997">Felucca Kitsu</a> (48,400)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (35,892)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189974">Larissa Fay</a> (35,669)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (24,212)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (21,786)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (21,666)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (17,823)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/193973">Diana Lethil</a> (14,924)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190089">Setra Keys</a> (13,562)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/milkmaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>1,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/192709">Airi Mena</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (1,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/193973">Diana Lethil</a> (750)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190084">Chris Stelser</a> (613)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190581">Lucretia Duff</a> (600)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190484">Yuri Paige</a> (528)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190293">Zel Argentis</a> (500)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190073">Sammi Wells</a> (450)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/190081">Alex Blaine</a> (450)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/191016">Linken Steele</a> (400)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/193951">David Arthur II</a> (400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/attachable_cat_tail_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Wuffie:</i> <b>11,101</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (11,101)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/191262">Minerva Lipscomb</a> (1,252)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/191457">Lacey Nelms</a> (891)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (831)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (825)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (724)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/195208">Maximo Aragon II</a> (662)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/196014">Isai Kenway III</a> (634)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/193410">Alyss Bloom</a> (612)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/191277">Esther Owen</a> (606)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/demure_rose_maiden_Melina_Mercer.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>59</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a> (59)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (44)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/191013">Vivian Impossible</a> (5)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/194941">Charlotte Fields</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190686">Aika Li</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/193490">Lefen Trimble II</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/198133">Tyson Ojeda</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/192330">Velroth Trax</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/196333">Nola Kang</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>17</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (17)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (6)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189978">Nerati Sua</a> (1)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (1)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/191013">Vivian Impossible</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190605">Alex Watts</a> (1)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (1)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/192330">Velroth Trax</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pixie_jbovinne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>9</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190293">Zel Argentis</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190293">Zel Argentis</a> (9)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189912">Serra Silvershield</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/196384">Caitlyn Keys III</a> (4)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (1)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190035">Try Agian</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/195441">Yuzuki Mena II</a> (1)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/191487">Heather Brandenburg</a> (1)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/189927">Amalia Decuir</a> (1)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/197123">Tanner Garay</a> (1)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/193973">Diana Lethil</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/demure_rose_maiden_Melina_Mercer.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>7,712</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a> (7,712)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (3,959)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190375">Rosa Linaa</a> (610)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/194941">Charlotte Fields</a> (606)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (393)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192330">Velroth Trax</a> (391)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190104">Asura Grande</a> (267)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/191013">Vivian Impossible</a> (262)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190673">Pierce Jackman</a> (181)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190293">Zel Argentis</a> (174)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/attachable_cat_tail_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>15</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (15)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/191619">Eldreth Joatmon</a> (12)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/190340">Seras Victoria</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190035">Try Agian</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190116">Mike Connolly</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/192709">Airi Mena</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190084">Chris Stelser</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/197755">John Cannel</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/196463">Eli Valenti</a> (4)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189922">Teresa Hammond</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>25</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (25)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/192782">Jess Tron</a> (23)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/189966">Marcellus Ravencrow</a> (18)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/193683">Rosella Jeffries II</a> (17)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190076">Marisa Poyohime</a> (15)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190116">Mike Connolly</a> (15)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190089">Setra Keys</a> (15)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/194941">Charlotte Fields</a> (14)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190509">Janeen Wiccanshire</a> (13)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/189940">James Alexander</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>49</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (49)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/190596">Kristyne Mercy</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/194276">Kandis Gracia</a> (5)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/189966">Marcellus Ravencrow</a> (4)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/189928">Stella Keys</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/189997">Felucca Kitsu</a> (2)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/189932">Cathy Kellum</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/191843">Jo Mouz</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/190173">Puyo Hebihime</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190246">Kat Strader</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>13,850</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/190042">Red Queen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/190042">Red Queen</a> (13,850)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/189910">Lara 'the Collector' Darkwing</a> (12,275)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/193027">Game Hound II</a> (4,215)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/190712">Nihat Unal</a> (4,035)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/190363">Kristen Reid</a> (4,020)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/190518">Julian Maxwell</a> (2,015)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/190308">Jess Ganes</a> (1,230)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/196377">Sharlene Browder</a> (1,160)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/189974">Larissa Fay</a> (630)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/190438">Will Wolf</a> (600)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>