<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,101</b></p>
            <p>
                <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (10,101)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928074">Vanilla Cream</a> (7,380)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928045">Alexa Hexa</a> (7,089)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928099">Feronia Aedor</a> (6,384)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928576">Chloe Davis</a> (6,237)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927760">Vix Spelloyal</a> (5,579)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/929087">Cecily Hayward</a> (5,374)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/931545">Lynxie Silvertail</a> (5,234)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (4,712)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (4,576)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,179</b></p>
            <p>
                <a href="/pvp/lookatplayer/929019">Kasey Westler</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (3,179)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (3,165)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (3,129)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (2,185)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (2,021)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (1,664)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (1,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928361">Max Karma</a> (1,550)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (1,423)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (1,364)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>17,490</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (17,490)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (11,432)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (10,050)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (9,043)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927706">Wannabe Ponygirl</a> (8,694)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (8,452)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (7,773)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (7,532)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928155">Kaede Yamabuki II</a> (6,888)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (6,382)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,779</b></p>
            <p>
                <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (1,779)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (1,554)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928361">Max Karma</a> (1,324)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (1,152)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (1,135)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (1,129)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (1,059)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (1,034)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (1,001)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (910)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,215</b></p>
            <p>
                <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (2,215)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (1,796)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (1,317)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (1,116)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928083">Pie Pies</a> (1,040)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (1,027)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (970)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (927)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (914)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928361">Max Karma</a> (862)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,700</b></p>
            <p>
                <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (1,700)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928153">Eric Finney</a> (923)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (908)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (719)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927901">Ikkou Alonz</a> (682)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928581">Rachel Brave</a> (588)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928207">Martha Proxy III</a> (460)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928161">Arsm Teledon</a> (292)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (237)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/930394">Sarah Heckman</a> (227)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>141,200</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (141,200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (50,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (15,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (8,260)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (7,140)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (5,100)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (4,680)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928207">Martha Proxy III</a> (4,440)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927853">Tea Higgins</a> (4,100)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928248">Jasmine Coquine</a> (4,000)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>81</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (81)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928196">Mikhail Vigg</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928995">Maria Hannon</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927758">Cynthia Price</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928153">Eric Finney</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927760">Vix Spelloyal</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>80</b></p>
            <p>
                <a href="/pvp/lookatplayer/927749">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (80)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928083">Pie Pies</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928995">Maria Hannon</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927998">Target Practice</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/939346">Ditzy Babs V</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927683">Tomiko Hewitt</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927739">Stoney Yapper</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/938565">Silvia Autumn II</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/927779">Seras Victoria</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927779">Seras Victoria</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928532">Kat Kish</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/939027">Elnora Niles II</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/935446">Georgette Okeefee</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/935214">Aeris Gardinier II</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/935409">Dumb Slut</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/937494">Ashley Raybrandt II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/936706">Emma Fry</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/931870">Pasqualo Triangilini II</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/931013">Desmond Stiles</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/limbless_balloon_girl_blaca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/pvp/lookatplayer/937494">Ashley Raybrandt II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/937494">Ashley Raybrandt II</a> (7)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928252">Lumina Kitsuray</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/933243">Fabi Grepo VII</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927779">Seras Victoria</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/939138">Jeffrey Bowen II</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/934732">Simeon Gooding</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/939798">Mai Cordero</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928971">Leeta Williams</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/935446">Georgette Okeefee</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/935409">Dumb Slut</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>85</b></p>
            <p>
                <a href="/pvp/lookatplayer/927749">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (85)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927683">Tomiko Hewitt</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928995">Maria Hannon</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929063">Maxi Karosha</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927883">Ester Rhoden II</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/930361">Aviendia Silentspell</a> (27)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/934645">Rath Nights</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/929087">Cecily Hayward</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>444</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (444)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (406)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (145)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (133)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (104)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (102)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (57)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/934645">Rath Nights</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927706">Wannabe Ponygirl</a> (49)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>60</b></p>
            <p>
                <a href="/pvp/lookatplayer/927749">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (60)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928029">Yvesza Sylwind</a> (42)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928766">Vulpi Spelloyal</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/932295">Isis Simons</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927706">Wannabe Ponygirl</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927978">Erin Keys</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/929694">Jess Kitsune</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/halloween.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hallow Victory</h3>
            <p><i>Spooky Spellslingers defeated:</i> <b>431</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (431)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (413)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (200)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (114)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (91)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (87)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (56)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927706">Wannabe Ponygirl</a> (52)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (47)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/934645">Rath Nights</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/928083">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928083">Pie Pies</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927900">Devon Barela</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/938565">Silvia Autumn II</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/934041">Ashley Rose IV</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/930451">Chan Greene</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927978">Erin Keys</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/934206">Rosa Serinca II</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927883">Ester Rhoden II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>36</b></p>
            <p>
                <a href="/pvp/lookatplayer/927821">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (36)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927863">Dustin Craven</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928248">Jasmine Coquine</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928346">Lindsay Bradley</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928072">Tacitusa Parsons</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/929880">Cecelia Wilks</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/933385">Verena Delam</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/928361">Max Karma</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928361">Max Karma</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928045">Alexa Hexa</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929760">Michael Rochard</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/933412">Rora Ryall</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/929805">Steve Welles</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/933385">Verena Delam</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/930913">Raven Morgaine</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/936705">Anne Joy</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/humanoid_oneahole_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,940</b></p>
            <p>
                <a href="/pvp/lookatplayer/927712">Sheathetoy Slavething</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927712">Sheathetoy Slavething</a> (39,940)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927705">Joe Nobody</a> (39,670)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928005">Cassie's 'Plump' Erinpussy</a> (38,725)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927974">Glenna Coy</a> (37,955)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927755">Hip Plumper</a> (37,160)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927822">Simple Beachball</a> (36,895)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928021">Kasia Heeled</a> (36,895)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928143">Bitched Slave</a> (35,530)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927811">Ambyrlee Lana</a> (35,095)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/929224">Maria Dollinger</a> (33,993)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,210</b></p>
            <p>
                <a href="/pvp/lookatplayer/927650">Martha Keene</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927650">Martha Keene</a> (39,210)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928263">Oliver Eve</a> (38,760)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927674">Tame 'Collared' Blackcat</a> (38,365)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927719">Violett Rose</a> (37,965)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928141">Phoebe Stormbringer</a> (36,560)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927732">Kuro Val</a> (34,845)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928243">Laura Moore</a> (34,500)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927729">Minervas Petslut</a> (33,565)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928242">Nadia Ayers</a> (33,355)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928283">Janet Weller</a> (31,676)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>105,534</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (105,534)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (50,115)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (39,597)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (32,143)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/929915">Nyasa Meownya</a> (29,946)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928155">Kaede Yamabuki II</a> (26,651)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928045">Alexa Hexa</a> (17,600)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (15,091)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/933412">Rora Ryall</a> (14,079)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/929805">Steve Welles</a> (11,450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,429</b></p>
            <p>
                <a href="/pvp/lookatplayer/927821">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (5,429)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (5,284)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927648">Robin Pharnia</a> (1,594)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928235">Tallyrand Richards</a> (1,300)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928589">Little Bessie</a> (1,105)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927863">Dustin Craven</a> (1,079)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928634">Sam Meyer</a> (1,036)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/932403">Mani Horniborn II</a> (1,035)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (1,000)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928576">Chloe Davis</a> (836)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>16,800</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (16,800)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/929915">Nyasa Meownya</a> (9,060)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/930913">Raven Morgaine</a> (2,650)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (2,580)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928207">Martha Proxy III</a> (2,090)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/929760">Michael Rochard</a> (1,900)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/938033">Rath Metz</a> (1,450)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/933349">Nick Aeris</a> (1,450)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927973">Sammy Rose</a> (930)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928651">Henny Wuns</a> (720)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>780</b></p>
            <p>
                <a href="/pvp/lookatplayer/928155">Kaede Yamabuki II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928155">Kaede Yamabuki II</a> (780)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/934645">Rath Nights</a> (640)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/933412">Rora Ryall</a> (620)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927740">Mollie Bumgarner</a> (600)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/935432">Aiden Brecht</a> (540)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/934041">Ashley Rose IV</a> (520)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928510">Jessele Ayers</a> (430)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (400)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (380)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927751">Droneslave Jupiter</a> (340)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/licententious_librarian_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>789</b></p>
            <p>
                <a href="/pvp/lookatplayer/929915">Nyasa Meownya</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/929915">Nyasa Meownya</a> (789)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928149">Vivianne Mcqueen</a> (166)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928520">Alyce Lockett</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929558">Silvia Andrews</a> (69)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/929087">Cecily Hayward</a> (65)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/934645">Rath Nights</a> (59)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/929063">Maxi Karosha</a> (56)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928045">Alexa Hexa</a> (49)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (43)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927884">Selena Vitale II</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/929760">Michael Rochard</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/929760">Michael Rochard</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929647">Kaitlyn Kat</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927973">Sammy Rose</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/932082">Serena Westford</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/934727">Elizabeth Reynolds</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927673">Crystal Draper</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/934206">Rosa Serinca II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/927752">Ai Naoi</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927853">Tea Higgins</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/927752">Ai Naoi</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927978">Erin Keys</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/932295">Isis Simons</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/929086">Misty Corbin</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_01_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/927779">Seras Victoria</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927779">Seras Victoria</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928532">Kat Kish</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/935446">Georgette Okeefee</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/935409">Dumb Slut</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927988">Maxine Wampler</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/931870">Pasqualo Triangilini II</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/931013">Desmond Stiles</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/936706">Emma Fry</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/939027">Elnora Niles II</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/937502">Silver Fischer</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>43</b></p>
            <p>
                <a href="/pvp/lookatplayer/927821">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (43)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (42)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929880">Cecelia Wilks</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/933538">Cindy Lewdy</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927863">Dustin Craven</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928248">Jasmine Coquine</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/929063">Maxi Karosha</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/927925">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927828">Robin Flynn</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/934206">Rosa Serinca II</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/930394">Sarah Heckman</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928995">Maria Hannon</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928341">Lana Lorenz</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/934544">Cecily Dermont III</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/935465">Nyar Katswel</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>16,890</b></p>
            <p>
                <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (16,890)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (13,495)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (3,460)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (1,455)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (1,355)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (1,310)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (1,250)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (1,015)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928074">Vanilla Cream</a> (860)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928248">Jasmine Coquine</a> (770)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/928083">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928083">Pie Pies</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927826">Jeff Power</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928465">Leek Takehiro</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928227">Austin Haigh</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/931013">Desmond Stiles</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928132">Jake Chambers</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928986">Clair August</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928996">Luciano Gaskins</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927716">Miles Kilometer</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928941">Sonia Bon</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927757">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927895">Eevee Red</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928132">Jake Chambers</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928074">Vanilla Cream</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928081">Alice Fraener</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/934206">Rosa Serinca II</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/939230">Laelia Meadows IV</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,105</b></p>
            <p>
                <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (1,105)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (628)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/929760">Michael Rochard</a> (575)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (489)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/930829">Misty Lovett</a> (487)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/934206">Rosa Serinca II</a> (332)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/939711">Inani Mitty</a> (248)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928155">Kaede Yamabuki II</a> (222)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (205)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928011">Severius Harter</a> (166)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>104</b></p>
            <p>
                <a href="/pvp/lookatplayer/927760">Vix Spelloyal</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/927760">Vix Spelloyal</a> (104)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927930">Rob Martinson</a> (42)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/929880">Cecelia Wilks</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/931027">Max Tyrson</a> (31)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/931545">Lynxie Silvertail</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/929087">Cecily Hayward</a> (26)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927900">Devon Barela</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/938597">Neferpitou Ill</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928955">Jak Wayland</a> (22)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928029">Yvesza Sylwind</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928379">Ruby Benum</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927838">Nerati Sua</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927706">Wannabe Ponygirl</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927868">Nameless Warlock</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/circine_sow_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>229</b></p>
            <p>
                <a href="/pvp/lookatplayer/928029">Yvesza Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928029">Yvesza Sylwind</a> (229)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (172)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (73)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928379">Ruby Benum</a> (51)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927838">Nerati Sua</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927978">Erin Keys</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>471</b></p>
            <p>
                <a href="/pvp/lookatplayer/928116">Isabella Sumner</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (471)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (292)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (101)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927900">Devon Barela</a> (87)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927853">Tea Higgins</a> (74)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (68)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (63)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (51)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (50)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928361">Max Karma</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928361">Max Karma</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (12)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/928010">Erin Wolfe</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927642">Fox Cross</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928529">Rene Hawks</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928177">Ayaka Saito</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928346">Lindsay Bradley</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928554">Prettyfly Forawifi</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>140</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (140)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (98)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927900">Devon Barela</a> (51)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/928196">Mikhail Vigg</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (33)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927853">Tea Higgins</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927863">Dustin Craven</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>183</b></p>
            <p>
                <a href="/pvp/lookatplayer/928116">Isabella Sumner</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (183)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928153">Eric Finney</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927930">Rob Martinson</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928955">Jak Wayland</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/931315">Akemi Amai II</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928421">Alexander Dantes</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>72</b></p>
            <p>
                <a href="/pvp/lookatplayer/928116">Isabella Sumner</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (72)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928361">Max Karma</a> (31)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928323">Grace Cator</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/929239">Emanueli Myrick</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/928116">Isabella Sumner</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927760">Vix Spelloyal</a> (31)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/927900">Devon Barela</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/929019">Kasey Westler</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928995">Maria Hannon</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/928153">Eric Finney</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928379">Ruby Benum</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Chic_Shopgirl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928139">Seraphina Aleph</a> (63)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927853">Tea Higgins</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (42)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927925">Rosa Fortune</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927648">Robin Pharnia</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/927821">Shredster Khan</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/928766">Vulpi Spelloyal</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928254">Psycopathic Moria</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>882</b></p>
            <p>
                <a href="/pvp/lookatplayer/928116">Isabella Sumner</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (882)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/927681">Isabelle Ravenspire</a> (835)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/928361">Max Karma</a> (745)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928080">Joseph Wow</a> (516)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/927819">Kasumi Takanawa</a> (446)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/927641">Chuy 'Spooky Wolf' Cholo</a> (387)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (282)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927724">Kiera Dierst</a> (273)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927648">Robin Pharnia</a> (238)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/927752">Ai Naoi</a> (230)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shining_knight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/931015">Jacqueline Tancara</a> (90)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/933264">Calanthia Alexandra II</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/927749">Holly Ryder</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/928116">Isabella Sumner</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/933311">Ekaterina Vasilov</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/928811">Glitchy Maynori</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/935432">Aiden Brecht</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/927864">Sockubus Noreen</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/927751">Droneslave Jupiter</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/928072">Tacitusa Parsons</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>