<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <button class="btn" id="expandAllBtn" onclick="expandAll()">Expand All</button> <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Angelic_Cat_Thief_CyberKaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>17,096</b></p>
            <p>
                <a href="/pvp/lookatplayer/1546118">Arknessi Nyathee</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_searched')" data-ajax-update="#more_times_searched" href="/settings/playerstatstopoftype?type=times_searched" id="times_searched">[+]</a>

            </p>

            <div id="more_times_searched">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fuzzy_moth_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Spell Seeker</h3>
            <p><i>Most spells found by searching the town:</i> <b>1,011</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534510">Jesse Ruth</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('spell_searches')" data-ajax-update="#more_spell_searches" href="/settings/playerstatstopoftype?type=spell_searches" id="spell_searches">[+]</a>

            </p>

            <div id="more_spell_searches">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>6,208</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('spells_cast')" data-ajax-update="#more_spells_cast" href="/settings/playerstatstopoftype?type=spells_cast" id="spells_cast">[+]</a>

            </p>

            <div id="more_spells_cast">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/firefly_girl_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>20,001</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534276">Dianna Tracy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_moved')" data-ajax-update="#more_times_moved" href="/settings/playerstatstopoftype?type=times_moved" id="times_moved">[+]</a>

            </p>

            <div id="more_times_moved">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,979</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534535">Shooter Mcgavin</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_cleansed')" data-ajax-update="#more_times_cleansed" href="/settings/playerstatstopoftype?type=times_cleansed" id="times_cleansed">[+]</a>

            </p>

            <div id="more_times_cleansed">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>880</b></p>
            <p>
                <a href="/pvp/lookatplayer/1536017">Akuza Faust</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_meditated')" data-ajax-update="#more_times_meditated" href="/settings/playerstatstopoftype?type=times_meditated" id="times_meditated">[+]</a>

            </p>

            <div id="more_times_meditated">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,089</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534335">Aviendia Kenvel</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_enchanted')" data-ajax-update="#more_times_enchanted" href="/settings/playerstatstopoftype?type=times_enchanted" id="times_enchanted">[+]</a>

            </p>

            <div id="more_times_enchanted">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpeyjis donated to covenant:</i> <b>150,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('covenant_net_donations')" data-ajax-update="#more_covenant_net_donations" href="/settings/playerstatstopoftype?type=covenant_net_donations" id="covenant_net_donations">[+]</a>

            </p>

            <div id="more_covenant_net_donations">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>78</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534419">Princess Cat</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('covenant_furniture_used')" data-ajax-update="#more_covenant_furniture_used" href="/settings/playerstatstopoftype?type=covenant_furniture_used" id="covenant_furniture_used">[+]</a>

            </p>

            <div id="more_covenant_furniture_used">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/1538723">Cindy Cow</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_animated')" data-ajax-update="#more_times_self_animated" href="/settings/playerstatstopoftype?type=times_self_animated" id="times_self_animated">[+]</a>

            </p>

            <div id="more_times_self_animated">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/living_latex_catsuit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/1537088">Susanna Succubi</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_inanimated')" data-ajax-update="#more_times_self_inanimated" href="/settings/playerstatstopoftype?type=times_self_inanimated" id="times_self_inanimated">[+]</a>

            </p>

            <div id="more_times_self_inanimated">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/Personal_Panda_Boi_QuietMsBear.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>4</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534410">Luka Lanier</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_animal')" data-ajax-update="#more_times_self_animal" href="/settings/playerstatstopoftype?type=times_self_animal" id="times_self_animal">[+]</a>

            </p>

            <div id="more_times_self_animal">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mad_female_scientist_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/1538673">Grace Dickey</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_animating')" data-ajax-update="#more_times_self_animating" href="/settings/playerstatstopoftype?type=times_self_animating" id="times_self_animating">[+]</a>

            </p>

            <div id="more_times_self_animating">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>1,200</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_inanimating')" data-ajax-update="#more_times_self_inanimating" href="/settings/playerstatstopoftype?type=times_self_inanimating" id="times_self_inanimating">[+]</a>

            </p>

            <div id="more_times_self_inanimating">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>250</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534246">Barbie Bubbleboobs</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_self_animaling')" data-ajax-update="#more_times_self_animaling" href="/settings/playerstatstopoftype?type=times_self_animaling" id="times_self_animaling">[+]</a>

            </p>

            <div id="more_times_self_animaling">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>1,204</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('psychos_defeated')" data-ajax-update="#more_psychos_defeated" href="/settings/playerstatstopoftype?type=psychos_defeated" id="psychos_defeated">[+]</a>

            </p>

            <div id="more_psychos_defeated">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/policenyan_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>90</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534292">Purriscilla Nyekobornya</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_teleported_scroll')" data-ajax-update="#more_times_teleported_scroll" href="/settings/playerstatstopoftype?type=times_teleported_scroll" id="times_teleported_scroll">[+]</a>

            </p>

            <div id="more_times_teleported_scroll">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>27</b></p>
            <p>
                <a href="/pvp/lookatplayer/1535603">Eric Woof</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('jewdewfae_completions')" data-ajax-update="#more_jewdewfae_completions" href="/settings/playerstatstopoftype?type=jewdewfae_completions" id="jewdewfae_completions">[+]</a>

            </p>

            <div id="more_jewdewfae_completions">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534246">Barbie Bubbleboobs</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('lore_books_read')" data-ajax-update="#more_lore_books_read" href="/settings/playerstatstopoftype?type=lore_books_read" id="lore_books_read">[+]</a>

            </p>

            <div id="more_lore_books_read">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>44,585</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534337">Lara's Fluff-Brained-Snuggle-Toy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('inanimateXPEarned')" data-ajax-update="#more_inanimateXPEarned" href="/settings/playerstatstopoftype?type=inanimateXPEarned" id="inanimateXPEarned">[+]</a>

            </p>

            <div id="more_inanimateXPEarned">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as a pet.:</i> <b>39,923</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534293">Arri Chan</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('petXPEarned')" data-ajax-update="#more_petXPEarned" href="/settings/playerstatstopoftype?type=petXPEarned" id="petXPEarned">[+]</a>

            </p>

            <div id="more_petXPEarned">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>200,068</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('lindella_net_profit')" data-ajax-update="#more_lindella_net_profit" href="/settings/playerstatstopoftype?type=lindella_net_profit" id="lindella_net_profit">[+]</a>

            </p>

            <div id="more_lindella_net_profit">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,861</b></p>
            <p>
                <a href="/pvp/lookatplayer/1535162">Shara Tent</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('lindella_net_loss')" data-ajax-update="#more_lindella_net_loss" href="/settings/playerstatstopoftype?type=lindella_net_loss" id="lindella_net_loss">[+]</a>

            </p>

            <div id="more_lindella_net_loss">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wüffie:</i> <b>36,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534919">Holly Ryder</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('wuffie_net_profit')" data-ajax-update="#more_wuffie_net_profit" href="/settings/playerstatstopoftype?type=wuffie_net_profit" id="wuffie_net_profit">[+]</a>

            </p>

            <div id="more_wuffie_net_profit">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wüffie:</i> <b>30,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('wuffie_net_loss')" data-ajax-update="#more_wuffie_net_loss" href="/settings/playerstatstopoftype?type=wuffie_net_loss" id="wuffie_net_loss">[+]</a>

            </p>

            <div id="more_wuffie_net_loss">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>1,007</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534448">Kiyoko 'Fluffed N' Stuffed' Haley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('lorekeeper_spells_learned')" data-ajax-update="#more_lorekeeper_spells_learned" href="/settings/playerstatstopoftype?type=lorekeeper_spells_learned" id="lorekeeper_spells_learned">[+]</a>

            </p>

            <div id="more_lorekeeper_spells_learned">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>224</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534535">Shooter Mcgavin</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('dungeon_artifacts_found')" data-ajax-update="#more_dungeon_artifacts_found" href="/settings/playerstatstopoftype?type=dungeon_artifacts_found" id="dungeon_artifacts_found">[+]</a>

            </p>

            <div id="more_dungeon_artifacts_found">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_bane_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>51</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534535">Shooter Mcgavin</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('dungeon_demons_defeated')" data-ajax-update="#more_dungeon_demons_defeated" href="/settings/playerstatstopoftype?type=dungeon_demons_defeated" id="dungeon_demons_defeated">[+]</a>

            </p>

            <div id="more_dungeon_demons_defeated">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/booty_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534528">Kaitlyn Halliwell</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('dungeon_points_stolen')" data-ajax-update="#more_dungeon_points_stolen" href="/settings/playerstatstopoftype?type=dungeon_points_stolen" id="dungeon_points_stolen">[+]</a>

            </p>

            <div id="more_dungeon_points_stolen">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/living_latex_catsuit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/1537088">Susanna Succubi</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('times_struggled_free')" data-ajax-update="#more_times_struggled_free" href="/settings/playerstatstopoftype?type=times_struggled_free" id="times_struggled_free">[+]</a>

            </p>

            <div id="more_times_struggled_free">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/oni_battle_maid.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>43</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534249">Shredster Khan</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('transmogs_used')" data-ajax-update="#more_transmogs_used" href="/settings/playerstatstopoftype?type=transmogs_used" id="transmogs_used">[+]</a>

            </p>

            <div id="more_transmogs_used">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/firefly_girl_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>73</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534276">Dianna Tracy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('callback_crystals_used')" data-ajax-update="#more_callback_crystals_used" href="/settings/playerstatstopoftype?type=callback_crystals_used" id="callback_crystals_used">[+]</a>

            </p>

            <div id="more_callback_crystals_used">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>232,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534977">Lara Ithilwen</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('dolls_used')" data-ajax-update="#more_dolls_used" href="/settings/playerstatstopoftype?type=dolls_used" id="dolls_used">[+]</a>

            </p>

            <div id="more_dolls_used">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Chocolate_Kitsunemimi_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>125</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534336">Annabelle Barbosa</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('quests_failed')" data-ajax-update="#more_quests_failed" href="/settings/playerstatstopoftype?type=quests_failed" id="quests_failed">[+]</a>

            </p>

            <div id="more_quests_failed">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/firefly_girl_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534276">Dianna Tracy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('quests_passed')" data-ajax-update="#more_quests_passed" href="/settings/playerstatstopoftype?type=quests_passed" id="quests_passed">[+]</a>

            </p>

            <div id="more_quests_passed">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>27,932</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534246">Barbie Bubbleboobs</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('busrides')" data-ajax-update="#more_busrides" href="/settings/playerstatstopoftype?type=busrides" id="busrides">[+]</a>

            </p>

            <div id="more_busrides">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/femkai_luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>272</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534278">Dicey Flynn</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('tg_bomb_hits')" data-ajax-update="#more_tg_bomb_hits" href="/settings/playerstatstopoftype?type=tg_bomb_hits" id="tg_bomb_hits">[+]</a>

            </p>

            <div id="more_tg_bomb_hits">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/devoted_devil.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>45</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534787">Feline Nickerson</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('pvp_player_takedowns')" data-ajax-update="#more_pvp_player_takedowns" href="/settings/playerstatstopoftype?type=pvp_player_takedowns" id="pvp_player_takedowns">[+]</a>

            </p>

            <div id="more_pvp_player_takedowns">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/devoted_devil.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>222</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534787">Feline Nickerson</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('pvp_total_level_takedowns')" data-ajax-update="#more_pvp_total_level_takedowns" href="/settings/playerstatstopoftype?type=pvp_total_level_takedowns" id="pvp_total_level_takedowns">[+]</a>

            </p>

            <div id="more_pvp_total_level_takedowns">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>227</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534802">Lindsay Bradley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_totalBossAttacks')" data-ajax-update="#more_boss_totalBossAttacks" href="/settings/playerstatstopoftype?type=boss_totalBossAttacks" id="boss_totalBossAttacks">[+]</a>

            </p>

            <div id="more_boss_totalBossAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>58</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534325">Serra Struix</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_ratThiefAttacks')" data-ajax-update="#more_boss_ratThiefAttacks" href="/settings/playerstatstopoftype?type=boss_ratThiefAttacks" id="boss_ratThiefAttacks">[+]</a>

            </p>

            <div id="more_boss_ratThiefAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/firefly_girl_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>59</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534276">Dianna Tracy</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_lovebringerAttacks')" data-ajax-update="#more_boss_lovebringerAttacks" href="/settings/playerstatstopoftype?type=boss_lovebringerAttacks" id="boss_lovebringerAttacks">[+]</a>

            </p>

            <div id="more_boss_lovebringerAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/queen_of_diamonds_cyberkaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534805">Seras Victoria</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_donnaAttacks')" data-ajax-update="#more_boss_donnaAttacks" href="/settings/playerstatstopoftype?type=boss_donnaAttacks" id="boss_donnaAttacks">[+]</a>

            </p>

            <div id="more_boss_donnaAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>95</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534802">Lindsay Bradley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_faebossAttacks')" data-ajax-update="#more_boss_faebossAttacks" href="/settings/playerstatstopoftype?type=boss_faebossAttacks" id="boss_faebossAttacks">[+]</a>

            </p>

            <div id="more_boss_faebossAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>113</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534802">Lindsay Bradley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_mouseSisterAttacks')" data-ajax-update="#more_boss_mouseSisterAttacks" href="/settings/playerstatstopoftype?type=boss_mouseSisterAttacks" id="boss_mouseSisterAttacks">[+]</a>

            </p>

            <div id="more_boss_mouseSisterAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/mech_suit_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534264">Viola Hawthorne</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_motorcycleGangAttacks')" data-ajax-update="#more_boss_motorcycleGangAttacks" href="/settings/playerstatstopoftype?type=boss_motorcycleGangAttacks" id="boss_motorcycleGangAttacks">[+]</a>

            </p>

            <div id="more_boss_motorcycleGangAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/wolfgirl_maid_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>939</b></p>
            <p>
                <a href="/pvp/lookatplayer/1535521">Jacqueline Tancaraz</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('boss_minibossAttacks')" data-ajax-update="#more_boss_minibossAttacks" href="/settings/playerstatstopoftype?type=boss_minibossAttacks" id="boss_minibossAttacks">[+]</a>

            </p>

            <div id="more_boss_minibossAttacks">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534802">Lindsay Bradley</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('mind_control_commands_issued')" data-ajax-update="#more_mind_control_commands_issued" href="/settings/playerstatstopoftype?type=mind_control_commands_issued" id="mind_control_commands_issued">[+]</a>

            </p>

            <div id="more_mind_control_commands_issued">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/tender_affection.gif" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Tender Affection</h3>
            <p><i>Times interacting with souled possessions:</i> <b>5,220</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534977">Lara Ithilwen</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('item_pet_interaction')" data-ajax-update="#more_item_pet_interaction" href="/settings/playerstatstopoftype?type=item_pet_interaction" id="item_pet_interaction">[+]</a>

            </p>

            <div id="more_item_pet_interaction">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/cat_familiar_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">High Roller</h3>
            <p><i>Score from the Joke Shop dice game:</i> <b>281</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534386">Kaede Yamabuki</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('dice_game')" data-ajax-update="#more_dice_game" href="/settings/playerstatstopoftype?type=dice_game" id="dice_game">[+]</a>

            </p>

            <div id="more_dice_game">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/rhino_rider_Valernath.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Most Wanted</h3>
            <p><i>Times a bounty has been placed on their head:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534462">Terry Moneygrabber</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('bounty_count')" data-ajax-update="#more_bounty_count" href="/settings/playerstatstopoftype?type=bounty_count" id="bounty_count">[+]</a>

            </p>

            <div id="more_bounty_count">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/mech_suit_Mizuho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Bounty Hunter</h3>
            <p><i>Amount earned by claiming bounties:</i> <b>276</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534264">Viola Hawthorne</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('bounties_claimed')" data-ajax-update="#more_bounties_claimed" href="/settings/playerstatstopoftype?type=bounties_claimed" id="bounties_claimed">[+]</a>

            </p>

            <div id="more_bounties_claimed">

            </div>

        </div>
        <div class="col-md-4 stats-leader">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Challenging Opponent</h3>
            <p><i>Number of challenges completed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1534656">John Ignis</a>

                <a class="attackLink" data-ajax="true" data-ajax-begin="waiting" data-ajax-failure="failure" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="success('challenges_passed')" data-ajax-update="#more_challenges_passed" href="/settings/playerstatstopoftype?type=challenges_passed" id="challenges_passed">[+]</a>

            </p>

            <div id="more_challenges_passed">

            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>