<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/uncut_cock_Raven_Aoki.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (12,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159284">Arknessi Nyathe</a> (8,751)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160536">Amazon Queen</a> (6,799)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1164038">Kur Dogge</a> (6,637)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1170553">Astreya Labell</a> (6,585)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159260">Catalina Maggard</a> (6,326)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159693">Rosa Fortune</a> (6,219)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159887">Purriscilla Nyekobornya</a> (6,158)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159716">Catherine Nyekobornya</a> (5,340)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160134">Claire Latex</a> (5,093)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Shirohebi_Shrine_Maiden_puyo.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,456</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a> (3,456)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (2,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (2,129)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (1,974)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159266">Weston Silverman</a> (1,798)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (1,711)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (1,593)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (1,447)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1172473">Cooper Cable</a> (1,444)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160184">Mommy Jude</a> (1,429)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>13,152</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (13,152)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (10,453)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (8,674)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (7,963)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (7,894)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (7,564)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (7,539)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1167036">Reese Shepherd II</a> (6,313)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1166637">Anna Zarate II</a> (5,288)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160007">Woofle Barks</a> (5,208)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,548</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (1,548)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (1,191)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (1,087)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159455">Braylon Fortune</a> (1,058)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (988)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159266">Weston Silverman</a> (908)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (906)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1172473">Cooper Cable</a> (853)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (807)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (686)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/tiger_jock_Folsky.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159277">Rajara Paw</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (2,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a> (1,534)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (1,455)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1160085">Xander Nikos</a> (896)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159455">Braylon Fortune</a> (827)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160184">Mommy Jude</a> (774)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159807">Jennie Stein</a> (659)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (575)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1172473">Cooper Cable</a> (538)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (484)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>3,030</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (3,030)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160085">Xander Nikos</a> (2,265)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159807">Jennie Stein</a> (1,443)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159315">Nadia Ayers</a> (505)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160549">Cleo Wren</a> (490)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1161420">Drake Longhorn</a> (453)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (385)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1170553">Astreya Labell</a> (213)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159430">Ddraig Valcun</a> (205)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159910">Bettie Aguiar</a> (199)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>25,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159333">Witch Mary</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (25,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (20,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (14,880)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159778">Sissy Panties</a> (14,400)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (13,460)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (12,940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (12,500)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159334">Henny Wuns</a> (11,000)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1169049">Corrupt Gem II</a> (9,780)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159939">Britney Arellano</a> (8,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160085">Xander Nikos</a> (23)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (21)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1160138">Roxy Fluffypaws</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160347">Bililo Bilo</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159430">Ddraig Valcun</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1169935">Adam Steel</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/tiger_jock_Folsky.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>107</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159277">Rajara Paw</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (107)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a> (77)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (45)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159889">Zander Craft</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159516">Mary Melons</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159571">Jin Locke</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1168426">Squishy Cow</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159330">Sherry Port</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1166637">Anna Zarate II</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1168380">Riley Forrester</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cocktail_dress_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>43</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a> (43)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159260">Catalina Maggard</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1174076">Jaeden Colbert II</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159289">Deacon Purcell</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167267">Helena White II</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160347">Bililo Bilo</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159411">Fraylli Blackfang</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1170682">Christopher Danny II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cocktail_dress_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1161630">Rowen Parrott</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1161385">Cloud Blossom</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159472">Rob Martinson</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1173326">Albus Alvarez VIII</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1165131">Training Collar</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159640">Aissa Hemphill</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1166280">Trisha Fuckdoll</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Shirohebi_Shrine_Maiden_puyo.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>372</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a> (372)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160184">Mommy Jude</a> (94)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159455">Braylon Fortune</a> (85)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (65)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160007">Woofle Barks</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159273">Tomiko Hewitt</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (37)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>498</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (498)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (305)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (149)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159778">Sissy Panties</a> (105)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1172491">Ash Terra II</a> (102)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (97)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1172473">Cooper Cable</a> (97)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a> (96)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1166385">Meredith Blaine</a> (91)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (87)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>100</b></p>
            <p>
                <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (100)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (53)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (42)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1170316">Mad Cat</a> (41)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (39)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1165601">Alex Lindley</a> (34)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159257">Sarah Karr</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159309">Ellis Hamlin</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1165757">Colleen Wallace</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>500</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (400)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (131)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1166385">Meredith Blaine</a> (109)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159778">Sissy Panties</a> (107)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1172491">Ash Terra II</a> (105)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1172473">Cooper Cable</a> (100)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (99)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (92)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (88)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/teacup_catgirl_CJ.gif" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159887">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159887">Purriscilla Nyekobornya</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1163091">Junius Varney II</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1167174">Dolly Lilac</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159989">Jessie Quincy</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167036">Reese Shepherd II</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159832">Grace Daner</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1168332">Valarie Kennedy</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/uncut_cock_Raven_Aoki.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (19)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159315">Nadia Ayers</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159736">Stephen Welles</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159581">Dianne Cooley</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1166385">Meredith Blaine</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159363">Gaia Grissom</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1166637">Anna Zarate II</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159330">Sherry Port</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159268">Martha Arclily</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159373">Milo Anon</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159800">Luciano Joyner</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159736">Stephen Welles</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160549">Cleo Wren</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1164614">Stephanie Moore</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/regal_bronze_bikini_bottom_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,593</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159348">Skimpy Thong</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159348">Skimpy Thong</a> (39,593)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159563">Evergrowing Titties</a> (37,345)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159272">Ginormous 'Jiggling' Jessietits</a> (37,215)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159316">Auly Jua</a> (36,885)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159407">Frilly Lace</a> (36,660)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159545">Zoe's Precious-Pillow</a> (36,470)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160049">Phoebe Stormbringer</a> (36,420)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159412">Erin Oaks</a> (36,123)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159499">Evil Stockings</a> (35,490)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160068">Joe Nobody</a> (33,105)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/knotty_bitch_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,860</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159271">Stupid Bitch</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159271">Stupid Bitch</a> (39,860)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159320">Harper Smothers</a> (39,810)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159325">Glenna Coy</a> (35,025)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159375">Taylor's FuckCow</a> (34,045)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159365">Sasha Ddraig's-Dobergirl-Bodyguard</a> (33,665)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159482">James Fox</a> (31,160)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159614">Camelo Fenwick</a> (30,030)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159857">Kai Butsu</a> (30,010)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159436">Her Toy</a> (29,560)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159340">Panty Licious</a> (25,455)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>73,310</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (73,310)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (50,110)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (33,471)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (30,200)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (18,790)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159373">Milo Anon</a> (18,117)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1169049">Corrupt Gem II</a> (13,976)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (12,284)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (11,263)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159778">Sissy Panties</a> (11,038)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/tiger_jock_Folsky.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>27,338</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159277">Rajara Paw</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (27,338)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1169935">Adam Steel</a> (4,622)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (3,702)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (2,977)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159887">Purriscilla Nyekobornya</a> (2,506)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159430">Ddraig Valcun</a> (2,100)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (1,662)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160222">Kiseki Hyral</a> (1,405)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159988">Sawyer Marchand II</a> (1,336)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (1,264)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>11,590</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (11,590)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159334">Henny Wuns</a> (3,970)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (2,770)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (2,560)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1161547">Kaede Yamabuki II</a> (1,490)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159807">Jennie Stein</a> (1,070)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1166946">Vinley Manor</a> (1,050)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1170847">Lucy Meadows III</a> (920)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1167515">Sparks Emily</a> (910)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (810)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>8,500</b></p>
            <p>
                <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (8,500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159284">Arknessi Nyathe</a> (1,700)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160007">Woofle Barks</a> (1,460)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (1,270)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1166401">Deon Squires</a> (1,200)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1167012">Vandes Floria</a> (1,050)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167159">Solarus Stack</a> (1,030)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1172491">Ash Terra II</a> (950)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1161816">Molly Sorrowkitty</a> (910)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (850)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>812</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (812)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (241)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (150)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (105)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1170136">Delia Winterii</a> (89)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1165662">Vixen Fox II</a> (79)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (73)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (69)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1166385">Meredith Blaine</a> (64)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (53)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>150</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160043">Zane Desombre</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (150)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (67)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1168703">Kara Dunlap</a> (66)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1167036">Reese Shepherd II</a> (46)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160991">Shuyi Tsuyoiha</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1161304">Kelly Fae</a> (32)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159989">Jessie Quincy</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159643">Tempos First</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160367">Rubber Slut</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159365">Sasha Ddraig's-Dobergirl-Bodyguard</a> (20)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lesb_bimbo_allbadbadgers.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>4</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159529">Tristen Humphreys</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159529">Tristen Humphreys</a> (4)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159989">Jessie Quincy</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167036">Reese Shepherd II</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>76</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160043">Zane Desombre</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (76)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159989">Jessie Quincy</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159454">Lileath Aisling</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159430">Ddraig Valcun</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1161304">Kelly Fae</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1167001">Airy Elle</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159761">Kayson Mckeever</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/cocktail_dress_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159255">Sparkling Enchantment</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159260">Catalina Maggard</a> (16)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1174076">Jaeden Colbert II</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159289">Deacon Purcell</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160347">Bililo Bilo</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159411">Fraylli Blackfang</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159372">Jenna Avalos</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/tiger_jock_Folsky.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>172</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159277">Rajara Paw</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (172)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1163028">Amanda Douglas</a> (127)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1169935">Adam Steel</a> (78)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159265">Shredster Khan</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1165968">Jasper Ortiz</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (17)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159260">Catalina Maggard</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/alluring_lioness_asheraart.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>12</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159693">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159693">Rosa Fortune</a> (12)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160085">Xander Nikos</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159716">Catherine Nyekobornya</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159688">Dicey Flynn</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159315">Nadia Ayers</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159334">Henny Wuns</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159840">Juliet Cain</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159307">Raya Paxton</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160138">Roxy Fluffypaws</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>105,850</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (105,850)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (64,525)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160184">Mommy Jude</a> (15,950)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159461">Candide Azral</a> (13,775)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159936">Tiffany Anders</a> (9,425)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159970">Foster Paxton</a> (9,425)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159315">Nadia Ayers</a> (8,700)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159260">Catalina Maggard</a> (7,250)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159266">Weston Silverman</a> (7,250)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159529">Tristen Humphreys</a> (6,525)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Shirohebi_Shrine_Maiden_puyo.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>124</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159891">Nyannabelle Nyandrews</a> (124)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159638">Jess Kitsune</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1166258">Erna Sharpe</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1168167">Tray Micah</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1172194">Phoenix Easley VIII</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1165731">Jack Saw</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159372">Jenna Avalos</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159968">Flay Fuzzdurg</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1168818">Bryce Hooker</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1169991">Fenny Reiko</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159354">Kiyoko Suzuki</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159529">Tristen Humphreys</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159643">Tempos First</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167699">Mindbound Slave</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1160138">Roxy Fluffypaws</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1168167">Tray Micah</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1165575">Stoney Beast</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/ordinary_foot_Hei.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,582</b></p>
            <p>
                <a href="/pvp/lookatplayer/1163287">Just Another-foot</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1163287">Just Another-foot</a> (1,582)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159373">Milo Anon</a> (442)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159363">Gaia Grissom</a> (352)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1169935">Adam Steel</a> (297)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159716">Catherine Nyekobornya</a> (217)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159658">Zoe's Bitch</a> (215)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1164614">Stephanie Moore</a> (187)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (182)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1170024">Chuy Chuy</a> (179)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_13_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>500</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159363">Gaia Grissom</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159363">Gaia Grissom</a> (500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1170553">Astreya Labell</a> (181)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159688">Dicey Flynn</a> (142)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1164038">Kur Dogge</a> (108)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160536">Amazon Queen</a> (105)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159461">Candide Azral</a> (89)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167091">Max Roman</a> (82)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159330">Sherry Port</a> (72)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159673">Absorption Lover</a> (71)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1167699">Mindbound Slave</a> (68)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>41</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (41)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (25)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159266">Weston Silverman</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1161614">Victoria Angulo</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159936">Tiffany Anders</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1161681">Vhaidra Tyl'saris</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159327">Nerati Sua</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160589">Vix Winfield</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (152)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (140)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (117)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1161681">Vhaidra Tyl'saris</a> (103)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159266">Weston Silverman</a> (89)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (69)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1161614">Victoria Angulo</a> (56)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1168846">Latasha Laird</a> (55)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a> (48)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>344</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (344)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (178)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (139)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159774">Devon Barela</a> (126)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (123)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (94)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (71)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159541">Selena Rose</a> (69)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159800">Luciano Joyner</a> (64)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159420">Lady Mitsuko</a> (62)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>55</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159333">Witch Mary</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (55)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (37)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159541">Selena Rose</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159774">Devon Barela</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159716">Catherine Nyekobornya</a> (16)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159420">Lady Mitsuko</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159309">Ellis Hamlin</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/tiger_jock_Folsky.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>78</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159277">Rajara Paw</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (78)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159774">Devon Barela</a> (55)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160549">Cleo Wren</a> (39)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1162876">Brennen Irons III</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159352">Crystal Draper</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160000">Veln Moonscythe</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1163091">Junius Varney II</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1163139">Tzitra Silk</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1161385">Cloud Blossom</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>184</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (184)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159541">Selena Rose</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1161385">Cloud Blossom</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160463">Colton Donaldson II</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159352">Crystal Draper</a> (24)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159307">Raya Paxton</a> (21)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1165131">Training Collar</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (92)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (82)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (16)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1160099">Eric Finney</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1160371">Heather Lindgren</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1166385">Meredith Blaine</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1162138">Stephen Damon</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159989">Jessie Quincy</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159429">Amazonian Foot</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1159363">Gaia Grissom</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>48</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (48)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159774">Devon Barela</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1168332">Valarie Kennedy</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1160576">Jesse 'Enchantment?' Andersen</a> (31)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160549">Cleo Wren</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159939">Britney Arellano</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1159794">Trixi Crimsontail</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1172969">Silver Fisher</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>102</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159259">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (102)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159800">Luciano Joyner</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1159420">Lady Mitsuko</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159333">Witch Mary</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159277">Rajara Paw</a> (31)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1160043">Zane Desombre</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1162099">Bold Adventurer</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160311">Susanna Succubi</a> (13)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1161438">Octavius Wiley</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>587</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159259">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159259">Freya Rein</a> (587)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1159423">Dianna Tracy</a> (351)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1162218">Cuop Gvn</a> (244)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159936">Tiffany Anders</a> (235)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1159308">Michael Rochard</a> (218)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1164445">Serra Struix</a> (208)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1169830">Teresa Groff</a> (195)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1159315">Nadia Ayers</a> (182)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1160222">Kiseki Hyral</a> (180)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1170225">Jacqueline Tancaraz</a> (169)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>200</b></p>
            <p>
                <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1159291">Zoe 'Spooky' Spirit</a> (200)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1167036">Reese Shepherd II</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1160589">Vix Winfield</a> (20)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1159660">Mia Sonata</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1166233">Rose Bell</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1167668">Penumbra Marquez</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1167323">Susanne Baez III</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1164056">Ilia Sock</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1164419">Lukas Rossco III</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1167267">Helena White II</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>