<div class="containerInner">

    <h1>Statistics Leaders</h1>

     <br><br>

    <div class="row">
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Gothic_Catgirl_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hawkeye</h3>
                        <p><i>Times searched:</i> <b>15,095</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227435">Samuel Jones</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_searched"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227435">Samuel Jones</a> (15,095)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226869">Kris Latex</a> (12,995)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226890">Purriscilla Nyekobornya</a> (10,266)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226926">Adrienne Cobb</a> (8,417)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226953">Mauve Meldellevo</a> (6,562)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227956">Roxy Rathbone</a> (6,002)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227991">Hu Cow II</a> (5,261)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1228914">Lefen Wolfe</a> (5,204)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227672">Needy Fucktoy</a> (5,005)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227926">Tinkerbell Cockslut</a> (4,721)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
                        <p><i>Spells cast:</i> <b>4,300</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227170">Kim Burly</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_spells_cast"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227170">Kim Burly</a> (4,300)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (2,322)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (2,196)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (2,024)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (1,954)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (1,905)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226989">Elian Barbosa</a> (1,714)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (1,561)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (1,502)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (1,469)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Restless One</h3>
                        <p><i>Times moved:</i> <b>21,863</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_moved"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (21,863)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (16,122)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (15,990)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1229359">Malynn Amber</a> (9,494)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1229369">Siriana Lakeborn</a> (8,814)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (7,937)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (7,434)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (6,808)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226875">Serra Struix</a> (5,904)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1238233">April Enriquez</a> (5,671)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Huntress_nerati_amauryworks.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hypochondriac</h3>
                        <p><i>Times cleansed:</i> <b>11,048</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_cleansed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (11,048)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (10,056)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (7,215)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226971">Julian Delphki</a> (3,609)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (1,965)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1236994">Dot Sisco</a> (1,937)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227095">Catherine Moonlight</a> (1,647)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226989">Elian Barbosa</a> (1,589)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227352">Jacqueline Tancaraz</a> (1,574)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (1,365)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Lost in Thought</h3>
                        <p><i>Times meditated:</i> <b>3,750</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227170">Kim Burly</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_meditated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227170">Kim Burly</a> (3,750)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (910)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226853">Tiffany Anders</a> (792)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227191">Bison Longhorn</a> (715)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227238">Kaitlyn Kat</a> (705)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1226872">Samson Sheets</a> (637)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (621)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226928">Alexis Steele</a> (543)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (532)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (508)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/cupcake_demon_luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
                        <p><i>Times enchanting:</i> <b>1,769</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226853">Tiffany Anders</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_enchanted"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226853">Tiffany Anders</a> (1,769)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226928">Alexis Steele</a> (742)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (647)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227191">Bison Longhorn</a> (590)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226989">Elian Barbosa</a> (520)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227726">Mechanna Bronzeheart</a> (514)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (469)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1228044">Kash Helm</a> (367)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227152">Emila Ishki</a> (246)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (235)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
                        <p><i>Net Arpyjis donated to covenant:</i> <b>115,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226880">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_net_donations"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (115,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (100,000)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (22,500)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226867">Lindsay Bradley</a> (12,500)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (12,500)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (12,080)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226849">Christi Bender</a> (11,200)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (10,200)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (9,000)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (8,760)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Couch Potato</h3>
                        <p><i>Times using covenant furniture:</i> <b>139</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_furniture_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (139)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (115)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227435">Samuel Jones</a> (37)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (22)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (20)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227191">Bison Longhorn</a> (12)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (10)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (10)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227904">Alyssa Ashmore</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/mouthful_of_liquid_slut_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
                        <p><i>Times transformed into an animate form:</i> <b>50</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (50)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227067">Martha Arclily</a> (40)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (38)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227010">Annabelle Barbosa</a> (31)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226977">Maxus Zee</a> (30)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227204">Tiffany Cooks</a> (30)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1238855">Erin Mora</a> (29)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227678">Smug Bitch II</a> (24)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1232592">Layla Perry</a> (23)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1232777">Aaron Cruise II</a> (22)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimated</h3>
                        <p><i>Times transformed into an inanimate form:</i> <b>20</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226880">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (20)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (16)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227219">Catalina Maggard</a> (13)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1237771">Leah Spur</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1241412">Kelly Bnuuy</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229360">Prancing Ponyboots</a> (7)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1237048">Kiera Love</a> (7)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1240545">Sandy Irby</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1240409">Ruby Frederick</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1239215">Patty Olivarez</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
                        <p><i>Times transformed into a pet form:</i> <b>10</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226880">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animal"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (10)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227067">Martha Arclily</a> (5)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227219">Catalina Maggard</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1232592">Layla Perry</a> (4)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1236584">Sissy Rubberdoll</a> (4)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1234290">Karla Singer</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1228617">Derrick Long</a> (4)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1240646">Carly Rain</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1241066">Cum Slave</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/donkey_dominatrix_danaume.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Animator</h3>
                        <p><i>Targets transformed into an animate form:</i> <b>800</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227170">Kim Burly</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227170">Kim Burly</a> (800)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227191">Bison Longhorn</a> (81)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226974">Cursed Cocksucker</a> (64)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (58)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227010">Annabelle Barbosa</a> (53)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229362">Boston Correria</a> (41)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226998">Tomiko Hewitt</a> (37)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (36)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (36)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1230998">Spurius Crowley II</a> (36)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimator</h3>
                        <p><i>Targets transformed into an inanimate form:</i> <b>400</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (400)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (212)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (168)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (155)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (154)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (151)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (131)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (123)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226867">Lindsay Bradley</a> (117)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227453">Zane Desombre</a> (113)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petmaker</h3>
                        <p><i>Targets transformed into a pet form:</i> <b>200</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animaling"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (200)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (135)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (130)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226875">Serra Struix</a> (71)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227031">Masa Mune</a> (69)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227238">Kaitlyn Kat</a> (51)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (29)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227814">Monica Harter</a> (28)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (27)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226964">Bunny Buxton</a> (26)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
                        <p><i>Psychopathic Spellslingers defeated:</i> <b>425</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_psychos_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (425)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (265)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (182)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (181)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (173)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (162)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (152)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (150)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (149)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (145)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/Bratty_Pet_Angel_CyberKaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fast Commute</h3>
                        <p><i>Teleport scrolls used:</i> <b>95</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226890">Purriscilla Nyekobornya</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_teleported_scroll"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226890">Purriscilla Nyekobornya</a> (95)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (10)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227762">Jack Scythe</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227919">Bubble Butt</a> (4)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226959">Penny Razzle</a> (3)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228914">Lefen Wolfe</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1231033">'Bold Sunny-Valdes</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1230998">Spurius Crowley II</a> (2)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1228470">Maya Lorraine</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1231637">Candide Bailey</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/domesticated_wolfgirl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
                        <p><i>Times played with Jewdewfae:</i> <b>70</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_jewdewfae_completions"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a> (70)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (58)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (30)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1228202">Steve Welles</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227538">Shredster Khan</a> (12)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1230988">Dustin Craven</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1232592">Layla Perry</a> (4)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227219">Catalina Maggard</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
                        <p><i>Tomes read:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lore_books_read"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1228202">Steve Welles</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227569">Kyrah Binbow</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227926">Tinkerbell Cockslut</a> (13)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227919">Bubble Butt</a> (12)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1231342">Claire ASSbard</a> (11)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227935">John Ignis</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227428">Princess Cumslut</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227615">Jehauri Salamander</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1231826">Gilana Byers II</a> (6)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/uncut_cock_Raven_Aoki.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
                        <p><i>XP gained as an inanimate item:</i> <b>40,340</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226987">Jessie's Cock</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_inanimateXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226987">Jessie's Cock</a> (40,340)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227125">Joe Nobody</a> (40,260)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227047">Balloon Toy</a> (39,900)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226984">Noreen's Best-Pillow</a> (39,065)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227023">Fondant Hoofwarmers</a> (38,320)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227415">Steamy Stockings</a> (36,150)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227596">Evergrowing Titties</a> (35,485)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227781">Noreen's Snuggly-Sweater</a> (34,965)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227579">Inflate Dolly</a> (34,315)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1228172">Alyssa's Favourite-Hiphuggers</a> (34,305)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/animalPortraits/Thumbnails/100/playful_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petter off this Way</h3>
                        <p><i>XP gained as an pet.:</i> <b>40,215</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227243">Wulfie Wulf</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_petXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227243">Wulfie Wulf</a> (40,215)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227026">Snow-Syrros Vix’s-Princess</a> (39,775)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227487">Asaga Oakrun</a> (38,255)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226957">Precious Kitsune-Floof</a> (37,665)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226888">Delicious Dragonette</a> (34,333)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227679">Nadia's DaringFox</a> (34,230)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1228893">Kaitlyn's Submissive</a> (32,065)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1231843">Sia Deffin</a> (31,060)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1228234">Brenton Reynoso</a> (30,655)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227190">Elyette Oceana</a> (30,505)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Seller</h3>
                        <p><i>Net profit from selling to Lindella:</i> <b>100,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (100,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (60,590)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (58,130)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (27,621)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (20,261)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (17,412)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (16,254)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227935">John Ignis</a> (15,935)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (15,684)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (13,484)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Consumer</h3>
                        <p><i>Net loss from buying from Lindella:</i> <b>5,208</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226961">Penny Braun</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (5,208)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226890">Purriscilla Nyekobornya</a> (3,931)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227636">Rose Terra</a> (2,446)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1230988">Dustin Craven</a> (1,626)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1234165">Braxton Key</a> (1,584)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227814">Monica Harter</a> (1,361)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1236519">Estella Trahan</a> (1,190)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229583">Lira Mhiora</a> (853)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227976">Kasper Sovari</a> (788)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227633">Aydin Webster</a> (775)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
                        <p><i>Profit from selling to Wuffie:</i> <b>50,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226880">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (50,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (6,030)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a> (4,830)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227935">John Ignis</a> (2,480)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (1,880)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1241160">Plush Pillow</a> (1,550)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1238233">April Enriquez</a> (1,360)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1233887">Alice Deberry</a> (970)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226890">Purriscilla Nyekobornya</a> (720)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1234550">Nathan Blackwell</a> (590)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
                        <p><i>Loss from buying from Wuffie:</i> <b>20,800</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (20,800)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227007">Psycopath Laura</a> (1,450)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (1,000)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1229982">Constance Nuvelle</a> (1,000)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1229047">Emiko Rosebell</a> (800)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228157">Vera Witherspoon</a> (785)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226977">Maxus Zee</a> (685)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1236533">Yuki Whitefang</a> (560)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227276">Veln Moonscythe</a> (500)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1233546">Jesse Ripley II</a> (500)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
                        <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>875</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lorekeeper_spells_learned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (875)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (353)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1228441">Vivianne Mcqueen</a> (161)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (148)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (147)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229724">Juana Lester</a> (93)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227453">Zane Desombre</a> (91)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (89)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (57)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (53)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
                        <p><i>Dungeon artifacts found:</i> <b>142</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_artifacts_found"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (142)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226915">Vela Spadaccini</a> (86)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1229505">Reese Shepherd</a> (59)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1238233">April Enriquez</a> (21)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1231071">Silky Gown</a> (20)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228914">Lefen Wolfe</a> (19)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227610">Princess Mewmew</a> (15)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226872">Samson Sheets</a> (15)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (13)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226875">Serra Struix</a> (12)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Demonslayer</h3>
                        <p><i>Dungeon demons defeated:</i> <b>22</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_demons_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (22)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1229605">Fiery Cataclysm</a> (6)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227352">Jacqueline Tancaraz</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1233679">Stoney Chillfawx</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226875">Serra Struix</a> (2)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227184">Glena Coy</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/manly_man_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
                        <p><i>Dungeon points stolen from victims:</i> <b>13</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1239624">Patrice Sparks</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_points_stolen"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1239624">Patrice Sparks</a> (13)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227131">Umbriel Bordeleau</a> (10)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226962">Nerati '🚫 No Bully! 🚫' Sua</a> (10)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1232544">Eliza Starr</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1231071">Silky Gown</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1236362">Prios Priosprios</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (7)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (7)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1238233">April Enriquez</a> (6)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/wonder_girl_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
                        <p><i>Times struggled back to an animate form:</i> <b>30</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226880">Holly Ryder</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_struggled_free"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (30)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (19)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227219">Catalina Maggard</a> (16)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227067">Martha Arclily</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227204">Tiffany Cooks</a> (7)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1238855">Erin Mora</a> (6)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1240646">Carly Rain</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1239150">Tamara's Choco-Milk</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1232777">Aaron Cruise II</a> (5)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1228617">Derrick Long</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/domesticated_wolfgirl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
                        <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>75</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_transmogs_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a> (75)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (54)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (29)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227538">Shredster Khan</a> (27)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1230988">Dustin Craven</a> (25)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228202">Steve Welles</a> (24)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227219">Catalina Maggard</a> (21)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
                        <p><i>Covenant Callback Crystals used:</i> <b>25</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227472">Rachel Wax</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_callback_crystals_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (25)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1236513">Taylor Chambers</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227681">Siora Cleary</a> (2)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (1)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1228838">Diana Rigby</a> (1)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229652">Math Pell</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229299">Leek Takehiro</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1231368">Vicki Haley II</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dollyamory</h3>
                        <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>2,537,500</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dolls_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (2,537,500)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (2,032,900)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (1,667,500)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227013">Tara Sapphire</a> (1,659,525)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227461">Sally Humphries</a> (1,571,800)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1226869">Kris Latex</a> (1,477,550)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226867">Lindsay Bradley</a> (1,469,575)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226917">Dicey Flynn</a> (1,402,875)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227359">Milo Anon</a> (1,360,100)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226975">Celeste Rosemary</a> (1,260,050)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Deluded_Diva_Nitty.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
                        <p><i>Quests failed:</i> <b>120</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227010">Annabelle Barbosa</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_failed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227010">Annabelle Barbosa</a> (120)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1228027">Jess Kitsune</a> (47)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (41)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1228617">Derrick Long</a> (23)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1231608">Serena Forrester</a> (22)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228151">Liam Stroup</a> (20)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1229362">Boston Correria</a> (19)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227693">Silthrim Gailer</a> (17)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227111">Fiona Trissia</a> (17)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1240646">Carly Rain</a> (17)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Adventure Time!</h3>
                        <p><i>Quests passed:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_passed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227571">Mayra Nielson</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1231071">Silky Gown</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1231826">Gilana Byers II</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227935">John Ignis</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227238">Kaitlyn Kat</a> (11)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227991">Hu Cow II</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229255">Ikari Uriza</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1233679">Stoney Chillfawx</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1233895">Starling Song</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/fuck_nugget_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
                        <p><i>Total distance riding the bus:</i> <b>5,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_busrides"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (5,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a> (655)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227013">Tara Sapphire</a> (617)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1229849">Ranny Ran</a> (589)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227678">Smug Bitch II</a> (355)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229369">Siriana Lakeborn</a> (314)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (277)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229359">Malynn Amber</a> (270)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (256)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1237829">Cason Tong</a> (230)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
                        <p><i>Total targets hit with TG Splash Orbs:</i> <b>203</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227415">Steamy Stockings</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_tg_bomb_hits"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227415">Steamy Stockings</a> (203)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227976">Kasper Sovari</a> (186)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1229678">Molly Carmona</a> (123)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227138">Jesse Ruth</a> (102)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226973">Charlie Scott</a> (102)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (92)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226887">Gaia Grissom</a> (78)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226926">Adrienne Cobb</a> (73)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227302">Joan Medrano</a> (69)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227010">Annabelle Barbosa</a> (66)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Player Transformayer</h3>
                        <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>89</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226961">Penny Braun</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_player_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (89)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (50)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226962">Nerati '🚫 No Bully! 🚫' Sua</a> (31)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226974">Cursed Cocksucker</a> (25)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (18)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1229238">Kelley Mcdermott</a> (17)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (15)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226923">Jaeden Colbert</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1232592">Layla Perry</a> (10)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226964">Bunny Buxton</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Level Shmevel</h3>
                        <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>418</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226961">Penny Braun</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_total_level_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226961">Penny Braun</a> (418)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (376)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226962">Nerati '🚫 No Bully! 🚫' Sua</a> (118)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226974">Cursed Cocksucker</a> (100)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (81)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1236362">Prios Priosprios</a> (68)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (59)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1229238">Kelley Mcdermott</a> (51)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226964">Bunny Buxton</a> (42)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1226928">Alexis Steele</a> (37)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
                        <p><i>Times attacking boss NPCs:</i> <b>407</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_totalBossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (407)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (173)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (148)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (82)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (61)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (58)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (58)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226849">Christi Bender</a> (52)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226872">Samson Sheets</a> (52)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227138">Jesse Ruth</a> (45)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/girltaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">I Am the Law!</h3>
                        <p><i>Times attacking the Seekshadow thieves:</i> <b>55</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_ratThiefAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (55)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (41)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (19)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227009">Devon Barela</a> (18)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1226868">Cleo Wren</a> (16)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227348">Zoe 'Hypnotized' Spirit</a> (14)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227636">Rose Terra</a> (14)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (13)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227138">Jesse Ruth</a> (12)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227694">Lady Mitsuko</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
                        <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>50</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_lovebringerAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (50)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (43)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (34)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226875">Serra Struix</a> (26)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227184">Glena Coy</a> (26)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (19)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226889">Vixen Fox</a> (19)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (16)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227832">Amber Kraus</a> (13)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227274">Kiyoko 'Cock Sleeve' Haley</a> (13)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Down With Donna!</h3>
                        <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>147</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_donnaAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (147)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (69)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (29)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (28)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227138">Jesse Ruth</a> (26)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1228522">Jessie Quincy</a> (18)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1226928">Alexis Steele</a> (18)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1228655">Anne Boudreau</a> (17)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227348">Zoe 'Hypnotized' Spirit</a> (16)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (15)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fae-Away</h3>
                        <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>128</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_faebossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (128)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227681">Siora Cleary</a> (42)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227595">Erin Wolfe</a> (36)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (24)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227352">Jacqueline Tancaraz</a> (22)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1233679">Stoney Chillfawx</a> (15)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (12)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1233895">Starling Song</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/mouthful_of_liquid_slut_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Brisby Battler</h3>
                        <p><i>Times attacking either of the Brisby twins:</i> <b>112</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_mouseSisterAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (112)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226872">Samson Sheets</a> (42)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (29)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1228027">Jess Kitsune</a> (17)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227009">Devon Barela</a> (13)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227045">Eric Finney</a> (7)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1238112">Rosie Keyser</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/bound_and_helpless_kitten_Ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
                        <p><i>Times attacking Harley the Road Queen:</i> <b>52</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226849">Christi Bender</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_motorcycleGangAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226849">Christi Bender</a> (52)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (41)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226880">Holly Ryder</a> (39)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226942">April '🍩🍪🧁' Expo</a> (38)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1230722">Lindsay Bradiey</a> (27)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227562">Tessa Mauro</a> (23)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1230992">Lucy Willis</a> (19)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1228560">Maria Hannon</a> (15)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1230988">Dustin Craven</a> (15)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227184">Glena Coy</a> (15)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/spider_maid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A Change in Management</h3>
                        <p><i>Times attacking any mini-boss:</i> <b>1,439</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226989">Elian Barbosa</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_minibossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226989">Elian Barbosa</a> (1,439)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227352">Jacqueline Tancaraz</a> (649)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (347)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1226864">Fluki Nyan</a> (245)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1229359">Malynn Amber</a> (245)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1231844">Liliana Victor</a> (244)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227530">Dany Flor</a> (237)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227371">Kiera Dierst</a> (216)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226849">Christi Bender</a> (202)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (180)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/Gothic_Catgirl_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
                        <p><i>Number of mind control commands issued:</i> <b>849</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1227238">Kaitlyn Kat</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_mind_control_commands_issued"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1227238">Kaitlyn Kat</a> (849)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1226872">Samson Sheets</a> (672)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1227348">Zoe 'Hypnotized' Spirit</a> (445)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227904">Alyssa Ashmore</a> (317)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227634">Sammi Trudeau</a> (205)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227694">Lady Mitsuko</a> (149)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227743">Isabelle Ravenspire</a> (147)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1228914">Lefen Wolfe</a> (144)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226958">Silke Hoseslut</a> (115)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227611">Red Arclily</a> (99)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="/Images/PvP/achievements/tender_affection.gif" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="/Images/PvP/portraits/Thumbnails/100/mechanic_fluff.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Tender Affection</h3>
                        <p><i>Times interacting with souled possessions:</i> <b>2,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/1226967">Jessie Rainbow</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_item_pet_interaction"><div>
            <p>
                1. <a href="/pvp/lookatplayer/1226967">Jessie Rainbow</a> (2,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/1227172">Amanda Douglas</a> (1,938)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/1226860">Nadia Ayers</a> (1,294)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/1227241">Dianna Tracy</a> (934)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/1227736">Infern Ryu</a> (682)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/1227472">Rachel Wax</a> (625)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/1227453">Zane Desombre</a> (611)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/1227225">Sasha Golz</a> (413)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/1226969">Ryuko 'dreaming' Haley</a> (406)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/1227034">Vix Winnfield</a> (293)
            </p>

</div></div>

                </div>

    </div>

    <div id="topTypeList"></div>



</div>