<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>5,793</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (5,793)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367207">Janeen Wiccanshire</a> (3,794)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367100">Panty Hose</a> (3,589)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (3,400)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367170">Selina Muliaina</a> (3,167)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367073">Nyasa Meownya</a> (3,043)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/373165">Ruby Blaize IV</a> (3,037)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367228">Melody Ng</a> (2,530)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366914">Meryl Crandall</a> (2,397)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/370662">Candace Reeve</a> (2,387)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,188</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367056">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (2,188)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (1,878)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (1,864)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (1,677)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (1,358)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (1,339)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/371270">Karina Demonia III</a> (1,255)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (1,220)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367239">Luna Moonwell</a> (1,105)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (1,095)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,690</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (7,690)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (6,224)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (5,691)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (5,155)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (5,055)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (4,103)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (3,917)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/368176">Lisa Latex</a> (3,753)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (3,618)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (3,535)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,140</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (2,140)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (1,964)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (1,622)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (1,092)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (736)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (639)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (559)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/369928">Ada Vanderleeden</a> (494)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (488)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (425)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,342</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (1,342)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (1,254)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (1,143)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367239">Luna Moonwell</a> (897)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (872)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (831)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (829)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/368223">Rob White</a> (818)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (751)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (641)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,142</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/368223">Rob White</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/368223">Rob White</a> (1,142)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366791">Ziggy Anvil</a> (989)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366830">Henny Wuns</a> (513)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367260">Morgan Moss</a> (289)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367100">Panty Hose</a> (214)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (162)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (139)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/368176">Lisa Latex</a> (135)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366901">Lizzie Binbow</a> (127)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366992">Mike Alexander</a> (109)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>27,500</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (27,500)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (22,940)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (13,160)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (6,860)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (5,660)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/368176">Lisa Latex</a> (4,800)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (4,620)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367518">Nick Harper</a> (3,600)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366842">Rene Hawks</a> (3,500)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366791">Ziggy Anvil</a> (2,600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>103</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (103)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (91)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (85)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366830">Henny Wuns</a> (26)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (19)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (16)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (14)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/373481">Seras Victoria II</a> (12)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (11)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>117</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (117)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (93)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/370433">Vita Barbour IV</a> (55)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366994">Wolfy Kitty</a> (47)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (46)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/372113">Olwen Button II</a> (46)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367239">Luna Moonwell</a> (44)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366908">Alex Danether</a> (36)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (35)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/sucker_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>17</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367296">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367296">Princess Lily</a> (17)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367635">Jackie Jackman</a> (16)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/375389">Damian Fuchs II</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/375406">Geriella Bubble II</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/375261">Dishy Pwush III</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/375255">King Wallis</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367100">Panty Hose</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/375081">Dishy Wishy</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/371270">Karina Demonia III</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/372191">Kenneth Winter III</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/sucker_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367296">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367296">Princess Lily</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/373375">Venne Gerov II</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/375255">King Wallis</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/372113">Olwen Button II</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/375118">Samuel Diamond</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/372140">Circe Hamilton II</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367291">Lesser Dog</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/372856">Luke Rudolph II</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/375276">Harry Orton</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/372174">Kirith Leingod</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>105</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (105)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367239">Luna Moonwell</a> (95)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (94)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/372113">Olwen Button II</a> (64)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/372986">Maxine Mills</a> (55)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/370713">Retz Stearns</a> (42)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/371270">Karina Demonia III</a> (41)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/370433">Vita Barbour IV</a> (38)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367061">Will Wolf</a> (35)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367443">Kellie Hemphill</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>147</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (147)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (120)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (117)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (91)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (50)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (46)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/371304">Suzanne Brumfield</a> (45)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/374707">Kali Diya III</a> (44)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/369928">Ada Vanderleeden</a> (41)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_blue_haired_girl_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>87</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (87)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (31)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/371270">Karina Demonia III</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367192">Won Meju</a> (11)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/372174">Kirith Leingod</a> (10)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/371268">Wesley Waddell</a> (10)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/375389">Damian Fuchs II</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>146</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (146)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (123)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (79)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (67)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/371304">Suzanne Brumfield</a> (45)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/374707">Kali Diya III</a> (44)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367192">Won Meju</a> (44)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/369928">Ada Vanderleeden</a> (41)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (36)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367612">Vivianne Mcqueen</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/idly_flicking_tail_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>4</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/369443">Yukis Tail</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/369443">Yukis Tail</a> (4)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (3)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366877">Audrey Parent</a> (2)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367872">Kody Solis</a> (2)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366839">Eden Venatori</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366791">Ziggy Anvil</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367197">Cora Emmons</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366808">Game Hound</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367772">Piercea Shadowgloom</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367541">Phoebe Stormbringer</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/dragon_slayer_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>51</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (51)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (45)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (45)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (40)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (38)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (33)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (26)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (25)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367436">Aureliana Byrne</a> (25)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367549">Evangelina 'Blood and Honey' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367549">Evangelina 'Blood and Honey' Kraft</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (11)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366830">Henny Wuns</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/370045">Rita Davies</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/368176">Lisa Latex</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/knitted_bra_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,840</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366789">Amy '♡supportive♡' Tong</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366789">Amy '♡supportive♡' Tong</a> (24,840)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366817">Leah Velvetdream</a> (22,525)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366812">Thomas Redyche</a> (20,690)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367347">Sealed Jessicock</a> (19,765)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367227">Kitty 'Cunny' Cover</a> (19,650)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366878">Calem Cotton</a> (19,168)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366820">Lilith Demonica</a> (16,945)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366893">Sarah Blackwell</a> (16,285)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367595">Ai 'Tight and Loving' Naoi</a> (16,235)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367114">Elizabeth Reynolds</a> (16,015)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/snow_cabbit_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,440</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366801">Airi Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366801">Airi Ithilwen</a> (24,440)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367365">Priscilla Stott</a> (23,650)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367016">Cassie Cowslut</a> (23,465)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367092">Dani Colorado</a> (21,505)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366818">Melina 'Moocow' Mercy</a> (20,355)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366989">Sidney Quinn</a> (18,445)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366821">Dorothy Silver</a> (18,215)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367541">Phoebe Stormbringer</a> (17,410)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366838">Shadow Retz</a> (15,740)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367130">Digi Aeracin</a> (13,730)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>19,057</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367056">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (19,057)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (17,674)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (15,109)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (12,464)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367877">Dex Hard</a> (9,806)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367170">Selina Muliaina</a> (8,712)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/368176">Lisa Latex</a> (8,422)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (7,519)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (6,435)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367612">Vivianne Mcqueen</a> (6,139)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/shy_blue_haired_girl_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>5,478</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (5,478)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366880">Madge Mercy</a> (1,653)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/370735">Luis Reese</a> (1,246)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/369928">Ada Vanderleeden</a> (1,244)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/373707">Terri Downey</a> (1,176)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367436">Aureliana Byrne</a> (817)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367653">Dordy Dordson</a> (779)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/371304">Suzanne Brumfield</a> (675)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/368704">Terri Henning</a> (667)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366919">Tem Nan</a> (600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>14,919</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (14,919)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (2,348)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (2,197)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/370735">Luis Reese</a> (1,713)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/372159">Leia Round III</a> (1,573)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/373707">Terri Downey</a> (1,572)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/368704">Terri Henning</a> (1,301)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (876)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367475">Veln Moonscythe</a> (836)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/372113">Olwen Button II</a> (829)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/ibbl.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>460</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/373258">Beverly Burdette II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/373258">Beverly Burdette II</a> (460)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366839">Eden Venatori</a> (405)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367605">Afituz Izagi II</a> (227)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367241">Lord Byers</a> (221)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367207">Janeen Wiccanshire</a> (200)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/369928">Ada Vanderleeden</a> (200)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366794">Minerva Nobody</a> (182)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367240">Seth Shadows</a> (174)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367357">Umbriel Nightshade</a> (170)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367114">Elizabeth Reynolds</a> (137)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>200</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367103">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (200)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367612">Vivianne Mcqueen</a> (141)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366834">Kieran Lancaster</a> (65)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367061">Will Wolf</a> (40)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (35)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367116">Russell Thorne</a> (34)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/369536">Messy Bone</a> (34)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367258">Pedro Howes II</a> (33)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367832">Jessa Morrell</a> (30)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367549">Evangelina 'Blood and Honey' Kraft</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>68</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (68)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (46)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (40)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366881">Kandi Cumdump</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366795">Sarah Ainsley</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366794">Minerva Nobody</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/370662">Candace Reeve</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/368223">Rob White</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367789">Quintus Borrego</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>70</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (70)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (66)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (51)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (14)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367549">Evangelina 'Blood and Honey' Kraft</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/370662">Candace Reeve</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/icy_heels_Katy_Frill.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>279</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366816">Erin Wolfe</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366816">Erin Wolfe</a> (279)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (93)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366952">Crystal Moyer</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/375081">Dishy Wishy</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/372960">Rose Snow IV</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366869">Ali Hain</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>2,795</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (2,795)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (2,130)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (2,024)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/373709">Lefen Cloud</a> (573)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (382)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/370662">Candace Reeve</a> (239)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/371717">Tia Frasier</a> (229)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/372174">Kirith Leingod</a> (173)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366795">Sarah Ainsley</a> (142)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366934">Eric Finney</a> (137)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/sucker_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>23</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367296">Princess Lily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367296">Princess Lily</a> (23)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367635">Jackie Jackman</a> (15)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367100">Panty Hose</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/375389">Damian Fuchs II</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/373375">Venne Gerov II</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367351">Lisa Larktalon</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/372191">Kenneth Winter III</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/375406">Geriella Bubble II</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/373481">Seras Victoria II</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367177">Zel Argentis</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/mutt_girl_lexam_the_gem_fox.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>62</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366806">Kelly Labonte</a> (62)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366905">Allyssa Adams</a> (60)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (48)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367103">Dark Blade</a> (31)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366802">Sylvianna Stearns</a> (27)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (26)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367436">Aureliana Byrne</a> (25)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367207">Janeen Wiccanshire</a> (24)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (21)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366830">Henny Wuns</a> (18)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366994">Wolfy Kitty</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366994">Wolfy Kitty</a> (5)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (5)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/367518">Nick Harper</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366926">Sally Nobody</a> (2)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366901">Lizzie Binbow</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/375406">Geriella Bubble II</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367590">Candy Cane</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>14,475</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (14,475)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367056">Freya Rein</a> (4,515)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (4,425)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367612">Vivianne Mcqueen</a> (3,055)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/369133">Keegan Comeaux III</a> (2,590)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367549">Evangelina 'Blood and Honey' Kraft</a> (1,840)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366938">Simone Binbow</a> (1,450)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/368133">Jane County</a> (1,100)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (825)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/366842">Rene Hawks</a> (750)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/animate_love_doll_goldendawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>68</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/367590">Candy Cane</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/367590">Candy Cane</a> (68)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367564">Hector Ravencroft</a> (24)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367831">Lijojo Jinoji</a> (19)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/372174">Kirith Leingod</a> (16)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367241">Lord Byers</a> (16)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/367258">Pedro Howes II</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/367435">Purple Haze</a> (16)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/368057">Elian Beltran</a> (14)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367197">Cora Emmons</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366973">Joe Nobody</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/367463">Francis Iris</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/366841">Kyle Nines</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366832">Dustin Craven</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367720">Ariate Seaer II</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366823">Natasha Lydellia</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366815">Annabelle Jumeau</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/367149">Angel Blackwell</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367120">Jesse 'M.D.' Andersen</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/Annabelle_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Times riding the bus:</i> <b>2,500</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/366815">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/366815">Annabelle Jumeau</a> (2,500)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/366785">Rox 'Fluffbutt' Kitsu</a> (866)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/366840">Esther Delacroix</a> (99)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/367615">Lia Wild</a> (74)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/366952">Crystal Moyer</a> (66)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/367877">Dex Hard</a> (57)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/366925">Witch Maria</a> (53)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/366865">Shredster Khan</a> (40)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/366834">Kieran Lancaster</a> (36)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/367049">Pepe Maus</a> (24)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>