<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <button class="btn" id="expandAllBtn" onclick="expandAll()">Expand All</button> <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fierce_she_wolf_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>21,380</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052878">Kira Lillend</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052878">Kira Lillend</a> (21,380)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052787">Puyo Hebihime</a> (7,695)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052918">Toe Ring</a> (7,534)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053178">Catherine Valentine</a> (7,181)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052750">Feronia Nyekobornya</a> (5,953)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052827">Jodie Grey</a> (5,909)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (5,644)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052707">Trinket D'tasse</a> (5,135)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052794">Sherry Port</a> (4,192)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053022">Que Tee</a> (3,907)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,629</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (2,629)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (2,551)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (2,129)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (2,068)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (2,032)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (2,005)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (1,666)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (1,235)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053304">Joseph Wow</a> (1,229)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (1,193)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>21,091</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (21,091)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052615">Glen Coy</a> (18,092)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (18,050)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (9,593)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052640">Misty Lovett</a> (8,793)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (8,447)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052891">Kaede Yamabuki</a> (6,750)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (6,684)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (6,463)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (6,324)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,477</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052624">Christi Bender</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (2,477)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (2,458)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (1,548)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (1,398)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053304">Joseph Wow</a> (1,303)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (1,115)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (1,007)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (950)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (946)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (900)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,666</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (1,666)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (1,614)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (1,120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (1,116)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (1,104)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (770)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052942">Elba Valentine</a> (726)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (721)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (707)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052670">Tomiko Hewitt</a> (687)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/police_dog_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,509</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053728">Lotta Justice</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (1,509)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052637">Jo Arroyo</a> (650)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052895">Vix Spelloyal</a> (400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (237)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052944">Eric Finney</a> (204)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (116)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1058072">Kit Cassidy II</a> (51)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052942">Elba Valentine</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1060566">Freddy Woodard II</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>175,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (175,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052878">Kira Lillend</a> (66,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (20,000)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052688">Golden Gem</a> (19,360)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (11,000)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052997">Elena Grace</a> (8,340)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (8,300)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (8,200)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (5,500)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (4,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/sexy_princess_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>60</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053717">Marta Herring</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (60)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (33)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052878">Kira Lillend</a> (25)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052688">Golden Gem</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052810">Cynthia Price</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (42)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052794">Sherry Port</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053840">Judy Finley</a> (32)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (32)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (32)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1055828">Ester Rhoden II</a> (31)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1063553">Erin Oaks</a> (27)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1054174">Fabi Grig</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gimbo_stripper_thegreatdaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/1057770">Reed Aleman V</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1057770">Reed Aleman V</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1063538">Hugo Montalvo</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1060264">Kristin's Microskirt</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052709">Ethan Bailey</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1060811">Diane Holliman</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052707">Trinket D'tasse</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053274">Melisa Huggins</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1061993">Lucas Becker VII</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1061875">Holly Haney II</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1063047">Kento Inman</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tentacle_monster_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/1060811">Diane Holliman</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1060811">Diane Holliman</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053522">Trenton Mercier</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1063349">Natalia Gilliam</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1056757">Morgan Rivers III</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053039">Ryan 'Padre' Bends</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052665">Sam Meyer</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1059777">Denmother Claire</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1063538">Hugo Montalvo</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053755">Finley Hickman</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053000">Christi Nyekobornya</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>258</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (258)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (131)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052670">Tomiko Hewitt</a> (71)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052702">Sir Eric</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (54)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052664">Rory Betz</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1055828">Ester Rhoden II</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>140</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052616">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (140)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (88)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (60)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052997">Elena Grace</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1058546">Lady Larkin</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (47)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (44)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1056221">Edmond Grier</a> (42)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/skunk_maid_Ciel_Scarlet.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>173</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052586">Carlos Martin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (173)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1058546">Lady Larkin</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053522">Trenton Mercier</a> (21)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1054737">Dominik Steele II</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1056221">Edmond Grier</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053064">Nash Herrick</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052664">Rory Betz</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/skunk_maid_Ciel_Scarlet.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>202</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052586">Carlos Martin</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (202)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (140)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1058546">Lady Larkin</a> (81)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (56)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1056221">Edmond Grier</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052997">Elena Grace</a> (53)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (52)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053522">Trenton Mercier</a> (40)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>150</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a> (150)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053178">Catherine Valentine</a> (15)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052795">Mira Neen</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1055708">Jennie Stien</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053026">Brittney Bubbles</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1055970">Lutece Narcolepse</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052944">Eric Finney</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1054410">Korey Kerns</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052787">Puyo Hebihime</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (26)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052944">Eric Finney</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1055262">Nadia Ayers</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053173">Heather Brandenburg</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052971">Thick Cock</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1059010">Valeria Bentley</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052895">Vix Spelloyal</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/skunk_maid_Ciel_Scarlet.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052586">Carlos Martin</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053173">Heather Brandenburg</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053026">Brittney Bubbles</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052787">Puyo Hebihime</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052939">Jess Kitsune</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052679">Adrienne Cobb</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1057361">Penny Peril II</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052997">Elena Grace</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/doll_accessory_kit_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,835</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052862">Loyal Thing</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052862">Loyal Thing</a> (39,835)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053147">Bobbing Bimballoon</a> (38,820)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053087">Cassie's 'Divine' Jessietits</a> (37,855)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053106">Angelic Stockings</a> (37,825)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052842">Silver Paws</a> (37,290)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053148">Janice Yanez</a> (36,325)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052943">Aviendia Wuff-pillow</a> (35,330)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053349">Semi-Brainless Stockings</a> (34,815)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052852">Lovely Nylons</a> (32,250)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052626">Ellis' Knotted-Cock</a> (31,830)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,755</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052728">Hellish cumcraving-plaything</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052728">Hellish cumcraving-plaything</a> (39,755)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052615">Glen Coy</a> (39,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052752">Cum Dumpster</a> (36,840)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053137">Molly's Pleasure</a> (36,790)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052759">Mindless Drone</a> (36,425)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052583">Scarlet Foxington</a> (33,193)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052796">Sierra Goope</a> (32,900)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054902">Rath Mettax</a> (31,070)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053021">Elise Kitsune</a> (30,235)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052830">Samson Sheets</a> (29,590)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>94,497</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (94,497)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052878">Kira Lillend</a> (60,399)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (51,900)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052794">Sherry Port</a> (36,794)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (28,453)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (28,286)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053403">Kyrah Binbow</a> (21,182)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052688">Golden Gem</a> (19,474)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1062086">Lucky Gem IV</a> (10,686)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (9,033)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/magical_cat_girl_animate_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>9,156</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a> (9,156)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (2,175)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053075">Kris Anderson</a> (1,008)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053580">Kelly Fae</a> (847)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052882">Naomi Martel II</a> (842)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1056580">Bunnia Pharnia</a> (815)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052662">Selena Emberflame</a> (752)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052827">Jodie Grey</a> (676)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1054598">Oliver Smith</a> (640)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1054737">Dominik Steele II</a> (582)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>86,320</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (86,320)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a> (8,230)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053075">Kris Anderson</a> (3,130)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1054410">Korey Kerns</a> (2,390)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (2,020)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1055262">Nadia Ayers</a> (1,840)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053112">Ashwa Gandha</a> (1,380)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1057203">Wishing Tree</a> (490)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052879">Eve Lanar</a> (460)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1059777">Denmother Claire</a> (430)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/kitsune_shrine_maiden_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,610</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052891">Kaede Yamabuki</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052891">Kaede Yamabuki</a> (1,610)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1057518">Ira Luxuria</a> (970)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053117">Amber Weston</a> (400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1063062">Bernadetta Varley</a> (400)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1054409">Ash Andarei</a> (280)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1061546">Kelly Toliver</a> (200)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052656">Jil Idol</a> (195)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053251">Thumpie Bunny</a> (150)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052669">Low Polly</a> (100)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053173">Heather Brandenburg</a> (100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fire_breathing_dragon_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>726</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052794">Sherry Port</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052794">Sherry Port</a> (726)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053403">Kyrah Binbow</a> (444)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1058546">Lady Larkin</a> (75)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (50)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054737">Dominik Steele II</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1057203">Wishing Tree</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>75</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052624">Christi Bender</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (75)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (18)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053997">Kieran Seekshadow</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053634">Stolen Zail</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1055394">Fluffy Tail</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1062512">Ashley Rene</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1055208">Terrie Wing</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1054181">Arctic Foxy</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052944">Eric Finney</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>33</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (33)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1055208">Terrie Wing</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052702">Sir Eric</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1061398">Gertrude Gipson</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052624">Christi Bender</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052885">Elyn Kitsu</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052707">Trinket D'tasse</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1060500">Ray Rave</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1062366">Germanus Mcmillen</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052670">Tomiko Hewitt</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gimbo_stripper_thegreatdaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/1057770">Reed Aleman V</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1057770">Reed Aleman V</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1054418">Kadoom Kupopo</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052709">Ethan Bailey</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052707">Trinket D'tasse</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053274">Melisa Huggins</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1060811">Diane Holliman</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053522">Trenton Mercier</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053293">Ariana Darkness</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053755">Finley Hickman</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053039">Ryan 'Padre' Bends</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/pleasure_knight_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052689">Shredster Khan</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (28)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (24)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052944">Eric Finney</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053173">Heather Brandenburg</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052787">Puyo Hebihime</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1055262">Nadia Ayers</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Usagi_Yobimbo_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053178">Catherine Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053178">Catherine Valentine</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052582">Dicey Flynn</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1054181">Arctic Foxy</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052959">Maria Hannon</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (1)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1057893">Amilia Concubine V</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052740">Laura Coleman</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052742">Lisa Comanche</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>4,510</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (4,510)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (2,895)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (1,400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (1,340)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (970)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053251">Thumpie Bunny</a> (850)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (840)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (450)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052658">Kayson Mckeever</a> (395)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1058546">Lady Larkin</a> (375)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>186</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (186)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052939">Jess Kitsune</a> (53)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052611">Lithius Lastus</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1056412">Martha Marr</a> (26)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053641">Sofia Archibald</a> (17)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052647">Purriscilla Nyekobornya</a> (17)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1054569">Emily Macarthur II</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054378">Christian Lynch</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1060753">Jessica Gale</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1059754">Kacper Smith III</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/massively_obese_woman_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053419">Mayra Nielson</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053419">Mayra Nielson</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053416">Myrna Escobedo</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1053717">Marta Herring</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053755">Finley Hickman</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053026">Brittney Bubbles</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1059010">Valeria Bentley</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052827">Jodie Grey</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053840">Judy Finley</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053208">Max Dommie</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,700</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (3,700)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (2,721)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (517)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052967">Annabelle Andrews</a> (323)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052640">Misty Lovett</a> (222)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052878">Kira Lillend</a> (205)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052795">Mira Neen</a> (168)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1061546">Kelly Toliver</a> (154)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052895">Vix Spelloyal</a> (145)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053112">Ashwa Gandha</a> (138)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>338</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052582">Dicey Flynn</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052582">Dicey Flynn</a> (338)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053208">Max Dommie</a> (159)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052849">Erika Hamby II</a> (84)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052918">Toe Ring</a> (75)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052794">Sherry Port</a> (63)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (42)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053112">Ashwa Gandha</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052827">Jodie Grey</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1057670">Yuuki Sato II</a> (29)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052662">Selena Emberflame</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052662">Selena Emberflame</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052882">Naomi Martel II</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052795">Mira Neen</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1061546">Kelly Toliver</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1053064">Nash Herrick</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052658">Kayson Mckeever</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1059122">Alisa Luneria</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053117">Amber Weston</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>81</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052662">Selena Emberflame</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052662">Selena Emberflame</a> (81)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052882">Naomi Martel II</a> (58)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1061546">Kelly Toliver</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052658">Kayson Mckeever</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052612">Yvesza Sua</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054134">Roslyn Swanson</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1052795">Mira Neen</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1054737">Dominik Steele II</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/pink_haired_catgirl_by_karousel_k-dbblkyk.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>302</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (302)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (180)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (175)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (162)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052930">Devon Barela</a> (128)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (101)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (97)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (89)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053117">Amber Weston</a> (75)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (69)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demonic_cow_Powderpuff.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>42</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (42)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052587">Nerati 'Heartbreaker' Sua</a> (29)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (15)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052930">Devon Barela</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052939">Jess Kitsune</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/lion_stud_marsel-defender.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>94</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052930">Devon Barela</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052930">Devon Barela</a> (94)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052689">Shredster Khan</a> (76)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053117">Amber Weston</a> (75)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (57)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1053288">Lina Flowers</a> (46)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (46)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053713">Aidyn Bright</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (37)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1055660">Sylvie Eon</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/pink_haired_catgirl_by_karousel_k-dbblkyk.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>114</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (114)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (81)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (30)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052877">Starfire Logue</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053522">Trenton Mercier</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1053280">Steve Welles</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053039">Ryan 'Padre' Bends</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052942">Elba Valentine</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/plush_mistress_hei_lilah_lace.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>67</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (67)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (50)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052926">Adam Hillman</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052587">Nerati 'Heartbreaker' Sua</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052611">Lithius Lastus</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1055828">Ester Rhoden II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/pink_haired_catgirl_by_karousel_k-dbblkyk.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>106</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (106)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (93)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (50)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/skunk_maid_Ciel_Scarlet.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>86</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052586">Carlos Martin</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052586">Carlos Martin</a> (86)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (45)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052848">Ellis Hamlin</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1052930">Devon Barela</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052637">Jo Arroyo</a> (20)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053401">Liliana Victor</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/alpha_herm_lioness_ThatGuy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,108</b></p>
            <p>
                <a href="/pvp/lookatplayer/1052624">Christi Bender</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1052624">Christi Bender</a> (1,108)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1053304">Joseph Wow</a> (1,074)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (768)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1052640">Misty Lovett</a> (573)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052736">Cwyn Annwyn</a> (467)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1054409">Ash Andarei</a> (443)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1052942">Elba Valentine</a> (339)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1052616">Holly Ryder</a> (323)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1053728">Lotta Justice</a> (312)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1053460">Vanilla Cream</a> (280)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/gamer_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>321</b></p>
            <p>
                <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/1053391">Lindsay Bradley</a> (321)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/1052715">Nadine Blanchette</a> (32)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/1052702">Sir Eric</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/1054134">Roslyn Swanson</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/1052942">Elba Valentine</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/1055828">Ester Rhoden II</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/1055154">Socorro Allocco</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/1054920">Fabia Boswell</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/1054485">Reyna Makia</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/1052977">Georgia Dye</a> (1)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>