<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>14,927</b></p>
            <p>
                <a href="/pvp/lookatplayer/886305">Golden Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (14,927)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886828">Vanilla Cream</a> (7,422)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (7,017)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/888706">Catherine Moonlight</a> (5,793)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (5,391)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/890144">Nia Rose</a> (5,053)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886256">Servius Bellanus</a> (5,051)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886787">Julia Wolff</a> (4,674)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886887">Nyasa Meownya</a> (4,447)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (4,251)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,535</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (3,535)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (2,110)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (1,795)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (1,749)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (1,741)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (1,440)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (1,415)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (1,339)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (1,288)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (1,168)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>14,388</b></p>
            <p>
                <a href="/pvp/lookatplayer/886279">Aurora Ryall</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (14,388)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (10,630)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (10,278)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (9,265)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (8,048)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (7,957)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (7,890)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886934">Briana Clarke</a> (7,824)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/888106">Lukas Kaminski</a> (7,403)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (6,872)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,075</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (2,075)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (1,796)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (1,661)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (1,632)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (1,327)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (1,176)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (1,118)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (933)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (921)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/888783">Enir Curtis</a> (898)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,915</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (1,915)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886252">Kris Anderson</a> (1,521)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (1,279)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886849">Pie Pies</a> (1,169)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886259">Mas Tiac</a> (1,151)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (1,114)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (1,076)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (1,042)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (1,002)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (966)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cyber_dj_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>3,073</b></p>
            <p>
                <a href="/pvp/lookatplayer/886408">Jessie Nealy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (3,073)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886252">Kris Anderson</a> (2,495)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886259">Mas Tiac</a> (1,287)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (1,076)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (501)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886480">Robin Flynn</a> (457)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (415)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (336)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (285)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886295">Max Karma</a> (253)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>85,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/886305">Golden Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (85,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (50,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (26,500)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886787">Julia Wolff</a> (22,200)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (21,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (20,000)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (15,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (11,900)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/888817">Kasumi Takanawa</a> (9,960)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886224">Cynthia Sua</a> (7,940)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>73</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (73)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (58)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (20)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886787">Julia Wolff</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886414">Maria Haddon</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886413">Vix Smith</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>82</b></p>
            <p>
                <a href="/pvp/lookatplayer/886270">Cody Bentley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (82)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886261">Red Rose</a> (68)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (50)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (49)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/894853">Crystal Draper II</a> (46)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (40)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>32</b></p>
            <p>
                <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a> (32)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886895">Kaitlyn Kat</a> (21)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/896401">Rick Pincon III</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/897256">Markus Bostick</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/888507">Maxie Yearly</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/893082">Adeline Staton III</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886458">Emanueli Myrick</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886445">Ms Toilet</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/894139">Kate Miha</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/890654">Cecil Allison</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886895">Kaitlyn Kat</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/896401">Rick Pincon III</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886445">Ms Toilet</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/892773">Zeus Windsor III</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/888987">Eileen Sun IV</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/888342">Hezekiah Gotobed</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886681">Marianne Hastings</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/891142">Ben Strou</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/890654">Cecil Allison</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>93</b></p>
            <p>
                <a href="/pvp/lookatplayer/887068">Terra Ward</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (93)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (91)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (59)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886273">Tomiko Hewitt</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (50)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (41)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886261">Red Rose</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>140</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (140)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (58)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (55)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (50)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/891617">Ikari Uriza</a> (46)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886414">Maria Haddon</a> (35)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>60</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (60)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (50)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (28)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/891617">Ikari Uriza</a> (18)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/891673">Petra Crowley</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886695">Grey Fox</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886252">Kris Anderson</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>180</b></p>
            <p>
                <a href="/pvp/lookatplayer/886271">Holly Ryder</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (180)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (65)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/891617">Ikari Uriza</a> (64)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886414">Maria Haddon</a> (38)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (33)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/893880">Liliana Victor II</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/891673">Petra Crowley</a> (30)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (29)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887243">Kaede Yamabuki</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/evil_sockubus_ThatGuy.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>34</b></p>
            <p>
                <a href="/pvp/lookatplayer/886849">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886849">Pie Pies</a> (34)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887352">Michael Rochard</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886307">Lucia Wendolyn</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886657">Tea Higgins</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886256">Servius Bellanus</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>85</b></p>
            <p>
                <a href="/pvp/lookatplayer/886270">Cody Bentley</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (85)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (84)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (41)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (40)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (25)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (23)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/890573">Kaitlyn Halliwell</a> (22)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886362">Dustin Craven</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/887068">Terra Ward</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886828">Vanilla Cream</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/890573">Kaitlyn Halliwell</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/894507">Kyle Nines</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886296">Morgan Drake</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886256">Servius Bellanus</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887121">Everett Shanks</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/catgirl_pillow_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>39,785</b></p>
            <p>
                <a href="/pvp/lookatplayer/886326">Cuddletoy Tess</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886326">Cuddletoy Tess</a> (39,785)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886377">Auly Jua</a> (39,260)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886825">Kasia Kissed</a> (39,070)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/893242">Holden's Titties</a> (38,835)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886219">Miss Deeds</a> (37,750)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886559">Mindless Cocksleeve</a> (37,175)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886283">Sierra Volpe</a> (36,693)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886728">Amy 'Supportive' Tong</a> (35,650)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886280">Angeline Inflateable</a> (35,235)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/888115">Eric Thom</a> (33,705)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>39,565</b></p>
            <p>
                <a href="/pvp/lookatplayer/886312">Slut 'fatty' Nadipet</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886312">Slut 'fatty' Nadipet</a> (39,565)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886572">Glenna Coy</a> (38,730)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886660">Joe Nobody</a> (38,085)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886390">Stoney Beast</a> (35,993)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886573">Cutesy Draper</a> (35,135)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886835">Lori Lapointe</a> (32,230)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886499">Vulpi Spelloyal</a> (30,845)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886266">Ponygirl Swiftpussy</a> (29,285)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/888031">Minervas Petslut</a> (26,670)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886853">Smol Neko</a> (25,410)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>111,111</b></p>
            <p>
                <a href="/pvp/lookatplayer/886305">Golden Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (111,111)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (47,115)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (33,199)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (22,022)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886787">Julia Wolff</a> (20,845)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (16,775)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886282">Johnny Black</a> (13,021)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886887">Nyasa Meownya</a> (12,976)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (12,759)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/889365">Raven Aoki</a> (12,598)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>3,488</b></p>
            <p>
                <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (3,488)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (1,515)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (1,435)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (1,159)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886362">Dustin Craven</a> (1,118)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/887505">Lefen Beck</a> (1,070)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/893880">Liliana Victor II</a> (1,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886256">Servius Bellanus</a> (979)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886674">Aurora Takashi</a> (900)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886365">Joanna Kunz</a> (712)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>28,620</b></p>
            <p>
                <a href="/pvp/lookatplayer/886279">Aurora Ryall</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (28,620)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (7,880)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (6,240)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (5,030)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/888106">Lukas Kaminski</a> (3,330)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (2,340)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (2,170)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/887009">Henny Wuns</a> (1,810)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886282">Johnny Black</a> (1,630)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (1,250)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>10,540</b></p>
            <p>
                <a href="/pvp/lookatplayer/886270">Cody Bentley</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (10,540)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887352">Michael Rochard</a> (8,600)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (7,470)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886887">Nyasa Meownya</a> (5,582)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/889175">Terry's Den</a> (1,790)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/892470">Athena 'The Kitty?' Airy</a> (1,520)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/894853">Crystal Draper II</a> (700)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (580)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/893427">Frederick Hall</a> (560)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886479">Emmy Velanie</a> (450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>500</b></p>
            <p>
                <a href="/pvp/lookatplayer/886305">Golden Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (500)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886887">Nyasa Meownya</a> (175)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (171)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (147)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/890244">Vivianne Mcqueen</a> (74)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (62)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (39)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>176</b></p>
            <p>
                <a href="/pvp/lookatplayer/886934">Briana Clarke</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886934">Briana Clarke</a> (176)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/890573">Kaitlyn Halliwell</a> (54)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/894853">Crystal Draper II</a> (40)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (29)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886307">Lucia Wendolyn</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (13)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886828">Vanilla Cream</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/887505">Lefen Beck</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/893427">Frederick Hall</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>23</b></p>
            <p>
                <a href="/pvp/lookatplayer/886218">Alice Grayson</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (23)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886734">Dawid Wolf</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886626">Joseph Wow</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886875">Robin Watts</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>135</b></p>
            <p>
                <a href="/pvp/lookatplayer/886218">Alice Grayson</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (135)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886685">Erin Keys</a> (86)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886657">Tea Higgins</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (29)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/893148">Lynnette Lockhart</a> (19)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886307">Lucia Wendolyn</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/894718">Gato Loco IV</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887064">Max Vella</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>50</b></p>
            <p>
                <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886769">Lindsay Bradley</a> (50)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886895">Kaitlyn Kat</a> (31)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/896401">Rick Pincon III</a> (19)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886445">Ms Toilet</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886458">Emanueli Myrick</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/888507">Maxie Yearly</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/893082">Adeline Staton III</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/887969">Emily Mew</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886364">Eric Finney</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/894853">Crystal Draper II</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/890573">Kaitlyn Halliwell</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (34)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (30)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (22)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (19)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (16)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (16)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/897183">Enchanted Shoes</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/886270">Cody Bentley</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/888831">Travis Grier IV</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886480">Robin Flynn</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886261">Red Rose</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/887009">Henny Wuns</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/891617">Ikari Uriza</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886219">Miss Deeds</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886327">Tara '🌎Planets Paladin🌍' Sapphire</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>8,940</b></p>
            <p>
                <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (8,940)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887352">Michael Rochard</a> (1,165)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (1,090)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (1,080)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/887121">Everett Shanks</a> (1,045)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (840)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/888454">Jamie Earley II</a> (775)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/887607">Sam Falls</a> (685)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/893880">Liliana Victor II</a> (665)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887891">Vicki Felts</a> (530)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/honeybadger_daniel_kay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>115</b></p>
            <p>
                <a href="/pvp/lookatplayer/886396">Myrna Escobedo</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886396">Myrna Escobedo</a> (115)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886849">Pie Pies</a> (94)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886365">Joanna Kunz</a> (40)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/891673">Petra Crowley</a> (39)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (26)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886458">Emanueli Myrick</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/887523">Harold Grey</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/890654">Cecil Allison</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886399">Mayra Nielson</a> (21)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887980">Jordan Keys</a> (21)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goost_girl_Edna_Schafer.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/886305">Golden Gem</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886305">Golden Gem</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886278">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886220">Shredster Khan</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/891673">Petra Crowley</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886828">Vanilla Cream</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886734">Dawid Wolf</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/887778">Roary Scaleheart</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/887607">Sam Falls</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887243">Kaede Yamabuki</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,597</b></p>
            <p>
                <a href="/pvp/lookatplayer/886279">Aurora Ryall</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (3,597)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (1,584)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/887352">Michael Rochard</a> (1,214)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (616)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (565)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (380)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/888783">Enir Curtis</a> (198)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886527">Veln Moonscythe</a> (169)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886262">Ana Noymus</a> (167)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886256">Servius Bellanus</a> (149)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>79</b></p>
            <p>
                <a href="/pvp/lookatplayer/887498">Casey Maertenss</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/887498">Casey Maertenss</a> (79)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/890144">Nia Rose</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886917">Cecily Hayward</a> (48)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886995">Britney Arellano</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886371">Avery Sparks</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886534">Riley Sorell</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886317">Beatryka Mane</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886413">Vix Smith</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886458">Emanueli Myrick</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886598">Kylie Rhodes</a> (10)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/888329">Luke Haynes</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>219</b></p>
            <p>
                <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (219)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (87)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (57)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/888329">Luke Haynes</a> (36)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886527">Veln Moonscythe</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/893148">Lynnette Lockhart</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>369</b></p>
            <p>
                <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (369)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (196)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (152)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (151)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (137)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (135)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (83)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (81)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (76)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (64)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886306">Crystal Moyer</a> (12)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886219">Miss Deeds</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886330">Devon Barela</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886629">Rajara Paw</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>85</b></p>
            <p>
                <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (85)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (81)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (39)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (38)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (37)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886408">Jessie Nealy</a> (25)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/889018">Kellan Reddick</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>147</b></p>
            <p>
                <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (147)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (69)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886279">Aurora Ryall</a> (30)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (19)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886895">Kaitlyn Kat</a> (12)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886681">Marianne Hastings</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/887607">Sam Falls</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/888342">Hezekiah Gotobed</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>85</b></p>
            <p>
                <a href="/pvp/lookatplayer/887068">Terra Ward</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (85)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (46)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/890654">Cecil Allison</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (12)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886458">Emanueli Myrick</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/892224">Juniper Newberry</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886895">Kaitlyn Kat</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/888783">Enir Curtis</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>66</b></p>
            <p>
                <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (66)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (62)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886742">Mirabel's Slave</a> (54)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>72</b></p>
            <p>
                <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (72)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (44)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (37)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (35)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886231">Martha Keene</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886527">Veln Moonscythe</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886421">Prios '🐮🐮🐮' Priosprios</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/889028">Jaime Navarrete</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A Change in Management</h3>
            <p><i>Times attacking any mini-boss:</i> <b>1,145</b></p>
            <p>
                <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_minibossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (1,145)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/887068">Terra Ward</a> (546)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886937">Kyla Noir</a> (450)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886271">Holly Ryder</a> (415)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/886228">Viola Hawthorne</a> (407)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/886349">Astrid Lobelia</a> (381)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (379)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886332">Jasmine Coquin</a> (368)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/888817">Kasumi Takanawa</a> (367)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/886742">Mirabel's Slave</a> (365)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/TRex_Politician_bluebell.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
            <p><i>Number of mind control commands issued:</i> <b>93</b></p>
            <p>
                <a href="/pvp/lookatplayer/886270">Cody Bentley</a>

            <p>------------------</p>

            </p>

            <div id="more_mind_control_commands_issued">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/886270">Cody Bentley</a> (93)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/886403">Mirabel Diamond</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/886259">Mas Tiac</a> (7)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/886366">Robin 'The Godmother' Pharnia</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/888009">Domitia Newsome</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/893427">Frederick Hall</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/886218">Alice Grayson</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/886546">Kari Grier</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/886342">Gabriel Krone</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/887026">Marvin Smith</a> (3)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>