<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>10,461</b></p>
            <p>
                <a href="/pvp/lookatplayer/501151">Nyasa Meownya</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501151">Nyasa Meownya</a> (10,461)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (9,602)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (9,207)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (7,857)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (6,713)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (5,465)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (5,319)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501452">Flavia Woodward</a> (3,934)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (3,831)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501157">Selina Muliaina</a> (3,794)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,823</b></p>
            <p>
                <a href="/pvp/lookatplayer/500718">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (3,823)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (3,528)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (1,681)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (1,627)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500964">Cheryl Powell</a> (1,530)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (1,414)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (1,241)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (1,064)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/502494">Maude Baum II</a> (959)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (919)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>11,304</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (11,304)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (7,839)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (7,737)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (6,610)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501415">Yutki Lume</a> (5,403)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501284">Ali Hain</a> (5,074)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (5,034)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (4,283)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/504721">Ashton Skye II</a> (3,722)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/504434">Krissy Rose II</a> (3,586)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,122</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (1,122)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (844)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/502345">Lori Delagarza</a> (818)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/502951">Joe Nobody II</a> (668)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (653)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (575)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500682">Lucius Valentine</a> (524)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (524)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (475)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500787">Emily Weretoy</a> (464)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,782</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (1,782)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (1,584)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (1,574)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (1,054)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/502345">Lori Delagarza</a> (1,031)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (996)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500964">Cheryl Powell</a> (991)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501504">Mr Derik</a> (847)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/504721">Ashton Skye II</a> (823)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (799)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,506</b></p>
            <p>
                <a href="/pvp/lookatplayer/501661">Gabriel Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501661">Gabriel Jasione</a> (1,506)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (1,331)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (1,275)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (1,179)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/504721">Ashton Skye II</a> (864)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502345">Lori Delagarza</a> (650)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (629)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500778">Aidyn Bright</a> (494)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501504">Mr Derik</a> (393)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500922">Crystal Moyer</a> (336)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>80,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (80,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (77,000)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (48,420)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (42,360)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (17,000)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (16,800)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500697">Eador Masterson</a> (10,000)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (8,780)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500877">Nadia Ayers</a> (8,200)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (7,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>347</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (347)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (317)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (219)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (179)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (173)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (126)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (80)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501504">Mr Derik</a> (74)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/502345">Lori Delagarza</a> (51)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500690">Markus Drake</a> (46)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>105</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (105)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (77)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500787">Emily Weretoy</a> (46)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500690">Markus Drake</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500774">Beatryka Mane</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501677">Trinity Gil</a> (43)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (43)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500693">Shredster Khan</a> (43)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>17</b></p>
            <p>
                <a href="/pvp/lookatplayer/501355">Neko Chan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501355">Neko Chan</a> (17)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/505276">Tarquinius Gatlin V</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/505094">Seras Victoria III</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/508044">Courtney Mcmillie</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/507701">Serenya Nyekobornya V</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/505237">Rana Sephora II</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505932">Level Challenge</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500824">Gauge Harwell</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/509145">Liliana Pender</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/hand_mirror_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/507701">Serenya Nyekobornya V</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/507701">Serenya Nyekobornya V</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/508044">Courtney Mcmillie</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/505932">Level Challenge</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/507901">Andrea Krause IV</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/508032">Dahlia Milton</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/508389">Trudy Gil V</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505094">Seras Victoria III</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500904">Princess Lily</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/507521">Legend Orellana</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/508053">Dai Quiri II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>134</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (134)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500964">Cheryl Powell</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501241">Penny Razzle</a> (61)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (61)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (54)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (52)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501782">Maisie Cooley</a> (46)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501504">Mr Derik</a> (45)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501262">Freyja Brisingamen</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>291</b></p>
            <p>
                <a href="/pvp/lookatplayer/500718">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (291)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (189)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (120)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (63)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501154">Kinello Herone</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502048">Riley Sorell</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505426">Soo Katoa</a> (40)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/506084">Little Mousie</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500682">Lucius Valentine</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>24</b></p>
            <p>
                <a href="/pvp/lookatplayer/500718">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (24)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/504370">Aleigh Change</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/505194">Venus Irish</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/501099">Aurelia Garnet</a> (7)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500776">Rubette Lulette</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502048">Riley Sorell</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/502621">Marc Maness II</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501091">Nyora Nyekobornya</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500978">Victoria Fletcher</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>312</b></p>
            <p>
                <a href="/pvp/lookatplayer/500718">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (312)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (182)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (116)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/501154">Kinello Herone</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (53)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502048">Riley Sorell</a> (47)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505426">Soo Katoa</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/505141">Skyler Darkeyes</a> (40)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/506084">Little Mousie</a> (38)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/502345">Lori Delagarza</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/shy_college_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>36</b></p>
            <p>
                <a href="/pvp/lookatplayer/501284">Ali Hain</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501284">Ali Hain</a> (36)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501415">Yutki Lume</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500754">Kyle Nines</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500781">Andrew Morwik</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500683">Minervas Petslut</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500731">Heather Brandenburg</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500956">Kaitlyn Halliwell</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>74</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (74)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (71)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (44)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (42)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (36)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500693">Shredster Khan</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500787">Emily Weretoy</a> (31)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501154">Kinello Herone</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501661">Gabriel Jasione</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/bonded_fiendship_wings_Aurora_Ryalls.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/500682">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500682">Lucius Valentine</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500705">Gina Hunnigan</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501154">Kinello Herone</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500754">Kyle Nines</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500989">Raine Felmara</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501415">Yutki Lume</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501105">Delia Markov</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pink_latex_dress_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,975</b></p>
            <p>
                <a href="/pvp/lookatplayer/500679">Jessicas 'Skin Tight' Dress</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500679">Jessicas 'Skin Tight' Dress</a> (24,975)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500691">Silky Angelica</a> (24,910)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500677">Ivy Cathalas</a> (20,495)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500695">Ro Flames</a> (17,845)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501141">Juliana Burnham</a> (17,790)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500892">Jessicas 'Simple' Pussy</a> (16,785)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500818">Stephen Lemke</a> (16,580)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500913">Xanthippe Shashavani</a> (16,470)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501899">Eli Grant IV</a> (15,218)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500796">Jo Jarvis</a> (15,060)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>23,730</b></p>
            <p>
                <a href="/pvp/lookatplayer/500801">Forevers Pet</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500801">Forevers Pet</a> (23,730)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500831">Melina Mercy</a> (20,470)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501145">Kyrah Amantes</a> (20,310)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500798">Allyssa Adams</a> (20,260)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500971">Squeaky Souris</a> (18,645)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501026">Thomas Garou</a> (16,490)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500976">Lulu Pawpurrl</a> (15,125)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500991">Summer Fields</a> (14,105)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500741">Gail Jasione</a> (13,175)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501005">Matt Locke</a> (12,715)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/centaur_mare_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>73,492</b></p>
            <p>
                <a href="/pvp/lookatplayer/500851">Iris Waldron</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (73,492)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (66,581)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (46,890)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (29,870)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (19,533)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (18,270)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (12,312)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501151">Nyasa Meownya</a> (11,933)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500697">Eador Masterson</a> (9,812)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501157">Selina Muliaina</a> (9,142)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/shy_college_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>8,008</b></p>
            <p>
                <a href="/pvp/lookatplayer/501284">Ali Hain</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501284">Ali Hain</a> (8,008)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500693">Shredster Khan</a> (1,311)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501527">Lefen Bear</a> (1,217)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/505287">Joseph Pritchett</a> (1,077)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500813">Sarah Snow</a> (834)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500844">Mathias Kaydee</a> (767)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501522">Alexander Dantes</a> (720)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501240">Starfire Logue</a> (682)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500837">Jo Glass</a> (587)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500988">Veronica Barrett</a> (557)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/shy_college_girl_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>12,562</b></p>
            <p>
                <a href="/pvp/lookatplayer/501284">Ali Hain</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501284">Ali Hain</a> (12,562)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (5,806)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501810">Hayden Gale</a> (4,179)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/501527">Lefen Bear</a> (2,936)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500813">Sarah Snow</a> (1,791)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/509195">Riley Padd</a> (1,577)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (1,547)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/505287">Joseph Pritchett</a> (1,374)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501415">Yutki Lume</a> (1,279)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/504370">Aleigh Change</a> (1,149)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>1,761</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (1,761)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (714)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501157">Selina Muliaina</a> (555)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/505345">Nina 'Hu-Moo' Susser II</a> (479)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (454)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501318">Circine Milton</a> (400)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500905">Penny Crittenden</a> (327)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (302)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501504">Mr Derik</a> (300)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501231">Sir Bimbomaker</a> (279)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/chibi_patissiere_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>309</b></p>
            <p>
                <a href="/pvp/lookatplayer/501151">Nyasa Meownya</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501151">Nyasa Meownya</a> (309)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500964">Cheryl Powell</a> (74)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500744">Meowrinya Nyekobornya</a> (69)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/502542">Vivianne Mcqueen</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502048">Riley Sorell</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/502494">Maude Baum II</a> (33)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/503070">Sophia Dkitty</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/candy_cane_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>52</b></p>
            <p>
                <a href="/pvp/lookatplayer/504434">Krissy Rose II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/504434">Krissy Rose II</a> (52)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500956">Kaitlyn Halliwell</a> (35)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500731">Heather Brandenburg</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/506211">Barry Bound</a> (16)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/504939">Hallie Aldridge</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/503224">Cody Tong</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501652">Ezra Moonbloom</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501114">Miz Izzit</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/bonded_fiendship_wings_Aurora_Ryalls.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/500682">Lucius Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500682">Lucius Valentine</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/502951">Joe Nobody II</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/509195">Riley Padd</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>129</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (129)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501415">Yutki Lume</a> (30)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500922">Crystal Moyer</a> (26)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/502379">Christian Lynch</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501503">Grax Grapple</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500754">Kyle Nines</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500904">Princess Lily</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/504539">Valeria Lacy</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/candy_cane_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>3,395</b></p>
            <p>
                <a href="/pvp/lookatplayer/504434">Krissy Rose II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/504434">Krissy Rose II</a> (3,395)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500956">Kaitlyn Halliwell</a> (1,727)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (1,270)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (1,136)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500731">Heather Brandenburg</a> (984)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/504939">Hallie Aldridge</a> (863)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/503224">Cody Tong</a> (678)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (673)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/506211">Barry Bound</a> (669)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/501114">Miz Izzit</a> (482)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_11_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>19</b></p>
            <p>
                <a href="/pvp/lookatplayer/501355">Neko Chan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/501355">Neko Chan</a> (19)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/507701">Serenya Nyekobornya V</a> (17)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/503070">Sophia Dkitty</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/508044">Courtney Mcmillie</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/505094">Seras Victoria III</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500824">Gauge Harwell</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505932">Level Challenge</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/508032">Dahlia Milton</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501331">Florence Sizemore</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/502196">Final Fantasy</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>77</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (77)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (42)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (36)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/502213">Shelly Steele</a> (23)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501154">Kinello Herone</a> (21)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500693">Shredster Khan</a> (21)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (20)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/500787">Emily Weretoy</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/505426">Soo Katoa</a> (14)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/506084">Little Mousie</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/catgirl_pillow_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/500709">Cali Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/501763">Nihat Unal</a> (3)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500690">Markus Drake</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/504721">Ashton Skye II</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500697">Eador Masterson</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>14,280</b></p>
            <p>
                <a href="/pvp/lookatplayer/500718">Henny Wuns</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (14,280)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (10,930)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (8,760)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (1,345)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (1,315)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500682">Lucius Valentine</a> (1,295)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500890">Lori Carter</a> (1,145)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/502951">Joe Nobody II</a> (960)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500813">Sarah Snow</a> (660)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500754">Kyle Nines</a> (400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_06_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/506826">Tetsuro Takeda V</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/507912">Yuki Tenakami</a> (23)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501231">Sir Bimbomaker</a> (22)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/505287">Joseph Pritchett</a> (19)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501418">Silen Lancaster</a> (18)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/505145">Azure Crescent II</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/505630">Summer Lust</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501024">Emerson Parson</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/508256">Raquel Carr</a> (15)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/506895">Max Fischer</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/sheep_pet_karousel_k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/pvp/lookatplayer/500741">Gail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500741">Gail Jasione</a> (8)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500690">Markus Drake</a> (8)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501145">Kyrah Amantes</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500701">Lilah 'Public Use Cutie' Lace</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501659">Skylar Keeton II</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501418">Silen Lancaster</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/504721">Ashton Skye II</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/504539">Valeria Lacy</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500844">Mathias Kaydee</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/505287">Joseph Pritchett</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>3,014</b></p>
            <p>
                <a href="/pvp/lookatplayer/500982">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500982">Elle Sawyer</a> (3,014)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/501810">Hayden Gale</a> (2,500)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/501035">Sara Dollmaker</a> (1,476)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500851">Iris Waldron</a> (1,378)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/501314">Lawrence Cooley</a> (544)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/501418">Silen Lancaster</a> (432)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (416)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501284">Ali Hain</a> (295)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/501547">Suika Ibuki</a> (285)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/500711">Varin Elderblood</a> (267)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/catgirl_pillow_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>420</b></p>
            <p>
                <a href="/pvp/lookatplayer/500709">Cali Ziegler</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/500709">Cali Ziegler</a> (420)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/500818">Stephen Lemke</a> (147)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/500787">Emily Weretoy</a> (84)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/500728">Silke Hose</a> (68)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/500730">Danii Colorado</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/500875">Alice Hatfield</a> (55)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/500922">Crystal Moyer</a> (55)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/501190">Glenna Coy</a> (53)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/500718">Henny Wuns</a> (51)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/505287">Joseph Pritchett</a> (49)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>