<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/trickster_SashaTF.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,345</b></p>
            <p>
                <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a> (12,345)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692995">Catherine Moonlight</a> (8,755)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692172">Vicky Powell</a> (8,361)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692878">Vanilla Cream</a> (8,121)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692170">Puyo Hebihime</a> (6,120)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (5,703)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693232">Que Tee</a> (5,353)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692363">Simone Binbow</a> (5,169)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (4,544)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/693405">Britt Wiccanshire</a> (4,542)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,667</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (2,667)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (2,053)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (1,810)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (1,756)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (1,366)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (1,339)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/698225">Lucius Tiberian</a> (1,251)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (1,138)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (1,113)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (1,070)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>16,000</b></p>
            <p>
                <a href="/pvp/lookatplayer/692199">Muu Vermont</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (16,000)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (14,272)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (10,795)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (7,306)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (5,173)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (4,972)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692146">Jessie 'Fairy Godmother' Nealy</a> (4,833)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (4,649)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692108">Judith 'Scheherazade' Neff</a> (4,309)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (3,887)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/razing_ruin_Mai_Omega.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,896</b></p>
            <p>
                <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a> (1,896)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (1,434)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692147">Rubette Lulette</a> (1,402)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/693645">Shooter Mcgavin</a> (1,355)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (844)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (842)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (791)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (707)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/698225">Lucius Tiberian</a> (650)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (555)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/razing_ruin_Mai_Omega.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,135</b></p>
            <p>
                <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a> (1,135)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (1,094)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/698225">Lucius Tiberian</a> (931)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (914)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692349">Enchanting Doll</a> (906)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693645">Shooter Mcgavin</a> (889)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (889)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (842)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (775)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (772)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_doll_blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,377</b></p>
            <p>
                <a href="/pvp/lookatplayer/692349">Enchanting Doll</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692349">Enchanting Doll</a> (1,377)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/693645">Shooter Mcgavin</a> (1,036)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/696257">Titsy Bumblebutt</a> (920)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/693269">Susie Knoll</a> (841)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692178">Victorea 'Mischievous Doll' Correa</a> (758)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693725">Rachel Broyles</a> (593)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692348">Jennifer Hollan II</a> (442)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692496">Felicie Ty'</a> (417)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692117">Catherine Sherrill</a> (416)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692319">Chad Lefen</a> (341)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>94,740</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (94,740)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a> (30,940)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (29,500)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (28,740)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692624">Betsy Flames</a> (14,540)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692878">Vanilla Cream</a> (12,300)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692572">Nephthys Nephtiri</a> (9,100)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (6,600)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692104">Varin Elderblood</a> (6,500)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/693232">Que Tee</a> (6,060)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>176</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (176)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (134)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (102)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692624">Betsy Flames</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (20)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692496">Felicie Ty'</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (13)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692208">Lola Gray</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>61</b></p>
            <p>
                <a href="/pvp/lookatplayer/692103">Matt Felgrand</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (61)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (43)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (40)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692127">Shredster Khan</a> (35)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/702147">Newtryka Mane</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692188">Tomiko Hewitt</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (26)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/regenerating_chocolate_bunny_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>16</b></p>
            <p>
                <a href="/pvp/lookatplayer/696963">Alice Fluff II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/696963">Alice Fluff II</a> (16)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/702163">Olesya Zeti</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/698293">Moonlight Sparkle</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/702236">Kento Linder II</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/701122">Tom Angel III</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/695964">Tetsuta Takeda</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/701647">Chaos Lost</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/700432">Eliza Reigna</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/696531">Natalie Bonilla</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/696531">Natalie Bonilla</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/702163">Olesya Zeti</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/702236">Kento Linder II</a> (5)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/694609">Terrible Dragon II</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/701949">Hendrix Shanks</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/701647">Chaos Lost</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/696739">Vinicius Whitman IV</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692880">Dawid Wolf</a> (3)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/693007">Johanna Sissy</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>62</b></p>
            <p>
                <a href="/pvp/lookatplayer/692103">Matt Felgrand</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (62)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692188">Tomiko Hewitt</a> (58)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692127">Shredster Khan</a> (41)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692264">Alexia '🍖Man-Eater🍖' Emm</a> (40)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (40)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692206">Matron Sweets</a> (39)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/702147">Newtryka Mane</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692173">Max Freya</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>217</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (217)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (164)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (100)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (95)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (70)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692452">Grey Stipples</a> (62)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693018">Xander Nikos</a> (60)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (56)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (48)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/ProstheticHorseCock_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>52</b></p>
            <p>
                <a href="/pvp/lookatplayer/692688">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (52)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692239">Eric Finney</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/696076">Clarissa Gable</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692248">Kari Pink</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/696286">Cara Marsh</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/698631">Jayne Beaudoin</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>172</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (172)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (151)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (89)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (79)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692239">Eric Finney</a> (66)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693018">Xander Nikos</a> (63)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (59)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692452">Grey Stipples</a> (58)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (52)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/698225">Lucius Tiberian</a> (48)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/puyo_custom_form_Cyberkaku.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>22</b></p>
            <p>
                <a href="/pvp/lookatplayer/692170">Puyo Hebihime</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692170">Puyo Hebihime</a> (22)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (10)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/694060">Dani Colorado</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/696300">Tammy Mireles</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692349">Enchanting Doll</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/696402">Camryn Rose</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692597">Jacqueline Tancara</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692381">Tanali Tobias</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>73</b></p>
            <p>
                <a href="/pvp/lookatplayer/692621">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (73)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (49)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (29)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (27)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/693405">Britt Wiccanshire</a> (27)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692060">Ann Beaty</a> (23)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (22)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692127">Shredster Khan</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/692121">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692973">Alex Edge</a> (14)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692172">Vicky Powell</a> (14)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692452">Grey Stipples</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692170">Puyo Hebihime</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,975</b></p>
            <p>
                <a href="/pvp/lookatplayer/692106">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692106">Kyrah Binbow</a> (24,975)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692177">Kitty Beaty</a> (24,895)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692351">Angeline Inflateable</a> (24,895)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692459">Lesser Half</a> (24,630)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692226">Seira's 'Sole' Attire</a> (24,400)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692827">Lara Ithilwen</a> (23,935)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692647">Joe Nobody</a> (23,475)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692429">Pillow Princess</a> (23,465)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692535">Kattie Aereathia</a> (23,235)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692203">Max Gold</a> (22,930)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/inflateable_dragon_maid_Balloondra.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,730</b></p>
            <p>
                <a href="/pvp/lookatplayer/692484">Markus Drake</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692484">Markus Drake</a> (24,730)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692157">Diamonique Possessio</a> (24,635)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692710">Squeaky Souris</a> (23,790)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692533">Squeaky Handmaid</a> (23,395)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/696156">Hialla Razorsong II</a> (23,225)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692214">Henny's Moocow</a> (22,745)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692230">Allyssa Adams</a> (22,538)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692517">Gwen Majors</a> (22,415)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692993">Yvesza Sylwind</a> (22,290)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692278">Jessie James</a> (22,080)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>80,157</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (80,157)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a> (28,325)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (20,127)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (18,974)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (18,667)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692878">Vanilla Cream</a> (17,948)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692624">Betsy Flames</a> (12,995)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692496">Felicie Ty'</a> (8,744)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692572">Nephthys Nephtiri</a> (8,053)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692071">Abigail Jasione</a> (8,002)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>6,265</b></p>
            <p>
                <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (6,265)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/693269">Susie Knoll</a> (3,434)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/693435">Annemarie Lylee</a> (1,675)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692233">Emily Mchart</a> (1,252)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (1,200)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/696015">Fuck Pet II</a> (991)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/696286">Cara Marsh</a> (939)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/700596">Eli Black</a> (888)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692170">Puyo Hebihime</a> (875)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692597">Jacqueline Tancara</a> (776)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/booty_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>2,730</b></p>
            <p>
                <a href="/pvp/lookatplayer/692319">Chad Lefen</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692319">Chad Lefen</a> (2,730)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/698917">Windy Thundia V</a> (1,540)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (1,220)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/697442">Kai Kalisa II</a> (1,130)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/698311">Kane Hartwell</a> (1,010)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692346">Jak Flarestorm</a> (910)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (880)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/697843">Lou Macias III</a> (610)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/693211">Jeanne Martens</a> (510)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692299">Lillie Rose</a> (510)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>670</b></p>
            <p>
                <a href="/pvp/lookatplayer/692137">Terry Shadow</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692137">Terry Shadow</a> (670)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692780">Eric Andre</a> (570)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/693026">Hestia Sinclair</a> (470)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/693705">Aelius Schafer</a> (410)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/696067">Patsy Casillas</a> (400)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692973">Alex Edge</a> (400)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/696113">Randi Faust</a> (370)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693518">Sabrina Aguilera</a> (350)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/696530">Mara Jade II</a> (350)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692232">Abby Houser</a> (350)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>302</b></p>
            <p>
                <a href="/pvp/lookatplayer/692121">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (302)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692346">Jak Flarestorm</a> (94)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (81)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692134">Karson Draconis</a> (54)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692239">Eric Finney</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693518">Sabrina Aguilera</a> (41)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693023">Lily Limbless</a> (41)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (37)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (36)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>184</b></p>
            <p>
                <a href="/pvp/lookatplayer/692199">Muu Vermont</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (184)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/693211">Jeanne Martens</a> (22)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/694001">Lysandra Caldwell</a> (13)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/699534">Lexi Belle</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692406">Miaplacidus Index</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692392">Kieran Seekshadow</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693645">Shooter Mcgavin</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/701647">Chaos Lost</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692172">Vicky Powell</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/cookie_chan_Blanca-D.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/692147">Rubette Lulette</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692147">Rubette Lulette</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/693645">Shooter Mcgavin</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/razing_ruin_Mai_Omega.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>112</b></p>
            <p>
                <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692201">Megixforge Yuomin</a> (112)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692812">Crystal Moyer</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/698225">Lucius Tiberian</a> (3)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (1)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/696630">Aurelia Sweet</a> (1)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/693485">Kiera Dierst</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bound_and_helpless_kitten_Ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>15</b></p>
            <p>
                <a href="/pvp/lookatplayer/702163">Olesya Zeti</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/702163">Olesya Zeti</a> (15)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/696963">Alice Fluff II</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (12)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/701647">Chaos Lost</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/701122">Tom Angel III</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/699094">Tyler Urty</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/698293">Moonlight Sparkle</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/700784">Nancy Rosser III</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692299">Lillie Rose</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/beat_cop_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>81</b></p>
            <p>
                <a href="/pvp/lookatplayer/692621">Elle Sawyer</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (81)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (46)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (31)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (29)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (28)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693405">Britt Wiccanshire</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692060">Ann Beaty</a> (23)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692099">Danii Colorado</a> (22)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/woman_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>20</b></p>
            <p>
                <a href="/pvp/lookatplayer/693232">Que Tee</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/693232">Que Tee</a> (20)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (3)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/697860">Rudy Callender II</a> (3)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692331">Kaiden Love</a> (2)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692658">Arya Vynf</a> (2)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/696300">Tammy Mireles</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693269">Susie Knoll</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692146">Jessie 'Fairy Godmother' Nealy</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/698910">Molly Carmona II</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692624">Betsy Flames</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>6,470</b></p>
            <p>
                <a href="/pvp/lookatplayer/692121">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (6,470)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692147">Rubette Lulette</a> (5,040)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (3,250)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (3,170)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (2,545)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692452">Grey Stipples</a> (2,075)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (1,650)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (1,615)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (1,475)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (1,450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_15_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>46</b></p>
            <p>
                <a href="/pvp/lookatplayer/692388">John Caldwell</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692388">John Caldwell</a> (46)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692426">Lexi Blake</a> (39)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/693023">Lily Limbless</a> (38)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/696113">Randi Faust</a> (36)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/698800">Joey Sikes</a> (31)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692245">Wendy Henderson</a> (25)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/694338">Kelley Maier</a> (24)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/693367">Maxine Crumpton</a> (23)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692294">Yuki Whiteclaw</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/fembunni_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/692071">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692071">Abigail Jasione</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692097">Annabelle '🇮 🇲 🇩 🇦 🇧 🇪 🇸' Jumeau</a> (9)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692688">Rosa Fortune</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692173">Max Freya</a> (9)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692552">Rene Descartes</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692194">Pearl 'Circe' Gunderson</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/694965">Spencer Catron II</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692388">John Caldwell</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692363">Simone Binbow</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/697442">Kai Kalisa II</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>1,775</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (1,775)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (1,607)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692319">Chad Lefen</a> (1,055)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (707)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (613)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693018">Xander Nikos</a> (307)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/695185">Leofstan Ashworth</a> (261)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (246)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/701647">Chaos Lost</a> (244)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/698915">Linda Wolfe</a> (201)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/diligent_dog_girl_gogo_blackwater.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>111</b></p>
            <p>
                <a href="/pvp/lookatplayer/692172">Vicky Powell</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692172">Vicky Powell</a> (111)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (88)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692264">Alexia '🍖Man-Eater🍖' Emm</a> (63)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692995">Catherine Moonlight</a> (58)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/702145">Kimmy Dollywood</a> (44)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (43)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693064">James Prescott</a> (42)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/694561">Taylor Moreno</a> (42)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692597">Jacqueline Tancara</a> (41)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/698842">Jesse Grey II</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>40</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (40)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (38)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/695591">Maria Linden</a> (16)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692820">Paige Craze</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/693435">Annemarie Lylee</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/695919">Torch Wick</a> (9)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692144">Selia Prior</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692232">Abby Houser</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>232</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (232)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (217)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692149">Avery Davis</a> (114)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/695591">Maria Linden</a> (57)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/693435">Annemarie Lylee</a> (52)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/695919">Torch Wick</a> (45)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (45)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692812">Crystal Moyer</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692820">Paige Craze</a> (33)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692144">Selia Prior</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>278</b></p>
            <p>
                <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (278)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (253)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (144)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (139)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692147">Rubette Lulette</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692104">Varin Elderblood</a> (32)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693026">Hestia Sinclair</a> (30)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692130">Rob Martinson</a> (27)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (26)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692413">The Purrmaker</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>25</b></p>
            <p>
                <a href="/pvp/lookatplayer/692413">The Purrmaker</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692413">The Purrmaker</a> (25)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692073">Tammy Paw</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (24)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (22)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692074">Latex Queen</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692233">Emily Mchart</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (17)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/692104">Varin Elderblood</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692130">Rob Martinson</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>96</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (96)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (93)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (52)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692284">Nadia 'Fatty Nadi' Ayers</a> (22)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692115">Tara Sapphire</a> (18)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/692127">Shredster Khan</a> (18)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693425">Usagi Chan</a> (18)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692121">Glenna Coy</a> (17)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692812">Crystal Moyer</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>13</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (13)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (10)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692144">Selia Prior</a> (5)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/696728">Lumina Lorakatse II</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693026">Hestia Sinclair</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693211">Jeanne Martens</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692890">Orangetye Staples</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692708">Ana Lan</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/swimsuit_neko_Karousel-k.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/692199">Muu Vermont</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (45)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (23)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (20)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/694826">Prios Fen</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/693026">Hestia Sinclair</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693555">Diana Rigby</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/694086">Josephine Boyce</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692135">Roxy Lanford</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>53</b></p>
            <p>
                <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (53)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (50)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692103">Matt Felgrand</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_plague_bearer_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/692084">Lucy '💫Dumb Bunny💫' Nysa</a> (63)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/692069">Sorcha Primrose</a> (49)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/692621">Elle Sawyer</a> (33)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/692147">Rubette Lulette</a> (25)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/692199">Muu Vermont</a> (23)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/692104">Varin Elderblood</a> (20)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/695195">Silver Fischer</a> (13)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/693026">Hestia Sinclair</a> (10)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/692935">Nick Hinkle</a> (9)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/692185">Riley Kramer</a> (9)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>