<div class="containerInner">

    <h1>Statistics Leaders</h1>
    
     <br><br>

    <div class="row">
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hawkeye</h3>
                        <p><i>Times searched:</i> <b>15,381</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844710">Martha Keene</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_searched"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844710">Martha Keene</a> (15,381)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/855197">Tammi Denson</a> (11,675)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844569">Alexa Hexa</a> (10,597)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (9,054)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845213">Vanilla Cream</a> (8,894)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844765">Kyrah Binbow</a> (5,932)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (5,363)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/849071">Nikki Tjard</a> (5,216)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a> (4,963)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (4,937)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
                        <p><i>Spells cast:</i> <b>3,568</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844557">Titania Siofra</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_spells_cast"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (3,568)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (2,581)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (2,011)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (1,968)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (1,847)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (1,729)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (1,607)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844594">Anna Riveryn</a> (1,549)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844748">Silver Moonthebat</a> (1,340)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/846443">David Smith</a> (1,179)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Restless One</h3>
                        <p><i>Times moved:</i> <b>34,094</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844564">Sean Iolar</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_moved"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844564">Sean Iolar</a> (34,094)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (12,314)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (11,684)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (10,772)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (9,243)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (8,109)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (7,584)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844755">Ilene Heim</a> (7,373)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846443">David Smith</a> (6,130)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (5,987)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Hypochondriac</h3>
                        <p><i>Times cleansed:</i> <b>1,818</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_cleansed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (1,818)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (1,750)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (1,331)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (1,309)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (1,289)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (975)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (955)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845260">Glenna Coy</a> (863)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846443">David Smith</a> (809)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (785)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/menacing_anglerfish_girl_Mizuaho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Lost in Thought</h3>
                        <p><i>Times meditated:</i> <b>1,817</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/852119">Red Solio II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_meditated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (1,817)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (1,647)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (1,321)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (1,004)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (985)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (937)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (926)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (924)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846443">David Smith</a> (915)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (821)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/blushing_bride_materclaws.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
                        <p><i>Times enchanting:</i> <b>1,125</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_enchanted"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (1,125)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844898">Razlien Lane</a> (831)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (702)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844712">Crystal Moyer</a> (598)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (460)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844584">Eric Finney</a> (237)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/846341">Dawid Wolf</a> (217)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844768">Terry Den</a> (166)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844973">Dustin Craven</a> (154)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844629">Nadia Ayers</a> (149)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Covenant Benefactor</h3>
                        <p><i>Net Arpyjis donated to covenant:</i> <b>50,000</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_net_donations"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (50,000)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (40,000)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (20,000)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (16,200)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844639">Henny Wuns</a> (14,060)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844577">Tara '/ᐠ｡ꞈ｡ᐟ\∫' Sapphire</a> (11,040)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844629">Nadia Ayers</a> (5,900)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844579">Kris Anderson</a> (4,860)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844765">Kyrah Binbow</a> (4,000)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844702">Lana Everheart</a> (3,860)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/fox_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Couch Potato</h3>
                        <p><i>Times using covenant furniture:</i> <b>19</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844867">Courtney Burke</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_covenant_furniture_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (19)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (15)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (9)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (7)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/846560">Dianya Nyekobornya II</a> (6)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844564">Sean Iolar</a> (5)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/851200">Erin Pillows</a> (4)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/menacing_anglerfish_girl_Mizuaho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
                        <p><i>Times transformed into an animate form:</i> <b>106</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/852119">Red Solio II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (106)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (89)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (44)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/846628">Ditzy Babs II</a> (41)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (40)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (39)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (34)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (33)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (32)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844773">Berry Amaimono</a> (30)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/lovers_gift_heart_thong_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimated</h3>
                        <p><i>Times transformed into an inanimate form:</i> <b>17</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a> (17)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/855454">Jenny Transformme</a> (15)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/852125">Katerina Smirnowa</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (10)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/855669">Manlius Dent</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845340">Ashley Littleton</a> (9)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/855161">Empiri Stinkrat II</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846171">Sasha Yubchena III</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/853633">Buttered Toast X</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/intersteller_fugitive_jbovinne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
                        <p><i>Times transformed into a pet form:</i> <b>9</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845575">Robyn Riggs</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animal"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845575">Robyn Riggs</a> (9)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/848886">Mai Galindo</a> (7)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/855454">Jenny Transformme</a> (7)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (7)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/849129">Benton Wyman</a> (6)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/848887">Kento Shelton</a> (6)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/852853">Teaty Propertyofriveryn</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844594">Anna Riveryn</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/855161">Empiri Stinkrat II</a> (5)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/850288">Olivia Coombs</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/menacing_anglerfish_girl_Mizuaho.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Animator</h3>
                        <p><i>Targets transformed into an animate form:</i> <b>135</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/852119">Red Solio II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (135)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (91)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (70)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844748">Silver Moonthebat</a> (65)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (55)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844571">Tomiko Hewitt</a> (40)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844983">Fortunate Professor</a> (38)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/846443">David Smith</a> (36)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846560">Dianya Nyekobornya II</a> (30)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/846419">Kris Latex</a> (29)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Inanimator</h3>
                        <p><i>Targets transformed into an inanimate form:</i> <b>347</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844557">Titania Siofra</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_inanimating"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (347)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (136)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (68)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845710">Xander Nikos</a> (65)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (55)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/846443">David Smith</a> (53)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (52)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (52)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (50)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844579">Kris Anderson</a> (48)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petmaker</h3>
                        <p><i>Targets transformed into a pet form:</i> <b>38</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_self_animaling"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (38)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (28)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (23)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844773">Berry Amaimono</a> (20)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844786">Yvesza Sylwind</a> (15)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844594">Anna Riveryn</a> (14)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (9)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/855454">Jenny Transformme</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844559">Jeremy Gordon</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844584">Eric Finney</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
                        <p><i>Psychopathic Spellslingers defeated:</i> <b>360</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844557">Titania Siofra</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_psychos_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (360)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (158)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (70)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845710">Xander Nikos</a> (66)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844594">Anna Riveryn</a> (54)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/846443">David Smith</a> (52)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (52)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844579">Kris Anderson</a> (51)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844559">Jeremy Gordon</a> (50)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (45)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Kitsune_Tsuki_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fast Commute</h3>
                        <p><i>Teleport scrolls used:</i> <b>35</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845106">Pie Pies</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_teleported_scroll"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (35)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844710">Martha Keene</a> (8)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/850956">Georgina Markham</a> (3)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/850135">Cat Brat</a> (3)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (3)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/846039">Aylia Cutiepie</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844786">Yvesza Sylwind</a> (2)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844794">Grace Taver</a> (2)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
                        <p><i>Times played with Jewdewfae:</i> <b>120</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_jewdewfae_completions"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (120)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (65)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (56)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (48)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (47)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (41)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844576">Robin Flynn</a> (41)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (27)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (24)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844589">Diana Rigby</a> (16)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
                        <p><i>Tomes read:</i> <b>14</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844557">Titania Siofra</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lore_books_read"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (14)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844569">Alexa Hexa</a> (14)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844958">Bently Nastor</a> (14)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845213">Vanilla Cream</a> (14)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (14)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (14)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844664">Calysto Galaxya</a> (13)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844765">Kyrah Binbow</a> (13)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845090">Sally Harkins</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/wedding_dress_Witchy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
                        <p><i>XP gained as an inanimate item:</i> <b>39,985</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844552">Jessie's Gown</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_inanimateXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844552">Jessie's Gown</a> (39,985)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844704">Fox's Panties</a> (39,925)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844551">Nadia Starling</a> (39,785)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844597">Pussy Auly</a> (39,750)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844683">Fat Tits</a> (39,305)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844615">Hestia Sinclair</a> (39,275)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844760">Fairy Bow</a> (38,970)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844699">Precious Pendant</a> (37,540)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844920">Josephine Fitch</a> (32,745)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844850">Pleasing Pillowthing</a> (32,665)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/animalPortraits/Thumbnails/100/circine_sow_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Petter off this Way</h3>
                        <p><i>XP gained as an pet.:</i> <b>39,955</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844613">Petty Criminal</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_petXPEarned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844613">Petty Criminal</a> (39,955)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844630">Kaede Yamabuki</a> (38,450)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844690">Riley Sorell</a> (35,505)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844879">Briana Clark</a> (34,420)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/846014">Kasia Spring</a> (34,040)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844590">Austin Wolfe</a> (32,225)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/855462">Jo Giovanna</a> (29,828)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844565">Minervas Petslut</a> (29,440)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845203">Britney Arellano</a> (26,565)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845079">Azuro Kuro</a> (24,655)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Seller</h3>
                        <p><i>Net profit from selling to Lindella:</i> <b>65,424</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (65,424)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844569">Alexa Hexa</a> (39,054)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (29,278)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (27,791)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (26,227)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (17,658)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845133">Nyasa Meownya</a> (16,214)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845213">Vanilla Cream</a> (13,241)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844577">Tara '/ᐠ｡ꞈ｡ᐟ\∫' Sapphire</a> (10,253)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844639">Henny Wuns</a> (9,191)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/licententious_librarian_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Soul Consumer</h3>
                        <p><i>Net loss from buying from Lindella:</i> <b>3,680</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844554">Shredster Khan</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lindella_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (3,680)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (3,639)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (3,608)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845575">Robyn Riggs</a> (1,921)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844962">Lefen Deon</a> (1,614)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (1,118)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/855454">Jenny Transformme</a> (1,028)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/849221">Tisha Fifi</a> (964)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (872)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844710">Martha Keene</a> (771)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
                        <p><i>Profit from selling to Wuffie:</i> <b>19,500</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_profit"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (19,500)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844639">Henny Wuns</a> (6,100)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845133">Nyasa Meownya</a> (4,688)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (3,440)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844962">Lefen Deon</a> (3,320)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (2,120)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/848096">Max Inne</a> (2,030)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (1,360)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/849221">Tisha Fifi</a> (1,060)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844577">Tara '/ᐠ｡ꞈ｡ᐟ\∫' Sapphire</a> (950)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
                        <p><i>Loss from buying from Wuffie:</i> <b>2,570</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844710">Martha Keene</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_wuffie_net_loss"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844710">Martha Keene</a> (2,570)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844644">Max Komsalott</a> (1,590)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/849071">Nikki Tjard</a> (1,360)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844564">Sean Iolar</a> (920)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844983">Fortunate Professor</a> (540)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/853136">Zoey Allermon II</a> (500)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845710">Xander Nikos</a> (400)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845398">Segon Frank</a> (360)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846815">Hikari Starshine II</a> (240)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/851112">Robin Pharnia</a> (210)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
                        <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>500</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_lorekeeper_spells_learned"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (500)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/845133">Nyasa Meownya</a> (437)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845710">Xander Nikos</a> (144)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (94)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844564">Sean Iolar</a> (92)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845084">Vivianne Mcqueen</a> (82)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845260">Glenna Coy</a> (60)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844559">Jeremy Gordon</a> (52)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (50)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844584">Eric Finney</a> (50)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/man_05_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
                        <p><i>Dungeon artifacts found:</i> <b>169</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845320">Joe Nobody</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_artifacts_found"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845320">Joe Nobody</a> (169)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/850398">Alice Ann</a> (75)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845616">Kieran Seekshadow</a> (25)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (13)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845751">Yully Bravewarrior</a> (10)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844643">Joanna Kunz</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844962">Lefen Deon</a> (8)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/848277">Lexi Belle</a> (7)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845073">Eirena Shashavani</a> (5)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (5)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Demonslayer</h3>
                        <p><i>Dungeon demons defeated:</i> <b>6</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844575">Lucile Lenon</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_demons_defeated"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (6)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/850831">Kiwi Fruits</a> (2)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/850398">Alice Ann</a> (1)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844643">Joanna Kunz</a> (1)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/853138">Hiro Nguyen III</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/woman_06_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
                        <p><i>Dungeon points stolen from victims:</i> <b>92</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844643">Joanna Kunz</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dungeon_points_stolen"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844643">Joanna Kunz</a> (92)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/846638">Lynnette Fredrick</a> (34)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (8)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (5)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844962">Lefen Deon</a> (1)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844898">Razlien Lane</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/850354">Elva Hardwick</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/853138">Hiro Nguyen III</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/849679">Max Karma</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/lovers_gift_heart_thong_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
                        <p><i>Times struggled back to an animate form:</i> <b>17</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_times_struggled_free"><div>
            <p>
                1. <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a> (17)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/855454">Jenny Transformme</a> (17)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (15)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845575">Robyn Riggs</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/852119">Red Solio II</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844844">Maxine Wampler</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845340">Ashley Littleton</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/848886">Mai Galindo</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846171">Sasha Yubchena III</a> (9)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/852972">Lina Inverse II</a> (9)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
                        <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>106</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_transmogs_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (106)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (81)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (49)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (48)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844576">Robin Flynn</a> (46)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844560">Jessie 'Funderdome Bookie' Nealy</a> (38)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (36)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (32)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a> (29)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (22)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
                        <p><i>Covenant Callback Crystals used:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_callback_crystals_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/846560">Dianya Nyekobornya II</a> (10)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844564">Sean Iolar</a> (4)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (2)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (1)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (1)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (1)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (1)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844973">Dustin Craven</a> (1)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (1)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/plain_pink_panties_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Dollyamory</h3>
                        <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>1,620</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844557">Titania Siofra</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_dolls_used"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (1,620)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844629">Nadia Ayers</a> (1,530)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (1,350)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845895">Lucille Swisher</a> (1,285)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (1,095)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844806">Kiera Dierst</a> (1,070)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845751">Yully Bravewarrior</a> (1,045)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845710">Xander Nikos</a> (865)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/852380">Jacqueline Tancaraz</a> (640)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845986">Alice Grayson</a> (620)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/woman_06_mtwof.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
                        <p><i>Quests failed:</i> <b>95</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844643">Joanna Kunz</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_failed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844643">Joanna Kunz</a> (95)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844853">Bently Mcmichael</a> (71)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/847437">Helen Castle</a> (64)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844765">Kyrah Binbow</a> (43)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/849071">Nikki Tjard</a> (43)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/846591">Max Wallace</a> (35)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845123">James Bomboski</a> (35)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845106">Pie Pies</a> (35)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/846419">Kris Latex</a> (33)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844563">Myrna Escobedo</a> (29)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/licententious_librarian_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Adventure Time!</h3>
                        <p><i>Quests passed:</i> <b>11</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844554">Shredster Khan</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_quests_passed"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (11)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (11)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844563">Myrna Escobedo</a> (11)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844568">Mayra Nielson</a> (11)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844748">Silver Moonthebat</a> (11)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844765">Kyrah Binbow</a> (11)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844668">Anderson Toney</a> (11)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845213">Vanilla Cream</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844754">Jake Chambers</a> (11)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844589">Diana Rigby</a> (11)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/elf_hero_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
                        <p><i>Total distance riding the bus:</i> <b>2,577</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844583">Callon Lendor</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_busrides"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (2,577)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844569">Alexa Hexa</a> (1,806)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (1,273)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (484)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (292)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (237)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845260">Glenna Coy</a> (221)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845174">Fran Montanez</a> (102)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844629">Nadia Ayers</a> (91)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/849358">Deacon Billiot II</a> (91)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/the_luckiest_guy_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
                        <p><i>Total targets hit with TG Splash Orbs:</i> <b>190</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844576">Robin Flynn</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_tg_bomb_hits"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844576">Robin Flynn</a> (190)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/855197">Tammi Denson</a> (101)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844580">Maddie James</a> (52)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845751">Yully Bravewarrior</a> (50)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844622">Nerati Sua</a> (44)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845702">Neferpitou Dono</a> (42)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844748">Silver Moonthebat</a> (41)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (36)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844996">Rob Martinson</a> (35)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (34)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Player Transformayer</h3>
                        <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>41</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844575">Lucile Lenon</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_player_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (41)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (34)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844786">Yvesza Sylwind</a> (19)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/846999">Luca Skunk</a> (13)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (13)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (10)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (9)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/851112">Robin Pharnia</a> (9)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845073">Eirena Shashavani</a> (7)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Level Shmevel</h3>
                        <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>257</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844575">Lucile Lenon</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_pvp_total_level_takedowns"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (257)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (248)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844786">Yvesza Sylwind</a> (81)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (70)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (66)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (54)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/851112">Robin Pharnia</a> (48)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/846999">Luca Skunk</a> (47)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (39)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/848886">Mai Galindo</a> (38)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
                        <p><i>Times attacking boss NPCs:</i> <b>300</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_totalBossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (300)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (207)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (180)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (161)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (82)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (78)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (76)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/846815">Hikari Starshine II</a> (40)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845986">Alice Grayson</a> (40)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845430">Rosa Fortune</a> (35)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">I Am the Law!</h3>
                        <p><i>Times attacking the Seekshadow thieves:</i> <b>54</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_ratThiefAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (54)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (53)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845500">Madaline Russell</a> (20)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (17)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844567">Thomas Garou</a> (17)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844579">Kris Anderson</a> (12)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844744">Jess Hiro</a> (10)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844996">Rob Martinson</a> (8)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844961">Erin Pinkney</a> (8)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (8)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/Thumbnails/100/slutty_nurse_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
                        <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>137</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_lovebringerAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (137)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (92)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (56)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (49)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/846815">Hikari Starshine II</a> (40)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/845986">Alice Grayson</a> (25)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844748">Silver Moonthebat</a> (24)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844898">Razlien Lane</a> (20)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845031">Erin Keys</a> (20)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845430">Rosa Fortune</a> (18)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Down With Donna!</h3>
                        <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>89</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_donnaAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (89)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (57)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (27)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845575">Robyn Riggs</a> (16)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (14)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/848887">Kento Shelton</a> (13)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845213">Vanilla Cream</a> (11)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844584">Eric Finney</a> (10)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845260">Glenna Coy</a> (10)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/war_oni_blackhole32.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Fae-Away</h3>
                        <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>43</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_faebossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (43)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (35)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (34)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (19)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (8)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/846591">Max Wallace</a> (2)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844744">Jess Hiro</a> (2)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845367">Jokin Steele</a> (2)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844679">Aida Holmes</a> (2)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844794">Grace Taver</a> (2)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Brisby Battler</h3>
                        <p><i>Times attacking either of the Brisby twins:</i> <b>34</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_mouseSisterAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (34)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (31)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844643">Joanna Kunz</a> (18)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (17)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/849979">Vato Loco</a> (14)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/853157">Crystal Draper II</a> (4)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (3)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
                        <p><i>Times attacking Harley the Road Queen:</i> <b>59</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844570">Kyla Noir</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_motorcycleGangAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (59)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844849">Sorcha Primrose</a> (56)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (47)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845174">Fran Montanez</a> (31)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844773">Berry Amaimono</a> (30)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (26)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (25)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844579">Kris Anderson</a> (19)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/845430">Rosa Fortune</a> (17)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (13)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">A Change in Management</h3>
                        <p><i>Times attacking any mini-boss:</i> <b>1,161</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_boss_minibossAttacks"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (1,161)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/845070">Lindsay Bradley</a> (441)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/844583">Callon Lendor</a> (341)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845260">Glenna Coy</a> (313)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844575">Lucile Lenon</a> (298)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/844557">Titania Siofra</a> (245)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/845166">Terra Ward</a> (231)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/844806">Kiera Dierst</a> (178)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844570">Kyla Noir</a> (140)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/845986">Alice Grayson</a> (128)
            </p>

</div></div>

                </div>
                    <div class="col-md-4 stats-leader" style="height: 484px;">
                        <img src="https://images.transformaniatime.com/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
                        <img src="https://images.transformaniatime.com/portraits/cupiedemon_blancaD.png" style="height:100px; width: 100px; margin: 3px; float:left;">
                        <h3 style="margin-top:110px !important;">Would You Kindly...?</h3>
                        <p><i>Number of mind control commands issued:</i> <b>128</b></p>
                        <p>
                            <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a>

                            <p>------------------</p>

                        </p>

                    <div id="more_mind_control_commands_issued"><div>
            <p>
                1. <a href="/pvp/lookatplayer/844566">Mirabel Diamond</a> (128)
            </p>
            <p>
                2. <a href="/pvp/lookatplayer/844867">Courtney Burke</a> (26)
            </p>
            <p>
                3. <a href="/pvp/lookatplayer/845404">Fanny Mojica</a> (24)
            </p>
            <p>
                4. <a href="/pvp/lookatplayer/845751">Yully Bravewarrior</a> (12)
            </p>
            <p>
                5. <a href="/pvp/lookatplayer/844554">Shredster Khan</a> (9)
            </p>
            <p>
                6. <a href="/pvp/lookatplayer/851200">Erin Pillows</a> (8)
            </p>
            <p>
                7. <a href="/pvp/lookatplayer/852452">Lyra Anderson II</a> (6)
            </p>
            <p>
                8. <a href="/pvp/lookatplayer/845575">Robyn Riggs</a> (5)
            </p>
            <p>
                9. <a href="/pvp/lookatplayer/844580">Maddie James</a> (4)
            </p>
            <p>
                10. <a href="/pvp/lookatplayer/844697">Genevieve Moen</a> (4)
            </p>

</div></div>

                </div>

    </div>

    <div id="topTypeList"></div>



</div>