<div class="containerInner">

    <h1>Statistics Leaders</h1>

    <br><br>

    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/study_buddy_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>9,089</b></p>
            <p>
                <a href="/pvp/lookatplayer/714429">Kyrah Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714429">Kyrah Binbow</a> (9,089)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (7,458)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (7,384)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/719397">Melissa Barkley III</a> (7,293)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714669">Vanilla Cream</a> (5,922)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714989">Catherine Moonlight</a> (5,594)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714537">Minervas Petslut</a> (4,815)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714760">Milky Tits</a> (4,153)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715839">Yril Robin</a> (4,034)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (4,033)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,235</b></p>
            <p>
                <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (2,235)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (1,963)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (1,820)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (1,596)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (1,564)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (1,537)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (1,313)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716984">Lesley Bunn II</a> (1,304)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (1,096)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716314">Kirito Shadow</a> (970)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>8,601</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (8,601)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (8,556)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (6,759)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (6,410)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (6,055)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/716984">Lesley Bunn II</a> (5,897)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (5,831)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (5,818)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/721872">Latex 'Property of Nadia' Slavetoy II</a> (5,684)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (5,317)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,761</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (1,761)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/715277">Jacqueline Tancara</a> (1,265)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (996)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (957)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (806)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714102">Renee Descartes</a> (753)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/723989">Jeanne Martens</a> (643)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (642)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (639)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (638)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,296</b></p>
            <p>
                <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (1,296)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (1,149)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (1,128)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (973)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (858)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (775)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714795">Pie Pies</a> (705)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (690)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (682)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714763">Ana Lan</a> (648)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,261</b></p>
            <p>
                <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (1,261)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714763">Ana Lan</a> (919)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/722543">Kired Thefallen</a> (619)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/715729">Marcella Mattox</a> (558)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714460">Ali Hain</a> (546)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714102">Renee Descartes</a> (529)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715267">Tiffany Anders</a> (503)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (345)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/718436">Felicity Subfox</a> (341)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714567">April Natari</a> (313)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>43,260</b></p>
            <p>
                <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (43,260)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (35,100)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (18,400)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714173">Jessie 'Wishing Star' Nealy</a> (11,780)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714954">Nephthys Pendulum</a> (11,500)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (11,460)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715154">Henny Wun</a> (10,980)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716314">Kirito Shadow</a> (6,500)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (6,180)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/718246">Catherine Sherrill</a> (5,680)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>69</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (69)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (64)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (58)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (53)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (24)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/721872">Latex 'Property of Nadia' Slavetoy II</a> (15)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714173">Jessie 'Wishing Star' Nealy</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714947">Annie Toy</a> (12)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716696">Aaron Hilliard</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Ice_Queen_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>48</b></p>
            <p>
                <a href="/pvp/lookatplayer/716589">Tara Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (48)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (47)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714795">Pie Pies</a> (45)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714466">Markus Drake</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (43)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714109">Shredster Khan</a> (37)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/723780">Jade Frostmane</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/soulblight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>21</b></p>
            <p>
                <a href="/pvp/lookatplayer/723819">Ashley Terrill</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/723819">Ashley Terrill</a> (21)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714742">Kay Oh</a> (13)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/721713">Laura Kira IV</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/717745">Arthblaidd Caliburn</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/723014">Vizcarra Roddy III</a> (8)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714819">Kino Baxton</a> (8)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/723995">Lenten Bowe II</a> (8)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/723580">Tom Robinette II</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/soulblight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/pvp/lookatplayer/723819">Ashley Terrill</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/723819">Ashley Terrill</a> (9)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/717917">Eliza Stuckey</a> (6)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/722954">Krystal Burrows II</a> (6)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/719663">Dan Voropanov</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/718297">Kathryn Tijerina</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714515">Grey Fox</a> (5)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715057">Alica Kretsch</a> (5)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/715111">Terrible Dragon</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/belle_of_the_ball_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>65</b></p>
            <p>
                <a href="/pvp/lookatplayer/714764">Anderson Toney</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714764">Anderson Toney</a> (65)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/716314">Kirito Shadow</a> (46)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (43)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714092">Tomiko Hewitt</a> (43)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714333">Ashley 'Demon Hunter' Zorella</a> (39)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/718436">Felicity Subfox</a> (35)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714109">Shredster Khan</a> (34)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (31)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714682">Seth Shadow</a> (30)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>206</b></p>
            <p>
                <a href="/pvp/lookatplayer/714346">Maid Emily</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (206)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (140)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (72)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716984">Lesley Bunn II</a> (59)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714954">Nephthys Pendulum</a> (55)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (54)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (53)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/719721">Sillivia Darkwood</a> (44)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/719397">Melissa Barkley III</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/elf_princess_jbovinne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>28</b></p>
            <p>
                <a href="/pvp/lookatplayer/714616">Rosa Fortune</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (28)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (20)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714183">Ruby Stclair</a> (8)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/718916">Robin Nekada</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714515">Grey Fox</a> (7)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/720227">Merry Delham II</a> (6)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714267">Crystal Moyer</a> (6)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/717679">Will Wolf</a> (6)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/720053">Spiffy Butt</a> (6)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714127">Dianna Santana</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>191</b></p>
            <p>
                <a href="/pvp/lookatplayer/714346">Maid Emily</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (191)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (129)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714954">Nephthys Pendulum</a> (56)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716984">Lesley Bunn II</a> (55)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (49)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/719721">Sillivia Darkwood</a> (44)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (43)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/719397">Melissa Barkley III</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (34)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/721872">Latex 'Property of Nadia' Slavetoy II</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/wet_tshirt_contestant_Mizuho.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/714795">Pie Pies</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714795">Pie Pies</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714929">Penny Razzle</a> (4)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (4)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714183">Ruby Stclair</a> (3)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714651">Orangetye Staples</a> (2)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714466">Markus Drake</a> (2)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714127">Dianna Santana</a> (2)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714222">Mewlix Ruffles</a> (2)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714605">Grace Vaker</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Ice_Queen_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>64</b></p>
            <p>
                <a href="/pvp/lookatplayer/716589">Tara Sapphire</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (64)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (51)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (40)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714466">Markus Drake</a> (33)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715252">Julia Dolly</a> (30)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (24)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714109">Shredster Khan</a> (23)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715084">Luz Devlin</a> (18)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>14</b></p>
            <p>
                <a href="/pvp/lookatplayer/716822">Alessa Kraus</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/716822">Alessa Kraus</a> (14)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/719970">Kari Fields</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/721872">Latex 'Property of Nadia' Slavetoy II</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714547">Kyle Nines</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714947">Annie Toy</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714466">Markus Drake</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714086">Josephine Bloodfallen</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/716696">Aaron Hilliard</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/onepiece_latex_swimsuit_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,980</b></p>
            <p>
                <a href="/pvp/lookatplayer/714094">Judith's Swimsuit</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714094">Judith's Swimsuit</a> (24,980)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714186">Princess Cocksleeve</a> (24,980)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714269">Lesser Half</a> (24,800)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714113">Kitty Tata</a> (24,675)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714206">Jaclyn Hobbs</a> (24,560)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714268">Glittering Diadem</a> (24,550)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714076">Angeline Inflateable</a> (24,485)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714202">Sexy Panties</a> (23,935)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714327">Gordon Catron</a> (23,415)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714583">Avery Winters</a> (23,403)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/cowslime_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,830</b></p>
            <p>
                <a href="/pvp/lookatplayer/714100">Diamonique Possessio</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714100">Diamonique Possessio</a> (24,830)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714581">Max Gold</a> (24,605)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714130">Vixy Angelica</a> (24,125)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714777">Sophia Kelly</a> (20,663)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714265">Knotty Bitch</a> (18,570)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714612">Kieran Seekshadow</a> (18,365)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/718717">Jorunn Erikksdotter</a> (17,105)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714529">Melina Mercy</a> (16,685)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714361">Allyssa Adams</a> (16,585)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714600">Gwen Majors</a> (16,575)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>34,439</b></p>
            <p>
                <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (34,439)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (26,851)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714173">Jessie 'Wishing Star' Nealy</a> (11,916)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714066">Varin Elderblood</a> (9,245)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714954">Nephthys Pendulum</a> (9,180)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715839">Yril Robin</a> (8,502)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714537">Minervas Petslut</a> (8,079)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (7,522)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714213">Grey Stipples</a> (6,166)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716822">Alessa Kraus</a> (5,702)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>10,644</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (10,644)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (1,919)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (1,264)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716984">Lesley Bunn II</a> (1,123)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714489">Wayne Pitcher</a> (1,118)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (1,095)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/719721">Sillivia Darkwood</a> (953)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (802)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714109">Shredster Khan</a> (715)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714718">Alexis Janes</a> (691)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/succubus_by_nymic_tf-d7euc8y.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>4,530</b></p>
            <p>
                <a href="/pvp/lookatplayer/715154">Henny Wun</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/715154">Henny Wun</a> (4,530)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/718786">Boggy Adalheid</a> (1,650)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714764">Anderson Toney</a> (1,610)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/715136">Purple Haze</a> (1,390)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/717928">Kendra Weatherford</a> (1,310)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715084">Luz Devlin</a> (940)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/717576">Troy Goodman</a> (880)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (720)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715656">Ophelia Hildreth</a> (710)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/720227">Merry Delham II</a> (560)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/man_10_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>800</b></p>
            <p>
                <a href="/pvp/lookatplayer/716462">Morgan Powers</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/716462">Morgan Powers</a> (800)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (690)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/722144">Corsetta Whitelace</a> (680)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/719397">Melissa Barkley III</a> (670)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714601">Terry Shadon</a> (570)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714106">Silly Bunbun</a> (420)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715252">Julia Dolly</a> (420)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714554">Alistair Ross</a> (350)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714161">Birdie Hanife</a> (220)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714081">Lucille Swisher</a> (200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>170</b></p>
            <p>
                <a href="/pvp/lookatplayer/714702">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (170)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714335">Lillie Rose</a> (91)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/717928">Kendra Weatherford</a> (62)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/718916">Robin Nekada</a> (62)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/718786">Boggy Adalheid</a> (56)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714764">Anderson Toney</a> (48)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714857">Vivianne Mcqueen</a> (44)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714968">Nyasa Meownya</a> (38)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715138">Karson Draconis</a> (35)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/715721">Kylie Monrow</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/futinari_flasher_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>18</b></p>
            <p>
                <a href="/pvp/lookatplayer/714580">Glenna Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714580">Glenna Coy</a> (18)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/717054">Kelly Doll</a> (12)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/719970">Kari Fields</a> (8)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716351">Julia Cintron</a> (5)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715277">Jacqueline Tancara</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/719334">Terry Maya</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/723989">Jeanne Martens</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/721071">Otto Phillip</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/egyptian_priestess_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/715277">Jacqueline Tancara</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/715277">Jacqueline Tancara</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>31</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (31)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714183">Ruby Stclair</a> (5)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/720778">Jennie Dwyer</a> (2)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714102">Renee Descartes</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/soulblight_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>23</b></p>
            <p>
                <a href="/pvp/lookatplayer/723819">Ashley Terrill</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/723819">Ashley Terrill</a> (23)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714742">Kay Oh</a> (14)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (14)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/715057">Alica Kretsch</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (10)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714819">Kino Baxton</a> (9)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715363">Priscilla Salazar</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715111">Terrible Dragon</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/715867">Aelia Baumann</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Ice_Queen_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>87</b></p>
            <p>
                <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (87)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (75)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (67)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (45)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/715252">Julia Dolly</a> (29)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (28)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714466">Markus Drake</a> (27)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (26)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715084">Luz Devlin</a> (19)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714989">Catherine Moonlight</a> (14)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>6</b></p>
            <p>
                <a href="/pvp/lookatplayer/714346">Maid Emily</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (6)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/716314">Kirito Shadow</a> (2)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (1)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/715098">Abby Houser</a> (1)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/715136">Purple Haze</a> (1)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714101">Judith 'Lady of the Lake' Neff</a> (1)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/716354">May Leonberg</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/stripper_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>14,520</b></p>
            <p>
                <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (14,520)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714102">Renee Descartes</a> (1,740)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/715154">Henny Wun</a> (1,705)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (1,580)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/715277">Jacqueline Tancara</a> (1,270)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714081">Lucille Swisher</a> (1,270)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (940)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (905)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (810)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/721872">Latex 'Property of Nadia' Slavetoy II</a> (700)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>60</b></p>
            <p>
                <a href="/pvp/lookatplayer/715269">Brea Streets</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/715269">Brea Streets</a> (60)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/718353">Nia Yulikova</a> (55)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714683">Priscilla Durr</a> (47)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714515">Grey Fox</a> (47)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (41)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714333">Ashley 'Demon Hunter' Zorella</a> (36)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714795">Pie Pies</a> (36)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715388">Joseph Wow</a> (35)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/718322">Andrew True</a> (32)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714135">Nadia 'Trainee Pee Pet' Ayers</a> (32)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/smol_sheep_plush_blanca-d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>11</b></p>
            <p>
                <a href="/pvp/lookatplayer/714159">Abigail Jasione</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714159">Abigail Jasione</a> (11)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714830">Patsy Casillas</a> (11)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (11)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714341">Rubette Lulette</a> (11)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714109">Shredster Khan</a> (11)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714068">Britt Wiccanshire</a> (11)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (11)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714429">Kyrah Binbow</a> (11)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715057">Alica Kretsch</a> (11)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716314">Kirito Shadow</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Wheels on the Bus</h3>
            <p><i>Total distance riding the bus:</i> <b>922</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_busrides">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (922)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (558)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/715196">Alisha Riddle</a> (497)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716354">May Leonberg</a> (313)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (281)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/718916">Robin Nekada</a> (196)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/722313">Claudine Mulkey</a> (194)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716696">Aaron Hilliard</a> (177)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/717178">Siris Reed</a> (174)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/716235">Eva Serna</a> (144)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nekopire_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Sex Swap Scoundrel</h3>
            <p><i>Total targets hit with TG Splash Orbs:</i> <b>129</b></p>
            <p>
                <a href="/pvp/lookatplayer/714086">Josephine Bloodfallen</a>

            <p>------------------</p>

            </p>

            <div id="more_tg_bomb_hits">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714086">Josephine Bloodfallen</a> (129)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (72)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/716822">Alessa Kraus</a> (48)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714601">Terry Shadon</a> (38)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (37)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714201">Roxanne Siggler</a> (32)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714929">Penny Razzle</a> (32)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714580">Glenna Coy</a> (32)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714165">Bet Baum</a> (30)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/715291">Bimbo Whore</a> (27)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Player Transformayer</h3>
            <p><i>Total PvP-PvP players transformed into items or pets:</i> <b>47</b></p>
            <p>
                <a href="/pvp/lookatplayer/714702">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_player_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (47)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714183">Ruby Stclair</a> (25)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (17)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714267">Crystal Moyer</a> (17)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714676">Sofie Howard</a> (16)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (14)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/716866">Maria Linden</a> (14)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (14)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/720778">Jennie Dwyer</a> (10)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vicious_gorgon_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Level Shmevel</h3>
            <p><i>Sum of all PvP-PvP levels of players transformed into items or pets:</i> <b>245</b></p>
            <p>
                <a href="/pvp/lookatplayer/714702">Reiko Ruy</a>

            <p>------------------</p>

            </p>

            <div id="more_pvp_total_level_takedowns">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714702">Reiko Ruy</a> (245)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714183">Ruby Stclair</a> (103)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (93)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714267">Crystal Moyer</a> (89)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/720778">Jennie Dwyer</a> (75)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714676">Sofie Howard</a> (68)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (57)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715890">Kylan Chen</a> (54)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (45)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">You Aren't the Boss of Me!</h3>
            <p><i>Times attacking boss NPCs:</i> <b>407</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_totalBossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (407)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (389)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (226)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (47)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714764">Anderson Toney</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (39)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (29)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (28)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (27)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">I Am the Law!</h3>
            <p><i>Times attacking the Seekshadow thieves:</i> <b>51</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_ratThiefAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (51)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (41)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (27)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714065">Fox Cross</a> (21)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714267">Crystal Moyer</a> (13)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715854">Jordan North</a> (5)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714124">Leofstan Ashworth</a> (5)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714387">Usagi Chan</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714356">Spot Lacey</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714465">Nina Susser</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">A.B.S Agent-In-Training</h3>
            <p><i>Times attacking the Lady Lovebringer, PHD:</i> <b>116</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_lovebringerAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (116)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (103)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (51)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/716589">Tara Sapphire</a> (47)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/714764">Anderson Toney</a> (42)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (26)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/716106">Katt Drake II</a> (15)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (15)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/715057">Alica Kretsch</a> (12)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (11)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Down With Donna!</h3>
            <p><i>Times attacking 'Aunt' Donna Milton:</i> <b>89</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_donnaAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (89)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (63)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (32)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/717917">Eliza Stuckey</a> (15)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (15)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715363">Priscilla Salazar</a> (10)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/717170">Joss Niles</a> (9)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714832">Sammy Galloway</a> (8)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/716672">Finean Gaige</a> (8)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/714515">Grey Fox</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/squirrel_trainer_blanca_d.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fae-Away</h3>
            <p><i>Times attacking Narcissa the Corrupted Lunar Fae:</i> <b>54</b></p>
            <p>
                <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_faebossAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (54)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (27)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/716910">Dani Palmira</a> (9)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714341">Rubette Lulette</a> (6)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/716927">Doe Kane II</a> (6)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/714307">Mellissa Fire</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714776">Avery Davis II</a> (4)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/715363">Priscilla Salazar</a> (4)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (4)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/720371">Juniper Newberry</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Brisby Battler</h3>
            <p><i>Times attacking either of the Brisby twins:</i> <b>63</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_mouseSisterAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (63)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (52)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714093">Matt Felgrand</a> (22)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/723399">Jean Nash</a> (10)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/722703">Jude Nobles</a> (4)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/718353">Nia Yulikova</a> (4)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/714616">Rosa Fortune</a> (3)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/714307">Mellissa Fire</a> (3)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/718335">Latonya Crawley</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/harlot_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">This Town Ain't Big Enough</h3>
            <p><i>Times attacking Harley the Road Queen:</i> <b>92</b></p>
            <p>
                <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a>

            <p>------------------</p>

            </p>

            <div id="more_boss_motorcycleGangAttacks">
                <div>
                    <p>
                        1. <a href="/pvp/lookatplayer/714219">Sorcha 'Ferocity's Song' Primrose</a> (92)
                    </p>
                    <p>
                        2. <a href="/pvp/lookatplayer/714129">Celine 'Bratty Puppy' Nysa</a> (82)
                    </p>
                    <p>
                        3. <a href="/pvp/lookatplayer/714408">Kyla Noir</a> (75)
                    </p>
                    <p>
                        4. <a href="/pvp/lookatplayer/714346">Maid Emily</a> (13)
                    </p>
                    <p>
                        5. <a href="/pvp/lookatplayer/717168">Jaime Navarrete</a> (9)
                    </p>
                    <p>
                        6. <a href="/pvp/lookatplayer/715274">Liliana Victor</a> (7)
                    </p>
                    <p>
                        7. <a href="/pvp/lookatplayer/715414">Maka Christy</a> (7)
                    </p>
                    <p>
                        8. <a href="/pvp/lookatplayer/716502">Nero Dodge</a> (7)
                    </p>
                    <p>
                        9. <a href="/pvp/lookatplayer/716571">Bruce Bison</a> (7)
                    </p>
                    <p>
                        10. <a href="/pvp/lookatplayer/715043">Olesya Zet</a> (6)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>