@using TT.Domain.Statics
<li><a asp-controller="PvP" asp-action="Play">Home</a></li>
<li><a asp-controller="Info" asp-action="GameNews">News (@PvPStatics.LastGameUpdate)</a></li>
<li><a asp-controller="Info" asp-action="HowToPlay">How to Play</a></li>
<li><a asp-controller="Leaderboard" asp-action="PvPLeaderboard">Leaderboard</a></li>
<li><a asp-controller="Info" asp-action="Donate">Donate?</a></li>
<li><a asp-controller="Settings" asp-action="ViewPolls">Polls</a></li>
<li><a asp-controller="Info" asp-action="RecentRPClassifieds">RP Classifieds</a></li>
<li><a href="https://discord.gg/z66CYzX" target="_blank">Official TT Discord</a></li>