@Html.ActionLink("Back to game", "Play", "PvP")
@Html.ActionLink("How to Play", "HowToPlay", "PvP")

<h1>Frequently Asked Questions</h1>

<h2>General Questions</h2>

<p><b><i>Q:  What is Transformania Time?</i></b></p>

<p>A:  Transformania Time is a multiplayer browser-based game with primarily transformation-related themes, including TG (trasgender), BE (breast expansion), inanimation (turning someone into an inanimate object), animal transformations, and more.  Many parts of the game use adult content.</p>

<p><b><i>Q:  What themes does the gave NOT have?</i></b></p>

<p>A:  Transformania Times does not include AR (age regression) younger than 18 due to the sexual contents of the game.</p>

@*<p><b><i>Q:</i></b></p>

<p>A:</p>*@

@Html.ActionLink("Back to game", "Play", "PvP")