<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li>@Html.ActionLink("News", "GameNews", "PvP")</li>
                <li>@Html.ActionLink("News Archive", "GameNews_Archive", "PvP")</li>
                <li>@Html.ActionLink("Rules of Play", "Rules", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="containerInner">
    <h1>Planned Game Features</h1>

    <h3>Continually Added Features (Anytime)</h3>

    <ul>
        <li>New spells / forms / items as the community submits them</li>
        <li>Bugfixes</li>
    </ul>

    <h3>Short-Term Planned Features (Within a few rounds)</h3>

    <ul>
        <li>Persistent achievments, ie "Psychopath Hunter:  Inanimate 100 psychopaths."</li>
        <li>More Mind-control type transformations (forced attack, forced de-cleanse, others?)</li>
    </ul>

    <h3>Long-Term Planned Features (Before the game leaves alpha)</h3>

    <ul>
        <li>Absorption-type transformations</li>
        <li>Item set bonuses</li>
        <li>Transformation Arena:  fight to transform an opponent in a real-time, 1v1 (or more?) setting</li>
    </ul>

    <h3>Features under consideration</h3>

    <ul>
        <li>Ability for pets, possibly items, to counteract the Sneak ability and see hidden movement messages</li>
        <li>Bonus that reduces your opponent's chance of scoring a critical hit</li>
        <li>Allow players to be transformed into covenant furniture</li>
        <li>Questing mode.  Will likely work something like RAGS player.</li>
    </ul>
</div>