
<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>
<p>
    @Html.ActionLink("Back to Game News", "GameNews", "PvP")
</p>

<h1>Planned Game Features</h1>

<h3>Continually Added Features (Anytime)</h3>

<ul>
    <li>New spells / forms / items as the community submits them</li>
    <li>New locations</li>
    <li>Bugfixes</li>
</ul>

<h3>Short-Term Planned Features (Within a few rounds)</h3>

<ul>
    <li>Spell 'hotbar' that lets you choose which spells to show on the main game page instead of all of them.</li>
    <li>Bosses--powerful, high-level AI-controlled characters.</li>
    <li>
        Expanded Covenant activities:
        <ul>
            <li>Capturable locations that provide covenant-wide blessings</li>
            <li>Territory wars:  gain Arpeyjis for how much of the map a covenant possesses</li>
            <li>Blessings, temporary positive effects only covenant-mates can cast on each other</li>
        </ul>
    </li>
    <li>Trusted items:  the ability for owners to give their items the ability to see their ingame surroundings the way pets can.</li>
</ul>

<h3>Long-Term Planned Features (Before the game leaves alpha)</h3>

<ul>
    <li>Absorption-type transformations</li>
    <li>Mind-control type transformations</li>
    <li>Item set bonuses</li>
    <li>Major UI changes</li>
    <li>Transformation Arena:  fight to transform an opponent in a real-time, 1v1 (or more?) minigame</li>
</ul>

<h3>Features under consideration</h3>

<ul>
    <li>Ability for pets, possibly items, to counteract the Sneak ability and see hidden movement messages</li>
    <li>Bonus that reduces your opponent's chance of scoring a critical hit</li>
    <li>Rudimentary quests?</li>
</ul>

<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>