@{
    ViewBag.Title = "LoginRequired";
}

<div class="containerInner textSpaced">
    <p>Welcome to Transformania Time! You need to log in!</p>

    <p>
        Or did you want to play single player javascript game - 
        @Html.ActionLink("Transformania Gameshow", "Play", "TransformaniaTime") ?
    </p>
</div>
