<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "LoginRequired";
}

You need to log in!

<p>Or did you want to play 
    @Html.ActionLink("Transformania Time", "Play", "TransformaniaTime") ?</p>

