<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="containerInner textSpaced">
    <h1>Rules</h1>

    <p>Below are some rules and a code of conduct you must follow in order to take part in Transformania Time.</p>

    <ul>
        <li>
            <b>You are permitted to have two animate accounts.  One account can be in Protection/Superprotection mode and the other must be in PvP.</b>  Do not use your Protection Mode account to help your PvP mode.  This includes:

            <ul>
                <li>DO NOT drop pets or items from your Protection mode character to a PvP mode character for them to pick up.  This is commonly known as "muling".  This is an unfair cheating way to circumvent inventory size limits.</li>
                <li>DO NOT use a Protection mode character to pick up items dropped by your PvP mode character when they are inanimated or turned into a pet.</li>
                <li>DO NOT sell items or pets from your Protection mode character to Lindella or Wuffie only to have your PvP mode character purchase them back unless there have been at least 24 hours between selling it to Lindella and purchasing it.  The same rule applies for Wuffie and pet trading.</li>
                <li>DO NOT create a Protection mode character solely for transferring Arpeyjis to your covenant only to have it be transferred to your PvP mode character.</li>
            </ul>

        <li>DO NOT immediately pursue your attacker after you have been inanimated or turned into a pet by them and have chosen to reroll.  You must wait at least two hours before attacking them again.</li>
        <li>You may have as many characters who are inanimate or pets as you'd like; however the more you have the less amount of XP you'll gain per action per character.</li>
        <li>Scripting the game is not permitted.  This includes item auto-leveling scripts, page refreshes to see new messages / victims, crawling URLs, or anything else that puts an unecessary strain on the server and gives you an unfair advantage over other players.</li>
        <li>Be civil to other players and in global chat.  This means no hate speech, no racial slurs, etc.</li>

        <li>Players caught violating item transferring rules or immediately revenge-attacking someone will have their ability to cast any spells disabled.  Players being needlessly rude or uncivil on global chat will be banned from the global chat room.</li>
        <li>Any worse or repeated violations of these rules may result in your account being deleted.</li>

    </ul>

    <p>CURRENT MODERATORS:</p>
    <ul>
        <li>Judoo</li>
        <li>Mizuho</li>
        <li>Arrhae</li>
        <li>Babblingfaces (aka Camren Doss)</li>
    </ul>

</div>