@model tfgame.ViewModels.PublicBroadcastViewModel

<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <p class="infoMessage result"></p>
    <p class="infoMessage error"></p>
    <p class="infoMessage suberror"></p>
</div>


<div class="containerInner">

    <h1>Shout</h1>

    <p>You can enter a short message to shout out in your current location once per turn.  There is a limit of 100 characters.  What would you like to shout?</p>

    @using (Html.BeginForm("ShoutSend", "PvP", FormMethod.Post))
    {


            <div class="messageInfoContainer clearfix">
                <span class="charCounter" id="textRemaining"></span>
            </div>

            @Html.TextAreaFor(m => m.Message)
            <br />
            <br />
            <input type="submit" value="Send" />
    }
</div>

<script>
    $("#Message").keypress(function () {
        var remaining = 100 - $("#Message").val().length;
        $("#textRemaining").html(remaining + " characters remaining");
    });
</script>

<style>
    textarea {
        width: 100%;
    }
</style>
