@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Juderp!</h1>
    <h2 class="error">An error occurred while processing your request.  If this problem persists and you believe you should not be seeing this,   <a href="http://luxianne.com/forum/index.php">please post a bug report on the forums</a>.</h2>
    <p>You might still be able to use certain portions of the site:</p>
    <p><a href="/PvP/Chat?room=global" target="_blank">Global Chat</a></p>
    <p><a href="/PvP/MyMessages">Inbox</a></p>
    <p><a href="/PvP/Contribute/-1">Submit Content</a></p>
</hgroup>
