@model TT.Domain.ViewModels.PlayPageViewModel
@using TT.Web.CustomHtmlHelpers
@using TT.Domain.Statics

<div id="modalBackdrop"></div>
<div id="attackModal" class="ui-widget-content ui-draggable">

    <span id="youAreAttacking"></span>
    <span id="attackClose" onclick="closeAttackModal()">Cancel</span>
    <span id="expand" onclick="expandModal()">Expand</span>
    <br /><br />

    @{
        if (ViewBag.BotId == AIStatics.ValentineBotId)
        {
            foreach (var s in Model.Skills.OrderBy(s => s.Skill.FriendlyName))
            {
                <span>
                @Html.ActionLink(s.Skill.FriendlyName + " (" + s.Skill.ManaCost + ")", "Attack", "PvP", new {targetId = "XXX", attackName = s.dbSkill.Name}, new {@class = CharactersHere.GetSpellTypeClass(s), @manacost = s.Skill.ManaCost})
            </span>
            }
        }
        else if (ViewBag.BotId != AIStatics.ValentineBotId)
        {
            <span>
                @Html.ActionLink("Challenge to a Duel", "Attack", "PvP", new {targetId = "XXX", attackName = "duel_valentine"}, new {@class = "attack_boss", @manacost = 10})
            </span>
        }
    }
        </div>

<script>

    function attackClicked(playerId, name) {
        $("#youAreAttacking").html("You are attacking <b>" + name + "</b>.  Which spell are you attacking with?");

        $(".action_attack").each(function () {
            var link = $(this).attr("href");
            link = link.replace("XXX", playerId.toString());
            $(this).attr("href",link);
        });

        showAttackModal();
    }

    function expandModal() {
        var modal = $("#attackModal");
        modal.css("height", "100%");
        modal.css("width", "100%");
        modal.css("left", 0);
        modal.css("top", 0);

        $("#expand").hide();

        $(".action_attack").each(function () {
            $(this).css("font-size", "20px");
        });
    }



    function showAttackModal() {
        $("#attackModal").show();
        $("#modalBackdrop").show();
    }

    function closeAttackModal() {

        $(".action_attack").each(function () {
            var link = $(this).attr("href");
            var start = link.indexOf("=")+1;
            var end = link.indexOf("&");
            var replaceMe = link.substring(start, end);

            link = link.replace(replaceMe, "XXX");
            $(this).attr("href", link);


        });

        $("#attackModal").hide();
        $("#modalBackdrop").hide();
    }

</script>

<style>

   #expand {
       cursor: pointer;
       font-weight: 600;
       border: 1px solid black;
       background-color:ivory;
       border-radius: 5px;
   }

   #expand:hover {
       background-color: white;
   }
    
     #youAreAttacking {
        color: black;
        font-size: 15px;
    }

    #attackClose {
        color: darkblue;
        font-size: 15px;
        background-color: lightblue;
        cursor: pointer;
        font-weight: 900;
        border: 2px solid red;
        border-radius: 5px;
    }

        #attackClose:hover {
            color: black;
            background-color: lightcyan;
            border: 2px solid black;
        }

     
</style>