<div class="oldrounds">
    <select id="list" onchange="renderButtons()"></select>

    <button class="btn" id="pvp" style="display: none;">PvP/Dungeon</button>
    <button class="btn" id="xp" style="display: none;">XP</button>
    <button class="btn" id="item" style="display: none;">Item/Pet</button>
    <button class="btn" id="achievements" style="display: none;">Achievements</button>
</div>

<script src="~/Scripts/leaderboardDropdown.js"></script>