@model IEnumerable<TT.Domain.DTOs.LocationLog.LocationLogDetail>
@using TT.Web.CustomHtmlHelpers


<div style="clear:both;"></div>

<ul id="RecentActivityLog">
    @{
        foreach (var log in Model)
        {
            <li>
                @Html.Raw(log.Message)

            @{
            if (log.ConcealmentLevel > 0)
            {
                <span class="playerMediatingNotification">[@log.ConcealmentLevel]</span>
            }
            }

            <span class="timeago">@CharactersHere.DatetimeToTimeago(log.Timestamp)</span>
        </li>
        }
    }
</ul>
