
@model TT.Domain.Items.DTOs.ItemDetail
    
<br><br><p>You are soulbound <b><span class="playerMediatingNotification">[SB]</span></b> to <a href="@Url.Action(MVC.PvP.LookAtPlayer(Model.SoulboundToPlayer.Id))">@Model.SoulboundToPlayer.FullName</a>.  None others can pick you up or use you.  Should your owner find themselves temporarily defeated, Karin Kezesul-Adriz the Soulbinder will keep you until, or if, your owner restores themselves to an animate body.</p>