@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)


<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/study_buddy_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>8,751</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299394">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299394">Simone Binbow</a> (8,751)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299818">Nyasa Meownya</a> (5,328)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/300383">Janeen Wiccanshire</a> (5,158)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299845">Pawpawpaw Wigglewigglewiggle</a> (4,894)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (4,744)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/301036">Kirumi Terashi II</a> (3,838)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299520">Jessele Rueter</a> (3,640)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/300066">Meryl Crandal</a> (3,463)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299304">Elizabeth 'Maple 🍁 Syrup' Stearns</a> (3,348)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299383">Efrain Cope</a> (3,312)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,246</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299358">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (2,246)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (2,164)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a> (2,160)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (1,330)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299658">Seth Shadows</a> (1,135)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (1,128)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (1,094)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/306778">Yvesza Altui II</a> (979)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (969)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299539">Margaret Milner</a> (962)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>9,266</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (9,266)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (7,336)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (6,255)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (5,442)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (5,347)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (4,213)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/303191">Rosario Valle</a> (4,191)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299577">Jaylen Sargent</a> (4,061)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (3,921)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/306778">Yvesza Altui II</a> (3,359)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_corset_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,323</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (1,323)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (1,077)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (1,045)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (982)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (807)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (757)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (711)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (691)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (668)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (658)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hellhound_bitch_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,892</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (1,892)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a> (1,389)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (1,262)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (922)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (803)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (684)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/300405">Dante Medina</a> (677)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (642)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299475">Joe Nobody</a> (623)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299539">Margaret Milner</a> (617)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nerd_mouse_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>952</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299758">Verna Allens</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (952)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/300405">Dante Medina</a> (776)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (698)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299355">Sara Dollmaker</a> (613)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (471)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299606">Angeline Pepper</a> (345)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299328">Mike 'Mika' Alexander</a> (244)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299376">Jamie Bush</a> (155)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299648">Try Again</a> (140)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (133)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mouse_boy_Danaume.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>35,900</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (35,900)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (20,000)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (11,020)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (11,000)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (10,560)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/303191">Rosario Valle</a> (9,700)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299394">Simone Binbow</a> (7,000)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299620">Freya Rein</a> (6,300)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299446">Syndi Serrano</a> (5,000)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/304754">Rikki Flynnt</a> (4,880)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>200</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (200)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (136)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (91)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (82)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (76)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/300098">Tyler Gray</a> (46)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/304754">Rikki Flynnt</a> (46)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (27)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (14)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/303191">Rosario Valle</a> (13)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/elevator_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>152</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a> (152)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299658">Seth Shadows</a> (108)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299368">Minerva Meownya</a> (92)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299475">Joe Nobody</a> (82)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299539">Margaret Milner</a> (75)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299369">Lijojo Jinoji</a> (66)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (49)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (41)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299561">Will Wolf</a> (39)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/304053">James Horton</a> (33)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/suitjacket_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303581">Lilac Little II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303581">Lilac Little II</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/300144">Rukki Winter</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/308236">Matt Draco VI</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/307003">Marie Smith</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/306878">Teagan Jorgenson</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/304906">Jessie Bennett</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299811">Mikan Nya</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/304570">Nancy Archer V</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/308026">Alice Evans III</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/308103">Jovani Newell</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/playful_wolf_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/304737">Reyna Bentley III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/304737">Reyna Bentley III</a> (5)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/308236">Matt Draco VI</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/306841">Rafael Gauthier IV</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/301948">Francisco Houston II</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/300348">Trystan Stockton</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/303798">William Iverson III</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/302871">Sable Ryall</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/301895">Tom Peters</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/306668">Jess Healy</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/elevator_girl_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>205</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299427">Madeline Moffitt</a> (205)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (93)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299658">Seth Shadows</a> (92)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299539">Margaret Milner</a> (66)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299397">Rosalynya Meownya</a> (53)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299561">Will Wolf</a> (48)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299368">Minerva Meownya</a> (38)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299880">John Doe</a> (36)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/308108">Mizuki Nochisaka</a> (35)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/303920">Xanthiel Sigma</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>288</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299358">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (288)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (94)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (90)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299304">Elizabeth 'Maple 🍁 Syrup' Stearns</a> (65)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (58)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (55)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/304358">Zypher Watt II</a> (47)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (47)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (45)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/foxtheif_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/300543">Amos Coy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/300543">Amos Coy</a> (20)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299369">Lijojo Jinoji</a> (15)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/304053">James Horton</a> (9)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/304904">Lily Greycliff II</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/306778">Yvesza Altui II</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299320">Airi Mena</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/302251">Rene Hawks</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299553">Alzoru Ledura</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>292</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299358">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (292)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (99)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (88)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299304">Elizabeth 'Maple 🍁 Syrup' Stearns</a> (63)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (58)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299369">Lijojo Jinoji</a> (56)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (55)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/304358">Zypher Watt II</a> (45)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/304318">Brenda Fun</a> (45)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/304053">James Horton</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299358">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299358">Dane Redd</a> (100)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a> (21)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299927">Breena 'Strawberry 🍓 Jam' Victor</a> (11)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/304704">Kelly Wade II</a> (5)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299476">Toni Venusela</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299577">Jaylen Sargent</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Minotaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>46</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (46)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (39)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (36)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (28)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (22)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/300383">Janeen Wiccanshire</a> (22)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (19)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299259">Fern Villarreal</a> (11)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/300098">Tyler Gray</a> (10)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299374">Jess Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299374">Jess Ganes</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/300383">Janeen Wiccanshire</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/304021">Nina Sweetheart</a> (13)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299402">Circine Milton</a> (10)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299389">Tem Nan</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/gartered_panties_with_stockings_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,925</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299261">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299261">Lara Ithilwen</a> (24,925)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299260">Fox Cross</a> (24,920)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299495">Teresa Hammond</a> (18,050)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299471">Kitty Ears</a> (17,945)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299409">Kiara Kitsu</a> (17,090)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299893">Blushing Bride</a> (16,960)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299330">Cathy Hylton</a> (16,930)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/300692">Amalia Decuir</a> (16,260)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299384">Tyrone Freese</a> (16,150)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299403">Auly Jua</a> (15,480)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/panty_pet_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>21,490</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299390">Melina 'Teeny Tiny' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299390">Melina 'Teeny Tiny' Mercy</a> (21,490)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299340">Angie Toy</a> (21,315)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299436">Krystal Prism</a> (20,965)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299327">Sammy Velasco</a> (17,938)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299486">Tharkis Mithra</a> (14,995)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299706">Krissy Kandy</a> (14,713)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/303791">Phil Spades</a> (13,065)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299404">Kaibutsu 'Milk 🍫 Chocolate' Grimm</a> (13,045)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299366">Unsunng Aard</a> (13,040)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299315">Wolfy Dionne</a> (12,320)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mouse_boy_Danaume.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>34,558</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (34,558)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (15,969)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (12,575)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/303191">Rosario Valle</a> (11,027)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (9,831)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299845">Pawpawpaw Wigglewigglewiggle</a> (9,594)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (9,352)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299678">Frederika Stearns</a> (9,194)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299620">Freya Rein</a> (8,097)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299880">John Doe</a> (6,651)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>2,459</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a> (2,459)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299304">Elizabeth 'Maple 🍁 Syrup' Stearns</a> (1,921)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (1,753)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299519">Cameron Jones</a> (1,229)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (1,045)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299332">Cyrus Harbinger</a> (932)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/301036">Kirumi Terashi II</a> (900)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/301638">Morgan Moss</a> (759)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299964">Avery Jinx</a> (724)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299729">Annalynn Brytaac</a> (719)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_03_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>2,005</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/307410">Dot Jameson II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/307410">Dot Jameson II</a> (2,005)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/303077">Rosalind Brown</a> (1,453)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299622">Carissa Rector</a> (1,320)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299308">Maeve Morrigan</a> (1,279)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (827)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/300144">Rukki Winter</a> (820)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299927">Breena 'Strawberry 🍓 Jam' Victor</a> (724)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a> (712)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/300676">Anzu Fran</a> (589)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/308236">Matt Draco VI</a> (545)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bound_and_helpless_kitten_Ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>3,550</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299620">Freya Rein</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299620">Freya Rein</a> (3,550)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/303124">Alina Phenoca</a> (592)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/305469">Dawn Starling</a> (507)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/301312">Mattie Craig</a> (500)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/304318">Brenda Fun</a> (474)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/302462">Sandra Bernard</a> (437)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299333">Game Hound</a> (377)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299805">Aloysious Katt</a> (354)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/304704">Kelly Wade II</a> (322)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/300161">Grace Kitsu</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cake_dragon_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>171</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299678">Frederika Stearns</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299678">Frederika Stearns</a> (171)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299341">Yomiko Readman</a> (83)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/308108">Mizuki Nochisaka</a> (64)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (43)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (34)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/302251">Rene Hawks</a> (34)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (32)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (30)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299622">Carissa Rector</a> (29)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/304053">James Horton</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_corset_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (20)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299347">Calem Fluffypaw</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/307099">Caitlin Sarafian</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299660">Zel Argentis</a> (4)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (4)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299606">Angeline Pepper</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/303144">Seakas Nightshade</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/301145">Jessie Barber</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_corset_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>36</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (36)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (11)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/303144">Seakas Nightshade</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299660">Zel Argentis</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299540">Madaline Russell</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299488">Veln Moonscythe</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299606">Angeline Pepper</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>191</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (191)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (53)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/304463">Eliza Starr</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299660">Zel Argentis</a> (1)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299577">Jaylen Sargent</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/304381">Ruby Caldwell</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_corset_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>965</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (965)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (496)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299660">Zel Argentis</a> (473)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (432)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299347">Calem Fluffypaw</a> (332)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (300)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (296)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299606">Angeline Pepper</a> (256)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/303144">Seakas Nightshade</a> (187)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/306778">Yvesza Altui II</a> (172)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/omnibus_familiar_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/300144">Rukki Winter</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/300144">Rukki Winter</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/301948">Francisco Houston II</a> (7)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/308236">Matt Draco VI</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/301051">Jay Riley II</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299811">Mikan Nya</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299517">Abigail Jellesvig</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/303581">Lilac Little II</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/300348">Trystan Stockton</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/301575">Helene Loveless</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299345">Espa Fox</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Minotaur_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>58</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (58)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/303311">Scar Lotar II</a> (39)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (38)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/300383">Janeen Wiccanshire</a> (33)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (30)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299304">Elizabeth 'Maple 🍁 Syrup' Stearns</a> (30)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (28)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (23)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (19)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/300098">Tyler Gray</a> (17)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>49</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299359">Ziggy Anvil</a> (49)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (30)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/305469">Dawn Starling</a> (2)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (1)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/301025">Robin Mcintyre</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/300669">Charlotte Ashmore</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299577">Jaylen Sargent</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/302820">Alice Delacroix</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_corset_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>9,760</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/303606">Shooter Mcgavin II</a> (9,760)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299807">Julian Maxwell</a> (4,340)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (2,900)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (1,935)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (1,835)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299326">Nekogami Marisa</a> (1,650)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299779">Pina Vollmar</a> (1,485)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/303191">Rosario Valle</a> (1,240)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299758">Verna Allens</a> (1,190)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299780">Lisa Belle</a> (1,140)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/frog_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>25</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/302693">Pussy Pet</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/302693">Pussy Pet</a> (25)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299517">Abigail Jellesvig</a> (22)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/307247">Patrick Bequette</a> (21)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299332">Cyrus Harbinger</a> (18)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/304385">Emma Morey</a> (17)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299412">Nerati 'Twinfin' Sua</a> (16)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299776">Tylor Valenti</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/301184">Velma Manzo II</a> (16)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/299524">Torque Kaaa</a> (16)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/300103">Tim Yergavitz</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/299262">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/299262">Esther Grey</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/299441">Dark Blade</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/299805">Aloysious Katt</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/299908">Kate Savage</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/301101">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/299612">Andy Bernier</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/299394">Simone Binbow</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/299780">Lisa Belle</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/302622">Zoe Faedyra</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/299928">Nihat Unal</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>