@Html.Partial("partial/OldLeaderboardLinks")


<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,500</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (12,500)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (5,919)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (5,678)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/286093">Nia Last</a> (5,258)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284257">Efrain Cope</a> (5,088)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284737">Nyasa Meownya</a> (4,972)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (4,748)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (4,558)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (4,377)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284371">Sebastian Fort</a> (4,042)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,320</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (3,320)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (1,686)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (1,594)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284156">Will Wolf</a> (1,482)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (1,310)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (1,196)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (1,143)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (1,100)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (1,063)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284251">Sammy Velasco</a> (1,044)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/angelic_spirit_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,777</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (7,777)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (7,090)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (6,187)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (6,141)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (5,427)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (4,796)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (4,534)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (4,403)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (4,174)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (4,051)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>2,358</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284208">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (2,358)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (1,452)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (763)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (744)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (701)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (667)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (635)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (584)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (564)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mannequin_torso_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,999</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284163">Kitty Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284163">Kitty Angelica</a> (1,999)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (1,388)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/285872">Ai Naoi</a> (1,289)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (1,168)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (996)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284276">Wing Bellum</a> (934)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (853)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284156">Will Wolf</a> (754)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (749)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (698)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mannequin_torso_lastchance12.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,533</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284163">Kitty Angelica</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284163">Kitty Angelica</a> (2,533)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/285872">Ai Naoi</a> (1,995)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284276">Wing Bellum</a> (1,709)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (1,447)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286302">Inari Fox</a> (747)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284244">Angeline Pepper</a> (693)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (650)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284170">Mike 'Mika' Alexander</a> (564)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/285508">Verna Allan</a> (453)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284804">Phoebe Stormbringer</a> (370)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>50,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (50,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (44,440)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (9,500)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284204">Simone Binbow</a> (8,400)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284522">Freya Rein</a> (8,100)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284782">Lesa Clawson</a> (7,780)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284276">Wing Bellum</a> (6,500)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284576">Diana Wing</a> (5,740)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284169">Asher Sherwood</a> (4,840)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (4,840)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>300</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (300)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (169)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (56)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/287716">General Stamp</a> (49)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285872">Ai Naoi</a> (25)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/286966">Dante Medina II</a> (21)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (21)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/285163">Viola Lamb</a> (18)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (16)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>228</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (228)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (150)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284203">Minerva Meownya</a> (112)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/287148">Daniel Clayton</a> (57)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286966">Dante Medina II</a> (51)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284162">Cecelia Wilks</a> (50)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/286264">Oakley Byers</a> (48)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (45)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284156">Will Wolf</a> (44)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284146">Elizabeth Stearns</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>22</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/287329">Rora Ryall</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/287329">Rora Ryall</a> (22)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (11)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284160">Joh Momma</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/289852">Miko Lydellia IX</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/290891">Antonio Pizana</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284224">Thomas Redyche</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/289160">Richie Hampton II</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/292469">Jayson Kraft</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/285978">Seren Ninkyo</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/286127">Patricia Sloane</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_03_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284299">Aurelia Sweet</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284299">Aurelia Sweet</a> (5)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284160">Joh Momma</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/287329">Rora Ryall</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/290891">Antonio Pizana</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/292697">Luciana Muncy III</a> (4)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284909">Mark Alkhan II</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/289490">Rens Mulder II</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/289889">Alden Ochoa</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/289622">Allen Morley</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/287576">Morgan Ripley</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>300</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (300)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (139)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284156">Will Wolf</a> (100)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/287148">Daniel Clayton</a> (87)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284251">Sammy Velasco</a> (70)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284203">Minerva Meownya</a> (62)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (59)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (53)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284239">Rosalynya Meownya</a> (48)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284162">Cecelia Wilks</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>260</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (260)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (122)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (75)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (68)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (67)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (45)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (44)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284154">Game Hound</a> (44)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/286730">Lina Socorro II</a> (41)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284302">Jadira Chaika</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>25</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (25)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/285508">Verna Allan</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/286132">Eric Finney</a> (9)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284179">Prettyfly Forawifi</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284156">Will Wolf</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/290354">Willie Otero</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/285665">Grace Fanor</a> (7)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>265</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (265)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (80)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (70)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (68)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284154">Game Hound</a> (48)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284302">Jadira Chaika</a> (46)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (42)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/288245">Cleo Spriggs</a> (42)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (41)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/285163">Viola Lamb</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284795">Dusk Soma</a> (3)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (3)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/292419">Sayuri Mikami</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/289160">Richie Hampton II</a> (2)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/285872">Ai Naoi</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284203">Minerva Meownya</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284620">Tem Nan</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/291204">Lionel Puente</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>47</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284190">Stella Redden</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (47)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (45)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (34)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/291688">Janeen Wiccanshire II</a> (24)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (17)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (14)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/286132">Eric Finney</a> (12)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (11)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284804">Phoebe Stormbringer</a> (9)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284163">Kitty Angelica</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284182">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (13)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (13)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284495">Circine Milton</a> (12)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (12)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/285887">Jodi Foy</a> (9)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284629">Dani Delaney</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,720</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284134">Fox Cross</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284134">Fox Cross</a> (24,720)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284158">Kaitlyn Halliwell</a> (23,990)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284282">Joe Nobody</a> (23,515)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284159">Cathy Kellum</a> (21,690)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284721">Sable Gown</a> (20,170)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284144">Kari Pink</a> (19,720)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284216">Purple Haze</a> (19,333)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284662">Diana Kitsu</a> (18,265)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284145">Kaibutsu Shadow</a> (18,180)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284597">Lacey Caress</a> (18,150)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/snow_cabbit_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>22,545</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284756">Leah Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284756">Leah Grey</a> (22,545)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284171">Melina 'Melts in Your Mouth' Mercy</a> (22,350)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284523">Daisy Robinson</a> (20,555)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284333">Dust Nardell</a> (20,335)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/291195">Grace Willis II</a> (18,208)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284319">Shelly Blank</a> (15,590)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284327">Josephine Normic</a> (15,090)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/287144">Salacia Zeal</a> (12,605)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284778">Rox 'Fluffbutt' Kitsu</a> (12,468)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284579">Sam Lilin</a> (10,400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>44,974</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (44,974)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284182">Dane Redd</a> (34,136)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (14,835)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (11,541)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (10,166)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (8,575)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284276">Wing Bellum</a> (8,034)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (7,930)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284522">Freya Rein</a> (7,621)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284204">Simone Binbow</a> (7,447)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/wobbling_ears_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>3,236</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (3,236)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284146">Elizabeth Stearns</a> (2,037)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/285228">Lorenza Insole</a> (1,174)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/285665">Grace Fanor</a> (890)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284585">Curtis Holley</a> (844)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284725">Starfire Logue</a> (763)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284279">Stella Keys</a> (756)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284388">Lettie Lowry</a> (713)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/290030">Kirin Ashley</a> (682)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284342">Sarah Sheer</a> (614)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/scholarly_schoolgirl_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>1,836</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/286163">Tamara Novak</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/286163">Tamara Novak</a> (1,836)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/285858">Rosalind Brown</a> (1,263)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/286715">Jin Arachna</a> (1,095)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/291322">Skyler Floyd</a> (1,078)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284421">Markus Merp</a> (1,021)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284876">Circe Silvera</a> (925)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284647">Lumina Xilura</a> (870)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/288863">Chelse Sunshine</a> (834)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284279">Stella Keys</a> (691)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (674)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>2,055</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (2,055)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284257">Efrain Cope</a> (559)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284147">Krixus Versailles</a> (532)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/287148">Daniel Clayton</a> (525)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (500)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284276">Wing Bellum</a> (405)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284371">Sebastian Fort</a> (405)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/292576">Pahakissa Silencia II</a> (314)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/287516">Casper Whitehead</a> (309)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284194">Inari Kitsune</a> (300)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/werewolf_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>350</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284399">Dark Blade</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284399">Dark Blade</a> (350)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (150)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (58)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (42)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286730">Lina Socorro II</a> (29)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284291">Evangelina 'Heliotrope Haze' Kraft</a> (29)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (28)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/287148">Daniel Clayton</a> (27)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/285872">Ai Naoi</a> (25)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/285038">Ursa Maidenfur</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/french_maid_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>36</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (36)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (32)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (12)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/291530">Tina Patton</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286503">Eirena Shashavani</a> (9)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/292469">Jayson Kraft</a> (4)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284381">Unsunng Aard</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284266">Andrew Wren</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>82</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284208">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (82)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (26)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284208">Esther Grey</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (5)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (2)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284180">Reith Kitsu</a> (2)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284170">Mike 'Mika' Alexander</a> (1)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285228">Lorenza Insole</a> (1)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284291">Evangelina 'Heliotrope Haze' Kraft</a> (1)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/289657">Arthur Pearson III</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/290668">Camryn Mace</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/french_maid_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>5,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284543">Aloysious Katt</a> (5,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (2,167)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (1,062)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/286503">Eirena Shashavani</a> (484)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (438)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (392)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (375)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/291530">Tina Patton</a> (363)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284381">Unsunng Aard</a> (249)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284244">Angeline Pepper</a> (216)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/helpless_wolf_pillow_Gogo_Blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>24</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/287329">Rora Ryall</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/287329">Rora Ryall</a> (24)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284160">Joh Momma</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/290891">Antonio Pizana</a> (10)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/291804">Scar Lotar</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284224">Thomas Redyche</a> (7)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/286127">Patricia Sloane</a> (7)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/285978">Seren Ninkyo</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/289160">Richie Hampton II</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284299">Aurelia Sweet</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/286741">Ovidius Mcgowan</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>71</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284190">Stella Redden</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (71)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (54)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/291688">Janeen Wiccanshire II</a> (26)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284146">Elizabeth Stearns</a> (21)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (20)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (17)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (15)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/286730">Lina Socorro II</a> (14)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284203">Minerva Meownya</a> (12)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/286132">Eric Finney</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/impish_coyote_girl_Ninian_Fay.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>150</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (150)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284150">Ziggy Anvil</a> (11)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/287716">General Stamp</a> (5)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/286966">Dante Medina II</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284153">Meryl Crandall</a> (2)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/285508">Verna Allan</a> (1)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284576">Diana Wing</a> (1)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284179">Prettyfly Forawifi</a> (1)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/285858">Rosalind Brown</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>15,440</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284952">Shooter Mcgavin</a> (15,440)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (6,655)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/286206">Marisa Fluffypaw</a> (3,220)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284189">Lara Ithilwen</a> (2,530)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285031">Madaline Russell</a> (1,710)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284154">Game Hound</a> (1,670)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (1,615)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/284393">Shawn Wylde</a> (980)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (825)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/284251">Sammy Velasco</a> (730)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Man_03_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>29</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/289622">Allen Morley</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/289622">Allen Morley</a> (29)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284466">Maelynn Frost</a> (25)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (24)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/284302">Jadira Chaika</a> (23)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/285781">Jack Kingsbury</a> (23)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284346">Frank Nix</a> (23)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284452">Tsuneko Hoshizora</a> (23)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/287252">Gueve Nuert</a> (20)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/287915">Tessa Goddard</a> (20)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/285038">Ursa Maidenfur</a> (19)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/284190">Stella Redden</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/284190">Stella Redden</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/284211">Aveline Vernathon</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/284208">Esther Grey</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/285118">Ashley Turney</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/284818">Pina Vollmar</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/284488">Priscus Shafer</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/284161">Tharkis Mithra</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/285907">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/284234">Alex Maynard</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/286730">Lina Socorro II</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>