@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Statistics Leaders</h1>

<p>Times moved: Lex Fairchild (5351)</p>
<p>Times searched: Futa Lover (3040)</p>
<p>Spells cast: Ronin Thrall (1996)</p>
<p>Enchantments cast: Chastity Meeker (1529)</p>
<p>Times meditated: Chastity Meeker (1012)</p>
<p>Times cleansed: Letha Hudgens (658)</p>
<p>Arpeyjis donated to covenant: Kirby Sanders (13780)</p>
<p>Arpeyjis received from covenant: Peri Efroth (2780)</p>
<p>Times transformed into an animate form: John Halwin (374)</p>
<p>Times transformed into an inanimate form: Marcelo Miller (16)</p>
<p>Times transformed into an animal/pet form: Esther Kenned II (7)</p>
<p>Targets transformed into an animate form: Niko Guenther (162)</p>
<p>Targets transformed into an inanimate form: Letha Hudgens (39)</p>
<p>Targets transformed into an animal/pet form: Will Wolf (10)</p>
<p>Psychopathic Spellslingers Defeated: Chastity Meerkat II (40)</p>
<p>Scrolls of Teleportation used: Letha Hudgens (5)</p>
<p>Times played with Jewdewfae: Sadie Eskridge (7)</p>
<p>Tomes read: Lucile Yoo (4)</p>
<p>Inanimate XP: Arrhae Hale (11370)</p>
<p>Pet/Animal XP: Ashe Nyx (11677.5)</p>
<p>Arpeyjis spent buying from Lindella: Lex Fairchild (15300)</p>
<p>Arpeyjis earned from selling to Lindella: Kirby Sanders (21923.5)</p>
<p>Arpeyjis spent buying from Wüffie: Niko Guenther (1328)</p>
<p>Arpeyjis earned from selling to Wüffie: Isabel Nieves (6156)</p>
<p>Dungeon Artifacts Found: Nyx Tempest (9)</p>
<p>Dungeon demons defeated: Letha Hudgens (7)</p>
<p>Dungeon points stolen from other players: Lex Fairchild (42)</p>
<p>Times moved in dungeon: Nyx Tempest (1837)</p>
