@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>7,363</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (7,363)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (6,754)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (6,384)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312959">Janeen Wiccanshire</a> (5,648)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313244">Meryl Crandall</a> (4,033)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312784">Rox '#BreenaroxBestDev' Kitsu</a> (3,604)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (3,551)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/314758">Jesse Willis</a> (3,336)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/319107">Sandy Slut</a> (3,101)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (3,022)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>2,028</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (2,028)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (1,737)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (1,715)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (1,622)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (1,608)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (1,494)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/316771">Keegan Comeaux</a> (1,159)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/320013">Bernadette Putman II</a> (1,153)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313470">Freyja Brisingamen</a> (1,112)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (1,091)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>8,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (8,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (7,735)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (7,638)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (7,551)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (7,364)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (6,399)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a> (6,102)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (5,751)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (5,671)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/314446">Pina Vollmar</a> (4,684)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,515</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (1,515)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (1,458)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (1,293)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (1,229)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (1,154)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (1,092)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (944)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (845)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (747)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (610)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mythical_sphinx_guardian_cyberkaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,890</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/314126">Allytha Mcfarlane</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/314126">Allytha Mcfarlane</a> (1,890)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312838">Game Hound</a> (1,215)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (1,136)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (1,124)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (1,020)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (888)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (840)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/316771">Keegan Comeaux</a> (826)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (785)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312857">Cylahs Hehx</a> (740)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mythical_sphinx_guardian_cyberkaku.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,676</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/314126">Allytha Mcfarlane</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/314126">Allytha Mcfarlane</a> (2,676)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312838">Game Hound</a> (1,202)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/316011">Ziggy Anvil II</a> (521)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312966">Xanthiel Heavania</a> (446)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312857">Cylahs Hehx</a> (426)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (399)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312867">Kandi Cumdump</a> (279)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313321">Xan Harbinger</a> (269)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312917">Rikki Flynnt</a> (115)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313092">Verna Allens</a> (111)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Covenent Benefactor</h3>
            <p><i>Net Arpyjis donated to covenant:</i> <b>31,600</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_net_donations">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (31,600)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (12,880)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/316011">Ziggy Anvil II</a> (11,440)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312897">Lesa Clawson</a> (9,080)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (7,700)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (7,600)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (7,100)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313844">Angelique Dominae II</a> (4,320)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (4,140)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312912">Syn Crowley</a> (4,120)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/neko_maid_cherrycake0.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>171</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (171)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (100)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (53)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (43)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (35)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (31)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (28)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (19)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (18)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>94</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (94)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313470">Freyja Brisingamen</a> (80)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (65)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/316145">Teagan Jorgenson</a> (56)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/315294">Bryant Clawson</a> (50)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312908">Luna Moonwell</a> (48)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312795">Nerati 'Nagati' Sua</a> (46)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (39)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312966">Xanthiel Heavania</a> (39)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/315559">Candy Breasts II</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/cupcake_gogo_blackwater.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Times transformed into an inanimate form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/313530">Seras Victoria</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/313530">Seras Victoria</a> (7)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/318940">Agent Neigh IX</a> (7)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/320085">Tatianus Hoyle</a> (7)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/318484">Trisha Jack</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/318043">Aelia Bivins</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313067">David Arthur</a> (6)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/320917">Drusus Cary IV</a> (6)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/317619">Hannah Mcnamee III</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/321286">Jaycee Goodwyn VI</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/319068">Christian Celerity</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/husky_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/315576">Espa Fox</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/315576">Espa Fox</a> (5)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/317858">Jamie Woodbury</a> (4)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/321338">Janis Snyder</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/318304">Kummy Kumslut</a> (3)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/317302">Taylor Smallwood</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/317722">Darwin Gentry</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/318604">Gentice Malicus</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/320648">Serena Cooks II</a> (3)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313067">David Arthur</a> (3)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/skunk_maid_Ciel_Scarlet.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>87</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/316771">Keegan Comeaux</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/316771">Keegan Comeaux</a> (87)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313470">Freyja Brisingamen</a> (84)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312908">Luna Moonwell</a> (73)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312795">Nerati 'Nagati' Sua</a> (66)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (58)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/314688">Alex Norling II</a> (52)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/320013">Bernadette Putman II</a> (52)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (52)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (50)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/315294">Bryant Clawson</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fetching_female_fox_clubber_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>83</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (83)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (78)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (55)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (54)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (52)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a> (51)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (50)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313204">Aureliana Byrne</a> (50)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (48)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313166">Selia Prior</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (20)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (18)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/320252">Asa Matney</a> (14)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/321266">Auron Gabriel III</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312805">Marissa Applethorn</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312897">Lesa Clawson</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312832">Warmage Lulu</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/318723">Gwenaelle Blackrain</a> (7)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313166">Selia Prior</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312859">Eric Finney</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/fetching_female_fox_clubber_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>96</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (96)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313204">Aureliana Byrne</a> (54)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312897">Lesa Clawson</a> (52)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a> (52)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313166">Selia Prior</a> (47)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/318043">Aelia Bivins</a> (47)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (46)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312902">Bronson Banks</a> (42)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (42)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>28</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (28)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (17)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (7)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (6)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313348">Marisa Rosales</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/316183">Lord Morph</a> (2)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313470">Freyja Brisingamen</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312784">Rox '#BreenaroxBestDev' Kitsu</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/female_armor_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>75</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (75)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (41)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (36)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/314446">Pina Vollmar</a> (34)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312959">Janeen Wiccanshire</a> (28)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (19)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a> (18)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312966">Xanthiel Heavania</a> (17)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (15)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312776">Nikolas Pipkin</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312922">Tharkis Mithra</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312922">Tharkis Mithra</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (13)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/314446">Pina Vollmar</a> (13)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (13)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312959">Janeen Wiccanshire</a> (11)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (11)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313022">Noel Clover</a> (7)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (6)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/316050">Joyce Winters</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312966">Xanthiel Heavania</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/5_inch_heels_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>24,825</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312782">Fox Cross</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312782">Fox Cross</a> (24,825)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312815">Milky Udder</a> (23,125)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313082">Sally Sugartits</a> (22,225)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312948">Syndi Glue</a> (21,830)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312798">Thomas Redyche</a> (21,180)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312858">Calem Fluffyears</a> (20,250)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313072">Luna Kitsu</a> (19,020)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313427">Erika 'Pillow' Fluff</a> (18,410)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313403">Aldrik Versailles</a> (17,790)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312926">Relius Vi</a> (17,410)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/angelic_catgirl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>24,380</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312786">Kitty Ears</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312786">Kitty Ears</a> (24,380)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312792">Teresa Hammond</a> (23,430)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312821">Melina 'Royal Pain' Mercy</a> (22,290)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312915">Joshua Red</a> (20,245)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312833">Paul Suarez</a> (20,010)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313831">Roland Birdly</a> (19,460)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/314719">Circe Sass</a> (19,440)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313324">Phoebe Stormbringer</a> (18,510)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313510">Britney Arellano</a> (16,645)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312820">Dane Redd</a> (16,188)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/farmers_daughter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Seller</h3>
            <p><i>Net profit from selling to Lindella:</i> <b>27,545</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (27,545)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/319107">Sandy Slut</a> (14,069)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (12,567)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (10,724)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/317545">Ryan Harden II</a> (10,554)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/316011">Ziggy Anvil II</a> (10,447)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a> (10,415)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (10,378)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (9,260)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (8,498)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/female_armor_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Consumer</h3>
            <p><i>Net loss from buying from Lindella:</i> <b>6,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (6,000)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (4,292)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (1,822)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312837">Cass Carnelle</a> (1,473)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a> (955)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (938)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313204">Aureliana Byrne</a> (701)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313138">Collin 'Normal Human' Darnell</a> (685)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/315806">Oriana Firestar</a> (669)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/314487">Titiana Burgess</a> (628)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Profit!</h3>
            <p><i>Profit from selling to Wuffie:</i> <b>1,453</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_profit">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/313331">Dixie Frizzle</a> (1,453)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/314220">Rosalind Brown</a> (1,347)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/314006">Lilith Valentine</a> (1,089)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/315806">Oriana Firestar</a> (904)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313067">David Arthur</a> (888)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313024">Lizzie Binbow</a> (786)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/317545">Ryan Harden II</a> (730)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (528)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/314699">Nekone Kuu</a> (517)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/315814">Sam Mackingly</a> (504)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Purchaser</h3>
            <p><i>Loss from buying from Wuffie:</i> <b>5,859</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_net_loss">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (5,859)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (5,000)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (850)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312896">Sara Dollmaker</a> (475)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313228">Melissa Cherry II</a> (450)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312987">Selina Muliaina</a> (415)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (400)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/316620">Maira Ravyn II</a> (355)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312887">Sasha Virgo</a> (350)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313844">Angelique Dominae II</a> (337)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Exiled's Apprentice</h3>
            <p><i>Most spells learned from Skaldrlyr the Forbidden:</i> <b>214</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_lorekeeper_spells_learned">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (214)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/319107">Sandy Slut</a> (169)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (130)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (73)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (47)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312857">Cylahs Hehx</a> (42)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (35)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (31)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/319753">Angel Blackwell II</a> (27)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (23)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/mischevious_crow_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>73</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a> (73)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (55)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (45)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/317103">Lisa Hu</a> (28)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (28)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (23)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312940">Eliza Starr</a> (21)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (15)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (12)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>30</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (30)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (28)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (20)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (10)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (5)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312910">Esther Syn</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/demon_neko_girl_ewillice.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>431</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (431)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (170)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (113)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (80)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/318182">Quelly Lyn</a> (15)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313806">Jane County</a> (12)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/319102">Rachel Halliwell</a> (9)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313693">Princess Lily</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (6)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/mischevious_crow_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>4,155</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/316807">Laurel Moore</a> (4,155)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (2,821)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (2,155)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (2,000)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312822">Akachi Nightshade</a> (1,514)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (1,482)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312940">Eliza Starr</a> (1,338)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/317103">Lisa Hu</a> (1,286)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (905)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (852)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/husky_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>10</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/315576">Espa Fox</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/315576">Espa Fox</a> (10)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313067">David Arthur</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313530">Seras Victoria</a> (6)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/318043">Aelia Bivins</a> (6)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312971">Kino Baxton</a> (5)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312955">Russell Thorne</a> (5)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312810">Kira Kincaid</a> (5)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/313484">Kylen Worthington</a> (5)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313327">Antonio Pizana</a> (4)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/313177">Rukia Dracos</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/female_armor_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>75</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (75)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (42)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/312959">Janeen Wiccanshire</a> (36)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/314446">Pina Vollmar</a> (33)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312790">Elizabeth 'Gorgeous' Stearns</a> (27)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (21)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313062">Mora Mae</a> (16)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (15)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/315851">Laney Schoone II</a> (13)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312776">Nikolas Pipkin</a> (12)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/316011">Ziggy Anvil II</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/316011">Ziggy Anvil II</a> (13)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313504">Marcellus Ravencrow</a> (4)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (4)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/316145">Teagan Jorgenson</a> (3)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (3)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/312922">Tharkis Mithra</a> (3)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312797">Freya Fluffytail</a> (2)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313348">Marisa Rosales</a> (2)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/315809">Dark Blade II</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>5,820</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312799">Yvesza 'Saint Laurent' Sylwind</a> (5,820)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313171">Shooter Mcgavin</a> (4,705)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313806">Jane County</a> (1,560)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (1,540)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/313603">Ai Noai</a> (1,525)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/313686">Scar Lotar</a> (1,180)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/314309">Lula Wheaton</a> (935)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/318182">Quelly Lyn</a> (890)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/313204">Aureliana Byrne</a> (840)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312791">Marisa Fluffywings</a> (800)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/female_armor_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Try Staying Home Today</h3>
            <p><i>Quests failed:</i> <b>100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_failed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312788">Lara Ithilwen</a> (100)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/312966">Xanthiel Heavania</a> (27)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/314806">Mohammad Adam II</a> (23)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312872">Amir York</a> (22)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/318043">Aelia Bivins</a> (22)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/316833">Yousef Whipple</a> (21)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313577">Wendi Shephard</a> (17)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312922">Tharkis Mithra</a> (16)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/312954">Sammy Cuntlicker</a> (16)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/317947">Elric Melnibone</a> (16)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/achievements/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_05_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Adventure Time!</h3>
            <p><i>Quests passed:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/312910">Esther Syn</a>

            <p>------------------</p>

            </p>

            <div id="more_quests_passed">
                <div>
                    <p>
                        1. <a href="/PvP/LookAtPlayer/312910">Esther Syn</a> (8)
                    </p>
                    <p>
                        2. <a href="/PvP/LookAtPlayer/313028">Pierce Jackman</a> (8)
                    </p>
                    <p>
                        3. <a href="/PvP/LookAtPlayer/313564">Amanda Root</a> (8)
                    </p>
                    <p>
                        4. <a href="/PvP/LookAtPlayer/312904">Evangelina 'Sylwinds and Shadows' Kraft</a> (8)
                    </p>
                    <p>
                        5. <a href="/PvP/LookAtPlayer/312963">Brody Lang</a> (8)
                    </p>
                    <p>
                        6. <a href="/PvP/LookAtPlayer/312968">Simone Binbow</a> (8)
                    </p>
                    <p>
                        7. <a href="/PvP/LookAtPlayer/313504">Marcellus Ravencrow</a> (8)
                    </p>
                    <p>
                        8. <a href="/PvP/LookAtPlayer/312959">Janeen Wiccanshire</a> (8)
                    </p>
                    <p>
                        9. <a href="/PvP/LookAtPlayer/318312">Adventurous Guy II</a> (8)
                    </p>
                    <p>
                        10. <a href="/PvP/LookAtPlayer/312837">Cass Carnelle</a> (8)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>