@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Statistics Leaders</h1>

<p>Times moved: Sappho Wolf III (5610)</p>
<p>Times searched: Indigo Clardmond (7398)</p>
<p>Spells cast: Ronin Thrall (1504)</p>
<p>Enchantments cast: Chastity Meerkat (1472)</p>
<p>Times meditated: Meagan Wilkins (852)</p>
<p>Times cleansed: Akira 'Nyx's Maiden' Halivey (905)</p>
<p>Arpeyjis donated to covenant: Felucca Morrigan (69400)</p>
<p>Arpeyjis received from covenant: Indigo Clardmond (6240)</p>
<p>Times transformed into an animate form: Lucy Gautreau (203)</p>
<p>Times transformed into an inanimate form: Vicky Sheehan (20)</p>
<p>Times transformed into an animal/pet form: Vicky Sheehan (10)</p>
<p>Targets transformed into an animate form: Lucy Gautreau (77)</p>
<p>Targets transformed into an inanimate form: Diana Victor II (55)</p>
<p>Targets transformed into an animal/pet form: Artemis Brownlee (8)</p>
<p>Psychopathic Spellslingers Defeated: Diana Victor II (58)</p>
<p>Scrolls of Teleportation used: Sandra Barber (4)</p>
<p>Times played with Jewdewfae: Katherine Skye VII (11)</p>
<p>Tomes read: Indigo Clardmond (4)</p>
<p>Inanimate XP: Kari Pink (18315)</p>
<p>Pet/Animal XP: Alisha Derosiers (18320)</p>
<p>Arpeyjis spent buying from Lindella: Indigo Clardmond (23150)</p>
<p>Arpeyjis earned from selling to Lindella: Felucca Morrigan (69909.5)</p>
<p>Arpeyjis spent buying from Wüffie: Sandra Barber (750)</p>
<p>Arpeyjis earned from selling to Wüffie: Rochelle Desantis (3470)</p>
<p>Dungeon Artifacts Found: Vincent Creed (3)</p>
<p>Dungeon demons defeated: Esther Lacroix (7)</p>
<p>Dungeon points stolen from other players: Nerati Sua (6)</p>
<p>Times moved in dungeon: Angeline 'inflatable' Doll II (321)</p>
