@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Statistics Leaders</h1>
<p>Times moved: Helen Lacroix (7923)</p>
<p>Times searched: Alexis Wells (3448)</p>
<p>Spells cast: Lucy Gautreau X (1526)</p>
<p>Enchantments cast: Jess 'Milky' Ganes (921)</p>
<p>Times meditated: Ronin Thrall (486)</p>
<p>Times cleansed: Indigo Clardmond (769)</p>
<p>Arpeyjis donated to covenant: Nina Sweetheart (7940)</p>
<p>Arpeyjis received from covenant: Indigo Clardmond (5240)</p>
<p>Times transformed into an animate form: Lucy Gautreau X (796)</p>
<p>Times transformed into an inanimate form: Jacquelyn Kunkel (13)</p>
<p>Times transformed into an animal/pet form: Luis Kirk (9)</p>
<p>Targets transformed into an animate form: Lucy Gautreau X (234)</p>
<p>Targets transformed into an inanimate form: Helen Lacroix (89)</p>
<p>Targets transformed into an animal/pet form: Chris Ladd (6)</p>
<p>Psychopathic Spellslingers Defeated: Sora Blue III (41)</p>
<p>Scrolls of Teleportation used: Ana Albers (3)</p>
<p>Times played with Jewdewfae: Nina Stack (8)</p>
<p>Tomes read: Helen Lacroix (4)</p>
<p>Inanimate XP: Bowen Tyee (11910)</p>
<p>Pet/Animal XP: First Victim (11560)</p>
<p>Arpeyjis spent buying from Lindella: Vidakus Horran (12050)</p>
<p>Arpeyjis earned from selling to Lindella: Helen Lacroix (17311.5)</p>
<p>Arpeyjis spent buying from Wüffie: Crystal Cranford (1050)</p>
<p>Arpeyjis earned from selling to Wüffie: Sophia Anieri (1833)</p>
<p>Dungeon Artifacts Found: Melanie Asher II (4)</p>
<p>Dungeon demons defeated: Helen Lacroix (54)</p>
<p>Dungeon points stolen from other players: Jane 'Queen of the Dolls' County (110)</p>
<p>Times moved in dungeon: Helen Lacroix (3035)</p>

