@Html.Partial("partial/OldLeaderboardLinks")

 <h1>Statistics Leaders</h1>

    <p>Times moved: Claire Camara (7900)</p>
    <p>Times searched: Tiffany Ashcraft (3820)</p>
    <p>Spells cast: Ronin Thrall (2458)</p>
    <p>Enchantments cast: Nilnat Ulnal (1847)</p>
    <p>Times meditated: Seth Punisher (1264)</p>
    <p>Times cleansed: Ronin Thrall (583)</p>
    <p>Arpeyjis donated to covenant: Kirby Sanders (16920)</p>
    <p>Arpeyjis received from covenant: Arrhae Hale (2700)</p>
    <p>Times transformed into an animate form: Lucy Gautreau (956)</p>
    <p>Times transformed into an inanimate form: Stefanie Norfleet (12)</p>
    <p>Times transformed into an animal/pet form: Charlotte Winters (10)</p>
    <p>Targets transformed into an animate form: Lucy Gautreau (252)</p>
    <p>Targets transformed into an inanimate form: Seth Punisher (54)</p>
    <p>Targets transformed into an animal/pet form: Circe Silvera (10)</p>
    <p>Psychopathic Spellslingers Defeated: Seth Punisher (53)</p>
    <p>Scrolls of Teleportation used: Evilena Shrincock (3)</p>
    <p>Times played with Jewdewfae: Alex Smithson (12)</p>
    <p>Tomes read: Kirby Sanders (2)</p>
    <p>Inanimate XP: Mynx Varanus (11945)</p>
    <p>Pet/Animal XP: Firevere Liandrin (12075)</p>
    <p>Arpeyjis spent buying from Lindella: Alex Fairchild (12115)</p>
    <p>Arpeyjis earned from selling to Lindella: Kirby Sanders (20249.5)</p>
    <p>Arpeyjis spent buying from Wüffie: Sophie Magee (700)</p>
    <p>Arpeyjis earned from selling to Wüffie: Judy Mccall (5178)</p>
