@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Statistics Leaders</h1>

    <p>Times moved: Appius Allard (8621)</p>
    <p>Times searched: Katie Frill (5798)</p>
    <p>Spells cast: Lynelle Mandragorra V (1491)</p>
    <p>Enchantments cast: Helen Castle II (2350)</p>
    <p>Times meditated: Helen Castle II (1020)</p>
    <p>Times cleansed: Nerati Sua (1045)</p>
    <p>Arpeyjis donated to covenant: Kirby Sanders (24860)</p>
    <p>Arpeyjis received from covenant: Collin Darnell (2400)</p>
    <p>Times transformed into an animate form: Ronin Thrall (218)</p>
    <p>Times transformed into an inanimate form: Tammy Kissalot II (10)</p>
    <p>Times transformed into an animal/pet form: Luke Shearer (5)</p>
    <p>Targets transformed into an animate form: Angel Pack (88)</p>
    <p>Targets transformed into an inanimate form: Lynelle Mandragorra V (58)</p>
    <p>Targets transformed into an animal/pet form: Luke Shearer (11)</p>
    <p>Psychopathic Spellslingers Defeated: Lynelle Mandragorra V (45)</p>
    <p>Scrolls of Teleportation used: Lynelle Mandragorra V (4)</p>
    <p>Times played with Jewdewfae: Bella Donnah (14)</p>
    <p>Tomes read: Kirby Sanders (5)</p>
    <p>Inanimate XP: Heather Brandenburg (17330)</p>
    <p>Pet/Animal XP: Melina 'Does a Body Good' Mercer (19535)</p>
    <p>Arpeyjis spent buying from Lindella: Bella Donnah (25460)</p>
    <p>Arpeyjis earned from selling to Lindella: Kirby Sanders (25230)</p>
    <p>Arpeyjis spent buying from Wüffie: Bella Donnah (1213)</p>
    <p>Arpeyjis earned from selling to Wüffie: Appius Allard (4765)</p>
    <p>Dungeon Artifacts Found: Kaitlyn Halliwell (49)</p>
    <p>Dungeon demons defeated: Alexander Dantes (21)</p>
    <p>Dungeon points stolen from other players: Nerati Sua (60)</p>
    <p>Times moved in dungeon: Kaitlyn Halliwell (6015)</p>