@model IEnumerable<tfgame.dbModels.Models.LocationLog>
@using tfgame.CustomHtmlHelpers
@using tfgame.ViewModels
@using tfgame.Statics
@using tfgame.Procedures

<div style="clear:both;"></div>

<ul id="RecentActivityLog">
    @{
        foreach (tfgame.dbModels.Models.LocationLog log in Model.Reverse())
        {
            <li>@Html.Raw(log.Message)  <span class="timeago">@CharactersHere.DatetimeToTimeago(log.Timestamp)</span></li>
        }
    }
</ul>
