@model tfgame.dbModels.Models.PvPWorldStat
@using tfgame.Statics

@{
    if (Model.TestServer == true)
    {
        <div class="specialBox specialBox2 specialNoticeBox">EFFECTIVE OCTOBER 10:  THIS SERVER IS NOW FOR TESTING ONLY.  The game's live server with regular inround gameplay can be found at <a href="http://transformaniatime.com/">transformaniatime.com</a>.  Please do NOT make a character here unless you are part of testing.</div>
    }

    if (Model.TurnNumber >= PvPStatics.RoundDuration)
    {
        <div class="specialBox specialBox2 specialNoticeBox"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>The round has ended.  Check back soon to start again on a fresh round.<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (Model.InbetweenRoundsNonChaos == true)
    {
        <div class="specialBox specialBox2 specialNoticeBox"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>The round has ended but is NOT currently in chaos mode.  Check the news page for updates on when next round will start.<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (Model.TurnNumber < PvPStatics.RoundDuration && PvPStatics.ChaosMode == true)
    {
        <div class="specialBox specialBox2"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>The game is currently in "chaos mode" in which attacks are unlimited.  This is an inbetween round rapid test mode and is not representative of regular in-round gameplay.<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></div>
    }

    if (ViewBag.UpdateInProgress == true)
    {
        <p class="infoMessage error">TURN UPDATE IN PROGRESS</p>
    }

    if (Model.Boss_Donna == "active")
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a powerful sorceress known as Donna Milton is wandering the streets turning those she meets into animals... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Valentine == "active")
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a powerful vampire lord known as Lord Valentine is lurking in his castle waiting for mortals to dare and fight him... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Bimbo == "active")
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a mad scientist is spreading a virus that is transforming many inhabitants of the city into her loyal bimbo army... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }

    if (Model.Boss_Thief == "active")
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it a pair of rat thieves of the infamous Seekshadow Guild are out and about pickpocketing any mage with a fat enough wallet... <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }
    
    if (Model.Boss_Sisters == "active")
    {
        <div class="specialBox"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Rumor has it the Brisby twin sisters are having a fight and are seeking help from mages to help convince their other to try out a new lifestyle...<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> </div>
    }
}


