@model IEnumerable<TT.Domain.Models.QuestWriterLog>

@{
    if (Model.Any())
    {

        <h1>Quest Writer Logs for Quest Id: @Model.First().QuestId</h1>


        foreach (var l in Model)
        {
            <p><b>@l.User</b> at <b>@l.Timestamp</b>:  @Html.Raw(l.Text)</p>
        }

    }

    else
    {

    }
}
