<table>

    <thead>
        <tr>
            <th style="width:15px">#</th>
            <th class="leaderBoardName">Human Name</th>
            <th class="leaderBoardForm mobile">Image</th>
            <th class="leaderBoardForm mobile">Item Type</th>
            <th>Lvl</th>
            <th>Exp</th>
        </tr>
    </thead>
    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Erin%20Wolfe">Erin Wolfe</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                18
            </td>
            <td>3,645</td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Dumb%20Slut">Dumb Slut</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Collared Lap Girl
            </td>
            <td>
                18
            </td>
            <td>3,350</td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Fox%20Cross">Fox Cross</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                18
            </td>
            <td>1,945</td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Tatiana%20Kembrielle">Tatiana Kembrielle</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Pussy
            </td>
            <td>
                18
            </td>
            <td>1,555</td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Lacey%20Laville">Lacey Laville</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Bound Demonic Concubine
            </td>
            <td>
                18
            </td>
            <td>1,020</td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Melina%20Mercy">Melina Mercy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Spoiled Kitsune Princess
            </td>
            <td>
                18
            </td>
            <td>585</td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Raine%20Lei">Raine Lei</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/cowslime_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Liquid Livestock
            </td>
            <td>
                18
            </td>
            <td>545</td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Marcus%20Aurelius">Marcus Aurelius</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                18
            </td>
            <td>290</td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Cuddles%20Pillowran">Cuddles Pillowran</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/hound_mark_47_Edna_Schafer.png" width="50x" height="50px;"></td>
            <td class="mobile">
                H.O.U.N.D Mark-47
            </td>
            <td>
                17
            </td>
            <td>3,130</td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Tom%20Garou">Tom Garou</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doggy_dick_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Doggy Dick
            </td>
            <td>
                17
            </td>
            <td>2,830</td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Helpless%20Bitch">Helpless Bitch</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Precious Puppy Girl
            </td>
            <td>
                17
            </td>
            <td>2,440</td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Adriana%20Ayers">Adriana Ayers</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/puppy_girl_pet_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Precious Puppy Girl
            </td>
            <td>
                17
            </td>
            <td>1,870</td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Ana%20Reza">Ana Reza</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                17
            </td>
            <td>1,825</td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Schrodinger%20Wren">Schrodinger Wren</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Erotic Figurine
            </td>
            <td>
                17
            </td>
            <td>1,185</td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Dark%20Blade">Dark Blade</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doggy_dick_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Doggy Dick
            </td>
            <td>
                17
            </td>
            <td>668</td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Sarah%20Sheer">Sarah Sheer</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/bdsm_pony_girl_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                BDSM Pony Girl
            </td>
            <td>
                17
            </td>
            <td>435</td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Minervas%20Buttslut">Minervas Buttslut</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/lil_bunslut_GogoBlackwater.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                'Lil BunSlut
            </td>
            <td>
                17
            </td>
            <td>80</td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Sarah%20Snow">Sarah Snow</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                16
            </td>
            <td>2,865</td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Gayle%20Talia">Gayle Talia</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/pocket_googirl_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Cuddly Pocket Goo Girl
            </td>
            <td>
                16
            </td>
            <td>1,920</td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Phoebe%20Stormbringer">Phoebe Stormbringer</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                16
            </td>
            <td>1,630</td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kitty%20Angelica">Kitty Angelica</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Pussy
            </td>
            <td>
                16
            </td>
            <td>1,185</td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Calem%20Raijin">Calem Raijin</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/gothic_parasol_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Lacey Gothic Parasol
            </td>
            <td>
                16
            </td>
            <td>1,080</td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Natsumi%20%27Maid%27%20Usagi">Natsumi 'Maid' Usagi</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                16
            </td>
            <td>1,070</td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Petra%20Nobody">Petra Nobody</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/regal_bronze_bikini_bottom_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Regal Bronze Bikini Bottom
            </td>
            <td>
                16
            </td>
            <td>1,065</td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Sammy%20Velasco">Sammy Velasco</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                16
            </td>
            <td>800</td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Amelia%20Wyant%20II">Amelia Wyant II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/cowslime_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Liquid Livestock
            </td>
            <td>
                16
            </td>
            <td>410</td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Juliana%20Burnham">Juliana Burnham</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pants" title="pants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/PleatedPlaidSkirt.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Schoolgirl Skirt
            </td>
            <td>
                16
            </td>
            <td>310</td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Regina%20Mallory">Regina Mallory</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                15
            </td>
            <td>2,515</td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Elizabeth%20Reynolds">Elizabeth Reynolds</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-hat" title="hat"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/flirty_two_toned_bow_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Flirty Two-Toned Bow
            </td>
            <td>
                15
            </td>
            <td>2,330</td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kenny%20Winter">Kenny Winter</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/electronic_toy_jbovinne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Shelly Mage
            </td>
            <td>
                15
            </td>
            <td>2,153</td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Shawn%20Wylde">Shawn Wylde</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/suspiciously_inconspicuous_coat.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Suspiciously Inconspicuous Coat
            </td>
            <td>
                15
            </td>
            <td>1,270</td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Candy%20Cumdump%20II">Candy Cumdump II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Pussy
            </td>
            <td>
                15
            </td>
            <td>1,100</td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Joe%20Nobody">Joe Nobody</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Collared Lap Girl
            </td>
            <td>
                15
            </td>
            <td>1,020</td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Sammi%20%27Sleepy%20Puppies%27%20Wells">Sammi 'Sleepy Puppies' Wells</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Disembodied Boobs
            </td>
            <td>
                15
            </td>
            <td>975</td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Auly%20Jua">Auly Jua</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                15
            </td>
            <td>970</td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kim%20Steele">Kim Steele</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/omnibus_familiar_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Omnibus' Familiar
            </td>
            <td>
                15
            </td>
            <td>305</td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Tem%20Nan">Tem Nan</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/attachable_cat_tail_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Attachable Cat Tail
            </td>
            <td>
                15
            </td>
            <td>20</td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Freya%20Rein">Freya Rein</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-hat" title="hat"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/wobbling_ears_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Pair Of Occasionally Wobbling Ears
            </td>
            <td>
                14
            </td>
            <td>2,228</td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Silver%20Westbrook">Silver Westbrook</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pants" title="pants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/PleatedPlaidSkirt.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Schoolgirl Skirt
            </td>
            <td>
                14
            </td>
            <td>2,050</td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Emily%20Mills">Emily Mills</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/silk_dragon_dress_jbovinne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Silk Dragon Dress
            </td>
            <td>
                14
            </td>
            <td>1,750</td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Amy%20%27%F0%9F%91%99%20Supportive%20%F0%9F%91%99%27%20Tong">Amy '👙 Supportive 👙' Tong</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/regal_bronze_bikini_top_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Regal Bronze Bikini Top
            </td>
            <td>
                14
            </td>
            <td>1,730</td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Lynelle%20Moon%20II">Lynelle Moon II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/silky_gothic_nightgown_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Silky Gothic Ballgown
            </td>
            <td>
                14
            </td>
            <td>1,290</td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Arrhae%20Hale">Arrhae Hale</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/mad_lab_coat_Asteron.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Mad Lab Coat
            </td>
            <td>
                14
            </td>
            <td>560</td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Fabricia%20Adair">Fabricia Adair</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                14
            </td>
            <td>480</td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Damian%20Ryan">Damian Ryan</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Nightdust_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Nightdust
            </td>
            <td>
                14
            </td>
            <td>470</td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Soupseller%20Kaibutsu">Soupseller Kaibutsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                14
            </td>
            <td>470</td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Liliana%20Kitsu">Liliana Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/erotic_figurine_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Erotic Figurine
            </td>
            <td>
                14
            </td>
            <td>10</td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Game%20Hound">Game Hound</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-hat" title="hat"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/red_fox_plushy_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Red Fox Plushy
            </td>
            <td>
                14
            </td>
            <td>10</td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Iker%20Garber">Iker Garber</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Pearled Gothic Panties
            </td>
            <td>
                13
            </td>
            <td>1,670</td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Amber%20Warden">Amber Warden</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/spirit_shard_Luxianne.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Spirit Shard
            </td>
            <td>
                13
            </td>
            <td>1,530</td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Karitty%20Pillow">Karitty Pillow</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Disembodied Boobs
            </td>
            <td>
                13
            </td>
            <td>1,500</td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Elyns%20Toy">Elyns Toy</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                13
            </td>
            <td>1,260</td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Robin%20White">Robin White</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pants" title="pants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Elegant Gothic Stockings
            </td>
            <td>
                13
            </td>
            <td>1,025</td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Simple%20Dolly">Simple Dolly</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                13
            </td>
            <td>860</td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Miss%20Chief">Miss Chief</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                13
            </td>
            <td>670</td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Summer%20Fields">Summer Fields</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/onepiece_latex_swimsuit_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                One-Piece Latex Swimsuit
            </td>
            <td>
                13
            </td>
            <td>605</td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Leena%20Mcridill">Leena Mcridill</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/gothic_parasol_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Lacey Gothic Parasol
            </td>
            <td>
                13
            </td>
            <td>550</td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kyle%20Nines">Kyle Nines</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Helpless Wolf Pillow
            </td>
            <td>
                13
            </td>
            <td>545</td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Venne%20Gerov">Venne Gerov</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/bimboSphere_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Magic Slut Ball
            </td>
            <td>
                13
            </td>
            <td>190</td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Grace%20Lindel">Grace Lindel</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/playful_wolf_girl_Martiandawn.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Wolf Girl
            </td>
            <td>
                12
            </td>
            <td>1,655</td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Harper%20Smothers">Harper Smothers</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Collared Lap Girl
            </td>
            <td>
                12
            </td>
            <td>1,585</td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Ruby%20Spark">Ruby Spark</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Suntan_Pantyhose_Razdale.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Suntan Pantyhose
            </td>
            <td>
                12
            </td>
            <td>1,555</td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Dorothy%20Silver">Dorothy Silver</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                12
            </td>
            <td>1,515</td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Brycen%20Tand">Brycen Tand</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                12
            </td>
            <td>1,470</td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Morgan%20Roak">Morgan Roak</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                12
            </td>
            <td>1,450</td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Butt%20Boy">Butt Boy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/booty_babblingfaces.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Bootylicious Booty
            </td>
            <td>
                12
            </td>
            <td>1,440</td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Melissa%20Cherry">Melissa Cherry</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                12
            </td>
            <td>1,240</td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Squeaky%20%27Dog%27%20Toy">Squeaky 'Dog' Toy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/pillow_girl_Dandelion.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Pillow Girl
            </td>
            <td>
                12
            </td>
            <td>1,185</td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Dana%20Tacida">Dana Tacida</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Magical Cat Girl
            </td>
            <td>
                12
            </td>
            <td>1,178</td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Lucarnos%20Altameria%20II">Lucarnos Altameria II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shirt" title="shirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/evening_gown_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Gossamer Evening Gown
            </td>
            <td>
                12
            </td>
            <td>630</td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Wuffies%20Merchandise">Wuffies Merchandise</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/adorable_donkey_dominque.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Adorable Donkey Foal
            </td>
            <td>
                12
            </td>
            <td>615</td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Zel%20Argentis">Zel Argentis</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/dragon_egg_technicolor_pie.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Dragon Egg
            </td>
            <td>
                12
            </td>
            <td>410</td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kirumi%20Terashi%20III">Kirumi Terashi III</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-hat" title="hat"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/crown_of_order_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Maid Headband
            </td>
            <td>
                12
            </td>
            <td>390</td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Ai%20Naoi">Ai Naoi</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/floof_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Red Vixen
            </td>
            <td>
                12
            </td>
            <td>140</td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Chris%20Toy">Chris Toy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/boyshort_panties_Theresa_Olivas.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Boyshort Panties
            </td>
            <td>
                12
            </td>
            <td>50</td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Toni%20Venusela">Toni Venusela</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/onahole_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                High-Quality Onahole
            </td>
            <td>
                12
            </td>
            <td>0</td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Jojo%20Jarvis">Jojo Jarvis</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/boyshort_panties_Theresa_Olivas.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Boyshort Panties
            </td>
            <td>
                11
            </td>
            <td>1,185</td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Joshua%20Addams">Joshua Addams</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/goldfish_mermaid_roxanne13579.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Goldfish Mermaid
            </td>
            <td>
                11
            </td>
            <td>1,140</td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Cursemaker%20Nix">Cursemaker Nix</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                11
            </td>
            <td>965</td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Melva%20Florence">Melva Florence</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Pussy
            </td>
            <td>
                11
            </td>
            <td>935</td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kino%20Baxton">Kino Baxton</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-consumable_reuseable" title="consumable_reuseable"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Inflatable Sex Doll
            </td>
            <td>
                11
            </td>
            <td>910</td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Azzy%20Floof">Azzy Floof</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/snow_cabbit_Aurora_Ryall.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Snow Cabbit
            </td>
            <td>
                11
            </td>
            <td>695</td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Edna%20Schafer%20II">Edna Schafer II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/bound_demonic_concubine_Babblingfaces.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Bound Demonic Concubine
            </td>
            <td>
                11
            </td>
            <td>635</td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Janice%20Drury%20II">Janice Drury II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/boyshort_panties_Theresa_Olivas.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Boyshort Panties
            </td>
            <td>
                11
            </td>
            <td>618</td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Kerri%20Coy">Kerri Coy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                11
            </td>
            <td>600</td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Cass%20Parnelle">Cass Parnelle</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_cowgirl_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Docile Cowgirl
            </td>
            <td>
                11
            </td>
            <td>480</td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Lilly%20Valencia">Lilly Valencia</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pants" title="pants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/PleatedPlaidSkirt.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Schoolgirl Skirt
            </td>
            <td>
                11
            </td>
            <td>470</td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Vita%20Barbour%20II">Vita Barbour II</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Disembodied Boobs
            </td>
            <td>
                11
            </td>
            <td>295</td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Ren%20Stearns">Ren Stearns</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/gentlemans_suit_and_vest_JBovinne.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Gentlemen's Shirt and Vest
            </td>
            <td>
                11
            </td>
            <td>240</td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Deacon%20Heughes">Deacon Heughes</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/black_kitten_stockings_ewillice.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Paws
            </td>
            <td>
                11
            </td>
            <td>210</td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Silver%20Kitsune">Silver Kitsune</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/merging_minx_Blanca_D.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Merging Minx
            </td>
            <td>
                11
            </td>
            <td>185</td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Deacon%20Riggs">Deacon Riggs</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/helpless_wolf_pillow_Gogo_Blackwater.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Helpless Wolf Pillow
            </td>
            <td>
                10
            </td>
            <td>1,065</td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Miss%20Inflatable">Miss Inflatable</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/gartered_panties_with_stockings_meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Living Lingerie
            </td>
            <td>
                10
            </td>
            <td>940</td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Mini%20Valentine">Mini Valentine</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-shoes" title="shoes"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/platform_heels_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Platform Heels
            </td>
            <td>
                10
            </td>
            <td>935</td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Margarita%20Mckeon">Margarita Mckeon</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-undershirt" title="undershirt"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/disembodied_chest_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Disembodied Boobs
            </td>
            <td>
                10
            </td>
            <td>925</td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Gheriella%20Sunshine">Gheriella Sunshine</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-accessory" title="accessory"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/black_leather_handbag_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Black Leather Handbag
            </td>
            <td>
                10
            </td>
            <td>855</td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Vita%20Love%20IV">Vita Love IV</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/ProstheticHorseCock_Meddle.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Prosthetic Horsecock
            </td>
            <td>
                10
            </td>
            <td>808</td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Karina%20Eller">Karina Eller</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-underpants" title="underpants"></span>
            </td>
            <td><img src="/Images/PvP/itemsPortraits/Thumbnails/100/Honeypot_Luxianne.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Playful Pussy
            </td>
            <td>
                10
            </td>
            <td>805</td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Lara%20%27Escapee%20from%20N%2AI%2AM%2AH%27%20Berry">Lara 'Escapee from N*I*M*H' Berry</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/tiny_mouse_girl_curry_senpai.png" width="50x" height="50px;"></td>
            <td class="mobile">
                Tiny Mouse Girl
            </td>
            <td>
                10
            </td>
            <td>765</td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <span class="icon icon-permanent" title="This player's soul is permanently sealed into this item."></span>
                <a href="/pvp/lookatplayeritem?vicname=Alice%20Trevor">Alice Trevor</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-pet" title="pet"></span>
            </td>
            <td><img src="/Images/PvP/animalPortraits/Thumbnails/100/spoiled_kitsune_princess_babblingfaces.jpg" width="50x" height="50px;"></td>
            <td class="mobile">
                Spoiled Kitsune Princess
            </td>
            <td>
                10
            </td>
            <td>605</td>
        </tr>
    </tbody>
</table>