@model LocalPasswordModel

<h3>Change password</h3>

<form asp-controller="Account" asp-action="Manage" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" />
            </li>
            <li>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" />
            </li>
            <li>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
            </li>
        </ol>
        <input type="submit" value="Change password">
    </fieldset>
</form>
