@model LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>
<form asp-controller="Account" asp-action="Manage" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword"/>
            </li>
            <li>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword"/>
            </li>
        </ol>
        <input type="submit" value="Set password">
    </fieldset>
</form>
