<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <link href="~/Content/Bios.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to Contributor Bio List", "ContributorBioList", "Contribution")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<div class="bioHeader">

    <h1 class="bigName">Luxianne</h1>

    <p>
        <a href="http://luxianne.com/">Luxianne's Website</a>
        <a href="http://luxianne.deviantart.com/">Luxianne's Deviant Art Page</a>
        <a href="http://www.furaffinity.net/user/luxianne/">Luxianne's Furaffinity Page</a>
    </p>

</div>

<div class="bioHeader">
    <h3>Player name:  Lilith Valentine</h3>

    <p><i>Hey there, here is my artist topic! I'm an transformation artist - have been drawing tfs, tgs, inanimates and other things for over two years now. In the game I'm mainly concentrating on anthro forms and animals but I'm not limited to them as you can see. I have joined the game around Round 2 and have been active since then. I hope that we will be able to create new and awesome spells together! If you are interested about working with me be sure to throw me a note! </i></p>

    <p><i>My works for the game are created with optional donations. If you want to throw me a tip for work I would be glad - but that is not mandatory.</i></p>

    <p><i>I'm also available for all pay works - singles, sequences and comics. All are priced on my site and dA.</i></p>

    <p class="good">Luxianne is open for comissions.</p>

</div>

<p>Please note that this page does not necessarily reflect all of this contributor's contributions</p>

<hr />

<h3 class="break">Contributions:  Art--Animate Forms</h3>



<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/adorable_kitty_boy_Luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/alraune_Luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/birdie_luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/blue_chaffinch_Lux.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/egyptian_priestess_Lux.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/kitsune_shrine_maiden_lux.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Lindella_Luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/vampire_female_Lux.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/vampire_Lux.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/wereleopard_luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/wood_mannequin_Lux.png);"></div>



    @*<div class="graphic" style="background-image: url(../Images/PvP/Portraits/);"></div>*@


</div>

<h3 class="break">Contributions:  Art--Inanimate Forms</h3>

<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Count_Cuddles_Luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/gemstone_Lux.gif); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/onahole_Luxianne.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Honeypot_Luxianne.png);"></div>
        @*<div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/);"></div>*@




    @*<div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/);"></div>*@

</div>



<h3 class="break">Contributions:  Art--Pets</h3>

<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/cat_familiar_lux.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/fennec_fox_luxianne.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/white_tiger_Luxianne.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/wolf_cub_lux.png); "></div>



    @*<div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/); "></div>*@
</div>




