<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <link href="~/Content/Bios.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to Contributor Bio List", "ContributorBioList", "Contribution")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<div class="bioHeader">

    <h1 class="bigName">Meddle</h1>

    <p> <a href="http://www.renderotica.com/artists/Meddlesom/Gallery">Meddle's Renderotica Gallery</a></p>

</div>

<div class="bioHeader">
    <h3>Player name:  Valerie Wallace</h3>

    <p>Meddle is a talented 3d artist who has been with the game since close to the very start, providing quality 3d graphics for all manners of forms and items.</p>

    @*<p class="good">Meddle is open for comissions.</p>*@

</div>

<p>Please note that this page does not necessarily reflect all of this contributor's contributions</p>

<hr />

<h3 class="break">Contributions:  Art--Animate Forms</h3>



<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/angel_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/bimbo_plague_bearer_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/cheerleader_meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Fembot_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/femboy_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/french_maid_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/goo_girl_b_meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Ice_Queen_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/jungle_girl_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/kitsune_meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/lilath_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/manly_man_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/mechanical_man_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Minotaur_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/naughty_schoolgirl_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/pig_girl_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/stripper_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/teacher_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/unimagineably_bbl_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Valiant_Valkyrie_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Willing_wish_granter_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/new_age_retro_hippy_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Man_01_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Man_02_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Man_03_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Man_04_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Man_05_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Woman_01_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Woman_02_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Woman_03_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Woman_04_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/Portraits/Woman_05_Meddle.png);"></div>


    @*<div class="graphic" style="background-image: url(../Images/PvP/Portraits/);"></div>*@


</div>

<h3 class="break">Contributions:  Art--Inanimate Forms</h3>

<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/3tiered_skirt_Meddle.png);"></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/5_inch_heels_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/AthleticShoes_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/BlackSilkTopHat.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/bondage_magazine_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/BoxerShorts_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/ButtonUpSchoolgirlBlouse_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/CatEyeGlasses_meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/CatnipMouseToy_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Cheerleader_Shell_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/cocktail_dress_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/crown_of_order_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/disembodied_chest_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Feather_Duster_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/FertilityIdol1_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/fishnet_tights_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/french_maid_petticoat_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/gartered_panties_with_stockings_meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/latex_collar_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Leather_Shoes_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Lipstick_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/magic_chocker_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/magic_wand_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/maid_dress_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/masquerade_mask_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/MaternityBra_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/page_turner_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/platform_heels_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/PleatedPlaidSkirt.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/ProstheticHorseCock_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/red_wavy_wig_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/runic_dildo_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/silk_pants_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/SmartLookingTie.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/spankmes_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/sucker_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/suitjacket_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Vibrator_meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/Whip_Meddle.png); "></div>



</div>



<h3 class="break">Contributions:  Art--Pets</h3>

<div class="artbox">

    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/pocket_dragon_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/bimboSphere_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/fairy_familiar_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/tentacle_monster_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/strawdoll_Meddle.png); "></div>
    <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/bdsm_pony_girl_Meddle.png); "></div>


</div>




