<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <link href="~/Content/Bios.css" rel="stylesheet" />
</head>

<p>
    @Html.ActionLink("Back to Contributor Bio List", "ContributorBioList", "Contribution")
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<div class="bioHeader">

    <h1 class="bigName">Nymic-TF</h1>

    <p>
        <a href="http://nymic-tf.deviantart.com/">Nymic-TF's Deviant Art Page</a>
    </p>

</div>

@*<h3>Player name:  Lilith Valentine</h3>*@

<div class="bioHeader">
    <p>Nymic-TF was the first artist to contribute graphics toward the game, both for animate forms and items.  Nymic-TF is a transformation artist with a fair number of detailed sequences on his Deviant Art account. </p>

    @*<p class="good">Luxianne is open for comissions.</p>*@

</div>

    <p>Please note that this page does not necessarily reflect all of this contributor's contributions</p>

    <hr />

    <h3 class="break">Contributions:  Art--Animate Forms</h3>



    <div class="artbox">

        <div class="graphic" style="background-image: url(../Images/PvP/Portraits/boozebaroness_by_nymic_tf-d7ekv5d.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/Portraits/bunnygirl_nymictf_fixed.png);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/Portraits/form_busty_blonde_bimbo_nymic-tf.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/Portraits/succubus_by_nymic_tf-d7euc8y.jpg);"></div>

        @*<div class="graphic" style="background-image: url(../Images/PvP/Portraits/);"></div>*@


    </div>

    <h3 class="break">Contributions:  Art--Inanimate Forms</h3>

    <div class="artbox">

        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/item_99_red_balloons_nymic-tf.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/item_leopard_bra_nymic-tf.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/item_mana_flask_tfnymic.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/item_skateboard_nymic-tf.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/item_tight_blue_jeans_tfnymic.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/panty_plain_1_tfnymic.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/pink_bunny_slippers_tfnymic.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/ProstheticUdders_Nymic_TF.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/purple_vibrating_panties_by_nymic-tf.jpg);"></div>
        <div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/statuette_tfnymic.jpg);"></div>





        @*<div class="graphic" style="background-image: url(../Images/PvP/itemsPortraits/);"></div>*@

    </div>



    @*<h3 class="break">Contributions:  Art--Pets</h3>

        <div class="artbox">

            <div class="graphic" style="background-image: url(../Images/PvP/animalPortraits/); "></div>




        </div>*@




