@model IEnumerable<TT.Domain.ViewModels.PlayerAchievementViewModel>
@using TT.Domain.Procedures
@using TT.Domain.ViewModels

<div>
    @{
        
        int i = 1;
        
        foreach (PlayerAchievementViewModel p in Model.OrderByDescending(m => m.Achivement.Amount).ThenBy(m => m.Achivement.Timestamp))
        {
            <p>
                @i. @Html.ActionLink(p.Player.Player.GetFullName(), MVC.PvP.LookAtPlayer(p.Player.Player.Id)) (@($"{p.Achivement.Amount:n0}"))
            </p>
            i++;
        }
    }
</div>