@model IEnumerable<TT.Domain.ViewModels.PlayerAchievementViewModel>

<div>
    @{
        
        var i = 1;
        
        foreach (var p in Model.OrderByDescending(m => m.Achivement.Amount).ThenBy(m => m.Achivement.Timestamp))
        {
            <p>
                @i. <a href="@Url.Action(MVC.PvP.LookAtPlayer(p.Player.Player.Id))">@p.Player.Player.GetFullName()</a> (@($"{p.Achivement.Amount:n0}"))
            </p>
            i++;
        }
    }
</div>