body {
  background: #A16969;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

p {
  margin: 0px;
  padding: 0px; }

a {
  color: black !important;
  font-weight: bold; }

a:hover {
  color: #4E0404 !important;
  text-decoration: none; }

.outsideContainer a {
  color: white !important;
  font-weight: normal; }

.outsideContainer a:hover {
  color: #E4E0D4 !important;
  font-weight: normal; }

.outsideContainer {
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  text-align: center;
  background: #734752; }

.navbarTT1 {
  background: #734752;
  border-bottom: 4px solid #A16969 !important;
  font-size: 16px;
  margin-bottom: 0px; }

.navbarTT2 {
  background: #CF8C81 !important;
  border-bottom: 4px solid #A16969 !important;
  font-size: 16px;
  margin-bottom: 0px; }

.footerTT {
  font-size: 12px;
  line-height: 36px;
  border-top: 4px solid #A16969 !important;
  color: white; }

.container {
  padding: 0px;
  border-left: 4px solid #A16969;
  border-right: 4px solid #A16969;
  background: #E4E0D4; }

.containerInner {
  padding: 20px; }

.outsideContainer a {
  background: none; }

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .navbar-default .navbar-nav > .active > a {
  background: none; }

.center-block {
  text-align: center; }

.specialBox {
  background: #78BAB5;
  border-bottom: 4px solid #A16969;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  padding: 10px;
  color: black; }

.specialBox2 {
  background: #C6E6E4; }

.turnNumber {
  float: left;
  margin-right: 0px;
  font-weight: bold; }

.logout {
  position: absolute;
  top: 5px;
  right: 5px; }

@media (max-width: 752px) {
  .logout {
    position: relative;
    top: 0px;
    right: 0px; } }
#notificationBox {
  background: #C2A9AF;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100px;
  resize: vertical;
  padding: 10px;
  list-style: none;
  text-align: justify;
  margin-bottom: 0px; }

#dismissNotficationBox {
  background: #865863;
  font-size: 12px;
  text-align: center;
  border-bottom: 4px solid #A16969; }

.infoMessage {
  font-size: 16px;
  border-bottom: 4px solid #A16969;
  padding: 4px;
  text-align: center;
  background: #475374; }

.infoMessage:empty {
  display: none; }

.result {
  color: #51D269; }

.error {
  color: #EA4987; }

.suberror {
  color: white;
  font-size: 12px; }

.covenDescription {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify; }

#RecentActivityLog {
  clear: both;
  background: #C2A9AF;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 200px;
  resize: vertical;
  padding: 10px;
  list-style: none;
  text-align: justify;
  margin-bottom: 0px; }

.charaBox {
  margin-bottom: 10px;
  height: 280px; }

.itemBox {
  margin-bottom: 10px;
  height: 150px;
  text-align: center; }

.charaBoxInner {
  padding: 10px; }

.portrait {
  height: 100px;
  width: 100px;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto; }

.charInfoWrapper {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.offlinePlayersWrapperBG {
  background: gainsboro;
  border-bottom: 4px solid #A16969; }

.floorItemsWrapperBG {
  background: #FFF1C8;
  border-bottom: 4px solid #A16969;
  clear: both; }

.floorItemsWrapperBG:empty {
  display: none; }

.onlinePlayersWrapperBG {
  background: #D7BEBA;
  border-top: 4px solid #A16969; }

#offlinePlayersButton {
  background: #7B6461;
  font-size: 12px;
  text-align: center;
  border-bottom: 4px solid #A16969; }

.icon-sleep {
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  background-image: url("../Images/PvP/Icons/icon-sleep.png");
  display: inline-block;
  bottom: 0;
  left: 0; }

.covBox:empty {
  display: none; }

.floorItemWrapper {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center; }

.actionButton {
  border: 4px solid #A16969;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  display: inline-block; }

#actionMeditate {
  background: #6673D4; }

#actionCleanse {
  background: #C95DA2; }

#actionSearch {
  background: #C36C0A; }

.glyphicon-off, .glyphicon-time {
  color: white; }

.glyphicon-off:hover, .glyphicon-time:hover, glyphicon-trash:hover {
  color: black !important; }

.formerly a {
  font-weight: bold; }

.formerly {
  font-size: 12px;
  color: darkred;
  background-color: #FFCCFF; }

.action_attack {
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: inline-block;
  border: 4px solid #A16969; }

.col-md-1 {
  min-height: 0px !important; }

#MessageText {
  width: 100%;
  resize: vertical; }

.petActionBad {
  color: #9E0E0E; }

.petActionGood {
  color: #19199F; }

.playerAttackNotification {
  color: #9E0E0E; }

.playerSearchingNotification {
  color: #A7641A; }

.playerCleansingNotification {
  color: #9822BC; }

.playerMediatingNotification {
  color: #2234BC; }

.frontPageNotification {
  padding-bottom: 7px; }

.frontPageNotification:last-child {
  padding-bottom: 7px; }

.timeago {
  color: #6F5151 !important; }

/*# sourceMappingURL=custom.css.map */
