$navbarDark: #734752;
$navbarLight: #CF8C81;
$border: 4px solid #A16969;
$bodyColor:  #A16969;
$containerColor: #E4E0D4;
$darkFillColor: #78BAB5;
$lightFillColor: #C6E6E4;
$darkPink: #865863;
$cleanse: #D2D246;
$floorItemBG: #FFF1C8;
$offlinePlayerBG: gainsboro;
$onlinePlayerBG: #D7BEBA;
$darkBackground: #475374;

$good: #51D269;
$error: #EA4987;
$suberror: white;

$notificationBoxColor: #C2A9AF;

$fontBig: 20px;
$fontMedium: 15px;
$fontSmall: 13px;

$defaultMargin: 0px;

body {
background: $bodyColor;
font-size: $fontSmall;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p{
margin: 0px;
padding: 0px;
}

a {
color: black !important;
font-weight: bold;
}

a:hover{
color: #4E0404 !important;
text-decoration:none;
}

    .inboxNew {
        background: $darkPink !important
    }

.outsideContainer a {
    color: white !important;
    font-weight: normal;
}

.outsideContainer a:hover {
    color: $containerColor !important;
    font-weight: normal;
}

.outsideContainer {
border-radius: 0px;
border: none;
margin-bottom: 0px;
text-align: center;
background: $navbarDark;
}

 .navbarTT1{
 background: $navbarDark;
 border-bottom: $border !important;
 font-size: $fontMedium;
  margin-bottom: $defaultMargin;
 }
 .navbarTT2{
 background: $navbarLight !important;
 border-bottom: $border !important;
 font-size: $fontSmall;
 margin-bottom: $defaultMargin;
 }

.footerTT {
font-size: $fontSmall;
line-height:36px;
border-top: $border !important;
color: white;
}

.container{
padding:$defaultMargin;
border-left: $border;
border-right: $border;
background: $containerColor;
}

.containerInner {
padding: 20px;
}

.outsideContainer a {
background: none;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .navbar-default .navbar-nav > .active > a{
background: none;
}

.center-block{
text-align: center;
}

.specialBox {
background: $darkFillColor;
border-bottom: $border;
font-size: $fontMedium;
text-align: center;
margin-bottom: $defaultMargin;
padding:10px;
color: black;
}

.specialBox2 {
background: $lightFillColor;
}
.turnNumber{
float: left;
margin-right: $defaultMargin;
font-weight: bold;
}

.logout {
position: absolute;
top:5px;
right: 5px;
}

@media (max-width: 752px) {
.logout {
position: relative;
top: 0px;
right: 0px;
}
}

#notificationBox{
	background: $notificationBoxColor;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	height: 100px;
	resize: vertical;
	padding: 10px;
	list-style: none;
	text-align: justify;
	margin-bottom: 0px;
}

#dismissNotficationBox {
	background: $darkPink;
	font-size: $fontSmall;
	text-align: center;
	border-bottom: $border;
}

#dismissNotficationBox a, #offlinePlayersButton a{
    color: $containerColor !important;
    font-weight:normal !important;
}

#dismissNotficationBox a:hover, #offlinePlayersButton a:hover{
    color: white !important;
    font-weight:normal !important;
}

.infoMessage{
    font-size: $fontMedium;
	border-bottom: $border;
	padding: 4px;
	text-align: center;
	background: $darkBackground;
}

.infoMessage:empty {
display: none;
}

.result {
    color: $good;
}


.error {
	color: $error;
}

.suberror {
color: white;
font-size: $fontSmall
}

.covenDescription {
padding-left: 40px;
padding-right: 40px;
text-align: justify;
}

#RecentActivityLog{
	clear:both;
	background: $notificationBoxColor;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	height: 200px;
	resize: vertical;
	padding: 10px;
	list-style: none;
	text-align: justify;
	margin-bottom: 0px;
}

.charaBox{ 
margin-bottom: 10px;
height: 280px;
}

.itemBoxPP{
    height: 150px !important;
}

.itemBox {
margin-bottom: 10px;
text-align: center;
height: 100%;
}

.charaBoxInner {
padding:10px;
}

.portrait {
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
	margin-left:auto;
	margin-right:auto;
}

.charInfoWrapper {
    text-align: center;
    width: 100%;
	margin-left:auto;
	margin-right:auto;
}
.offlinePlayersWrapperBG{
	background: $offlinePlayerBG;
	border-bottom: $border;
	}
	
	.floorItemsWrapperBG{
	background: $containerColor;
	border-bottom: $border;
	clear:both;
	}

    .floorItemsWrapperBG:empty{
        display:none;
    }
	
	.onlinePlayersWrapperBG{
	background: $onlinePlayerBG;
	border-top: $border;
	}
	
	#offlinePlayersButton {
	background: #7B6461;
	font-size: $fontSmall;
	text-align: center;
	border-bottom: $border;
	}

.icon-sleep {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/icon-sleep.png");
    display: inline-block;
    bottom: 0;
    left: 0;
}

.covBox:empty{
display: none;
}

.floorItemWrapper{
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.actionButton {
border: $border;
padding: 10px;
margin: 10px;
font-size: $fontMedium;
display:inline-block;
}

.actionButton:hover{ 
}

#actionMeditate{
background: #6673D4;
}

#actionCleanse{
 background: #C95DA2;   
}

#actionSearch{
background: #C36C0A;
}

.glyphicon-off, .glyphicon-time{
color: white;
}

.glyphicon-off:hover, .glyphicon-time:hover, glyphicon-trash:hover{
color: black !important;
}

.formerly a {
    font-weight: bold;
}

.formerly {
    font-size: $fontSmall;
    color: darkred;
    background-color: #FFCCFF;
}

.action_attack {
    font-size: $fontMedium;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    border: $border;
}

.col-md-1{
    min-height: 0px !important;
}

#MessageText {
    width:100%;
    resize: vertical;
}

.petActionBad {
    color: #9E0E0E;
}

.petActionGood {
    color: #19199F;
}

.playerAttackNotification {
    color: #9E0E0E;
}

.playerSearchingNotification{
    color: #A7641A;
}

.playerCleansingNotification{
    color: #9822BC;
}
.playerMediatingNotification{
    color: #2234BC;
}

.frontPageNotification {
    padding-bottom: 7px;
}

    .frontPageNotification:last-child {
        padding-bottom: 7px;
    }

    .timeago{
        color: #6F5151 !important;
    }

.place {
    font-size: $fontBig;
    color: $darkBackground;
    text-align: center;
    clear: both;
    display: block;
}

.covSafeground{
    font-size: $fontMedium;
    color: $darkPink;
    text-align: center;
    clear: both;
    display: block;
}

.tableLines {
margin-left:auto;
margin-right:auto;
}

.tableLines td {
        border: 1px solid $darkPink;
        text-align: center;
        padding: 3px;
		background:$darkPink;
        color: white;
}

.tableLines td a{
    color: $onlinePlayerBG !important; 
    font-weight: normal;
}

.tableLines td a:hover{
    color: white !important;
}

.tableLines td:empty{
    background: $bodyColor;
}
