html {
    overflow-y:scroll;
}

.tableLines {
}

    .tableLines td {
        border: 1px solid black;
        text-align: center;
        padding: 3px;
    }

#location {
    width: 300px;
    height: 20px;
}

.deleteMessegeConfirm{
    display:none;
    text-align: center;
    border:2px solid black;
    padding: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.messageTextContainer{
    border:1px solid gray;
    height:auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    word-wrap: break-word;
}

.chatInput {
    border: 1px solid black;
    margin: 5px 0px 0px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 6px;
}

.place {
    font-size: 20px;
    color: red;
    text-align: center;
    clear: both;
    display: block;
}

.covSafeground{
    font-size: 14px;
    color: darkviolet;
    text-align: center;
    clear: both;
    display: block;
}

.result {
    font-size: 20px;
    color: green;
    font-style: oblique;
    /*border: 1px solid green;
    background-color: lightgreen;*/
    padding: 4px;
}

.error {
    font-size: 20px;
    color: red;
    font-style: oblique;
    /*border: 1px solid red;
    border-bottom: none;
    background-color: lightpink;*/
    padding: 4px;
}

.suberror {
    font-size: 12px;
    color: purple;
    /*border: 1px solid red;
    border-top: none;
    background-color: lightpink;*/
    padding: 4px;
}

.name {
    font-size: 12px;
}

.health {
    color: darkred;
    font-weight: 300;
    font-size: 20px;
}

.mana {
    color: darkblue;
    font-weight: 300;
    font-size: 20px;
}



.tiny {
    font-size: 10px;
    font-weight: bold;
    margin-left: 8px;
}

a {
    font-weight: bold;
    background-color: lightgray;
}

.disabled {
    background-color: white;
    text-decoration: line-through;
}

    .disabled:hover {
        background-color: white;
        cursor: default;
    }

.petItemPortrait{
    width: 450px;
    height: 450px;
    float: left;
    position: relative;
    display: block;
    margin-right: 20px;
    background-size: 450px 450px;
    background-position: center center;
    clear: left;
}

.petItemInfo{
    float: left;
    position: relative;
    display: block;
    width: 450px;
    text-align: justify;
}



.newlink a {
    background-color: lightpink;
    /*font-size: 18px;*/
}

.newlinkgreen a {
    background-color: lightgreen !important;
}

.newlinkyellow a {
    background-color: yellow !important;
}

.formerly a {
    font-weight: bold;
    background-color: #FFCCFF;
    color: darkred;
}

.formerly {
    font-size: 12px;
    color: darkred;
    font-style: oblique;
    background-color: #FFCCFF;
}


locationDescription {
    font-style: italic;
}

.navcell {
    max-width: 150px;
    max-height: 150px;
}

.formerPlayer {
    font-size: 9px;
    font-style: italic bold;
    color: darkolivegreen;
}

.detailIcon {
    width: 15px;
    height: 15px;
    background-image: url("../Images/PvP/Icons/details.png");
    background-size: 100% 100%;
    /*border: 1px solid black;*/
    display: inline-block;
}

.icon-female {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/female.png");
    display: inline-block;
}

.icon-male {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/male.png");
    display: inline-block;
}

.icon-sleep {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/icon-sleep.png");
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.icon-online {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/online.png");
    display: inline-block;
}

.icon-offline {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/offline.png");
    display: inline-block;
}

.icon-permanent {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/icon-permanent.png");
    display: inline-block;
}

.icon-turnNumber {
    width: auto;
    height: 17px;
    background-color: yellow;
    display: inline-block;
    float: left;
    border: 1px solid red;
}

.icon-consumable {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/consumeable.png");
    display: inline-block;
    float: right;
}

.icon-shirt {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/shirt.png");
    display: inline-block;
    float: right;
}

.icon-undershirt {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/undershirt.png");
    display: inline-block;
    float: right;
}

.icon-pants {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/pants.png");
    display: inline-block;
    float: right;
}

.icon-underpants {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/underpants.png");
    display: inline-block;
    float: right;
}

.icon-shoes {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/shoes.png");
    display: inline-block;
    float: right;
}

.icon-pet {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/pet.png");
    display: inline-block;
    float: right;
}

.icon-accessory {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/accessory.png");
    display: inline-block;
    float: right;
}

.icon-hat {
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/hat.png");
    display: inline-block;
    float: right;
}

.icon-level {
width: 25px;
height: 16px;
display: inline-block;
text-align: center;
/* text-shadow: 1px 1px #FFF;*/
padding-bottom: 5px;
background: rgba(255, 255, 255, 0.7);
border-right: 1px solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-bottom-right-radius: 10px;
}

.icon-pvp {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    display: inline-block;
    background-image: url("../Images/PvP/Icons/PVP.png");
}

.icon-protection {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    display: inline-block;
    background-image: url("../Images/PvP/Icons/icon-protection.png");
}

.icon-rp {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    display: inline-block;
    background-image: url("../Images/PvP/Icons/RP.png");
}

.portraitIconRP {
position: relative;
left: 10px;
top: 80px;
text-align: right;
float: right;
}

.icon-donator1 {
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    display: inline-block;
    background-image: url("../Images/PvP/Icons/donator_1.gif");
}

.icon-timesattacking {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/target.png");
    background-size: 100% 100%;
}

.icon-cleansemeditate {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/cleansemeditate.png");
    background-size: 100% 100%;
}

.icon-health_recovery {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/icon-health_recovery.png");
    background-size: 100% 100%;
}

.icon-mana_recovery {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/icon-mana_recovery.png");
    background-size: 100% 100%;
}

.icon-defense {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/icon-defense.png");
    background-size: 100% 100%;
}

.icon-money {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    background-image: url("../Images/PvP/Icons/money.png");
    background-size: 100% 100%;
}


.mainPageWorldStats {
    border: 1px solid black;
    padding: 4px;
    background-color: lightcyan;
    width: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
}

.covenContainer{
    text-align: center;
}

.covName {
    color: darkblue;
    font-size: 25px;
}

.covHeader {
    color: darkviolet;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.covItem {
    border: 1px solid lightgray;
    padding: 5px;
    float: left;
    position: relative;
    width: 100%;
}

.name a {
    background-color: lightyellow;
}

a.attackLink {
    background-color: white;
}

a.talkLink {
    background-color: white;
}

.portrait {
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    position: relative;
    float: left;
    text-align: left;
}

.subportrait {
    width: 100px;
    height: 100px;
    margin: 3px;
    background-size: 100% 100%;
    border: 2px solid violet;
    float: left;
}


.portrait-large {
    height: 200px;
    width: 200px;
    background-size: 100% 100%;
    position: relative;
    float: left;
}

.floorItemName{
    font-size:11px;
}

.portrait_item_mainpage {
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.floorItemWrapper{
    width: 150px;
    display: inline-table;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
}

.floorItemLevel {
    text-align: left;
    text-shadow: 1px 1px #FFF;
    position: relative;
    left: -8px;
    top: -2px;
}

.large {
    height: 400px;
    width: 400px;
    margin: 15px;
}

.charInfoWrapper {
    position: relative;
    float: left;
    text-align: center;
    width: 200px;
}

.onlineCharWrapper{
    width:302px;
    height:160px;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.charwrapper {
    border: 1px solid lightgray;
    height: 100px;
    width: 300px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: block;
    float: left; 
    /*background-color: #FFFFEC;*/
}

    .charwrapper.bot {
        border: 1px solid pink;
        background-color: mistyrose;
    height: 100px;
    width: 300px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: block;
    float: left; 
        /*background-color: #FFFFEC;*/
    }

.commandWrapper {
    width: 300px;
    text-align: center;
    clear: both;
    border: 1px solid #D3D3D3;
    height: 32px;
    padding-top: 6px;
    margin-bottom:20px;
}

.timeago {
    font-size: 10px;
    color: gray;
}

.form__panel {
    width: 99%;
    height: auto;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

    .form__panel textarea {
        width: 98%;
        height: 150px;
    }

    .form__panel input {
        width: 98%;
    }

        .form__panel input[type="checkbox"] {
            width: 20px;
        }

    .form__panel.group {
        width: 100%;
        height: auto;
        border: 1px solid darkblue;
        border-radius: 3px;
        padding: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: lightblue;
    }

    .form__panel.externalMessage {
        font-size: 15px;
        font-style: italic;
        font-weight: 600;
        border: 1px solid darkblue;
    }

    .form__panel select {
        width: 300px;
    }

#showOfflinePlayersButton {
    font-size: 15px;
    color: darkblue;
    font-weight: 600;
    border: 1px solid darkblue;
    width: 210px;
    text-align: center;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

    #showOfflinePlayersButton:hover {
        border: 1px solid darkred;
        color: darkred;
        background-color: lightpink;
        cursor: pointer;
    }

.healthWrapper {
    height: 10px;
    width: 100px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.healthBar {
    height: 10px;
    background-color: red;
}

.manaWrapper {
    height: 10px;
    width: 100px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

.manaBar {
    height: 10px;
    background-color: blue;
}

.playerDescription {
    font-size: 11px;
    font-style: italic;
}

#notificationBox{
    max-height: 180px;
    overflow-y: scroll;
}

#RecentActivityLog{
    max-height: 190px;
    overflow-y: scroll;
}

#logSize{
    text-align: left;
    display:block;
    float: left;
}

@media all and (min-width: 1880px) {
    #RecentActivityLog {
        overflow-y: scroll;
        top: 65px;
        width: 400px;
        position: absolute;
        max-height: 80%;
        right: 15px;
    }

    #logTitle{
        position: absolute;
        top: 20px;
        right: 90px;
    }

    #logSize {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.icon-clock {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/icon-clock.png");
    display: inline-block;
}

    .icon-clock:hover {
        background-color: lightblue;
    }

.good {
    color: green;
    font-weight: 900;
}

.bad {
    color: red;
    font-weight: 900;
}

.zero {
    color: darkgray;
    font-weight: 900;
}

.playPageInventoryItem {
    width: 54px;
    height: 54px;
    background-size: 100%;
    position: relative;
    float: left;
    border: 1px solid black;
    color: black;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    line-height: 54px;
    margin: 2px;
}

.playPageInventoryItem:last-child {
    margin-bottom: 8px;
}

.openInventory {
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

    .openInventory:hover {
        border: 1px solid red;
        cursor: pointer;
    }

#attackModal {
    background-color: pink;
    display: none;
    position: fixed;
    left: 25%;
    width: 50%;
    height: auto;
    top: 30%;
    z-index: 1000;
    border: 3px solid red;
    padding: 10px;
}

#modalBackdrop {
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: rgba(1,0,0,0.75);
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
}

.attackLink {
    color: red;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}



    .attackLink:hover {
        color: darkviolet;
        cursor: pointer;
        border: 2px solid darkviolet;
    }

.talkLink {
    color: green;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid green;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

    .talkLink:hover {
        color: darkviolet;
        cursor: pointer;
        border: 2px solid darkviolet;
    }


a.full {
    background-color: lightgreen;
}

    a.full:hover {
        background-color: white;
    }

a.inanimate {
    background-color: #B8DBFF;
}

    a.inanimate:hover {
        background-color: white;
    }

a.animal {
    background-color: #FFFF66;
}

    a.animal:hover {
        background-color: white;
    }

a.weaken {
    background-color: #FFAD5C;
}

    a.weaken:hover {
        background-color: white;
    }

a.curse {
    background-color: #DEBDFF;
}

    a.curse:hover {
        background-color: white;
    }

.perkBox {
border: 2px solid #808080;
padding: 5px;
display: inline-table;
width: 300px;
margin-bottom: 5px;
margin-right: 3px;
height: 350px;
}

.perkBoxTitle{
    color: white;
    background:black;
    font-size:20px;
    line-height:40px;
}

.perkBoxStats{
    color: white;
    font-size: 10px;
    line-height: 20px;
    background:gray;
    width:100%;
}

.effectturnsRemaining {
    color: darkblue;
    font-weight: 900;
}

.effectcooldownRemaining {
    color: darkviolet;
    font-weight: 900;
}

.oldrounds {
    border: 2px solid darkviolet;
    background-color: lightpink;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.covRptName {
    color: darkviolet;
    font-size: 10px;
}

.frontPageNotification {
    color: red;
    padding-bottom: 7px;
}

    .frontPageNotification:last-child {
        color: red;
        padding-bottom: 7px;
    }

.inbetweenRoundNotice {
    width: 100%;
    height: auto;
    border: 2px solid red;
    font-size: 18px;
    text-align: center;
    background-color: #facdff;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
}


.testServerNotice {
    width: 100%;
    height: auto;
    border: 4px solid red;
    font-size: 18px;
    text-align: center;
    background-color: red;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}

.activeBossNotice {
    width: 100%;
    height: auto;
    border: 2px solid red;
    font-size: 14px;
    text-align: center;
    background-color: #faff7e;
    margin-top: 3px;
    font-weight: 600;
    border-radius: 5px;
    color: black;
}


.charCounter {
    font-size: 10px;
    color: red;
    font-style: italic;
}

/*attack modal stuff*/

#expand, #toggle_all, #toggle_animates, #toggle_inanimates, #toggle_animal, #toggle_other {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid black;
    background-color: ivory;
    border-radius: 5px;
}

    #expand:hover {
        background-color: white;
    }

#youAreAttacking {
    color: black;
    font-size: 15px;
}

#attackClose {
    color: darkblue;
    font-size: 15px;
    background-color: lightblue;
    cursor: pointer;
    font-weight: 900;
    border: 2px solid red;
    border-radius: 5px;
}

    #attackClose:hover {
        color: black;
        background-color: lightcyan;
        border: 2px solid black;
    }

#action_meditate{
    padding-top: 10px;
    padding-bottom: 10px;
    background: none repeat scroll 0% 0% #ADD8E6;
    border: 2px solid #00008B;
    transition: all 0.5s ease;
    display:inline-block;
    margin-bottom:2px;
    text-decoration:none;
}

#action_cleanse{
    padding-top: 10px;
    padding-bottom: 10px;
    background: none repeat scroll 0% 0% salmon;
    border: 2px solid crimson;
    transition: all 0.5s ease;
        display:inline-block;
    margin-bottom:2px;
    text-decoration:none;
}

#action_search{
    padding-top: 10px;
    padding-bottom: 10px;
    background: none repeat scroll 0% 0% gold;
    border: 2px solid rosybrown;
    transition: all 0.5s ease;
    display:inline-block;
    margin-bottom:2px;
    text-decoration:none;
}

#action_search:hover, #action_cleanse:hover, #action_meditate:hover{
    background: purple;
    color:white;
}

#playerActionBox{
text-align: center;
clear: both;
margin-top: 68px;
margin-bottom:8px;
}

.returnButton {
    border-right: 2px solid #808080;
    display:block;
    clear:both;
    max-width: 100%;
    transition: background 1s ease;
    text-align: center;
    line-height: 42px;
    padding: 0;
    text-decoration: none;
}

.returnButton:hover{
    background: #F0FFF0;
    border-bottom: 2px black solid;
    line-height:38px;
    padding-top:2px;
}

.bioTitle {
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    margin: 10px auto 0px auto !important;
    border: 2px solid black;
    background: lightgray;
    width: 600px;
}

.bioDesc {
    font-size: 18px;
    margin: 0px auto 10px auto !important;
    border: 2px solid black;
    border-top: none !important;
    background: #e2e2e2;
    width: 600px;
}

.bioDescImg{
    max-width: 150px;
    padding: 10px;
}

.bioDescImg:first-child{
    padding-top:20px;
}

    .bioDescImg:last-child {
        padding-bottom: 15px;
    }

@media (max-width: 768px) {
    .bioTitle{
        width: 400px;
    }

    .bioDesc {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .bioTitle{
        font-size: 12px;
        line-height: 24px;
        width: 200px;
    }

    .bioDesc {
        font-size: 10px;
        width: 200px;
    }
}

.textBio a{
    background: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.textBio{
    text-align: center;
}

.textBio p{
    margin: 0;
    padding: 0px 20px 0px 20px;
}


.rpTag{
        border: 1px solid black;
        cursor: pointer;
        /*padding: 2px;*/
        border-radius: 2px;
        margin: 2px;
        position: relative;
        font-weight: bold;
    }

    .on{
        background-color: lightgreen;
    }

    .on:hover {
        background-color: green;
    }

    .off{
        background-color:pink;
    }

    .off:hover {
        background-color: red;
    }