<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
</head>

<p>@Html.ActionLink("Back to game", MVC.PvP.Play())</p>

@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 3 (Era of Elyn Kitsu)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>
<thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Form</th>
        <th>Mobility</th>

        <th>Level</th>
        <th>XP</th>
    </tr>
</thead>
<tbody>

    <tr>
        <td>
            1
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8467">Elyn Kitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            8
        </td>
        <td>
            16.08
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8997">Wesley Day</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Inflatable Sex Doll
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            7
        </td>
        <td>
            598.58
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8552">Circine Milton</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Dainty Birdgirl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            481.87
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8596">Styx Zz</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Bitch in Heat
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            438.78
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9174">Celise Tabiki</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Familiar Feline
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            7
        </td>
        <td>
            311.86
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8470">Jack Castle</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Latex Bra
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            7
        </td>
        <td>
            279.82
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8468">Nukunuku Kitsu</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            261.27
        </td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9047">Toni Venusela</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Dainty Birdgirl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            249.00
        </td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8478">Lucille Kitsu</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Fennec Fox
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            7
        </td>
        <td>
            235.06
        </td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8501">Tsubaki Mizu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Pirate Wench
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            223.03
        </td>
    </tr>
    <tr>
        <td>
            11
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8593">Val Wallace</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            125.74
        </td>
    </tr>
    <tr>
        <td>
            12
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8488">Helia Harris</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Pirate Wench
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            104.19
        </td>
    </tr>
    <tr>
        <td>
            13
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8512">Joe Hawthorne</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Maid Headband
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            7
        </td>
        <td>
            56.46
        </td>
    </tr>
    <tr>
        <td>
            14
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9128">Cackling Carnage</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Detachable Udder
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            7
        </td>
        <td>
            44.90
        </td>
    </tr>
    <tr>
        <td>
            15
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9127">Kristoph Hayes</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Female Dryder
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            35.22
        </td>
    </tr>
    <tr>
        <td>
            16
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8530">Ranko Kitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Pirate Wench
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            7
        </td>
        <td>
            33.50
        </td>
    </tr>
    <tr>
        <td>
            17
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8569">Blood Knight</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Hung Stallion
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            7
        </td>
        <td>
            27.50
        </td>
    </tr>
    <tr>
        <td>
            18
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8485">Cara Doompet</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Fennec Fox
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            7
        </td>
        <td>
            15.00
        </td>
    </tr>
    <tr>
        <td>
            19
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8851">Jess Talara</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Familiar Feline
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            7
        </td>
        <td>
            12.04
        </td>
    </tr>
    <tr>
        <td>
            20
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8551">Captainjack Sparrow</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Catnip Mouse Toy
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            7
        </td>
        <td>
            2.89
        </td>
    </tr>
    <tr>
        <td>
            21
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8540">Loki Wizardly</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Raver Cat Girl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            484.11
        </td>
    </tr>
    <tr>
        <td>
            22
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8753">Serina Raver</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            455.71
        </td>
    </tr>
    <tr>
        <td>
            23
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8715">Sarah Oneill</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Familiar Feline
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            6
        </td>
        <td>
            364.98
        </td>
    </tr>
    <tr>
        <td>
            24
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11796">Shiver Muffin</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Sexy Succubus
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            231.64
        </td>
    </tr>
    <tr>
        <td>
            25
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9172">Francisco Arpeyji</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            228.26
        </td>
    </tr>
    <tr>
        <td>
            26
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8476">Kara Kitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Kitsune Shrine Maiden
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            217.51
        </td>
    </tr>
    <tr>
        <td>
            27
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8793">Tammy Patterson</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            181.43
        </td>
    </tr>
    <tr>
        <td>
            28
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12032">Dean Landstrider</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Fertility Idol
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            152.33
        </td>
    </tr>
    <tr>
        <td>
            29
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8480">Vulpes Kitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Latex Bra
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            150.10
        </td>
    </tr>
    <tr>
        <td>
            30
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11737">Dan Russo</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Curvaceous Cowgirl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            136.60
        </td>
    </tr>
    <tr>
        <td>
            31
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8562">Dusk Nogitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Raver Cat Girl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            85.77
        </td>
    </tr>
    <tr>
        <td>
            32
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8660">Tycho Pineda</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Raver Cat Girl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            72.94
        </td>
    </tr>
    <tr>
        <td>
            33
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9562">Akachi Histama</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Loyal Hip-Hugging Blue Jeans
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            69.78
        </td>
    </tr>
    <tr>
        <td>
            34
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8513">Kelly Kitsu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Magic Slut Ball
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            6
        </td>
        <td>
            57.11
        </td>
    </tr>
    <tr>
        <td>
            35
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8644">Wyatt Nelson</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            51.40
        </td>
    </tr>
    <tr>
        <td>
            36
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12539">Chandler Sharp</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Catnip Mouse Toy
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            38.24
        </td>
    </tr>
    <tr>
        <td>
            37
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9600">Revi Marsh</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Silk Top Hat
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            30.00
        </td>
    </tr>
    <tr>
        <td>
            38
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9000">Journey Winter</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Fairy Familiar
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            6
        </td>
        <td>
            18.21
        </td>
    </tr>
    <tr>
        <td>
            39
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8886">Lux Luxianne</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Familiar Feline
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            6
        </td>
        <td>
            15.00
        </td>
    </tr>
    <tr>
        <td>
            40
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9504">Jane Grant</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Wolf Cub
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            6
        </td>
        <td>
            8.10
        </td>
    </tr>
    <tr>
        <td>
            41
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9238">Lisa Thaumancy</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Busty Blonde Bimbo
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            7.81
        </td>
    </tr>
    <tr>
        <td>
            42
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9555">Jessica Brown</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Cat Eye Glasses
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            6.22
        </td>
    </tr>
    <tr>
        <td>
            43
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11686">Sam Hale</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Runic Dildo
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            3.60
        </td>
    </tr>
    <tr>
        <td>
            44
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8537">Doran Tate</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Silk Top Hat
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            45
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8589">Cronos Mann</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Glossy Marble Statuette
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            46
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8639">Lenjia Quinn</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Cat Ear Headband
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            47
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8797">Bad Luck</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Big Burly Brute
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            48
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8918">Big Dick</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Feminine Slut Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            49
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9234">Victoria Harper</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Latex Pants
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            50
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9353">Claire Burgemeisterb</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Prosthetic Horsecock
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            51
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9476">Jack Frost</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Living Lingerie
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            52
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9498">Melanie Damron</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Silk Top Hat
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            53
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12270">Austin Walsh</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Flirty Olive-Skinned Barmaid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            54
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/13017">Titus Burton</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Impossibly Big-Breasted Lady
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            6
        </td>
        <td>
            0.00
        </td>
    </tr>
    <tr>
        <td>
            55
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8484">Philippe Frileux</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Catnip Mouse Toy
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            418.68
        </td>
    </tr>
    <tr>
        <td>
            56
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9150">Becky Antimaid</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            402.50
        </td>
    </tr>
    <tr>
        <td>
            57
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8684">Bessie Barber</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Tribal Girl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            375.27
        </td>
    </tr>
    <tr>
        <td>
            58
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12183">Floramaelooshirokaiko Zonakarilimosekupopotiikonetae</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Randy Satyr
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            335.09
        </td>
    </tr>
    <tr>
        <td>
            59
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8529">Val Fitz</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Wolf Cub
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            314.09
        </td>
    </tr>
    <tr>
        <td>
            60
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9506">Zorb Villa</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            295.51
        </td>
    </tr>
    <tr>
        <td>
            61
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11702">Robert Bruce</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Prosthetic Horsecock
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            291.86
        </td>
    </tr>
    <tr>
        <td>
            62
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8603">Anastasia Owens</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Magic Slut Ball
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            281.92
        </td>
    </tr>
    <tr>
        <td>
            63
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8553">King Leoric</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Silk Tight Tube Top
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            276.05
        </td>
    </tr>
    <tr>
        <td>
            64
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11649">Coleman Wood</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Leather Whip
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            266.15
        </td>
    </tr>
    <tr>
        <td>
            65
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9477">Kenneth Duarte</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Catnip Mouse Toy
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            238.45
        </td>
    </tr>
    <tr>
        <td>
            66
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8482">Chay Hauenstein</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            The Pink Pulsar
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            234.23
        </td>
    </tr>
    <tr>
        <td>
            67
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12939">Levi Cavat</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Sparkly Cocktail Dress
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            233.30
        </td>
    </tr>
    <tr>
        <td>
            68
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11732">Samuel Vimes</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Silk Top Hat
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            224.61
        </td>
    </tr>
    <tr>
        <td>
            69
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9224">Samantha Wilde</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Bitch in Heat
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            213.37
        </td>
    </tr>
    <tr>
        <td>
            70
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9036">Zen Peaks</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Bitch in Heat
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            206.79
        </td>
    </tr>
    <tr>
        <td>
            71
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8557">Alan Bold</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Catnip Mouse Toy
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            203.43
        </td>
    </tr>
    <tr>
        <td>
            72
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9386">Mai Booker</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Leopard Patterned Bra
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            170.82
        </td>
    </tr>
    <tr>
        <td>
            73
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9218">Brogan Charles</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            166.55
        </td>
    </tr>
    <tr>
        <td>
            74
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12506">Aberash Nightshade</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Inflatable Sex Doll
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            155.78
        </td>
    </tr>
    <tr>
        <td>
            75
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8689">Punch Rockgroin</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Schoolgirl Skirt
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            151.72
        </td>
    </tr>
    <tr>
        <td>
            76
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11673">Travis Pittman</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Mincing Maid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            149.90
        </td>
    </tr>
    <tr>
        <td>
            77
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11923">Marco Chase</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Living Lingerie
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            146.85
        </td>
    </tr>
    <tr>
        <td>
            78
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8479">Christine Hail</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Chatty Cheerleader
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            146.80
        </td>
    </tr>
    <tr>
        <td>
            79
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8946">Olympa Mcclure</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Raver Cat Girl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            140.75
        </td>
    </tr>
    <tr>
        <td>
            80
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9221">Justin Vazquez</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Hung Stallion
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            137.27
        </td>
    </tr>
    <tr>
        <td>
            81
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12290">Pierce Lightspear</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Fennec Fox
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            133.71
        </td>
    </tr>
    <tr>
        <td>
            82
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8563">Alex Tyrren</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Leopard Patterned Bra
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            131.01
        </td>
    </tr>
    <tr>
        <td>
            83
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12685">Lisa Obadiah</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Curvaceous Cowgirl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            129.89
        </td>
    </tr>
    <tr>
        <td>
            84
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9157">Black Star</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Sleek, Fiery Skateboard
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            129.02
        </td>
    </tr>
    <tr>
        <td>
            85
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9023">Minori Urakawa</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            128.16
        </td>
    </tr>
    <tr>
        <td>
            86
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8472">Carly Callahan</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Detachable Udder
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            113.63
        </td>
    </tr>
    <tr>
        <td>
            87
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9501">Andrew Schmidt</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Fairy Familiar
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            112.73
        </td>
    </tr>
    <tr>
        <td>
            88
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9191">Kat Yu</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Silk Top Hat
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            108.56
        </td>
    </tr>
    <tr>
        <td>
            89
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9135">Francisco Simpson</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Cat Eye Glasses
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            108.19
        </td>
    </tr>
    <tr>
        <td>
            90
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11925">Seraphina Dubois</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Feminine Slut Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            106.54
        </td>
    </tr>
    <tr>
        <td>
            91
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9332">Marisa Cruz</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Schoolgirl Top
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            106.10
        </td>
    </tr>
    <tr>
        <td>
            92
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8817">Weisser Hase</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Black Latex Bra
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            99.52
        </td>
    </tr>
    <tr>
        <td>
            93
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12557">Mazhirra Silentclaws</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Familiar Feline
        </td>
        <td>
            <span style="color: red">Animal</span>
        </td>

        <td>
            5
        </td>
        <td>
            94.79
        </td>
    </tr>
    <tr>
        <td>
            94
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9404">Quinn Taros</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Leather Whip
        </td>
        <td>
            <span style="color: red">Inanimate</span>
        </td>

        <td>
            5
        </td>
        <td>
            93.50
        </td>
    </tr>
    <tr>
        <td>
            95
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8843">Javon Harvey</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Flirty Olive-Skinned Barmaid
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            92.09
        </td>
    </tr>
    <tr>
        <td>
            96
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12372">Elizabeth Pierce</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            90.90
        </td>
    </tr>
    <tr>
        <td>
            97
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/12525">Kay Mair</a>
            <span class="icon icon-male"></span>
        </td>
        <td>
            Adorable Mouse Boy
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            88.98
        </td>
    </tr>
    <tr>
        <td>
            98
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/9503">Raevn Meza</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Drow Priestess
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            84.64
        </td>
    </tr>
    <tr>
        <td>
            99
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/11683">Rory Weeks</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Curvaceous Cowgirl
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            83.77
        </td>
    </tr>
    <tr>
        <td>
            100
        </td>
        <td>
            <a href="/PvP/LookAtPlayer/8776">Lori Flores</a>
            <span class="icon icon-female"></span>
        </td>
        <td>
            Busty Blonde Bimbo
        </td>
        <td>
            <span style="color: green">Animate</span>
        </td>

        <td>
            5
        </td>
        <td>
            80.38
        </td>
    </tr>
</tbody>

</table>

<p>@Html.ActionLink("Back to game", MVC.PvP.Play())</p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>