<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>


<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>
@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 5 (Era of Rust Kitsu)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>


<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18963">Rust Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18552">Elyn Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                976.89
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18636">Helia Harris</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helia's Pirates.</b></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                849.23
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18588">Lucy Wayne</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                402.07
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18582">Valerie Wallace</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                5.76
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18836">Celisi Tabiki</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Cheerleader Spankies
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                9
            </td>
            <td>
                578.74
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18597">Claire Burgemeister</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                443.29
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18605">Melissa Norton</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Seal Cub Clubbing Club</b></span>
            </td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                9
            </td>
            <td>
                51.43
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18674">Jade Watson</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maidens</b></span>
            </td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                24.91
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18846">Hanna Patterson</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                12.94
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18700">Absolutely Not</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                713.19
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18590">Tessa Daugherty</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                476.54
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/21023">Tristana Gunner</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maidens</b></span>
            </td>
            <td>
                Runic Dildo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                352.03
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18907">Lynn Grimes</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Captured Souls
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                205.74
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18568">Tsubaki Mizu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Valentine Vampires</b></span>
            </td>
            <td>
                Captured Souls
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                158.75
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18560">Circine Milton</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                144.06
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20103">Valll Demarco</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Vals Valkyries</b></span>
            </td>
            <td>
                Valiant Valkyrie
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                103.29
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18557">Israel Valentine</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Valentine Vampires</b></span>
            </td>
            <td>
                Count Cuddles Plush Bear
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                88.48
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18754">Akachi Nightshade</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade lilys</b></span>
            </td>
            <td>
                Blue Chaffinch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                43.92
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18903">Aleks Malpha</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Miniature Carousel Horse
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                21.43
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18617">Mai Heard</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                18.00
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18772">Silvia Shrader</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                679.86
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18569">Lilith Valentine</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Valentine Vampires</b></span>
            </td>
            <td>
                Ioun Stone
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                513.69
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19390">Professor Birch</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                334.14
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18603">Monica Steele</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                327.25
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19259">Fiona Mason</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Cherry Red Sucker
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                295.00
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18639">Turnt Snaco</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                192.03
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18660">Killian Arsyl</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                174.33
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18964">Nanine Westfall</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                161.43
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20558">General Tramp</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                137.30
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19210">Sorority Tree</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                123.50
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19088">Laura Koth</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                115.14
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20774">Toni Venusela</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helia's Pirates.</b></span>
            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                23.92
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18914">Heather Halliwell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                7.20
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20401">Kellydollmakertwo Electricboogaloo</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                7.05
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18926">Celsus Camarillo</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Drow Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                504.55
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/21043">Lilian Brenner</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                495.11
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20972">Kasumi Takanawa</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade lilys</b></span>
            </td>
            <td>
                Dainty Birdgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                365.77
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20970">Tim Cahiii</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                338.60
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19078">Hizuki Soma</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Somas Bunbuns</b></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                298.63
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18815">Julian Chance</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                281.15
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18586">Kit Hypos</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Why not go somewhere else</b></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                263.16
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19724">Viktor Antonovich</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Milk Cow
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                230.91
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18694">Taenil Auxifur</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                228.66
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18893">Nuku Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maidens</b></span>
            </td>
            <td>
                Petite Chick
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                225.23
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20210">Andrea Fair</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                223.63
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19206">John Tate</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                214.30
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20418">Sage Trapp</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Oldoak Escorts</b></span>
            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                206.90
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19890">Madungai Griff</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                205.19
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18592">Heather Heartcrusher</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Cherry Red Sucker
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                203.72
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19711">Tori Southern</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                197.90
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20653">Kaitlyn Halliwell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                152.63
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20089">Tim Cahill</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                152.00
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18941">Jo Hawthorne</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Royal Goo Authority</b></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                139.09
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18625">King Leoric</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                126.55
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18551">Ser Rayner</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                121.80
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18870">Minoru Urayama</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                97.16
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18861">Kayliegh Winters</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                78.97
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18679">Jason Jeffrey</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                78.75
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20063">Kohaku Valentine</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                76.80
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19053">Alexander Romeros</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                68.17
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19261">Quinn Taros</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                59.22
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19241">Chloe Mitchell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Fuzzy Pink Bunny Slippers
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                58.32
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18584">Harley West</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Cheerleader Spankies
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                42.55
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20229">Black Horse</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                42.27
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20831">Karson Cutler</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                25.14
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19619">Lane Becker</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unimaginably Huge-Breasted Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                22.77
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19863">Gayle Lin</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                15.30
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18690">General Stamp</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                15.11
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18831">The Empress</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Valiant Valkyrie
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                9.32
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20183">Colette Haro</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                8.18
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19598">Estyz Reborn</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                6.17
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19935">Nikolai Aguilera</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                5.14
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20689">Coleen Harwell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                4.98
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19096">Art Osom</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                3.57
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18790">Mazhirra Silentclaws</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                3.01
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18955">Tomoki Worden</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                3.00
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18591">Kath Stamegna</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                2.34
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18668">Cole Sanders</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                1.92
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20514">Allister Smith</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Vals Valkyries</b></span>
            </td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.92
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18618">Elton Keen</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Feminine Slut Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19445">Bruce Gamboa</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Oldoak Escorts</b></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20761">Tim Cahilll</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/21174">Grey Star</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade lilys</b></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                361.88
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19686">Abby Gilbertson</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Milk Cow
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                360.57
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20874">Tim Carlisle</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                318.25
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20861">Karmic Justice</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helia's Pirates.</b></span>
            </td>
            <td>
                Red Wavy Wig
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                305.98
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18550">Animate Mefreely</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>My side, little orc</b></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                305.43
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18616">John Doe</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Vals Valkyries</b></span>
            </td>
            <td>
                Blue Chaffinch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                295.16
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20661">Triston Dennis</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Milk Cow
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                290.95
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20587">Livius Dees</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Detachable Udder
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                275.60
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18595">Jess Ganes</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Vals Valkyries</b></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                266.57
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18647">Xanthia Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                222.82
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18633">Aeiliana Mcbride</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                218.01
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20330">Jack Farrel</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Captured Souls
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                214.47
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/20522">Pomponia Norris</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Sleek, Fiery Skateboard
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                213.02
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18852">Sam Rosen</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Drow Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                210.82
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19001">Paul Valentine</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                203.90
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18663">Emily Reed</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                200.11
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/19208">Homer Brohammer</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Black Silk Pants
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                184.32
            </td>
        </tr>

    </tbody>



</table>

<p><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>