<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
</head>


<p>@Html.ActionLink("Back to game", MVC.PvP.Play())</p>
@Html.Partial(MVC.PvP.Views.partial.OldLeaderboardLinks)

<h1>Alpha Round 6 (Era of Helia Harris)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22749">Helia Harris</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                13
            </td>
            <td>
                324.43
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23618">Fae Kitsu</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                13
            </td>
            <td>
                267.28
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22950">Lucy Gautreau</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Valiant Valkyrie
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                13
            </td>
            <td>
                201.19
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22679">Hanna Patterson</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                11
            </td>
            <td>
                234.94
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22914">Kaitlyn Halliwell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                199.70
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22945">Mazhirra Silentclaws</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                10
            </td>
            <td>
                121.02
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22739">Silvia Shrader</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                9
            </td>
            <td>
                63.48
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23211">Greg Mackenzie</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Leopard Patterned Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                9
            </td>
            <td>
                45.50
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22667">Celisi Tabiki</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                456.36
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22819">Tessa Daugherty</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                319.35
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22863">Captainjack Sparrow</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                309.60
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22722">Cara Doom</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                63.58
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22903">Juliette Morrow</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Playful Pussy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                44.80
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22918">Kamui Senkitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                26.10
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25497">Rust Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                3.80
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22840">Claire Burgemeister</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                573.71
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22869">Valerie Wallace</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Bimbonic Plague-Bearer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                519.41
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22817">Jackie Castle</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                428.78
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24283">Kasumi Takanawe</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                306.39
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24135">Andrea Livingstone</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                299.97
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22692">Seras Tearfall</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                The Pink Pulsar
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                240.24
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25317">Cason Magnuson</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                231.73
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22670">Irene Loftus</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                48.70
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24669">Ivy Stump</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Cheerleader Shell
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                13.79
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24813">Tara Tate</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                5.28
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22724">Piercea Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Kitsu battle maiden</b></span>
            </td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                2.73
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22725">Monica Steele</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                442.87
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22831">Melissa Norton</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                406.03
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24064">Gloria Harmon</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                398.02
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24612">Pepe Carpenter</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                273.67
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25214">Sophia Cunningham</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Female Dryder
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                217.83
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23937">Vinnie Arius</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Kitten Boi
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                217.10
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23958">Ruby Arteaga</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                191.14
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24764">King Leoric</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                186.38
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23028">Katherine Stamegna</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                167.96
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24706">Kian Galvan</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                145.95
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25611">Louis Lacy</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                143.38
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25764">Freda Machado</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                140.34
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22822">King Ostarian</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Knights of the King</b></span>
            </td>
            <td>
                Cursed Doll
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                117.20
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23106">Jeri Conley</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                99.62
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24228">Grey Wolf</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                97.68
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22791">Sabitsuki Kitsu</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Alraune
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                81.21
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23091">Kuzuryu Zmiy</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Pocket Dragon
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                64.54
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25275">Pepe Jefferies</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Tiny mouse girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                50.86
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22982">Augusta Asbury</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                35.52
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22705">Grey Star</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade Lilys</b></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                34.49
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25225">Taokaka Nya</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                18.24
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24431">Iron Tager</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Miniature Carousel Horse
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                13.26
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24694">Sam Victim</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                11.62
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22856">Alex Evans</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                10.06
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25724">Terizine Afaranay</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Practical Transformations and the Metaphysical Realm
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                6.62
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24897">Santos Casanova</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                5.83
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24808">Bang Shishigami</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                5.78
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25690">Greg Greg</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Wizard's Wand
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                4.41
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23431">Lizzi Taylor</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.90
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23131">Kasumi Takanawa</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade Lilys</b></span>
            </td>
            <td>
                Cheerleader Shell
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                414.02
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25273">Harley Watt</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                405.26
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23513">Christy Davis</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Tribal Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                402.08
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23105">Christopher Smith</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                370.77
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22935">Tycho Pineda</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade Lilys</b></span>
            </td>
            <td>
                Cheerleader Spankies
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                338.65
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23086">Professor Oak</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Tiny mouse girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                314.04
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22689">Fiona Mason</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Cheerleader Spankies
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                296.69
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23307">Jay Nicholson</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Unimaginably Huge-Breasted Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                284.95
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24680">Nico Ferrari</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                272.84
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23260">Serena Valentine</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Protector of the Castle</b></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                270.14
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23075">Doctor Eztys</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                243.92
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23591">Lucianus Tinsley</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Pig Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                209.63
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22806">Angelique Saul</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bimbonic Plague-Bearer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                201.79
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23169">Lilly Burkett</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                201.11
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22751">Sammi Talbot</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                200.66
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22810">Harley Watson</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade Lilys</b></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                200.54
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23287">Braeden Batista</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                200.25
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24719">Axton Holland</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Tiny mouse girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                193.54
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24306">Harley Watts</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                170.74
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22940">Nick Price</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                159.51
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24864">Eli Bracer</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Hedonistic Fembot
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                158.46
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23794">Nanaki Histama</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Nightshade Lilys</b></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                152.28
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25408">Absolutely Knot</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                108.12
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22680">Swog Fifth</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Order of Boobs</b></span>
            </td>
            <td>
                Playful Pussy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                103.70
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22738">Andrea Livingston</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Eta Gamma Mu</b></span>
            </td>
            <td>
                Cheerleader Spankies
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                96.75
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23623">Alex Armstrong</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                95.55
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23767">Elise Dunter</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                87.55
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25219">Violet Fall</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Helias Pirates</b></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                72.04
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25641">Sarah Halliwell</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Elf Princess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                63.48
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23734">Bertie Shipman</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Dainty Birdgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                52.04
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23170">Maxima Sasser</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                51.59
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23150">Araceli Bible</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                50.07
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/25016">Helium Harris</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                46.28
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23534">Tristen Castleberry</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Maid Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                27.99
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24473">Hans Daniels</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                26.10
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22767">Chay Hauenstein</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>Happy Items</b></span>
            </td>
            <td>
                Disembodied Boobs
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                13.07
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23406">Kaley Richards</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                10.11
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24005">Gilbert Mack</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                BDSM Pony Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                5.24
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/24301">Thai Heard</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                4.39
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23000">Loli Doll</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                0.44
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23276">Leigh Battaglia</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Leopard Patterned Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                284.50
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23136">Lee Reeves</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                284.48
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/22997">John Doe</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Mary Janes
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                4
            </td>
            <td>
                278.18
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23746">Vihaan Glenn</a>
                <span class="icon icon-male"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                275.04
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/23676">Tyrel Gulley</a>
                <span class="icon icon-female"></span>
                <span class="icon icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                <span class="covRptName"><b>The Order of Boobs</b></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                4
            </td>
            <td>
                274.90
            </td>
        </tr>

    </tbody>



</table>

<p>@Html.ActionLink("Back to game", MVC.PvP.Play())</p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>