@{
    Layout = null;
}

<!DOCTYPE html>

@Html.ActionLink("Register", "Register", "Account")
@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = "TFWorld/Play" }, null)
<br />
<br />

You are logged in as @WebSecurity.CurrentUserName.
<br />
<br />

<head>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/MMO_Scripts/script.js"></script>
    <script src="~/MMO_Scripts/onclick.js"></script>
    <script src="~/MMO_Scripts/helpers.js"></script>
    <link href="~/Content/MMO.css" rel="stylesheet" />
</head>

<div id="PersonalLog_Character_Wrapper">
    <div id="PersonalLog"></div>
    <div id="CharacterData_Wrapper">
        <div id ="Portrait"></div>
        <div id ="MyStats">
            <div id ="MyName"></div>
            <div id ="MyForm"></div>
            <div id ="MyHealth"></div>
            <div id ="MyMana"></div>
        </div>
    </div>
</div>
<div id="Image_SceneLog_People_Items_Wrapper">
    <div id="SceneName"></div>
    <div id="Img_Navigation_Wrapper">
        <div id="SceneImg"></div>
        <div id="Navigation">
            <div id="Connection_N">Go North</div>
            <div id="Connection_NE">Go Northeast</div>
            <div id="Connection_E">Go East</div>
            <div id="Connection_SE">Go Southeast</div>
            <div id="Connection_S">Go South</div>
            <div id="Connection_SW">Go Southwest</div>
            <div id="Connection_W">Go West</div>
            <div id="Connection_NW">Go Northwest</div>
        </div>
    </div>
    <div id ="Chat_SceneLog_People_Items_Wrapper">
        <div id ="Chat_SceneLog_Wrapper">
            <input id="ChatBox" value="">
            <div id="ActionWindow"></div>
        </div>
        <div id="Scene_People_Items_Wrapper">
            <div id="People">People here:</div>
            <div id="Items">Items here:
                <div id="SaveToDb">Save me to database</div>
            </div>
        </div>

        <br />
        
    </div>
</div>

<div id="Connection_N_Hidden"></div>
<div id="Connection_NE_Hidden"></div>
<div id="Connection_E_Hidden"></div>
<div id="Connection_SE_Hidden"></div>
<div id="Connection_S_Hidden"></div>
<div id="Connection_SW_Hidden"></div>
<div id="Connection_W_Hidden"></div>
<div id="Connection_NW_Hidden"></div>



<style>
    tiny {
        font-size: 10px;
        color: darkgray;
    }
</style>
