@{
    ViewBag.Title = "Private Chat";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

<h1>Private Chat</h1>

<p>In order to begin a private chat, enter a room name into the field below and click "Begin".  The name of this chat room doubles as its password so if you wish for privacy, make it long and hard to guess and careful about who you give it to.</p>

<form action="@Url.Action(MVC.PvP.Chat())" method="get">
    Room name:<br>
    <input type="text" name="room">
    <input type="submit" value="Begin">
</form>