<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li><a href="http://www.patreon.com/TransformaniaTimeGame">Transformania Time Patreon</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner textSpaced">

    <h1>Help Keep Transformania Time Running!</h1>

    <h3 class="center-block donateButton"> <a href="http://www.patreon.com/TransformaniaTimeGame">I have created a Patreon page in order to help fund Transformania Time.  <br />Click here to visit Transformania Time's Patreon profile.</a> </h3>

    <h3>How does Patreon work?</h3>

    <p>Patreon is a crowdfunding site that allows people to donate monthly to content creators.  Unlike KickStarter it works on a repeating monthly payment, not a one-time donation.  Payments are known as pledges and they can be cancelled at any time or have maximum amounts set.  Patreon will send out a charge to pledgers on the 1st of each month (though it may take up until the 5th for everyone to have the charge delivered) and I will be able to collect all successfully charged pledges by the 5th of each month.</p>

    <h3>Why start accepting donations now?</h3>

    <p>Until the start of Alpha Round 11 the game was running on a shared server that cost a fairly minimal amount of money, nothing I couldn't handle out of my own pocket.  However, recent growth in the past month as well as more complex game features and calculations had begun to put a lot of strain on the server.  Additionally, because the game was hosted on a shared server, it was competing with dozens of other sites and databases for RAM, bandwidth, and CPU time.  This problem was highlighted with updates that used to take 15-30 seconds that began to take up to 6 minutes, which is a majority of a turn in the game.  Additionally, if the host detected that the usage of Transformania Time was deemed "unfair" to other people on the shared server, it could be suddenly and inexplicably shut down as happened inbetween Alpha Rounds 9 and 10, as many of you will recall.</p>

    <p>Effective at the start of Alpha Round 11 I transferred the game to a more powerful, dedicated server that is less susceptible to extraordinaryily long updates, random slowdowns and outages, and memory dumps (which causes everyone to get logged off at the same time.)  Server resources are allocated for Transformania Time and Transformania Time alone, meaning someone else's server consuming too many resources should not affect the game.  The plan I am using costs $150 per month.  Your money will help go to pay toward the server bills, as well as generally be a 'thank you' for the time I have spent developing.</p>

    <h3>What do I get from donating?</h3>

    <p>Right now Patreon is set up so that pledging $3 monthly will give you a small icon that will appear next to your player portrait that indicates you are a donator.  Pledging $7 monthly will allow you to set yourself a nickname at any time.  Pledging $12 will allow you to keep 500 messages in your inbox at a time as well as prevent your messages older than 72 hours from being automatically deleted at turn updates.  <b>Please send me a message on Patreon with your current player name AND account name so I can assign this reward out appropriately.</b></p>

    <p>As Patreon is set up as a reocurring monthly payment, benefits last as long as the pledge remains active and as long as Patreon is able to successfully make the charge.  Payment processing typically runs between the first and fifth of each month; expect us to update the donator list shortly afterward.</p>

    <h3>Is there going to be an item store?  Does this mean the game is going to be Pay-To-Win?</h3>

    <p>No.  Unfortunately (or for many players sick of the pay-to-win freemium model, fortunately) there will be no direct ingame advantage to pledging.</p>

    <h3>What about Transformania Time's contributors?</h3>

    <p>A significant portion of Transformania Time's popularity and success to date has come from the many contributors who have submitted spells, artwork, proofreading, advice, techical assistance, and plenty more.  Some authors and artists have earned money from creating content for the game; however, this has been done primarily by third parties and not by myself or anyone on the Transformania Time team.  (As of January 18, two artists have recieved direct payments for their graphics used in the game and some has been sent to Mizuho for his front-end development work on the site.)  <b>There is no formal policy about who receives payment; artwork for spells is done on a donation basis, although artists will be permitted to create expanded biographies where they can state their comission status and show off all of their ingame artwork.  This policy will continue in the future.</b>  However, as long as enough pledges are collected in a monthly cycle, enough such that server costs are no longer a concern, I will distribute back out some of the proceeds to the major content contributors who have done the most to fill the game with content.  This will be at my own discretion, but I will do my best to be as fair as possible.</p>

    <p><b>I very much encourage you all to consider tossing some money at the content contributors directly if you feel like it.</b>  You can see a bunch of contributors on the bottom of the Game News / Updates page and contributors who have bios written up will have all of their contributed spells listed at the bottom of that page.</p>

    <h3>What's the difference between the amount pledged and the amount collected?</h3>

    <p>There's a few differences between the monthly amount pledged on the front page of the Patreon profile and what I am actually able to collect.  Various factors chip away at the raw pledge amount.  Most notable is that Patreon takes a 5% cut of all intake--that's $5 out of every $100.  Second, each credit card processed by Patreon has a small transaction fee that is taken out of the money I collect when they have been processed.  Third, not every pledge will necessarily be collected as some credit cards may be declined or the pledge will be made too late in the month to be included in the cards that are processed between the 1st and 5th of the month.</p>

    <h3>What other uses could pledges be used for?</h3>

    <p>
        Money collected from pledges might be used in the following ways:
        <ul>
            <li>Specialized graphics comissions, artwork used in parts of the site OTHER than animate form / item portraits.  Primarily this means promotional material or bulk orders of graphics such as the selection of starting forms, NPC graphics, etc.<br /></li>
            <li>Comissions / reimbursement for community-chosen artists.  Authors and artists who have eight contributions to the game are eligible to have custom starting animate forms.  If the author or artist is not able to provide their own graphic, I can use leftover Patreon funds to commission an artist of their choice up to a $50 value.</li>
            <li>Front end development.  I focus mainly on adding new features in back end code.  Mizuho is the front-end dev who makes the site look good and work on a variety of devices and as he and Luxianne are currently living off of comissions I would like to make it worth his time to help Transformania Time out.<br /></li>
        </ul>
    </p>

    <h3>Monthly Collections</h3>

    <p>Additional Paypal charges not shown: PayPal charges 2% of the amount transferred capped at $1 per deposit for US accounts.</p>

    <table class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td>Month</td>
                <td>Processed Pledges</td>
                <td>Creator&#39;s Share</td>
                <td>Processing Fees</td>
                <td>Patreon Fee</td>
                <td>Creator&#39;s Share (%)</td>
                <td>Processing Fees (%)</td>
                <td>Patreon Fee (%)</td>
            </tr>
            <tr>
                <td>2014-10</td>
                <td>$78</td>
                <td>$69.60</td>
                <td>$4.50</td>
                <td>$3.90</td>
                <td>89.23%</td>
                <td>5.77%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2014-11</td>
                <td>$154</td>
                <td>$137.74</td>
                <td>$8.56</td>
                <td>$7.70</td>
                <td>89.44%</td>
                <td>5.56%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2014-12</td>
                <td>$189</td>
                <td>$169.28</td>
                <td>$10.27</td>
                <td>$9.45</td>
                <td>89.57%</td>
                <td>5.43%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-01</td>
                <td>$281</td>
                <td>$251.57</td>
                <td>$15.38</td>
                <td>$14.05</td>
                <td>89.53%</td>
                <td>5.47%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-02</td>
                <td>$282</td>
                <td>$252.73</td>
                <td>$15.17</td>
                <td>$14.10</td>
                <td>89.62%</td>
                <td>5.38%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-03</td>
                <td>$277</td>
                <td>$248.11</td>
                <td>$15.04</td>
                <td>$13.85</td>
                <td>89.57%</td>
                <td>5.43%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-04</td>
                <td>$237</td>
                <td>$212.83</td>
                <td>$12.32</td>
                <td>$11.85</td>
                <td>89.8%</td>
                <td>5.2%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-05</td>
                <td>$250</td>
                <td>$224.40</td>
                <td>$13.10</td>
                <td>$12.50</td>
                <td>89.76%</td>
                <td>5.24%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-06</td>
                <td>$267</td>
                <td>$240.08</td>
                <td>$13.57</td>
                <td>$13.35</td>
                <td>89.92%</td>
                <td>5.08%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-07</td>
                <td>$263</td>
                <td>$236.57</td>
                <td>$13.28</td>
                <td>$13.15</td>
                <td>89.95%</td>
                <td>5.05%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-08</td>
                <td>$290</td>
                <td>$260.35</td>
                <td>$15.15</td>
                <td>$14.50</td>
                <td>89.78%</td>
                <td>5.22%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-09</td>
                <td>$248</td>
                <td>$223.11</td>
                <td>$12.49</td>
                <td>$12.40</td>
                <td>89.96%</td>
                <td>5.04%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-10</td>
                <td>$289</td>
                <td>$260.09</td>
                <td>$14.46</td>
                <td>$14.45</td>
                <td>90.0%</td>
                <td>5.0%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-11</td>
                <td>$276</td>
                <td>$248.99</td>
                <td>$13.21</td>
                <td>$13.80</td>
                <td>90.21%</td>
                <td>4.79%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2015-12</td>
                <td>$283</td>
                <td>$255.71</td>
                <td>$13.14</td>
                <td>$14.15</td>
                <td>90.36%</td>
                <td>4.64%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-01</td>
                <td>$321</td>
                <td>$289.89</td>
                <td>$15.06</td>
                <td>$16.05</td>
                <td>90.31%</td>
                <td>4.69%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-02</td>
                <td>$338</td>
                <td>$306.47</td>
                <td>$14.63</td>
                <td>$16.90</td>
                <td>90.67%</td>
                <td>4.33%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-03</td>
                <td>$413</td>
                <td>$376.37</td>
                <td>$15.98</td>
                <td>$20.65</td>
                <td>91.13%</td>
                <td>3.87%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-04</td>
                <td>$368</td>
                <td>$333.36</td>
                <td>$16.24</td>
                <td>$18.40</td>
                <td>90.59%</td>
                <td>4.41%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-05</td>
                <td>$388</td>
                <td>$352.76</td>
                <td>$15.84</td>
                <td>$19.40</td>
                <td>90.92%</td>
                <td>4.08%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-06</td>
                <td>$414</td>
                <td>$376.95</td>
                <td>$16.35</td>
                <td>$20.70</td>
                <td>91.05%</td>
                <td>3.95%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-07</td>
                <td>$383</td>
                <td>$348.41</td>
                <td>$15.44</td>
                <td>$19.15</td>
                <td>90.97%</td>
                <td>4.03%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-08</td>
                <td>$407</td>
                <td>$369.99</td>
                <td>$16.66</td>
                <td>$20.35</td>
                <td>90.91%</td>
                <td>4.09%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-09</td>
                <td>$369</td>
                <td>$334.19</td>
                <td>$16.36</td>
                <td>$18.45</td>
                <td>90.57%</td>
                <td>4.43%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-10</td>
                <td>$377</td>
                <td>$342.19</td>
                <td>$15.96</td>
                <td>$18.85</td>
                <td>90.77%</td>
                <td>4.23%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-11</td>
                <td>$387</td>
                <td>$351.93</td>
                <td>$15.72</td>
                <td>$19.35</td>
                <td>90.94%</td>
                <td>4.06%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2016-12</td>
                <td>$362</td>
                <td>$328.39</td>
                <td>$15.51</td>
                <td>$18.10</td>
                <td>90.72%</td>
                <td>4.28%</td>
                <td>5.0%</td>
            </tr>
            <tr>
                <td>2017-01</td>
                <td>$399</td>
                <td>$362.61</td>
                <td>$16.44</td>
                <td>$19.95</td>
                <td>90.88%</td>
                <td>4.12%</td>
                <td>5.0%</td>
            </tr>
        </tbody>
    </table>
</div>