#SceneImg {
    width: 800px;
    height: 600px;
    background-color: lightblue;
    background-size: contain;
    float: left;
    position: relative;
    background-repeat: no-repeat;
}


#Connection_N {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_NE {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_E {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_SE {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_S {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_SW {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;

}

#Connection_W {
    height: 20px;
    width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;

}

#Connection_NW {
    height: 20px;
   width: 100%;
    border: 2px solid blue;
    float: left;
    position: relative;
}

#Connection_N_Hidden {
    display: none;

}

#Connection_NE_Hidden {
    display: none;
}

#Connection_E_Hidden {
    display: none;
}

#Connection_SE_Hidden {
    display: none;
}

#Connection_S_Hidden {
    display: none;
}

#Connection_SW_Hidden {
    display: none;
}

#Connection_W_Hidden {
    display: none;
}

#Connection_NW_Hidden {
    display: none;
}

    #Connection_N:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_NE:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_E:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_SE:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_S:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_SW:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_W:hover {
        border: 2px solid red;
        cursor: pointer;
    }

    #Connection_NW:hover {
        border: 2px solid red;
        cursor: pointer;
    }

#PersonalLog_Character_Wrapper {
    width: 25%;
    height:  780px;
    border: 1px solid black;
    background-color: cyan;
    position: relative;
    float: left;
}

#PersonalLog {
    width: 100%;
    height: 66%;
    border: 3px solid black;
    background-color: lightblue;
    position: relative;
    float: left;
    overflow-y: auto;
}

#CharacterData_Wrapper {
    width: 100%;
    height: 34%;
    border: 1px solid black;
    background-color: lightyellow;
      position: relative;
    float: left;
}

#Image_SceneLog_People_Items_Wrapper {
    width: 73%;
    height: 780px;
    border: 1px solid black;
    background-color: darkblue;
    position: relative;
    float: left;
}

#SceneName {
    width: 100%;
    height:  30px;
    border: 1px solid black;
    background-color: lightpink;
    position: relative;
    float: left;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    cursor: pointer;
}

    #SceneName:hover {
        border: 1px solid red;
    }

#SceneImg {
    width: 66%;
    height:  500px;
    border: 1px solid black;
    background-color: lightpink;
    position: relative;
    float: left;
}

#Img_Navigation_Wrapper {
    width: 100%;
    height:  500px;
    border: 1px solid black;
    background-color: lightpink;
    position: relative;
    float: left;
}

#Navigation {
    width: 33%;
    height:  500px;
    border: 1px solid black;
    background-color: lightgray;
    position: relative;
    float: left;
}

#Scene_People_Items_Wrapper {
    width: 49%;
    height: 250px;
        border: 1px solid black;
    background-color: lightgreen;
    position: relative;
    float: left;
}

#Chat_SceneLog_People_Items_Wrapper {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    position: relative;
    float: left;
}

#ActionWindow {
    width: 100%;
    height:  225px;
    border: 1px solid black;
    background-color: pink;
    position: relative;
    float: left;
    overflow-y: scroll;
}

#Chat_SceneLog_Wrapper {
    width: 50%;
    height: 245px;
    border: 1px solid black;
    background-color: orange;
    position: relative;
    float: left;
}

#ChatBox {
    width: 100%;
}

#People {
    width: 49.5%;
    height: 249px;
        border: 1px solid black;
    background-color: orange;
    position: relative;
    float: left;
}

#Items {
    width: 49.5%;
    height: 249px;
    border: 1px solid black;
    background-color: orange;
    position: relative;
    float: left;
}

#Portrait {
    width: 60%;
    height: 100%;
    border: 1px solid black;
    background-color: orange;
    position: relative;
    float: left;
    background-image: url("../MMO_Images/Portraits/man01.jpg");
    background-size: 100% 100%;
    cursor: pointer;
}

    #Portrait:hover {
        border-color: red;
    }

#MyStats {
    width: 39.5%;
    height: 100%;
    /*background-color: coral;*/
    position: relative;
    float: left;
}

.PersonListing {
    color: blue;
    font-weight: 200;
    height: 30px;
    width: 99%;
    cursor: pointer;
}

.PersonListing:hover {
    font-weight: 200;
    text-decoration: underline;
}

.PersonListingPortrait {
    width: 30px;
    height: 30px;
    background-image: url("../MMO_Images/Portraits/man01.jpg");
    background-size: 100% 100%;
    position: relative;
    float: left;
}

.PersonListingName {
    width: auto;
    height: 30px;
    background-size: 100% 100%;
    float: left;
    position: relative;
    padding-left: 5px;
    font-size: 18px;
    
}

#MyName {
    width: 100%;
    height: 15%;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

#MyForm {
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#MyHealth {
     width: 100%;
    height: 10%;
    color: green;
    text-align: center;
}

#MyMana {
     width: 100%;
    height: 10%;
    color: blue;
    text-align: center;
}

