<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
</head>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

@Html.Partial("partial/OldLeaderboardLinks")

<h1>Alpha Round 2 (Era of Kiara Kitsu)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Form</th>
            <th>Mobility</th>

            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5608">Kiara Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                8
            </td>
            <td>
                312.88
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5775">Flow Exe</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                8
            </td>
            <td>
                254.49
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5480">Elyn Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                8
            </td>
            <td>
                127.78
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6902">Helia Harris</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                8
            </td>
            <td>
                13.59
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5717">Lucille Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                433.25
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5650">Alexander Romero</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Detachable Udder
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                7
            </td>
            <td>
                408.58
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7148">Nick Hayes</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                330.55
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6685">Dawn Rivera</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                223.70
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5390">Lenjia Quinn</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                183.80
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6083">Carayne Doomchild</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                104.39
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6090">Matt Zz</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                7
            </td>
            <td>
                3.50
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6696">Tony Venusela</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                495.30
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7057">Helen Castle</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                482.07
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7280">Jess Talara</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                446.84
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5601">Loki Wizardly</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                364.13
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7251">Ushi Moo</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                316.09
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7430">Penny Phillips</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Fertility Idol
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                312.42
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5342">Donna Morte</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Glossy Marble Statuette
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                302.94
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5341">Monica Steele</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                245.30
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5661">Sean Macdonald</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                232.01
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5740">Val Wallace</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                190.03
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6591">Heather Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                186.74
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7651">Jackie Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                177.31
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7009">Paul Fueller</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                167.98
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5722">Serina Ravers</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                159.00
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5709">Scipio Africanus</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Detachable Udder
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                144.00
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5515">Joe Hawthorne</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                139.08
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7825">Astar On</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                137.38
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7255">Cronos Ellis</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                135.82
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7768">Steven Shoo</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                119.65
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7247">Noah Body</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Curvaceous Cowgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                112.73
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5339">Captainjack Sparrow</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                98.16
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6257">Helene Withers</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                74.41
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6712">Dawn Zuckers</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                71.80
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7270">Dora Tate</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                53.40
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5571">Lilah Ellis</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                44.46
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5993">Tara Okina</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                41.70
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5421">Eileen Mayer</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                41.58
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6550">Lee Reeves</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                39.58
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5546">John Gill</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                38.50
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7202">Natalie Rath</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                37.20
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5540">Nora Mason</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                34.70
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6811">Akachi Histama</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                16.79
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7600">Kaitlyn Halliwell</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                10.27
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6482">Bad Luck</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                9.00
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7156">Delinda Clover</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                7.55
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6356">Chris Winters</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                0.30
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5522">Oda Nobunaga</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7316">Albert Duke</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6431">Lara Campbell</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                382.17
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5357">Valentina Wells</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                375.10
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6965">Nym Shade</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                354.76
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5878">Eileen Hernandez</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                347.74
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7333">Elam Weyland</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                340.82
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7472">Bruce Contosta</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                321.51
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7368">Esmeralda Acres</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                317.08
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6378">Alan Coldstream</a>
                <span class="icon-male"></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                314.07
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7966">Thekitsunefamily Isabunchofnoobchumps</a>
                <span class="icon-male"></span>
            </td>
            <td>
                Short Guy
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                296.01
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5502">Christy Walters</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                287.96
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7197">Raz Caesar</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                268.25
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7320">Andrew An</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                267.82
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7577">Weisser Hase</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                259.48
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6805">Moka Pritskar</a>
                <span class="icon-female"></span>
            </td>
            <td>
                The Pink Pulsar
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                245.32
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7877">Rose Hanson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                235.93
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7758">Pelagius Rivera</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                220.92
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5708">Creepy Kitsu</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                210.18
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5855">Jessica Tron</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                209.07
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5420">Robin Holmes</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                206.72
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6917">Blood Knight</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Cat Ear Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                205.31
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5333">Chay Hauenstein</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                204.45
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/8001">Lee Reevess</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                194.90
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5645">Taylor Brooks</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                193.90
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6188">Dalia Anderson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                190.23
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7141">Lavanter On</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Black Latex Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                179.60
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7982">Cleopatra Watson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                173.66
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7777">Lace Leathers</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                171.30
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7272">Robin Watson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                170.18
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7302">Chrys Saotome</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                163.02
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6796">Kayliegh Thedoll</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                158.12
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6576">Maddie Porter</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                143.28
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7090">Jessie Autumn</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                143.05
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6520">Alan Prophet</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                142.53
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6244">Jude Rhodes</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                130.60
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5376">Alex Evans</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Vibrating Purple Latex Thong
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                130.36
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6367">Mei Shala</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                127.00
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6338">King Leoric</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                125.90
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6252">Chiron Myers</a>
                <span class="icon-male"></span>
            </td>
            <td>
                Sleek, Fiery Skateboard
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                124.12
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7190">Que Veishi</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Goo Girl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                114.51
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6229">Christophersmith Thethird</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                113.33
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5674">Plinius Johnson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                111.18
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7800">Cori Emerson</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Busty Blonde Bimbo
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                110.47
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7310">Kat Ellis</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                104.41
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6675">Kitty Cattlet</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                99.66
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/8254">Daiya Allen</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                88.45
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/6762">Xakar Frasier</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                86.82
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5338">Ranko Saotome</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Loyal Hip-Hugging Blue Jeans
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                86.23
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5978">Dash Harrow</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Self-Refilling Silver Whiskey Flask
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                83.45
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/7682">Illyia Svara</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                83.40
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5351">Shannon Spring</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>
            </td>

            <td>
                5
            </td>
            <td>
                76.48
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/5859">Fiona Pendleton</a>
                <span class="icon-female"></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>
            </td>

            <td>
                5
            </td>
            <td>
                76.09
            </td>
        </tr>
    </tbody>
</table>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>