<head>
    <link href="~/Content/PvP.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
</head>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

@Html.Partial("partial/OldLeaderboardLinks")

<h1>Alpha Round 4 (Era of Celisi Tabiki)</h1>

<p><b>Please note the links in the table below no longer have any correspondence with current players and will either return an error or a totally different player.</b></p>

<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Form</th>
            <th>Mobility</th>

            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13594">Celisi Tabiki</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                55.72
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13717">Elyn Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                5.03
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13697">Windy Smittens</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                223.50
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13507">Helia Harris</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Pirate Wench
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                131.85
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15435">Claire Burgemeisterb</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                647.22
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13660">Lilith Valentine</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Familiar Feline
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                8
            </td>
            <td>
                610.60
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13606">Cara Vondoom</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Female Dryder
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                533.55
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13511">Tsubaki Mizu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                506.61
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13560">Lucy Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                450.40
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/14160">Dusk Soma</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                335.24
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13524">Val Wallace</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Naughty Schoolgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                310.36
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16149">Robin Watson</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                244.58
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16204">Laura Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                132.30
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13732">Tessa Daugherty</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                84.61
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13463">Hal Phelph</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Choker
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                4.25
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15567">Chausiku Nightshade</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Dainty Birdgirl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                598.15
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16035">Izz Valentine</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                506.33
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13947">Francisco Marchantillo</a>
                <span class="icon-male"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Runic Dildo
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                470.98
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13699">Kelly Kleaner</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Detachable Udder
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                342.08
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13799">Jaime Miller</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                335.45
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13461">Jackie Castle</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                330.42
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16606">Circine Milton</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                315.17
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13441">Johanna Patterson</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Living Lingerie
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                288.24
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13458">Toni Venusela</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                256.90
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16194">Mai Heard</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Detachable Udder
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                255.14
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16330">Kumikochan Silvers</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Schoolgirl Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                113.13
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13437">Kiara Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                41.32
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15673">Marilee Quinn</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                25.63
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16368">Nanny Ogg</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                12.29
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15454">Sacred Tree</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                3.00
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13520">Laura Kira</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                1.24
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15402">Reese Waydelich</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Unimaginably Huge-Breasted Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                502.90
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15549">Rhea Jarvis</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                487.63
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15675">Cole Sanders</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sexy Succubus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                470.83
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15654">Oberon Smith</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                467.43
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13519">Heather Heartcrusher</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                438.27
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13513">Granny Weatherwax</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                425.25
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13775">Piercea Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                381.20
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13681">Wyatt Nelson</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                370.67
            </td>
        </tr>
        <tr>
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17704">Marilynn Grimes</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                360.30
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13459">Nukunuku Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Plain Pink Panties
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                322.08
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16306">Soulbound Wylde</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Schoolgirl Skirt
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                285.69
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15655">Helene Dyer</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                257.25
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16806">Varinius Benavides</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                256.53
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15943">John Doe</a>
                <span class="icon-male"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Prosthetic Horsecock
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                240.72
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15984">Mike Hunt</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                227.38
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15608">Alex Armstrong</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                224.87
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16736">Heather Haliwell</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                214.39
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13849">Mia Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                197.57
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17181">Lynnette Pereira</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                194.25
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17336">Lone Tree</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Enchanted Tree
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                194.24
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15827">Xohandar Medrom</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Black 3-Inch Stillettos
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                170.72
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13465">Circine Miltondoll</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                152.31
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16866">Val Demarco</a>
                <span class="icon-male"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                146.05
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13736">King Leoric</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                134.19
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13508">Skateboarder Izzy</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                116.56
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13933">Morgan Lefay</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                81.16
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13484">Christopher Smith</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Chatty Cheerleader
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                68.32
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13932">Robert Bruce</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Bunny Babe
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                67.41
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16789">Septimius Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Bundle of Red Balloons
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                63.16
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15611">Ray Lopez</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                48.50
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13585">Heather Halliwell</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fairy Familiar
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                42.40
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13846">Eva Auteur</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                41.40
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13713">Alex Taylor</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Silk Tight Tube Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                26.00
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13480">Taenil Auxifur</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Wolf Cub
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                20.58
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15689">Melissa Sharp</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Maid Headband
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                20.25
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13439">Aleksandr Vorsichnik</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                6
            </td>
            <td>
                11.13
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15626">Sam Kitae</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17014">Terra Aguiar</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                0.00
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13675">Mauss Engelmann</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                404.51
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13471">Ecaflipette Kitsu</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                397.14
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16196">Alleria Windemere</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Austere Angel
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                358.53
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18091">Rachel Comstock</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                335.38
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15847">Nick Price</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                331.79
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15392">Aphrodite Melendez</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Gyrating Temptress
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                310.06
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15986">Otoku Imanara</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                294.76
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18002">Rampaging Carnage</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Cat Eye Glasses
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                289.21
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15925">Brock Mcbitch</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                273.35
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16865">Lily Young</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                260.05
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15418">Val Paca</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                248.29
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17459">Brice Yamamoto</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fishnet Tights
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                244.88
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17054">Monica Steele</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Petite Chick
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                219.33
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13615">Sio Maine</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Athletic Sneakers
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                204.22
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17532">Ayaan Brewster</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Catnip Mouse Toy
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                197.51
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15494">Aidyn Bright</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                196.72
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/18151">Ami Kait</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Slut Ball
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                195.04
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15576">Paul Mann</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Sparkly Cocktail Dress
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                192.31
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13432">Alex Watts</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Leather Whip
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                181.91
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17439">Ser Wal</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Silk Tight Tube Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                179.24
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17758">Pericles Downey</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                169.75
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/17862">Brody Hopson</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                152.46
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16007">Danielle Meows</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                138.41
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15462">Alex Flandry</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Drow Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                135.02
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15480">Ella Kim</a>
                <span class="icon-male"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                5
            </td>
            <td>
                113.33
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15279">Lee Reeves</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                111.74
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13494">Kay Mair</a>
                <span class="icon-male"></span>

            </td>
            <td>
                Adorable Mouse Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                108.75
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13682">Glennis Sylve</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                106.16
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/13433">Aphrodite Pruitt</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                105.55
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/15306">John Gill</a>
                <span class="icon-female"></span>
                <span class="icon-rp" title="This player has indicated that they enjoy roleplaying."></span>
            </td>
            <td>
                Unimaginably Huge-Breasted Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                5
            </td>
            <td>
                103.89
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/16016">Havelock Vetinari</a>
                <span class="icon-female"></span>

            </td>
            <td>
                Magic Nursing Bra
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                5
            </td>
            <td>
                102.18
            </td>
        </tr>

    </tbody>



</table>

<p>@Html.ActionLink("Back to game", "Play", "PvP")</p>

<style>
    table {
        padding: 3px;
        border: 1px solid black;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    tr {
        padding: 3px;
        border: 1px solid black;
    }

        tr:nth-child(odd) {
            background-color: lightgray;
        }

    td {
        text-align: center;
    }
</style>