@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>9,250</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (9,250)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (8,566)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (8,063)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/176544">Vaughn Durkin</a> (6,023)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (4,546)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175732">Alta Musser</a> (3,974)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (3,850)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (3,053)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/183802">Sonata Mena</a> (2,971)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175622">Taenil Auxifur</a> (2,595)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gimbo_stripper_thegreatdaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>1,412</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a> (1,412)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (1,141)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175498">Rosalyn Mena</a> (1,068)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/178461">Laelia Stahl</a> (1,037)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/181588">Ithryn Istari II</a> (978)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (941)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175515">Leo Knight</a> (923)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (919)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175450">Dalia Cardona</a> (919)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175352">Alberto Hacker</a> (874)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/water_elemental_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>6,264</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (6,264)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (6,091)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (6,031)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175777">Yullia Green</a> (5,883)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (5,676)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (5,141)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (4,884)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (4,794)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (4,766)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (4,528)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/gartered_panties_with_stockings_meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>827</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/176532">Susie Angel</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/176532">Susie Angel</a> (827)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (661)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175230">Cynthia 'Paradox Breaker' Cross</a> (639)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (626)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (590)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175777">Yullia Green</a> (578)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (574)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175410">Nero Verde</a> (573)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (563)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (557)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,083</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175192">Glenn Yuki</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175192">Glenn Yuki</a> (1,083)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175410">Nero Verde</a> (734)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (663)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (645)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176426">Aya Fuyutsuki</a> (643)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (599)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (586)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/179762">Bryson Whittaker</a> (573)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (564)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (554)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,237</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175192">Glenn Yuki</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175192">Glenn Yuki</a> (1,237)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (1,008)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/176426">Aya Fuyutsuki</a> (737)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (490)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175410">Nero Verde</a> (481)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (422)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175524">Robin Maguire</a> (356)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/178636">Alex White III</a> (341)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175510">Cassie Stowe</a> (301)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/177763">Crissa 'Nya ^-^' Kentavr</a> (284)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>59,360</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (59,360)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (45,900)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (25,540)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (23,100)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (18,200)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/176544">Vaughn Durkin</a> (14,620)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (9,500)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (8,400)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (7,960)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175736">Grace Kitsu</a> (5,560)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/red_panda_boi_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>205</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (205)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (185)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (82)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175192">Glenn Yuki</a> (72)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (55)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (54)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (44)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/176263">Tyler Gray</a> (42)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175186">Blaine 'Cow-Goddess' Kellum</a> (35)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/176544">Vaughn Durkin</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>16,500</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (16,500)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (11,700)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (9,180)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/180358">Sable Ryall</a> (6,880)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (6,020)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175263">Kaitlyn Halliwell</a> (3,520)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/176544">Vaughn Durkin</a> (1,000)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175308">Indigo Clardmond</a> (540)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/182741">Nina Pink</a> (520)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gimbo_stripper_thegreatdaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>136</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a> (136)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (103)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/179762">Bryson Whittaker</a> (78)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175515">Leo Knight</a> (70)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176146">Ruby Perron</a> (64)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (57)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/181588">Ithryn Istari II</a> (46)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (44)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175215">Caecilius Easley</a> (44)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175260">Kayliana Arthright</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_mare_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>13</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/179378">Melanie Raven</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/179378">Melanie Raven</a> (13)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/180448">Liara Tsoni</a> (9)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/179350">Nadine Fairbanks III</a> (9)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175401">Elena Talbott</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/183460">Fran Corey</a> (8)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/180132">Tameka Poston</a> (7)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/182200">Alia Asom VI</a> (7)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/178204">Antonio Hyland</a> (6)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/180980">Livia Florez</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/176896">Malik Alger</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/shark_girl_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/182229">Jacob Cronin VI</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/182229">Jacob Cronin VI</a> (5)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/176925">Lara Luther III</a> (4)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/181172">Jenna Dominateme</a> (4)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175364">Piercea Shadowbloom</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176522">Diana Pinetop</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/183508">Rosanna Sowers</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/182560">Demeter Wallen II</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175428">Marcus Wylde</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/183865">Vilma Howland V</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/183663">Minerva Envy</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gimbo_stripper_thegreatdaeo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>104</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175390">Jane Emanuel</a> (104)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175498">Rosalyn Mena</a> (103)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/181588">Ithryn Istari II</a> (71)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/179762">Bryson Whittaker</a> (63)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (60)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (60)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (54)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (52)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175515">Leo Knight</a> (48)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (47)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/water_elemental_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>89</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (89)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (85)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175246">Red Queen</a> (66)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (63)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/178461">Laelia Stahl</a> (55)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (51)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175189">Eric Force</a> (41)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/176151">Julian Maxwell</a> (40)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175811">Ashley Walls</a> (38)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175450">Dalia Cardona</a> (38)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Man_01_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>34</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175352">Alberto Hacker</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175352">Alberto Hacker</a> (34)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (29)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/181876">Lesa Clawson</a> (13)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175273">Janeen Wiccanshire</a> (11)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (10)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175450">Dalia Cardona</a> (10)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175189">Eric Force</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/177876">Marina Meade</a> (7)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176534">Allan Myers</a> (7)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/182546">Heide Page</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/water_elemental_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>82</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (82)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (79)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175352">Alberto Hacker</a> (62)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/178461">Laelia Stahl</a> (59)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (54)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (54)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175246">Red Queen</a> (48)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175189">Eric Force</a> (46)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176151">Julian Maxwell</a> (44)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175450">Dalia Cardona</a> (44)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/red_panda_boi_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (20)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (16)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (5)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (4)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/176206">Breena Victor</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/182807">Finean Kitsu</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/french_maid_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>64</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (64)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (58)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (37)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175178">Sammi Wells</a> (26)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (18)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (17)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (17)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175136">Mitchell Redden</a> (15)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175804">Alex Watts</a> (15)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175246">Red Queen</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175246">Red Queen</a> (7)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (7)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175263">Kaitlyn Halliwell</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176719">Tatiana Borders</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/176151">Julian Maxwell</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>19,890</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175176">Empty Dolly</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175176">Empty Dolly</a> (19,890)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175233">Rosey Lina</a> (17,230)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175391">Kari Pink</a> (17,180)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175213">Felucca Kitsu</a> (17,035)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176505">Arrhae Hale</a> (16,305)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175762">Aloysious Katt</a> (15,390)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175437">Becky Smith</a> (14,375)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175199">Trace Terran</a> (13,460)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/176240">Phobe Stormbringer</a> (13,320)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175261">Jake Tiger</a> (13,265)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/magical_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>19,880</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175161">Melina 'Cocoa Coverer' Mercy</a> 

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175161">Melina 'Cocoa Coverer' Mercy</a> (19,880)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175157">Fox Cross</a> (19,880)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175243">Cathy Kellum</a> (17,980)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175527">Alyson Abel</a> (17,900)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175211">Lacey Lovebringer</a> (17,440)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175269">Marcus Aurelius</a> (17,200)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175169">Rowena Lou</a> (16,880)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175194">Luna Kitsu</a> (15,355)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175220">Reith Kitsu</a> (15,065)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/178770">Priscilla Bickford</a> (12,545)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>45,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (45,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (29,770)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (22,985)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (18,430)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (16,320)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (13,670)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (13,300)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (9,900)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (9,730)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (9,650)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>70,193</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (70,193)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (61,594)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (46,476)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (29,557)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175262">Kirby Sanders</a> (27,963)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (24,856)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (22,803)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (22,113)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (21,122)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (19,144)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>10,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (10,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (2,050)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175246">Red Queen</a> (800)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (800)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/181932">Martina Medlock</a> (750)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (700)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/181588">Ithryn Istari II</a> (700)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/180358">Sable Ryall</a> (550)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (500)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/179382">Sam Crawley II</a> (500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Wuffie:</i> <b>5,699</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (5,699)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (4,143)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/177763">Crissa 'Nya ^-^' Kentavr</a> (2,558)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (1,660)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (1,596)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/177342">Sam Drogynous</a> (1,526)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/181588">Ithryn Istari II</a> (1,242)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/180091">Crystal Snowtail</a> (1,211)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/177892">Artemis Fellows</a> (1,134)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/176720">Leanne Larue</a> (1,123)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>26</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (26)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175494">Seth Shadow</a> (19)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175546">Cecilia Corwin</a> (17)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175166">Asrael 'Pure❤' Valentine</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176532">Susie Angel</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175195">Calem Fujin</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/180358">Sable Ryall</a> (4)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175294">Pepe Maus</a> (4)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>11</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175590">Esther Staton</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (11)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/176532">Susie Angel</a> (7)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (5)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175294">Pepe Maus</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (2)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175166">Asrael 'Pure❤' Valentine</a> (2)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/183901">Chie Mikami IV</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/naga_JBovinne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>31</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175231">Zel 'Snek Lady' Argentis</a> (31)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175268">Shelly Blank</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/176206">Breena Victor</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175450">Dalia Cardona</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/big_bootied_bounty_hunter_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>3,980</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (3,980)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175494">Seth Shadow</a> (1,976)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175546">Cecilia Corwin</a> (1,274)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (680)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/176532">Susie Angel</a> (585)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/180358">Sable Ryall</a> (487)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175294">Pepe Maus</a> (482)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175174">Nihat Unal</a> (482)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175643">Rosa Linna</a> (454)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175195">Calem Fujin</a> (260)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_mare_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>11</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/179378">Melanie Raven</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/179378">Melanie Raven</a> (11)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/179350">Nadine Fairbanks III</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/180448">Liara Tsoni</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175401">Elena Talbott</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175428">Marcus Wylde</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175996">Cloelius Livingston</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/180980">Livia Florez</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/180476">Valentina Noble III</a> (4)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/177967">Sam Derrous</a> (4)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/176896">Malik Alger</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>50</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175490">Vivien Gemai</a> (50)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175333">Genevieve Moen</a> (36)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (32)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/183467">Darth Autonomous</a> (22)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (18)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (16)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175208">Terra Ward</a> (16)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175263">Kaitlyn Halliwell</a> (15)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175136">Mitchell Redden</a> (15)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (15)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>19</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175693">Yomiko Readman</a> (19)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175190">Lilith Valentine</a> (16)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175498">Rosalyn Mena</a> (9)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/175245">Tharkis Mithra</a> (5)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/176596">Nina Winchester</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175230">Cynthia 'Paradox Breaker' Cross</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175736">Grace Kitsu</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175159">Larissa Fay</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/182741">Nina Pink</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,825</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/175246">Red Queen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/175246">Red Queen</a> (10,825)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/175590">Esther Staton</a> (8,305)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/175733">Nerati Sua</a> (6,940)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/178819">Peri Efroth</a> (6,805)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/175170">Chastity Meerkat</a> (1,830)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/175777">Yullia Green</a> (1,540)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/175421">Jess 'Milky' Ganes</a> (1,420)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/175540">Gogo Blackwater</a> (1,205)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/175229">Kristyne Mercy</a> (1,110)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/180358">Sable Ryall</a> (1,070)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>