@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>12,658</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218144">Tharkis Mithra</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218144">Tharkis Mithra</a> (12,658)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218794">Rukja Steinmagen</a> (9,640)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (7,618)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218053">Maxy Keys</a> (5,643)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/221356">Katrina Colburn</a> (5,162)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218980">Puyo Hebihime</a> (4,961)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/219243">Darla Sacher</a> (4,929)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218866">Candy Summers</a> (4,922)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (4,004)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (3,928)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,135</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (3,135)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218370">Will Wolf</a> (1,726)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (1,587)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/221369">Micheal Huey</a> (1,581)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (1,337)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (1,177)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (1,118)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (1,092)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/220558">Brooks Stearns</a> (1,081)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (1,070)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>10,777</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (10,777)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (6,880)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (6,548)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (6,159)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (6,084)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (5,706)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (5,637)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (5,567)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a> (5,210)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (4,988)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,380</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (1,380)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (1,186)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (931)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (881)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (728)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (696)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (620)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/225417">Lara Ramon</a> (601)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218049">Yomiko Readman</a> (553)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (528)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>2,260</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (2,260)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/221918">Caity Kells</a> (1,631)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (1,231)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (1,000)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218370">Will Wolf</a> (916)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (794)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (776)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/223790">Ithryn Istari III</a> (762)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (755)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (750)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gargoyle_jbovinne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,234</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (1,234)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218486">Rosa Linaa</a> (619)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218204">Kandis Gracia</a> (402)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (348)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (328)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218934">Yumeow Meownya</a> (222)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218599">Chris Wilson</a> (217)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218197">Dawn Stallworth</a> (148)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218043">Eric Finney</a> (139)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218171">Try Again</a> (98)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>153,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (153,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (111,000)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218053">Maxy Keys</a> (32,720)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (27,240)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219243">Darla Sacher</a> (22,220)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (17,780)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/219256">Amelie Moonwall</a> (12,120)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218050">Amalia Decuir</a> (11,260)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (9,900)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218757">Nihat Unal</a> (9,800)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="~/Images/PvP/achievements/couch_potato_Ninian_Fae.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/LilithValentine_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>696</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a> (696)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (648)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/219243">Darla Sacher</a> (431)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218275">Seth Shadow</a> (186)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (106)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (100)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218053">Maxy Keys</a> (64)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (52)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/219256">Amelie Moonwall</a> (39)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218610">Penny Barnett</a> (37)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>100,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (100,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (6,900)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (5,880)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a> (4,120)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219063">Stella Keys II</a> (3,020)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (1,100)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/223790">Ithryn Istari III</a> (1,000)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218433">Tina Maine</a> (820)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (760)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/222901">Katie Broadnax II</a> (640)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>174</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (174)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/223790">Ithryn Istari III</a> (123)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (113)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (101)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218370">Will Wolf</a> (88)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (78)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/224628">Joe Nobody II</a> (65)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218130">Pauline Roundbottom</a> (40)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/223714">Aetius Ash</a> (35)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218049">Yomiko Readman</a> (34)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/wobbling_ears_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>15</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (15)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/225269">Patsy Escalante</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/225452">Teresa Hammond VIII</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/222776">Tania Hippsodeth</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/224705">Kio Ni II</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/225032">Chelsea Pruitt</a> (7)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/219668">Detective Jowd II</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/224496">Submissive Witch II</a> (6)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/225168">Rob Vines</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/225189">Hannah Sanford IV</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/domesticated_centauress_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>7</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218778">Nuntis Sol</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218778">Nuntis Sol</a> (7)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/224384">Kento Bloom III</a> (6)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224758">Astarielle Evans</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223556">Azunyan Meownya</a> (4)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219480">Obscuris Tenebris II</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/223714">Aetius Ash</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/223850">Kenneth Kennethstonii</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/224569">Erik Sheldon</a> (4)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218171">Try Again</a> (4)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/225189">Hannah Sanford IV</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>153</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (153)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (129)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (106)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223790">Ithryn Istari III</a> (94)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218370">Will Wolf</a> (94)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (61)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/220558">Brooks Stearns</a> (59)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/221369">Micheal Huey</a> (59)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/219494">Laurie Whipple</a> (52)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (100)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/219971">Celisi Tabiki</a> (77)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/221369">Micheal Huey</a> (65)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (64)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/225417">Lara Ramon</a> (56)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218050">Amalia Decuir</a> (50)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (50)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (46)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (42)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>50</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (50)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218408">Cooper Oreilly</a> (24)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218783">Alex Fannin</a> (13)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218412">Rosalynya Meownya</a> (11)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218370">Will Wolf</a> (9)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (7)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (7)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/223512">Ivy Cathalas III</a> (6)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218581">Kannya Meownya</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/221059">Toriel Dreemurr III</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>138</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (138)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/219971">Celisi Tabiki</a> (77)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/221369">Micheal Huey</a> (69)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/225417">Lara Ramon</a> (60)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (50)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218050">Amalia Decuir</a> (48)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218408">Cooper Oreilly</a> (46)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (45)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218783">Alex Fannin</a> (41)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>83</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (83)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (34)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a> (12)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223120">Satin Draper</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218866">Candy Summers</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/221356">Katrina Colburn</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>58</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (58)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (40)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (38)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (32)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (15)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/217988">Brice Cheatham</a> (13)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218051">Jamie Cahill</a> (9)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218171">Try Again</a> (9)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (7)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>10</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (10)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218138">Yuri Paige</a> (8)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218188">Circine Milton</a> (8)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/219494">Laurie Whipple</a> (8)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218017">Kittyn Angelica</a> (7)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/221550">Carla Trapp</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/scandalous_heels_Meddle.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>19,545</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218011">Fox Cross</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218011">Fox Cross</a> (19,545)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218441">Bowen Tyee</a> (18,695)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218012">Kari Pink</a> (16,740)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218177">Mindless Fucktoy</a> (16,635)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218227">Pink Perfection</a> (15,290)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218083">Yournex 'Jiggling' Tits</a> (15,030)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218074">Becky Smith</a> (14,815)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218055">Auly Jua</a> (14,655)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/219065">Fire Blossom</a> (13,888)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218048">Angeline 'Blowmeup' Doll</a> (13,595)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/cocoa_companion_Melina_Mercy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>19,625</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218098">Melina 'Chocoholic' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218098">Melina 'Chocoholic' Mercy</a> (19,625)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218019">Jessica Pink</a> (19,590)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218122">Cathy Kellum</a> (16,980)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218030">Lexi Wing</a> (16,385)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218162">Luna Kitsu</a> (14,875)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218027">Dorothy Silver</a> (14,008)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218386">Princess Lily</a> (13,255)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218861">Mora Mae II</a> (13,205)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/219025">Adalgis Slimehart</a> (12,810)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218471">Sam Lilin</a> (12,555)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/traveling_merchant_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>100,910</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (100,910)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (66,510)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (30,405)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (13,320)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (11,045)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/223120">Satin Draper</a> (10,900)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (9,945)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (9,895)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/219971">Celisi Tabiki</a> (9,020)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/222429">Jamie Alexander</a> (8,125)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>174,785</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (174,785)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (167,966)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (34,328)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218053">Maxy Keys</a> (29,686)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (29,308)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (22,799)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/219243">Darla Sacher</a> (21,338)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (17,364)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218757">Nihat Unal</a> (14,698)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (13,941)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>2,700</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (2,700)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/222527">Jeannine Renfro II</a> (1,250)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (900)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218154">The Defiler</a> (800)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/223120">Satin Draper</a> (600)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219971">Celisi Tabiki</a> (550)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218090">Hanna Drake</a> (500)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/223014">Melissa Mccarter</a> (500)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (450)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/222966">Silvia Aryan</a> (450)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Wuffie:</i> <b>11,012</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (11,012)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (10,211)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (3,110)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (1,312)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218588">Fleur Jumeau</a> (1,224)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/220178">Frank Connor</a> (1,055)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/222527">Jeannine Renfro II</a> (1,051)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218049">Yomiko Readman</a> (837)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/223014">Melissa Mccarter</a> (825)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/223120">Satin Draper</a> (809)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/doll_by_night_glare-d7ephf5.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>34</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218204">Kandis Gracia</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218204">Kandis Gracia</a> (34)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a> (29)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218087">Walker Whitman</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218620">Tyrel Paxton</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>21</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218572">Esther Marley</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (21)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a> (4)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218601">Game Hound</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (1)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/cocky_cabbit_boy_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>22</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/224267">Linda Ford</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/224267">Linda Ford</a> (22)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/223014">Melissa Mccarter</a> (15)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218050">Amalia Decuir</a> (12)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218138">Yuri Paige</a> (5)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/224608">Tulius Jameson IV</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/manly_man_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>2,826</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a> (2,826)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218204">Kandis Gracia</a> (2,463)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (693)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (670)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/219203">Dark Blade II</a> (653)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (603)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (514)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/220738">Harper Pak</a> (403)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (342)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218293">Harley Clements</a> (272)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/wobbling_ears_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>18</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (18)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/225269">Patsy Escalante</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/218778">Nuntis Sol</a> (10)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/224758">Astarielle Evans</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/225189">Hannah Sanford IV</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219919">Aaron Milkmaker II</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218433">Tina Maine</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/222282">Valaria Dancaii</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/225032">Chelsea Pruitt</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218167">Sean Mcauley</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>69</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218546">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218546">Dane Redd</a> (69)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218828">Marble Angelica</a> (14)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/217988">Brice Cheatham</a> (13)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/219971">Celisi Tabiki</a> (12)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218021">Nekogami Marisa</a> (12)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219063">Stella Keys II</a> (11)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (11)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (10)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/222527">Jeannine Renfro II</a> (8)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/223512">Ivy Cathalas III</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/LilithValentine_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>543</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218007">Lilith Valentine</a> (543)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218275">Seth Shadow</a> (180)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (142)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/218108">Felucca 'Rich Bitch' Kitsu</a> (81)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218114">Finean Kitsu</a> (24)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/218447">Aloysious Katt</a> (19)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218049">Yomiko Readman</a> (11)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/225189">Hannah Sanford IV</a> (11)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/218066">Gail Xen</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218325">Philosopher Nekone</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/nighthuntress_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>10,290</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/218572">Esther Marley</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/218572">Esther Marley</a> (10,290)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/218393">Jess 'Double Trouble' Ganes</a> (6,945)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/224171">Lara 'the Collector' Ithilwen III</a> (6,730)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/223034">Rosalyn Whatley</a> (5,410)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/218374">Jane County</a> (2,385)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/219494">Laurie Whipple</a> (1,830)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/218642">Yully Invincible</a> (1,555)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/218783">Alex Fannin</a> (1,010)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/220584">Lisa Keys III</a> (870)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/218064">Alex Carlton</a> (840)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>