@model IEnumerable<TT.Domain.Models.LocationLog>
@using TT.Web.CustomHtmlHelpers
@using TT.Domain.ViewModels
@using TT.Domain.Statics
@using TT.Domain.Procedures

<div style="clear:both;"></div>

<ul id="RecentActivityLog">
    @{
        foreach (TT.Domain.Models.LocationLog log in Model.Reverse())
        {
            <li>
                @Html.Raw(log.Message)

            @{
            if (log.ConcealmentLevel > 0)
            {
                <span class="playerMediatingNotification">[@log.ConcealmentLevel]</span>
            }
            }

            <span class="timeago">@CharactersHere.DatetimeToTimeago(log.Timestamp)</span>
        </li>
        }
    }
</ul>
