﻿@model TT.Domain.ViewModels.ChatViewModel
@{
    ViewBag.Title = Model.RoomName;
}

@section menu
{
    @Html.Partial(MVC.Chat.Views._ChatMenu, Model, new ViewDataDictionary { { "room", Model.Room } })
}

<p class="infoMessage error" id="connectionStatus" style="display: none;">
    Your chat is currently disconnected from the server.  It will attempt to automatically reconnect.
</p>

<div class="containerInner">
    <div id="ignoreDiv" style="display: none;" class="center-block">
        <p>
            Adding in any text to the ignore list will stop you from seeing any chat posts containing your entry, even if you write it.
            Your entries will are now saved in local storage which means this setting should not be forgotten even if close your browser (unless your cache is cleared).
        </p>
        <input type="text" id="ignore"><br>
        <button id="ignoreAdd" class="btn btn-danger btn-xs">Add to Ignore</button>
        <button id="ignoreReset" class="btn btn-success btn-xs">Reset Ignore</button>
        <button id="ignoreView" class="btn btn-alert btn-xs">View Ignored</button>
    </div>

    <div id="settingsDiv" style="display: none;" class="center-block">
        <p class="active">
            You can toggle whether the chat displays colors or images here.
            Your entries will be saved in local storage which means this setting should not be forgotten even if close your browser (unless your cache is cleared).
        </p>
        <br>
        <p>
            <a href="#" id="toggleImages" class="btn btn-xs">Toggle Images</a>
            <a href="#" id="toggleColors" class="btn btn-xs">Toggle Colors</a>
            <a href="#" id="toggleNyan" class="btn btn-xs">Toggle Nyanspeech</a>
        </p>
        <br>
        <p>
            <b>No thoughts. Head Empty.</b>
            <br>
            <input type="range" min="40" max="140" id="iq" value="140" style="width: 50%; display: inline-block; vertical-align: middle;">
        </p>
    </div>

    <div class="row chat-container">
        <div class="col-md-10 col-sm-12">
            <ul id="discussion"></ul>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
            <div class="userlist-chat"></div>
        </div>
    </div>

    <div class="roomName">
        Room:  @Model.RoomName
        <span class="autoScroll">
            <span id="autoScrollToggle">Autoscroll ON</span>
            <img id="autoScrollLock" src="https://images.transformaniatime.com/Icons/icon-permanent.png" title="Lock to use manual autoscroll setting or unlock to use smart scrolling" width="15" height="15" style="opacity: 0;" />
        </span>
    </div>
    <input type="text" id="message" maxlength="500" class="chatInput" autofocus>
    <input class="btn btn-chat center-block" type="button" id="sendmessage" value="Send">
    <input type="hidden" id="displayname">
</div>

@section scripts
{
    <script src="@Links.lib.signalr_js.jquery_signalR_js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="@Links.lib.mispell.dist.mispell_js"></script>
    <script src="@Links.lib.jquery_touch_events.jquery_mobile_events_js"></script>
    <script src="@Links.Scripts.tt_config_js"></script>
    <script src="@Links.Scripts.tt_chat_js"></script>
    <script src="@Links.Scripts.tt_chat_userList_js"></script>
    <script src="@Links.Scripts.tt_chat_messages_js"></script>

    <script type="text/javascript">
        $(function () {
            ChatModule.initialize({ roomName : '@Model.Room', currentPlayer : '@Model.ChatUser', currentPlayerChatColor : '@Model.ChatColor' });
        });
    </script>
}
