@{
    ViewBag.Title = "Chat Command Help";
}

<h1>Chat Command Help</h1>

<p>Do not include the '[' and ']' characters when entering a command; these denote that what follows is a variable.</p>

<table>
    <thead>
        <tr>
            <th>Action</th>
            <th style="width: 300px;">Command Syntax</th>
            <th>Additional Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Self action</td>
            <td>/me [your message]</td>
            <td>Writes out your message as like this:  "Mister Chatterbox says something loudly".</td>
        </tr>
        <tr>
            <td>Rolling a die</td>
            <td>/roll [n]d[#]</td>
            <td>Replace [n] with the number of dice and [#] with the number of sides the die has. <strong>A maximum of 10 dice can be rolled at a time</strong></td>
        </tr>
        <tr>
            <td>Write a DM Message</td>
            <td>/dm message [your message]]</td>
            <td>This command is meant for a player known as a dungeon master to add in a special non-dialogue message so events can be written out.</td>
        </tr>
        <tr>
            <td>Roll a DM Encounter</td>
            <td>/dm [encounter_type]:[theme]</td>
            <td>This command is meant for a player known as a dungeon master to spawn some random encounters for the sake of roleplaying purposes.  [encounter_type] must be one of the following options:  [item], [creature], [event], [trap], [tf.animate], [tf.inanimate], [tf.animal], [tf.partial].  <br><br>[theme] is referred to as a tag and specifies a theme to draw from.  Current themes include [forest], [highschool], [bimbocalypse].</td>
        </tr>
    </tbody>
</table>

<style>
    table {
        text-align: center;
    }
    td {
        border: 1px solid black;
        padding: 10px;
    }
    tr:nth-child(even) {
        background-color: #dcdcdc;
    }
    td:nth-child(2) {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    th {
        border: 1px solid black;
        font-weight: 600;
        background-color: #b5b5b5;
        text-align: center;
    }
</style>