@model TT.Domain.ViewModels.CovenantViewModel
@{
    ViewBag.Title = "Covenant Captains";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">
    <h3>Add or Remove a Covenant Captain</h3>
    <p>Click on one of the names below to add a member of the covenant as a captain.  If they are currently a captain, clicking on their name will remove that status.</p>
    <p>Covenant captains are special trusted members of the covenant and are permitted to purchase furniture and gift out covenant funds. They can also edit the coven noticeboard.</p>
    @{
        foreach (var p in Model.Members)
        {
            <p>
                <a href="@Url.Action(MVC.Covenant.InviteCaptainSend(p.Player.Id))">@p.Player.GetFullName()</a>
                @{
            if (ViewBag.CurrentCaptains.Contains(p.Player.Id + ";"))
            {
                <span class="good">Current Captain</span>
            }
                }
            </p>
        }
    }
</div>
