@model TT.Domain.ViewModels.CovenantViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}

<div class="containerInner">
    <h3>Set a new Covenant Leader</h3>
    <p>Click on one of the names below to set a member of the covenant as the leader.</p>
    <p>Covenant leaders are the highest trusted member of the covenant and are permitted all covenant administrative access. Setting a new covenant leader will revoke your leadership status.</p>
    @{
        foreach (var p in Model.Members)
        {
            <p>
                <a href="@Url.Action(MVC.Covenant.InviteLeaderSend(p.Player.Id))">@p.Player.GetFullName()</a>
            </p>
        }
    }

</div>
