@model TT.Domain.ViewModels.CovenantViewModel

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Covenant.MyCovenant())">Back to My Covenant</a></li>
}
<div class="containerInner">

    <h3>Kick Out a Covenant Member</h3>

    <p>You can eject a member of your covenant forcibly on this page.</p>



    @{
        foreach (var p in Model.Members)
        {
            <hr>
            <p>
                <a href="@Url.Action(MVC.Covenant.KickMember(p.Player.Id))">@p.Player.GetFullName()</a>
            </p>
            <hr>
        }
    }

</div>
