<h1>Statistics Leaders</h1>

<p>Times moved: Esther Lacroix (9842)</p>
<p>Times searched: Indigo Clardmond (7192)</p>
<p>Spells cast: Huldra Alonso (1828)</p>
<p>Enchantments cast: Kirby Sanders (1158)</p>
<p>Times meditated: Jane ' ' County II (835)</p>
<p>Times cleansed: Jane ' ' County II (1103)</p>
<p>Arpeyjis donated to covenant: Kirby Sanders (34080)</p>
<p>Arpeyjis received from covenant: Oriana Firestar (1700)</p>
<p>Times transformed into an animate form: Lucy 'Bimbo Juice' Gautreau II (611)</p>
<p>Times transformed into an inanimate form: Inez Venable (14)</p>
<p>Times transformed into an animal/pet form: Porcia Packard (6)</p>
<p>Targets transformed into an animate form: Lucy 'Bimbo Juice' Gautreau II (255)</p>
<p>Targets transformed into an inanimate form: Esther Lacroix (80)</p>
<p>Targets transformed into an animal/pet form: Bella Donnah (8)</p>
<p>Psychopathic Spellslingers Defeated: Bella Donnah (46)</p>
<p>Scrolls of Teleportation used: Lefen Trimble (3)</p>
<p>Times played with Jewdewfae: Bella Donnah (10)</p>
<p>Tomes read: Adam Wicker (4)</p>
<p>Inanimate XP: Bimbo Liqueur (19165)</p>
<p>Pet/Animal XP: Kinky Kathy (15830)</p>
<p>Arpeyjis spent buying from Lindella: Bella Donnah (23075)</p>
<p>Arpeyjis earned from selling to Lindella: Kirby Sanders (35397)</p>
<p>Arpeyjis spent buying from Wüffie: Chris Kreiger III (600)</p>
<p>Arpeyjis earned from selling to Wüffie: Kristina Carter (3692)</p>
<p>Dungeon Artifacts Found: Gaius Marius III (7)</p>
<p>Dungeon demons defeated: Esther Lacroix (57)</p>
<p>Dungeon points stolen from other players: Allie Summers III (118)</p>
<p>Times moved in dungeon: Esther Lacroix (3275)</p>
