@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/playful_imp_Indigo_Clardmond.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>4,001</b></p>
            <p><a href="/PvP/LookAtPlayer/145346">Indigo Clardmond</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145346">Indigo Clardmond</a> (4,001)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/146768">Marcellus Ravencrow</a> (3,810)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145870">Mora Mae</a> (3,737)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (3,145)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145435">Vestalia Kittay</a> (2,667)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146011">Sinful Vibe</a> (2,534)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/151375">Tetsu Shadow II</a> (2,174)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/150599">Yuri Paige II</a> (2,157)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145325">Alta Musser</a> (2,087)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/147326">Alice Sears</a> (2,070)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>1,381</b></p>
            <p><a href="/PvP/LookAtPlayer/148653">Game Hound II</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (1,381)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (1,261)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (1,132)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (1,104)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (1,094)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145331">Ronin Knight</a> (940)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145983">Joe Schmoe</a> (902)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (833)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (822)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145411">Rosalyn Mena</a> (787)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>7,438</b></p>
            <p><a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (7,438)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (4,337)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (4,066)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (3,659)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (3,615)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (3,560)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145352">General Stamp</a> (3,404)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (3,280)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (3,211)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (3,100)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/donnas_hen_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,036</b></p>
            <p><a href="/PvP/LookAtPlayer/148996">Kima Paru II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (1,036)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (682)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (559)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145610">Robin Latimer</a> (525)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (447)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145420">Jocelyn Dawnbringer</a> (442)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145919">Branson Healy</a> (439)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/151116">Miko 'Nyanners' Chan</a> (435)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/148249">Alec Barnett</a> (415)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (399)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/korps_recruiter_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>700</b></p>
            <p><a href="/PvP/LookAtPlayer/145541">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145541">Nihat Unal</a> (700)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145726">Ellis Sisco</a> (680)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145347">Seth Shadow</a> (656)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (634)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (585)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (582)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145470">Ezra Lott</a> (539)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145474">Lynelle Moon II</a> (487)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (476)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (462)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/korps_recruiter_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,839</b></p>
            <p><a href="/PvP/LookAtPlayer/145541">Nihat Unal</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145541">Nihat Unal</a> (2,839)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145329">Raine Lei</a> (2,408)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (1,728)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145347">Seth Shadow</a> (1,020)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145726">Ellis Sisco</a> (987)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145470">Ezra Lott</a> (812)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145518">Jess 'X' Ganes</a> (644)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145610">Robin Latimer</a> (561)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (544)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145474">Lynelle Moon II</a> (529)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>27,300</b></p>
            <p><a href="/PvP/LookAtPlayer/145934">Callies Slut</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145934">Callies Slut</a> (27,300)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145499">Kirby Sanders</a> (16,360)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145346">Indigo Clardmond</a> (15,780)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (12,820)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145306">Lilith Valentine</a> (11,580)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/149866">Queen 'of the Changelings' Chrysalis</a> (11,380)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (10,560)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (9,320)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145541">Nihat Unal</a> (8,920)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145329">Raine Lei</a> (6,600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>2,000</b></p>
            <p><a href="/PvP/LookAtPlayer/145420">Jocelyn Dawnbringer</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145420">Jocelyn Dawnbringer</a> (2,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (1,500)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145329">Raine Lei</a> (1,000)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145479">Vanessa Harrowfoot</a> (1,000)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145306">Lilith Valentine</a> (820)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145322">Maeve Morrigan</a> (700)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145484">Red Queen</a> (600)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/148372">Kristyne Mercy</a> (500)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145391">Katie Broadnax</a> (500)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145635">Kraven Vrath</a> (500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>111</b></p>
            <p><a href="/PvP/LookAtPlayer/145331">Ronin Knight</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145331">Ronin Knight</a> (111)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145512">Joe Nobody</a> (79)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145309">Kaibutsu Shadow</a> (57)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145313">Tessa Harlow</a> (55)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145983">Joe Schmoe</a> (52)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146536">Selene Dewinter</a> (46)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/146870">Dianna Turner</a> (43)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145974">Alice Quintessa</a> (43)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/148373">Alex Blaine</a> (41)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/146134">Nuntis Sol</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/pearled_gothic_panties_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>12</b></p>
            <p><a href="/PvP/LookAtPlayer/151799">Allexis Somarila VIII</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/151799">Allexis Somarila VIII</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/152203">Ali Soma VI</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/148706">Jaime Kane</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/151618">Patrick Kopp II</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/149143">Memor Mournstone</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/150833">Iulius Hillman VII</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/148895">Esbyn Lovecraft II</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/150813">Matt Langley II</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/151769">Blair Woods III</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/149739">Lina Ai</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/LatexBra_Equipped.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>4</b></p>
            <p><a href="/PvP/LookAtPlayer/149610">Kim Dibble</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149610">Kim Dibble</a> (4)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/151442">Quintus Ceja</a> (3)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/151799">Allexis Somarila VIII</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/148706">Jaime Kane</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145649">Benson Nunley</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/150914">Donte Fry II</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/149712">Teresa Green</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/146584">Ashley Marshall III</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/151707">Lilith Decuir</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/mermaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>58</b></p>
            <p><a href="/PvP/LookAtPlayer/145411">Rosalyn Mena</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145411">Rosalyn Mena</a> (58)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (58)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145983">Joe Schmoe</a> (52)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (49)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (45)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146011">Sinful Vibe</a> (45)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/148373">Alex Blaine</a> (44)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145512">Joe Nobody</a> (40)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (40)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/151116">Miko 'Nyanners' Chan</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>72</b></p>
            <p><a href="/PvP/LookAtPlayer/145471">Breena Victor</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (72)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (51)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (49)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (48)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (43)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (40)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (30)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145590">Junius Kauffman</a> (27)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/149414">Jsuelieta Chaika</a> (26)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145518">Jess 'X' Ganes</a> (24)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/dapper_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>8</b></p>
            <p><a href="/PvP/LookAtPlayer/148653">Game Hound II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (8)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/151683">Jensen Neel III</a> (7)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/146838">Torgalence Vells II</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145329">Raine Lei</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/149313">Mikey Ladd III</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145470">Ezra Lott</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/148518">Taymond Coyle</a> (4)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>65</b></p>
            <p><a href="/PvP/LookAtPlayer/145471">Breena Victor</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (65)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148653">Game Hound II</a> (51)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (47)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (45)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (37)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (31)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/149414">Jsuelieta Chaika</a> (29)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145590">Junius Kauffman</a> (27)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145518">Jess 'X' Ganes</a> (26)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/148249">Alec Barnett</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>6</b></p>
            <p><a href="/PvP/LookAtPlayer/145471">Breena Victor</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (6)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/146768">Marcellus Ravencrow</a> (3)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145306">Lilith Valentine</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/147040">Liliana Devore</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/148249">Alec Barnett</a> (2)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/151892">Hayden Mcconnell</a> (2)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/147877">Elsie Vanburen</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/147625">Huni Luna II</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145392">Dawn Foley</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145313">Tessa Harlow</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/ravening_hunter_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>12</b></p>
            <p><a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145313">Tessa Harlow</a> (10)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145878">Angeline Wing</a> (9)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145300">Donte Gooding</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/150599">Yuri Paige II</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145474">Lynelle Moon II</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145512">Joe Nobody</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/149136">Guy Mackenzie IV</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145720">John Masterson</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/ravening_hunter_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>12</b></p>
            <p><a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145499">Kirby Sanders</a> (6)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/146775">Ruby Montana</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145346">Indigo Clardmond</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146768">Marcellus Ravencrow</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145300">Donte Gooding</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/150599">Yuri Paige II</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/146549">Ashivan Kital</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/evening_gown_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>16,400</b></p>
            <p><a href="/PvP/LookAtPlayer/145393">Felucca Kitsu</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145393">Felucca Kitsu</a> (16,400)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145317">Kari Pink</a> (14,880)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145689">Luna Kitsu</a> (14,400)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145425">Becky Smith</a> (13,490)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/146042">Arrhae Hale</a> (13,415)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146959">Thomas Hammerhead</a> (12,430)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145478">Trace Terran</a> (12,150)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145564">Kaitlyn Halliwell</a> (11,895)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145336">Mylitta Luciano</a> (11,690)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/146115">Vivianne Mcqueen</a> (11,515)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/rubber_love_doll_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>16,945</b></p>
            <p><a href="/PvP/LookAtPlayer/145473">Melina 'Flexible Florist' Mercer</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145473">Melina 'Flexible Florist' Mercer</a> (16,945)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145316">Phoebe Stormbringer</a> (15,110)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145446">Bessie Cranston</a> (14,865)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145414">Kiara Kitsu</a> (14,120)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145958">Faye Dollarhyde</a> (13,915)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/148711">Kinky Kathy II</a> (13,185)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145454">Ellie West</a> (13,135)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/146687">Luna Kital</a> (12,635)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145416">Nyx 'Burrito' Nyaentine</a> (12,295)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145323">Princess Lily</a> (9,123)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>15,705</b></p>
            <p><a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (15,705)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (14,035)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (13,895)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/150599">Yuri Paige II</a> (13,075)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (12,695)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/146768">Marcellus Ravencrow</a> (10,200)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/146133">Leann Maple</a> (9,890)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145919">Branson Healy</a> (8,465)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/148249">Alec Barnett</a> (7,440)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145313">Tessa Harlow</a> (7,200)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>28,294</b></p>
            <p><a href="/PvP/LookAtPlayer/145934">Callies Slut</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145934">Callies Slut</a> (28,294)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (25,141)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (24,289)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145541">Nihat Unal</a> (17,874)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145499">Kirby Sanders</a> (17,771)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145346">Indigo Clardmond</a> (16,013)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/149144">Luke Rudolph II</a> (13,924)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145851">Larissa Fay</a> (13,507)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/150599">Yuri Paige II</a> (13,149)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (12,556)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>1,528</b></p>
            <p><a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (1,528)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145990">Cale Ratcliff</a> (850)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/146133">Leann Maple</a> (750)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145868">Jen Dingle</a> (750)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145532">Esther Hudgens</a> (650)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/149711">Victoria Kosch III</a> (600)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145433">Leo Knight</a> (550)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/148372">Kristyne Mercy</a> (500)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145984">Gail Xen</a> (500)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/152175">Nina Rosalia II</a> (400)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/demonic_broker_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Lindella:</i> <b>3,138</b></p>
            <p><a href="/PvP/LookAtPlayer/148172">Carey Ahearn</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148172">Carey Ahearn</a> (3,138)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/149616">Rora Ryall II</a> (2,913)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/151516">Kayden Hanlon</a> (1,807)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (1,196)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/149136">Guy Mackenzie IV</a> (1,021)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/149164">Fern Barnhill</a> (925)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/147579">Roschana Merrikh</a> (924)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/149711">Victoria Kosch III</a> (640)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145471">Breena Victor</a> (628)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145325">Alta Musser</a> (578)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/donnas_hen_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>12</b></p>
            <p><a href="/PvP/LookAtPlayer/148996">Kima Paru II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (10)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145391">Katie Broadnax</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145919">Branson Healy</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/151375">Tetsu Shadow II</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/149532">Dena Joy</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145474">Lynelle Moon II</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/145505">Lefen Cooper</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145532">Esther Hudgens</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/donnas_hen_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>11</b></p>
            <p><a href="/PvP/LookAtPlayer/148996">Kima Paru II</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (11)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (5)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/145610">Robin Latimer</a> (3)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145532">Esther Hudgens</a> (1)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/145499">Kirby Sanders</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145919">Branson Healy</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>1</b></p>
            <p><a href="/PvP/LookAtPlayer/145620">Jem Quinn</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145620">Jem Quinn</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/bimbo_maid_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,167</b></p>
            <p><a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/145545">Heather 'Elaine' Brandenburg</a> (1,167)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/148996">Kima Paru II</a> (744)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/151505">Aurora 'Totally not Pepe' Ryalls IV</a> (539)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/145505">Lefen Cooper</a> (517)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/152310">Caelius Metzger</a> (443)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/145610">Robin Latimer</a> (385)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/145391">Katie Broadnax</a> (256)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/145532">Esther Hudgens</a> (203)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/151375">Tetsu Shadow II</a> (179)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/145590">Junius Kauffman</a> (127)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>