@Html.Partial("partial/OldLeaderboardLinks")

<h1>Statistics Leaders</h1>

<p>Times moved: Parker Page (11568)</p>
<p>Times searched: Alexis Wells (3722)</p>
<p>Spells cast: Ronin Thrall (2434)</p>
<p>Enchantments cast: Mitch Larsen (1099)</p>
<p>Times meditated: Seth Punisher (861)</p>
<p>Times cleansed: Jess 'Archaeologist' Ganes (847)</p>
<p>Arpeyjis donated to covenant: Kirby Sanders (22420)</p>
<p>Arpeyjis received from covenant: Cazeet Chakax (4700)</p>
<p>Times transformed into an animate form: Ronin Thrall (397)</p>
<p>Times transformed into an inanimate form: Jonathan Camper (39)</p>
<p>Times transformed into an animal/pet form: Rachel Pointer (9)</p>
<p>Targets transformed into an animate form: Ronin Thrall (120)</p>
<p>Targets transformed into an inanimate form: Jess 'Archaeologist' Ganes (41)</p>
<p>Targets transformed into an animal/pet form: Merp Malay (8)</p>
<p>Psychopathic Spellslingers Defeated: Rachel Mojica (36)</p>
<p>Scrolls of Teleportation used: Yully Tired (4)</p>
<p>Times played with Jewdewfae: Bella Donnah (4)</p>
<p>Tomes read: Kaibutsu Shadow (2)</p>
<p>Inanimate XP: Arrhae Hale (10900)</p>
<p>Pet/Animal XP: Lucy 'High Suckabus' Gautreau (11855)</p>
<p>Arpeyjis spent buying from Lindella: Lex Fairchild (8935)</p>
<p>Arpeyjis earned from selling to Lindella: Kirby Sanders (29161)</p>
<p>Arpeyjis spent buying from Wüffie: Ruby Maes (900)</p>
<p>Arpeyjis earned from selling to Wüffie: Jenny Mullins (3108)</p>
<p>Dungeon Artifacts Found: Parker Page (218)</p>
<p>Dungeon demons defeated: Nerati Sua (11)</p>
<p>Dungeon points stolen from other players: Lex Fairchild (85)</p>
<p>Times moved in dungeon: Parker Page (10514)</p>