@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders R28, Era of Kristyne Mercy</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/goblin_girl_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>7,762</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204872">Stella Keys</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (7,762)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204740">Rukja Silbernadel</a> (7,113)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (5,350)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205340">Hanna Drake</a> (4,596)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/209041">Stacy Colburn</a> (3,857)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (3,608)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204981">Futa Lover</a> (3,300)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204692">Puyo Hebihime</a> (3,026)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/206150">Casey Summer</a> (2,977)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204959">Manny Quinn</a> (2,745)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>3,610</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (3,610)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (1,535)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (1,489)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (1,476)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (1,268)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (1,150)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (1,123)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204823">Will Wolf</a> (1,060)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (1,060)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/209850">Kasumeow Meownya</a> (1,031)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/regenerating_chocolate_bunny_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>18,999</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (18,999)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a> (14,137)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (7,908)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (6,327)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (5,837)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (5,834)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (4,981)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (4,880)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (4,779)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (4,723)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/vampire_female_Lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,558</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204877">Game Hound</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (1,558)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (1,377)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (1,168)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (736)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (642)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (600)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/206676">Yully Immobile</a> (542)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/206354">Rosa Linaa II</a> (540)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (526)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204847">Adalgis Feuerhart</a> (503)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,517</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (1,517)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (1,132)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (819)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (817)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (756)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/206630">Erika Cirrus</a> (723)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (645)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (595)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (592)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (569)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>1,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/206630">Erika Cirrus</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/206630">Erika Cirrus</a> (1,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205612">Maximo Aragon</a> (672)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205567">Shelley Rubio</a> (609)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/207752">Meagan Dorris II</a> (562)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204740">Rukja Silbernadel</a> (414)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205076">Kirby Sanders</a> (396)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (342)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (207)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/210673">Blue Montes</a> (169)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206462">Maya Lin</a> (142)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/wolf_cub_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>926,740</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204683">Lara 'Fluffy' Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204683">Lara 'Fluffy' Ithilwen</a> (926,740)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205076">Kirby Sanders</a> (85,960)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (80,480)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (15,140)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (12,540)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (11,660)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/206354">Rosa Linaa II</a> (10,560)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/206150">Casey Summer</a> (9,300)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (9,240)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205629">Fleur Jumeau</a> (8,820)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>422</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (422)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (254)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205076">Kirby Sanders</a> (203)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (83)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (74)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (66)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (36)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204707">Amalia Decuir</a> (36)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204850">Gail Xen</a> (36)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206630">Erika Cirrus</a> (31)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/wolf_cub_lux.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>974,580</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204683">Lara 'Fluffy' Ithilwen</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204683">Lara 'Fluffy' Ithilwen</a> (974,580)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205076">Kirby Sanders</a> (34,620)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (18,380)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (5,300)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205481">Grace Kitsu</a> (4,640)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205629">Fleur Jumeau</a> (2,540)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (1,400)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (1,220)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (800)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/209850">Kasumeow Meownya</a> (600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>158</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (158)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (97)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (45)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (45)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205079">Seth Shadow</a> (44)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (44)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204926">Joe Nobody</a> (30)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (27)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/209850">Kasumeow Meownya</a> (26)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (25)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_04_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>12</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204878">Mio Chan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204878">Mio Chan</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/210686">Lynette Whitt</a> (7)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/208550">Kal Riden</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/211761">Ericka Morgan</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/211019">Tsubami Keys</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/210576">Josh Glass</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/210663">Lisa Keys IV</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/207074">Seras Victoria II</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/212152">Altani Ejinn IV</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206254">Artificia Perfection</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/docile_mare_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>9</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (9)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204992">Urza Vox</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205279">Yumeow Meownya</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205878">Kento Bassett</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204765">Marcus Wylde</a> (5)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/212065">Letha Lacroix II</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/209243">Raiden Bundy</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204931">John Gill</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/210563">Hitomeow Meownya</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206503">Arian Mchenry II</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>160</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (160)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (90)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205079">Seth Shadow</a> (60)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204796">Rosalynya Meownya</a> (59)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/210137">Caity Keys III</a> (54)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/206061">Magus Atomos</a> (47)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (46)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/208705">Lulu Miles</a> (37)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/209850">Kasumeow Meownya</a> (37)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204710">Dame Noire</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>127</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (127)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (80)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (67)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (65)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (64)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (61)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/210576">Josh Glass</a> (42)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (41)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204707">Amalia Decuir</a> (40)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206372">Lesa Clawson</a> (40)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>69</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (69)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204796">Rosalynya Meownya</a> (30)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (25)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204823">Will Wolf</a> (14)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/206503">Arian Mchenry II</a> (12)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205206">Samwell Anerson</a> (12)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205271">Maxwell Martinson</a> (7)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204847">Adalgis Feuerhart</a> (7)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205606">Kendrick Goble</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205199">Tyler Renard</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>195</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (195)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (64)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (55)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204823">Will Wolf</a> (53)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205206">Samwell Anerson</a> (46)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/210576">Josh Glass</a> (45)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (44)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/206372">Lesa Clawson</a> (42)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205629">Fleur Jumeau</a> (41)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (41)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>27</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (27)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (12)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (4)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/206609">Amanda Weaver</a> (3)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (3)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205340">Hanna Drake</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205752">Virginia Neill</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>50</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (50)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (34)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (15)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (13)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204673">Cherry Toler</a> (11)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (11)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (10)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/212150">Laene Merrit</a> (8)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205279">Yumeow Meownya</a> (7)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204927">Genevieve Moen</a> (7)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a> (8)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205722">Crissa 'Jiggly and Wiggly' Kentavr</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (8)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (8)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204691">Maeve Morrigan</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204981">Futa Lover</a> (7)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/latex_stockings_Babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>19,785</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204688">Pink Perfection</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204688">Pink Perfection</a> (19,785)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204682">Fox Cross</a> (18,935)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204900">Arrhae Hale</a> (18,270)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204824">Playtoy Puppet</a> (16,410)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204743">Fire Blossom</a> (15,610)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205000">Pauline Roundbottom</a> (15,080)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204966">Angeline Doll</a> (13,880)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204887">Jessies Cunt</a> (13,830)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204694">Glenn Yuki</a> (12,855)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/206050">Tania Muffintops</a> (12,740)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/cocoa_companion_Melina_Mercy.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>19,685</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204840">Melina 'The Cocoa Companion' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204840">Melina 'The Cocoa Companion' Mercy</a> (19,685)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204683">Lara 'Fluffy' Ithilwen</a> (18,280)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204816">Phobe Stormbringer</a> (16,933)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205254">Beatrix Jumeau</a> (16,340)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204730">Heather 'Kari's Toy' Heart</a> (16,160)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205988">Minerva Sass</a> (16,055)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204717">Kiara Kitsu</a> (13,325)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204849">Calem Fujin</a> (12,638)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204786">Tharkis Mithra</a> (12,455)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204746">Holly Doll</a> (11,050)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/animate_love_doll_goldendawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>37,320</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (37,320)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (26,408)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (16,356)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (13,785)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (13,450)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204791">Emilia Eggleston</a> (11,330)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205155">Jamie Alexander</a> (9,926)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (8,810)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (8,200)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/208796">Taylor Blais</a> (7,630)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>87,844</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (87,844)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205076">Kirby Sanders</a> (53,741)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (32,743)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204806">Nihat Unal</a> (31,163)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (29,277)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (16,487)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (16,073)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (12,946)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (12,832)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (11,590)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>9,250</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (9,250)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205481">Grace Kitsu</a> (2,100)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (1,400)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/206676">Yully Immobile</a> (1,150)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205340">Hanna Drake</a> (850)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/210247">Herminius Elston</a> (800)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (750)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205155">Jamie Alexander</a> (700)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (650)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204981">Futa Lover</a> (550)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/gothic_maid_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Wuffie:</i> <b>6,390</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205066">Dane Redd</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (6,390)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/208796">Taylor Blais</a> (3,555)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205722">Crissa 'Jiggly and Wiggly' Kentavr</a> (3,551)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (3,361)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205135">Geneva Brown</a> (2,850)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (1,511)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205582">Tommi Singer</a> (1,218)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/207265">Molotov Wolf II</a> (998)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/212065">Letha Lacroix II</a> (978)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (910)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/regenerating_chocolate_bunny_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>150</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (150)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a> (98)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204733">Eliza Starr</a> (21)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (15)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/206743">Heather Brandenburg</a> (12)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (9)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204847">Adalgis Feuerhart</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (7)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205297">Jennifer Lockeheart</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204721">Velroth Trax</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_witch_Martiandawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>27</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/205028">Esther Paige</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (27)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (21)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204740">Rukja Silbernadel</a> (2)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/egg_laying_dragoness_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>100</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a> (100)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (25)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204948">Nerati Sua</a> (14)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/209850">Kasumeow Meownya</a> (8)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205082">Betty Blowtorch</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/211733">Jessie Stillman II</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/209082">Chris Wilson II</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/208536">Mike Conllony</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/regenerating_chocolate_bunny_Aurora_Ryall.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>17,107</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (17,107)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204693">Jess Ganes</a> (12,532)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205215">Princess Lily</a> (2,039)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204733">Eliza Starr</a> (1,625)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204847">Adalgis Feuerhart</a> (1,143)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204877">Game Hound</a> (1,125)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/206743">Heather Brandenburg</a> (675)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/205297">Jennifer Lockeheart</a> (631)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (592)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/205279">Yumeow Meownya</a> (474)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Woman_04_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>14</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204878">Mio Chan</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204878">Mio Chan</a> (14)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205279">Yumeow Meownya</a> (7)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/205878">Kento Bassett</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204992">Urza Vox</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/205819">Misa Kurumi</a> (7)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204885">Hilda Cross</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/207074">Seras Victoria II</a> (6)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/207036">Sam Bunker</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204765">Marcus Wylde</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/animate_love_doll_goldendawn.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>73</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (73)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205066">Dane Redd</a> (50)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/205279">Yumeow Meownya</a> (13)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/212141">Kimberley Culbertson II</a> (13)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205238">Obscuris Tenebris</a> (12)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/204700">Kittyn Angelica</a> (12)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204673">Cherry Toler</a> (11)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (10)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205148">Aloysious Katt</a> (10)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204787">Marcellus Ravencrow</a> (9)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/living_latex_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>81</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204705">Onyx Hellfire</a> (81)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (42)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/212102">Sarah Pinpoint</a> (15)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204875">Kristyne Mercy</a> (14)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/204872">Stella Keys</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/207604">Alex Crabtree II</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/204932">Kandis Gracia</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204996">Edison Seay</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/208081">Stephanie Dola</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/208536">Mike Conllony</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/brainwashed_bitch_LexamTheGemFox.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>11,405</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/204697">Jessica Pink</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/204697">Jessica Pink</a> (11,405)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/205028">Esther Paige</a> (3,520)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/204687">Annabelle Jumeau</a> (1,790)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/204936">Leena Mcridill</a> (1,575)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/205082">Betty Blowtorch</a> (1,550)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/206676">Yully Immobile</a> (1,510)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/205753">Jewell Ferrer</a> (1,430)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/204791">Emilia Eggleston</a> (1,410)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/205629">Fleur Jumeau</a> (1,170)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/204691">Maeve Morrigan</a> (1,025)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>