@Html.Partial("partial/OldLeaderboardLinks")

<div class="containerInner">

    <h1>Statistics Leaders</h1>
    <div class="row">
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/great_fairy_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hawkeye</h3>
            <p><i>Times searched:</i> <b>7,777</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a>

            <p>------------------</p>

            </p>

            <div id="more_times_searched">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a> (7,777)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159983">Aloysious Katt</a> (5,375)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a> (4,761)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a> (4,408)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159959">Vivianne Mcqueen</a> (3,517)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159452">Kristina Carter</a> (2,642)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159809">Ezra Lott</a> (2,431)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160679">Sheri Lea III</a> (2,245)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159645">Wire Razor</a> (2,160)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159352">Veronica Palmer</a> (2,125)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tiny_mouse_girl_curry_senpai.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Quantity not Quality!</h3>
            <p><i>Spells cast:</i> <b>1,882</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159286">Game Hound</a>

            <p>------------------</p>

            </p>

            <div id="more_spells_cast">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (1,882)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (1,632)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (1,528)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (1,493)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (1,205)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/165862">Jamison Cason</a> (1,191)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/161008">Nero Buie</a> (1,066)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (1,041)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159531">Patrick August</a> (1,019)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (998)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Restless One</h3>
            <p><i>Times moved:</i> <b>13,272</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a>

            <p>------------------</p>

            </p>

            <div id="more_times_moved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (13,272)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (7,991)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159309">Branvin Bailey</a> (6,734)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (6,490)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (6,369)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (6,287)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/161008">Nero Buie</a> (5,524)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (5,248)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (4,697)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (4,623)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/tiny_mouse_girl_curry_senpai.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Hypochondriac</h3>
            <p><i>Times cleansed:</i> <b>1,354</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159286">Game Hound</a>

            <p>------------------</p>

            </p>

            <div id="more_times_cleansed">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (1,354)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (1,039)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (1,002)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/166358">Misaki 'Tsundere' Yamato II</a> (753)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/161008">Nero Buie</a> (703)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (638)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (635)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (541)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159294">Amalia Decuir</a> (526)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159856">Naom Knightwalker</a> (510)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/vampire_duellist_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Lost in Thought</h3>
            <p><i>Times meditated:</i> <b>1,850</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_times_meditated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a> (1,850)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (1,447)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159382">Terra Ward</a> (1,068)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (706)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/166358">Misaki 'Tsundere' Yamato II</a> (666)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159294">Amalia Decuir</a> (641)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159320">Zackary Mickens</a> (631)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (587)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (584)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159960">Eric Kemp</a> (573)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/councilorman_babblingfaces.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">____ the Enchanter</h3>
            <p><i>Times enchanting:</i> <b>2,316</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159382">Terra Ward</a>

            <p>------------------</p>

            </p>

            <div id="more_times_enchanted">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159382">Terra Ward</a> (2,316)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (1,766)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (1,346)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (1,124)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160822">Jamie Murphy</a> (910)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159960">Eric Kemp</a> (881)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159320">Zackary Mickens</a> (854)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159280">Lilith Valentine</a> (620)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (610)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (606)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/playful_imp_Indigo_Clardmond.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fundraiser Fanatic</h3>
            <p><i>Arpyjis donated to covenant:</i> <b>225,580</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_donations">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a> (225,580)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (64,520)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a> (25,700)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159501">Kirby Sanders</a> (16,880)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (16,620)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160395">Raine Lei</a> (11,360)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (11,000)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159279">Nihat Unal</a> (6,340)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159397">Faye Dollarhyde</a> (5,820)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (4,600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Couch Potato</h3>
            <p><i>Times using covenant furniture:</i> <b>144</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_furniture_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (144)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a> (89)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (76)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (74)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (53)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (37)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159382">Terra Ward</a> (36)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159501">Kirby Sanders</a> (34)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (30)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/164970">Genevieve Moen</a> (28)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/playful_imp_Indigo_Clardmond.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Embezzler</h3>
            <p><i>Arpeyhis received from covenant:</i> <b>219,940</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a>

            <p>------------------</p>

            </p>

            <div id="more_covenant_gif_receieved">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a> (219,940)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (52,200)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a> (6,000)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/161299">Brianna Summers</a> (5,220)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (2,520)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/167516">Sable Ryall II</a> (2,500)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160395">Raine Lei</a> (2,000)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/167049">Kitty Cheshire</a> (2,000)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159371">Heather 'Elaine' Brandenburg</a> (1,840)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165544">Katie Madnax</a> (1,500)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/chubby_tanuki_lady_marx50.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">What's My Form Again?</h3>
            <p><i>Times transformed into an animate form:</i> <b>153</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159531">Patrick August</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159531">Patrick August</a> (153)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160008">Ronin Knight</a> (111)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (108)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/166358">Misaki 'Tsundere' Yamato II</a> (101)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159344">Joe Nobody</a> (90)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159326">Luna Kitsu</a> (84)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/165862">Jamison Cason</a> (50)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159983">Aloysious Katt</a> (41)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160515">Glenn Yuki</a> (40)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/166392">Lin Renchuan</a> (39)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/skyclad_witch_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimated</h3>
            <p><i>Timed transformed into an inanimate form:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160729">Oliver Thornton</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160729">Oliver Thornton</a> (8)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/166258">Marietta Lind</a> (8)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/166891">Dona Ives</a> (8)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/167246">Trystan Jung</a> (7)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (7)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/163413">Valentina Chung</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/166225">Fran Caro</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/166088">Elena Talbott II</a> (6)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159983">Aloysious Katt</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/167495">Alexis Somia VI</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/bimbo_mouse_girl_Dandelion.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nothin' But a Hound Dog</h3>
            <p><i>Times transformed into a pet form:</i> <b>5</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/166258">Marietta Lind</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animal">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/166891">Dona Ives</a> (5)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/166258">Marietta Lind</a> (5)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/167058">Elinor Ruby</a> (5)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165564">Joshua Glasse</a> (4)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/167478">Rukki Atkins V</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/166699">Arlo Franco</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/166994">Leanna Alvarado VIII</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/165021">Aurora 'Squeakers' Ryall II</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/167505">Alex Somara IV</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/milkmaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Animator</h3>
            <p><i>Targets transformed into an animate form:</i> <b>145</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (145)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/166358">Misaki 'Tsundere' Yamato II</a> (86)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160008">Ronin Knight</a> (56)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165862">Jamison Cason</a> (55)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159531">Patrick August</a> (53)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/164903">May Dominguez IV</a> (51)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159344">Joe Nobody</a> (51)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159618">Janeen Wiccanshire</a> (50)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/162336">Chris Starling</a> (47)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/166444">Hayashi Kawa</a> (42)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">The Inanimator</h3>
            <p><i>Targets transformed into an inanimate form:</i> <b>136</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_inanimating">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (136)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (103)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (103)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (87)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (60)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (40)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/161299">Brianna Summers</a> (39)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (39)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (38)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/160808">Selia Pratt</a> (36)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petmaker</h3>
            <p><i>Targets transformed into a pet form:</i> <b>32</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_times_self_animaling">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (32)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (16)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/166407">Mikey Ladd V</a> (15)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/163532">Shelly Blank</a> (9)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159644">Alvin Montague</a> (8)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (8)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/164954">Chris Summer</a> (7)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/164004">Valen Koupharas III</a> (7)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/165735">Jerry Murdock IV</a> (6)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/164970">Genevieve Moen</a> (6)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Psycho Hunter</h3>
            <p><i>Psychopathic Spellslingers defeated:</i> <b>161</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_psychos_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (161)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (101)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (92)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (80)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (58)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (40)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (37)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/165862">Jamison Cason</a> (36)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160808">Selia Pratt</a> (35)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165735">Jerry Murdock IV</a> (35)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/vampire_duellist_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Fast Commute</h3>
            <p><i>Teleport scrolls used:</i> <b>48</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a>

            <p>------------------</p>

            </p>

            <div id="more_times_teleported_scroll">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a> (48)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159280">Lilith Valentine</a> (28)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (9)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (4)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159987">Collin Darnell</a> (3)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (3)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/161658">Lefen Means</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/167078">Princess Lily II</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/167049">Kitty Cheshire</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/milkmaid_Luxianne.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Friend of the Fae</h3>
            <p><i>Times played with Jewdewfae:</i> <b>15</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a>

            <p>------------------</p>

            </p>

            <div id="more_jewdewfae_completions">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160795">Brayan Mccorkle III</a> (15)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159259">Marcella Prosser</a> (13)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (10)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159382">Terra Ward</a> (10)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159380">Lina Socorro</a> (9)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/164970">Genevieve Moen</a> (8)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160107">Morana Frae</a> (6)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159295">Guy Mackenzie</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/162076">Marcella Wharton II</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/160340">Kitty Mooney</a> (4)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/playful_imp_Indigo_Clardmond.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Nerrrrrd!</h3>
            <p><i>Tomes read:</i> <b>6</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a>

            <p>------------------</p>

            </p>

            <div id="more_lore_books_read">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a> (6)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159983">Aloysious Katt</a> (6)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/161442">Esther Hudgens</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159293">Tessa Harlow</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159588">Red Queen</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/164385">Piercea Shadowbloom</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160890">Alexis Le</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159259">Marcella Prosser</a> (2)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165323">Will Wolf</a> (2)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/elegant_gothic_stockings_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Rub Rub Rub</h3>
            <p><i>XP gained as an inanimate item:</i> <b>19,790</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159297">Queen 'of Stockings' Chrysalis</a>

            <p>------------------</p>

            </p>

            <div id="more_inanimateXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159297">Queen 'of Stockings' Chrysalis</a> (19,790)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159281">Fox Cross</a> (19,080)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159619">Kari Pink</a> (18,305)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159742">Latex Panties</a> (18,275)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159457">Rowan 'Silky Smooth' Lou</a> (17,615)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159328">Felucca Kitsu</a> (17,550)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159693">Marisa Rosales</a> (17,430)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/167059">Heather 'Magic Neko' Heart II</a> (15,510)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160445">Phoebe Stormbringer</a> (15,225)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159313">Elspeth North</a> (14,965)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/animalPortraits/Thumbnails/100/collared_lap_girl_Martiandawn.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Petter off this Way</h3>
            <p><i>XP gained as an pet.:</i> <b>19,788</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159291">Melina 'Lovely Lap Lavisher' Mercy</a>

            <p>------------------</p>

            </p>

            <div id="more_petXPEarned">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159291">Melina 'Lovely Lap Lavisher' Mercy</a> (19,788)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159377">Kiara Kitsu</a> (16,550)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159557">Jasmine Tibideaux</a> (16,305)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/160413">Britney Arellano</a> (14,070)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159453">Angela Giovanni</a> (13,353)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160474">Jo 'Jojo' Jarvis</a> (12,915)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159409">Xan Rosai</a> (12,190)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/161561">Marcus Aurelius</a> (12,025)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159426">Cabbitsu Shadow</a> (11,865)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159325">Iris Haas</a> (10,725)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Shop 'Til You Drop</h3>
            <p><i>Arpeyjis spent buying from Lindella:</i> <b>39,110</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (39,110)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a> (17,650)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (15,236)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159280">Lilith Valentine</a> (13,095)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (12,355)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (9,950)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159382">Terra Ward</a> (9,655)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (9,490)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/163532">Shelly Blank</a> (9,105)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165021">Aurora 'Squeakers' Ryall II</a> (8,983)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Soul Item Business Sense</h3>
            <p><i>Arpeyjis earned selling to Lindella:</i> <b>51,848</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a>

            <p>------------------</p>

            </p>

            <div id="more_lindella_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (51,848)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159395">Larissa Fay</a> (21,021)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (18,328)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159701">Indigo Clardmond</a> (17,952)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159501">Kirby Sanders</a> (16,241)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159399">Vivien Gemai</a> (15,975)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (15,652)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159280">Lilith Valentine</a> (13,913)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (13,704)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (13,579)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Miller</h3>
            <p><i>Arpeyjis spent buying from Wuffie:</i> <b>13,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_costs_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (13,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165021">Aurora 'Squeakers' Ryall II</a> (1,300)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (1,200)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (1,150)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (1,100)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (1,100)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159762">Valeria Easley</a> (700)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (650)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159301">Diana Pinetop</a> (650)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/164218">Donna Kirkpatrick</a> (600)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Puppy Power!</h3>
            <p><i>Most Arpeyjis earned selling to Lindella:</i> <b>6,495</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_wuffie_profit_amount">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (6,495)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (3,774)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159397">Faye Dollarhyde</a> (2,807)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/161008">Nero Buie</a> (2,291)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/166980">Melva Shadow III</a> (1,477)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/163532">Shelly Blank</a> (1,224)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159501">Kirby Sanders</a> (1,174)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/159478">Joe Hawthorne</a> (1,135)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/167170">Jessie Hogan II</a> (1,050)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/162067">Sam Drongynous</a> (1,020)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Looter</h3>
            <p><i>Dungeon artifacts found:</i> <b>20</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_artifacts_found">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (20)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (11)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159477">Kandis Gracia</a> (5)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/162986">Haley Jacobs</a> (4)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/161658">Lefen Means</a> (4)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (4)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160889">Tessa Devour</a> (3)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/160679">Sheri Lea III</a> (3)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/166688">Crissy Winter II</a> (3)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/nipple_tassels_Judoo.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Demonslayer</h3>
            <p><i>Dungeon demons defeated:</i> <b>12</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159678">Kima Paru</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_demons_defeated">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (12)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (4)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (4)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/162986">Haley Jacobs</a> (1)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160400">Yuki Night</a> (1)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/167541">Alex Bertram II</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/itemsPortraits/Thumbnails/100/licking_tongue_babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Assassin</h3>
            <p><i>Dungeon points stolen from victims:</i> <b>67</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_points_stolen">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (67)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/165021">Aurora 'Squeakers' Ryall II</a> (46)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/161299">Brianna Summers</a> (29)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/163532">Shelly Blank</a> (17)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (10)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160395">Raine Lei</a> (6)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/160921">Tiffany Gardenar</a> (2)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/166088">Elena Talbott II</a> (2)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/167498">Kamryn Frank</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/latex_dominatrix_Babblingfaces.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dungeon Crawler</h3>
            <p><i>Times moved in the dungeon.:</i> <b>1,821</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a>

            <p>------------------</p>

            </p>

            <div id="more_dungeon_movements">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (1,821)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (1,658)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (847)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/165858">Yullia Phsycho</a> (577)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/160889">Tessa Devour</a> (495)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159678">Kima Paru</a> (480)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159477">Kandis Gracia</a> (480)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160005">Brooke Padilla</a> (370)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/166891">Dona Ives</a> (363)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/161658">Lefen Means</a> (359)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/skyclad_witch_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Freeeeedom!</h3>
            <p><i>Times struggled back to an animate form:</i> <b>8</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160729">Oliver Thornton</a>

            <p>------------------</p>

            </p>

            <div id="more_times_struggled_free">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160729">Oliver Thornton</a> (8)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/161746">Rosea Linna</a> (7)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159983">Aloysious Katt</a> (6)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/166891">Dona Ives</a> (6)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/166258">Marietta Lind</a> (6)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/164956">Eryns Cockslave</a> (5)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159838">Gigi Muffins</a> (5)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/167058">Elinor Ruby</a> (5)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/166088">Elena Talbott II</a> (5)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/165564">Joshua Glasse</a> (5)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/hyperactive_ferret_girl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Maximally Transmogrified</h3>
            <p><i>Autoselftransmogrification Deflector Devices used:</i> <b>19</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a>

            <p>------------------</p>

            </p>

            <div id="more_transmogs_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (19)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159259">Marcella Prosser</a> (13)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/161590">Bea Sharpe</a> (11)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/160049">Elian Lara</a> (11)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159380">Lina Socorro</a> (11)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160679">Sheri Lea III</a> (9)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (8)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160107">Morana Frae</a> (8)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/164385">Piercea Shadowbloom</a> (8)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/159326">Luna Kitsu</a> (8)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/lazy_catgirl_Luxianne.jpg" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Call of the Covenant</h3>
            <p><i>Covenant Callback Crystals used:</i> <b>43</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a>

            <p>------------------</p>

            </p>

            <div id="more_callback_crystals_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/160867">Princess Cadance II</a> (43)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/166358">Misaki 'Tsundere' Yamato II</a> (2)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (2)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/159280">Lilith Valentine</a> (2)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159960">Eric Kemp</a> (1)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/159352">Veronica Palmer</a> (1)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/159259">Marcella Prosser</a> (1)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/163329">Jeannie Elttob</a> (1)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/159645">Wire Razor</a> (1)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/164467">Tamika Lillim</a> (1)
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4 stats-leader" style="height: 484px;">
            <img src="/Images/PvP/Icons/trophy.jpg" style="height:100px; width: 100px; margin: 3px; float:right;">
            <img src="/Images/PvP/portraits/Thumbnails/100/Omnibus_Meddle.png" style="height:100px; width: 100px; margin: 3px; float:left;">
            <h3 style="margin-top:110px !important;">Dollyamory</h3>
            <p><i>Willpower restored from using Inflatable Sex Dolls:</i> <b>20,000</b></p>
            <p>
                <a href="/PvP/LookAtPlayer/159588">Red Queen</a>

            <p>------------------</p>

            </p>

            <div id="more_dolls_used">
                <div>
                    <p>
                        1.  <a href="/PvP/LookAtPlayer/159588">Red Queen</a> (20,000)
                    </p>
                    <p>
                        2.  <a href="/PvP/LookAtPlayer/159286">Game Hound</a> (4,090)
                    </p>
                    <p>
                        3.  <a href="/PvP/LookAtPlayer/165617">Fuck You</a> (3,320)
                    </p>
                    <p>
                        4.  <a href="/PvP/LookAtPlayer/160139">Lucille Gainey</a> (3,150)
                    </p>
                    <p>
                        5.  <a href="/PvP/LookAtPlayer/159482">Jess 'Grinning' Ganes</a> (2,680)
                    </p>
                    <p>
                        6.  <a href="/PvP/LookAtPlayer/160574">Zel 'Taste of Defeat' Argentis</a> (1,830)
                    </p>
                    <p>
                        7.  <a href="/PvP/LookAtPlayer/163532">Shelly Blank</a> (1,625)
                    </p>
                    <p>
                        8.  <a href="/PvP/LookAtPlayer/160472">Victoria Kosch</a> (1,550)
                    </p>
                    <p>
                        9.  <a href="/PvP/LookAtPlayer/165021">Aurora 'Squeakers' Ryall II</a> (1,335)
                    </p>
                    <p>
                        10.  <a href="/PvP/LookAtPlayer/163489">Gogo Blackwater IV</a> (1,305)
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div id="topTypeList"></div>



</div>