
<h1>Abandon Quest</h1>

<p>Are you sure you want to abandon this quest?</p>

<br />

@Html.ActionLink("Yes, abandon this quest", "AbandonConfirm", "Quest")

<br /><br />

@Ajax.ActionLink("No!  Resume Quest", "Quest", "Quest", null, new AjaxOptions { UpdateTargetId = "quest", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "success", OnFailure = "fail", OnBegin = "waiting" }, new { @class = "" })