<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
                <li><a href="http://www.patreon.com/TransformaniaTimeGame">Transformania Time Patreon</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner">

    <h1>Help Keep Transformania Time Running!</h1>

    <h3 class="center-block donateButton"> <a href="http://www.patreon.com/TransformaniaTimeGame">I have created a Patreon page in order to help fund Transformania Time.  <br />Click here to visit Transformania Time's Patreon profile.</a> </h3>

    <h3>How does Patreon work?</h3>

    <p>Patreon is a crowdfunding site that allows people to donate monthly to content creators.  Unlike KickStarter it works on a repeating monthly payment, not a one-time donation.  Payments are known as pledges and they can be cancelled at any time or have maximum amounts set.  Patreon will send out a charge to pledgers on the 1st of each month (though it may take up until the 5th for everyone to have the charge delivered) and I will be able to collect all successfully charged pledges by the 5th of each month.</p>

    <h3>Why start accepting donations now?</h3>

    <p>Until the start of Alpha Round 11 the game was running on a shared server that cost a fairly minimal amount of money, nothing I couldn't handle out of my own pocket.  However, recent growth in the past month as well as more complex game features and calculations had begun to put a lot of strain on the server.  Additionally, because the game was hosted on a shared server, it was competing with dozens of other sites and databases for RAM, bandwidth, and CPU time.  This problem was highlighted with updates that used to take 15-30 seconds that began to take up to 6 minutes, which is a majority of a turn in the game.  Additionally, if the host detected that the usage of Transformania Time was deemed "unfair" to other people on the shared server, it could be suddenly and inexplicably shut down as happened inbetween Alpha Rounds 9 and 10, as many of you will recall.</p>

    <p>Effective at the start of Alpha Round 11 I transferred the game to a more powerful, dedicated server that is less susceptible to extraordinaryily long updates, random slowdowns and outages, and memory dumps (which causes everyone to get logged off at the same time.)  Server resources are allocated for Transformania Time and Transformania Time alone, meaning someone else's server consuming too many resources should not affect the game.  The plan I am using costs $120 per month if paid on a month-by-month basis or $100/mo on a yearly one.  Your money will help go to pay toward the server bills, as well as generally be a 'thank you' for the time I have spent developing.</p>

    <h3>What do I get from donating?</h3>

    <p>Right now Patreon is set up so that pledging $3 monthly will give you a small icon that will appear next to your player portrait that indicates you are a donator.  Pledging $7 monthly will allow you to set yourself a nickname at any time.  Pleding $12 will allow you to keep 500 messages in your inbox at a time as well as prevent your messages older than 72 hours from being automatically deleted at turn updates.  <b>Please send me a message on Patreon with your current player name AND account name so I can assign this reward out appropriately.</b></p>

    <p>As Patreon is set up as a reocurring monthly payment, benefits last as long as the pledge remains active and as long as Patreon is able to successfully make the charge.  Payment processing typically runs between the first and fifth of each month; expect us to update the donator list shortly afterward.</p>

    <h3>Is there going to be an item store?  Does this mean the game is going to be Pay-To-Win?</h3>

    <p>No.  Unfortunately (or for many players sick of the pay-to-win freemium model, fortunately) there will be no direct ingame advantage to pledging.</p>

    <h3>What about Transformania Time's contributors?</h3>

    <p>A significant portion of Transformania Time's popularity and success to date has come from the many contributors who have submitted spells, artwork, proofreading, advice, techical assistance, and plenty more.  Some authors and artists have earned money from creating content for the game; however, this has been done primarily by third parties and not by myself or anyone on the Transformania Time team.  (As of January 18, two artists have recieved direct payments for their graphics used in the game and some has been sent to Mizuho for his front-end development work on the site.)  <b>There is no formal policy about who receives payment; artwork for spells is done on a donation basis, although artists will be permitted to create expanded biographies where they can state their comission status and show off all of their ingame artwork.  This policy will continue in the future.</b>  However, as long as enough pledges are collected in a monthly cycle, enough such that server costs are no longer a concern, I will distribute back out some of the proceeds to the major content contributors who have done the most to fill the game with content.  This will be at my own discretion, but I will do my best to be as fair as possible.</p>

    <p><b>I very much encourage you all to consider tossing some money at the content contributors directly if you feel like it.</b>  You can see a bunch of contributors on the bottom of the Game News / Updates page and contributors who have bios written up will have all of their contributed spells listed at the bottom of that page.</p>

    <h3>What's the difference between the amount pledged and the amount collected?</h3>

    <p>There's a few differences between the monthly amount pledged on the front page of the Patreon profile and what I am actually able to collect.  Various factors chip away at the raw pledge amount.  Most notable is that Patreon takes a 5% cut of all intake--that's $5 out of every $100.  Second, each credit card processed by Patreon has a small transaction fee that is taken out of the money I collect when they have been processed.  Third, not every pledge will necessarily be collected as some credit cards may be declined or the pledge will be made too late in the month to be included in the cards that are processed between the 1st and 5th of the month.</p>

    <h3>What other uses could pledges be used for?</h3>

    <p>
        Money collected from pledges might be used in the following ways:
        <ul>
            <li>Specialized graphics comissions, artwork used in parts of the site OTHER than animate form / item portraits.  Primarily this means promotional material.<br /></li>
            <li>Comissions / reimbursement for community-chosen artists.  Authors and artists who have eight contributions to the game are eligible to have custom starting animate forms.  If the author or artist is not able to provide their own graphic, I will use leftover funds and send it as comission money to the artist of their choice to provide it.  (These will be in the ~$50 range and the artist must already have provided at least some content for the game to be eligible.)<br /></li>
            <li>Front end development.  I focus mainly on adding new features in back end code.  Mizuho is the front-end dev who makes the site look good and work on a variety of devices and as he and Luxianne are currently living off of comissions I would like to make it worth his time to help Transformania Time out.<br /></li>
        </ul>
    </p>

    <h3>Monthly Collections</h3>

    <p><b>September to October 2014</b>:<br />  $69.60 collected.  $78.00 was pledged with $4.50 going to credit card fees and Patreon taking a $3.90 cut.</p>

    <p><b>October to November 2014</b>:<br />  $137.74 collected.  $154.00 was pledged with $8.56 going to credit card fees and Patreon taking a $7.70 cut.</p>

    <p><b>November to December 2014</b>:<br />  $169.28 collected.  $189.00 was pledged with $10.27 going to credit card fees and Patreon taking a $9.45 cut.</p>

    <p><b>December to January 2014-2015</b>:<br />   $245.37 collected.  $289.00 was pledged by 35 patreons.  $281 was processed with $15.38 going to credit card fees and Patreon taking a $14.05 cut.</p>

    <p><b>January to February 2015</b>:<br />   $258.93 collected. $301.00 was pledged by 38 patrons.  $282.00 was processed with $8.97 going to credit card fees and Patreon taking a $14.10 cut.</p>

    <p><b>February to March 2015</b>:<br />  $248.11 collected.  $288.00 was pledged by 37 patrons.  $277.00 was processed with $15.04 going to credit card fees and Patreon taking a $13.85 cut.</p>


</div>