<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>

<h1>Help Keep Transformania Time Running!</h1>

<h3>I have created a <a href="http://www.patreon.com/TransformaniaTimeGame">Patreon page</a> in order to help fund Transformania Time.</h3>

<h3>How does Patreon work?</h3>

<p>Patreon is a crowdfunding site that allows people to donate monthly to content creators.  Unlike KickStarter it works on a repeating monthly payment, not a one-time donation.  Payments are known as pledges and they can be cancelled at any time or have maximum amounts set.  Patreon will send out a charge to pledgers on the 1st of each month (though it may take up until the 3rd for everyone to have the charge delivered) and I will be able to collect all successfully charged pledges on the 5th of each month.  Patreon takes a 5% cut, which is $5 out of each $100.</p>

<h3>Why start accepting donations now?</h3>

<p>Until the start of Alpha Round 11 the game was running on a shared server that has costed a fairly minimal amount of money, nothing I couldn't handle out of my own pocket.  However, recent growth in the past month as well as more complex game features and calculations had begun to put a lot of strain on the server.  Additionally, because the game was hosted on a shared server, it was competing with dozens of other sites and databases for RAM, bandwidth, and CPU time.  This problem has been highlighted recently with updates that used to take 15-30 seconds that are now taking up to 6 minutes, which is a majority of a turn in the game.  Additionally, if the host detects that the usage of Transformania Time is deemed "unfair" to other people on the shared server, it could be suddenly and inexplicably shut down as happened inbetween Alpha Rounds 9 and 10, as many of you will recall.</p>

<p>Effective at the start of Alpha Round 11 I transferred the game to a more powerful, dedicated server that will be less susceptible to extraordinaryily long updates, random slowdowns and outages, and memory dumps (which causes everyone to get logged off at the same time.)  Resources will are allocated for Transformania Time and Transformania Time alone, meaning someone else's server consuming too many resources should not affect mine.  The plan I am using costs $120 per month if paid on a month-by-month basis or $100/mo on a yearly one.  Your money will help go to pay toward the server bills, as well as generally be a 'thank you' for the time I have spent developing.</p>

<h3>What do I get from donating?</h3>

<p>Right now Patreon is set up so that pledging $3 monthly will give you a small icon that will appear next to your player that indicates you are a donator.  Pleding $7 monthly will allow you to set yourself a nickname at any time.  Pleding $12 will allow you to keep 500 messages in your inbox at a time as well as not have messages older than 72 hours automatically deleted at turn update.  Please send me a message on Patreon with your current player name AND account name so I can assign this reward out appropriately.</p>

<h3>Is there going to be an item store?  Does this mean the game is going to be Pay-To-Win?</h3>

<p>No.  Unfortunately there will be no direct ingame advantage to pledging.</p>

<h3>What about Transformania Time's contributors?</h3>

<p>A significant portion of Transformania Time's popularity and success to date has come from the many contributors who have submitted spells, artwork, proofreading, advice, and plenty more.  Some authors and artists have earned money from creating content for the game; however, this has all been done strictly by third parties and no artist has received any money from Transformania Time directly.  <b>Formally this policy will continue in the future.</b>  However, if enough pledges can be collected in a monthly cycle, enough such that server costs are no longer a concern, I will distribute back out some of the proceeds to the major content contributors who have done the most to fill the game with content.  This will be at my own discretion, but I will do my best to be as fair as possible.</p>

<p><b>I very much encourage you all to consider tossing some money at the content contributors directly if you feel like it.</b>  You can see a bunch of contributors on the bottom of the Game News / Updates page and contributors who have bios written up will have all of their contributed spells listed at the bottom of that page.  You can also see the websites and artwork of some contributors on <a href="http://transformania-time.com.plumeria.arvixe.com/Contribution/ContributorBioList">here</a> (I am planning on changing that area of the site around a bit so all active contributors can set up and manage their own profiles.) </p>

<h3>What other uses could pledges be used for?</h3>

<p>There are currently two longer-term goals I am aiming for at the moment including registering a domain for the game and potentially hiring someone on part-time to assist in front-end development (CSS and styling.)</p>

<h3>Monthly Collections</h3>

<p><b>September to October 2014</b>:  $69.60 collected.  $78.00 was pledged with $4.50 going to credit card fees and Patreon taking a $3.90 cut.</p>

<p><b>October to November 2014</b>:  $137.74 collected.  $154.00 was pledged with $8.56 going to credit card fees and Patreon taking a $7.70 cut.</p>

<p><b>November to December 2014</b>:  $169.28 collected.  $189.00 was pledged with $10.27 going to credit card fees and Patreon taking a $9.45 cut.</p>

<p><b>December to January 2014-2015</b>:   $245.37 collected.  $289.00 was pledged by 35 patreons.  $281 was processed with $15.38 going to credit card fees and Patreon taking a $14.05 cut.</p>

<p>
    @Html.ActionLink("Back to game", "Play", "PvP")
</p>