<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Back to game", "Play", "PvP")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner">
    <h1>Polls</h1>

    <p>Periodically the game will open up new polls to gather player feedback.  Your responses are greatly appreciated.</p>

    <h2>Open</h2>

    <ul>
        <li> @Html.ActionLink("Tell us about yourself!", "ViewPoll", "Settings", new { id = 2 }, null)</li>
    </ul>

    <h2>Open Poll Results</h2>

    <ul>
        <li>@Html.ActionLink("Tell us about yourself!", "PollResults", "Settings", new { id = 2 }, null)</li>

    </ul>

    <h2>Closed Poll Results</h2>

    <ul>
        <li>@Html.ActionLink("What features would you like to see be added to the game the most?  How did you feel about Alpha Round 12's turn length?", "PollResults", "Settings", new { id = 1 }, null)</li>
    </ul>

    <ul>
        <li></li>
    </ul>
</div>