@{
    ViewBag.Title = "Moderator";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
}

    <div class="containerInner pvpAdmin">
        <h1>Moderator</h1>
        <a href="@Url.Action(MVC.Moderator.ViewAbusiveMessages())">View Abusive Messages</a><br>
        <a href="@Url.Action(MVC.Moderator.ViewReports())">View Player Reports</a><br>
    </div>