@using TT.Domain.Statics
@model TT.Domain.World.DTOs.WorldDetail

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li>...</li>
}

<div class="containerInner">
    <h1>Change Round Name/Number</h1>
    <p>The name of the current round can be changed here. All statistics stats will be recorded under this round name/number so DO NOT CHANGE in the middle of the round or it will break achievements and statistics tracking!  Therefor this command is only availble in chaos mode at either turn 0 or the highest possible turn number.</p>

    @using (Html.BeginForm(MVC.PvPAdmin.SendChangeRound(), FormMethod.Post))
    {

        if (!Model.ChaosMode)
        {
            <p class="bad">The game is not in chaos mode.</p>
        }

        if (Model.TurnNumber != 0 && Model.TurnNumber != PvPStatics.RoundDuration)
        {
            <p class="bad">The game is not in turn 0 or the maximum turn!</p>
        }

        @Html.AntiForgeryToken()

        @Html.TextBoxFor(m => m.RoundNumber)<br/>

        <br>
        <input type="submit" class="btn btn-chat" value="Send" />
    }

</div>