@model TT.Domain.ViewModels.PublicBroadcastViewModel

<div class="containerInner">
    <h1>Change News date</h1>

    @using (Html.BeginForm(MVC.PvPAdmin.ChangeGameDateSend(), FormMethod.Post))
    {
        @Html.TextAreaFor(m => m.Message)
        <br />
        <input type="submit" class="btn btn-chat" value="Send" />
    }
</div>