@using TT.Domain.Statics
<h1>Missing thumbnails report</h1>
@{
    var strImagesPath = AppDomain.CurrentDomain.BaseDirectory + PvPStatics.ImageFolder;
    var strCurPath = "";
    int iNumMissing;
}
<h2>Animates</h2>
    <ul>
@{
    strCurPath = strImagesPath + "portraits/";
    iNumMissing = 0;
    var files = Directory.EnumerateFiles(strCurPath);
    foreach(var file in files) {
        if (!File.Exists(strCurPath + "Thumbnails/100/" + file.Substring(strCurPath.Length)))
        {
            <li>@file.Substring(strCurPath.Length)</li>
            iNumMissing++;
        }
    }
    if (iNumMissing == 0)
    {
        <li>No missing thumbnails</li>
    }
}
     </ul>
<h2>Pets</h2>
<ul>
@{
    strCurPath = strImagesPath + "animalPortraits/";
    iNumMissing = 0;
    files = Directory.EnumerateFiles(strCurPath);
    foreach (var file in files)
    {
        if (!File.Exists(strCurPath + "Thumbnails/100/" + file.Substring(strCurPath.Length)))
        {
            <li>@file.Substring(strCurPath.Length)</li>
            iNumMissing++;
        }
    }
    if (iNumMissing == 0)
    {
        <li>No missing thumbnails</li>
    }
}

</ul>
<h2>Inanimates</h2>
<ul>
@{
    strCurPath = strImagesPath + "itemsPortraits/";
    iNumMissing = 0;
    files = Directory.EnumerateFiles(strCurPath);
    foreach (var file in files)
    {
        if (!File.Exists(strCurPath + "Thumbnails/100/" + file.Substring(strCurPath.Length)))
        {
            <li>@file.Substring(strCurPath.Length)</li>
            iNumMissing++;
        }
    }
    if (iNumMissing == 0)
    {
        <li>No missing thumbnails</li>
    }
}

</ul>