<p class="infoMessage error">This is page for testing random features. If you somehow came here Kevin, please get out.</p>

<!-- Button trigger modal -->
<button type="button" class="attackLink" data-toggle="modal" data-target="#myModal">Interact</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Pet Actions</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn petActionLink" data-dismiss="modal">Lick (<span class="petActionGood">+WP</span>)</button><br>
                <button type="button" class="btn petActionLink" data-dismiss="modal">Nuzzle (<span class="petActionGood">+MP</span>)</button><br>
                <hr>
                <button type="button" class="btn petActionLink" data-dismiss="modal">Snarl (<span class="petActionBad">-WP</span>)</button><br>
                <button type="button" class="btn petActionLink" data-dismiss="modal">Headbutt (<span class="petActionBad">-MP</span>)</button><br>
            </div>
        </div>
    </div>
</div>