@model IEnumerable<TT.Domain.Models.ServerLog>

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.PvPAdmin.Index())">Back to Admin</a></li>
}

<div class="containerInner">
    @{
        foreach (var sl in Model)
        {
            <div style="border: 1px solid black; padding: 2px; height: 18px; position: relative; float: left; background-color:@sl.GetErrorColor()">
                <a href="@Url.Action(MVC.PvPAdmin.ViewServerLog(sl.TurnNumber))">Turn @sl.TurnNumber</a>
            </div>
        }
    }
</div>