<table>

    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Covenant</th>
            <th>Form</th>
            <th>Mobility</th>
            <th>Level</th>
            <th>XP</th>
        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62922">Lucy Gautreau</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                749.25
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62944">Pussy Pet</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Fearsome Futa
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                11
            </td>
            <td>
                111.47
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63003">Will Wolf</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Slutty Nurse
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                480.38
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62736">Camren Doss</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                399.96
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62694">Tonia Caldwell</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The World Conquest Guild</b></span>
            </td>
            <td>
                Raver Cat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                252.98
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62768">Auly Jua</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                11.80
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62682">Liahnna Verrill</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Mincing Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                9.34
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63299">Kirby Sanders</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                10
            </td>
            <td>
                6.36
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62789">Harley Watt</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                865.65
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62726">Nuntis Sol</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                White Tiger
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                9
            </td>
            <td>
                739.50
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64644">Tim Grady</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                409.30
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65401">Gaia Hoang</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Transformation League</b></span>
            </td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                369.78
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62797">Hanna Patterson</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Chaotic Jester
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                360.87
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62680">Alexander 'Sugar' Dantes</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sultans of Swing</b></span>
            </td>
            <td>
                Fennec Fox
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                9
            </td>
            <td>
                337.63
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62847">Bella Donnah</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Donkey Dominatrix
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                244.02
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62755">Grace Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Shy Sheep Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                219.37
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62792">Nymm Belle</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                78.99
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63362">Brett Crenshaw</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Flirty Olive-Skinned Barmaid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                31.70
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62693">Lee Reeves</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                22.26
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62870">Tiger Joe</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Black Silk Pants
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                9
            </td>
            <td>
                16.89
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62920">Anastasia Teeter</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                9
            </td>
            <td>
                12.18
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63015">Kash Albritton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Chosen of mother</b></span>
            </td>
            <td>
                Tempting Teacher
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                802.82
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63214">Alle Blue</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                737.52
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64656">Mallory Dyson</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                661.94
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63025">Zel Argentis</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sultans of Swing</b></span>
            </td>
            <td>
                Cuddly Pocket Goo Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                8
            </td>
            <td>
                657.20
            </td>
        </tr>
        <tr>
            <td>
                26
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63538">Emi Frond</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                650.34
            </td>
        </tr>
        <tr>
            <td>
                27
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65927">Karen Buss</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Buxom Gummy Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                626.00
            </td>
        </tr>
        <tr>
            <td>
                28
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64741">Vishida Amora</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Subjects of the Red Queen</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                610.61
            </td>
        </tr>
        <tr>
            <td>
                29
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63278">Creepy Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Flirty Tied Crop Top
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                581.99
            </td>
        </tr>
        <tr>
            <td>
                30
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65681">Alexis Wells</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Transformation League</b></span>
            </td>
            <td>
                Girl Taur
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                505.30
            </td>
        </tr>
        <tr>
            <td>
                31
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63318">Manly Man</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Muscular Minotaur
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                490.53
            </td>
        </tr>
        <tr>
            <td>
                32
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/66075">Autumn Gunn</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Chaotic Jester
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                456.42
            </td>
        </tr>
        <tr>
            <td>
                33
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62801">Jess 'Care-free' Ganes</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                438.85
            </td>
        </tr>
        <tr>
            <td>
                34
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62738">Lilith Valentine</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                418.93
            </td>
        </tr>
        <tr>
            <td>
                35
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63653">Richard Johnson</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                398.60
            </td>
        </tr>
        <tr>
            <td>
                36
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64730">Christine Gatsby</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Transformation League</b></span>
            </td>
            <td>
                Fearsome Futa
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                361.37
            </td>
        </tr>
        <tr>
            <td>
                37
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63159">Tarsis Asset</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Chaotic Jester
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                320.97
            </td>
        </tr>
        <tr>
            <td>
                38
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65530">Umiko Amagi</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Hedonistic Fembot
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                216.16
            </td>
        </tr>
        <tr>
            <td>
                39
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64176">Rachael Winston</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Great Fairy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                207.71
            </td>
        </tr>
        <tr style="background-color: pink;">
            <td>
                40
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62676">Artemis Lashley</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Count Cuddles Plush Bear
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                188.93
            </td>
        </tr>
        <tr>
            <td>
                41
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63453">Lucile Clanton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                171.85
            </td>
        </tr>
        <tr>
            <td>
                42
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62808">Thomas Blackman</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The World Conquest Guild</b></span>
            </td>
            <td>
                Lover's Gift Heart Thong
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                161.70
            </td>
        </tr>
        <tr>
            <td>
                43
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63748">Livia Victor</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                142.61
            </td>
        </tr>
        <tr>
            <td>
                44
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62830">Cole 'Slayer of Vampires' Kurz</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Greasy Goblin Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                136.31
            </td>
        </tr>
        <tr>
            <td>
                45
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62678">Kevin Portalz</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Torchwood</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                132.13
            </td>
        </tr>
        <tr>
            <td>
                46
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62958">Felucca Oalm</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Inflatable Sex Doll
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                8
            </td>
            <td>
                124.36
            </td>
        </tr>
        <tr>
            <td>
                47
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62689">Elyn Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sultans of Swing</b></span>
            </td>
            <td>
                Gothic Bat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                102.88
            </td>
        </tr>
        <tr>
            <td>
                48
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64413">Lulu Vega</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Harbingers of the Bimbocalypse</b></span>
            </td>
            <td>
                Bimbonic Plague-Bearer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                91.98
            </td>
        </tr>
        <tr>
            <td>
                49
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62984">Nick Price</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Transformation League</b></span>
            </td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                77.46
            </td>
        </tr>
        <tr>
            <td>
                50
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62697">Cecilia Welch</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                38.93
            </td>
        </tr>
        <tr>
            <td>
                51
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/66137">Tatsumi Star</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The World Conquest Guild</b></span>
            </td>
            <td>
                Shy Sheep Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                8
            </td>
            <td>
                15.27
            </td>
        </tr>
        <tr>
            <td>
                52
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62691">Parker Page</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sultans of Swing</b></span>
            </td>
            <td>
                Intergalactic Prostitute
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                695.55
            </td>
        </tr>
        <tr>
            <td>
                53
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62804">Ray Grisham</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Fuzzy Moth Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                621.47
            </td>
        </tr>
        <tr>
            <td>
                54
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63218">Yshaan Tamori</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Daunting Dollmaker
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                620.14
            </td>
        </tr>
        <tr>
            <td>
                55
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62894">Espa Levesque</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The World Conquest Guild</b></span>
            </td>
            <td>
                Lovely Latex Corset
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                542.17
            </td>
        </tr>
        <tr>
            <td>
                56
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63411">James Walker</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Tempting Teacher
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                531.93
            </td>
        </tr>
        <tr>
            <td>
                57
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63731">Nerati Sua</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Sultans of Swing</b></span>
            </td>
            <td>
                Egyptian Priestess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                498.93
            </td>
        </tr>
        <tr>
            <td>
                58
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62735">Desire Matthews</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Fennec Fox
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                434.43
            </td>
        </tr>
        <tr>
            <td>
                59
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63722">Kaya Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                418.89
            </td>
        </tr>
        <tr>
            <td>
                60
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62695">Joe Hawthorne</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Wizard's Wand
            </td>
            <td>
                <span style="color: red">Inanimate</span>

            </td>

            <td>
                7
            </td>
            <td>
                387.98
            </td>
        </tr>
        <tr>
            <td>
                61
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64083">Sally Angelo</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Great Fairy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                379.69
            </td>
        </tr>
        <tr>
            <td>
                62
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63744">Monica Steele</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Kitsu Shrine Maiden</b></span>
            </td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                375.20
            </td>
        </tr>
        <tr>
            <td>
                63
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65543">Elliot Montez</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                358.38
            </td>
        </tr>
        <tr>
            <td>
                64
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64912">Brook Duran</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Ice Queen
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                313.11
            </td>
        </tr>
        <tr>
            <td>
                65
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/65436">Rae Herrera</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Big Burly Brute
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                300.55
            </td>
        </tr>
        <tr>
            <td>
                66
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63539">Aveon Kunkel</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Dapper Charmer
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                285.53
            </td>
        </tr>
        <tr>
            <td>
                67
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63034">Reid 'Bitch Boi' Woodell</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Fembois FTW</b></span>
            </td>
            <td>
                Incubus Servent Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                264.16
            </td>
        </tr>
        <tr>
            <td>
                68
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62684">Kaitlyn 'Airy' Halliwell</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Skyclad Witch
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                255.12
            </td>
        </tr>
        <tr>
            <td>
                69
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63408">Adam Hartwell</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Dick-Loving Slut
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                244.62
            </td>
        </tr>
        <tr>
            <td>
                70
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63174">Leina Ios</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Gothic Bat Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                243.09
            </td>
        </tr>
        <tr>
            <td>
                71
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63181">Mya Ilki</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Shy Sheep Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                238.62
            </td>
        </tr>
        <tr>
            <td>
                72
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62931">Chris Crass</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Fembunni
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                234.89
            </td>
        </tr>
        <tr>
            <td>
                73
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62968">Berverly Teal</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>In Victus</b></span>
            </td>
            <td>
                Seductive Vampire
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                226.12
            </td>
        </tr>
        <tr>
            <td>
                74
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63647">Pepe Rosser</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                219.59
            </td>
        </tr>
        <tr>
            <td>
                75
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63062">Josselyn Fay</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Buxom Gummy Woman
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                206.32
            </td>
        </tr>
        <tr>
            <td>
                76
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/66000">Yuki Lily</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Hedonistic Fembot
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                201.72
            </td>
        </tr>
        <tr>
            <td>
                77
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63007">Aidyn Bright</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Were-Leopardess
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                168.66
            </td>
        </tr>
        <tr>
            <td>
                78
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63790">Edwin Wolfe</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Spell Collectors Guild</b></span>
            </td>
            <td>
                Chaotic Jester
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                157.52
            </td>
        </tr>
        <tr>
            <td>
                79
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/66033">Hikaru Blumenkranz</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Sunnyglade Brigade Magic Fighter
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                112.26
            </td>
        </tr>
        <tr>
            <td>
                80
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62745">Taenil Auxifur</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>International Canis Alliance</b></span>
            </td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                112.05
            </td>
        </tr>
        <tr>
            <td>
                81
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/64606">Puyo Hakurei</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Monster Musume Guntai</b></span>
            </td>
            <td>
                Alraune
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                108.79
            </td>
        </tr>
        <tr>
            <td>
                82
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62989">Circine Milton</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Milton Family</b></span>
            </td>
            <td>
                Regular Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                107.00
            </td>
        </tr>
        <tr>
            <td>
                83
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62700">Tsubaki Mizu</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Valentine Family</b></span>
            </td>
            <td>
                Shiny Robot Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                97.80
            </td>
        </tr>
        <tr>
            <td>
                84
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62685">Shelly Kitsu</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Kitsune Shrine Maiden
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                94.44
            </td>
        </tr>
        <tr>
            <td>
                85
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62913">Frank Nix</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Bitch in Heat
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                93.42
            </td>
        </tr>
        <tr>
            <td>
                86
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62769">Natalyn Krebs</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Captivating Siren
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                83.04
            </td>
        </tr>
        <tr>
            <td>
                87
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62873">Sarah Daly</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Impossibly Big-Breasted Lady
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                63.44
            </td>
        </tr>
        <tr>
            <td>
                88
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62950">Jordan Douglas</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                49.10
            </td>
        </tr>
        <tr>
            <td>
                89
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62692">Maeve Morrigan</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                12.21
            </td>
        </tr>
        <tr>
            <td>
                90
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62826">Juva 'Pussy Petals' Daent</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Incubus Servent Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                9.10
            </td>
        </tr>
        <tr>
            <td>
                91
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/67020">Rukki Dye</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Iniquitous Omnibus
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                7.06
            </td>
        </tr>
        <tr>
            <td>
                92
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63260">Sonny Skywalker</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Distractible Squirrel Maid
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                4.47
            </td>
        </tr>
        <tr>
            <td>
                93
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63131">Kit Kelly</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Willing Wish-giver
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                7
            </td>
            <td>
                4.38
            </td>
        </tr>
        <tr>
            <td>
                94
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/66143">Gunther Rohr</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Milton Family</b></span>
            </td>
            <td>
                Hung Stallion
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                7
            </td>
            <td>
                3.11
            </td>
        </tr>
        <tr>
            <td>
                95
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62739">River Durand</a>
                <span class="icon icon-female"></span>

            </td>
            <td>
                <span class="covRptName"><b>The Corrupted Bimbos of Lucy Fern</b></span>
            </td>
            <td>
                Collared Lap Girl
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                549.00
            </td>
        </tr>
        <tr>
            <td>
                96
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63664">Florus Roddy</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Pig Girl
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                525.59
            </td>
        </tr>
        <tr>
            <td>
                97
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63187">Rayden Wiese</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Brainwashed Bitch
            </td>
            <td>
                <span style="color: red">Animal</span>

            </td>

            <td>
                6
            </td>
            <td>
                479.29
            </td>
        </tr>
        <tr>
            <td>
                98
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63343">Fulvius Coy</a>
                <span class="icon icon-male"></span>

            </td>
            <td></td>
            <td>
                Regular Guy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                476.20
            </td>
        </tr>
        <tr>
            <td>
                99
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/62878">Jessie Angels</a>
                <span class="icon icon-male"></span>

            </td>
            <td>
                <span class="covRptName"><b>Daughters of Ceridwen</b></span>
            </td>
            <td>
                Feminine Slut Boy
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                473.61
            </td>
        </tr>
        <tr>
            <td>
                100
            </td>
            <td>
                <a href="/PvP/LookAtPlayer/63361">Koumori Yurei</a>
                <span class="icon icon-female"></span>

            </td>
            <td></td>
            <td>
                Sunnyglade Brigade Magic Fighter
            </td>
            <td>
                <span style="color: green">Animate</span>

            </td>

            <td>
                6
            </td>
            <td>
                467.72
            </td>
        </tr>

    </tbody>



</table>