<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- Feature Toggles -->
  <add key="Features.Chat.V2" value="false"/>

  <add key="recaptchaPublicKey" value="insert site key here" />
  <add key="recaptchaPrivateKey" value="insert secret key here" />
  <add key="recaptchaApiVersion" value="2" />
  
</appSettings>