<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- Feature Toggles -->
  <add key="Features.Chat.V2" value="false"/>
  <add key="Features.Misc.AprilFools2016" value="false"/>
</appSettings>