<!-- Copy this file to MachineKey.config to set the machine key
            ********************************************************
            *** DO NOT CHECK MachineKey.config INTO GIT! ***
            ********************************************************
-->
<machineKey
  validationKey="AutoGenerate,IsolateApps"
  decryptionKey="AutoGenerate,IsolateApps"
/>