<rules>
    <clear />
    <!-- Uncomment if behind CloudFlare -->
    <!--
    <rule name="Replace REMOTE_ADDR with HTTP_CF_CONNECTING_IP">
        <match url=".*" />
        <conditions>
            <add input="{HTTP_CF_CONNECTING_IP}" pattern=".+" />
        </conditions>
        <serverVariables>
            <set name="REMOTE_ADDR" value="{HTTP_CF_CONNECTING_IP}" />
        </serverVariables>
        <action type="None" />
    </rule>
    -->
</rules>
