@model List<TT.Domain.Models.DbStaticItem>

<div>
    <h1>Animate Forms</h1>

    <button id="closeModal" onclick="hideModal()">Close</button>

    <table id="modalTable" style="width: 100%;">
        <thead>
            <tr>
                <td>Id</td>
                <td><b>Name as seen ingame</b></td>
                
                <td>
                    <b>Paste this text to contribution form</b>
                </td>
                <td><b>Unique?</b></td>
            </tr>
        </thead>
        <tbody>

            @foreach (TT.Domain.Models.DbStaticItem f in Model.OrderBy(f => f.FriendlyName))
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.FriendlyName</td>
                    
                    <td>@f.dbName</td>

                    @{
                if (f.IsUnique)
                {
                    <td>Y</td>
                }
                else
                {
                    <td></td>
                }
                    }

                </tr>
            }

        </tbody>
    </table>

    <button id="closeModal" onclick="hideModal()">Close</button>

</div>



<style>
 

    tr {
        border: 1px solid black;
    }
</style>

<script>
    try {
        $('#modalTable').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });

        $('#modalTableItemsPets').dataTable({
            "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]]
        });
    } catch (e) {

    }

    function hideModal() {
        $("#modal").hide();
    }

</script>