<nav class="navbar navbar-default outsideContainer navbarTT2">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
                <li><a href="@Url.Action(MVC.Info.HowToPlay())">How to Play</a></li>
                <li><a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="containerInner textSpaced faqQuestions">
    <h1>Frequently Asked Questions</h1>
    <h2>General Questions</h2>

    <p><b><i>Q:  What is Transformania Time?</i></b></p>
    <p>A:  Transformania Time (often abbreviated TT for short) is a multiplayer browser-based game with primarily transformation-related themes, including TG (transgender), BE (breast expansion), inanimation (turning someone into an inanimate object), animal / anthro transformations, mind control, and more.  Many parts of the game both in text and artwork contain adult content.</p>

    <p><b><i>Q:  What themes does the game NOT have?</i></b></p>
    <p>A:  Transformania Times does not include AR (age regression) younger than 18 due to the sexual contents of the game.</p>

    <p><b><i>Q:  Who works on TT?</i></b></p>
    <p>A:  Transformania Time currently (as of January 2016) has five developers:</p>
    
    <ul>
        <li><a href="http://joodoo.deviantart.com/">Judoo</a></li>
        <li><a href="http://luxianne.deviantart.com/">Mizuho</a> of <a href="http://luxianne.com/site/">Luxianne.com</a></li>
        <li>Arrhae</li>
        <li>Tempest</li>
        <li>Eric Force</li>
    </ul>

    <p>Former Developers / Developers on Hiatus:</p>

    <ul>
        <li><a href="https://www.furaffinity.net/user/mezaron">Mezaron</a></li>
    </ul>
    
     <p>Arrhae, Tempest, Eric Force and I (Judoo) work mainly on back end code and running the server, which means we're usually coding in new functionality to the game and fixing bugs. Mizuho focuses primarily on front end development, styling the game and making it work on a variety of different devices.<br /></p>

    <p><b><i>Q:  What was Transformania Time inspired by?</i></b></p>
    <p>A:  TT has a number of different inspirations.  One inspiration is a transformation-themed flash game called "Wizard's School" (sadly I can't track down a link right now), and another is a Create-Your-Own-Transformation (CYOT) story chain where a school for young witches required everyone to inanimate at least one classmate in a battle-royale environment.  This CYOT story was from the old <a href="http://tf-media.net">tf-media.net</a> site run by the TFGuy.  Unfortunately all the submissions for that story were lost when the site closed and have not been restored when it reopened early 2014.<br /></p>

    <p><b><i>Q:  How much time do you work on Transformania Time a week?</i></b></p>
    <p>A:  I typically spend between five and twenty hours a week working on Transformania Time per week, depending on various factors going on in my life.  I work a regular full time day job; Transformania Time is what I work on when I come home to relax and have fun.</p>

    <p><b><i>Q:  How long has Transformania Time been in development?</i></b></p>
    <p>A:  I began work on Transformania Time in February 2014 and released it as a closed alpha in March.  The alpha was publicly released later in the month.</p>

    <p><b><i>Q:  How long will the game be in an alpha test mode?  What happens once it enters beta?</i></b></p>
    <p>A:  The game will be in alpha as long as the game's core features remain a work in progress or yet to be started on.  I don't have any set time for when alpha is out; the policy is more or less "it's done when it's done".  Being in alpha means that new features might enter the game at any time in a round and as always this means there's always the chance of something going wrong, a new exploit or bug that impacts the game or causes strategies to become more or less useful.  New features will generally be kept on a test server for players to play around with but only for a few days at most.  When the game leaves alpha it will enter a beta state that will focus mainly on fixing bugs and polishing / optimizing the game; new features will not be introduced on the live server until the start of a new round.</p>

    <p><b><i>Q:  What techologies does Transformania Time use?</i></b></p>
    <p>A:  TT is written using C# ASP.Net and uses Entity Framework and SignalR.</p>

    <p><b><i>Q:  Is TT open source?  Can I help code it?</i></b></p>
    <p>A:  Transformania Time's code is freely available to clone and deploy on a private server.  You can view the full source code for the game and clone it from its <a href="https://gitlab.com/transformania/tt-game">GitLab repository</a>.  Inquire with myself (Judoo) or another developer for access to the TT slack development channel for more information.  The development team listed above will need to approve your code submitted as a Merge Request (similar to GitHub's Pull Request feature) before entering the code base.  <b>However</b> we ask yo do not redistribute the spells or artwork for anything beyond personal local testing due to the fact the respect artists and authors own that content and have not granted use of such outside of the transformania time domain.</p>

    <p><b><i>Q:  Are there other ways I can help TT?</i></b></p>
    <p>A:  If you are an author, you can use the Contribution system to write new spells for the game.  If you are an artist, you can send in artwork to be used for the graphics of the contributed spells.  We can also always use proofreaders to fix spelling and grammar mistakes for spells and various text throughout the game.  You can also help keep the server funded by pledging a monthly amount at <a href="https://www.patreon.com/TransformaniaTimeGame">TT's Patreon page.</a>  All of these are much appreciated!</p>

    <p><b><i>Q:  I've found a bug!  How can I report it?</i></b></p>
    <p>A:  You can report bugs on the forums <a href="http://luxianne.com/forum/viewforum.php?f=5">here.</a></p>

    <p><b><i>Q:  I'm seeing this message whenever I try to attack:  "This character looks like a multiple account, which is illegal.  This character will not be allowed to attack."  What does this mean and how can I attack again?</i></b></p>
    <p>A:  In order to deter players from abusing the game with multiple accounts, your IP Address is recorded at various points in the game.  If the server detects that an IP address is being used by more than 1 animate player per game mode, you will see this message and be unable to attack.  To resolve this, you can do several things:  1.  Move your duplicate character into the other game mode, ie a PvP mode character into Protection or vice versa.  (Note: As of Round 19, this option is not currently available without restarting character.  Play modes may only be selected during character creation.)  2.  Ask someone to inanimate the character you no longer want to use.  3.  Post a request for a manual IP address on the forums <a href="http://luxianne.com/forum/viewtopic.php?f=5&t=449">here.</a><br />
        There are occasionally legitimate reasons for select players to be exempt from the multiple account rule, such as in the case of two people living together using the same router both playing the game.  In situations like this, please contact me, Judoo, on the forums with a request to be added to a multiple account whitelist.</p>


    <p><b><i>Q:  I have an idea for a boss or game mechanic!  Will you add it?</i></b></p>
    <p>A:  We can't make any promises about what will be added, but feel free to make suggestions in the Tavern section of the forum <a href="http://luxianne.com/forum/viewforum.php?f=9">here.</a></p>

    <p><b><i>Q:  I forgot my password.  How can I get it back again?</i></b></p>
    <p>A: Unfortunately there is no password recovery system implemented at this time. The membership provider does not have the functionality built in but I plan to add it before leaving alpha.</p>

    <p id="contributions"><b><i>Q:  I just submitted a contribution.  What happens now?</i></b></p>
    <p>A: Several things happen after a contribution is submitted:
    <p>
        <ul class="listdots">
            <li>
                An admin will review the spell and provide feedback about what is missing or what needs to be changed. If changes are required, the spell will be rejected until changes are made. If a spell looks ready, you will recieve a message notifing you that a spell you submitted was approved.
            </li>
            <li>After approving a spell, it will show up on the <a href="@Url.Action(MVC.Contribution.ContributeGraphicsNeeded())">the Contribution Awaiting Release</a> page. From here, artists can claim a graphic for the spell and provide a download link to the image.</li>
            <li>Once artwork is finished, an admin will scan through this page for all spells that have a link to artwork prepared. <b>If there is no link provided, the spell might be glanced over even if art is finished and linked elsewhere.</b></li>
            <li>If the artist is a first time contributor, an admin will need to verify the artist's ownership of the graphic. This is typically done by contacting that artist on their Deviant Art or Fur Affinity page. If the artist has neither, alternate means of proof can be arranged.</li>
            <li>If a spell is all ready to go and has a graphic properly linked, it will be released near the start of the following round. <b>Not all spells will necessarily be released on launch or within the first day of the round.</b>  However, it is reasonable to expect that if your spell isn't released within the first batch, it is likely less than a day or two away from release.</li>
        </ul>
    </p>

</div>
