@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Info.GameNews())">News</a></li>
    <li><a href="@Url.Action(MVC.Info.GameNews_Archive())">News Archive</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a></li>
}

<div class="containerInner textSpaced">
    <h1>Planned Game Features</h1>

    <h3>Continually Added Features (Anytime)</h3>

    <ul>
        <li>New spells / forms / items as the community submits them</li>
        <li>Bugfixes</li>
    </ul>

    <h3>Short-Term Planned Features (Within a few rounds)</h3>

    <ul>
        <li>Rework to Sneak mechanic</li>
        <li>More Mind-control type transformations (forced attack, forced de-cleanse, others?)</li>
    </ul>

    <h3>Long-Term Planned Features (Before the game leaves alpha)</h3>

    <ul>
        <li>"Permanent" animte transformations</li>
        <li>Absorption-type transformations</li>
        <li>Item set bonuses</li>
        <li>Transformation Arena:  fight to transform an opponent in a real-time, 1v1 (or more?) setting</li>
    </ul>

    <h3>Features under consideration</h3>

    <ul>
        <li>Ability for pets, possibly items, to counteract the Sneak ability and see hidden movement messages</li>
        <li>Allow players to be transformed into covenant furniture</li>
        <li>Questing mode.  Will likely work something like RAGS player.</li>
    </ul>
</div>