@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Account.TermsOfService())">Terms of Service</a></li>
}

<div class="containerInner textSpaced">
    
    <h1>Infraction System</h1>

    <p><b>Three strikes within a round and you are banned for the remainder of the round.</b>  You can get a strike for:</p>

    <ul class="listdots">
        <li>Abusive name-calling in global chat or private messages<b>*</b></li>
        <li>Spamming a chat room or another player via private messages</li>
        <li>Impersonating a staff member</li>
        <li>Sexist or racist remarks<b>*</b></li>
        <li>Bypassing the blacklist or chat ignore function by using an alternative account.  Asking a friend to contact the person who banned you on your behalf is also considered an attempt to bypass the ban.</li>
        <li>Intentional abuse of game mechanics or glitches</li>
        <li>Scripting in a manner that gives an unfair advantage to a player or produces excessive strain on the server</li>
    </ul>

    <p><b>Repeated offenses after 3 strikes will result in a permanent ban.</b></p>

    <p><b class="bad">Immediate permanent bannable offenses:</b></p>

    <ul class="listdots">
        <li>Sexual roleplays with minors (characters less than 18 years old)</li>
        <li>Registering for the site while being under 18 years of age or not complying with local, state, and national laws regarding viewership of adult material.</li>
        <li>Threatening another player with acts of violence or stalking<b>*</b></li>
        <li>Evading a ban by using an alternate account or device</li>
    </ul>

    <p><i><b>*</b>Outside of a roleplaying context in which both parties are consensually acting out a fictional scenario with no actual ill intent toward the partner.  If there is a disagreement over whether or not a post is part of a roleplaying session a moderator may be authorized by a majority vote of the moderating group to review the full conversation and make judgement.</i></p>

    <p>The rules are at the interpretation of the moderation team.  Moderators may give multiple strikes for a given action if they deem it offensive enough.</p>

    <h1>Rules</h1>
    <p>Below are some rules and a code of conduct you must follow in order to take part in Transformania Time.</p>

    <ul class="listdots">
        <li>
            <b>You are permitted to have two animate accounts.  One account can be in Protection/Superprotection mode and the other must be in PvP.</b>  Do not use your Protection Mode account to help your PvP mode.  This includes:

            <ul class="listdots">
                <li>DO NOT drop pets or items from your Protection mode character to a PvP mode character for them to pick up.  This is commonly known as "muling".  This is an unfair cheating way to circumvent inventory size limits.</li>
                <li>DO NOT use a Protection mode character to pick up items dropped by your PvP mode character when they are inanimated or turned into a pet.</li>
                <li>DO NOT sell items or pets from your Protection mode character to Lindella or Wuffie only to have your PvP mode character purchase them back unless there have been at least 24 hours between selling it to Lindella and purchasing it.  The same rule applies for Wuffie and pet trading.</li>
                <li>DO NOT create a Protection mode character solely for transferring Arpeyjis to your covenant only to have it be transferred to your PvP mode character.</li>
            </ul>

        <li>DO NOT immediately pursue your attacker after you have been inanimated or turned into a pet by them and have chosen to reroll.  You must wait at least two hours before attacking them again.</li>
        <li>You may have as many characters who are inanimate or pets as you'd like; however the more you have the less amount of XP you'll gain per action per character.</li>
        <li>Scripting the game is not permitted.  This includes item auto-leveling scripts, page refreshes to see new messages / victims, crawling URLs, or anything else that puts an unecessary strain on the server and gives you an unfair advantage over other players.</li>
        <li>Be civil to other players and in global chat.  This means no hate speech, no racial slurs, etc.</li>

        <li>Players caught violating item transferring rules or immediately revenge-attacking someone will have their ability to cast any spells disabled.  Players being needlessly rude or uncivil on global chat will be banned from the global chat room.</li>
        <li>Any worse or repeated violations of these rules may result in your account being deleted.</li>
        <li>Underage content is not permitted (under 18 years of age). This includes spell submissions, player bios, roleplaying, and messaging, <b>even within a private context.</b>  Accounts found in violation will be warned to stop; if it resumes the account will be deleted.</li>
    </ul>

    <p>CURRENT MODERATORS:</p>
    <ul>
        <li>Judoo</li>
        <li>Mizuho</li>
        <li>Lilith Valentine</li>
        <li>Arrhae</li>
        <li>Breena Victor</li>
        <li>Nyx Valentine</li>
    </ul>

</div>