<div class="containerInner">
    <canvas id="myChart" width="400" height="400"></canvas>
    <button onclick="changeReductionFactorAndDraw(1)">1</button>
    <button onclick="changeReductionFactorAndDraw(2)">2</button>
    <button onclick="changeReductionFactorAndDraw(6)">6</button>
    <button onclick="changeReductionFactorAndDraw(12)">12</button>
    <button onclick="changeReductionFactorAndDraw(24)">24</button>
</div>
@section scripts
{
    <script src="@Links.lib.Chart_js.Chart_js_"></script>
    <script>

    var labelsRaw = [];
    var dataRaw = [];
    var populationInfo = "";
    var reductionFactor = 6;
    var myLineChart;

    var ctx = document.getElementById("myChart").getContext("2d");

    $.getJSON("/Info/ServerPopulationJson", function (data) {
        populationInfo = data;

    }).then(function() {
        renderChart();
    });

    function changeReductionFactorAndDraw(compression) {
        reductionFactor = compression;
        updateData();
        myLineChart.data.labels = labelsRaw;
        myLineChart.data.datasets[0].data = dataRaw;
        myLineChart.update();
    }

    function updateData()
    {
        labelsRaw = [];
        dataRaw = [];

        var curPop = 0;
        for (var i = 0; i < populationInfo.length; i++) {
            curPop += populationInfo[i].Population;
            if (i % reductionFactor === 0) {
                curPop /= reductionFactor;
                labelsRaw.push(populationInfo[i].Turn);
                dataRaw.push(curPop);
                curPop = 0;
            }
        }     
    }

    function renderChart() {
        updateData();

        var chartData = {
            type: 'line',
            data: {
            labels: labelsRaw,
            datasets: [
                {
                    label: "Players",
                    data: dataRaw
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Server Population By Turn'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };

        myLineChart = new Chart(ctx, chartData);
    }
    </script>
}